[2021-04-01 10:01] paaljoachim commented on #29630
This looks very interesting! Nice work!

**NB! The above user interface is meant to be seen when a Block theme is activated!**

Discussions with James on Slack starting here: https://wordpress.slack.com/archives/C02S78ZAL/p1617267435267900

Some conclusions I have reached through discussions (before I have seen the above video and tested the prototype as I want to understand the concepts before te

[2021-04-01 10:02] grzim commented on #30139
closed with https://github.com/WordPress/gutenberg/pull/30340

[2021-04-01 10:02] #30139 closed, assigned to grzim

[2021-04-01 10:05] grzim opened #30442 "Naviagion edtior - encapsulate menu constants inside use-menu-entity hook"
## What problem does this address?

Implement enhancement proposed in https://github.com/WordPress/gutenberg/pull/30340#discussion_r603858811

[2021-04-01 10:08] youknowriad commented on #27962
I think it's omission yes, I'm not sure it's related to the stylesheet priorities.

[2021-04-01 10:09] andersnoren commented on #24604
Big +1 to the ability to add blocks other than just the menu to the menu overlay. Most menu overlays these days have elements like social icons, search fields, language toggles, shopping carts, etc. in addition to the actual menu items.

Could there be a case made for being able to define an entire template part that the button can toggle, with a shortcut to that template part from the button in t

[2021-04-01 10:42] youknowriad commented on #29535
So I've checked this a bit as well and for me it seems the solution is as simple as adding:

[code]

to your theme's stylesheet. I think that's a decent fix for an experimental API. Am I missing something?

[2021-04-01 10:52] #23421 closed

[2021-04-01 11:00] paaljoachim commented on #29871
![Screen Shot 2021-04-01 at 12 51 46](https://user-images.githubusercontent.com/5323259/113285411-3d660c80-92eb-11eb-9772-33392210ac34.png)

One thing in relation to needing to click a dot to do something.
Having actions in a dot is a hidden UX. The options are not clearly seen. One has to know that to example discard an accidental adjustment to a Reusable block one needs to click the small green

[2021-04-01 11:55] CreativeDive opened #30443 "Core Group Block: Missing "wp-block-group__inner-container" in block editor after updating to Gutenberg 10.3.0"
Hey,

after updating to Gutenberg 10.3.0 the "wp-block-group__inner-container" is completely removed if I'm in the block editor.

Please confirm this is a bug. The inner container is essential to restrict the max width of inner blocks.

This change totally breaks the layout.

[2021-04-01 12:15] kjellr opened #30445 "Allow Group blocks to transform into Cover blocks"
It's currently possible to transform a Cover block into a group block, but not the other way around. It would be great to add that option in.

Transform options for Cover Block|Transform options for Group Block
---|---
![Screen Shot 2021-04-01 at 8 11 40 AM](https://user-images.githubusercontent.com/1202812/113292110-0b8c8000-92c2-11eb-96e7-345715d9a550.png)|![Screen Shot 2021-04-01 at 8 12 01 AM]

[2021-04-01 12:17] kjellr commented on #29238
On a related note, it feels like it should be possible to "Group" your selected blocks, and then convert that group into a Cover block. I've opened #30445 to track that.

[2021-04-01 12:27] JustinyAhin commented on #28180
This seems to have been fixed already.

https://user-images.githubusercontent.com/33403964/113293407-9fc00c80-92ed-11eb-9a1e-46ed56f75596.mp4

**Editor version**:

- WordPress version: 5.7
- Gutenberg: Is irrelevant as issue is present with or without the plugin.

**Desktop**:

- OS: MacOS Big Sur 11.1
- Browser: Firefox developer edition

[2021-04-01 12:34] JustinyAhin commented on #28018
This has been fixed in the plugin in #29247.
<img width="985" alt="CleanShot 2021-04-01 at 13 33 33@2x" src="https://user-images.githubusercontent.com/33403964/113294545-02fe6e80-92ef-11eb-9f62-316857810500.png">

WordPress version: 5.8-alpha-50510
Gutenberg: 10.3.0

[2021-04-01 13:15] aristath commented on #27962
PR in https://github.com/WordPress/gutenberg/pull/30448

[2021-04-01 13:45] Jugibur opened #30450 "Remove inline style from Group Block preview item (it overrides registered background color)"
## What problem does this address?
I've registered a style to a paragraph and a group with a background color.

Unfortunately, the preview item of the Group Block does not show this color style because inline the following style is set:
[code]
I haven't found a reason why on a Group Block the inline style should override a background-color.

## What is your proposed solution?
Would be great to get

[2021-04-01 14:05] youknowriad commented on #29535
Oh I guess the presets styles are not generated anymore. For me this should be fixed and presets styles (CSS variables or not) should be generated properly regardless of how the theme is providing them. (theme.json or theme support flag)

[2021-04-01 14:17] strarsis opened #30451 "Inline color class"
## What problem does this address?
Currently the inline color elements don't have a color class. This prevents the theme to style these.

## What is your proposed solution?
Add a color class to inline color elements.

[2021-04-01 14:19] strarsis commented on #22700
Coming from a related issue, does this now allow to give pieces of text in a block (e.g. `core/paragraph`) an individual background color?

[2021-04-01 14:34] lnikell commented on #16006
sounds crazy that the default WP editor does not work with the most popular ACF plugin that used on almost every website

[2021-04-01 14:43] strarsis commented on #30451
Apparently a class is added already.

[2021-04-01 14:43] #30451 closed, assigned to nobody

[2021-04-01 14:43] youknowriad commented on #30443
No, this is not a bug, this is intentional. The idea is that we shouldn't have added this div in the first place, when you add a "group", you just need a div, there's no reason to use two divs. For backward compatibility, we kept the div in the frontend.

The idea is that for FSE themes, this div shouldn't be added even in the frontend.

What kind of layout breakage are you seeing?

[2021-04-01 14:51] anthonyburchell commented on #29834
I think the fix in https://github.com/WordPress/gutenberg/pull/30122 is a good approach. I looked into fixing this in the media_upload level but I think that it makes most sense to fix this at the gallery level like the PR suggests. It's the only multi item block at the moment that I could see hitting this problem. I think gallery block will serve as the pattern to follow when dealing with setting

[2021-04-01 14:55] youknowriad commented on #30443
We're considering restoring it in the editor as well for classic themes in #30453 depending on how important the breakage is

[2021-04-01 15:07] Sandstromer opened #30454 "Site Editor: 'page-home' template is categorized as a 'General' template"
## Description

The TT1 Blocks theme has one additional custom page template - 'page-home.html'
In the Site Editor > page templates side navigation panel, the 'page-home' template is grouped under the 'General templates' sub-panel.

## Step-by-step reproduction instructions

1. Go to 'Site Editor'
2. Select 'Browse all templates'
3. In the side nav panel, go to 'Templates' > 'General templates'
4.

[2021-04-01 15:19] youknowriad commented on #30414
Which theme are you using here?

Going forward, we're embracing the fact that by default the editor should look exactly like the frontend (especially in FSE themes), this means that by default the padding is `8px` and that the content width is 100% and as you style your theme you should be able to load the same styles in the editor to match the frontend.

For FSE themes or themes with theme.json f

[2021-04-01 15:31] priethor commented on #29736
Seems like a great enhancement to me (and @Copons seems to agree as well 🙂  )

Added to the list! 👍

[2021-04-01 15:34] #29396 closed

[2021-04-01 15:36] #29535 closed

[2021-04-01 15:43] #30152 closed, assigned to hellofromtonya

[2021-04-01 16:24] navxio commented on #27636
@annezazu in the meantime, can we ask for a workaround so we can submit our block plugin?

[2021-04-01 16:36] mtias commented on #30338
It seems alright to me considering it's a scenario that doesn't seem super common?

[2021-04-01 16:42] nbatteur commented on #30443
HI, On all my customer sites, the pages are completely blank on the front-end after a change with version 10.3.0. I had to roll back to the previous version to restore the front-end.

[2021-04-01 16:43] youknowriad commented on #30443
Would you mind shared the content of one of your pages, that sounds like a different issue that we're not aware of?

[2021-04-01 16:44] youknowriad commented on #30443
Also, note that the Gutenberg plugin is a **development plugin** to ensure the new WordPress Core release is as stable as possible. So if you decide to use it in your customer's websites, you should be aware that potential breakage from time to time is possible even if we try to do our maximum to reduce the risks.

[2021-04-01 16:49] nbatteur commented on #30443
Here the code of a page:
[legal_page.zip](https://github.com/WordPress/gutenberg/files/6245089/legal_page.zip)

[2021-04-01 16:51] nbatteur commented on #30443
I know, but so far I have never had a problem.

[2021-04-01 17:00] youknowriad commented on #30443
@nbatteur just noting that I'm able to reproduce the issue, no fix yet, checking.

[2021-04-01 17:02] CreativeDive commented on #30443
@youknowriad It feels like Gutenberg is a playground for a lot of developers.

In the past I hated working with Gutenberg because essential changes were made all the time, while I'm working on my projects. One day I was very satisfied because it seemed that Gutenberg now has a stable base. I was now able to work with it very well.

But now, I'm not happy again. Another very essential change is the

[2021-04-01 17:03] javierarce commented on #29575
I've been exploring some interfaces to schedule changes and save drafts. Following @jameskoster idea, here's a version that would allow saving changes per entity.

From the sidebar, users can mark several entities to be published on a future date (or as a draft), and receive a link to preview all those changes together. The publication settings for each entity could also be managed independently.

[2021-04-01 17:15] jameskoster commented on #30338
I don't know, I can see advanced sites making more frequent use of this functionality. A WooCommerce store / theme for example might want to display a cart summary in various locations like the checkout page, a navigation dropdown, sidebar, etc. Or to create a product summary template part for use in category archives, related product grids, cross-sells etc.

Edit: The sidebar icon is definitely a

[2021-04-01 17:16] cryptocurls commented on #23291
@jasmussen Also experiencing this issue now - all buttons on Twenty Twenty child theme that were centered are now not on the frontend

[2021-04-01 17:40] SiobhyB opened #30457 "Mobile: Image Block: Overflow Visible When Entering Multiple Lines of Alt Text on Android"
## Description

In https://github.com/WordPress/gutenberg/pull/29670, we introduced the option of entering multiple lines of alt text in the image block's settings.

When entering multiple lines of text on Android, some of the overflow can be viewed at the top:

![113318424-1224f280-92d6-11eb-9df5-cb0a49fa8cff](https://user-images.githubusercontent.com/2998162/113332663-61d8dd80-9319-11eb-858f-573

[2021-04-01 17:42] ockham opened #30458 "Link color support (experimental): Add E2E Test"
10.3.0 had a regression (#29535) where for traditional/PHP based themes with `add_theme_support( 'experimental-link-color' );`, the link color option was available, but the selected color was not applied in the editor or the frontend. Affected themes included Twenty Twenty-One (TT1) -- whereas block-based (FSE) themes (such as TT1 Blocks) were unaffected. The regression was fixed by #30452.

[This

[2021-04-01 17:48] annezazu commented on #27636
I'm afraid I can't personally offer a workaround to this but perhaps someone can. I'll add a new label to try to draw attention :)

[2021-04-01 17:51] CreativeDive commented on #30443
@youknowriad So many themes works with the `[class*="__inner-container"]` selector.

e.g. WordPress default themes like Twenty Twenty or Twenty Twenty-One.

Here only on example of the Twenty Twenty-One:

[code]

I have prepared myself to always use this method in the future because all blocks that can contain inner blocks will use this container `[class*="__inner-container"]`.

Now it has been wo

[2021-04-01 17:52] strarsis opened #30459 "Add block support: Content position"
## What problem does this address?
A custom Gutenberg block can already support inner blocks.
However, content position controls as for blocks like the `core/cover` block are missing and can't be trivially enabled/added.

## What is your proposed solution?
Add content position to block supports so it can be easily enabled.

[2021-04-01 17:55] ockham commented on #30443
@CreativeDive -- @youknowriad is working on a fix, I'm trying to help along. I'll reply with more details once we know more; we can also discuss your questions later, but for now, we'll be focusing on fixing this issue.

[2021-04-01 18:06] CreativeDive commented on #30443
@ockham thanks for response.

But there is ONE BIG MAIN QUESTION here, for later after this issue is fixed.

What do we want in the end when Gutenberg is completely stable?

The most important thing is that all blocks that work in the same way should use the same markup.

This is the only way to optimize a theme uniformly.

If the `*__inner-container` container in the group block is now removed, t

[2021-04-01 18:07] jameskoster commented on #29575
Nice work on a 🤯 problem @javierarce !

The "Save draft" flow gave me a moment of confusion. It may just be a labelling issue, but saving something _that is already published_ as a draft sounds... contradictory somehow? Could there be two separate drafting actions based on whether the entity is already published?

1. If the entity is already published, there is an option to un-publish / switch to

[2021-04-01 18:18] jeremyfelt opened #30461 "Content may be removed on front-end during group inner container restoration on some PHP versions"
## Description

The regex used in `gutenberg_restore_group_inner_container()` does not appear to work as intended on all PHP versions for some content. This can lead to content being removed from the front-end when Gutenberg 10.3.0 is activated.

An initial example of content that breaks with the regexes in that function: https://3v4l.org/Q9mVk

* PHP 5.6, 7.3, 7.4, and 8 return `1` for the initia

[2021-04-01 18:18] #27741 closed

[2021-04-01 18:20] jeremyfelt commented on #30443
@youknowriad I believe @nbatteur's issue _may_ be described by #30461, which is separate from this issue.

@nbatteur can you add a comment to #30461 with your PHP version if possible? (Tools -> Site Health -> Info -> Server).

[2021-04-01 18:21] CreativeDive commented on #30443
@youknowriad At the other point, there is something wrong with this new implementation from Gutenberg 10.3.0.

At the block editor the `*__inner-container` is removed:

<img width="1865" alt="Bildschirmfoto 2021-04-01 um 20 16 47" src="https://user-images.githubusercontent.com/31563167/113336929-5b516280-9327-11eb-8c21-735652d4078e.png">

But in the frontend the `*__inner-container` is still there

[2021-04-01 18:22] paaljoachim commented on #13857
I just tested with WordPress 5.7. Gutenberg plugin 10.3 and the TT1 Block editor theme.

The issue is still valid. I am getting the same result as @earnjam William did.

[2021-04-01 18:28] gwwar commented on #15406
Verified that we do create tags on `,` or enter

https://user-images.githubusercontent.com/1270189/113337966-58318480-92dd-11eb-978a-d29cc7717c90.mp4

[2021-04-01 18:30] paaljoachim commented on #15406
@Mamaduka George is planning on working on improving the Tags feature in Gutenberg. Here is the issue for it. I linked to my comment. https://github.com/WordPress/gutenberg/issues/8867#issuecomment-715231526
It would be great for him to have this in mind as he creates the PR.
Thanks!

[2021-04-01 18:34] youknowriad commented on #30461
Thanks for writing this issue. I'm trying to improve the regex here  #30460 but still noticing some content loss with the example content provided in #30443

Feel free to chime-in and improve the regex. I'm no expert there.

[2021-04-01 18:35] #30443 closed, assigned to youknowriad

[2021-04-01 18:37] youknowriad commented on #30443
Restored the inner div in  #30453 and still working on the content loss in this issue #30461

@CreativeDive I'll circle back later here and explain more. There's also some related documentation coming in the release post (to be published later today or tomorrow), In the meantime, you can follow the discussions that happened in #29335 to learn more about the reasoning and the approach.

[2021-04-01 18:37] paaljoachim commented on #15401
Testing using WordPress 5.7
Twenty Twenty One
Gutenberg plugin 10.3

I made a post as a Contributor and submitted it for review.
Logged out and in as an admin user.
Published the contributor post.
The frontend and backend both showed the Contributor user name.

I would say that this bug has been fixed, so I will go ahead and close this issue. If I made a mistake then the issue can be reopened.

[2021-04-01 18:37] #15401 closed

[2021-04-01 18:41] CreativeDive commented on #30443
@youknowriad thanks I will waiting.

Sometimes it seems necessary to make essential changes.

But what does that mean for all other core blocks with the `*__inner-container`?

No markup differences may remain in the future.

[2021-04-01 18:42] paaljoachim commented on #15348
I added a comment to the attached PR: https://github.com/WordPress/gutenberg/pull/25428#issuecomment-812098331

[2021-04-01 18:43] youknowriad commented on #30461
So for me the regex in  #30460 seems correct but there might be a memory problem for long posts like this one https://3v4l.org/gUpmT

[2021-04-01 18:45] ockham commented on #30461
Trying to swap the `m` modifier for an `s`, and replacing the obscure `(\s|\S|.)*` by just `.*`: https://3v4l.org/H20C4

[2021-04-01 18:47] gwwar commented on #15348
I think https://github.com/WordPress/gutenberg/pull/25428 should keep this in mind while it's built, but it might be worth fixing this issue on it's own in another smaller PR.

[2021-04-01 18:51] paaljoachim commented on #15220
Tested using Firefox....:)
WordPress 5.7
Twenty Twenty One.
Gutenberg plugin 10.3

Added a few words. Created a link. Double clicked one of the words inside the link. The full word was selected.

<img width="558" alt="Screen Shot 2021-04-01 at 20 50 10" src="https://user-images.githubusercontent.com/5323259/113340295-fa785900-932b-11eb-9f08-70c0ca2ace36.png">

Closing issue.

[2021-04-01 18:51] #15220 closed

[2021-04-01 18:52] gwwar commented on #15220
I also can't reproduce this in FF 87

[2021-04-01 18:58] ockham commented on #30461
`ms` (both modifiers together) also works, as long as we replace `(\s|\S|.)*` by `.*` (which the `s` modifier allows us to do).

Edit: Test: https://3v4l.org/bVPFM

[2021-04-01 18:59] paaljoachim commented on #16333
It looks like this issue just stopped up as the PR has stalled.
It would be great with a status update and how we can move the issue and associated PR onward.
Thanks!

[2021-04-01 19:25] youknowriad commented on #30443
It's a block per block discussion. Basically in the "group" block, the double div was not useful at all. It was introduced to allow some themes to define "wide/full" alignments properly but the reality is that you can define these alignments properly with just a single div. That's how FSE themes do without sacrificing the semantics of the markup and introducing an extra div.

The main premise here

[2021-04-01 19:32] paaljoachim commented on #29882
Using WordPress 5.7
Special Gutenberg plugin. (Only plugin activated)
Twenty Twenty One.

Retesting this aspect:
Initially I dragged and dropped without first adding the Gallery block. That did not work. I then added the Gallery block dropping 4 images onto the placeholder. Works fine. I removed all the images inside the Gallery block, so no images remained. I then encountered an error.

I dragged

[2021-04-01 19:57] retrofox commented on #15348
After researching and working on many issues about the date picker, I think the current component should be replaced by the primary component. Otherwise, we are going to create just patches over a component that doesn't seem to be updated lately.

[2021-04-01 20:50] #30461 closed, assigned to nobody

[2021-04-01 21:10] ockham commented on #30443
We believed we've fixed the content loss issue per #30460. We've just released version 10.3.1 of Gutenberg, which includes that fix, plus #30453. This new version should thus hopefully include fixes for all the problems described in this issue.

[2021-04-01 21:36] iandunn commented on #30414
It's [a custom theme](https://github.com/WordPress/learn/tree/trunk/wp-content/themes/pub/wporg-learn-2020) with no editor styles, and [the front end looks fine](https://learn.wordpress.org/workshop/creating-a-welcoming-and-diverse-space-part-1/).

Is it expected that all pre-FSE themes should define editor styles to override the default?

[2021-04-01 21:39] youknowriad commented on #30414
I'd say it's not mandatory but it's one of the principles of Gutenberg to be as close as possible to the frontend. In that sense, it's recommended. That said, I feel we could make some improvements here and consider adding some nice default editor styles if the theme don't provide any.

[2021-04-01 23:47] fullofcaffeine commented on #30415
This was closed by accident and is still a problem.

[2021-04-02 04:09] vanduc1102 commented on #25717
Hi , The issue is fixed in `4.0.0` , `wp-env start` is working on my machine :)

[2021-04-02 05:21] #27962 closed

[2021-04-02 06:29] aristath commented on #28356
Have we considered using a box-model control like the one browsers have in their dev tools?
![box-model](https://user-images.githubusercontent.com/588688/113387370-de5cd200-9394-11eb-97a1-787379623aa0.png)

Using something like that we could have padding, margin, borders, all in one, using a familiar UI, and we can definitely toggle features on/off by making some of the values editable...
A couple

[2021-04-02 06:32] #29065 closed

[2021-04-02 07:37] JustinyAhin commented on #25937
This seems to have been fixed in the plugin already.

I tested on WordPress 5.8-alpha-50510. I tested with Gutenberg 10.3.1 and 10.3.0 and the issue is fixed on these versions. But not for lower versions.

The issue appears only when the plugin is not active.

**Screenshots**

- Editor
![cover-block-editor](https://user-images.githubusercontent.com/33403964/113393449-9cc92880-938e-11eb-8c3c-5fe1d2

[2021-04-02 07:37] #25937 closed

[2021-04-02 08:46] #29907 closed

[2021-04-02 09:15] mtias commented on #24818
Mentioning that List View was turned into its own smaller project at https://github.com/WordPress/gutenberg/issues/29736

[2021-04-02 09:22] scruffian opened #30466 "Scripts: `lint-styles` --fix tries to fix all files when passing the list of files"
I'm trying to use `wp-scripts` to lint the Sass and CSS files in the themes repo. It works well to catch errors in staged files (using lint-staged) but when I pass the `--fix` argument to the command it tries to fix all the files in the repo, not just those that are staged. You can see the PR here: https://github.com/Automattic/themes/pull/3611

cc @gziolo since you worked on https://github.com/Wo

[2021-04-02 09:36] Oto-boke commented on #19659
This is my first comment, so I hope it's in the right place, tone etc.

I appreciate the concern from a readability perspective, however limiting the table colour offering to four uneditable colours is very limiting, especially given that the colours all include grey. Users have the ability to create white on white text (or whatever they choose) elsewhere within the editor, so the readability argu

[2021-04-02 09:48] mtias commented on #22724
Going to close this one as its usefulness is mostly depleted. Let's focus now on organizing what blocks are available when
 (#28744) and on the individual tracking issues for each block (like site logo #30406).

[2021-04-02 09:48] #22724 closed

[2021-04-02 10:22] TheSimArchitect opened #30468 "Stop Offering "Block Recovery" for HTML Blocks"
## Description

Post or page with HTML Block. You save, you open again, there's a nagging message saying there's something wrong and a big blue button offering block recovery, even though it's an HTML block without issues. Can't edit the block or see it's content until you click the three dots and "convert the block to HTML" again.

## WordPress information
- WordPress version:  Latest
- Gutenberg

[2021-04-02 11:32] nbatteur commented on #30461
HI, as requested here is my configuration:

Server architecture | Linux 3.10.0-693.11.6.el7.x86_64 x86_64
-- | --
Web server | Apache
PHP version | 7.3.27 (Supports 64bit values)
PHP SAPI | fpm-fcgi
PHP max input variables | 2000
PHP time limit | 300
PHP memory limit | 2048M
Max input time | 6000
Upload max filesize | 64M
PHP post max size | 64M
cURL version | 7.29.0 NSS/3.53.1
Is SUHOSIN installe

[2021-04-02 11:42] mtias commented on #30414
@youknowriad I think if this setting is disabled we should load some nice abstracted styles for writing, etc.

![image](https://user-images.githubusercontent.com/548849/113412700-42918d00-93b9-11eb-9706-f6a9ee4f7beb.png)

[2021-04-02 11:47] ockham commented on #30461
@nbatteur Thanks for sharing your config. We believed we've fixed the issue you were experiencing, and we released Gutenberg v10.3.1 to include the relevant fixes. Can you try if that version fixes the issue for you?

[2021-04-02 11:52] mtias commented on #30380
The tradeoffs here are between flexibility, clarity, and ease of creation. For "irregular" layouts, the easiest would probably be to use separate queries with offsets, or even individual posts (latest post with offset 1, latest post with offset 2, etc). For "alternating" layout, it seems like it should be among the options you choose from (like grid or masonry).

We could also have a template per

[2021-04-02 11:56] mtias commented on #26190
@rmorse definitely! We also have the concept of "isolated editing" which is currently in use for template parts. See https://github.com/WordPress/gutenberg/issues/29148. This is conceptually similar to the modal with some specific characteristics.

[2021-04-02 12:01] nbatteur commented on #30461
Its good ! I just tested on our test machine and everything works again with this new version. Thank you very much for the work done!
And on prod server too.

[2021-04-02 13:06] aristath commented on #30380
Since alternative/irregular layouts like these will be pretty theme-specific, this _could_ be a block-style...
The theme could for example do something like this:
[code]

[2021-04-02 13:39] sunnyssr opened #30470 "Block Insertor: Option to add block above the first block is missing"
## Description

Can you make
```div.block-editor-block-list__insertion-point.is-vertical```
clickable and add the insert block option when you mouse over the top of the first block please? The add block option is missing now. We have to add a block below the first block then move it up everytime instead of just adding a block at the top. All the other positions are okay. Just the first one is miss

[2021-04-02 14:03] paaljoachim commented on #29577
Clicking a dot to accomplish an action is not an obvious action. This is hidden UX. As one can not see that an action is hidden behind a dot. See my comment here: https://github.com/WordPress/gutenberg/issues/29871#issuecomment-811830297

It would be nice to go with an obvious in our face save or discard save method. Atleast as a start. Then one can gradually iterate.

Such as I show in this comme

[2021-04-02 14:23] skorasaurus commented on #30437
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/22956 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue. Please reopen if your issue is different than the one mentioned i

[2021-04-02 14:23] #30437 closed, assigned to nobody

[2021-04-02 14:33] andersnoren opened #30472 "Post Tags/Post Hierarchical Terms Block: Ability to modify separator"
Currently, the _Post Tags_ and _Post Hierarchical Terms_ blocks output term links separated by a vertical bar character (|), like this:

<img width="723" alt="image" src="https://user-images.githubusercontent.com/8181091/113424295-38c75400-93d0-11eb-9022-3d0bf1d719bf.png">

It would be nice to able to modify what character separates each item in the list, and I would suggest that a comma followed

[2021-04-02 15:01] priethor commented on #30468
Hi @TheSimArchitect ! Thanks for reporting.

Could you please provide an HTML snippet that triggers the Block Recovery message, as I can't seem to reproduce it? Thanks!

[2021-04-02 15:06] justintadlock commented on #29308
Asking why we need conditional classes?  Simple.  A user asks how they can add a purple border to only their posts with the "Super Duper" category.  I say, "Add this code to your CSS:"

[code]

Without the class, I say, "Sorry, WordPress no longer allows you to do cool stuff like this. Look for another piece of software or switch to a classic theme."

If anything, I'd like us to adopt an entire at

[2021-04-02 15:13] sdixon194 opened #30473 "Gallery Block: Identical Images Get Duplicated When Moving"
## Description

When adding the same image to a gallery block, moving adjacent images will duplicate that image multiple times.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Add a gallery block
2. Add two images that are the same next to each other.
3. Try and use the arrows on an adjacent image to move it over.
4. Watch the  other i

[2021-04-02 15:14] TheSimArchitect commented on #30468
Sure! Thanks for replying quickly!

[code]

[2021-04-02 15:20] justintadlock commented on #29308
On the content block would be the wrong place and would create back-compat issues for any old themes transitioning to FSE.  It should be on a wrapper element for the entire post.  Not sure how that will work.  There really should be a "Post" block, even if it only exists as a container for nested blocks.

[2021-04-02 15:34] scruffian commented on #29308
I'd expect this kind of feature to live in the query block, not as part of a theme.

[2021-04-02 15:42] atachibana opened #30474 "Documentation: Unclear sentence of Code Implementation"
@janw-me  @mkaz
https://github.com/WordPress/gutenberg/blob/trunk/docs/getting-started/tutorials/create-block/block-code.md

Above sentence was added recently, but is difficult for me to follow it.

1. Is the 'en' 'and' or 'in'?
2. What is the subject of "get handles"?

By the way, the updates of tutorial were great work. Thank you!

[2021-04-02 15:48] andersnoren opened #30475 "Post Featured Image block: Change element from paragraph to figure"
Currently, the Post Featured Image block outputs the featured image wrapped in a paragraph element:

<img width="1231" alt="image" src="https://user-images.githubusercontent.com/8181091/113431071-7a113100-93db-11eb-9ce4-54ec3f47e0bc.png">

A figure element would be more semantic, and match the structure of the gallery and image blocks.

[2021-04-02 16:28] peterhebert commented on #21718
Have run into this also, with a block template using a block provided by a plugin, when the plugin got disabled:
`Uncaught (in promise) Error: Block type 'coblocks/social-profiles' is not registered.`

Causes blank white screen. This really should fail more gracefully, and either just ignore the missing block or have message where block is placed in template that it does not exist. Should not bloc

[2021-04-02 16:43] justintadlock commented on #29308
The feature I described really isn't part of the theme.  Users can customize their CSS regardless of theme.

However, I cannot imagine how crazy the Query block would have to be to cover the endless amounts of customization for the conditionals that exist.  This is just one extremely tiny example for a basic border.  Will the Query block have conditional styling options for every single class that

[2021-04-02 16:44] azhiya commented on #29630
Whilst the accessibility team hasn't reviewed the prototype, we [agreed](https://wordpress.slack.com/archives/C02RP4X03/p1617381530408100) that this makes sense to us. We decided to review the prototype and comment if we see it being an issue.

[2021-04-02 16:46] andersnoren opened #30476 "Term Description block: Don't output if there's no description"
Currently when viewing a term archive on the frontend, the Term Description block outputs its wrapping markup (`<div class="wp-block-term-description"></div>`) regardless of whether there's a term description to output or not. Removing the empty div when the term description is empty would clean up the markup and simplify styling.

<img width="1544" alt="image" src="https://user-images.githubuserc

[2021-04-02 16:50] scruffian commented on #29308
My suggestion is that the query block could output a class, like we currently do on the body...

[2021-04-02 17:29] andersnoren opened #30477 "Post Date block: Option to include a link to the post"
Post timestamps often include a link pointing to the post, so it would be nice if this was possible with the Post Date block as well. Maybe with an equivalent to the "Link Settings" → "Make title a link" setting available for the Post Title block (see image below).

<img width="1082" alt="image" src="https://user-images.githubusercontent.com/8181091/113438824-a16efa80-93e9-11eb-9e89-1c7ec4a98ce7.p

[2021-04-02 18:24] jeyip commented on #29351
Hmmmm...tried reproducing this with no luck. I played around with the following:

- Different column proportions, like 50/50, 25/50/25, 70/30, and 33/33/33
- Columns nested in a template part
- Columns nested within other columns
- Columns with no nesting
- Varying content blocks in each column, like images, nav blocks, paragraphs, site titles, and quotes.
- Chrome, Firefox, and Safari

[2021-04-02 18:40] ockham opened #30478 "theme.json: theme_has_support() might cache wrong value"
Discovered here: https://github.com/WordPress/gutenberg/pull/30045#issuecomment-812643945. See that PR for instructions on how to repro.

---

Since #28786 (and later #28788, which renamed and moved the relevant function), we've been caching the return value of `WP_Theme_JSON_Resolver::theme_has_support()`:

https://github.com/WordPress/gutenberg/blob/ddccfab16a8e2e350bf975077700b8acb148959b/lib/c

[2021-04-02 18:45] ockham commented on #30478
The most straight-forward remedy is to add a cache key -- the theme slug comes to mind:

[code]

I'll file a PR.

[2021-04-02 19:12] dashkevych opened #30480 "Columns Block: Improve readability on smaller screens"
Since the Columns block [no longer provides](https://github.com/WordPress/gutenberg/issues/17765) a class with information about number of columns, I am wondering what would be a recommended way to control the Columns block with various number of columns in smaller screens.

The thing is that a grid with three, four, five or six columns might look good on large screens; however, on smaller screens

[2021-04-02 20:15] moorscode commented on #30478
Hi @ockham

Sounds like a good approach to me.
Don't forget to **not** apply the `lib/full-site-editing/block-templates.php` change though ;)

In efforts of improving things that are touched, I've got a related question; Is there a reason the cache property is not defined in the method itself?

[code]

vs

[code]

It would keep property close by, which shouldn't be used anywhere else, as you want

[2021-04-02 23:15] thomasplevy commented on #29953
@rodrigodagostino Try declaring `apiVersion: 2` when registering your block:

[code]

I was having this problem until finding the apiVersion on an example doc and then finding this blog post: https://make.wordpress.org/core/2020/11/18/block-api-version-2/

[2021-04-03 05:59] gziolo commented on #30466
I don't immediately see examples of passing multiple files to stylelint in their docs: https://stylelint.io/user-guide/usage/cli.

@ntwb, do you know why the following in `packages.json` doesn't work as expected:
[code]

I can reproduce it also in Gutenberg.

[2021-04-03 06:33] paaljoachim opened #30484 "Font size errors with Site Title block in Gutenberg plugin 10.3"
## Description

I wanted to make two specific changes to the Site Title block.
Change the Font size or adjust the Custom size

## Step-by-step reproduction instructions

## Expected behaviour
I expected both to work correctly.

## Actual behaviour
Font did not change in size. Only the container area changed.

## Screenshots or screen recording (optional)

https://user-images.githubusercontent.com/

[2021-04-03 06:45] paaljoachim opened #30485 "Site Title letter case not working in Gutenberg plugin 10.3"
## Description

Site Title block - Letter case is not working in the latest Gutenberg 10.3.1 plugin.

## Step-by-step reproduction instructions
1. Use TT1
2. Try can change the Letter case to one of the options.
3. Does not work.

## Expected behaviour
For it to work.

## Actual behaviour
No reaction when clicking lower or mixed case options.

## Screenshots or screen recording (optional)

https:/

[2021-04-03 06:51] paaljoachim opened #30486 "Not able to use the WP Rollback plugin to roll back to an earlier version of the Gutenberg plugin."
## Description
I installed the WP Rollback plugin https://wordpress.org/plugins/wp-rollback/
To roll back to an earlier version of the Gutenberg plugin.

## Step-by-step reproduction instructions
1. Install the WP Rollback plugin.
2. Try and roll back the Gutenberg plugin.
3. It does not work.

## Expected behaviour
That one could select which version of the Gutenberg plugin to roll back to.

## A

[2021-04-03 06:54] paaljoachim commented on #30486
I was using a special version of the Gutenberg plugin.
-Closing issue-

[2021-04-03 06:54] #30486 closed, assigned to nobody

[2021-04-03 08:25] Quintis1212 commented on #29988
Hi @avivalk  ) My fix do not solve yours #29338 issue right now , but I working on it and I have some thots how to fix #29338 issue.
New update will come after my PR will be merged - https://github.com/WordPress/gutenberg/pull/30313 , if you want you can clone my branch with my fix and build gutenberg editor that will have my fix

[2021-04-03 08:36] janw-me commented on #30474
'en' is the Dutch wordt for 'and' so my bad ;)

But the whole sentence was a bit unclear, I've rephrased it.

[2021-04-03 09:04] Quintis1212 commented on #30330
Hi @talldan  ) The bug is that "— Select a Menu —" is not visible in manage location list  ? I will try to fix this

[2021-04-03 09:15] CreativeDive opened #30489 "Global styles classes comes all with "!important" declaration in Gutenberg plugin 10.3"
Hey,

after updating to Gutenberg plugin 10.3 the global style classes which are added inline to the HTML document are all declared with "!important":

<img width="737" alt="Bildschirmfoto 2021-04-03 um 11 09 12" src="https://user-images.githubusercontent.com/31563167/113474004-657d7900-946d-11eb-93a4-2703ed323758.png">

That leads to issues.

An example:

I have the class "has-huge-font-size" wit

[2021-04-03 09:17] mrfoxtalbot opened #30490 "Copying while having multiple blocks selected only copies the content of the first block"
## Description
If we select more than one block and do CMD+C (copy), only the content of the very first block gets copied.

## Step-by-step reproduction instructions
1. Add several blocks to a post
2. Select multiple blocks
3. Copy them
4. Paste them elsewhere

## Expected behaviour
I expected ALL blocks to be copied.

## Actual behaviour
Only the content of the first blocks was copied to the clip

[2021-04-03 09:45] Quintis1212 commented on #30415
Hi @fullofcaffeine ) I can not implement yours bug , my date picker closes immediately when I click on date

[2021-04-03 09:46] andersnoren commented on #16911
I just wanted to note that changing this now would result in inconsistent experiences in themes that have replicated the Gutenberg media queries to, for example, change the column/gallery gutters at the 600px breakpoint (using pixel values). I do agree with @Azragh that themes should be able to modify those breakpoints (and the units they use) to better match the theme styles.

[2021-04-03 10:10] andersnoren opened #30491 "experimental-theme.json: Workarounds for using REM values?"
This is less of a feature request than a feature... question. When using REM values in CSS, the `html` element is frequently set to `font-size: 62.5%` to make 1rem equal 10 pixels. See [this article](https://snook.ca/archives/html_and_css/font-size-with-rem) for details.

In experimental-theme.json, my understanding is that you set the base font size of the document this way (copied from TT1 Block

[2021-04-03 11:54] CreativeDive commented on #30480
@dashkevych this is a very good optimization request. I think that should be revised urgently, because the correct breaking of many columns does not work for smaller screens.

[2021-04-03 12:05] Quintis1212 opened #30492 "Error on delete nav item"
Hi , I founded bug , that if you delete last nav item fom nav menu you will get error :
![Знімок екрана з 2021-04-03 14-55-04](https://user-images.githubusercontent.com/34488718/113477774-f9127200-948c-11eb-99ce-f6f9ca64b934.png)
![Знімок екрана з 2021-04-03 15-00-36](https://user-images.githubusercontent.com/34488718/113477826-61615380-948d-11eb-9f58-ec33c8eff0ce.png)

Steps to reproduce :
1 Crea

[2021-04-03 13:03] gizmo2501 commented on #29178
Reusable blocks have definitely become more difficult to use, not easier.

It’s now incredibly hard to select a reusable block and move it around a page as one unit. When you insert a reusable block with 5.7, you can now select individual elements of it without clicking “edit reusable block” like before 5.7. But it is so hard to select the whole block because of this. The “select parent” icon hard

[2021-04-03 13:35] paaljoachim commented on #29222
I like the latest design.
Clicking to "Create Template Part"
Shows Name and "category" for the part.
Such as Header, Footer and General. Perhaps Sidebar should be added as well.
So it becomes Header, Sidebar, Footer and General.

Thinking broader. A similar method can be used when creating a Pattern. User selects a name and the category the Pattern should be in.

[2021-04-03 13:57] paaljoachim commented on #29498
Using the Backspace/Del key might cause a block error.

I was just about to create an issue for what I believe is the same error. As I was in the Site Editor in TT1.
I have earlier mentioned the error for Glen in relation to the updated Gallery block.

I am using WordPress 5.7.
Theme: TT1
Gutenberg plugin 10.3.1

https://user-images.githubusercontent.com/5323259/113480566-2a8f3b80-9495-11eb-8e6e-5

[2021-04-03 14:03] adamrob-me commented on #23304
Its been over 6 months since I raised this issue - and it is still there....

[2021-04-03 17:51] rodrigodagostino commented on #29953
@thomasplevy thank you very much for your contribution, but that was there since my first attempt :(

The goods news is (after more digging) I realised that this issue was only happening with my dynamic blocks. And after even more digging into the core blocks code, I found out that the way to solve it was to replace the `register_block_type()` with `register_block_type_from_metadata()` to register

[2021-04-03 17:51] #29953 closed, assigned to nobody

[2021-04-03 18:18] justintadlock commented on #29308
The Query block wraps all posts, not individual posts.  Or, are you talking about having the Query block inject the post class around each post?

[2021-04-04 12:17] paaljoachim commented on #30492
Hi

Check out this issue. I believe it is the same you are encountering:
https://github.com/WordPress/gutenberg/issues/29498

If so then you can close your issue.
Have a great Easter Sunday!

[2021-04-04 12:40] paaljoachim commented on #30322
Remember that sometimes the user does not want to save a change but wants to discard changes.
So one should be able to Save or Discard changes. Both instances the dot should go away...

[2021-04-04 12:49] Quintis1212 commented on #30492
Hi @paaljoachim  , it seems it is the same issue , I close this issue .Have a great Easter Sunday too !

[2021-04-04 12:49] #30492 closed, assigned to nobody

[2021-04-04 17:43] Quintis1212 opened #30495 "Bug with select of styles via select list"
Hi ) I found out that I can not change default styles of quote via select if selected item in the block menu.
![Знімок екрана з 2021-04-04 20-28-59](https://user-images.githubusercontent.com/34488718/113516974-f6e00e80-9585-11eb-891a-5c80ae90de9b.png)

Steps to reproduce :
1) Create quote block and type a string to it
2) Change a style of block by selecting item from select list under string "Defa

[2021-04-04 17:43] Quintis1212 commented on #30495
My fix - https://github.com/WordPress/gutenberg/pull/30494

[2021-04-04 23:29] draganescu commented on #19102
*Notes*

Investigating #30462 I found the problem here to be that:

- we handle the Primary+A shortcut in two places, once in `packages/block-editor/src/components/keyboard-shortcuts/index.js` and once in `packages/block-editor/src/components/writing-flow/index.js`.
- removing the keyboard shortcuts from the `keyboard-shortcuts` component has no effect.
- `WritingFlow` has a problem in the conditi

[2021-04-05 03:54] celloexpressions opened #30496 "Site Editor: MVP Customizer Compatibility/Integration"
The full-site editor seeks to replace the customizer in the long term. The customizer is currently hidden whenever a block-based theme is active. However, there are functionality and compatibility gaps in this experience. Most notably, core customize features and plugin settings in the customizer are not inherently replaced by the site editor like theme settings are.

This issue documents the curr

[2021-04-05 04:33] avivalk commented on #29988
ok thank you very much

[2021-04-05 05:56] aristath commented on #30491
The `font-size: 62.5%` was a great workaround to allow calculating rem values based on a 10-pixel base font-size, but since in Gutenberg users can tweak the root font-size via global-styles, I'm not sure it fits in the vision of what the web should be...
Doing `font-size: 2.4rem` to define a `24px` font-size might make sense from a math/calculations perspective, but it doesn't make a lot of sense

[2021-04-05 06:00] getsource commented on #26219
It looks like this is currently accounted for with the editor within the Hello Dolly plugin itself, which is included with WordPress core.

That looks to happen here: https://github.com/WordPress/wordpress-develop/blob/master/src/wp-content/plugins/hello.php#L85

Thinking it'd make sense to do the same in that plugin for the new Widgets screen, in that case.

[2021-04-05 06:17] jasmussen commented on #29575
Great prototype, great followup comments by Jay!

I'd add that it does seem like there's potential in attaching the scheduling state as a property of each sub-item on the list that gets highlighted for saving/updating. I'd probably not use the ellipsis on hover, though — seems like the goal there is to find something more discoverable but still visually reduced.

And yes, finding a superb label fo

[2021-04-05 06:31] aristath commented on #30480
This is a pretty tricky topic...
In the example above anything above 3 columns IMO doesn't look good. But that's a combination of too many factors!
If columns didn't have a padding (or if the theme just defined a small padding) then 4 columns would probably be acceptable to me too.
If the font-size was 10px, then 5 columns would be acceptable too.
You could for example in your theme do something l

[2021-04-05 06:33] getsource commented on #24337
Do you think the approach in #30074 makes sense, or is there a better place higher up to add the class?

[2021-04-05 06:53] #29620 closed

[2021-04-05 07:06] jasmussen commented on #30006
I shared some concerns in https://github.com/WordPress/gutenberg/pull/30430#issuecomment-813233147 about adding yet another nesting level to the navigation editing experience. Keeping in mind blocks and nesting do not have to match HTML, how much of this stuff can we do server-side just for the rendered output? CC: @youknowriad as I recall you have looked at serverside tweaks lately.

[2021-04-05 07:09] jasmussen commented on #23291
@florianbrinkmann @mvbdigital I'm having a bit of a hard time reproducing:

<img width="776" alt="Screenshot 2021-04-05 at 09 09 07" src="https://user-images.githubusercontent.com/1204802/113547650-a18c1780-95ee-11eb-90ae-17b05ffdd4a8.png">

Can you provide me with some problematic example markup, plus theme and plugin information? I'd be happy to take a look again.

[2021-04-05 07:12] jasmussen commented on #28180
Thanks for the triage, @JustinyAhin — I think the issue may still be present, as the author select changes to a custom component when you have more than 10 authors. That's the component I think is still not 100% wide.

[2021-04-05 07:34] aristath commented on #29308
The query-loop block already wraps each post in a `li`, so we can add classes there. See PR https://github.com/WordPress/gutenberg/pull/30497 for a possible solution.

[2021-04-05 08:00] getsource commented on #26219
The closest class I can find is `.appearance_page_gutenberg-widgets`.

This works in the [Hello Dolly plugin](https://github.com/WordPress/wordpress-develop/blob/master/src/wp-content/plugins/hello.php#L85):
[code]

@noisysocks Since the class has Gutenberg in the name, do you think it makes sense to make a ticket + path and add to core at this point, or should it get added on the Gutenberg side f

[2021-04-05 09:39] andersnoren commented on #30491
Yeah, the 62.5% workaround has always been more developer driven (round numbers, jay!) than user driven. I still think using the HTML element for the root font size will have detrimental effects though, and effectively mean that you won’t be able to use the REM unit instead of pixels in themes with Global Styles, regardless of whether you use the 62.5% font size approach or not.

For example, let’

[2021-04-05 09:53] aristath commented on #30491
That's not necessarily a bad thing though... Personally, I consider it a plus!
My content-width is always expressed in `em` values to make sure that the content is readable at all screen sizes... so usually I have something like `max-width: 52em` for the content, with `1em` padding on the side.
If the user changes the font-size, then I want the content-width to also change accordingly, and the pad

[2021-04-05 10:18] andersnoren commented on #30491
It won't just effect the content area though, but all sections of the site: The header, footer, contact forms, the WooCommerce store, the size of the logo, the target size of the navigation button... A user looking to tweak the body font size of their site likely won't expect layout changes as a result, and won't be able to make changes to the body font size without affecting the layout if the sit

[2021-04-05 10:52] oandregal commented on #30478
I left at https://github.com/WordPress/gutenberg/pull/30045#issuecomment-813329780 another thread to look at, in case it's related to that issue.

How can I test this? I mean, in isolation, not by running [this](https://github.com/WordPress/gutenberg/pull/30045#issuecomment-812506641). I'd like to understand how to break this code before changing it.

For testing, this is what I've done: hook into

[2021-04-05 10:53] aristath commented on #30491
Agreed.

I think the main difference here is the way we perceive "root" in global-styles?
When I change the root font-size in global styles, I expect it to change the font-size for the site, not just the content, because "root" to me is the site. So yes, it will also change the font-size for headers, footers etc. If I want something to not be related to that, then I just use px or some other unit

[2021-04-05 11:18] andersnoren commented on #30491
Completely agreed. The unintentional changes come into play when the REM unit is used not just to set font sizes, but for all other properties as well (padding, margin, transform, border, width, height, etc). When a logo is set to a maximum height of 10rems, and the HTML font size is reduced by 20 percent to reduce the base font size of the site, the max height of the logo will also be reduced by

[2021-04-05 11:31] florianbrinkmann commented on #23291
@jasmussen sure, here is an example:

[code]

This is from a site with a custom theme, created before the buttons block was introduced. And so it has the old button markup in various places (without the wrapper `wp-block-buttons`).

[2021-04-05 11:35] niaccurshi commented on #16911
It's a shame that sub-optimal practice could get baked in the way that @andersnoren says, though I do totally understand and agree with the point they make. Is there any way that Gutenberg in combination with a future WordPress could facilitate a change to the default while maintaining consistency for old/custom themes perhaps?

i.e. the setting of some kind of option to signify existing or legacy

[2021-04-05 11:39] aristath commented on #30491
Yes, font-sizes will support custom units too!
I was under the impression that part was already working but I checked again and can see it's not right now... I'll need to investigate 👍
There's also the ability to have custom paddings in some blocks (like cover, group, template-part and others), that part can be enabled using `spacing` in theme.json: https://github.com/WordPress/gutenberg/blob/7b96

[2021-04-05 12:22] tomjn commented on #29448
For VVV and any other non-WP-Env setup, the instructions are as follows:

 - go to a sites plugins folder
 - `git clone git@github.com:WordPress/gutenberg.git gutenberg`
 - `cd gutenberg`
 - `npm install && npm run build`
 - activate plugin in the WP Admin plugin screen

[2021-04-05 12:29] andersnoren opened #30500 "Site Editor: <style> elements in groups complicates CSS targeting"
This one was tricky to search for, so apologies in advance if this has already been discussed somewhere. If it has, feel free to link to it and close this issue.

The Site Editor outputs inline `<style></style>` elements with layout styles after group blocks, like this:

<img width="1583" alt="image" src="https://user-images.githubusercontent.com/8181091/113572645-ed53b680-9618-11eb-8f3a-329de9c8b

[2021-04-05 12:36] ribaricplusplus commented on #28703
If you need the `phpConfig` feature right now, you can use my fork of `wp-env` until the change is merged into the official version https://github.com/ribaricplusplus/wp-env

[2021-04-05 12:59] shaunandrews commented on #30370
Everything here seems super great, except for the mobile menu preview thing; I don't quite understand it's purpose, and with the design shown it's not obvious what it actually is/does.

[2021-04-05 13:02] kjellr opened #30502 "Post Comments & Post Comments Form Block: Provide HTML5 markup by default"
As noted by @andersnoren in https://github.com/WordPress/theme-experiments/issues/245, the Post Comments block will only output the HTML5 semantic version of the comments markup if themes opt-in via the following `add_theme_support()`:

[code]

Considering HTML5 is over 6 years old now, it seems reasonable for block based themes to output the HTML5 version by default without requiring the `add_the

[2021-04-05 13:44] ninetyninew commented on #27198
Same issue here, was fixed before in https://github.com/WordPress/gutenberg/issues/21681. Also can I just check, should the sizes in the image block for Thumbnail, Medium, Full Size be the same as in WordPress > Media settings or are they different sizes unique to the block? On my installation they don't match.

[2021-04-05 13:45] #30477 closed, assigned to ntsekouras

[2021-04-05 13:54] sarayourfriend opened #30503 "Fully integrating vanilla Emotion as the canonical style system for CSS-in-JS in Gutenberg"
*Note: This issue has been updated significantly, please view the revision history for insight into what's changed!*

This is the next step in fully ingrating Emotion as the canonical style system for Gutenberg.

Recently we made the decision to ditch the new custom style system for the following reasons:

1. It presented too many difficulties in upgrading Emotion to version 11
2. It implemented a

[2021-04-05 14:08] ninetyninew opened #30504 "Image block image sizes do not appear to use media setting sizes"
## Description
Unsure if this is supposed to happen, but when using the dropdown options for image size in the image block if you select thumbnail it sets the image size to 150x150. In media settings my thumbnail size is 300x300. Are the sizes within the block unique to that block in Gutenberg or should they use the media settings thumbnail size?

## Step-by-step reproduction instructions

1. Set

[2021-04-05 14:27] kjellr opened #30505 "Cover Block: Allow alt text for images"
Cover block markup includes an attribute for alt text, but there's no place to edit this in the block UI. If you attempt to edit this via the block markup, the editor throws an invalid content error.

Cover images are often decorative (and thus don't technically need alt text), but we can't assume that'll be the case all the time. Gutenberg should allow users to enter alt text here when it's neede

[2021-04-05 14:51] ntsekouras commented on #30468
It seems that the specific snippet above get invalidated by missing `tbody`, which is not required there. So it's a bug related to `Table` block.

Reference: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tbody

[2021-04-05 14:52] noahtallen commented on #29448
I would say that wp-env is modeled more around the plugin rather than the site, if that makes sense. So you might have a few different plugins, and each has different requirements for its development environment. (Maybe one of your plugins wishes to "depend on" the latest Gutenberg version for development, or is best developed alongside a particular theme.)

In other words, wp-env automates the pr

[2021-04-05 15:13] tomjn commented on #29448
@noahtallen not everybody uses WP-Env, or agrees with that approach. **I was asked by @paaljoachim to leave notes on this issue specifically for VVV and other environments. So I did.**

I understand WP-Env is considered the golden path and canonical recommendation for Gutenberg, but that doesn't mean people who follow other paths should be censored or patronised as not understanding. **Document it

[2021-04-05 15:29] TheSimArchitect commented on #30468
Thanks! Yes, like you mention, html tables don't require that, plus it's an HTML block, not a table block. I encoded the entire HTML and I set it up as an HTML block. I'd like for Wordpress to not mess it up if possible, even if I choose a specific way to code that's not "perfect".

If the block was already set as HTML, it makes no sense for Gutenberg to try to recover anything or convert to html.

[2021-04-05 15:36] kjellr opened #30508 "Revisit the bundled Query Block patterns"
@jasmussen [and I worked on a few initial Query block patterns](https://github.com/WordPress/gutenberg/pull/28891#discussion_r575489669) to be bundled with Gutenberg as part of https://github.com/WordPress/gutenberg/pull/28891:

Large|Medium|Small
---|---|---
<img width="657" alt="107961753-5487af80-6f74-11eb-886e-9cb84f330031" src="https://user-images.githubusercontent.com/1202812/113591324-bde57

[2021-04-05 15:42] Addison-Stavlo commented on #29222
Once we are ready to support the 'sidebar' area it should definitely be part of the list.  Once we support a larger amount of options, perhaps that 'area' selection should have a max-height and scroll? 🤔

[2021-04-05 15:45] noahtallen commented on #29448
Sure! I didn't intend to imply that no other development environments should ever be used. In fact, I agree that wp-env has a fairly limited use-case and also that everyone should be able to use whatever tool they prefer. My goal was just to contrast the different goals and use-cases these projects might have. Since we're discussing `wp-env` as a default environment for developing core, I thought

[2021-04-05 16:09] tomjn commented on #29448
Make sure that WP-Env is treated as a shortcut/tool/enhancement, not the build step itself. There's a trend towards treating it as a magic blackbox, and if anybody asks how it works they're told to just _use WP-Env_ and trust it will take care of everything. Therefore why document things WP-Env takes care of.

[2021-04-05 16:16] kjellr commented on #30508
Here are a handful of explorations to start us off. Most of these are a bit non-traditional, so we'd want to balance with some more standard layouts too I imagine. Also, note that the bottom one would need some direction forward on https://github.com/WordPress/gutenberg/issues/30380.

![block-patterns-query](https://user-images.githubusercontent.com/1202812/113596673-a78ef200-9608-11eb-8d10-1de6d3

[2021-04-05 16:24] paaljoachim commented on #29448
What are the next actionable steps that would be natural to take?

[2021-04-05 16:34] skorasaurus commented on #30489
Thanks for reporting;
This has been reported in https://github.com/WordPress/gutenberg/issues/29985. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-04-05 16:34] #30489 closed, assigned to nobody

[2021-04-05 17:12] noahtallen commented on #29448
To an extent, I wonder if the magic blackbox impression is because one of the design goals is that you don't _have_ to know how it works to use it. If someone _wants_ to know how it works, I agree that it should be discoverable and understandable. I can see how the [docs](https://github.com/WordPress/gutenberg/tree/trunk/packages/env) need some love in that area -- like many OSS projects, it does

[2021-04-05 17:29] paaljoachim commented on #27093
Here is an update of the Figma file.

https://user-images.githubusercontent.com/5323259/113604129-230e9480-9645-11eb-8fc6-4cf8a410a667.mp4

Btw when the top toolbar is active it is then automatically moved to the second line. As can also be seen when the browser has a smaller width. A mockup.

![Toolbar-2nd-row](https://user-images.githubusercontent.com/5323259/113604743-f7d87500-9645-11eb-8da7-4a

[2021-04-05 17:57] tomjn commented on #29448
I've encountered other official WP projects where I've been told to just use WP-Env where other options are not considered/mentioned precisely because of WP Env, or non-WPEnv usage has been declared unsupported, I shan't name names.

Of note there's no documentation on this repos readme or linked from the readme for building Gutenberg itself. I'm sure it exists but it's buried somewhere offsite.

[2021-04-05 18:14] mcsf commented on #29988
I followed a [similar report](https://wordpress.org/support/topic/code-auto-generating-in-code-editor-after-5-7-update/), and I've tracked this issue down to #27717.

In this case, the offending markup to insert in the Code Editor can be boiled down to:

[code]

The problem is threefold:

1. The change introduced in #27717 forces the Code Editor to re-parse and re-save its `value` every time `valu

[2021-04-05 18:16] mcsf commented on #29338
Closing as duplicate of #29988.

[2021-04-05 18:16] #29338 closed

[2021-04-05 18:16] mcsf commented on #9512
@grzim: see https://github.com/WordPress/gutenberg/issues/29988#issuecomment-813552286

[2021-04-05 19:23] critterverse commented on #30357
I did some further exploration based on helpful feedback from @jameskoster about it being slightly weird to highlight the other locations of the given block directly from the inspector (as it’s not actually a setting).

I imagine the most common flow for the location menu would be to do a gut check across other instances to make sure that the changes you’ve made to the Reusable block in one locati

[2021-04-05 19:51] mcsf commented on #29988
This is now affecting WordPress 5.7. Some reports:

* https://wordpress.org/support/topic/font-tags-automatically-generate-while-editing/
* https://wordpress.org/support/topic/code-auto-generating-in-code-editor-after-5-7-update/

I'm tempted to **recommend reverting #27717**, at least for the purpose of patching 5.7. It's not a common bug, but when it manifests itself it tends to do so:

* in a v

[2021-04-05 20:16] noahtallen commented on #29448
That's disappointing. I understand why that would be frustrating. To be super clear, I agree that no project should _require_ someone to use their setup. I can understand having a default setup, and mostly supporting that, but that shouldn't mean that other setups are unsupported or blocked.

I mean, wp-env development doesn't require you to build Gutenberg, nor does building (or developing for th

[2021-04-05 20:29] CreativeDive commented on #29985
That leads to issues.

An example:

I have the class "has-huge-font-size" with a size of 35px on the desktop.

Before, I was able to display such a large heading in CSS smaller if the screen width is less than 768px.

Now none of this works anymore because these classes are all delivered with "!important".

Please remove "!important" from this inline styles again.

[2021-04-05 20:33] leeshadle commented on #29498
I'm not sure if this is related, but I'm getting an error after updating to Gutenberg versions 10.3 & 10.3.1:
"Uncaught TypeError: Cannot read property 'apiVersion' of undefined"

I built a package that allows me to hot reload blocks during development.

During development, if a registered block's code changes I run unregisterBlockType().  I then immediately run registerBlockType() with the update

[2021-04-05 22:25] annezazu commented on #27896
@priethor would you consider this a bug at this point over an enhancement? Wanted to check in first before altering labels :)

[2021-04-05 22:36] annezazu opened #30515 "[FSE] "Save" flow activates inconsistently"
## Description

This is feedback from the [fourth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/03/25/fse-program-testing-call-4-building-a-restaurant-themed-header/#comment-1458):

Essentially, the Update Design button seems to appear inconsistently. This is something I've noticed in the past but wasn't quite sure how best to replicate until now. The pattern

[2021-04-05 23:42] annezazu opened #30516 "[FSE] Quick Inserter not always available after adding Paragraph Block"
## Description

This is feedback from the [fourth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/03/25/fse-program-testing-call-4-building-a-restaurant-themed-header/#comment-1467):

## Step-by-step reproduction instructions

1. Set up a test site with the latest version of Gutenberg and the TT1 blocks theme.
2. Head to the Site Editor (beta) tab.
3. Add a para

[2021-04-05 23:54] noisysocks commented on #29988
Is there a way to fix both this and #9512? cc. @grzim

If it's not easy to do this, then I'm OK with reverting https://github.com/WordPress/gutenberg/pull/27717 for 5.7.x.

[2021-04-06 02:15] peterwilsoncc commented on #30071
I've labelled this for backporting and moved in on to the 5.7.x project board.

With WP 5.7.1 RC due later this week, you may wish to bump this to the .2 release. Please advise and I will move [WP#52818](https://core.trac.wordpress.org/ticket/52818) accordingly.

[2021-04-06 05:56] carolinan commented on #30485
I found that the options inline style is only applied to the heading element, while the style from the theme.json file is applied
to both the heading and the link element.
This is also breaking the font size option.

[2021-04-06 06:04] #27694 closed

[2021-04-06 06:11] saharsalman opened #30518 "Uncaught TypeError: Cannot read property 'parentNode' of undefined"
I am having this issue on my WordPress site. Changing the address from my account page is giving me this error. When I focus out the field of postcode this error occurred.

Uncaught TypeError: Cannot read property 'parentNode' of undefined
    at o (jquery.blockUI.min.js?ver=2.70:14)
    at Function.b.blockUI (jquery.blockUI.min.js?ver=2.70:14)
    at HTMLInputElement.<anonymous> (ajax-date-calcul

[2021-04-06 06:16] saharsalman commented on #9703
I am having this issue on focus out the postcode field in my account/address

Uncaught TypeError: Cannot read property 'parentNode' of undefined
    at o (jquery.blockUI.min.js?ver=2.70:14)
    at Function.b.blockUI (jquery.blockUI.min.js?ver=2.70:14)
    at HTMLInputElement.<anonymous> (ajax-date-calculate.js?ver=5.6.2:110)
    at HTMLBodyElement.dispatch (jquery.min.js?ver=3.5.1:2)
    at HTMLBo

[2021-04-06 06:25] Azragh commented on #16911
"Ultimately a hook for changing the media query values is the best (and hopefully easiest?) solution for all theme development". I absolutely agree.

For me (and for many other developers too I assume) this is one of the basic features I have been waiting for since Gutenberg was released. I don't understand why such basic things haven't been addressed for years and development is already focused o

[2021-04-06 06:57] markhowellsmead commented on #29498
The error _Cannot read property 'apiVersion' of undefined_ is also thrown when trying to delete a block in the editor which is no longer registered.

[2021-04-06 07:31] andersnoren opened #30519 "Query Title block: Option to remove prefix from Archive Title block variation"
## What problem does this address?
By default, the archive title includes a prefix describing the type of archive page being shown, like "Category: Markup" and "Author: themedemos". One of the most common support requests I get is how to hide the prefix of the archive title (like [this one](https://wordpress.org/support/topic/how-to-hide-words-category-and-tag/), from yesterday), which currently h

[2021-04-06 07:32] jasmussen commented on #23291
Thanks for the example. I did manage to reproduce, however it's an issue with both new and old button markup, as far as I can tell:

<img width="1035" alt="Screenshot 2021-04-06 at 09 27 10" src="https://user-images.githubusercontent.com/1204802/113674474-838be900-96ba-11eb-9665-90f5a09f0585.png">

Here's a small debugging session:

![debugging](https://user-images.githubusercontent.com/1204802/11

[2021-04-06 07:53] gziolo commented on #30466
It looks like the implementation of `minimist` isn't ideal in:

https://github.com/WordPress/gutenberg/blob/176748c729522cb09191246ddc9678acf0bd5000/packages/scripts/utils/cli.js#L24

<img width="867" alt="Screen Shot 2021-04-06 at 09 43 25" src="https://user-images.githubusercontent.com/699132/113676354-a0c1b700-96bc-11eb-83cc-e84af05f95ed.png">

So the issue is that it assumes that `--fix` is a

[2021-04-06 08:07] andersnoren opened #30522 "Query Pagination block is output when empty"
## Description
The wrapping div of the Query Pagination block is output when there are no previous/next/number links to display in it, which can result in extra margins on the page. It's extra noticeable if the block has a custom block style, like this one with vertical borders:

<img width="1529" alt="image" src="https://user-images.githubusercontent.com/8181091/113678081-88eb3280-96be-11eb-8a78-

[2021-04-06 08:33] oandregal commented on #30232
https://github.com/WordPress/gutenberg/pull/30521 fixes this.

[2021-04-06 08:34] andersnoren commented on #30500
I've thought a bit more about this, and it would be possible to work around the `<style>` element if it was added to the beginning of the `.wp-container-[xxx]` wrapper instead of to the end, with the added benefit that it would match the behavior in the block editor (where it is added to the beginning of the wrapper already).

If the <style> element was prepended, like in the block editor, you cou

[2021-04-06 08:50] prathamesh-gharat opened #30523 "For Parent Page Dropdown : Pages are not displayed even if the API returns some data"
## Description
The API returns results on the basis of multiple fields including {Post Content} but the JS only matches results on the basis of {Title}, there by eliminating all returned results in some cases. Not finding the expected parent page is a road block.

I also believe there is also some limit on the number of returned results which in some cases results in only a few posts being returne

[2021-04-06 08:51] gziolo commented on #29689
Replaced with #30503 where the discussion further continues.

[2021-04-06 08:51] #29689 closed

[2021-04-06 09:07] gziolo commented on #30503
Thank you @sarayourfriend for actively seeking better ways to integrate the new Component System. I think it makes perfect sense to try a bit different approach based on all the experience you collected when working on integration so far. In fact, it's closer to what I imagined in the early phase of planning. I hoped we can switch a few lower-level components to their revised implementation and br

[2021-04-06 09:14] jasmussen commented on #23745
I've been on an expedition to explore pragmatic next steps for this one. Specifically, I did the crazy thing and allowed the Heading and Columns blocks inside submenus. That's the easy part:

[code]

Of course that's not going to work for us, but the experiment was nevertheless interesting:

![experiment](https://user-images.githubusercontent.com/1204802/113685187-43cafe80-96c6-11eb-83b1-3b6aab610

[2021-04-06 09:15] jasmussen commented on #30006
I tinkered a bit in https://github.com/WordPress/gutenberg/issues/23745#issuecomment-813965553, and found that allowing the Paragraph block inside dropdowns would be an excellent win, and that there might be a way for us to avoid additional wrapping containers (such as rendering the links list serverside only on the frontend, and avoiding a columns block for mega menus by showing a slider, a la th

[2021-04-06 09:20] iamkingsleyf commented on #71
still does not work

[2021-04-06 09:20] iamkingsleyf commented on #13034
still not working

[2021-04-06 09:30] jameskoster commented on #30357
Putting the consumption locations in the top bar works quite well. I can see the same pattern being used while editing a template part to outline the top level templates that consume it. I wonder if the labels could use a little more clarity though?

Ellipsis and trashing seems good too. I'm just a little anxious about not having some kind of confirmation upon trash. Is it clear and obvious enough

[2021-04-06 09:38] javierarce commented on #29575
My answers for @jameskoster [comments](https://github.com/WordPress/gutenberg/issues/29575#issuecomment-812079896):

In my head the action is saying: "save the last changes I've made as a draft", but I understand what you mean. Maybe a more appropriate name could be "Mark as draft"? Or the main "Save" button could say "Publish" instead?

I think that the second action is already achievable using t

[2021-04-06 09:40] javierarce commented on #29575
Answering @jasmussen comments [here](https://github.com/WordPress/gutenberg/issues/29575#issuecomment-813213433):

That's a good idea, I think that could work too and it would reduce the redundancy of the column after scheduling a change or creating a draft.

![compact](https://user-images.githubusercontent.com/4933/113687015-2e56d400-96c8-11eb-992d-78e5b99b7ce6.png)

I understand your concern, bu

[2021-04-06 09:40] florianbrinkmann commented on #23291
Hi @jasmussen, thanks for looking into this. Maybe my description was misleading: the issue is the frontend CSS. When I paste the button markup in a HTML block in the gutenberg.run instance, it is centered in the frontend, but only because Twenty Twenty-One comes with a `text-align: center` for the `.aligncenter` class. After removing that, the button is left aligned again. The Gutenberg styles ha

[2021-04-06 09:41] aristath commented on #30500
If I understand correctly the issue is that `.block-group > *:last-child` doesn't work as expected?
Would `.block-group > *:not(style):last-child` work? 🤔

[2021-04-06 09:49] grzim commented on #29988
I think it would be best to revert the https://github.com/WordPress/gutenberg/pull/27717 and reopen https://github.com/WordPress/gutenberg/issues/9512 . The issue can be solved in a different way than saving content on blur, probably just on switching editors. Needs more investigation though.

[2021-04-06 09:54] jasmussen commented on #30406
Nice one, I'm going to take a stab at a few of these. Though note, when the site logo is used in the right context — in my case the site editor, I'm seeing the alignments control correctly show up:

<img width="483" alt="Screenshot 2021-04-06 at 11 53 08" src="https://user-images.githubusercontent.com/1204802/113693266-b63fdc80-96ce-11eb-95d1-b8b6cef43eae.png">

I'm not sure why they don't show up

[2021-04-06 09:59] andersnoren commented on #30500
Yeah. Groups, and any container block (group, cover, column etc.) that ends with a group with `Inherit default layout` checked in the layout settings. The `<style>` is added directly after the group with that setting checked. (I think group is the only block that has that setting.)

`*:not(style):last-child` will hit the last child if the last child isn't a `<style>`, but if the last child is a `<

[2021-04-06 10:04] jasmussen commented on #29575
Absolutely! For something that will likely be used so very rarely, it's crucial that it doesn't weigh down the interface and add mental overhead. The challenge here is that as black text each item looks entirely inert. It seems like if we are going to add some interactivity there, there should be some indication other than the description.

Could it be tiny versions of the icons we have, shown as

[2021-04-06 10:11] grzim commented on #9512
The issue has to be reopened due to regression made by #9512

The issue can be solved in a different way than saving content on blur. The alternative is to save on switching editors.

[2021-04-06 10:12] jasmussen commented on #23291
Thanks for the clarification @florianbrinkmann. Can you try this one and see if that addresses your issue? https://github.com/WordPress/gutenberg/pull/30525

That would be http://gutenberg.run/30525.

If yes, then we need to test that PR against all sorts of combinations of the new Buttons block, to see that the code doesn't regress anything there. It shouldn't as far as I can imagine, but importa

[2021-04-06 10:14] jasmussen commented on #30406
CC: @ajlende, I know you have your plate full, but wanted to point to the cropping task in case it's an easy one.

[2021-04-06 10:47] JustinyAhin commented on #30406
Just jumping on those
I'd like to tackle the width issue

[2021-04-06 10:47] #30232 closed, assigned to oandregal

[2021-04-06 10:49] jasmussen commented on #30406
@JustinyAhin I've fixed the width issue in a PR I'm currently making 🙈

[2021-04-06 10:50] JustinyAhin commented on #30406
Oh good to know @jasmussen .
Moving to my usual triage then 😀

[2021-04-06 10:51] jasmussen commented on #30406
The Site Logo shows up even if my theme has not declared support using `add_theme_support`. This is probably good, but it did surface a few issues:

- [ ] Once I define a site logo and publish it, I cannot unset it just from the block.

I ended up having to switch to a theme that did support custom logos, then removing it in the customizer.

[2021-04-06 11:05] #29236 closed

[2021-04-06 11:05] #29237 closed

[2021-04-06 11:08] jameskoster commented on #30406
I think it should be possible for users to do this elsewhere as well. I shouldn't have to be displaying my Site Logo in order to set the Site Icon. In fact I ran in to this exact use case when helping a friend with their site over the weekend. They wanted to set a favicon, but also wanted a plain text "logo" in their site header.

Likewise I shouldn't have to go in and edit a _template_ to update

[2021-04-06 11:15] JustinyAhin commented on #9305
I went through the input and text areas in the editor and those of blocks. And they all seem to have the `margin-bottom: 8px;`; which make this consistent across the editor.

So, I'm going ahead and close this issue. Please feel free to reopen if you spot others places where the vertical spacing is not consistent.

[2021-04-06 11:15] #9305 closed

[2021-04-06 11:17] jasmussen commented on #30406
I took a stab at a few of the items on this list in https://github.com/WordPress/gutenberg/pull/30526. Specifically the width, the placeholder, and the description.

[2021-04-06 11:49] juanfra commented on #18989
Hi @paaljoachim - I don't see any problem implementing the typography control. What I found is that the text of the filename is a link, how should we handle that regarding to colors? Also, there's a button as well, should that have separate controls for colors/typography?

[2021-04-06 12:20] #29845 closed

[2021-04-06 12:21] #29834 closed

[2021-04-06 12:34] Mamaduka commented on #30473
I was able to reproduce the issue.

To add the same image multiple times in a gallery, you'll have to edit the gallery item and select the image.

I guess that this happens because children will have the same `key` prop.

[2021-04-06 13:07] paaljoachim commented on #30508
Here are lots to get inspired by....

https://www.harvestmagazine.no/

A Card View (somewhat similar to how Media&Text Block)

![Harvestmagazine-post-preview-styles](https://user-images.githubusercontent.com/5323259/113712529-88ff2880-96e6-11eb-821a-ab769a5182a8.jpg)

A variation to the above Card view.

![Image-Text-Custom-Post-Preview](https://user-images.githubusercontent.com/5323259/113712555-

[2021-04-06 13:29] paaljoachim commented on #30508
Even more.

I searched for card view designs and happened to come across this site. Lots of nice designs there.
https://bashooka.com/cms/beautiful-card-based-wordpress-themes/

![Grand](https://user-images.githubusercontent.com/5323259/113717977-7982de00-96ec-11eb-993d-a3d9715960f0.jpg)

-

![Beatstone](https://user-images.githubusercontent.com/5323259/113717955-725bd000-96ec-11eb-8611-a16de606456

[2021-04-06 13:40] jameskoster opened #30529 "Highlight equivalent blocks in query"
When working with blocks inside a query, it is possible to pseudo-select multiple blocks of the same type at once, and see changes reflected in multiple locations. This is best described with a short video:

https://user-images.githubusercontent.com/846565/113719363-70424300-96e5-11eb-87e5-56bd40393f84.mp4

However, before the interaction occurs (moving the block in the video) there is no indicati

[2021-04-06 13:51] beafialho commented on #30508
Here are a few query block patterns I've been working on as well:

<img width="1199" alt="Captura de ecrã 2021-04-06, às 14 50 14" src="https://user-images.githubusercontent.com/65220155/113721427-6faaac00-96e7-11eb-8df4-091aaede1ac7.png">
<img width="1208" alt="Captura de ecrã 2021-04-06, às 14 48 44" src="https://user-images.githubusercontent.com/65220155/113721270-48ec7580-96e7-11eb-8b08-784ad0

[2021-04-06 14:04] ianstewart commented on #2515
With [the pattern directory](https://make.wordpress.org/design/2021/03/30/wordpress-org-patterns-directory/) on the horizon and (perhaps) more opportunity for hotlinked images added to the Editor via paste or insertion from another site via an API it may be another reason to add more weight to the remaining Todo on this issue.

[2021-04-06 14:14] jasmussen commented on #30370
Absolutely. The "feature card" at the top is something I think will either start to make sense in a PR, and take shape as part of that, or reveal itself to not work in practice.

It is inspired by some of the [Global Styles patterns](https://github.com/WordPress/gutenberg/issues/27473#issuecomment-796773866) and aims to elevate the sidebar from being a dull sequence of form widgets to adding some

[2021-04-06 14:40] JustinyAhin opened #30532 "Width issue on the editor sidebar calendar help popover"
## Description
There's a width issue the editor sidebar calendar help popover; causing this popover to have a very small width.

## Step-by-step reproduction instructions
- Open a post or a page in the editor
- In the editor sidebar, click on the date near the "Publish" option
- Click on the "Calendar help" link

## Expected behaviour
The calendar help popover should have a consistent width with t

[2021-04-06 14:46] JustinyAhin commented on #30532
A possible solution for this would be to add `width: max-content;` to the calendar help popover.
But it'll overflow a bit the sidebar width and enters the editor content, and also causes some issues on mobile.

<img width="1081" alt="image" src="https://user-images.githubusercontent.com/33403964/113729222-b94ac500-96ee-11eb-9a9f-477be36e4197.png">

![CleanShot 2021-04-06 at 15 44 35](https://user-

[2021-04-06 15:25] fabiankaegy commented on #18768
Same here :) would love to help move this forward. Merging cells and having some more flexibility in tables is something that I keep running into.

And the approach by @talldan seems very feasible.

@talldan do you have any particular blockers that came out of your discovery or is this just a lack of time? :)

Thanks in advance! :)

[2021-04-06 15:31] sarayourfriend opened #30536 "Proposal: New `@wordpress/types` package"
## What problem does this address?
Currently there's no where for general core types to live that aren't owned by or make sense to be owned by a specific package.

For example, the DefinitelyTyped version of `api-fetch` exports a `Schema` namespace that is consumed by several packages to generate their type definitions.

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/wordpres

[2021-04-06 15:31] sarayourfriend commented on #30536
/cc @sirreal @gziolo @youknowriad

[2021-04-06 15:36] youknowriad commented on #30536
Hey there! thanks for the issue, while I don't have a particular issue against a "types" package holding generic things like that, it seems to me, that most of the types in the link you shared are things that are meant to be in `@wordpress/core-data` instead.

Most of these looks like "Entities related data" and while we still have some adhoc usage of apiFetch, the plan has always been to consider

[2021-04-06 15:37] sarayourfriend commented on #30536
That makes sense to me. Are there other packages that could depend on this that wouldn't depend on `core-data`'s runtime though? I think that's the crux of it for me, as far as answering whether we should have a new package or not just for types.

[2021-04-06 15:47] youknowriad commented on #30536
I can't think of any like that, but an exception is always possible but I guess it should be treated as an exception if it's the case.

[2021-04-06 15:48] sarayourfriend commented on #30536
Cool, so is the correct solution to move these types into the `core-data` DefinitelyTyped package for now then with the expectation that once `core-data` is typed that it will export these types as well?

[2021-04-06 15:59] youknowriad commented on #30536
@sarayourfriend this makes sense to me yes.

[2021-04-06 16:01] priethor opened #30538 "Further group the changelog in subcategories using PR name prefixes or labels."
## What problem does this address?

Currently, the automatically generated changelog groups merged PRs depending on some of their labels (bug, enhancement, etc.), grouping unmatched PRs under a "Various" category that needs to be manually worked on when making a release. Moreover, in the final changelog, there is a second grouping level by functionality (Block Library, Global Styles, Customizer, e

[2021-04-06 16:40] paaljoachim commented on #30529
Hey James. That is a very good idea! Highlighting for instance other Post title blocks in the layout would enforce the connection they have. Making it easier for the user to see the connection. As these are linked to each other because of the Query block. Changing one would automatically change the others.
Thanks for creating the issue!

[2021-04-06 16:43] AshiqKiron commented on #30529
I second @paaljoachim's comment. Your exploration would help users understand what's happening in real time.

[2021-04-06 16:52] paaljoachim commented on #21509
Changes have happened since this issue was created. An example is that we now have a parent icon show up to the left of the Block toolbar when there are inner blocks present. This is what it now looks like for the Buttons block.

![Screen Shot 2021-04-06 at 18 46 23](https://user-images.githubusercontent.com/5323259/113748255-8dd4d400-9708-11eb-91a3-bd0c0987cc4d.png)

Clicking the left icon brings

[2021-04-06 16:52] #21509 closed

[2021-04-06 16:56] tomjn commented on #29448
Trac ticket: https://meta.trac.wordpress.org/ticket/5581

[2021-04-06 17:30] Sandstromer opened #30543 "Alignment control is missing from Group within another Group"
## Description

When inserting group block(s) within another group block, the width control is missing from the inner group block(s).

## Step-by-step reproduction instructions

1. Edit/add a post/page
2. Insert a group block
3. Insert another group block (or any block with width control such as columns block) somewhere inside the first group block
4. Notice the width control (Wide width or Full w

[2021-04-06 17:44] paaljoachim commented on #29630
I am bringing up this issue during a design triage. As James and I had a discussion about this issue in the design channel. I am circling back to it. One thing that comes to mind is that the Appearance menu can contain various template areas and more.
Default to show would likely be Header and a Footer. Then based on what the user adds additional areas might show up.

Here is a ticket where @OGlek

[2021-04-06 18:46] critterverse commented on #30400
Just wanted to chime in to say that I think we should try to include the undo/redo feature in v1 if possible, since these actions are primary functionality that many people rely on in the editor. I worry that the user experience will suffer/be confusing without being able to do this!

Agree that it would be nice to have this functionality across the whole Customizer but it does seem especially imp

[2021-04-06 19:06] shaunandrews commented on #29417
<img width="540" alt="image" src="https://user-images.githubusercontent.com/191598/113764961-a97cb200-96e9-11eb-92e5-dac45b1403aa.png">

This one seems like it'd be a great solution.

[2021-04-06 19:15] #30536 closed, assigned to sarayourfriend

[2021-04-06 19:18] shaunandrews commented on #23745
Love the flexibility this could provide.

I actually think a variable-width could be preferred, depending. I'd want to be able to select from some options, maybe [shrink|full-width|fix-width] — though that might be a bigger ask.

This setting, and the width setting, would "live" within the inspector for the parent link item?

[2021-04-06 19:24] jasmussen commented on #23745
To clarify: I meant that I'm not sure there's huge value in having drop-down menu 1 be full width, and drop-down menu 2 be automatic width, with both those dropdowns in the same navigation menu. By making the width a single toggle, it could live in the inspector for the navigation block itself.

The flip side, per drop-down controls, would need you to configure it on each item if you wanted full w

[2021-04-06 19:26] shaunandrews commented on #23573
<img width="166" alt="image" src="https://user-images.githubusercontent.com/191598/113767279-7daefb80-96ec-11eb-97bd-8d0ef49401ff.png">

Perfect.

[2021-04-06 19:35] annezazu opened #30545 "[FSE] Discussion on Editor Styles Wrapper Padding for block themes"
## Description

As part of the [fourth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/03/25/fse-program-testing-call-4-building-a-restaurant-themed-header), two different people noted that when it came to a WYSIWYG experience, the site editor has padding that breaks the experience a bit:

In talking with a few themers, I wanted to open this issue to discuss the

[2021-04-06 19:41] supernovia commented on #8171
👋  I just wanted to see if we need a separate issue for color controls in the verse block. I see the preformatted block will get color controls; will that affect the verse block too?
https://wordpress.com/forums/topic/verse-block-background-colour/

[2021-04-06 20:33] philbuchanan opened #30547 "Block widths in editor no longer respected in 10.3.1"
[As per the block editor how to guidelines](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#changing-the-width-of-the-editor), the suggested method for themes to set the width of blocks in the editor is as follows:

[code]

When using the Gutenberg plugin v10.3.1, the following styles are added:

[code]

Due to the increased specificity of that selector, the first

[2021-04-06 20:57] shaunandrews commented on #23745
Ah, that makes more sense now. Thanks for the explanation.

[2021-04-06 21:00] youknowriad commented on #30545
We discussed this very recently  and updated the default padding to match the browser default here https://github.com/WordPress/gutenberg/pull/30277

if we want to update to 0, it will update the frontend of existing themes as well because we can't just set it to 0 in the backend, we need the editor to match frontend by default.

So I think the current approach to match browser defaults is the rig

[2021-04-06 21:10] supernovia commented on #15349
This came up in a support request in the WordPress.com forums:
https://wordpress.com/forums/topic/use-multiple-languages-in-one-post-e-g-poetry-translation/

It would be nice if the block at least accepted a lang="" parameter when someone sets it manually with HTML, but better still if it were an option in every text block's settings.

Or, perhaps under Advanced where one can add a class, allow pe

[2021-04-06 21:15] paaljoachim commented on #8171
Hi @supernovia Velda

There is one happening right here in this. PR:
Verse Block: Add support for custom colors
https://github.com/WordPress/gutenberg/pull/27736

[2021-04-06 21:29] annezazu commented on #28022
Just noting that @helen ran into this today while streaming resulting in a really jarring experience especially when trying to use the Live Preview option for block themes. When this is fixed, should confirm it works with the Live Preview option under Appearance > Themes.

[2021-04-06 21:51] guarani opened #30548 "Mobile: Splitting a Quote block citation results in nested cite tags"
## Description
When I split a Quote block citation (type some text in the citation and split it in the middle with a new line), two new lines are created.

## Step-by-step reproduction instructions

1. Add a quote block
2. In the citation section, type a few words
3. In the middle of the citation, hit return
4. Notice that two new lines are created instead of a single one

## Expected behaviour

T

[2021-04-06 23:20] mkaz opened #30549 "Allow option for Post title to specify tag, or none for no extra markup"
I would like to use the query block to create something close to the following markup:

[code]

The issue is not necessarily the query block but the Post Title block renders as a header tag based on the level, or a `p` tag if the `level=0`. I would prefer just the title and not the additional markup.

A solution could be to specify the tagname for the Post Title block, passing a level and tagname=

[2021-04-06 23:32] jd-alexander commented on #30548
I did a test of this with Android and I did not notice this behavior. I tested using `17.1-rc-1`

[2021-04-07 00:18] skorasaurus commented on #30547
Thanks for reporting; Can confirm that the selector used in Gutenberg 10.2.1 is .wp-block (although the max-width is 840px) but Phil's point still remains, that the selector has increased specificity.

To reproduce:

Open new post;
open your browser's web developer selector
select the empty paragraph element.

(issue may be related to something, https://github.com/WordPress/gutenberg/blob/trunk/pa

[2021-04-07 00:18] orvn commented on #9937
This issue reappeared in Wordpress 5.6 (and 5.5 as well, I believe)

[2021-04-07 01:27] noisysocks commented on #30400
@kevin940726: Any ideas on how to implement this?

Unlike the Widgets screen, we aren't using `core-data` entities which means we don't get undo/redo "for free".

Ideally the undo tree would be stored close to the source of truth is which is the `wp.customize` changeset.

[2021-04-07 01:44] noisysocks commented on #25910
I am no longer able to reproduce this in `trunk`. Thanks for the detailed reproduction steps @afercia.

[2021-04-07 01:44] #25910 closed

[2021-04-07 02:04] noisysocks commented on #25982
I tested this locally and can confirm that `/v2/sidebars` **does not** return sidebars registered using the Custom Sidebars plugin when the request is made by the server during preloading. It **does** return these sidebars when the request is made by the browser using JavaScript.

The issue is that the plugin has not had a chance to put the sidebar into the `$wp_registered_sidebars` global before

[2021-04-07 02:44] kevin940726 commented on #30400
I'm thinking maybe we should do this in `useSidebarBlockEditor` and store the tree in React though. React should make it easier to implement this feature, and some logics could probably be reused from `core-data`.

[2021-04-07 03:41] tellthemachines commented on #29036
#30430 attempts the first solution, which as predicted is cumbersome for users, so I'm now looking into possibilities for the second. Something like [this API](https://github.com/WordPress/gutenberg/issues/23915#issuecomment-667059749) would be super helpful here, but I'm not sure if there's history to why that was never implemented (I vaguely recall some discussion about it at the time but can't

[2021-04-07 04:01] ryelle commented on #29985
It looks like this was added in https://github.com/WordPress/gutenberg/pull/29533 to fix https://github.com/WordPress/gutenberg/issues/29381. cc @nosolosw

I added CSS like this into my own theme, using the provided custom properties which I swap out for different colors in dark mode. That's not working after this `!important` change. But maybe my approach could work for both the original issue &

[2021-04-07 04:30] talldan commented on #30543
My results from testing on `trunk`

- TT1 Blocks: The group block doesn't have alignment options at all (regardless of whether it's in another group):
<img width="629" alt="Screenshot 2021-04-07 at 12 27 10 pm" src="https://user-images.githubusercontent.com/677833/113810340-9d056180-979c-11eb-9180-7d5909f64b54.png">

- TT1 (normal): The group block does have alignment options, and the reported iss

[2021-04-07 04:35] talldan commented on #30518
@saharsalman Please could you use the provided bug template when reporting a (bug) issue.

[2021-04-07 04:35] #30518 closed, assigned to nobody

[2021-04-07 06:03] andrewserong opened #30553 "Site Editor: Emotion-based CSS-in-JS styles don't appear to be loaded into the editor canvas"
## Description

It looks as though the CSS-in-JS based styles generated for components via Emotion aren't being copied to the editor canvas in the FSE site editor. As an example, in the Jetpack plugin, components like ExternalLink (updated to use CSS-in-JS in https://github.com/WordPress/gutenberg/pull/25751) are used frequently for the placeholder state of blocks, however the Emotion styles don't

[2021-04-07 06:37] carolinan commented on #30547
Hi, this change was reverted and solved with https://github.com/WordPress/gutenberg/pull/30375. If you can confirm this by testing with the development version of Gutenberg, the issue can be closed.

[2021-04-07 07:31] ntsekouras commented on #30549
Hey 👋 - so your use case would be to have a Query block with just `Post Title` or is it just a quick example written here?

Because if that's the case it could be something related to `Navigation` block and `Page List`, no?

[2021-04-07 07:33] talldan commented on #18768
I definitely don't have time at the moment, unfortunately.

But I think a good first step would be to bring more awareness to this issue. I've outlined a potential option, but always good to get a few more ideas and critique.

There are also things to be learnt from the similar change for the gallery block about how we might approach such a transition.

[2021-04-07 07:37] paaljoachim commented on #4747
Regarding Page templates. Here is a PR that is being worked on:
https://github.com/WordPress/gutenberg/pull/30438

[2021-04-07 07:37] paaljoachim commented on #7961
Regarding Page templates. Here is a PR that is being worked on:
#30438

[2021-04-07 07:41] #30257 closed, assigned to jasmussen

[2021-04-07 07:42] jasmussen commented on #18768
For the approach to the table block, I would say it is important that the highly nested HTML markup a table comes with, does not dictate the user experience; the nesting UI would get unwieldy quick. In that vein, it might be good to revisit https://github.com/WordPress/gutenberg/issues/7694 before going too far down the path.

[2021-04-07 08:02] jameskoster commented on #30029
Excluded some of the comment related blocks as these will need to be broken down in to smaller pieces (see https://github.com/WordPress/gutenberg/issues/24101).

[2021-04-07 08:11] talldan commented on #18768
@jasmussen I agree, I think we had a similar discussion already above. My idea was to only have two block types, table and table cell. I think the other parts (sections, columns, rows) could be treated as multi-cell selections, so #7694 wouldn't be required.

I definitely don't think it makes sense to pursue column/row blocks, not even sure how that could work.

[2021-04-07 08:20] jasmussen commented on #18768
Apologies, I'm tired these days 🙈 — yes, table and table cell makes sense.

[2021-04-07 08:23] #30319 closed, assigned to grzim

[2021-04-07 08:44] oandregal commented on #29985
:wave: The rationale for using `!important` in preset classes generated by the system is this: we had found issues with some blocks whose block selector specificity was higher than the preset classes, hence the presets didn't apply. The preset classes are attached to some block upon some user action, which means the user wants that style to be applied. As per the rationale at https://github.com/Wo

[2021-04-07 08:48] jameskoster commented on #29630
One thing Kelly and I didn't find a solution for yet was where to place general template parts. We had one idea to reuse the "Widgets" menu label since there is some conceptual overlap there – a widget is very similar to a general template part in its purpose. Another option could be to group them with top level templates somehow.

Personally I'm not a fan of putting the Reusable Blocks item in th

[2021-04-07 08:56] CreativeDive commented on #29985
@nosolosw In my opinion to use "!important" to solve this issues is not the best practice way. At the end we at "!important" to all selectors to override the global style classes? Please do not.

There are other possible ways.

Do you have an example, why this global style selectors dosen't work in your cases without "!important"?

Maybe we can find an other solution without using "!important"?

[2021-04-07 09:02] Sandstromer commented on #30543
This is my results testing with TT1-Blocks

First "outer" group (pink background) with Full and Wide width controls present:
![group-block-1](https://user-images.githubusercontent.com/76742815/113838834-12fece00-9787-11eb-9a0b-f16432c05d23.jpg)

Within the first group, added a group block (black background), alignment control is missing.
Also a cover block, Full and Wide options are missing from t

[2021-04-07 09:05] jameskoster commented on #30529
I'm not sure this actually needs design. All block instances can just have the `is-selected` state applied. The Toolbar being visible above the true-selected block is hopefully enough to denote focus.

[2021-04-07 09:20] Sandstromer commented on #29985
It looks like !important was added to fix an issue that existed because previously the ordering of preset, theme defined, and user defined styles was incorrect.

The was leading to the wrong style taking precedence, ~~but as far as I can see the rendering order of the 'global-styles-inline-css' has now been rectified, so the !important rule can be removed as no longer needed.~~ is still printed in

[2021-04-07 09:20] jameskoster commented on #24101
If we intend to mimic the behaviour of the Query block (I agree we should) then I am wondering what purpose the "Post Comment" block serves in this context? There isn't an equivalent block for queries/posts.

---

In addition to these, we may also need:

* Comment Author Gravatar
* Comment Reply Link
* Edit Comment link

---

These new blocks will need design for their placeholders/previews, descr

[2021-04-07 09:31] jameskoster commented on #30406
If a logo hasn't already been set, I think it might be fun to programatically generate a logo upon insertion. This would fast-forward the user closer to where they want to be, and eliminate the need to the extra UI (placeholder) since they can simply use the already-familiar image tools to replace the auto-generated placeholder.

![logo](https://user-images.githubusercontent.com/846565/113844354-4

[2021-04-07 09:45] oandregal commented on #29985
To expand on my comment above: the issue was, is, and will be given [this upcoming change](https://github.com/WordPress/gutenberg/issues/29891) that block selector specificity is higher than the preset classes. Example:

[code]

Note that we discussed [alternatives](https://github.com/WordPress/gutenberg/pull/29533#discussion_r586724054) and thought using `!important` was simpler.

[2021-04-07 09:49] andersnoren opened #30556 "Group Block: Vertical margins are removed from groups with background"
## What problem does this address?
In block-library/theme.css, the vertical margins of group blocks with backgrounds are removed:

[code]

Due to the high specificity, themes that have vertical margins set on group blocks need to target both `.wp-block-group` and `.wp-block-group.has-background` to overwrite the margin reset. Also, in themes that set a vertical margin on blocks based on their alig

[2021-04-07 09:53] youknowriad commented on #30484
Judging by the screenshot, it seems to work as intended for me, I'm not sure I understand the issue?

[2021-04-07 09:55] paaljoachim commented on #30484
Click the play button Riad..:)

[2021-04-07 09:57] youknowriad commented on #30484
I did :)

[2021-04-07 09:58] youknowriad commented on #30484
Oh it's not changing the font size at all 🤯

[2021-04-07 10:01] youknowriad commented on #30485
It doesn't make sense to apply the theme.json style to the inner a IMO.

[2021-04-07 10:02] youknowriad commented on #30484
So this is basically the same issue as #30485

[2021-04-07 10:08] paaljoachim commented on #30484
It seems like it.

[2021-04-07 10:25] CreativeDive commented on #29985
@nosolosw yes I can understand your example. But this is definitively a theme issue to override a specific headline.

By default the global style classes should be printed without "!important" and the best practice way is to find a good solution by the theme side.

The theme can use something like this to change the color of a specific headline:

[code]

But your example is no reason for me, to at

[2021-04-07 10:26] Sandstromer commented on #29985
I spoke too soon without fully checking whether the printed order of defined styles was fixed.

User defined styles such as `.has-red-color` are still being printed before the theme defined style, only now they both have the !important rule appended, so the user defined color with the !important rule is still being overridden by the theme defined color as this also contains the !important rule.

U

[2021-04-07 10:39] retnonindya commented on #30490
Another report here:

https://github.com/Automattic/wp-calypso/issues/51532

(I'm going to close that 👆 one in favor of this issue 😄)

[2021-04-07 10:40] andersnoren opened #30559 "Group Block: Add block justification setting to the layouts tab"
In Full Site Editing themes, the group block allows you to modify the width of blocks contained in group blocks, either by specifying a width manually or by checking "Inherit default layout", which sets the width of the child blocks to the default content widths in the theme.

<img width="1458" alt="image" src="https://user-images.githubusercontent.com/8181091/113849492-d9838e00-9799-11eb-80af-fc7

[2021-04-07 10:46] oandregal commented on #20331
This week's status report:

**Shipped**

- Block Supports: added a `gutenberg_block_has_support` helper function and support for padding in dynamic blocks [30322](https://github.com/WordPress/gutenberg/pull/30332), border for search block https://github.com/WordPress/gutenberg/pull/30227

- Fixes: title in the save panel of the site editor [30521](https://github.com/WordPress/gutenberg/pull/30521)

[2021-04-07 10:52] geriux opened #30560 "Buttons - Add Space between items justification support"
## Description
While doing some [sanity tests](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3324#issuecomment-814660455) for the `Buttons` block I found a small regression where the `Space between` justification was [added to the native variant](https://github.com/WordPress/gutenberg/pull/29160) of `Buttons` but currently there's no support for this alignment within `InnerBlocks`.

##

[2021-04-07 10:55] carolinan commented on #30543
I thought this is how it was intended.

The inner block only has width controls if the parent block has **Inherit default layout** enabled or has a specific width set to either the Content or Wide. Is that correct @youknowriad ?

[2021-04-07 10:57] paaljoachim commented on #30490
Testing with WordPress 5.7
Gutenberg plugin 10.3.1.
Twenty Twenty One.

Added a few blocks to a page.
Selected the blocks and copied.
Pasted and only one block was pasted.

Bug confirmed.

[2021-04-07 10:59] Sandstromer commented on #29985
This is the issue I am seeing when changing for example a color in the Site Editor > Global Styles.

Using TT1-Blocks theme, change the Color Palette "Dark Gray" color from `#28303d` to `#28303e` and Update Design > Save

View the frontend and inspect the source code to see the printed `global-styles-inline-css`, notice the ordering;
1. presets from the theme.json defined styles: `--wp--preset--co

[2021-04-07 11:04] aleone89 opened #30561 "Paragraph block: Inline text colour picker does not stay static"
## Description

The inline text colour spectrum picker does not stay static.

## Step-by-step reproduction instructions

1. Go to Posts/Pages > Add New
2. Add a title
3. Add a paragraph block > Add text
4. Highlight text > click the more options arrow button
5. Select Text Colour
6. Select Custom colour
7. Move the colour spectrum picker bar to change colour spectrum
8. Text Colour options close

[2021-04-07 11:06] youknowriad commented on #30543
This is intended, unless you define a layout for a container block, its children won't have these options because we don't know how to style them.

[2021-04-07 11:06] #30543 closed, assigned to nobody

[2021-04-07 11:08] #30484 closed, assigned to youknowriad

[2021-04-07 11:08] #30485 closed, assigned to youknowriad

[2021-04-07 11:13] ntsekouras commented on #30490
Fixed by: https://github.com/WordPress/gutenberg/pull/30197

[2021-04-07 11:13] #30490 closed, assigned to nobody

[2021-04-07 11:18] rottmann commented on #6808
Please re-open this. @willrowe has perfectly described the usecase.
And @rodrigodagostino wrote a simple syntax for it.

Named slots are really needed.

[2021-04-07 11:49] geriux opened #30562 "Search inserter - Issue when searching a block while the title is focused"
## Description
While testing something on develop, I found an issue with the Search inserter, since it's still under `DEV` is not a blocker or anything but definitely something to be fixed before releasing this feature.

If you have the Title component focused and then try to add a block by using the Search inserter, something weird happens with the focus, looks like it gets into a loop.

**Note**

[2021-04-07 11:50] geriux commented on #30562
Hey @jhnstn 👋  have you encountered this issue before?

[2021-04-07 12:28] oandregal opened #30563 "Duplicated theme & user styles"
Reported at https://github.com/WordPress/gutenberg/issues/29985#issuecomment-814817906

### How to reproduce

- Use the TT1-blocks theme and go to the site editor.
- In the global styles sidebar, go to the "root" panel and change the "Dark Gray" color from `#28303d` to `#28303e`
- Save the changes.
- Go to the front-end and inspect the `global-styles-inline-css` embedded stylesheet.

The expected

[2021-04-07 12:30] oandregal commented on #29985
@Sandstromer oh, but that's a bug ― it has nothing to do with `!inline`. Thanks for reporting. I could repro and filed it at https://github.com/WordPress/gutenberg/issues/30563 so it's tracked and can be fixed.

[2021-04-07 12:31] Sandstromer commented on #30543
Previously we could have _group (wide or default)_ > _group (full width)_ with the inner group being able to go full width even though it was inside a narrower block.

Now though the full width option is missing, this is not possible, we can only have inner blocks that max out at the width of the parent block.

Are there any plans to bring this functionality back in some way? Without this, a lot o

[2021-04-07 12:37] youknowriad commented on #30543
I think you can still do that, just define the layout of the inner "group" block in its sidebar or check the "inherit layout"

[2021-04-07 12:41] Sandstromer commented on #30563
Can I add that would it also be better if the `.has-dark-gray-color` used the variable rather than the explicit color?

So, `.has-dark-gray-color {color: #28303e;}` should use `.has-dark-gray-color {color: var(--wp--preset--color--dark-gray);}` instead?

[2021-04-07 12:51] Sandstromer commented on #30543
The full width option is not there, so this is not possible.

Defining the inner group block width to say 100% (or even 200%) gives a width of 100% of the parent block, and selecting "inherit layout" gives a width of the theme defined default width. None of these are full width.

Also the cover block does not have the "Layout" control in the sidebar, and now the only alignment options available ar

[2021-04-07 13:01] Sandstromer commented on #29985
It seemed to me that the reason for the addition of `!important` in the user defined styles was to override the theme defined styles, rather than address the issue of duplication or incorrect ordering, but I may have misunderstood and the `!important` rule was added for another reason.

In any case, I think `!important` should not be used here. We already have more than enough uses of this (column

[2021-04-07 13:02] youknowriad commented on #30543
I'm not sure I understand what you're trying to do to be honest, can you give a screenshot of the result?

[2021-04-07 13:09] javierarce commented on #30108
My proposal [in this comment](https://github.com/WordPress/gutenberg/issues/30015#issuecomment-811137136) addresses (and hopefully solves) the problem mentioned here.

[2021-04-07 13:17] Sandstromer commented on #30543
The pink background is the parent group block with a default width.

For example, previously we could have a cover block within the pink group block, and give it a "Wide" width:
![cover-wide-width](https://user-images.githubusercontent.com/76742815/113872373-b9f56100-97ab-11eb-9616-23b42c8c3e62.jpg)

Or a "Full" width:
![cover-full-width](https://user-images.githubusercontent.com/76742815/11387242

[2021-04-07 13:25] youknowriad commented on #30543
Do you want the child block to exceed the parent block's boundaries or is it just for illustration?

Anyway, let's assume we have `A > B > [ C, D, E ]`

 - A is the grand parent
 - B às the parent
 - C need to be centered
 - D need to be wide
 - E need to be full

I'm going to assume that we're in the post editor (which means we already have a layout defined coming from theme.json by default)

So

[2021-04-07 13:32] getdave commented on #16654
@paaljoachim Is this Classic Editor or the Gutenberg paragraph block?

[2021-04-07 13:34] Sandstromer opened #30565 "FSE: "home" template results in WSOD"
## Description

In a FSE theme when making use of a "home.html" template, results in an empty page.

It looks like Gutenberg is trying to load the "header.php", "content.php", and "footer.php" templates which would previously have been included in a classic theme, or the corresponding fallback WP templates, when attempting to load the FSE "home.html" template.
As these old school templates don't e

[2021-04-07 13:40] geriux opened #30566 "Color settings - Switching between segments scroll to start (Android)"
## Description
While [sanity testing](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3324#issuecomment-814660455) on **Android**, an issue was found where switching between segments Solid/Gradient doesn't auto-scroll to the start correctly.

**Test case**: Color Settings TC002 [Scroll color palette to start](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/

[2021-04-07 13:44] jasmussen commented on #23745
Following up on [the previous exploration](https://github.com/WordPress/gutenberg/issues/23745#issuecomment-813965553), I took at whether we could implement basic megamenus. Turns out:

- Menus that span the width of the block navigation container is easy.
- Using CSS3 columns to provide a just-like-gallery column slider is also easy.

[Codepen example](https://codepen.io/joen/pen/jOyGyYx).

CSS3

[2021-04-07 14:00] Sandstromer opened #30567 "Group "Inherit default layout" is not applied to container"
## Description

When adding a group within a group, and selecting the "Inherit default layout" option, the default width is only applied to elements within the group container, and not the group container itself.

The average user would not notice as any content within the inner group is aligned with the default width.
However when the inner group is given a background color, the issue becomes app

[2021-04-07 14:02] sarayourfriend commented on #30553
Emotion doesn't support styling iframes, however there's a PR open to integrate a new style system here #30509 that _does_ support iframes through a new provider that gets rendered into the iframe, see the documentation here: https://github.com/ItsJonQ/g2/blob/97ef23ebe56a4968701a36ce6697f75803700134/packages/styles/src/components/style-frame-provider.js#L199

Would this be a suitable solution to

[2021-04-07 14:03] jameskoster commented on #29148
We could potentially include an action on the row to enable this:

![access isolated view](https://user-images.githubusercontent.com/846565/113879451-6e928100-97b2-11eb-968b-59abde148d8d.gif)

[2021-04-07 14:05] CreativeDive commented on #29985
@nosolosw any response?

[2021-04-07 14:11] guarani commented on #30566
Just a heads-up that this link seems broken.

[2021-04-07 14:16] geriux commented on #30566
Updated, thanks!

[2021-04-07 14:24] Sandstromer commented on #30543
If I am understanding correctly, in your example A can be defined as full width but with the "Inherit default layout" also toggled on, and then any subsequent inner groups will default to the default width and can then go to full or wide width if needed?

The "Inherit default layout" option is not so easy to understand what it does, I think for the average WP user.

[2021-04-07 14:24] andersnoren opened #30568 "Left and right alignments missing in the block editor when running FSE themes"
## Description
When running TT1 Blocks or the [Empty Theme](https://github.com/WordPress/theme-experiments/tree/master/emptytheme), the left and right alignments are not available for images, galleries, covers, etc.

## Step-by-step reproduction instructions
1. Install TT1 Blocks and create a new block.
2. Add any block that usually supports left/right alignments, and click the "Change Alignment"

[2021-04-07 14:31] Sandstromer commented on #30567
Upon looking into this, I think the "Inherit default layout" option is only supposed to target elements within the group container.

If one wants the group with the background color to be the same default width as the paragraph, it seems the answer is to add a third group block within the previous inner group block, or set the grandparent outer block to "Inherit default layout".

I'll close this a

[2021-04-07 14:31] #30567 closed, assigned to nobody

[2021-04-07 14:36] youknowriad commented on #30543
your understanding is right

I agree with that, it's not easy at all but I have yet to find an alternative approach that allows the same flexibility while being declarative.

[2021-04-07 14:44] philbuchanan commented on #30547
It looks to be resolved. Thank you.

[2021-04-07 14:44] #30547 closed, assigned to nobody

[2021-04-07 14:46] amoseshkol commented on #27878
I am also looking for such php solution for this. I saw the issue was opened 2 years? anything new here?

[2021-04-07 14:54] georgeh commented on #29963
Looking into this

[2021-04-07 14:58] Sandstromer commented on #30543
@youknowriad thank you for taking the time to explain this.

I think I was assuming - incorrectly - that "Inherit default layout" was applied to the group upon which it was selected, whereas it is actually applied to that group's inner elements.

I don't know how to make it more easily understandable, but I will go away and give it some serious thought.

[2021-04-07 15:02] andersnoren opened #30571 "Post Excerpt and Post Content blocks output wrapping divs when the post content is empty"
## What problem does this address?
The Post Excerpt and Post Content blocks output their wrapping divs (and a wrapping paragraph, for the excerpt) for posts without post content, adding unneccessary markup to the page and complicating CSS sibling targeting.

<img width="1340" alt="image" src="https://user-images.githubusercontent.com/8181091/113888305-840fa700-97c2-11eb-98f0-565fe22167f0.png">

##

[2021-04-07 15:23] ryelle commented on #29985
Yes, I'm trying to make the transition to using the theme.json to manage the custom colors, fonts, etc, but still want to use the cascade of CSS for a dark mode (and because I like CSS 🙂). The example you gave is what I ended up with (higher specificity + more !importants). What I'm _actually_ doing in my theme is this:

`theme.json` _[collapsed to save space in example]_
[code]

Given that ^, GB

[2021-04-07 15:33] paaljoachim commented on #29112
Typography controls in the Buttons block has now been merged!

[2021-04-07 15:33] #29112 closed

[2021-04-07 15:38] gwwar commented on #18989
@juanfra if you'd be interested in working on this, it's probably easier to see what works better in a PR. We can also loop in Mel for design feedback.

[2021-04-07 15:55] aristath commented on #30565
Assigning to myself.
Also related to https://github.com/bobbingwide/fizzie/issues/58
This seems to be coming from PR #29026

[2021-04-07 16:08] jameskoster opened #30572 "Comment Author Block"
Here is an initial take on the design for the Comment Author block. This block should only be available in the Site Editor, and potentially only when editing certain templates (Index, Single, Singular, Page).

![comment-author](https://user-images.githubusercontent.com/846565/113897309-a5709300-97c2-11eb-89c1-a2b9ad26ef30.png)

Design feedback is politely requested for all aspects:

* Icon
* Place

[2021-04-07 16:08] jameskoster opened #30573 "Comment Date Block"
Here is an initial take on the design for the Comment Date block. This block should only be available in the Site Editor, and potentially only when editing certain templates (Index, Single, Singular, Page).

![comment-date](https://user-images.githubusercontent.com/846565/113897387-b7eacc80-97c2-11eb-95f4-4c473917190e.png)

Design feedback is politely requested for all aspects:

* Icon
* Placehold

[2021-04-07 16:08] jameskoster opened #30574 "Comment Content Block"
Here is an initial take on the design for the Comment Content block. This block should only be available in the Site Editor, and potentially only when editing certain templates (Index, Single, Singular, Page).

![comment-content](https://user-images.githubusercontent.com/846565/113897418-bfaa7100-97c2-11eb-91fb-9b1211751bdf.png)

Design feedback is politely requested for all aspects:

* Icon
* Pla

[2021-04-07 16:08] jameskoster opened #30575 "Comment Author Gravatar Block"
Here is an initial take on the design for the Comment Author Gravatar block. This block should only be available in the Site Editor, and potentially only when editing certain templates (Index, Single, Singular, Page).

![comment-author-gravatar](https://user-images.githubusercontent.com/846565/113897466-ccc76000-97c2-11eb-9421-7332b473f78f.png)

Design feedback is politely requested for all aspect

[2021-04-07 16:08] jameskoster opened #30576 "Comment Reply Link Block"
Here is an initial take on the design for the Comment Reply Link block. This block should only be available in the Site Editor, and potentially only when editing certain templates (Index, Single, Singular, Page).

![comment-reply-link](https://user-images.githubusercontent.com/846565/113897492-d3ee6e00-97c2-11eb-9132-f98d01cb1d83.png)

Design feedback is politely requested for all aspects:

* Icon

[2021-04-07 16:08] jameskoster opened #30577 "Edit Comment Link Block"
Here is an initial take on the design for the Edit Comment Link block. This block should only be available in the Site Editor, and potentially only when editing certain templates (Index, Single, Singular, Page).

![edit-comment-link](https://user-images.githubusercontent.com/846565/113897514-db157c00-97c2-11eb-90ad-2497365e31cf.png)

Design feedback is politely requested for all aspects:

* Icon
*

[2021-04-07 16:09] jameskoster commented on #24101
I shared designs for the new blocks we need in separate issues. Links in the OP :)

[2021-04-07 16:09] mitchellkrogza commented on #21917
I am having major problems too. Only discovered today that WordPress buttons I added to endless blog posts just display a crappy link on the front end while they display in the editor? What on earth has happened to break every single button I had across over 100 blog posts?
![Screenshot_20210407-174314_Email](https://user-images.githubusercontent.com/9961541/113898589-4d3e8e80-97cc-11eb-9160-4e47c

[2021-04-07 16:12] mitchellkrogza commented on #21917
Maybe a different workflow / process would be to convert everything you broke with a new radical update?

[2021-04-07 16:13] javierarce opened #30578 "Site Editor: Two-way highlights for template entities"
Highlighting an entity when a user hovers its name in a list (like the List view) is very useful to identify it quickly. I think we could also implement the highlight in the other direction: if the user hovers an element in the canvas, the related label could be highlighted.

Here's a prototype that shows this in action for both the List view and the Save sidebar:

https://user-images.githubuserco

[2021-04-07 16:18] carolinan commented on #24101
I think the post comment block has a different purpose because it only shows one specific comment and this comment can be unrelated to the current post/page/view.

[2021-04-07 16:53] jameskoster commented on #24101
Yes, I think that block has more utility in the post editor. But even there it feels kind of niche.

[2021-04-07 16:56] #21691 closed

[2021-04-07 17:08] annezazu commented on #30573
@jameskoster thanks so much for this exploration! While you're exploring this, I wanted to loop in some feedback that came out of a stream from a contributor where she mentioned that the date selection is currently unstyled:

<img width="446" alt="Screen Shot 2021-04-07 at 11 06 17 AM" src="https://user-images.githubusercontent.com/26996883/113906479-8a395f80-9791-11eb-8ef4-77306ce4983b.png">

Is

[2021-04-07 17:25] #29691 closed

[2021-04-07 17:32] annezazu opened #30579 "Make Permalink/View Post easier to access"
## What problem does this address?

Currently, if you edit a published post and try to view the permalink, it's a bit buried in the settings and the UI appears to be pretty disjointed with odd amounts of spacing. This makes a common action difficult to find and interact with. This came up during a stream @helen did exploring FSE but applies to the core editor.

Video:

https://user-images.githubus

[2021-04-07 17:36] gwwar opened #30580 "E2E: Settings sidebar test sometimes fails"
Noticed this one failing today on an unrelated change. @david-szabo97 or @ntsekouras would it be possible to investigate?

[code]

<img width="841" alt="Screen Shot 2021-04-07 at 8 35 49 AM" src="https://user-images.githubusercontent.com/1270189/113909548-a5ee3700-978c-11eb-950c-a9d9d9ba0a9a.png">

[2021-04-07 17:40] mkaz commented on #30474
Closed en #30487 ;-)

[2021-04-07 17:40] #30474 closed, assigned to nobody

[2021-04-07 17:46] shaunandrews commented on #23745
I think CSS columns could be an interesting solution, but I worry that it doesn't really accomplish the goal of having multiple columns in a mega menu; I imagine most people want columns in order to group specific elements together. With CSS columns there's no semantic grouping or control over the visual grouping.

While it is trivial, if we did implement it I wonder if it would be hard to "undo"

[2021-04-07 17:48] shaunandrews commented on #23745
I think some sort of flexbox-type layout control for the submenu (and maybe _all_ container) blocks could be super helpful: https://github.com/WordPress/gutenberg/issues/24473

[2021-04-07 17:56] jasmussen commented on #23745
I think I share the same high level assessment. CSS columns could probably get us 90% there, with a great user experience. The question is whether it's the last 10% that really make the difference.

By happenstance I chatted with Riad on a related topic, and came upon the idea that the dropdown menu could, for all intents and purposes, be a group block with navigation items inside. That's a bit of

[2021-04-07 17:57] jasmussen commented on #18989
Also happy to provide feedback here. Specifically on the question of colors, I would think global styles would eventually allow us to opt in to supporting link colors, so you'd have 3 color options — background, text, and links.

[2021-04-07 18:24] melchoyce commented on #30508
A couple more generic ideas:

![query blocks](https://user-images.githubusercontent.com/2846578/113915557-ec538e00-97ac-11eb-97c3-27e32cd7d394.png)

[2021-04-07 19:03] #29899 closed

[2021-04-07 19:17] jameskoster commented on #30573
@annezazu I think that is a separate issue altogether. Looks like a bug in the Post Date block.

[2021-04-07 19:32] annezazu commented on #30573
Facepalm -- got my date blocks confused. Thank you. Sorry about that!

[2021-04-07 19:43] annezazu opened #30581 "Improve Post Date Block UI"
## What problem does this address?

It's unclear to me if this should be seen as a bug or an enhancement request but currently the Post Date Block shows this UI when you click to edit the date:

<img width="446" alt="Screen Shot 2021-04-07 at 11 06 17 AM" src="https://user-images.githubusercontent.com/26996883/113923788-32f1ba00-97a6-11eb-8536-31886a86af90.png">

This is using Gutenberg 10.3.2.

#

[2021-04-07 19:57] guarani commented on #30548
Adding more info (thanks to @ceyhun for digging into this): The change that caused this regression is https://github.com/WordPress/gutenberg/commit/54d6668d3b9b374bb45a837cd1f771e6c34ffe50 (part of https://github.com/WordPress/gutenberg/pull/30190). Specifically it's this prop that's now passed to the `<RichText>` component that powers the quote citation:

https://github.com/WordPress/gutenberg/bl

[2021-04-07 20:44] philbuchanan opened #30582 "SelectControl with multiple prop set uses fixed height of 30 pixels"
When using the [`<SelectControl/>`](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/select-control) with the [`multiple`](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/select-control#multiple) prop, the height of the output `<select>` element is fixed at 30 pixels which results in the select input looking broken:

<img width="272" alt="Screen S

[2021-04-07 20:59] annezazu commented on #30108
This last week, a core contributor streamed themselves going through the FSE experience and felt that the previews weren't robust enough. If they aren't robust/accurate enough, it might be better not to have them at all potentially unless work can be done to make them more stable. I wanted to connect this feedback here as more explorations happen for these previews!

[2021-04-07 21:33] andrewstaffell commented on #26504
Just came up against this problem which stops `theme.json` colours from being applied in custom blocks. Any progress?

[2021-04-07 21:37] mkaz opened #30583 "Template Editor: Move to Trash does not work from editor"
## Description

When editing a specific template part, clicking "Move to Trash" from the side bar does not delete the item.

https://user-images.githubusercontent.com/45363/113937613-4a34a580-97ae-11eb-9ed4-2b0a20ac8dca.mp4

## Step-by-step reproduction instructions

1. Use a block theme, for example TT1 blocks
2. Modify one of the templates or template parts
3. Open the template in the template e

[2021-04-07 21:42] mkaz opened #30584 "Template Editor: Hide fields that are not yet functional in the template editing context"
## Description

The Visibility, Publish, and Excerpt fields are not currently functional in the template editing context.

![image](https://user-images.githubusercontent.com/45363/113938268-32a9ec80-97af-11eb-80b5-7e08a5104fe3.png)

## Step-by-step reproduction instructions

1. Use a block theme, for example TT1 blocks
2. Modify one of the templates or template parts
3. Open the template in the te

[2021-04-07 22:24] jhnstn commented on #30562
@geriux I have not run into this issue. Thanks for catching it!
I'll get it fixed before we release.

[2021-04-08 00:06] fuzzywalrus opened #30588 "registerBlockStyle for `core/column` results in map.undefined when user's mouse enters the style area of components-popover__content"
## Description

When using registerBlockStyle to enable custom styles in a custom block style plugin will work from the side bar. However, if the user interacts with it using the component-popover, it'll cause a `map of undefined` error:

Here's the partial error log:
[code]

[code]

## Step-by-step reproduction instructions

1. Register a custom style for `core/column`
2. Try to apply custom styl

[2021-04-08 01:17] noisysocks commented on #29036
I had a crack at implementing that API but ran into [some issues](https://github.com/WordPress/gutenberg/issues/23915#issuecomment-671687436) and then didn't get a chance to revisit. It might be easier now that `useBlockProps()` etc. is more developed.

[2021-04-08 01:22] noisysocks commented on #26219
Is `.block-editor-page` a class that's added to the `<body>`? Maybe the widgets screen should add it. It is, after all, a page containing a block editor and nothing else.

[2021-04-08 02:02] talldan opened #30590 "Spacer block can only be expanded horizontally in navigation block submenus"
## Description
The spacer block can only be expanded horizontally in navigation block submenus. It seems like it should instead work vertically—the same orientation as a submenu.

## Step-by-step reproduction instructions
1. Add a navigation block (horizontal)
2. Add a link and create a submenu with some more links
3. Try adding a spacer to a submenu

## Expected behaviour
The spacer can be used t

[2021-04-08 02:19] stokesman commented on #30495
The select list isn't meant to change the style of the selected block. It's meant to change the style of any new blocks added afterward.

That setting is unlike everything else in the block settings sidebar so I see the potential for misunderstanding. Maybe a better place for that setting could be found.

[2021-04-08 02:26] lukecarbis commented on #26219
If we're going to start slowly phasing the Hello Dolly message out with `display: none` on any Gutenbergish pages… maybe it's time to reassess whether we still need it?

[2021-04-08 03:11] noisysocks commented on #27343
I think we can close this. A lot of this exists in the plugin now and we are already using https://github.com/WordPress/gutenberg/issues/24687 as an overview issue for the remaining bits and pieces.

[2021-04-08 03:11] #27343 closed

[2021-04-08 03:17] noisysocks commented on #26219
That's probably a decision better suited for a future DevChat. I know there's some strong feelings (good and bad) in the project about Hello Dolly 😀

[2021-04-08 04:05] noisysocks commented on #22765
Let's do this:

[2021-04-08 04:21] getsource commented on #26219
Yes, it is! I don't know if anything else targets it that might not be preferred to apply to the Widgets screen as well, but I like that idea.

[2021-04-08 04:22] noisysocks commented on #25912
I'm unable to reproduce this.

[2021-04-08 04:22] #25912 closed

[2021-04-08 04:26] noisysocks commented on #15916
@kevin940726 @talldan @tellthemachines @draganescu @TimothyBJacobs

This needs a decision. Should we enable the Classic block in the widgets screen or leave it disabled for now?

[2021-04-08 04:28] noisysocks commented on #26154
@kevin940726 @talldan @tellthemachines @draganescu @TimothyBJacobs

Some decisions are required here. Should the widgets screen in 5.8 be opt-in or opt-out? Should this be controlled by the theme using `add_theme_supports()`, via a filter, or both? Should a seperate setting for the widgets screen be added to the Classic Editor plugin?

[2021-04-08 04:29] noisysocks commented on #25123
See https://github.com/WordPress/gutenberg/issues/26154#issuecomment-815436775.

[2021-04-08 04:42] noisysocks commented on #26012
I forgot to thank you @celloexpressions for this really well thought out issue. It definitely influenced the way I think about this project and it has inspired a lot of the work that @kevin940726 and I done.

There is now experimental support for block widgets in the Customizer. Check it out if you haven't already by enabling the flag in Gutenberg → Experiments.

I think that these three points ar

[2021-04-08 05:01] noisysocks commented on #26186
Does this still happen?

[2021-04-08 05:03] noisysocks commented on #26163
I am wondering if we should implement this enhancement for v1 of the widgets editor?

[2021-04-08 05:05] noisysocks commented on #26170
If this is easy to implement then let's do it. If not, we could consider leaving it out of v1 of the widgets editor.

[2021-04-08 05:06] glendaviesnz commented on #29996
Fixed by https://github.com/WordPress/gutenberg/pull/30550

[2021-04-08 05:06] #29996 closed, assigned to glendaviesnz

[2021-04-08 05:09] andersnoren opened #30596 "Quote & Pullquote blocks: Unify citation element on the front-end and in the editor to simplify styling"
## What problem does this address?
In the Block Editor, the citation element in the Pullquote block is a div with the class `wp-block-pullquote__citation`, and the citation element of the Quote block is a div with the class `wp-block-quote__citation`. On the front-end, the citation element of both blocks is a cite element without class.

Since they are using different elements and the `wp-block-pu

[2021-04-08 05:23] noisysocks commented on #30049
Thanks for the bug report. Let's use the full URL. We will have to pass the WP Admin URL via block editor settings to the block.

[2021-04-08 05:24] noisysocks commented on #30050
Confirmed. Interestingly, it looks like <kbd>cmd</kbd>+<kbd>z</kbd> works.

[2021-04-08 05:33] orvn commented on #14608
The [method above](https://github.com/WordPress/gutenberg/issues/14608#issuecomment-805831503) of checking the for an iframe tag in the block content and then running it through the embed shortcode again did not work. This [other solution](https://github.com/WordPress/gutenberg/issues/18098#issuecomment-548609322) didn't help either, but it did point to some ideas.

It really seemed like a sanitiz

[2021-04-08 05:35] #30271 closed, assigned to kevin940726

[2021-04-08 06:22] aristath commented on #30565
This PR should fix the issue: https://github.com/WordPress/gutenberg/pull/30599 👍

[2021-04-08 06:29] andrewserong commented on #30553
Thanks for the update @sarayourfriend! Yes, I think that sounds like an ideal long-term solution if the styles are being copied into the iframe (looks quite clever!)

That's a good point, if the timing on landing the new style system doesn't work out with getting plugins ready for the new full site editor, then it might be worth pursuing reverts for those common components just to get things worki

[2021-04-08 06:40] carlomanf commented on #30584
What evidence is there that these features "do not work or make sense" or "not needed"?

The Visibility and Publish features can be used to schedule a template or template part to take effect in the future, to save it as a draft before it is ready for use, or to retire a template or template part from use without deleting it from the database.

The Excerpt, if I'm not mistaken, is already being us

[2021-04-08 07:09] carolinan commented on #27957
Any update on this?

[2021-04-08 07:12] aristath commented on #29036
Just my 2c, but wrapping elements in `<li></li>` (so the 2nd option) seems like the better option to me from a semantic & a11y perspective

[2021-04-08 07:17] aristath commented on #30575
Could this be author-avatar and not author-gravatar? Most sites have some sort of avatar, but not everyone uses gravatar, and forcing a core block to be tied to an external service would be controversial to many.

[2021-04-08 08:09] jameskoster commented on #30575
I don't disagree, but WordPress is already tied to Gravatar, so I don't know if this is the time or place for that discussion?

This block would basically be an equivalent of [`get_avatar()`](https://developer.wordpress.org/reference/functions/get_avatar/).

[2021-04-08 08:11] jameskoster commented on #30575
I do wonder now whether this block should be more generic so that it can be used in both comment and post loops. "Author Gravatar" or something.

[2021-04-08 08:16] bakoorahnin opened #30601 "Issue Bug"
## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## Code snippet (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. Twenty Twenty-One)?

## Device information
- Device:
- Operating syst

[2021-04-08 08:19] bakoorahnin opened #30602 "Bug report -Mobile"
## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. Twenty Twenty-One)?

## Device information
- Device:
- Operating system:
- WordPress app version:

[2021-04-08 08:21] bakoorahnin opened #30603 "nice Enhancement"
## What problem does this address?

## What is your proposed solution?

[2021-04-08 08:34] carolinan commented on #30596
Would there be any negative side effects if both the editor and front used the cite element?

[2021-04-08 08:39] aristath commented on #30575
Exactly. `get_avatar()` gets not only the gravatar, but any avatar the site is using. Since we don't want to limit the block to just gravatars and instead we want it to use whatever the site-author has decided to use on their site, "gravatar" seems a bit too specific (and inaccurate) as the block-name.

[2021-04-08 09:15] georgeolaru commented on #30508
A while ago, we designed a [block](https://github.com/pixelgrade/nova-blocks/issues/190) that uses a set of parametric variables to generate a variety of layouts and put cards together in a visual hierarchy. It might be outside the scope of this issue as it relates to the overall layout, but I leave it here as it could spark some ideas for someone.

Here is the [full video](https://pixelgrade.com/

[2021-04-08 09:23] jameskoster commented on #30575
Ah yes, I'm with you now.

"Author Avatar" or even just "Avatar" could work.

[2021-04-08 09:34] bobbingwide commented on #29763
I found the fact that I couldn't name template parts very unsatisfactory.
When I first exported my second FSE theme I had 11 template parts, 10 of which gave no indication of their purpose.

I found it far easier to copy the HTML directly from the Template part Code editor, part by part, than to work with the extracted HTML files.

I also note that the export doesn't (yet) include any changes to `

[2021-04-08 10:05] #30601 closed, assigned to nobody

[2021-04-08 10:05] #30602 closed, assigned to nobody

[2021-04-08 10:05] #30603 closed, assigned to nobody

[2021-04-08 10:59] carolinan commented on #29763
There is a separate issue for exporting global styles.

[2021-04-08 11:06] bobbingwide commented on #30584
I definitely think supporting Revisions is a good idea.
Plus the ability to change the slug.
Agree with @Carlomanf that the Excerpt could be useful.

[2021-04-08 11:22] gziolo commented on #30538
Awesome ideas, thank you for opening this issue. It greatly aligns with the experience I had during my last plugin release.

Bonus points for sorting all entries in the section by the name like in https://make.wordpress.org/core/2021/04/02/whats-new-in-gutenberg-10-3-31-march/, examples:

The file with the code that generates the changelog is in:

https://github.com/WordPress/gutenberg/blob/trunk/

[2021-04-08 11:43] #30565 closed, assigned to aristath

[2021-04-08 12:43] carolinan opened #30614 "Layout (width) controls do not have a reset button"
## What problem does this address?

The layout control for the width of the content and wide blocks does not have a reset button.
(The values can be reset by enabling the "Inherit default layout" toggle, but this is not obvious.)

## What is your proposed solution?

Allow quickly resetting the values by adding a reset button similar to the one used with other custom value controls.

## Screenshot

[2021-04-08 13:26] sarayourfriend commented on #30553
I'm hoping it'll land pretty soon, but as you can see from the #30509 PR, there's a great deal of discussion. Converting everything to use the new style system is priority number 1 at the moment for the new style system and component system project, with some preliminary steps that will take us to get there.

The problem with reverting CSS-in-JS, however, is that some things were never written in

[2021-04-08 14:03] #13713 closed

[2021-04-08 14:12] ribaricplusplus commented on #30071
I have a fix for this, setting up a PR

[2021-04-08 14:23] napolitano opened #30618 "Welcome Popup appears every time"
## Description
If a browser is configured to be privacy and data protection friendly so that it automatically discards cookies after closing, the Welcome popup dialog in the editor is always displayed the first time it is used within a session. Because the dialog is modal, the user must interact with it.

There is no global and/or persistent switch to effectively and permanently disable this dialo

[2021-04-08 14:53] davidperezgar opened #30619 "List categories in post does not load"
## Description
We are using a multinetwork and we have cloned sites. In a net, we have a problem that we can't identify why it occurs. It does not load the categories, and is getting this error in console:

[code]

Don't know how to solve it? Where could we start?

Tested without plugins, With/without gutenberg plugin.

## Step-by-step reproduction instructions
Cloning a site and import XML from a

[2021-04-08 14:55] helen commented on #23328
Hello! I see that this particular issue has not had recent commenting activity and there's a lot of related discussion in associated issues, but I thought I'd leave a "personal opinion" comment here.

I think the idea of a "browse"/"view-only" mode is very compelling and if the theme handles it right with editor CSS, should ease that feeling of needing to keep the front end open and continue to do

[2021-04-08 14:56] 0aveRyan commented on #29687
This seems critical to FSE's inclusion in WordPress 5.8. The Site Editor encourages users to edit templates and users should have a way to revert to the author's original intent and upgrade to updated Theme changes.

It seems a minimally-viable to-do is to at least notify users when an update to their Theme contains an updated template file to one of their custom `wp_template`'s stored in the data

[2021-04-08 15:02] diegohaz opened #30620 "The Columns block is confusing/unusable on NVDA"
## Description

While working on #29804, after @carolinan's [feedback](https://github.com/WordPress/gutenberg/pull/30248#issuecomment-807962118), we noticed that the Columns block usage on NVDA is really confusing and pretty much unusable.

## Step-by-step reproduction instructions

1. Create a new post
2. Add a Columns block with a few columns
3. Try to navigate through the columns using NVDA and

[2021-04-08 15:38] youknowriad commented on #27814
#30438 is now merged so classic themes can use blocks to build custom templates for pages and all CPTs that support Page templates now.

[2021-04-08 15:41] Sandstromer commented on #30543
Is the general consensus that this new way of doing the alignments is going to be more or less how it will be when FSE lands in core?

[2021-04-08 15:42] johnbillion opened #30621 "The `text` prop is missing from the button component documentation"
## Description

The `Button` component has a `text` prop which is missing from [the documentation for the button component](https://developer.wordpress.org/block-editor/reference-guides/components/button/).

There may be other missing props for this, I've not checked in depth.

[2021-04-08 15:43] youknowriad commented on #30543
It is at the moment unless there's some feedback suggesting that it doesn't work or that there's a better alternative.

[2021-04-08 15:59] critterverse opened #30622 "Reusable blocks and Template Parts isolated editing view: Add menu in top toolbar for navigating to usage locations"
Hi all, this idea was proposed as a part of [#30357 (comment)](https://github.com/WordPress/gutenberg/issues/30357#issuecomment-813594421) but I'm splitting it off into a separate issue. This functionality is originally stemming from an item on the Improvements to Reusable blocks tracking issue (#27890), but could also work nicely when applied to Template Parts.

Within the isolated editing view f

[2021-04-08 16:05] carolinan commented on #24101
We also have to consider the different settings that are available in the admin area under Settings > Discussion such as the nested comments and the comment pagination.

[2021-04-08 16:05] guarani opened #30623 "Mobile: Changes to unordered list block settings not reflected in the editor"
## Description
On mobile, when I add a list block and choose the unordered option, the block settings (the start value and "reverse list numbering" options) can be changed but have no effect on the editor. They do set the right attributes in the resulting HTML though, since previewing these changes looks correct.

## Step-by-step reproduction instructions
1. Add a list block and add some items
2.

[2021-04-08 16:08] jameskoster commented on #29687
Yeah, theme updates (and to a lesser extent theme switches) all need careful consideration. I would encourage you to open issues to discuss details of the update flows since reverting will likely only be a small part of a much larger overall experience.

[2021-04-08 16:13] jameskoster commented on #24101
That is true, we may also need new blocks for the pagination. Hopefully we can lean on the query pagination blocks there, seeing as they serve (roughly) the same purpose, and will have crossed a similar hurdle when accounting for the posts_per_page setting.

[2021-04-08 16:45] dcalhoun opened #30624 "Add “Tap to add content” tooltip for editor Onboarding Tour"
## What problem does this address?
The mobile editor is a powerful tool for creating content, but many users fail to understand the extent of what they can do with it. Specifically, users sometimes do not understand additional blocks may be added to the editor content.

## What is your proposed solution?
We will add a tooltip indicating how additional blocks can be added to the editor content. The

[2021-04-08 16:45] antonis opened #30625 "Mobile: The app crashes on slider container selection in VoiceOver/TalkBack accessibility mode"
## Description
The app crashes on slider container selection in VoiceOver/TalkBack accessibility mode. The issue has been replicated for the slider setting the height of the spacer block and the slider setting the opacity of the cover block.

**Note** that the crash is observed both on iOS and Android

## Step-by-step reproduction instructions
### Spacer
1. Open the editor with VoiceOver/TalkBack

[2021-04-08 16:47] gwwar commented on #29875
It looks like this one does fail sometimes for example see https://github.com/WordPress/gutenberg/runs/2297750606

Do folks have any time to 🔍 a bit more closely? cc @ellatrix @gziolo

[2021-04-08 16:48] dcalhoun opened #30626 "Add “The basics” Help Section Articles"
## What problem does this address?
The mobile editor is a powerful tool for creating content, but many users fail to understand the extent of what they can do with it.

## What is your proposed solution?
We will add a Help section that provides additional details on common tasks related to adding, editing, and removing blocks. This iteration will be limited to the "The basics" articles section.

<

[2021-04-08 16:52] dcalhoun opened #30627 "Add the "New" Block Badge"
## What problem does this address?
The mobile editor is a powerful tool for creating content, but many users fail to understand the extent of what they can do with it.

## What is your proposed solution?
We will display a "new" badge on blocks that were recently added to the editor to help users discover different blocks.

![Mobile new block badge](https://user-images.githubusercontent.com/438664/

[2021-04-08 17:15] bobbingwide commented on #26731
I've found another instance where `wpautop()` is causing problems. It affects the inline CSS generated for FSE themes using the new alignment techniques.
[code]

[2021-04-08 17:46] paaljoachim commented on #18989
Hey @juanfra Juan

Here is an example from the Heading block. Also the Paragraph block has Text, Background and Link colors.

![Screen Shot 2021-04-08 at 19 44 17](https://user-images.githubusercontent.com/5323259/114072847-f5bf2200-98a2-11eb-9a60-98765f0e2274.png)

Thank you Juan!

[2021-04-08 17:52] #29437 closed

[2021-04-08 17:53] kjellr opened #30631 "Design Patterns to work with with single pattern transforms"
Related to https://github.com/WordPress/gutenberg/pull/30469, https://github.com/WordPress/gutenberg/issues/27575, and #28736.

Single blocks will soon have the ability to transform into block patterns. To help introduce this feature we should design some new patterns that use just a single block.

<img width="683" alt="Screen Shot 2021-04-08 at 1 51 34 PM" src="https://user-images.githubuserconte

[2021-04-08 17:54] paaljoachim commented on #16654
Hey @getdave Dave

I am not sure what to say about this issue. As I am not sure what caught my eye when I looked at it before.
But I assume when adding a not valid link that a red dotted outline should show up around the link as is shown by Isabel.

[2021-04-08 18:01] priethor commented on #27896
At this point, it's a fine line dividing both, but I would say it's a bug because I don't believe this behavior was the original intent when designing and developing the feature; it looks like an oversight rather than the original intended purpose (in which case it would be an enhancement because it would indeed be working as expected by those creating the feature).

[2021-04-08 18:07] annezazu commented on #29648
On a hallway hangout with the FSE Outreach program, this issue came up and, in discussing it, folks felt as though this might still feel too hidden away in the navigation component to get to. If you consider the use case of someone building out their site with the Site Editor and likely needing to create pages/post more than new templates, this will likely be a frustrating experience. Wanted to pa

[2021-04-08 18:24] ockham opened #30632 "e2e Tests: Cover user auto-completer"
We should add an e2e test to cover the _user_ autocompleter (triggered by entering `@`). AFAICS, we don't have any such tests yet, so we'll likely need to add a new file.

Specifically, we should make sure that the following scenarios (raised by @gziolo in https://github.com/WordPress/gutenberg/pull/30540#issuecomment-814636881) work:

In other words: We need the e2e test to create a test user wit

[2021-04-08 18:25] gziolo commented on #29875
It might be a difference in implementation between the Chrome browser and Chromium that is used in the headless mode. Another factor is the speed of execution, in the interactive mode everything is simulated slower. You can use `--puppeteer-slowmo=1` to speed things up.

[2021-04-08 18:28] mchowning commented on #30566
I really wish we had a "Medium" priority label in this repo. 😞

[2021-04-08 18:28] mkaz commented on #30549
My goal is to create an index page with the above markup based on categories:

The result would be something like this:

![image](https://user-images.githubusercontent.com/45363/114077503-be2d8700-985c-11eb-9596-bf7d51a99c8d.png)

I added additional CSS to style the H5 from the Post Title block to look like that, but ideally if it was just plain text inside a link, it wouldn't need any additional

[2021-04-08 18:29] annezazu commented on #16986
Tested this today in another triage session using Gutenberg 10.3.2 and WordPress 5.7 with the Twenty Twenty-One theme:
- Table: can replicate ✅
- Pull Quote: can replicate ✅
- Quote: can't replicate ❌
- Code: can't replicate ❌
- Verse: can't replicate ❌

[2021-04-08 18:35] mchowning commented on #30625
Is this a regression since the last release @antonis ? @AmandaRiu, could this be related to your accessibility work?

[2021-04-08 18:36] gwwar commented on #16958
I'm unable to reproduce alignment issues, now that a button is usually inserted with a buttons block. Do we still need this one @draganescu ?

<img width="736" alt="Screen Shot 2021-04-08 at 11 33 35 AM" src="https://user-images.githubusercontent.com/1270189/114079138-a9ea8980-985e-11eb-9c73-8abad71b8850.png">

[2021-04-08 18:42] annezazu commented on #28217
This came up today in a triage session in #core-editor and I was able to confirm this behavior using Gutenberg 10.3.2 and WordPress 5.7:

https://user-images.githubusercontent.com/26996883/114079784-d8209700-9867-11eb-8bbc-bf82a32da63c.mov

This is a pretty frustrating and confusing experience right now so it would be neat to see this iterated upon!

[2021-04-08 18:42] TimothyBJacobs commented on #26154
IMO it depends on how compatible we are. Have we sorted those issues that the most popular widgets were running into? Things like CSS/JS not being enqueued properly, or listening for non-standard events? If not, I think it should probably be opt-in.

[2021-04-08 18:49] annezazu opened #30633 "[FSE] Hide Preview Button when Updating Design"
## What problem does this address?

When saving changes in the Site Editor, the preview button is still visible and hangs out slightly awkwardly behind the saving flow. If you save changes in the Post Editor, the preview button folds underneath the saving flow creating a smoother experience:

Post Editor:
<img width="400" alt="Screen Shot 2021-04-08 at 10 54 11 AM" src="https://user-images.githubu

[2021-04-08 18:49] gwwar commented on #28217
So what's essentially happening here is that the Buttons block has a default block of button. We automatically insert another button to help facilitate editing. I agree that this is pretty confusing behavior, when the parent container is not very visible and folks are removing items.

To help move this forward, what approach would be interesting to explore? To start with, a few that come to mind m

[2021-04-08 18:49] paaljoachim commented on #16958
Testing with WordPress 5.7. Twenty Twenty One. Gutenberg plugin 10.3.2.

I did notice this behavior:
Justify right then clicking the most right button moves the toolbar outside the canvas/layout area.

https://user-images.githubusercontent.com/5323259/114080617-e0022a80-98ab-11eb-91e3-54e6b83fdfcf.mp4

[2021-04-08 18:56] annezazu opened #30634 "Reconsider save and publishing flow for keyboard users"
## Description

After making a change to the site editor and clicking tab, a prompt shows to open the saving panel but the focus doesn't go to the prompt. This came up during a hallway hangout for the FSE outreach program. Props to @carolinan for finding it!

## Step-by-step reproduction instructions

1. Create/use a site with FSE capabilities.
2. Open the site editor.
3. Make a change and hit tab

[2021-04-08 19:01] gwwar commented on #17596
I tested this in Gutenberg trunk and I'm still seeing this issue:
<img width="305" alt="Screen Shot 2021-04-08 at 12 00 11 PM" src="https://user-images.githubusercontent.com/1270189/114081939-0bf8be00-9862-11eb-9683-35b19f7538fa.png">

[2021-04-08 19:06] annezazu opened #30635 "[FSE] Switching into template editing from post editor activates "apply" button without any changes"
## Description

After navigating to the template editing flow from a page or post, the "apply" button appears clickable even if no changes have been made leading to a dead end flow. This came up during a hallway hangout around the FSE Outreach program.

## Step-by-step reproduction instructions
1. Create/use a site with FSE capabilities.
2. Create a new post or page.
3. Save the post/page
4. In th

[2021-04-08 19:12] paaljoachim commented on #17305
Testing with WordPress 5.7. Twenty Twenty One. Gutenberg plugin 10.3.2.

This is what I see:

https://user-images.githubusercontent.com/5323259/114083271-0aa1b280-98af-11eb-92e4-2c121bae18e5.mp4

So it looks like it is working alright in Twenty Twenty One. But it could use some additional developer research.

[2021-04-08 19:17] gwwar commented on #17305
So one way of solving this might be triggering a recalculation once fonts have loaded. We might be able to use https://developer.mozilla.org/en-US/docs/Web/API/FontFaceSet to help with this. Though IE might need a polyfill or alternative method.

If it's a more general issue, we can try to recalculate using a different strategy. Something simple like wait for __unstableIsEditorReady ready might be

[2021-04-08 19:18] apeatling commented on #29243
I was able to reproduce this in the iOS simulator.

[2021-04-08 19:23] paaljoachim commented on #18866
Testing using WordPress 5.7. Twenty Twenty One. Gutenberg plugin 10.3.2

Clicking a link and removing the url. Then clicking outside of the link control box automatically adds the link back in again.
So yes one can not unlink items. Either one changes the link or one deletes the link.  (There still needs to be a way to add text into the menu.)

[2021-04-08 19:28] gwwar commented on #18866
I agree that it'd be good to allow folks to add text headings to help group navigation links. I do think we could let folks add this more directly, vs adding a link and then removing the url. For example in the inserter we might let folks pick adding a heading.

Were there any thoughts on this already? cc @jasmussen or @scruffian

 As a quick example Amazon does the following, to group links toget

[2021-04-08 19:44] hjvedvik commented on #28703
This worked for me:

php.ini
[code]
.wp-env.json
[code]

[2021-04-08 20:02] mkaz opened #30637 "Discussion: documentation handbook plans for site editing and beyond... 🚀"
What name should we use for developer documentation handbook for the Gutenberg projects?

This topic was raised first by @zzap in this [Make Docs post](https://make.wordpress.org/docs/2021/02/18/a-home-and-a-name-for-site-editor-documentation-full-site-editing-feature/) and then brought up again in this week's [#core-editor chat](https://make.wordpress.org/core/2021/04/07/editor-chat-summary-7-apr

[2021-04-08 20:05] shaunandrews commented on #18866
What purpose does "unlinking" a Link block serve?

As I see it, the Link block (and its variations) requires a URL to do its job. Once set, there's no way to remove a URL, only change it. This is intentional, and I'm not sure we should build a way to "unset" a Link block's URL without some greater purpose or workflow.

[2021-04-08 20:14] kwight commented on #29848
This quick close of the color control also happens if trying to use the [slider at the bottom](https://github.com/Automattic/wp-calypso/issues/51768).

[2021-04-08 21:00] AmandaRiu commented on #30625
Yup, definitely is. Looks like @dcalhoun already submitted a PR with the fix. I'll take a look at those.

[2021-04-08 22:25] fullofcaffeine opened #30640 "User autocompleter keeps trying to match when it shouldn't, slows-down the editor"
## Description

Related to the changes in #29939, which are somewhat incompatible with the UX for the user autocomplete.

Its triggers can happen anywhere and stay on the editor even after the completion is done. Once the autocompleter finds the trigger, it runs through its matching/querying algorithm, but then doesn't know when to stop. What happens is that the text after the trigger starts being

[2021-04-08 22:26] annezazu opened #30641 "[FSE] Show Template Part color settings when in isolated mode"
## What problem does this address?

Currently, if you are viewing an isolated template part, the usual block settings for that template part aren't viewable. You're not able to select the overall template part either to make specific changes to styling. Considering this is an isolated view, it seems one should actually be able to edit the entire template part even more directly including setting c

[2021-04-08 22:38] annezazu commented on #29697
@brentswisher seems like you were the last person who committed about this here! Might you be able to chime in?

[2021-04-08 22:42] fullofcaffeine commented on #30640
A first hotfix attempt was made in [this PR](https://github.com/WordPress/gutenberg/pull/30589). It happened to not be an ideal solution, so it was discarded, but it triggered an interesting discussion on how to properly address it.

[2021-04-08 22:44] annezazu opened #30642 "[FSE] Gradient color options greyed out"
## Description

When trying to set certain Global Styles, the gradient color options are greyed out making it impossible to see what colors you're selecting from.

This seems to have perhaps recently broken since I can see previous issues like https://github.com/WordPress/gutenberg/issues/28781 where this was working.

## Step-by-step reproduction instructions
1. Create/use a site with FSE capabil

[2021-04-08 22:51] critterverse commented on #26012
Hi all, very new to the project but just wanted to offer my top-level thoughts and congratulations on how far the work has come to revolutionize the experience of editing Widgets already.

As a designer, the instinct to simplify/streamline is strong, and I am hopeful that the standalone screen can go away.. eventually… in due time… 😂 From a user perspective — and maybe this goes without saying — i

[2021-04-08 22:51] annezazu opened #30643 "[FSE] Update "Customize" link from Appearance > Theme page for block themes"
## What problem does this address?

Currently, the customizer shouldn't be accessible when using a block theme. However, if you head to Appearance > Themes > Hover over current theme and you'll see the option to select "Customize" which will open the customizer:

<img width="580" alt="Screen Shot 2021-04-08 at 4 50 22 PM" src="https://user-images.githubusercontent.com/26996883/114105726-876e6580-9

[2021-04-08 23:04] #27957 closed

[2021-04-08 23:05] annezazu opened #30644 "[Global Styles] Color palette changes in Root should propagate to the By Block settings"
## What problem does this address?

If you remove or change the default color palette options in Global Styles (delete a default or change the name), those changes aren't propagated to the By Block settings. Here's a video showing this:

https://user-images.githubusercontent.com/26996883/114106684-8b02ec00-988c-11eb-8bd7-7fe3cf210d90.mov

## What is your proposed solution?

Have the color palette

[2021-04-08 23:05] noahtallen commented on #27957
Sorry for taking so long on this. It should be working on `trunk` now, and I hope we can release an npm update within a week

[2021-04-08 23:10] noahtallen commented on #28703
I think we should move forward with the `phpConfig` approach and set it up so that it could be different based on different environments in the future. Mapping `php.ini` is also a cool workaround, but I think we should support it in wp-env for the following reasons:

- Ideally, wp-env.json is all you need for the environment to work.
- If we just map the files, that doesn't leave a path towards su

[2021-04-08 23:15] glendaviesnz commented on #29243
If a breakpoint is inserted in iOS simulator then the panel remains open as expected, even if script is just continued as soon as breakpoint is hit, so maybe some sort of weird timing issue that the breakpoint interupts

[2021-04-08 23:21] noahtallen commented on #29929
@nerrad can you test to see if #30053 fixes your issue? I'm unfortunately unable to reproduce :/

Edit: now that #30053 has been merged, it'd be worth testing with trunk.

[2021-04-08 23:25] #30625 closed, assigned to dcalhoun

[2021-04-08 23:53] annezazu opened #30647 "[FSE] Remove ability to load a post within the site editor to prevent site editor inception"
## Description

Apologies for this strange title but I'm struggling to find the best way to explain this. Essentially, one is able to load the site editor within the site editor due to the fact that if you click on a link to a post within a query block while in the site editor, it loads the post as if you were viewing it on the front end.  cc @priethor as this seems pretty serious to fix.

## Step

[2021-04-09 00:27] noahtallen commented on #28201
I'm guessing that rewriting the URL format is related to the [line in the documentation](https://developer.wordpress.org/cli/commands/rewrite/structure/) which says "To regenerate a .htaccess file with WP-CLI, you’ll need to add the mod_rewrite module to your WP-CLI config." it could also be due to the wp-cli being a separate service from the one which serves requests.

Re: image uploads. I'm curr

[2021-04-09 00:36] #29814 closed

[2021-04-09 00:39] noahtallen commented on #28201
#30053 also fixed some permissions issues, so it'd be worth re-testing file upload. (The URL format is still broken though.)

[2021-04-09 00:48] noahtallen commented on #29776
What would your expected behavior be for a wp-env.json file with imports available? Should it only import content the very first time it runs? Or should it run the import every time you run `wp-env start`? I think both could be confusing in different circumstances 🤔

[2021-04-09 00:51] noahtallen commented on #29092
I don't think we'll implement this unless there is more support for adding it. At least for now, we want to keep wp-env more minimal, especially from a maintenance point of view (there are not very many wp-env contributors at the moment). It'd be super helpful to know your use case for this, though!

[2021-04-09 00:51] #29092 closed

[2021-04-09 00:57] noisysocks commented on #26012
What existing flows does the block-based widgets screen support?

Because the block-based widgets screen is a brand new screen built using the block editor, many existing flows involving the widgets screen will break. In other words, if we're going to consolidate these two screens, now is probably the time to do it 🙂

[2021-04-09 01:00] noahtallen commented on #27958
I tested a fresh install of Docker 3 on Windows 10 today and had no problems. It might be worth checking the docker configuration again -- I had some trouble getting docker running myself. I think I ended up having to switch to WSL2. You can test if the Docker daemon is detected with `docker ps -a` (which will error if things aren't working)

[2021-04-09 01:00] #27958 closed

[2021-04-09 01:08] noahtallen commented on #28680
I filed an upstream issue here: https://github.com/PDMLab/docker-compose/issues/129. I think it will need to be fixed there.

[2021-04-09 01:09] guarani opened #30648 "RNMobile: Add snapshot test to quote block on mobile"
## Description
Add a snapshot test for the quote block on mobile to catch bugs such as the regression caught in https://github.com/WordPress/gutenberg/issues/30548

[2021-04-09 01:28] fullofcaffeine commented on #30640
Had another try: https://github.com/WordPress/gutenberg/pull/30649.

[2021-04-09 02:03] noisysocks commented on #26012
What existing flows does a block-based Appearance → Widgets screen support?

Because the block-based Appearance → Widgets screen is a completely new screen, many plugins that use the old Appearance → Widgets screen will need to be updated. As one example, [this plugin](https://wordpress.org/plugins/custom-sidebars/) which allows users to add custom sidebars will need significant changes if it wish

[2021-04-09 02:13] noisysocks commented on #26012
I think we should seriously consider consolidating the two screens.

Right now, the block-based Appearance → Customize → Widgets screen already has several advantages over Appearance → Widgets:

- Easy discoverability of widget areas via Customize button which appears in toolbar of every frontend page.
- Real time preview.
- Changes can be saved as a draft.
- Changes can be scheduled.
- Changes ca

[2021-04-09 02:34] #30548 closed, assigned to nobody

[2021-04-09 03:44] noahtallen commented on #27783
@ZebulanStanphill I think the warning part of that message was fixed by https://github.com/WordPress/gutenberg/pull/28840 -- could you verify if you still get a different error there?

[2021-04-09 03:46] celloexpressions commented on #30400
There is some history of exploring undo/redo in the customizer globally. It would be best to implement this functionality throughout the customizer so that widgets inherit that functionality, instead of only building it out for widgets. I also think adding block editing in the customizer greatly increases the need for undo/redo.

There are two types of undo/redo: step-by-step during editing and ba

[2021-04-09 04:04] celloexpressions commented on #26012
I have been strongly in favor of merging the two interfaces for a long time. The "manage with live preview" link, and various other link adjustments were initial steps in that direction. The separate widgets screen generally still exists because some people are accustomed to it and there are potential backwards compatibility issues with removing it. The same goes for the menus screen (and my propo

[2021-04-09 04:52] carolinan commented on #30634
I am not sure that this prompt is even needed:

1. It assumes that the user wants to save as soon as the edited block is no longer in focus. They may want to create or edit more than one block before saving.
2. It assumes that the user has not already closed the save panel on purpose.

[2021-04-09 05:06] carolinan opened #30653 "FSE: Post attribute template select list shows the template slug, not the title"
## Description

In Gutenberg 10.3, templates listed in the theme.json file are available in the template select list in the document sidebar, with the title visible:

![Select list of template titles](https://user-images.githubusercontent.com/7422055/114130409-cfc86a80-9900-11eb-85b1-cb2863e2adf7.png)

In current trunk, the select list shows the slug of the templates listed in the theme.json, not

[2021-04-09 05:09] carolinan commented on #30647
Ah, have seen this with some of the site blocks, and the short term, single block fix, was to disable clicking on the link, or use the disabled component.
https://github.com/WordPress/gutenberg/pull/29564#issuecomment-813242600

[2021-04-09 05:17] #27028 closed

[2021-04-09 05:43] jasmussen commented on #18866
A few things have changed since this ticket was created, here's a fresh look:

![current status](https://user-images.githubusercontent.com/1204802/114133547-82e79280-9906-11eb-9f30-9d69479cc689.gif)

Notably, there's a new menu item placeholder state which does not allow you to edit a label until a link has been added. By adding this we're implicitly saying: a menu item without a link is useless.

[2021-04-09 06:07] aristath commented on #29687
I posted the same reply on Slack where this was discussed, but posting here as well for posterity.
Since a template is just a collection of blocks, when a theme gets updated it doesn't matter what changes the theme does... Theme templates are just "presets", that the user can then customize if they want.
If a site-owner has customized their templates, then they want these templates to stay as they

[2021-04-09 06:26] talldan commented on #30621
@johnbillion It looks like you're right that the `Button` react component does indeed have an undocumented text attribute.

However it's unrelated to do with the `core/button` block, which is implemented as a `RichText` anchor tag. Would you be able to update the issue description to remove mention of the block?

[2021-04-09 06:41] draganescu commented on #26163
Well, for one I am thinking of how the same thing in the customizer looks, once in the sidebar once in the preview.
It does not look like a critical issue but it is a great enhancement.

Also, overall, we should aim to solve this problem wherever we use block editors. It is a great opportunity to bump into limitations of Gutenberg and fix them. The block editors try very hard to be as close as pos

[2021-04-09 07:34] jasmussen commented on #28217
My first instinct was to disallow removing the last Button in a Buttons block. However this won't work for us: due to the nesting, it isn't necessarily super obvious that the _container_ has to be removed also.

I think what we should consider is to do what the Group block does:

![group](https://user-images.githubusercontent.com/1204802/114145225-7cf9ad80-9916-11eb-8e6e-a5aee88302a2.gif)

When em

[2021-04-09 07:36] talldan opened #30655 "wp-env: No longer working with a local checkout of WordPress"
## Description
wp-env was previously useful for core development. It was possible to checkout a local version of WordPress (for example, from the wordpress-develop repo) and change the core setting in the wp-env config to point to the build folder.

That seems to have stopped working recently. I'm now seeing the `wp-env start` command fail with:
[code]

@tellthemachines also mentioned that the env

[2021-04-09 07:41] Luehrsen commented on #29776
For our usecase we would prefer a 'seeding' of the database on install/first run so we can run e2e tests or provide the dev with a set of content to work with.

[2021-04-09 08:09] johnbillion commented on #30621
Looks like I got confused here. Thanks Dan. I've updated the issue.

[2021-04-09 08:35] gziolo commented on #30356
Yes, it needs an upstream change in WordPress core. We should move it to WordPress trac.

[2021-04-09 08:35] paaljoachim commented on #15916
I have browsed through the above comments... Brainstorming coming up.

**Backing up for a moment.**
To be able to replace the current Widget screen with the new it needs a lot of testing from widget plugin creators in a call for testing.
When the new widget screen replaces the old. When someone has a problem they should be able to easily report the bug AND also with a switch of a button/toggle/etc

[2021-04-09 08:40] gziolo commented on #30356
Ticket in WP trac filed: https://core.trac.wordpress.org/ticket/53006. I will close this one. Let's continue there.

[2021-04-09 08:40] #30356 closed, assigned to gziolo

[2021-04-09 08:59] javierarce commented on #30426
I think it's a good idea to place the delete button at the end of the sidebar, not exactly because of the possible confusion with the Save flow (which is addressed by the dots and the disabled state of the save button in [this issue](https://github.com/WordPress/gutenberg/issues/30322)), but because of its destructive nature (and also because "Delete menu" is not really a setting).

Here's my prop

[2021-04-09 09:38] jameskoster commented on #29687
Circling back to the OP, I think we can reuse the exact UI that has been merged for Templates to satisfy this requirement:

<img width="297" alt="Screenshot 2021-04-09 at 10 37 47" src="https://user-images.githubusercontent.com/846565/114161223-ba166d80-991f-11eb-8382-f66b79de8d49.png">

[2021-04-09 09:41] moorscode opened #30657 "Post title special characters are encoded in Site Editor"
## Description

When creating a post with special characters in the title, for example: three dots (...)
It will not be displayed as dots in the Site Editor menu when navigating to the posts list.

This is also true for taxonomies.
There is a difference between adding it on the category overview page and saving it afterwards.
As described in the reproduction steps below.

## Step-by-step reproduct

[2021-04-09 09:43] draganescu commented on #26012
My main concern with deprecating the standalone editor is that we may be boxing ourselves in, while also possibly miss out on the options open by upgrading widget areas with blocks support.

Widgets living alongside blocks are a great opportunity to  build upon. What today is sidebars, next year could become block areas, or block templates. Upgrading "sidebars" to "block templates" that are immedi

[2021-04-09 09:50] jameskoster commented on #29630
Distilling this down in to actionable tasks:

- Remove top level "Site Editor" menu item from the wp-admin navigation
- If a single block template part assigned to the header `area` exists, add a "Header" menu item under Appearance which links to the isolated editing view for this template part.
- If _multiple_ block template parts exist that are assigned to the header `area` add a "Headers" menu

[2021-04-09 09:57] draganescu commented on #26154
It is still not clear to me if awesome back compatibility is hard or impossible, @noisysocks. I remember some time ago you were musing around with using an `iframe` for the Legacy Widget's edit form. I know that block just got revamped, is that still an option?

We should aim to support all the widgets that have used standard, documented ways to extend the widgets screen or editor forms, and not s

[2021-04-09 10:12] Sandstromer commented on #30647
For Full Site Editing to be truly full site editing, clicking a post title/link should stay within the Site Editor, surely?

Otherwise it is not full site editng, it is merely part-site editing.
The post editing experience inside of the Site Editor should be improved, rather than disabling links or taking the user out of the Site Editor.

[2021-04-09 10:19] spacedmonkey commented on #26154
I think that this function should be opt-in via a `add_theme_supports`. Changing how widget work / are rendered, could / wil; break a lot of sites. We should work to make the core themes support these new block widget areas completely and use them as a good example for other theme / widget developers.

Making the feature opt-in will give developers of widgets, time to upgrade / fix issues with the

[2021-04-09 10:21] Sandstromer commented on #30644
Maybe related issues: https://github.com/WordPress/gutenberg/issues/29802 https://github.com/WordPress/gutenberg/issues/29818

[2021-04-09 10:45] nerrad commented on #29929
Yeah I'll try to do this sometime today or over the weekend and let you know.

[2021-04-09 10:49] javierarce opened #30659 "Navigation Editor: Add visual cues for the menu and page list items"
I've noticed that the interface lacks some visual cues (ie: highlights) in a couple of places:

- When the user hovers the main menu after it has been created
- When the user hovers the main menu in general
- When the user hovers a list of pages

This lack of feedback from the UI makes the discoverability of the edit options a bit difficult (for example, I had some trouble discovering the main sid

[2021-04-09 11:06] aristath commented on #30121
In my experience, `fixed` is a bit... troublesome, especially in a responsive world 😅 Maybe we could use `sticky` instead?

[2021-04-09 11:38] carolinan opened #30660 "Navigating columns with arrow keys is not intuitive"
## Description

The following was reported during user testing on April 9 2021.

"When navigating within a columns block, I expected that using the left/right arrow keys would allow me to switch between columns.
Instead, using these keys, focus is moved to the block inside the first column.

When a columns block is selected and you use the down arrow key, the first column is selected.
Press the do

[2021-04-09 11:40] ntsekouras commented on #30580
Hey @gwwar 👋 - It seems like a local setup problem with the `500` error, indicating that site editor didn't load? 🤔

For me it works as expected in trunk with both interactive and non mode.

[2021-04-09 11:55] ockham commented on #30478
Yeah, apologies for that -- I didn't see the relevant info being rendered anywhere else, so it was a bit hard to repro otherwise 😅

Here's a way to repro (albeit through running a unit test -- so there's potentially a chance that the unit test is flawed):

Apply the following diff, and run `npm run test-unit-php -- /var/www/html/wp-content/plugins/gutenberg/phpunit/class-block-templates-test.php`:

[2021-04-09 12:00] aristath commented on #30643
Not a TT1 issue, I can confirm this applies to all block-based themes.
I haven't looked at it, but maybe some things are just easier done in WP-Core instead of running in circles with filters from the plugin 😆

[2021-04-09 12:08] aristath commented on #30657
Related PR: #30661

[2021-04-09 12:09] priethor opened #30662 "Full Site Editing Gradual Adoption"
Milestone 7 of the [Site Editing project](https://github.com/WordPress/gutenberg/issues/24551) comprises a series of subprojects aiming for its gradual adoption, allowing classic themes to make use of some new block features without the need of fully migrating to block themes all at once. This reduces the gap between classic and block theme experiences, while at the same time providing classic the

[2021-04-09 12:09] ockham commented on #30478
So judging from those call stacks, it seems the relevant callsites for `WP_Theme_JSON_Resolver::theme_has_support()` that happen when `get_stylesheet_directory()` still returns the default theme are

https://github.com/WordPress/gutenberg/blob/b6272d9d36b99aa10abcfe815aa407c89d2ef359/lib/client-assets.php#L364

and

https://github.com/WordPress/gutenberg/blob/b6272d9d36b99aa10abcfe815aa407c89d2ef3

[2021-04-09 12:11] priethor commented on #24551
Created and linked an overview/tracking issue for _Milestone 7: Gradual adoption_ #30662

[2021-04-09 12:12] jhume commented on #29711
We are having the same issue.  Is there a workaround?  It's a major problem when pages can't be saved...

[2021-04-09 12:46] carolinan opened #30663 "Youtube and Vimeo embeds do not work in the site editor"
## Description

Youtube and Vimeo embeds that are added in the site editor does not work.
The video is not showing.

In Firefox, the caption toolbar is sometimes overlapping the block toolbar.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Activate a full site editing theme
2. Open the site editor
3. Add a youtube or vimeo embed. See

[2021-04-09 12:53] #29260 closed

[2021-04-09 13:21] jameskoster opened #30665 "Block parent selector should acknowledge semantic template part data"
If you select a block inside a semantic template part like a header, the parent selector that appears adjacent to the toolbar should display the appropriate icon, and the tooltip should include the appropriate name rather than the generic "Template Part" label.

Here's a screenshot of the current experience:

<img width="1335" alt="Screenshot 2021-04-09 at 14 17 30" src="https://user-images.github

[2021-04-09 13:24] oandregal commented on #30082
According to the [latest work](https://github.com/WordPress/wordpress-develop/pull/1118), it looks like the next steps for this are:

1. Make sure https://github.com/WordPress/wordpress-develop/pull/1118 and https://github.com/WordPress/gutenberg/pull/30245 land.
2. Use the top-level settings of theme.json to set the current block editor settings (do not [unset them](https://github.com/WordPress/g

[2021-04-09 13:36] ockham commented on #30478
If I load WP in the browser with the above patch, both "early" callsites (`lib/client-assets.php` and `lib/global-styles.php`) actually do "see" TT1 Blocks, rather than the default theme. So it's arguably an issue with unit tests.

[2021-04-09 13:42] MatzeKitt commented on #29711
For me it has been fixed with the update to WordPress 5.7.

[2021-04-09 13:42] javierarce commented on #30581
If I'm not mistaken, it seems this was inadvertently broken [by this fix](https://github.com/WordPress/gutenberg/commit/3848806ccc7b8a65778366e80af7ea63258538d4?branch=3848806ccc7b8a65778366e80af7ea63258538d4&diff=unified#diff-ae55a6ec543d38a6eb50a20cd99a9bef8efa84fc50832086360fe4afb5454c92L8) (from [this issue](https://github.com/WordPress/gutenberg/pull/20824)) that improved the style of the com

[2021-04-09 13:54] mkaz commented on #30584
@carlomanf It is not a matter of trying to ban users from doing something or strip functionality, it is a matter of only showing UI that works in the interface and adding it back in when it is properly functional.

I agree that it would be nice to draft and schedule pieces, there's [a ticket for that here](https://github.com/WordPress/gutenberg/issues/29575), but we should wait to show those field

[2021-04-09 13:55] ockham commented on #30478
I tracked the stacktrace for those two back a bit further: It goes back to https://github.com/WordPress/gutenberg/blob/2aefc5b0a587e0839ec67615e2c7fb94f89af6dc/phpunit/bootstrap.php#L84 which I think loads this file from `wordpress-develop`: https://github.com/WordPress/wordpress-develop/blob/234c2b52ccf584cb93dce0eaf17431310b1d7458/tests/phpunit/includes/bootstrap.php

Edit: The latter file comes

[2021-04-09 13:57] ockham commented on #30478
This could be relevant?
https://github.com/WordPress/gutenberg/blob/2aefc5b0a587e0839ec67615e2c7fb94f89af6dc/packages/env/lib/wordpress.js#L86-L110

[2021-04-09 14:01] priethor opened #30668 "Template Part block should not be available in the Post Editor inserter"
## Description
As of 10.4-RC1, Template Part blocks can be added to the Post Editor in the same way reusable blocks can be added. However, template parts can only be created from the Site Editor.

This issue is related to #30669, which presents the opposite logic for reusable blocks. Original discussion in #30308

## Step-by-step reproduction instructions

1. Go to 'Site Editor'
2. Select any bloc

[2021-04-09 14:05] priethor opened #30669 "Reusable blocks can't be inserted in the Site Editor"
## Description
As of 10.4-RC1, Reusable blocks can't be inserted in the Site Editor.

This issue is related to #30668, which presents the opposite logic for template parts. Original discussion in #30308

## Step-by-step reproduction instructions

1. Go to the post editor.
2. Select any block and click on "Add to reusable blocks"
3. Go to the Site Editor.
4. Open the inserter and look for the recen

[2021-04-09 14:07] ockham commented on #30478
I wonder if that means that the [phpunit container](https://github.com/WordPress/gutenberg/blob/2aefc5b0a587e0839ec67615e2c7fb94f89af6dc/packages/env/lib/build-docker-compose-config.js#L241-L257) isn't using the `phpunit-wp-config.php` copy of `wp-config.php` (without the `require_once ABSPATH . '/wp-settings.php'` call) [as it apparently should](https://github.com/WordPress/gutenberg/blob/2aefc5b

[2021-04-09 14:16] antonis opened #30672 "Mobile: Android: Pasting formatted text crashes the editor"
## Description
Pasting formatted text crashes the editor on **Android**. This crash seems to occur after the introduction of the [Transform Block functionality](https://github.com/WordPress/gutenberg/pull/28453).

**Note:** The issue has emerged by the failing test (`Gutenberg Editor paste tests copies styled text from one paragraph block and pastes in another`) in the [Dependabot Bump gutenberg P

[2021-04-09 14:22] javierarce commented on #30579
I agree with you: the link is a bit buried in there. I think the reason for that is because it's part of a component that includes the input above (i.e. if you update the URL Slug the link is updated), so I'm not exactly sure how easy it would be to decouple both elements and move the View Post link elsewhere.

[2021-04-09 14:25] priethor commented on #30308
It seems the expected behavior should be the opposite as right now:
- Template parts should be available only in template editors (#30668).
- Reusable blocks should be available in both the post editor and template editors (#30669).

I suggest we close this as a discussion issue in favor of those 2 separate issues.

[2021-04-09 14:29] aadi704 commented on #30508
Here are some of the ideas :
![Frame 7Blue](https://user-images.githubusercontent.com/47731436/114195057-c32e2b80-996d-11eb-87c6-5f343030cbdc.png)
![Frame 8Orange](https://user-images.githubusercontent.com/47731436/114195178-dd680980-996d-11eb-85ed-8d34a3ebd823.png)
![Frame 9Green](https://user-images.githubusercontent.com/47731436/114195304-f96bab00-996d-11eb-9f06-44966199ae94.png)

[2021-04-09 14:35] aaditya704 commented on #30508
Here are some more ideas:
![Frame 7Blue](https://user-images.githubusercontent.com/40461868/114196251-d1c91280-996e-11eb-830a-e86e42db1957.png)
![Frame 8Orange](https://user-images.githubusercontent.com/40461868/114196298-dbeb1100-996e-11eb-9713-fb03523c35d7.png)
![Frame 9Green](https://user-images.githubusercontent.com/40461868/114196328-e3aab580-996e-11eb-986e-599c3034049c.png)

[2021-04-09 14:48] 0aveRyan commented on #29687
@aristath I hear what you're saying and I agree with much of it. However, I do think this differs from the existing parent/child scenario in a way that affects both "Clear customizations" that @jameskoster originally pointed out and the separate but related issue of "updates available."

* The barrier to entry for customizing a Theme is being radically lowered here. We are encouraging and empoweri

[2021-04-09 14:57] priethor opened #30674 "Navigation: Add an API to retrieve content-only inner blocks"
## What problem does this address?
As of 10.4-RC1, the Navigation block allows different kinds of inner blocks, from the most basic Navigation Link to the Search block, including layout-building ones like the Spacer block.

Because of this, obtaining a structured, link-only page hierarchy from a Navigation block (for example, to create a sitemap) is not as simple as gathering all inner blocks, as

[2021-04-09 15:05] ockham commented on #28703
I agree that's the premise that `wp-env` is built on. I still think it's a fallacy 😬  I'll elaborate below...

My point is, they wouldn't. I agree that we want to give people simple recipes to follow, which don't require them to learn about the underlying tooling. But I think that can be done just as fine if we remove the `wp-env` abstraction layer, and expose them directly to `docker-compose`.

W

[2021-04-09 15:05] gwwar commented on #30580
I took a screenshot of a failing CI build in trunk, re-running the job cleared it up, but wanted to document the flakeyness

[2021-04-09 15:29] priethor commented on #27593
Added "_Add an API to retrieve content-only inner blocks_"  #30674 to the list

[2021-04-09 15:30] kwight commented on #29848
![2021-04-09 08 26 00](https://user-images.githubusercontent.com/349751/114204225-cbef1500-990d-11eb-94e2-4f4f25efbd09.gif)

[2021-04-09 15:50] nerrad commented on #28478
@glendaviesnz #30667 just got merged that should fix this. Do you want to try it and confirm?

[2021-04-09 16:04] priethor opened #30679 "Extend the Block.json specification to be able to restrict blocks to particular templates"
## What problem does this address?
With the addition of theme blocks such as Archive Title block, Term Description, or Post Categories among others, the inserter offers, both in the post and template editors, a number of blocks that don't work as intended unless they are inserted in specific templates. For instance, an Archive Title block should only be available when editing an archive template.

[2021-04-09 16:06] annezazu commented on #30634
Great points. I'll flag this for the accessibility team to see if we can get more thoughts here!

[2021-04-09 16:29] javierarce opened #30680 "BlockPreview should render styles"
## Description

While reviewing [this issue](https://github.com/WordPress/gutenberg/issues/30108) we noticed that the previews in the Full Site Editor (FSE) template sidebar don't truly represent the design in the editor.

The reason seems to be that the [BlockPreview](https://github.com/WordPress/gutenberg/tree/2e6676a342344e27515b7c8c953755b353fd693b/packages/block-editor/src/components/block-pr

[2021-04-09 16:37] ghost commented on #8901
Would this be the same for captions on tables? Alignment should work in the editor.

[2021-04-09 16:43] #30672 closed, assigned to nobody

[2021-04-09 16:48] shaunandrews commented on #30426
I'm not sure it needs to have it's own accordion or all the copy around it. Here's a few ideas:

<img width="1220" alt="image" src="https://user-images.githubusercontent.com/191598/114214050-d4594700-9931-11eb-8018-eba4e3faac17.png">

[2021-04-09 16:59] joedolson commented on #30634
I just tested this, and in my test the keyboard focus *did* move to the save prompt, although the visible focus was not obvious to me - the focus state of .is-secondary buttons doesn't really look focused unless you *also* saw the button prior to receiving focus.

I think that a prompt that indicates that there are dirty posts that need to be saved is important, but I think that it should be persi

[2021-04-09 17:21] ianstewart opened #30682 "Social Icons Block: Unexpected double border when inserting icon"
## Description

When inserting an icon using the Social Icons Block an unexpected double-border appears.

## Step-by-step reproduction instructions
Please list the steps needed to reproduce the bug. For example:
1. Create a new page.
2. Insert the Social Icons Block via / command.
3. Select an Icon.

## Expected behaviour

- A square border wrapping around the boundary of the icon.
- Or a rounded