[2022-10-29 06:04] sharukhkhanajm commented on #45294
Hi, @annezazu I just checked it and it seems to work fine.
The only odd thing is the outline.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/47321682/198816520-2206c30d-a924-436d-b583-fae1c4442ab0.png">

[2022-10-29 06:32] annezazu commented on #45294
@sharukhkhanajm can you clarify what WordPress version you're using and/or Gutenberg? That still looks broken to me for what it's worth :)

[2022-10-29 06:44] sharukhkhanajm commented on #45294
@annezazu
WP version: `6.0.3`
Gutenberg ( forked from GitHub ): `14.4.0`

[2022-10-29 08:50] t-hamano opened #45399 "File Block: Missing backward compatible styles for classic themes"
### Description

In #41822, the button element styles were moved from each block to `theme.json`. And the style for representing the download button in the file block has also been removed from the block's stylesheet. Since there are no backward-compatible styles for the file block, classic themes without theme.json will apply unnatural styles:

- The button-like style of the download button is lo

[2022-10-29 10:16] Nyota opened #45400 "Paragraph within "Post Excerpt" and "Post Author" block takes on styling from Paragraph block"
### Description

When I style the typography for Post Excerpt (change font size, line height or appearance) the CSS is added inline to the wp-post-exceprt block, not the `<p>` within the block. So the Post Excerpt CSS does not override the global `<p>` CSS.

I should add that the theme I'm experimenting with has core/paragraph settings defined in the "styles > blocks" section of the theme.json fil

[2022-10-29 13:16] dennisheiden commented on #38599
Looks like that behavior was necessary due the lack of mobile block settings on implementation. The block works fine with just top level menu items but looks very unfinished and outdated on mobile mode.

[2022-10-29 13:54] t-hamano commented on #44937
I have found one clue.
The results of `fast-glob` are different between Windows and Linux.

https://github.com/WordPress/gutenberg/blob/3c9a0207f51d731ff4d8cfbfa69daa16f797639f/packages/scripts/utils/config.js#L207-L214

`blockMetadataFiles` returns an array of **simlink paths on Windows** and an array of **resolved paths on Linux**.

`realpathSync` resolves symbolic paths, which I believe is the

[2022-10-29 14:24] t-hamano commented on #45218
Thank you for your contribution.
I have edited your comment and formatted the code presented to make it easier to tackle this issue.

[2022-10-29 14:36] t-hamano commented on #44808
Thank you for your contribution.

I too think limiting the max number is a good idea. I have confirmed that if I try to create a table with huge row/column numbers, the block editor freezes and causes a out-of-memory error.

[2022-10-29 15:57] simom opened #45402 "getThemeSupports doesn't recognize custom theme supports"
### Description

I've added a custom theme support in the theme and inside a custom block, created with the create-block functionality, if I try to access to the getThemeSupports data only the core defined supports are returned.

### Step-by-step reproduction instructions

To access the theme supports I've used:
[code]
In the functions.php file of the theme (tested on TwentyTwentyThree), I've adde

[2022-10-29 21:14] alexstine commented on #45396
@annezazu Can you try to track someone down to work on this one?

[2022-10-30 02:24] t-hamano commented on #45381
@sharukhkhanajm

Thank you for your interest in this issue.
`HStack` is a component for arranging child elements horizontally in a Flex layout. For a grid layout, the [Grid](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/grid) component would be appropriate.

Alternatively, I believe that the following style could be applied to the label to solve the issue:

[code]

[2022-10-30 02:34] sharukhkhanajm commented on #45381
@t-hamano

Thanks for the new CSS properties they look appropriate in this case.
since I am new to contributing to this project will you make these changes or i can do that?

[2022-10-30 03:01] efc commented on #25216
I am also encountering this with a block whose parent is set to `templateLock='insert'`. This is a real problem for recovering from minor updates. We need some way to temporarily ignore the template locks while a recovery is in process.

[2022-10-30 03:39] t-hamano commented on #42246
@andersnoren

Thank you for your contribution.

I have tested this issue again and #43295 seems to have resolved it. At least it works as expected on Twenty Twenty Three and Twenty Twenty Two. However, if the theme has the hard-coded font size into the `p` or `cite` elements, it will not work as expected. I believe this is an issue to be resolved by the theme.

Therefore, I would like to close thi

[2022-10-30 03:39] #42246 closed, assigned to nobody

[2022-10-30 07:31] word-x commented on #36036
@talldan will this be fixed in wordpress 6.1? We tried 6.04. It still the same that Navigatioin menu can't be edited either in Block editor or in classic textarea.

[2022-10-30 11:32] Marc-pi opened #45404 "List: allow indenting with Tab"
## What problem does this address?
It is not possible to ident Lists quickly with tabs keyboard button.
The only way actually is to use the toolbar button.
It is a major need for all of us that are daily building contents with WP FSE.

- I've checked within the issue tracker in Gutenberg Plugin backlog,
- I've checked also in Gutenberg 14.4/14.5
- I did not find quickly the List v2 Roadmap, maybe

[2022-10-30 14:52] gabbsmo commented on #43053
Just want to point out that this also applies to shortcodes in block content such as paragraphs as well, not just the shortcode block.

While I understand that blocks are the future, shortcodes are currently the only way to inline dynamic content.

Example:
[webinar_start_date] at [webinar_start_time]-[webinar_end_time]

1 December 2022 at 9 am-10 am

[2022-10-30 21:37] codebykat opened #45408 "Paste handler: No way to support non-image file types"
### Description

We have some custom media blocks over on Day One and I'm attempting to support uploads via paste and drag and drop.

Adding a raw handler transform works fine for the image block, since the paste handler finds the transform and passes it through. However, I can't generalize this code to support video/audio/pdf, because it turns out the file paste handler [only allows image files t

[2022-10-30 23:20] talldan commented on #45358
@walter74ucla By default templates aren't locked and are editable, including being able to insert blocks before, within or after the template.

You can define `$post_type_object->template_lock = 'all'` or `$post_type_object->template_lock = 'insert'` to prevent blocks from being inserted.

[2022-10-31 00:48] talldan commented on #36036
@word-x The issue is closed, there are no changes in WordPress 6.1. For 6.1 menu editing will still take place in the site editor. I realise the Manage Menus feature is a bit limited, it was mostly included to provide an easier way to delete menus.

There is a [separate issue](https://github.com/WordPress/gutenberg/issues/37950) for tracking editing menus. It's currently planned for 6.2. You can s

[2022-10-31 03:27] andrewserong commented on #45194
Thanks for the ping! Yes, from the discussion so far, it sounds like the style engine feature set seems to be fairly separate from this. The relationship between block supports and the style engine is that the style engine receives the style object and a selector, and passes back or enqueues CSS rules. So for blocks that skip serialization, they can call the style engine directly with the CSS decl

[2022-10-31 03:54] word-x commented on #36036
Thanks. Could you give us a hint on how to enable the editing (post content textarea ) of wp_navigation type? We need to have a temporary way to do that. Such as a hook in function.php.

[2022-10-31 04:58] ramonjd commented on #45194
Also a big +1 from me. 😄

On the topic of skip serialization and block supports and their relationship to the style engine, we have a little info about it  in the docs:

https://github.com/WordPress/gutenberg/blob/trunk/packages/style-engine/docs/using-the-style-engine-with-block-supports.md#checking-for-block-support-and-skip-serialization

[2022-10-31 05:25] talldan commented on #36036
@word-x This is the code that disables it:
[code]

 You should be able to reverse this by adding similar code but calling `add_post_type_support` instead of `remove_post_type_support`.

 Note that the editor probably won't work properly. Editing in the code editor mode would be your best option.

[2022-10-31 06:37] kevin940726 commented on #44418
Maybe we can learn from Google Sheets and only provide a single "copy" action but provide several "special paste" actions.

![image](https://user-images.githubusercontent.com/7753001/198945936-a6290a12-a3c9-4b4b-8f7d-3a0c65c8478b.png)

This works by copying the whole block along with the styles into the clipboard, and deciding which part to paste depending on user intentions (both, block only, sty

[2022-10-31 07:08] talldan commented on #44581
In this situation I think it'd be checking a container block's contents (i.e. group block) and comparing it to a pattern to see if it's a like for like swap. Would you be able to determine the block types that have the content role within a group and then check for the same block types in a pattern?

[2022-10-31 08:58] ellatrix commented on #45404
We will add Tab. Requires better methods to navigate in the editor though. See https://github.com/WordPress/gutenberg/pull/45157#issuecomment-1291720149.

[2022-10-31 09:53] jameskoster commented on #36207
What to display in the top bar still doesn't feel very clear. Probably fine to close this :)

[2022-10-31 09:53] #36207 closed, assigned to nobody

[2022-10-31 10:03] getdave commented on #38278
@word-x I have documented a solution to [accessing Navigation block inner blocks in this video](https://www.youtube.com/watch?v=cSzbouojmhI). I hope that helps?

The menus are blocks so the best medium for editing them is in a block editor. You might like to review[ this Issue which tracks the need to have the ability to edit menu items in isolation](https://github.com/WordPress/gutenberg/issues/3

[2022-10-31 10:13] word-x commented on #36036
Thanks for your help.

[2022-10-31 10:30] jameskoster commented on #44418
Thinking about this a little more, I'm not sure 'Paste block' is an action we want to add to this menu just yet.

This makes me lean towards @javierarce's [original design](https://github.com/WordPress/gutenberg/issues/44418#issuecomment-1281171238) with the three actions

* Copy block
* Copy styles
* Paste styles

The styles action could be grouped under a flyout in the future, but it's not essen

[2022-10-31 10:31] getdave commented on #23745
Relaying some [feedback from my YouTube channel](https://www.youtube.com/watch?v=0mUrwyyw-8I&lc=UgyAQEZDkFPIew4VcN94AaABAg):

It seems the demand for this feature is still strong.

[2022-10-31 10:39] jameskoster commented on #44581
The footer example would be strange, although if the footer pattern only contains a paragraph it might be visually appropriate. In practise, a footer will likely contain a site title, site tagline, navigation, or some other content block which should prohibit it from appearing.

[2022-10-31 11:00] hamishmb commented on #44117
I can't reproduce this any more, so whatever the problem was, it has gone away.

[2022-10-31 11:00] #44117 closed, assigned to nobody

[2022-10-31 11:17] Mamaduka commented on #45363
@strarsis, on the site front page, WordPress will always use the `front-page.html` template file if it exists.

You can see how the front page hierarchy works on this documentation page: https://developer.wordpress.org/themes/functionality/custom-front-page-templates/#template-hierarchy-of-custom-front-page.

[2022-10-31 11:33] Mamaduka commented on #45402
Hi, @simom

The custom theme support needs to be properly registered for it [to be available via REST API](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/rest-api/endpoints/class-wp-rest-themes-controller.php#L294-L298).

## Example

[code]

See `register_theme_feature` method for more details: https://developer.wordpress.org/reference/functions/register_theme_feature/

[2022-10-31 11:37] simom commented on #45402
Hi @Mamaduka,
thanks for reply, I forgot to mention this part, yes, I've added the support with the `register_theme_feature` but it doesn't show in the themeSupports object.

[2022-10-31 11:41] Mamaduka commented on #45402
That's odd, I'm not able to reproduce the issue. I can see the custom theme feature returned by the selector.

## How to test
Run the following code in the DevTools console while in the post editor:

[code]

## Screenshot
![CleanShot 2022-10-31 at 15 39 32](https://user-images.githubusercontent.com/240569/198999805-c5bfa6a7-c113-47af-ae6d-89a369c2a777.png)

[2022-10-31 11:47] simom commented on #45402
Still can't see the support, I'm using the TwentyTwentyThree theme, and in the functions.php file I've the following code:
[code]

[2022-10-31 11:53] Mamaduka commented on #45402
I believe that's the issue. The [`setup_theme` action runs](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-settings.php#L544) before `functions.php` is loaded, so your action callback won't run.

If you've to use the `functions.php` file, try using the `after_setup_theme` hook for registering theme features with lover priority, like 1 or 0.

[2022-10-31 11:56] simom commented on #45402
Oh, my bad, thank you so much for your help!

[2022-10-31 11:56] #45402 closed, assigned to nobody

[2022-10-31 12:00] jameskoster commented on #45371
This looks like a good first iteration!

Should it be possible to export a single variation? I'm curious what that would look like. Similarly should it be possible to delete custom styles? I can see that section becoming a bit unwieldy otherwise.

Do we definitely need a separate 'Custom styles' section? I wonder if we could do something similar to templates, where customised theme files are marke

[2022-10-31 12:16] dcalhoun opened #45415 "iOS Voice Control does not work for nested text inputs"
## Description

iOS [Voice Control](https://support.apple.com/en-us/HT210417) commands to not function properly when focusing a nested text input, e.g. a Paragraph within a Columns block. This was originally reported in https://github.com/wordpress-mobile/WordPress-iOS/issues/19175, which included additional contexts where Voice Control failed.

## Step-by-step reproduction instructions

1. Activa

[2022-10-31 12:16] jasmussen commented on #45371
There's a delete button in the last mockup. Each action is meant to apply to the currently active/selected style. But perhaps the context isn't clear enough? Maybe we need ellipses on each style then? 🤔

Might work, yes! Except ...

There's a throughline here. By having separate Custom and Unsaved Styles sections, you'd never lose your work by switching to another, which is currently the case.

I

[2022-10-31 12:19] tyxla commented on #12907
Thanks for the ping @Mamaduka!

I took a look at the conversation above, and did some testing, and I was unable to reproduce any of the following bugs reported above:

* Multiple hyphens in a slug (fixed in https://github.com/WordPress/gutenberg/pull/44873)
* Colons / exclamation marks being included in slugs.

In general `remove-accents` is meant to be a clone of the WP `remove_accents()` functio

[2022-10-31 12:19] AlanBell opened #45416 "twitter profile verification"
## What problem does this address?
link verification in the profile is great for blogs and sites where you can put a rel=me link, but it would be good to cross verify to twitter in a low friction way.

## What is your proposed solution?
expand services/verify_link_service.rb so that if a twitter handle is present, such as @sometwitteruser it will check twitter to see if the current name for that h

[2022-10-31 12:24] mtias commented on #30142
Can we try with a separator between the blocks section and the custom CSS one? In that case, custom css could use an icon. Within the panel, the font-size in the text area seems a bit too big compared to everything else. Might be good to allow opening it in a modal as well with more room if needed. Are there other relevant setting from the current implementation in core that need to be accounted f

[2022-10-31 12:26] jameskoster commented on #45371
Ah! That wasn't obvious to me. Since the ellipsis is next to the "Theme styles" heading, I expected the actions would be applied to all.

Of course, good point. But I think the main reason that's an issue currently is because the UI doesn't make it clear when your changes will be lost. There might be other ways around that, I'll mock something up quickly to test.

[2022-10-31 12:29] Mamaduka commented on #12907
@tyxla, I believe the remaining issue is with Vietnamese diacritics, initially reported here - https://core.trac.wordpress.org/ticket/54492.

## Steps to reproduce

1. Open post editor.
2. Run the following snippet in the console - `wp.url.cleanForSlug('Thiết kế nội thất');`
3. Notice that not all accents are removed.

[2022-10-31 12:31] kevin940726 commented on #44418
I still don't think "copy styles" should be an individual action. Styles only make sense in a WordPress environment, there's nothing to be pasted in other applications. It might create some confusion around it. Instead, we should handle the paste events on our side to support both blocks and styles. This gives us more control over how the internals should be implemented too.

"Paste block" is quit

[2022-10-31 12:35] Mamaduka commented on #45416
Hi, @AlanBell

I'm guessing this should be an issue for the Mastodon repo, not Gutenberg.

[2022-10-31 12:37] AlanBell commented on #45416
oh, how the heck did I fail that hard at creating an issue! sorry about the mess!

[2022-10-31 12:37] #45416 closed, assigned to nobody

[2022-10-31 12:37] jasmussen commented on #30142
Quick take:
<img width="1264" alt="Global styles custom CSS" src="https://user-images.githubusercontent.com/1204802/199009368-6997c533-1671-42a1-8f4d-6045f3916972.png">

* Separation from Blocks
* Ellipsis next to the chat input subheading
* A button to pop out in a modal window

[2022-10-31 12:44] mtias commented on #30142
I think the button could be the full screen one we use in the cover block instead.

[2022-10-31 13:01] jasmussen commented on #30142
Could work:
<img width="1264" alt="Global styles custom CSS" src="https://user-images.githubusercontent.com/1204802/199013830-3d480454-924e-4731-8d00-10db02340faa.png">

[2022-10-31 13:06] afercia opened #45417 "Publish sidebar focus loss and modal behavior"
### Description

When using the keyboard and closing the publish sidebar, focus is lost.

A focus loss is a very confusing and frustrating experience for keyboard users, as they are forced to  start navigating the user interface from the beginning of the document.

Also, tabbing with the Tab key is constrained within the publish sidebar, which is good. However, screen reader users can navigate out

[2022-10-31 13:20] dan-zakirov commented on #30142
What I wanted to see. I needed it like air!

[2022-10-31 13:29] jameskoster opened #45418 "Inline inserter visibility sometimes gets stuck and doesn't hide correctly"
The inline Inserter button appears when you cursor between blocks.

Generally it works well, but occasionally it fails to hide itself and will persist on the canvas as you navigate around the editor.

The easiest way to replicate seems to be: Expose the inline inserter then move the cursor away from the canvas, e.g. to the Inspector panel.

https://user-images.githubusercontent.com/846565/19901913

[2022-10-31 13:40] youknowriad commented on #45418
This is Chrome right? Cause I'm not able to reproduce on Safari.

[2022-10-31 13:58] word-x opened #45421 "Hook to translate Navigation block menu data."
## What problem does this address?
I am using a translation plugin. It works great except for the Navigation block. The navigation block menu can't be translated.
The new Navigation block works well for single language site, but for multilanguage site, we need to translate the Navigation block  menu items (I know it was saved in wp_post table with a post type called "wp_navigation").
## What is yo

[2022-10-31 14:13] PoliWen commented on #28616
111111111

[2022-10-31 14:29] ockham commented on #45374
cc/ @ntsekouras @jorgefilipecosta for custom template creation expertise 😄

[2022-10-31 14:57] draganescu opened #45423 "Use theme styles affects basic layout"
### Description

When using a row of galley block the layout is lost in the post editor if the use theme styles preference is turned off.

### Step-by-step reproduction instructions

1. Create a post
2. Insert a row block should be horizontal
3. Go to the top left dot menu of the editor
4. Click preferences
5. Turn off "use theme styles"
6. Notice the row block is now vertical

### Screenshots, sc

[2022-10-31 15:08] Marc-pi commented on #45404
ok, thanks
Needed, just for memo :
* Tab (indent)
* Shift + Tab (un-indent)

[2022-10-31 15:11] ciampo commented on #45388
I think this would be a good idea — I'm just unsure about how much clean-up we'll be able to do in `Button`, in case we can't remove the `isPressed` prop and the functionality that it brings

[2022-10-31 15:14] word-x commented on #38278
Yes, I watched this video.
Actually, I am working on a translation plugin. Classic menu can be translated but the Navigation Block Menu can't be translated.
It seems that we need a hook or similar thing to translate the  Navigation Block Menu.

[2022-10-31 15:24] ockham commented on #41783
Potentially related Trac ticket: https://core.trac.wordpress.org/ticket/56930.

[2022-10-31 15:32] hz-tyfoon opened #45426 "Coding Standard: use 'esc_url' for 'get_author_posts_url' in 'packages/block-library/src/avatar/index.php': line 103"
### Description

this was created in core trac: https://core.trac.wordpress.org/ticket/56829

Note: It's a basic security practice to use `esc_url` where appropiate

### Step-by-step reproduction instructions

In here: https://github.com/WordPress/gutenberg/blob/f131c1f73f796272cb28e43fe73af11a647c0d06/packages/block-library/src/avatar/index.php#L103
`get_author_posts_url` method should be used wi

[2022-10-31 15:53] anarieldesign commented on #44946
Hi @seothemes would you be able to check a theme file (I can send it to you per email) and see if the demo import works for you? I can't get this to work with the latest update. You can check with 6.0 first, it is importing all 4 demos as needed and with 6.1 is not working even with the latest fix.

[2022-10-31 15:55] ciampo commented on #45390
Opened a related request for the `ariakit` components — we could consider switching to `ariakit`'s implementation directly, if/when manual activation is supported https://github.com/ariakit/ariakit/issues/2007

[2022-10-31 16:11] ndiego commented on #40922
This issue is related to the [#56899](https://core.trac.wordpress.org/ticket/56899/) Trac ticket. While you can now [style citations in theme.json](https://github.com/WordPress/gutenberg/pull/43543), there is no UI in the Editor that allows for direct styling.

[2022-10-31 17:03] mirka commented on #45388
We definitely cannot remove it! Just a deprecation. I think the main benefit of this move is that we can relieve ourselves of the responsibility to fix/maintain the nonsensical state combos that people are likely not using at all.

[2022-10-31 17:07] DaisyOlsen commented on #45353
Confirmed that this occurs when there is a Navigation block inside a cover block. Affects cover blocks in the content body.

[2022-10-31 17:45] #45212 closed, assigned to Initsogar

[2022-10-31 17:55] carolinan commented on #45379
(aside, if you style navigation-link, you will probably also want to style navigation-submenu)

[2022-10-31 18:09] strarsis commented on #45363
@Mamaduka:
Thanks! Using `front-page.html` indeed made the Editor switch to the front page template for the actual front page.
`home` and `front page` are different in general, and I hadn't picked up that difference first.

[2022-10-31 18:09] #45363 closed, assigned to nobody

[2022-10-31 19:09] annezazu commented on #45294
Thanks! Leaving this open as this definitely can be improved and I can still replicate in Chrome with the same setup:

<img width="316" alt="Screen Shot 2022-10-31 at 12 08 38 PM" src="https://user-images.githubusercontent.com/26996883/199090040-8a8a1d2f-ec6a-4c43-9ede-e9847bef8dfd.png">

[2022-10-31 19:29] tohmjudson commented on #41500
@alexstine Great! I'll pick it up and see what I can do

[2022-10-31 19:58] MadtownLems opened #45429 "When inserting a Spacer Block, default the size to the last size set."
## What problem does this address?
When used to create general white space, it's very common for lots of Spacer Blocks of the same size to be used in many places throughout a post. Currently, the theme sets a default size upon inserting. If this isn't the size you want, you're forced to either manually resize every single Spacer Block, or Duplicate them and move then around.

## What is your propo

[2022-10-31 19:59] annezazu opened #45430 "Block style: ensure default for theme is properly reflected in the UI"
## What problem does this address?

In chatting with @anarieldesign, she mentioned that, when creating additional block styles for buttons, no matter what style of the button you use as the default, it will always mark "Fill" as a default:

![Screenshot 2022-10-24 at 12 28 23](https://user-images.githubusercontent.com/26996883/199098843-b7eb01de-4063-4978-b14b-6801a4b12b36.png)

In the above examp

[2022-10-31 20:10] stokesman commented on #40912
I think this wasn't meant to be linked and closed by #45317 so I'll reopen it.

👆💯

And even when you do that's only half the battle. I think I've been able to find a pretty robust solution but it relies on polling 🥴.

As an alternative, a simple fix for `Modal` is putting a `pointerdown` handler on its overlay element to trigger the close. Because of that overlay element and the fact that it uses

[2022-10-31 20:30] ciampo commented on #40912
Curious to take a look if/when the PR(s) are ready for a review!

[2022-10-31 21:11] annezazu commented on #45396
@talldan might this be something you could look into? I noticed back in Feb of this year you made some changes to the filtering of content: https://github.com/WordPress/gutenberg/pull/38650

[2022-10-31 21:11] annezazu commented on #45396
For context, the priority right now of work is around [wrapping up various phase 2 efforts](https://github.com/WordPress/gutenberg/issues/33094) so, in comparison, this is likely to fall as a lower priority currently. Regardless, hopefully we can get someone working on it :) I'll do my best.

[2022-10-31 21:46] annezazu commented on #43427
Curious if this can be closed or what remains after this recent PR merge that included renaming Query to Posts: https://github.com/WordPress/gutenberg/pull/45244#pullrequestreview-1159641791

[2022-10-31 22:04] glendaviesnz opened #45431 "Spacing presets: add utility classes to block to indicate current spacing preset settings"
## What problem does this address?
Currently, the spacing presets are added to blocks via inline styles only. It would be useful to have utility classnames as well/instead in the same way that font-sizes do in order to allow further styling by themes based on presets applied.

## What is your proposed solution?
Use the existing style engine infrastructure to apply utility classnames to the block w

[2022-10-31 22:55] scruffian commented on #45430
Similar to https://github.com/WordPress/gutenberg/issues/42297

[2022-11-01 01:44] noisysocks opened #45435 "Query Loop: 'Create a new post' button is misaligned"
### Description

The 'Create a new post' button in the Query Loop block is not aligned with the block's description.

### Step-by-step reproduction instructions

1. Insert a Query Loop block.
2. Open the block inspector.
3. Look at the 'Create a new post' link underneath the block description.

### Screenshots, screen recording, code snippet

<img width="296" alt="Screenshot 2022-11-01 at 12 42 53

[2022-11-01 02:27] aaronrobertshaw commented on #43586
Appreciate everyone jumping in to work through this issue 👍

After digging into this further today, I believe this issue is a touch more complex than it may appear.

The image block applies its global styles for borders (including radius) to the `img` element itself. This is so the border doesn't wrap the caption as well. It explains why people are noticing that `overflow: hidden` on the parent `<

[2022-11-01 05:33] carolinan commented on #45396
The common pattern in themes is: Continue reading (visually hidden post title) or Read more (visually hidden  about post title).

The read more text is customizable, that is why the text is not followed by the post title.
If a user enters "Continue reading this awesome post about apples", then that text can't easily be combined with the post title, because the resulting text would be gibberish.

A

[2022-11-01 05:42] carolinan commented on #32163
I am curios about how a template part could be colored, if the blocks that fill it also have a background, or even if there is a body background that is not white.

[2022-11-01 06:39] #45418 closed, assigned to youknowriad

[2022-11-01 07:17] t-hamano opened #45436 "Writing flow: cannot keyboard delete paragraphs with preceding Columns/Group"
### Description

When the `backspace` key is pressed in an empty paragraph block or heading block, the block is deleted and the focus is shifted to the previous block. I think this is the expected behavior.

However, in WordPress 6.1(with or without Gutenberg ) if the block is preceded by a group or column, the block is not deleted, but wrapped in the previous block.

I think this is a bug, not an

[2022-11-01 08:31] ciampo commented on #45390
Update — `ariakit`'s `Tab` component actually already supports manual tab activation — my proposal here is to refactor the component to use `ariakit` instead of working on a custom implementation in the repo.

[2022-11-01 08:35] ciampo commented on #40912
While working on other tasks, I came across [the `useFocusableIframe` hook](https://github.com/WordPress/gutenberg/tree/33e4f1fdf175a8573ad039b9be195aaee8db8a68/packages/compose/src/hooks/use-focusable-iframe), which could actually be useful here — @stokesman could this help you ?

I may try to see if I can use it in #45349 as well

[2022-11-01 08:46] anarieldesign commented on #44946
Thank you everyone for the help and for the fixes 👍

[2022-11-01 09:26] jameskoster commented on #45371
Here's what I was thinking:

<img width="1362" alt="Screenshot 2022-11-01 at 09 23 40" src="https://user-images.githubusercontent.com/846565/199202176-eb951df2-576f-4e38-ae66-1ac6b56a977f.png">

The main trade-off is that you cannot switch between a theme style, and a customised version of that same theme style, without reverting it. I'm not sure it's worth consolidating all the options into a sin

[2022-11-01 09:31] jameskoster commented on #43427
Certainly!

[2022-11-01 09:31] #43427 closed, assigned to nobody

[2022-11-01 09:33] jameskoster commented on #32163
This issue is about how the UI can better indicate when you're working with template parts rather than styling them for the frontend.

[2022-11-01 09:37] jasmussen commented on #45371
The other tradeoff is the added noise of the style name, which is already integrated into the focused style. I wonder if the ellipsis can't be integrated as well? It would be additional focus stops, two per item, but it might be worth it?

I still think there's some value in having unsaved styles show up in a brand new category, for a couple of reasons:

* In many cases you'll just pick a style an

[2022-11-01 09:40] anarieldesign opened #45438 "Multisite - Navigation Links when importing demo content are not working"
### Description

When I import theme demo on a normal installation, links in the navigation are working as expected and opening the right pages. When I import the same demo on the multisite, links are not working. Not sure if this is a bug or I need to add the url part in .xml file other way. Tagging @spacedmonkey . Maybe I'm missing something or it's a cache issue but I just can't get it to work

[2022-11-01 10:18] jameskoster commented on #45371
Could be worth a try, with a detail to signify unsaved changes.

[2022-11-01 10:22] Mamaduka commented on #45438
cc @getdave, @draganescu

[2022-11-01 10:28] scruffian opened #45439 "Navigation List View: Create a drill down navigation panels system"
As outlined in https://github.com/WordPress/gutenberg/issues/42257, when users click on the pencil icon next to a Navigation Item, a new sidebar panel should open allowing them to edit the details for that link item:

<img width="179" alt="Screenshot 2022-11-01 at 10 28 04" src="https://user-images.githubusercontent.com/275961/199213615-dac1b7b4-5301-4709-830a-d4a0c49e008b.png">

[2022-11-01 10:30] scruffian opened #45440 "Navigation List View: Conditionally enabled/disable block selection in the canvas"
When you select a block in the list view, the corresponding block is selected in the canvas.

As outlined in https://github.com/WordPress/gutenberg/issues/42257, in the Navigation List View, we want to disable this behaviour so that users can interact with Navigation Item blocks and drill down into them without these items being selected, which would open the block's inspector controls.

[2022-11-01 11:21] scruffian opened #45441 "Navigation List View: Add a “create submenu” option"
As outlined in https://github.com/WordPress/gutenberg/issues/42257, we need to add a "create submenu" option to Navigation Items in the List View. This will enable users to create submenus in the sidebar:
<img width="249" alt="Screenshot 2022-11-01 at 11 21 30" src="https://user-images.githubusercontent.com/275961/199222090-b7d3dde5-5551-4fec-b923-ea6cacaaa2a0.png">

[2022-11-01 11:33] scruffian opened #45442 "Navigation List View: Add an "edit" option"
As outlined in https://github.com/WordPress/gutenberg/issues/42257, we need to give users the option to edit Navigation Items.

Ideally this should be according to this design:
<img width="240" alt="Screenshot 2022-11-01 at 11 31 35" src="https://user-images.githubusercontent.com/275961/199223559-504b1bbd-9dac-409f-a782-d9fb940998c1.png">

If it's faster to do this in another way in order to get a

[2022-11-01 11:36] scruffian opened #45444 "Navigation List View: Move the navigation selector to the dot menu"
As outlined in https://github.com/WordPress/gutenberg/issues/42257, we should move the navigation selector to the dot menu, so that it's not a primary action:

<img width="237" alt="Screenshot 2022-11-01 at 11 36 10" src="https://user-images.githubusercontent.com/275961/199224252-e6f43c65-03c2-4e77-ac10-62ca1f00fd5a.png">

Should be closed by https://github.com/WordPress/gutenberg/pull/44534

[2022-11-01 11:36] netinial commented on #8748
It seems this issue has been resolved at
https://github.com/WordPress/gutenberg/pull/17410

However we confirm issue repeats again.

Changing Theme to default.
Disabling all Plugins does not works.

Image block dialogue missing **Filter Media** as "Mine", "Uploaded to this post", "Unattached" filters

Any chance to check issue again?

[2022-11-01 11:44] scruffian opened #45445 "Navigation List View: Add a block appender"
As outlined in https://github.com/WordPress/gutenberg/issues/42257 we need to add a block appender to the Navigation List View to allow users to add more items to their navigation:

<img width="237" alt="Screenshot 2022-11-01 at 11 37 21" src="https://user-images.githubusercontent.com/275961/199225387-18491337-b2d1-43cf-8c4c-19d6469741ce.png">

This will probably require us fixing this issue at so

[2022-11-01 11:48] scruffian opened #45446 "Navigation List View: Handle the wide sidebar"
As outlined in https://github.com/WordPress/gutenberg/issues/42257, the sidebar will now be able to grow horizontally. We need a way to ensure that this doesn't break the rest of the sidebar layout.

<img width="240" alt="Screenshot 2022-11-01 at 11 45 57" src="https://user-images.githubusercontent.com/275961/199226037-2eb0f8b8-6715-40d7-b27d-b4ff42e29171.png">

[2022-11-01 11:51] netinial commented on #19851
It seems this issue has been resolved at
https://github.com/WordPress/gutenberg/pull/17410

However we confirm issue repeats again.

Changing Theme to default.
Disabling all Plugins does not works.

Image block dialogue missing **Filter Media** as "Mine", "Uploaded to this post", "Unattached" filters

Any chance to check issue again?

@dnnsjsk we could not applied your solution
Do you have any cha

[2022-11-01 11:52] scruffian opened #45447 "Navigation List View: Move the list view to a separate tab"
As outlined in https://github.com/WordPress/gutenberg/issues/42257, when we introduce a List View to the Block Inspector, we'll need to create a separate tab for it, so that it can have the largest vertical space:

<img width="265" alt="Screenshot 2022-11-01 at 11 51 17" src="https://user-images.githubusercontent.com/275961/199226547-660a54b8-d8b0-4835-8b4a-3d6774773dc7.png">

This work will be as

[2022-11-01 11:57] scruffian opened #45448 "Navigation List View: Drag and drop considerations"
As outlined in https://github.com/WordPress/gutenberg/issues/42257, the Navigation List View should allow users to reorder Navigation Items using drag and drop

This is made complex because when Navigation Items are moved around, a new "Submenu" block needs to be created to hold the child items.

There is an accessibility consideration here too, since keyboard users cannot use drag and drop.

[2022-11-01 12:01] scruffian opened #45449 "Page List: Allow filtering by a parent page"
The Page List block should allow users to show Pages which are children of the parent Navigation item under which the submenu is nested, when the parent item is a page or hierarchical term.
<img width="250" alt="Screenshot 2022-11-01 at 12 01 00" src="https://user-images.githubusercontent.com/275961/199228074-2b10382f-36d4-4fec-b2a1-05a0e5930583.png">
<img width="329" alt="Screenshot 2022-11-01 at

[2022-11-01 12:30] scruffian opened #45450 "Navigation: Improve the experience for moving between "auto" and custom items"
As outlined in https://github.com/WordPress/gutenberg/issues/42257, we need to improve the experience of going between an automattic Page List navigation and customized Navigation Items

[2022-11-01 12:31] scruffian opened #45451 "Navigation Overview: 6.2 target"
This issue captures the current priorities for Navigation which we are aiming to include in WordPress 6.2.

Some progress has been made in 6.1, particularly on the theme switching, fallback and new menu facets. Editing menus is now an area that now requires attention.

There's also a longer backlog used to more exhaustively track open issues, bugs, and pending tasks at #38275.

## Editing Menus

T

[2022-11-01 12:44] jasmussen commented on #45371
Alright, here's a new iteration based on your work, and back towards that of Channing in https://github.com/WordPress/gutenberg/issues/38333#issuecomment-1075727679, namely a horizontal ellipsis to balance utility with compression. User has no customizations:

<img width="1856" alt="User has no customizations" src="https://user-images.githubusercontent.com/1204802/199235219-f002d865-90e3-4a4a-bc00

[2022-11-01 12:46] scruffian commented on #45451
Moving to https://github.com/WordPress/gutenberg/issues/41549

[2022-11-01 12:46] #45451 closed, assigned to nobody

[2022-11-01 12:47] scruffian commented on #41549
I updated this issue with the latest priorities for phase 2.

[2022-11-01 12:57] jasmussen commented on #44361
@javierarce This design feels solid:

<img width="859" alt="Screenshot 2022-11-01 at 13 55 09" src="https://user-images.githubusercontent.com/1204802/199236963-ee41f043-4c97-4e9c-815f-fa7071d3ff6e.png">

And since the devs aren't blanket dismissing a nested dropdown like this, I think this is the design we should settle on as a starting point. If we combine that with the _action of pushing a local

[2022-11-01 13:16] scruffian opened #45452 "Global Styles: Allow access to style variations from any theme"
## What problem does this address?
Users should be able to select style variations from any theme - not just the ones that ship with their theme.

## What is your proposed solution?
There are a few options:
1. A styles gallery of all styles for all themes, so users can choose the one they want - like the pattern gallery
2. We allow the site editor to access styles for all installed themes so users

[2022-11-01 13:23] jameskoster commented on #45371
Nice. The ellipsis looks a little awkward but I don't have a better idea right now.

For the custom styles what is the blue dot highlighting?

Including 'Save style' is interesting. Contextual saving isn't a feature we have anywhere else but it might be nice to begin thinking about that. On a similar note, how do you feel about providing a 'Discard unsaved changes' action? I think that might be us

[2022-11-01 13:39] shelb-elliott commented on #8030
Hi all, Newspack team here - we've had Carolina Public Press request this same feature in Slack, so I wanted to offer that information for consideration. There's also a similar issue [open here](https://github.com/Automattic/jetpack/issues/18324) that's worth noting.

[2022-11-01 13:42] t-hamano commented on #45381
@sharukhkhanajm

Your PR is always welcome.
The following documents may be helpful:

- [Getting Started With Code Contribution](https://github.com/WordPress/gutenberg/blob/trunk/docs/contributors/code/getting-started-with-code-contribution.md)
- [ToggleControl component README](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/toggle-control/README.md)

Of course, I'm happy

[2022-11-01 14:18] ciampo commented on #44361
While we didn't "blanket dismiss it" above, I just wanted to reiterate the fact that nested dropdown menus can be complex to implement correctly, especially in terms of accessibility, pointer and keyboard interaction. It would probably wise to also think about an alternative UI that doesn't employ nested dropdown menus, in case anything comes up.

Another couple of things to keep in mind that may

[2022-11-01 14:28] colorful-tones commented on #44361
Hiding the 'Push to Global Styles' in a flyout is likely going to be frustrating. Since most users will be modifying styles in the sidebar then changing the context to the flyout seems to break the flow, and it is likely users will miss the flyout (will take an awareness campaign).

I think there was some nice stuff in @javierarce design and it seems to coalesce with what is happening in #40204

!

[2022-11-01 14:35] ndiego commented on #42963
Hi @madhusudhand. This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg and WordPress. Would you be able to try retesting, there have been a bunch of improvements made to the Navigation blocks in the last few months.

That said, I also wanted to note the difference between the `core/navigation-link` and `core/navigation-submenu

[2022-11-01 14:38] Mamaduka commented on #44513
Hi, @Romaixn

Did you get a chance to test the solution provided by @MildMaro?

[2022-11-01 14:43] jameskoster commented on #31033
I think this one is complete.

[2022-11-01 14:43] #31033 closed, assigned to nobody

[2022-11-01 14:45] jameskoster commented on #35116
Closing this. https://github.com/WordPress/gutenberg/issues/35116 has more provenance and if addressed will solve this too.

[2022-11-01 14:45] #35116 closed, assigned to nobody

[2022-11-01 14:45] ndiego commented on #44686
This issue was reviewed in today's Editor Bug Scrub. It looks like some progress was made in discovering the root cause of this issue. Is anyone able to provide a status update?

[2022-11-01 14:47] #40156 closed, assigned to nobody

[2022-11-01 15:06] ndiego commented on #45277
This issue was reviewed in today's Editor Bug Scrub. We have been able to replicate using the latest versions of Gutenberg and WordPress.

The issue can be "fixed" by manually specifying horizontal spacing in addition the custom vertical spacing, but at @dianeco indicates, you would expect the default theme `blockGap` value to be used instead of the hardcoded values in the Editor and Frontend.

[2022-11-01 15:11] jameskoster opened #45461 "Site Editing: Visualise the ownership of the selected block"
It's now possible to create templates for specific contexts (e.g. `category-recipes`). While editing such templates you can find yourself interacting with blocks from a very broad variety of scopes.

<img width="1187" alt="Screenshot 2022-11-01 at 14 59 22" src="https://user-images.githubusercontent.com/846565/199264860-0a1c2943-7918-4306-9394-6e39c122fb46.png">

In the example above one can edit:

[2022-11-01 15:16] ndiego commented on #40141
This issue was reviewed in today's Editor Bug Scrub. Patterns are intended to only include block markup. Any PHP should be for simple things like translating strings or providing direct paths to assets, like images, used within blocks included in the pattern. In theory, you could use PHP to swap out a logo, but there is no direct way to detect the template the pattern is in. Your use case is a bit

[2022-11-01 15:16] #40141 closed, assigned to nobody

[2022-11-01 15:26] jameskoster opened #45462 "Multi-entity save: make descriptions consistent"
<img src="https://user-images.githubusercontent.com/846565/199266935-e393456c-d1f9-4382-990f-36b57078b57f.png" width="280">

The Site and Templates sections include a description whereas the Template Parts and Navigation Menu sections do not. If we feel the descriptions add value then we might consider adding some for Template Parts, Navigation Menus, and any other sections not represented in the

[2022-11-01 15:38] jffng commented on #45341
Why is a configurable array necessary? Currently if a block template is provided and the theme support is added + enabled, the block template will override the classic one accordingly in the hierarchy. For example: https://github.com/WordPress/wordpress-develop/pull/3545 — archive pages are rendered with the block template and all other pages with the classic template.

[2022-11-01 15:46] javierarce commented on #44361
The other alternative UI that I can think of is having an accordion inside the menu:

https://user-images.githubusercontent.com/4933/199273216-67727870-9ca6-4125-be9e-97755139f726.mov

It comes with their own challenges (for example, is the chevron easy to spot? is it ok to that the "Styles" item reveals the submenu with a click instead of a hover?), but I think it would solve the mobile the nesti

[2022-11-01 16:02] AddoSolutions commented on #31063
+1 for this – would be very helpful and solve several other issues.  Are there any workaround for this as of yet?

[2022-11-01 16:12] ryelle commented on #45179
In https://github.com/WordPress/pattern-directory/pull/536 I added a check for the requesting site's WP version, and any pattern tagged with a higher version number will not be returned in the API response.

I've also re-published the Link in Bio pattern with a minimum version of 6.1, so if you're on 6.1+ you should now see that pattern in the "Featured" category in the editor (the API result is l

[2022-11-01 16:23] joedolson commented on #45396
There are ways of appending the text that will always make sense using punctuation, e.g. parentheticals, colons, etc. Using `aria-describedby` usually injects a pause that creates this (although that pause can be unbearably long on VoiceOver.)

"Continue reading this awesome post about apples (The Braeburn Apple and it's pests)"

[2022-11-01 16:27] joedolson commented on #45396
I will note that I'm very unsure how Twenty Twenty Three was able to pass the accessibility-ready criteria with this read more in place.

[2022-11-01 16:40] chrisvanpatten commented on #42442
@gziolo curious what you think of this solution, using an overloaded defineProperty to overwrite the getters/setters: https://github.com/chrisvanpatten/wp-scripts-unit-test-case/pull/3/files

[2022-11-01 16:42] scruffian commented on #45452
Similar to https://github.com/WordPress/gutenberg/issues/45371

[2022-11-01 16:42] scruffian commented on #45371
I had a slightly different but connected idea in https://github.com/WordPress/gutenberg/issues/45452

[2022-11-01 16:49] Romaixn commented on #44513
Hi ! Yes sorry I forgot to answer! Indeed by activating the compatibility in the settings of Docker Desktop it works!  Thanks a lot @MildMaro

[2022-11-01 16:50] #44513 closed, assigned to nobody

[2022-11-01 16:53] illycz commented on #40141
Understand. Thanks

[2022-11-01 17:16] spacedmonkey commented on #41783
Related: #45224

[2022-11-01 17:47] jasmussen commented on #44361
Sorry, didn't mean to put you on the spot. Of course we'll be able to work within what's feasible to implement and find alternatives if it balloons. But nested menus is something we can use for transforms and many other places, and a good way to manage the complexity of a growing ellipsis menu, so it's a useful tool to have in the toolbox, beyond just this.

An alternative could be to have a "Styl

[2022-11-01 17:51] jasmussen commented on #44361
I hear that, and I think there's sense in exploring an inspector affordance for it which considers the incoming tabbed interface.

However it is also an advanced feature. In Figma, for example, I use it all the time, but the feature is incredibly buried under an obtuse Edit > Copy properties menu item, or by clicking a very tiny hit area in the fill-layers and pressing ⌘C, then ⌘V on another objec

[2022-11-01 18:41] dashkevych commented on #28564
In FSE, we can create a template with title via Post Title block.

However, it's also possible to add the title in Post Content.

It would be great to have a mechanism which automatically (no additional actions needed from the user) hides the template title if the title is also added to Post Content.

For instance, if the user adds a simple text and images to the content area then the title from t

[2022-11-01 18:49] colorful-tones commented on #44361
I gamble it'll go from an advanced feature to a ubiquitous tool for everyday builders to leverage as part of their site design/building, but merely speculating 🔮 . For now, I'm fine with it hidden away, but would not be surprised if it is necessary to revisit the user interface further down the road 👍

[2022-11-01 18:59] artemiomorales commented on #43586
Thank you @aaronrobertshaw for the guidance and ideas!

This sounds good to me. As a user, I would want and expect captions to be able to show up underneath my image if I had configured it to have a large border radius. Empowering users to toggle the position of captions seems like the right approach.

I can take all of the feedback and ideas so far and try to get something workable so we have som

[2022-11-01 19:13] stacimc commented on #15952
Confirmed this is still the behavior of gallery image captions on mobile, testing with Twenty Twenty Two. Maybe this is another good use case for the discussion [here](https://github.com/WordPress/gutenberg/issues/43586#issuecomment-1298974438) about adding a gallery block style to toggle off overlaid captions.

[2022-11-01 19:15] anton-vlasenko commented on #45313
@oandregal
I couldn't find any mention of this command in the CI jobs.
Also, the `PHPUnit test` Core CI job also uses `composer update` instead of `composer.lock` in a similar situation.
https://github.com/WordPress/wordpress-develop/blob/trunk/.github/workflows/phpunit-tests.yml#L142

[2022-11-01 19:39] georgeh commented on #42977
I've created #45469 to address this

[2022-11-01 19:48] glendaviesnz commented on #32163
Going to take a look at how this can be implemented today.

[2022-11-01 20:25] annezazu commented on #44193
@jorgefilipecosta can you confirm you'll follow up on the above? Trying to manage an update for Phase 2 and am trying to ensure this can fully be considered marked as done :)

[2022-11-01 20:30] annezazu commented on #33094
### November 1st Update

Since I'm trying to align the FSE Outreach Program as much as possible with this work, I've been doing updates on my end to keep track of what's moving and wanted to share here so others can follow along. What follows covers the "Main Tasks" only listed above since those are the priority items. Here's what each symbol means:

☑️ = work has completed (4, 1 has some follow u

[2022-11-01 20:51] stacimc commented on #45436
I tested and was able to reproduce this with:
* WordPress 6.0.3
* Gutenberg 14.4.0
* TT1 blocks
No other plugins active.

[2022-11-01 21:27] stacimc commented on #45400
I was able to reproduce this in TT1 blocks. In my theme.json:

[code]

In the post Editor, when I insert a Paragraph block it has the default gigantic font size from theme.json, but I am able to override it in the block settings. When I insert a Post Excerpt block, it also has the gigantic font size, but attempting to override this in the block settings has no effect.

[2022-11-01 21:57] glendaviesnz commented on #8030
Something similar is being [worked on here](https://github.com/WordPress/gutenberg/issues/43586)

[2022-11-01 22:20] ianstewart commented on #44689
Plus one. Just noticed the removal of replacement for general template parts and would plus one offering a replacement menu item for them as well. There's a lot of cool utility in being able to swap template parts in and out. My initial user reaction was to be confused at the difference.

[2022-11-02 01:34] glendaviesnz commented on #32163
[Initial PR for this here](https://github.com/WordPress/gutenberg/pull/45473)

[2022-11-02 03:02] talldan commented on #45396
@annezazu I probably won't have time to work on it for a while (for reference, a lot of Automattic contributors will be away at a meetup from 6th-12th November, and for me it's long haul travel so that adds on a couple of days either side)

I don't think it's a very challenging issue, so I've added the 'good first issue' label.

It'd be good to share an example of what the preferred markup would b

[2022-11-02 03:53] peterwilsoncc opened #45474 "Site Editor: View > View Site opens incorrect URL."
### Description

In the Site Editor, the `View > View site` drop down opens the URL of the WordPress install (`site_url()`) rather than the URL of the website (`home_url()`).

Follow up to https://github.com/WordPress/gutenberg/pull/42331

### Step-by-step reproduction instructions

1. Create a [sub-directory install](https://wordpress.org/support/article/giving-wordpress-its-own-directory/) of Wo

[2022-11-02 05:08] tellthemachines commented on #44467
I've updated #45364 and it's now ready for review!

One thing regarding child blocks with "Fill" set not occupying an equal amount of horizontal space: this is impossible to deal with on the child level, because it depends on what type and size the sibling blocks are. If we do want to have a way to set equal width on all children of a Row block, I'd suggest setting it as a control on the actual Ro

[2022-11-02 06:14] stokesman commented on #40912
Thanks Marco! I didn't see how that hook could be used directly since it would be consumers that need to put it on their iframes. I did see how I could steal its concept though to avoid the polling that I'd mentioned before. I've tested it out bit but I'm calling it day. Tomorrow I can make a PR.

[2022-11-02 06:37] talldan commented on #45287
There are a couple of plugins that seem to use this area too (though it is an experimental API) - https://www.wpdirectory.net/search/01GGVGDDHBTHFK7NWQCP8F0CQX

In these cases we won't know what the tool is, so it'll be difficult to display it in the dropdown menu as anything but 'other'.

Given it's such small usage it may be possible to reach out to the plugin devs and ask them to update to what

[2022-11-02 06:42] carolinan commented on #45396
It does not use the read more. From archives, the post title and date are linked.

[2022-11-02 06:55] fabiankaegy commented on #45287
@talldan Just want to flag here that whilst the `__experimentalGroup` syntax is experimental, there has been a stable slot for this called `InspectorAdvancedControls` for this for quite a while now: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/inspector-controls/README.md#inspectoradvancedcontrols

So the advanced inspector controls area is a stable slot t

[2022-11-02 07:02] talldan commented on #45287
Cool, thanks for flagging that. I thought there was a stable slot, but had trouble finding it in the codebase.

Definitely something to consider then in terms of the design - there's going to be a lot more plugin usage than I mentioned before, and in terms of this feature we won't know what those controls are. There would also only be the possibility of showing or hiding them as one item in the dr

[2022-11-02 07:27] kevin940726 commented on #44418
I opened a draft PR https://github.com/WordPress/gutenberg/pull/45477 for adding "paste styles" to the block settings. There are a lot of unanswered questions, but I figured a working branch would better explain the details. Please try it out and share any feedback here or there!

[2022-11-02 07:45] #20770 closed

[2022-11-02 07:55] ciampo commented on #40912
I was mainly thinking of asking consumers in need of using an `iframe` to also use that hook (adding a paragraph in both `useFocusOutside` and `Modal`'s docs, and maybe even a storybook example for `Modal`).

But first, I would have tried it in my tests to see what else would be needed for the whole thing to keep working as expected. Sorry if I didn't explain myself clearly in the previous message

[2022-11-02 08:05] ritvikos opened #45479 "WordPress 6.1: TypeError: (0 , E.__experimentaluseLayoutClasses) is not a function"
### Description

[code]

The Main Site is working! But, the editor is not working and show an “Attempt Block” option with Blank white Screen. When I click it, it doesn’t do anything.

What I’ve tried:
1. Updating All Plugins
2. Updating All Themes (On main site: GeneratePress)
3. Re-installing WordPress 6.1
4. Disable Browser Extensions
5. Restart All Process from Hosting

*Can’t share site’s name

[2022-11-02 08:08] ritvikos commented on #45479
Edit: After numerous refreshes, the error is not visible anymore in firefox dev!!
I wasn't sure if its theme-specific issue, so I opened another [issue on their repo](https://github.com/tomusborne/generatepress/issues/465) too!

[2022-11-02 08:13] jasmussen commented on #45287
Would it be possible to move the slot to become an item inside the toolspanel?

If not, it doesn't seem world-ending to have the plugin-added items sit there permanently.

[2022-11-02 08:36] talldan commented on #45287
Yep, that would be possible I think. It would be a catch-all, every 'unknown' tool under one item in the tools panel if that makes sense.

[2022-11-02 08:55] jasmussen commented on #45287
Having very limited understanding of the API in question, my hope was that the call to add an item there could be a call to add individual menu items in the tools panel instead. But a catch-all might work.

[2022-11-02 09:17] fabiankaegy commented on #45287
One thing that might help here is, that the `InspectorAdvancedControls` slot already gets rendered inside of a `PanelBody` Component. So extenders were always more limited for this slot than for example for the `InspectorControls`.

Because of this, it may be technically possible to automatically transform each of the slots into a tool panel. But it will likely still be difficult since the tool pa

[2022-11-02 09:28] scruffian opened #45482 "Page List: Display items in the List View"
As outlined in https://github.com/WordPress/gutenberg/issues/42257, the items inside Page List should be displayed in the List View:
<img width="252" alt="Screenshot 2022-11-02 at 09 28 06" src="https://user-images.githubusercontent.com/275961/199453712-31eb0ecf-d7fe-4775-869f-3d87f9099744.png">

Previous art: https://github.com/WordPress/gutenberg/pull/39087

[2022-11-02 09:40] abaicus commented on #45341
@jffng

It just occurred to me that filtering out the templates you don't want to load using the `get_block_templates` filter would solve this.

That would solve the issue. I'm not sure why I didn't think about this before. 😶‍🌫️

Thank you for being so helpful!

[2022-11-02 09:57] javierarce commented on #44418
I'm not completely sure about this decision. I think not having explicitly complementary actions is confusing. We can be smart about it and implement it in the way you mention, but in the end users will need to copy a block in order to paste a style.

[2022-11-02 10:20] fluiddot commented on #38407
No updates this week as we are fully focusing on `🔎 Main focus` projects.

[2022-11-02 10:25] brendanaw opened #45484 "Wordpress customization option popup go off screen"
### Description

Wordpress customization options go off screen and I can't select certain options like colors. I have Kadence theme installed FYI.

### Step-by-step reproduction instructions

Clicking on the theme customization option.

### Screenshots, screen recording, code snippet

<img width="291" alt="image" src="https://user-images.githubusercontent.com/73733195/199465952-b70c62ea-5147-4912-

[2022-11-02 10:55] aaronrobertshaw commented on #45287
As @fabiankaegy notes, the ToolsPanel expects to be given callbacks to determine whether a ToolsPanelItem has a value or not, reset that value, and reset appropriate values when "reset all" is called.

The ToolsPanel can however render any non-`ToolsPanelItem` into the panel as usual. They just will not have a corresponding item within the ToolsPanel menu. Contrast checkers in the color panel are

[2022-11-02 11:32] cbravobernal commented on #43440
Now that the 6.1 release is out, I think we can close this issue.

[2022-11-02 11:32] #43440 closed, assigned to ockham, michalczaplinski

[2022-11-02 11:34] jasmussen commented on #45371
Excellent feedback, thank you all. Here's an iteration based on your thoughts, but which encompasses the idea of importing styles as outlined in 45452. Mockup:

<img width="3136" alt="Import styles from other themes" src="https://user-images.githubusercontent.com/1204802/199478770-e917f514-f683-49ea-9a2a-9cec1aace500.png">

* "Custom Styles" becomes a permanent fixture, even if you have none. This

[2022-11-02 11:35] franrosa opened #45485 "Styles for core/post-title missing after updating to 6.1"
### Description

Some styles defined for core/post-title in theme.json are not working anymore after updating to WordPress 6.1.

Styles are defined in http://franrosa.com/wp-content/themes/newdev/theme.json

`"core/post-title": {
                "color": {
                    "background": "var(--wp--preset--color--contrast)",
                    "text": "var(--wp--preset--color--background)"

[2022-11-02 11:36] cbravobernal commented on #44659
Hi @shimotmk !

Now that 6.1 has been released, could you please check if the issue has been solved?

Thanks!

[2022-11-02 11:37] cbravobernal commented on #44946
I guess this has been solved, so we can close the issue. Feel free to reopen if needed!

[2022-11-02 11:37] #44946 closed, assigned to nobody

[2022-11-02 11:42] cbravobernal commented on #44471
Removing this issue from the 6.1 dashboard.

[2022-11-02 12:23] spacedmonkey commented on #45171
Related: https://core.trac.wordpress.org/ticket/56945 . CC @felixarntz

[2022-11-02 13:30] priethor commented on #42919
Thanks, @noisysocks ! I'm unassigning the issue for now so that it doesn't appear as taken pm the [Phase 2 board](https://github.com/orgs/WordPress/projects/56/views/1); feel free to reassign when you can start on it!

[2022-11-02 13:51] kevin940726 commented on #44418
That's a fair point! Apple's Numbers has a separate "Copy Style" action, while Google's Sheets and Microsoft's Excel have only one "Copy" action but multiple "special" pasting actions. It's hard to decide which one is better for UX without data.

However, while trying Numbers' approach, I found the interactions quite interesting. It seems like "Copy" and "Copy style" belong to different "types" of

[2022-11-02 14:09] #38630 closed, assigned to georgeh

[2022-11-02 14:18] ntsekouras opened #45489 "[Inserter]: Keyboard navigation in inserter panels when panel content overflows."
In a different PR that moves the search input of the main inserter inside each tab panel content there were comments about a11y issues for navigating through the inserter. You can read more on this [thread](https://github.com/WordPress/gutenberg/pull/45203#discussion_r1008755293).

After trying to figure out what the problem is, it seems there is an existing issue on trunk, that was just made more

[2022-11-02 14:23] masteradhoc commented on #37652
+1 for this enhancement

[2022-11-02 14:31] kathrynwp commented on #37868
This was also reported by a forum user here:

https://wordpress.org/support/topic/extremely-narrow-available-space-when-creating-new-footer/

The extremely short editor space provided for new template parts makes it very hard to see what you're doing and manipulate blocks. Even if you add a block that's longer than the area, the editor remains so short that it requires scrolling. Here's one exampl

[2022-11-02 14:31] swissspidy commented on #19226
FWIW, the `%s restored to revision from %s.` message needs to be properly added to `get_post_type_labels()` so it works for any post type. Just using placeholders won't work for any post type.

[2022-11-02 14:58] Marc-pi commented on #38275
@getdave
In term of writing flow / site building process optimization, i would say the most frequent needs are (for a **daily usage**), so we don't have to use custom css (actually, the customizer is hidden, we are not supposed to add custom css code ;-))
* Special styling of the parent menu entry associated with the current page displayed (https://github.com/WordPress/gutenberg/issues/39663) / al

[2022-11-02 14:59] jffng commented on #45341
Happy to help and try to understand different use cases!

[2022-11-02 15:03] skorasaurus commented on #45479
Can you share a list of what plugins are currently installed on the website and if possible; disable all other plugins and see if the issue is still occurring?

[2022-11-02 15:04] skorasaurus commented on #45449
Would you consider this to be a duplicate of https://github.com/WordPress/gutenberg/issues/31063?

[2022-11-02 15:04] jffng commented on #45396
I opened a PR above to fix this for the Read More block, will move on to the Post Excerpt with a similar approach unless I get feedback it's not valid.

[2022-11-02 15:05] ciampo commented on #45489
Thank you for posting this issue!

If I understand correctly, when the contents of a tab cause the tab to overflow, we make the scrollable element focusable for accessibility reasons.

My question, then is: when the scrollable region is focused, what happens when pressing tab again? My expectation is that the next tabbable element inside the tab receives focus, but I assume this is not the case

J

[2022-11-02 15:13] #43660 closed, assigned to ockham, michalczaplinski, cbravobernal

[2022-11-02 15:19] franrosa commented on #45485
I think I can offer more information on this:
Something has indeed changed with the update, so maybe it will need to be documented.

However, after some investigation, I can confidently say **it is not an error or malfunction**.

Why?
Because the page in question is a page, and not a post; it just had the `.wp-block-post-title` class included in a `wp-block-heading`.

So, removing unnecessary clas

[2022-11-02 15:19] #45485 closed, assigned to nobody

[2022-11-02 15:22] bph commented on #45485
@franrosa  No worries. Glad there is a solution.

I was just about to write to you that I was using your theme.json on and empty theme from the create-block-theme plugin and wasn't able to see a discrepancy between editor and frontend in both WordPress versions 6.03 and 6.1

[2022-11-02 15:26] bph commented on #45484
@brendanaw Thanks for noticing this quirk. Looking at the screenshot, it doesn't seem that those controls are WordPress core. Are you using a particular plugin for the block editor? If yes, would you mind sharing the name of it? Furthermore, could you please share which theme you are using.
It would be really helpful to find the cause of your issue, if you could share a few steps to reproduce what

[2022-11-02 15:30] oandregal commented on #45194
A related thing: we may want to offer a public API method for consumers to get access to a block's selector. See [this conversation](https://github.com/WordPress/gutenberg/pull/45089#discussion_r1009294873).

[2022-11-02 15:31] franrosa commented on #45485
@bph It seems to be a change that is noticeable when visiting pages, as `.wp-block-post-title` class is loading properly when there is a `wp:post-title` block in use — like in posts.

I don't think it will be affecting many themes, but maybe it should be documented, as I was unable to find anything about this change.

Thanks for your help nonetheless.

[2022-11-02 15:33] ntsekouras commented on #45489
I didn't see any custom handling from us and I think this is just the browser handling - thus why I can't reproduce in chrome for example..

Yes, that what I'd expect and that's part of my first question in the PR's description.

I re-uploaded it.. Although it's the same with the first one with the difference that the overflow happens in different tabs, so no big deal.

[2022-11-02 16:04] Marc-pi commented on #30142
So do we !!

[2022-11-02 16:15] danielbachhuber commented on #45404
This works great in the Classic Block 😊

Previously https://github.com/WordPress/gutenberg/issues/4181 and https://github.com/WordPress/gutenberg/issues/9611

[2022-11-02 16:21] carolinan opened #45493 "Use featured image with next and previous post navigation"
## What problem does this address?

I am opening this feature request for a designer who emailed me a support request about how to display the featured image with the next/ previous post navigation block on single posts. This is a common design pattern in classic themes.

- Display the posts featured image instead of the text/post title.
- Display the image next to / above / below the text/post ti

[2022-11-02 16:22] danielbachhuber opened #45494 "List Block: Indentation removed when first item is deleted"
### Description

When the first item is removed from a list, the indentation is unexpectedly removed from the list block:

https://user-images.githubusercontent.com/36432/199544193-1614925d-f357-4d0b-81cd-70a0e63af832.mp4

I would expect the list's indentation to remain.

### Step-by-step reproduction instructions

1. Create a new List Block.
2. Add three items: `First list item`, `Second list ite

[2022-11-02 16:31] danielbachhuber opened #45495 "Pasting from Google Docs removes one level of list indentation"
### Description

When I paste a list from Google Docs, one level of indentation is removed.

Google Doc:

<img width="1320" alt="image" src="https://user-images.githubusercontent.com/36432/199546662-177cb030-7025-4c56-bc90-b825546325a1.png">

Gutenberg result:

<img width="1091" alt="image" src="https://user-images.githubusercontent.com/36432/199546761-a5fd04b1-d90a-4cf4-93a8-57cc173f8552.png">

#

[2022-11-02 17:07] jameskoster commented on #45371
This is really taking shape quickly!

The + button could easily be expanded to include an option to create a custom style from scratch, nice :)

This was a _little_ unexpected to me. My instinct is that "custom styles" feel a bit different to something that comes from a theme you have installed. Also, what happens if you activate a theme whose styles you've already imported, do they then appear in

[2022-11-02 17:25] spacedmonkey commented on #45171
Key goals of this refactor.
- Do no run logic on themes that do not support theme.json ( have this file ).
- Only run the logic once.
- Add set of developer focus functions that stop them from running code again.
- Add unit tests.
- Make code standard with rest of core.
- Make code easier to test.

[2022-11-02 17:26] t-hamano opened #45496 "AutocompleteUI: Forward slash inserter doesn't work in Japanese"
### Description

At least in the Japanese input system, the block list are not properly filtered when using the forward slash inserter.

Because of the vast number of characters in the Japanese language ( including Kanji), it is not possible to input characters directly on a standard keyboard. Therefore, after entering "**hiragana**" characters, we choose which character to convert to and confirm

[2022-11-02 17:36] mburridge opened #45497 "Block inserter button not appearing after 6.1 update"
### Description

The block inserter button is not appearing. Can only add a block by using the '/' shortcut or via the Block Inserter. The small + button does not appear.

Reported in [this support query](https://wordpress.org/support/topic/the-site-on-wordpress-6-1-does-not-look-the-same-as-before/).

Problem is across two sites in two different browsers.

### Step-by-step reproduction instructio

[2022-11-02 17:54] hellofromtonya commented on #45497
Here is the Core Trac ticket for this issue: https://core.trac.wordpress.org/ticket/56955. Once resolved, it can be backported to this ticket.

[2022-11-02 18:43] ellatrix commented on #45494
This has been the behaviour since the start of Gutenberg, which I don't like either and want to change with #45075. Closing as a duplicate of #34100.

[2022-11-02 18:43] #45494 closed, assigned to nobody

[2022-11-02 18:48] margaretschneider commented on #45497
Just adding a data point that at least one Newspack publisher has reported this as well. I was able to reproduce the issue in Chrome on macOS on Newspack Model Home and other sites.

This is the pattern of behavior: The black + icon _does_ appear to the right of the first empty paragraph block in a new post. After an empty second paragraph block is added (and after each subsequent one is added), t

[2022-11-02 18:48] danielbachhuber commented on #45494
@ellatrix Makes sense, thanks for clarifying!

[2022-11-02 19:06] petko commented on #12684
We definitely need this soon!

[2022-11-02 19:09] ellatrix commented on #45495
Should be fixed by #45498.

[2022-11-02 19:14] annezazu commented on #45496
Thank you for reporting. Added to the 6.1 board for now.

[2022-11-02 19:14] annezazu commented on #45497
Thank you for reporting and for the extra details around replication. Putting in the project board under 6.1.1.

[2022-11-02 19:28] georgeh commented on #45440
I'm going to take a stab at this. Should I be using the branch from #44534 would as a starting point?

[2022-11-02 20:08] felixarntz commented on #45224
~~@nickpagz @spacedmonkey I'll close this as a duplicate of #41783, as the underlying problem is the same.~~

My bad, they are different, just the conversation on the other looked as if they were related. Will reply on the other issue.

[2022-11-02 20:13] felixarntz commented on #45224
@nickpagz @spacedmonkey This issue is effectively caused by https://core.trac.wordpress.org/ticket/55996, and there is a Trac ticket https://core.trac.wordpress.org/ticket/56930 for the same problem too.

There is already a working PR to address this for core: https://github.com/WordPress/wordpress-develop/pull/3549

Not sure if we would need a separate (or the same) fix for Gutenberg.

[2022-11-02 20:19] felixarntz commented on #41783
@Mte90 @aristath @ockham @spacedmonkey https://core.trac.wordpress.org/ticket/56930 is primarily caused by https://core.trac.wordpress.org/ticket/55996, which is also covered in #45224 and now has a working (core) PR in https://github.com/WordPress/wordpress-develop/pull/3549.

The problem here is a different one though: I'm unsure whether the original issue description is accurate - the `loading=

[2022-11-02 20:21] walter74ucla commented on #45358
@talldan Is there a Block Editor component?  There is a Rich Text component:  https://github.com/WordPress/gutenberg/blob/HEAD/packages/block-editor/src/components/rich-text/README.md, but it does not have all of the behavior of the Block Editor like inserting blocks.
This does not work in my application---https://github.com/WordPress/gutenberg/tree/trunk/packages/block-editor

Are there additiona

[2022-11-02 20:30] ghost commented on #45497
Hi,

The button block appender also doesn't seem to work (not just the default block appender).

It is actually visible, but you can't click it due to "pointer-events:none" being attached to it.

<img width="371" alt="Scherm­afbeelding 2022-11-02 om 21 20 31" src="https://user-images.githubusercontent.com/117315486/199596323-43563af0-9c54-4e80-9d61-4290be0157d8.png">

<img width="792" alt="Scherm­

[2022-11-02 21:11] ndiego commented on #45497
@itsmewatermelon hmm, I am not seeing this on my end. Can you share your setup? This is what I am seeing on WP 6.1 using the Twenty Twenty-Three theme **without** Gutenberg active.

**Columns Block Inserter UI**
![image](https://user-images.githubusercontent.com/4832319/199603068-eb3ee1ef-716d-4a27-abfc-88f702717e06.png)

**Markup**
![image](https://user-images.githubusercontent.com/4832319/199603

[2022-11-02 21:30] noisysocks commented on #41466
Just noting that in https://github.com/WordPress/gutenberg/pull/44966 I added an `__experimentalShowSelectedHint` prop to `CustomSelectControl` which probably can/should be removed once we have something like `renderItem`.

[2022-11-02 22:06] ghost commented on #45497
I disabled all plugins and tried different (block) themes, all resulting in the same issue.

Forgot to include that I used a template part and within that template part I added the columns block.

Could you try that at your end? @ndiego

Please note: the button block appender gets unclickable **after** refreshing the page **after** adding the columns block within a template part block (only in tem

[2022-11-02 22:17] nickpagz commented on #45224
Agreed. If it's addressed in core then this can probably be closed in favor of https://core.trac.wordpress.org/ticket/56930

[2022-11-02 22:43] noisysocks commented on #34345
I've completed most of the items in https://github.com/WordPress/gutenberg/issues/34345#issuecomment-1217390408 and in the issue description. The remaining items are, I think, fairly marginal and not worth prioritising over https://github.com/WordPress/gutenberg/issues/33094 which is the key focus for the editor team.

Here's how the Typography panel now looks in `trunk`—things are very close to w

[2022-11-02 22:43] #34345 closed, assigned to mirka, ciampo, ramonjd, stokesman, aaronrobertshaw

[2022-11-03 00:01] aaronrobertshaw commented on #45194
Given the discussion on this issue to date, should that API method allow consumers access to not just the block's root selector, but also for any feature e.g. `color`?

[2022-11-03 00:12] BrookeDot commented on #45497
Core Trac ticket for the issue @itsmewatermelon is experiencing is here: https://core.trac.wordpress.org/ticket/56965

[2022-11-03 01:42] talldan commented on #45358
What is it that you're trying to achieve? Are you looking to implement your own editor?

edit: I'm going to convert this to a github discussion, as issues are for bug/enhancement reports.

[2022-11-03 01:44] #45358 closed, assigned to nobody

[2022-11-03 01:45] talldan commented on #45484
This is a duplicate of https://github.com/WordPress/gutenberg/issues/43678

[2022-11-03 01:45] #45484 closed, assigned to nobody

[2022-11-03 01:56] brendanaw commented on #45484
Hey!

I am using the Kadence theme. Could that be an issue?

On Wed, Nov 2, 2022 at 10:27 PM Birgit Pauli-Haack ***@***.***>
wrote:

--

Brendan Aw

Growth Marketer and Data Analyst

Email: ***@***.***

Cryptocurrencies, NFTs, Data Science and Personal Finance.

<https://twitter.com/brendanaw> <https://www.linkedin.com/in/brendanaw/>
<https://www.instagram.com/brendanaw/> <https://www.youtube.com/

[2022-11-03 02:05] andrewserong opened #45501 "Min Height block support follow-up tasks"
As of https://github.com/WordPress/gutenberg/pull/45300, a minimally viable version of the minimum height block support has been introduced, which opts both the Group and Post Content blocks in to a minimum height control in the dimensions panel, which is hidden by default.

There were some good suggestions and ideas flagged both on that PR and some related issues. This issue is to group together

[2022-11-03 02:14] ramonjd opened #45502 "Fluid typography: UI controls to enable/disable fluid font sizes for custom values"
Parent issue:
- https://github.com/WordPress/gutenberg/issues/44888

## What problem does this address?

Fluid font sizes, when turned on, has global effect. That is, it will convert all preset and custom font sizes to `clamp()` value.

Editor users, therefore, have no control over when and where fluid font size is applied.

For theme.json presets, fluid font sizes can be turned on and off individ

[2022-11-03 02:25] glendaviesnz opened #45503 "Improvements to spacing visualizer"
### Description

Following the change to make the margin and padding visualizer show on mouseover, and to hide the block toolbar, there are a few outstanding issues that would be good to tidy up if possible:

- When there's no padding or margin, the toolbar is still hidden, but there's no visualization, which doesn't feel quite right.
- When changing a value and hovering off, the toolbar can reapp

[2022-11-03 02:30] ramonjd opened #45504 "Fluid typography: custom values should be set as maximum font size"
Parent issue:

- #44888

## What problem does this address?

When converting custom font sizes to fluid values, the [fluid typography functions](https://github.com/WordPress/gutenberg/blob/trunk/lib/block-supports/typography.php#L439) calculate the minimum and maximum font sizes either size of the given custom font size.

Depending on the viewport width, the resulting fluid value may have a maximu

[2022-11-03 03:09] andrewserong commented on #43243
Small update: as of https://github.com/WordPress/gutenberg/pull/45300 there is now a Min Height dimensions block support that we can opt into. That PR has opted in both the Group and Post Content blocks, and I've updated the table in the issue description. @jasmussen flagged on the PR (here: https://github.com/WordPress/gutenberg/pull/45300#issuecomment-1298252520) that when we use the Min Height

[2022-11-03 03:47] andrewserong commented on #45504
Thanks for writing all this up!

Good question. I'd be curious to hear what the expectations are from a designer's perspective, but personally I like the idea of the consistency of setting the upper bound for presets, too. If we make the change, existing themes that liked the fact that the preset was set for the middle value can always add a `min` or `max` to their presets in `theme.json` if they

[2022-11-03 03:48] ramonjd commented on #45504
Thanks @andrewserong !

This featured in one of the [prior commits](https://github.com/WordPress/gutenberg/pull/44993/commits/df6c71b88da5ab164ec185fab90ff24a760f2330) in https://github.com/WordPress/gutenberg/pull/44993. I was quite fond of it at the time 😄

[2022-11-03 03:50] talldan commented on #45484
@brendanaw It was reported on https://github.com/WordPress/gutenberg/issues/43678, and that person is using GeneratePress, so it may be that both themes have similar implementations. It would be great to continue the conversation over on that issue.

[2022-11-03 03:52] brendanaw commented on #43678
Hi guys I am using kadence theme and am experiencing the same issue. Is there a fix for this?

[2022-11-03 03:58] talldan commented on #45001
It'd be good to know if you still have the issue after updating to WordPress 6.1 (which was released yesterday).

[2022-11-03 05:04] kevin940726 commented on #38823
Hi there! Sorry for the late reply! I was busy with other things and forgot about the pings 🙇 (Thanks for re-pinging me though!)

I'm not sure if this bug is related to https://github.com/WordPress/gutenberg/pull/36984 though. I'm able to reproduce this bug even after reverting that commit.

I don't have the time to investigate this at the time, unfortunately. Maybe `git bisect` would help pinpoin

[2022-11-03 05:43] andrewserong commented on #30121
Update: I've added some notes on next steps for the WIP PR here (https://github.com/WordPress/gutenberg/pull/44723#issuecomment-1301667212) along with a couple of comments on the current blockers — still a fair bit more to be done before it'll be ready for testing. I'll be AFK off and on for the next couple of weeks, but will pick up the PR again once I'm back.

A few thoughts / things that might

[2022-11-03 05:57] annezazu commented on #45341
@abaicus is it okay if we close this out considering? Perhaps it's worth updating this handbook page around this specific use case since it seems to have resonated too: https://developer.wordpress.org/themes/block-themes/converting-a-classic-theme-to-a-block-theme/

[2022-11-03 05:59] #45474 closed, assigned to peterwilsoncc

[2022-11-03 06:05] Mamaduka commented on #11700
The entity selector resolution can be invalidated using the [`invalidateResolution`](https://github.com/WordPress/gutenberg/blob/trunk/packages/data/src/redux-store/metadata/actions.js#L110-L124) meta action.

Considering that `apiFetch` is a small wrapper around `fetch()`, I don't think we should provide caching or invalidation support.

The component that might require manual refresh should use

[2022-11-03 06:16] Mamaduka commented on #43464
Hi, @jonathan-cfmp

I just wanted to check in to see if you got a chance to test the fix that shipped with WP 6.1.

[2022-11-03 07:30] ghost opened #45506 "Button block appender not working after update 6.1"
### Description

Hi,

I am experiencing an issue with the button block appender which I already stated here: https://github.com/WordPress/gutenberg/issues/45497 and here https://core.trac.wordpress.org/ticket/56965.

Now I just did a fresh install of WordPress 6.1 with the Twenty Twenty-Three theme and this issue still seems to persist.

Therefor I'm creating this new bug report since I think this

[2022-11-03 08:02] talldan commented on #45287
I think the custom items provided by plugins also wouldn't have a name or label, so that would make it difficult to display them in the dropdown.

[2022-11-03 08:37] t-hamano commented on #45496
I'm investigateing this issue:

- Gutenberg13.9.0: Not reproduced
- Gutenberg14.0.0: Reproduced

[2022-11-03 08:37] fabiankaegy commented on #45287
It would be great to use the mechanism @aaronrobertshaw mentioned to just display them there. But also I would love there to be a new API to actually adapt the Panels approach. That way plugin authors can migrate to the new approach and match the core UI paradigm.

[2022-11-03 08:47] madhusudhand commented on #42919
@noisysocks @priethor I have created a very primitive version of the component here #45507 to demo box-shadow in live action. I will extract the code and create a Draft PR here.

[2022-11-03 09:14] jasmussen commented on #45504
I might not be parsing this right, but I would say, if `fluid: true`:

* If a font size preset is set to 16px, it clamps between 14 and 16
* If a font size preset is set to 14, it's 14, not fluid
* If a font size preset is set to 12, it's 12, not fluid

What do you think?

[2022-11-03 09:28] abder commented on #28009
Yes, Thanks!

[2022-11-03 09:28] #28009 closed

[2022-11-03 09:51] jasmussen commented on #45371
I can see people initially wanting to just import everything to have choice, and then deciding more isn't necessarily better and needing to delete. Yes, when imported like this, they'd be duplicate.

I like the idea of just toggling the availability of styles like that, let's try it. I do think there are some technical questions that will likely emerge on what importing actually means, because we

[2022-11-03 10:13] ockham opened #45508 "Remove backported code from WP 6.0 compat layer"
Now that WordPress 6.1 has been released, we should remove the back-compat code for WordPress 6.0 (in `lib/compat/wordpress-6.0/`) from Gutenberg. This is because Gutenberg supports the current and previous versions of WordPress (i.e 6.1 and 6.0); the code in `lib/compat/wordpress-6.1/` is needed to allow it to work on a WP 6.0 installation (which lacks some code that is in 6.1). (OTOH, the `lib/c

[2022-11-03 10:20] t-hamano commented on #45496
I found the cause.
This is due to the difference in the behavior of `code` and `keyCode` in keyboard events.

In #43432, `keyCode` in the autocomplete UI was replaced with `code`. It then detects the `Enter` key and inserts the currently selected block in the autocomplete popover.

Also, as I explained in the first comment on this issue, in Japanese input, after typing "hiragana" character, we cho

[2022-11-03 10:25] jasmussen commented on #30121
I'm not in love with the following mockup, but for now it can maybe serve as a general idea of how it might work:

<img width="1004" alt="Sticky toggle" src="https://user-images.githubusercontent.com/1204802/199697133-5615849d-b952-47c0-a51c-373dfe3504a4.png">

Outside of compression to a single row, the dropdown would theoretically scale to relative and static positions, if we chose to include th

[2022-11-03 10:28] Mamaduka commented on #39270
I just pushed my current progress for this feature #45509.

[2022-11-03 10:34] jameskoster commented on #30121
It seems important not to conflate `position: sticky` and `position: fixed`.

Do we need the "Placement" control? It appears that making something sticky relative to the bottom of the viewport is [a bit hacky](https://stackoverflow.com/questions/54471322/css-position-sticky-to-bottom-when-enter-viewport). It also doesn't solve the fixed-footer use case.

[2022-11-03 10:42] jasmussen commented on #45371
Actually let me get one more round of feedback, because it remains somewhat complex. Here's a basic flow of importing from a file:

<img width="3136" alt="Import styles from file" src="https://user-images.githubusercontent.com/1204802/199699800-b1eabf44-595d-49eb-b29a-66779d633cb6.png">

* Import file exists in ellipsis menu.
* Plus remains for a future "create from scratch" feature.

You can surf

[2022-11-03 10:43] jasmussen commented on #30121
I like to start with as little as possible, and only add controls when we know for sure they are needed. I'd love to start with just the segmented control if we can.

[2022-11-03 10:45] abaicus commented on #45341
@annezazu Yes, I think we can close the issue. It would be great if it could be mentioned in the handbook. 👍🏻

Thank you for all the help!

[2022-11-03 11:00] #45341 closed, assigned to nobody

[2022-11-03 11:09] jameskoster commented on #45371
This is looking good to me :) The only missing piece so far as I can see is the handling of custom style names. How do you see that working? Or do you think they just adopt the same name as their theme style counterpart? That may be fine to begin with, but worth noting that when we add the ability to create a style from scratch then naming/renaming will be required.

I don't have a strong feeling

[2022-11-03 11:10] jameskoster commented on #30121
+1.

Position
* Default
* Sticky

Feels like a good place to start and a very neat enhancement on its own.

[2022-11-03 11:19] draganescu opened #45511 "Deleting a paragraph after a columns block adds it to the colums block"
### Description

When deleting a paragraph that is found after a columns block it seems there is a bug causing it to be added to the column block as a new column containing an empty paragraph.

### Step-by-step reproduction instructions

1. Make a new post
2. Add a columns block with two equal columns
3. Add a paragraph after the columns block
4. Delete the paragraph with the BACKSPACE key
5. Noti

[2022-11-03 11:20] Mamaduka commented on #45511
I think this is similar to #45436.

[2022-11-03 11:24] #45495 closed, assigned to ellatrix

[2022-11-03 11:25] #13600 closed

[2022-11-03 11:28] jasmussen commented on #45371
Good call. My instinct would be that they adopt the names they are imported or copied with, and can't be edited until we also look at the "Create new" flow, which might be as simple as this:
<img width="3728" alt="Creating from scratch" src="https://user-images.githubusercontent.com/1204802/199709610-7e92aaa9-b6ab-4931-a500-df3f9b7d88ee.png">

[2022-11-03 11:29] carolinan commented on #45341
I think we may need a little bit more information to help us update the documentation. @abaicus Would you be able to share an example where you are using the filter?

[2022-11-03 11:31] tyxla commented on #12907
Cool, thank you @Mamaduka! I'll work on addressing those.

[2022-11-03 11:40] getdave opened #45512 "Nav block use slug to reference Navigation Menu"
This Issue _specifically_ tracks the ongoing effort to use a `slug` to reference a Navigation Menu (`wp_navigation` Post) instead of the current postID based setup.

This is required because IDs are not consistent across environments. Moreover, it opens the way to improve auto-selection of menus based on location with a site template part hierarchy.

## Routes

Currently there are two routes open

[2022-11-03 11:56] draganescu commented on #45511
Thanks @Mamaduka it's identical :) to #45436

[2022-11-03 11:56] #45511 closed, assigned to nobody

[2022-11-03 12:11] ndiego commented on #45504
I really like where this PR is headed, and it addresses some concerns we have seen surfacing since 6.1 release. Therefore, I have added it to the 6.1.1 board. I completely agree that the set custom size should act as the maximum.

This seems like a solid approach.

[2022-11-03 12:11] jasmussen commented on #45371
This issue has been updated and labelled "Needs Dev", as we've settled on a design that could likely work for a first iteration.

[2022-11-03 12:12] jasmussen commented on #45452
https://github.com/WordPress/gutenberg/issues/45371 was updated to include mockups that address this. What do you think?

[2022-11-03 12:14] jasmussen commented on #38333
https://github.com/WordPress/gutenberg/issues/45371 has been updated to include design elements from Channing's designs here (props are due!), but in addition to this, allow importing, exporting, copying styles from another theme, deleting, and otherwise. Would it be useful to close this one in favor of the other, or update this one and close 45371?

[2022-11-03 12:14] jasmussen commented on #45210
What do you think of the latest iterations to https://github.com/WordPress/gutenberg/issues/45371? By copying a style to "Custom styles" (and adding the unread dot) as soon as it gets customized, does it resolve this?

[2022-11-03 12:21] ghost commented on #41637
Subscribed. Would really like to see this feature in an upcoming update.

[2022-11-03 12:24] dan-zakirov commented on #30142
In general, I think that each block should have the possibility of custom css

[2022-11-03 12:24] oandregal commented on #45171
Hey @spacedmonkey your comment may induce people to think this is about a refactor, that code does not have unit test, etc.
That's not true.

The issue description should be clear enough, though reiterating never hurts for expectations to be clear for everyone. This is about coordinating work among the dozens of people working on this area by highlighting actionable issues that will have an impact

[2022-11-03 12:25] oandregal commented on #45171
https://github.com/WordPress/wordpress-develop/pull/3556 backports to core the `wp_theme_has_theme_json` method.

[2022-11-03 12:31] spacedmonkey commented on #45171
Confused by this comment. I am just expanding on all this work should include refactoring to improve code quality and testability. A goal we should always keep in mind for any change to code.

[2022-11-03 12:41] jasmussen commented on #30121
I've updated this issue with the latest mockups and ideas from the comments. It was already assigned a dev, so hopefully this just adds clarity!

[2022-11-03 13:31] jonathan-cfmp commented on #43464
Everything seems to be working correctly now @Mamaduka. I added the tag and got the 400 error because the tag already existed, but the tag saved even though it was not in the autosuggest list. Thanks for fixing the issue.

[2022-11-03 13:36] Mamaduka commented on #43464
Thanks for the confirmation, @jonathan-cfmp!

I will close the issue as the fix was confirmed in WP 6.1.

[2022-11-03 13:36] #43464 closed, assigned to nobody

[2022-11-03 13:47] jameskoster commented on #45210
Yes, I think so.

[2022-11-03 13:47] #45210 closed, assigned to nobody

[2022-11-03 14:04] #45496 closed, assigned to t-hamano

[2022-11-03 14:14] t-hamano commented on #45496
@annezazu
This issue has been resolved by #45510.
Could you move it to the appropriate column on the project board?

[2022-11-03 14:16] t-hamano commented on #45497
I checked and it does not occur with Gutenberg 13.0, but reproduces from Gutenberg 13.1.
Furthermore, according to #40441, this change appears to be intended.

[2022-11-03 14:20] ndiego commented on #45497
Thanks for tracking this down @t-hamano. I thought I remembered it being an intentional change, but could not find the PR.

[2022-11-03 14:49] priard commented on #45497
I'm curious to know what kind of thinking went behind this change. Today I've already had dozens of people ask me why the button disappeared and how they should now add blocks. Of course there are other ways to add them, but as you can see this one was the most convenient and popular. That is why I am surprised by the change.

[2022-11-03 14:50] juanmaguitar opened #45519 "Create a section "Arguments" for create-block to explain in detail each one of the options"
[`@wordpress/create-block`](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-create-block/) page has the following structure
- Intro to the package
- **Description** → Description of the package
- **Quick Start** → Quick start with the package
- **Usage** → Examples of use and display of options
- **Available Commands** → Commands that can be used when the block is b

[2022-11-03 14:54] ndiego commented on #45497
@priard I cannot speak to the decision for the change, and while I personally always use the slash inserter 😅, the feedback received so far from the community definitely warrants a discussion on adding this functionality back in 6.1.1. Thanks for adding your feedback. 🙏

[2022-11-03 14:54] spacedmonkey commented on #45171
Seems like a duplicate: https://core.trac.wordpress.org/ticket/56974 . CC @aristath

[2022-11-03 14:58] lddd commented on #45153
Can't update to the German version of 6.1

[code]

[2022-11-03 14:58] georgeh commented on #45442
I'm looking at the interactions shown in [this video](https://github.com/WordPress/gutenberg/issues/42257#issuecomment-1284797475) on #42257

I see 2 interactions in that video:

1. Editing a Page List block should trigger the "Convert to Links" modal
2. Editing another block should slide in an inspector panel for editing that block's attributes

[2022-11-03 15:02] swissspidy commented on #12907
@tyxla Just curious, I assume you're able to handle those in your library? Looks like the version on GitHub is not the same as the one on npm

[2022-11-03 15:05] priard commented on #45497
@ndiego, I too use slash inserter (most convenient IMHO) to add blocks, so I was surprised at first, but the number of questions about this button overwhelmed me. It's quite astonishing how strong some habits can be. Thanks for your response. 🖖

[2022-11-03 15:09] t-hamano commented on #45497
I also saw many users on social media who were surprised by this change.

For example, if I search for "`lang:ja wordpress`" and so on, there are at least two dozen users mentioning this change, some recognizing it as a bug.

I think we should discuss in depth the background behind this change and what direction it should ideally take in the future.

[2022-11-03 15:11] mmtr opened #45520 "Unable to change the block spacing within Global Styles when KSES is active"
### Description

The KSES filters don't allow to change the block spacing via the Global Styles sidebar in the site editor.

These filters are only registered when a user doesn't have the `unfiltered_html` capability (which is the case for [multisite regular admins](https://core.trac.wordpress.org/browser/tags/6.1/src/wp-includes/capabilities.php?marks=591,592#L591)).

When these filters are activ

[2022-11-03 15:16] #45263 closed, assigned to jorgefilipecosta

[2022-11-03 15:16] mmtr commented on #45520
Looks like this issue is also preventing the dimensions from being changed:

https://user-images.githubusercontent.com/1233880/199760647-0ca98745-5695-494e-808d-479af4bb3f0a.mov

[2022-11-03 15:22] github-actions[bot] opened #45522 "[Flaky Test] inserts blocks by dragging and dropping from the global inserter"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
inserts blocks by dragging and dropping from the global inserter

## Test path
`/test/e2e/specs/editor/various/inserting-blocks.spec.js`

## Errors

<time datetime="2022-11-03T15:22:22.338Z"><code>[2022-11-03T15:22:22.338Z]</code></time> Test passed after 1 failed attempt on

[2022-11-03 15:31] tyxla commented on #12907
Yes.

Oops, seems like we forgot to tag the release here and only did it in npm. Just published it on GitHub as well: https://github.com/tyxla/remove-accents/releases/tag/v0.4.3. Thanks, @swissspidy!

[2022-11-03 15:39] atachibana opened #45523 "Duplicate string: 'Distraction free' and 'Distraction Free'"
### Description

In the [Polyglots of Gutenberg](https://translate.wordpress.org/projects/wp-plugins/gutenberg/), we see two string 'Distraction free' and 'Distraction Free'. These are come from:
[code]
'Distraction free' (lower 'free') is used in most places (ex. 'Distraction free mode turned on.'), so I think it should be consistent with that text. 'Distraction Free' (capitalized 'Free') is used

[2022-11-03 15:57] margaretschneider commented on #45497
I also prefer the / inserter method, but in my experience training hundreds of publishers to use WordPress, many folks overwhelmingly prefer the small black + block inserter. I've typically trained folks on all five or six methods of adding a new block, and they've tended to gravitate toward the small +. I think it helps folks to have a button that's right there, so they don't have to remember to

[2022-11-03 16:34] annezazu commented on #45496
Moved to needing to be cherry picked. Thanks so much for working on this!

[2022-11-03 16:40] beafialho commented on #44501
### For current categories

I have a few suggestions for the descriptions.

**Featured**
A set of high quality curated patterns.

**Buttons**
Patterns that contain buttons and call to actions.

**Columns**
Multi column patterns with more complex layouts.

**Text**
Patterns containing mostly text.

**Footers**
A variety of footer designs displaying information and site navigation.

**Headers**
A va

[2022-11-03 16:52] LukaszJaro opened #45526 "Table block: unable to make changes to rows or columns when no body rows are present and header is activated"
### Description

Discovered in this support forum https://wordpress.org/support/topic/table-block-variation-with-header-section-activated/#post-16161912

"Insert Row" function broken when no body rows are present and header is activated.

### Step-by-step reproduction instructions

1. Insert a Table block
2. Add a header section and some body rows
3. Then delete all of the body rows
4. Then attemp

[2022-11-03 17:26] stacimc commented on #44760
I was able to reproduce this in WP 6.0.3, Gutenberg 14.4.0.

[2022-11-03 17:44] synyan commented on #45001
Hi talldan, I think the issue may have been solved since I don't see the welcome page again, and thankfully panel buttons are off, even after I clear my browser cache. I will of course keep an eye on it see if it happens in the future. Thank you for your help.

[2022-11-03 17:45] annezazu commented on #45396
I can try to get data still if it's helpful! Just let me know and I'll make the request. Otherwise, let's move forward with the PR @jffng is kindly working on (thank you).

[2022-11-03 18:30] georgeh opened #45527 "Meta: compressed-size-actions bot reporting incorrect sizes"
### Description

In the conversation on #42750, @gziolo [noted that the `compressed-size-actions` bot was reporting a size increase when I was seeing a decrease](https://github.com/WordPress/gutenberg/pull/42750#issuecomment-1255959475).

After reviewing the action run logs, it appears that the bot is not reporting size changes correctly on un-rebased branches.

The bot is comparing asset sizes fr

[2022-11-03 18:31] felixarntz commented on #45171
@oandregal Most of this issue appears to cover general code quality, however in the description you also mention performance. Would you like to use this issue as a "tracker" / "overview" issue for performance-related enhancements/fixes as well? If so, potentially we should add https://github.com/WordPress/wordpress-develop/pull/3536 (it's a core PR, but may affect Gutenberg as well).

On that note

[2022-11-03 18:33] georgeh commented on #45527
[Here's an example run showing the behavior](https://github.com/WordPress/gutenberg/actions/runs/3347727590/jobs/5546027633)

[code]

`a44fd98` is the head of the PR branch
`3c9a0207` was the latest commit on `trunk` when that ran
`6f0b405c14` was the commit that the PR branched off at.

[2022-11-03 18:44] annezazu commented on #45523
@draganescu  as a heads up!

[2022-11-03 18:45] annezazu commented on #45506
Moving to the 6.1.1 board to be triaged.

[2022-11-03 19:12] joedolson commented on #45396
But it uses them on the home page.

![image](https://user-images.githubusercontent.com/1686451/199813327-7bceed7a-3558-4bcb-87e2-ff93c6574960.png)

[2022-11-03 20:10] mirka opened #45532 "ToggleGroupControl: Tweak button size for large variant"
Currently, the options buttons of a ToggleGroupControl in the large size variant is 34px. We want to change this to 32px.

Original request [here](https://github.com/WordPress/gutenberg/pull/45492#pullrequestreview-1166448565).

[2022-11-03 20:12] melvinisken commented on #45153
It seems not to be solved. Today I run all updates and now my galleries look like in your screenshots. Here is the view in the editor and the page. I added my site info as well.
![grafik](https://user-images.githubusercontent.com/10966010/199823808-8a71bf49-3aa1-4448-ae39-ad1fd217459d.png)
![grafik](https://user-images.githubusercontent.com/10966010/199823837-18e15c60-3a02-4ceb-9019-5fb49c473f56.p

[2022-11-03 22:00] felixarntz commented on #41783
I found the problem here and addressed it as part of https://github.com/WordPress/wordpress-develop/pull/3560: Basically, the issue with the `core/post-featured-image` block here is the lack of https://github.com/WordPress/wordpress-develop/pull/3560/files#diff-a9372558b4bbc50ffb4ff3b685da5c4e1ed1e2d58cf97e47c0abbfd7c58681c9R24 in that block rendering function. This is currently breaking backward

[2022-11-03 22:02] ramonjd commented on #30701
I think this is because the default style of link elements has `text-decoration: underline` enabled. See the [theme.json](https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpress-6.1/theme.json#L412)

Setting that to the following:

[code]

And it works:

![2022-11-04 09 00 25](https://user-images.githubusercontent.com/6458278/199842681-21bfb7c2-b246-4ade-92f7-c1c827247088.gif)

So,

[2022-11-03 22:17] ramonjd commented on #45508
You bet. I started with typography a while back already: https://github.com/WordPress/gutenberg/pull/43928 Need to dust it off.

Will be out of action next week, but I'll put this issue on a list to remind my brain.

[2022-11-03 22:31] jorgefilipecosta commented on #44193
Hi @alexstine, than you for catching the missing label change. @colorful-tones thank you for suggesting a new label.
@annezazu there is a follow-up PR fixing this at https://github.com/WordPress/gutenberg/pull/45524.

[2022-11-03 22:55] aaronrobertshaw commented on #30701
Text decoration is a bit of a special case. Browsers render it differently than other typographic styles. Once it is applied to the parent, it can't really be overridden on inner elements.

In this case, setting the inner link text-decoration to `none` means the parent text-decoration is painted on all child elements hence visually now looking to work (well, visually working is all there really is

[2022-11-03 22:55] ramonjd commented on #45504
Thanks everyone for the input, and I know there are a lot of variables to look at, so I appreciate the patience.

I'll take a stab at simplifying things, and disabling clamp in certain situations, and we can try it out.

It might be more accessible to critique the UX when we have something to play with.

[2022-11-04 00:54] bradhogan commented on #41824
@carolinan I don't believe even the comment form button takes on all of the default theme styles from the theme's theme.json for a button, right?  Adding the ability for any button or input that has `.wp-element-button` to pull in the theme.json styles would solve this.

[2022-11-04 00:59] ramonjd commented on #45504
@ndiego I've just taken a look at the planning schedule https://make.wordpress.org/core/2022/11/04/wordpress-6-1-1-planning/

I won't be able to get this done before the due date. Next week is out for me. Sorry!

[2022-11-04 01:21] noisysocks commented on #23351
Probably a good idea to look at moving this test to Playwright too while we're at it.

[2022-11-04 01:30] noisysocks commented on #45088
I think you meant to cc. @youknowriad :)

[2022-11-04 01:49] noisysocks commented on #31112
As a first step we could use the existing `ComboboxControl` component.

[2022-11-04 01:58] noisysocks commented on #31158
Would love design input on a solution here.

[2022-11-04 02:06] ramonjd commented on #45504
Just gather requirements here. Does this sound compatible with everyone's requirements so far?

### 1. Try to clampify every value if fluid: true.

❗  For single values with no set min or max use the value as the max value. When calculating the min value, if it's < 14px, then set it to `14px`

### 2. If a single value with no set min or max (preset or custom) is <= than 14px, don't clampify.

Appl

[2022-11-04 02:09] noisysocks commented on #24957
These two suggestions were implemented as part of https://github.com/WordPress/gutenberg/pull/39209.

[2022-11-04 02:16] noisysocks commented on #43709
Hi @t-hamano I unassigned you as I can't see that you're working on this. Re-assign yourself if I'm mistaken 😀

[2022-11-04 02:17] noisysocks commented on #44688
Hey @Mamaduka can't see that you're working on this so unassigned you. Re-assign yourself if I'm mistaken!

[2022-11-04 02:24] noisysocks commented on #26223
When I test this locally I see that the inserter sidebar remains open after inserting a block in the post editor, widgets editor, and site editor.

[2022-11-04 02:25] noisysocks commented on #26223
Oh! My mistake. This is an enhancement request to add a setting that allows this behaviour to be configurable.

[2022-11-04 02:27] noisysocks commented on #26223
@paaljoachim: What were the a11y concerns discussed?

[2022-11-04 02:29] ddryo commented on #45497
Hello, I am a theme developer in Japan.

Very many users are quite confused and inconvenienced about this change.

The developers are used to using "/" and may not care, but many normal users are much more likely to use the button.

In a Japanese environment, for example, it is also necessary to switch between alphanumeric and Japanese mode in order to enter "/".
Therefore, many users are likely t

[2022-11-04 02:54] alexstine commented on #45489
The inserter should support a roving tabindex pattern so that way focus cannot exit the inserter sidebar. It is the sidebar itself that needs to manage the focus, not the specific rendered components. Not sure what the bug is now, but I trust @ntsekouras has found it.

Thanks.

[2022-11-04 02:54] carolinan commented on #45396
Not by default:

https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-content/themes/twentytwentythree/templates/home.html#L14

This code does not include a link:
``

An excerpt with a custom link text would have the following code:

``

Did you place a post excerpt in the post content of those test posts? Then it wouldn't be a clickable link on the homepage because the homepage shows

[2022-11-04 02:56] ddryo commented on #38126
I just confirmed that the class was added in 6.1.
thank you!

[2022-11-04 02:56] #38126 closed, assigned to nobody

[2022-11-04 02:58] ddryo commented on #38127
As it is used in various blocks, not just groups, I have found this specification necessary.

So I will close.

[2022-11-04 02:58] #38127 closed, assigned to nobody

[2022-11-04 03:28] ozolinaa commented on #45153
Also experiencing issues, should be re-opened

[2022-11-04 04:17] carolinan commented on #41824
The default themes support different versions of WordPress, so you will get different results.
The `wp-element-button` is not supported in the older themes.

[2022-11-04 04:38] ramonjd commented on #45504
I've got something up to test in the meantime: https://github.com/WordPress/gutenberg/pull/45536

But probably won't get much time over the next week or so to work on it.

[2022-11-04 05:09] Tukaramdas commented on #26223
My side bar NEVER stays open after selecting a block. It is a major pain in the butt and really hampers efficient work.

[2022-11-04 05:20] carolinan commented on #45396
My train of thought was the following; The post excerpt (not the read more block) does not show a link at all by default
(This was to avoid having a repetitive link text).
If there is a large majority that adds a custom text to this block, then I think that would indicate that it would be better for the default to show a read more link.

It might be out of scope for this issue. What do you all thi

[2022-11-04 06:02] miminari opened #45539 "Post author biography block: In core and the block, the terms "profile: Biographical Info" and "biography" are blurred and need to be unified."
## What problem does this address?
Thank you for adding the Post author biography block. It's very useful block.
But, I had a little confused that name is different from the Users Profile config page.
As it is, I think there will be confusion in figuring out which items correspond to which.

![Screenshot Users Profile](https://user-images.githubusercontent.com/487207/199901872-29c87dac-8b92-4e62-b

[2022-11-04 07:20] #45065 closed, assigned to mikachan

[2022-11-04 07:22] jasmussen commented on #45497
@youknowriad perhaps we should look at adding this back?

[2022-11-04 07:51] youknowriad commented on #26223
@noisysocks I think this is a bit difficult and not suited for "Good First Issue" as there are a lot of a11y implications related to the removal of the "dialog behavior" of the inserter (focus out closes it). I'm removing the label but feel free to restore it if I misunderstood the issue :)

[2022-11-04 07:56] madhusudhand commented on #42963
Hi @ndiego, Thanks for details on the context.
I verified the issue again with latest Gutenberg and it is working as per the given expectations.

However I have the following perspective on how the menus and sub-menus should be working.

| Current | expectation (My perspective) |
| --- | --- |
| <img width="834" alt="image" src="https://user-images.githubusercontent.com/1935113/199914348-0f11fde7-

[2022-11-04 08:15] t-hamano opened #45540 "Embed Blocks: Additional CSS classes are not saved"
### Description

Additional CSS classes are not preserved in embed blocks.
At least, it was reproduced in the following blocks

- Twitter
- YouTube
- Flickr

In addition, Twitter will no longer preview correctly when additional CSS classes are entered.

https://user-images.githubusercontent.com/54422211/199924820-eb48bc65-645c-4937-b6d7-b09517d0a925.mp4

### Step-by-step reproduction instructions

[2022-11-04 08:22] paaljoachim commented on #26223
Hey Robert @noisysocks

Here is a comment from @alexstine made on Slack in the Core Editor channel
https://wordpress.slack.com/archives/C02QB2JS7/p1666869815396689

It will only be the right way to go if my list view test goes well. Really, this whole section needs to be refactored first, but could hack it together if necessary. The whole problem was if focus moved away, there was no way to get ba

[2022-11-04 08:30] oandregal commented on #45171
Added a new item in the performance category:

[2022-11-04 08:45] oandregal commented on #45171
Yes, that'd be lovely. Please, share here any related work, so people interested has a central place to track how this evolves, and we can coordinate among the editor & performance folks working in this area (a bunch!).

To keep busy work to a minimum and increase the test base for the changes to the maximum, the ideal flow would be:

1. Create and merge PRs in Gutenberg.
2. Backport them to core

[2022-11-04 08:49] R33D3M33R commented on #28149
Hi,

here is a test sample pasted from plain text editor:

Pasted: 26. 11. 2021 - 18. 05. 2023
Result: 2021 - 18. 05. 2023

Result is pasted as **inline code**

If you omit the first space in the date it works: 26.11. 2021 - 18. 05. 2023

Please fix ASAP as it's extremely annoying.

[2022-11-04 09:06] R33D3M33R commented on #24895
Hi,

what a horrible "feature". When you select text and paste something, you want to replace it with the pasted content. You have a **button** to make a link ...

[2022-11-04 09:30] t-hamano commented on #45153
Thanks for the report.
This issue is about blocks "breaking" due to a lack of backward compatibility support.

@lddd

If you access the following URL directly, the data appears to be downloaded correctly.
https://downloads.wordpress.org/release/de_DE/wordpress-6.1.zip

If the problem you report is not resolved, [WordPress Trac](https://core.trac.wordpress.org/) would be the appropriate place to re

[2022-11-04 09:53] oandregal commented on #45171
Trying using the object cache for `wp_theme_has_theme_json` at https://github.com/WordPress/gutenberg/pull/45543

[2022-11-04 10:14] t-hamano commented on #43709
@noisysocks
Sorry, I forgot to address this issue. I hope to submit a PR soon.

[2022-11-04 10:42] Mamaduka commented on #45165
Hi, @mmtr

I followed the reproduction steps and could not reproduce the issue using WP 6.1 with and without Gutenberg 14.5 RC. Tested using 2022 and 2023 themes.

Can you confirm that you are still seeing the bug?

[2022-11-04 10:42] mikachan opened #45547 "Quote Block: styles are different between front end and editor"
### Description

The default styles of the quote block are different between the editor and the front end:

| Editor | Front end |
| ----- | ---------- |
| ![image](https://user-images.githubusercontent.com/1645628/199953501-2405029a-e5a3-4e92-b0ee-d196126c8171.png) | ![image](https://user-images.githubusercontent.com/1645628/199953467-e85f8942-e695-42f0-af77-1d1f246ffde8.png) |

Text alignment ex

[2022-11-04 10:58] jasmussen commented on #44501
I implemented the above descriptions in #45548, but wasn't able to include the new categories yet, it seems like we might need a core patch. How do we get moving on that? Happy to do the code work.

One followup question to the Universal + Site Building categories above, @beafialho, were you thinking that both categories exist in both the post editor and the site editor? Or are site building patte

[2022-11-04 11:12] mrfoxtalbot opened #45549 "There should be a way to remove "Drop Caps" added with older version of the editor"
### Description

Older versions of the editor allowed to set a "Drop Cap" on paragraph blocks.

This option is no longer available in the editor but any paragraphs that include a Drop Cap will still show it. The problem is that users do not have an easy way to remove this dropcaps, since the interface no longer offers this option.

This problem was flagged in this support thread: https://wordpress

[2022-11-04 11:23] carolinan commented on #45549
If I understood the issue correctly, the editor does not remove the drop cap CSS when the drop cap is disabled site wide via theme.json?

I agree there should not be a "lock-in" where users are not able to remove styles set by a previously active theme 🤔

[2022-11-04 11:41] jameskoster opened #45550 "Site editing: Create a space for the management of Reusable Blocks"
Related to https://github.com/WordPress/gutenberg/issues/44461 and a part of https://github.com/WordPress/gutenberg/issues/32682.

Currently Reusable Blocks can only be managed in a 'legacy' wp-admin view:

<img width="1708" alt="Screenshot 2022-11-04 at 11 35 08" src="https://user-images.githubusercontent.com/846565/199963310-4d0ee1cd-4ac8-433d-a3e2-740cbba1b133.png">

It's tricky to find, and th

[2022-11-04 11:42] jorgefilipecosta commented on #45374
This is a core-specific issue (the problem does not affect the Gutenberg plugin), and a fix is available at https://github.com/WordPress/wordpress-develop/pull/3564. It is very important to get this on 6.1.1.

[2022-11-04 12:04] randhirexpresstech opened #45551 "WordPress 6.1 group block delete custom attributes"
### Description

Wordpress 6.1, Group block delete custom attributes in following cases
1. [On copy](https://app.usebubbles.com/rjbFVnPdnKLjWk14f7pzKK/group-block-bug?threadId=eMwto7emFp8y11tLX6TNrw) group block from 6.0.3 and paste it on 6.1.
2. [On set](https://app.usebubbles.com/rjbFVnPdnKLjWk14f7pzKK/group-block-bug?threadId=uKGuBJaocscnZhU8ZpHZ76) content width
custom attributes added by filt

[2022-11-04 12:05] jameskoster opened #45552 "Enable shuffling of sections in zoomed out mode"
Related to https://github.com/WordPress/gutenberg/issues/44581 and https://github.com/WordPress/gutenberg/issues/44582

In zoomed out view it would be nice to offer a way to shuffle/remix sections where possible:

* Template parts with semantic area (Headers / Footers) can be shuffled.
* Sections with `templateLock:contentOnly` can be remixed.
* _Potentially_: All sections, applying the same logic

[2022-11-04 12:05] mmtr commented on #45165
You're right @Mamaduka. Seems the issue was solved in Gutenberg 14.4.0 since I cannot reproduce it on that version (but it's still present in 14.3.1).

[2022-11-04 12:05] #45165 closed, assigned to nobody

[2022-11-04 12:07] Mamaduka commented on #45165
Thanks for the update, @mmtr!

[2022-11-04 12:08] beafialho commented on #44501
Yes, I think this makes the most sense. Unless there's a specific reason why we'd want to add site building patterns to posts/pages but I can't think of one right now.

[2022-11-04 12:49] jameskoster commented on #44501
In https://github.com/WordPress/pattern-directory/issues/534 @ryelle suggested that the Pattern Directory would follow however Gutenberg decides to mark site building patterns.

Perhaps `$category_properties` could entertain a `site_building => true` (or similar) value in `register_block_pattern_category()`?

[2022-11-04 13:00] Aljullu opened #45553 "Post terms block shouldn't be available in the inserter if the taxonomy is not associated to the post type being edited"
### Description

Currently, the post terms block is available in all posts and pages, even if the taxonomy they represent is not associated to the post type being edited.

### Step-by-step reproduction instructions

1. Create a _Recipe_ post type:
[code]
2. Create a _Recipe Categories_ taxonomy associated to the _Recipe_ post type:
[code]
3. Create a post or page.
4. Notice you can insert the _Rec

[2022-11-04 13:39] github-actions[bot] opened #45556 "[Flaky Test] should reset a named font size using the tools panel menu"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should reset a named font size using the tools panel menu

## Test path
`/test/e2e/specs/editor/various/font-size-picker.spec.js`

## Errors

<time datetime="2022-11-04T13:39:26.164Z"><code>[2022-11-04T13:39:26.164Z]</code></time> Test passed after 1 failed attempt on <a hre

[2022-11-04 13:47] cheestudio opened #45557 "Custom Blocks: Force External Stylesheets/disable "inline-css"?"
### Description

I'm using WP 6.1 and the "create-block" scaffolding. All my custom block CSS is being rendered on the front-end as inline styles, e.g.

`<style id='custom-block-page-hero-style-inline-css' type='text/css'>`

Ironically, in the dashboard, they are coming through as external stylesheets, e.g.

`<link rel='stylesheet' id='custom-block-page-hero-style-css' href='http://localhost/wordp

[2022-11-04 14:00] mmtr commented on #45171
@oandregal are you also planning to backport https://github.com/WordPress/wordpress-develop/pull/3517 into Gutenberg as part of the performance effort?

[2022-11-04 15:18] t-hamano commented on #45540
I have investigated this problem and the cause is a bit tricky. The embedded block parses the preview data and dynamically generates the appropriate class name, ignoring the previous className.

https://github.com/WordPress/gutenberg/blob/0d9d73f3282e4a0bcd4e0400176d65fcbd5dccb8/packages/block-library/src/embed/edit.js#L144-L148

This means that class names that do not match the preview data canno

[2022-11-04 15:43] ndiego commented on #45551
HI @randhirexpresstech, I have quickly looked into this. I am able to replicate the issue using your plugin. However, I am not able to replicate the issue using my own [Block Visibility](https://wordpress.org/plugins/block-visibility/) plugin that also registers custom attributes. Note that Block Visibility does not use `block_type_metadata` for attribute registration, but I can confirm that not a

[2022-11-04 15:47] kozer opened #45558 "Malformed URL params makes get-query-args to throw an error"
### Description

Malformed url params make `get-query-args` function to throw an error.
This breaks calypso.

We can fix the issue by just ignoring malformed params, keeping only those that are not malformed

Please, also check [this calypso issue](https://github.com/Automattic/wp-calypso/issues/69794) more details

### Step-by-step reproduction instructions

1. Try to parse the following `http://

[2022-11-04 16:03] bradhogan opened #45560 "Cover block within cover block text color not working properly"
### Description

Inner cover block does not change from `is-light` to `is-dark-theme` it appears only the parent cover block changes.

### Step-by-step reproduction instructions

1. Add cover block
2. Add text to cover block
3. Add cover block within the cover block
4. Add text to the inner cover block
5. Change the opacity of the background for the parent cover and notice how text changes
6. Chan

[2022-11-04 16:08] bradhogan commented on #41824
@carolinan I think this is actually working with the latest options for theme.json.  I was putting the theme button styles in styles > blocks > core/button rather than styles > elements  > button.  Looking through the Twenty Twenty Three theme was helpful.  Thanks!

[2022-11-04 16:08] #41824 closed, assigned to nobody

[2022-11-04 16:28] joedolson commented on #45396
@poena I placed a post-excerpt in a previous test run, but I'd uninstalled the theme and reinstalled it between. Is there data retained in block themes after uninstalling the theme?

[2022-11-04 16:33] joedolson commented on #45396
I'm in favor of avoiding read more links entirely if the post title is linked, but I think your observation might be true. I don't know if we have any way to get that data, but I think we can safely assert that users have a prior expectation that post excerpts are followed by a read more link, due to the thousands of themes and page builders that do this.

[2022-11-04 16:49] abaicus commented on #45341
@carolinan I've added this functionality in this commit: https://github.com/Codeinwp/raft/commit/a3d9919f15e60d6498f68c38d0163b8604636e8d.

Please let me know if you think any additional details are needed! 👍🏻

Thank you!

[2022-11-04 16:55] LeoMDragon commented on #23942
I dont know if this is helpfull for anyone, but i was experiencing a lot of issues regarding a Bluehost hosted sited, domain in other provider ( @ record on dns to link bluehost server), cloudfare,  /wp-admin login, elementor loading, and unable to Publish either a post or a page, my fix was:

Manual install of WP in Bluehost
Disable all Bluehost Plugins / security / cache stuff
Set WP URL to http

[2022-11-04 17:12] lynnbgriffith opened #45562 "Block invalidation error for pullquote block resulting in missing paragraph/text content"
### Description

On a site with a lot of pullquotes on existing pages, loading posts with that content in the editor results in a block invalidation error and the paragraphs embedded in the saved content being stripped with the error "Block validation: Expected tag name 'cite', instead saw 'p'." rendered in the console.

### Step-by-step reproduction instructions

1. Save some content to the DB fo

[2022-11-04 17:15] t-hamano commented on #45506
I have confirmed that this problem is not reproduced in the latest Gutenberg.
And this problem seems to have been unintentionally resolved in PR #44865.

By comparing before and after this commit is applied, we should be able to see that this PR has solved the problem.

- `git checkout 705d783`: Reproduced
- `git checkout d50e613`: Not reproduced

![gutenberg_45506](https://user-images.githubuserc

[2022-11-04 17:26] youknowriad commented on #45506
That PR is a bit impactful as it changes how useDisabled works. So our options are either:

 - Backport the PR and test properly (so far I didn't see any downsides to the PR)
 - Come up with a fix for the old implementation of useDisabled. (if that's even possible).

I'd suggest trying the second approach quickly first and if there's nothing obvious, backport that PR.

[2022-11-04 17:32] cheestudio commented on #45557
This post finally shed some light:

https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/

In particular, this function:

`add_filter( 'styles_inline_size_limit', '__return_zero' );`

Although the phrasing in the post said "To completely disable _small styles inlining_:", and that confused me (albeit the preceding sentence explained it more accurately).

Ei

[2022-11-04 23:42] matiasbenedetto commented on #45271
:wave: Hi! I built a little prototype before knowing about this proposal. I just read about this so I'm sharing the prototype here. It is inspired by the work that I and other colleagues made for [Create Block Theme plugin](https://wordpress.org/plugins/create-block-theme/).

This prototype implements 2 new sections in the Typography part of Global Styles. The new sections are Theme Fonts and Glob

[2022-11-05 02:53] Louis7777 commented on #30142
I would really like all these 1. **global custom CSS**, 2. **block custom CSS**, but also 3. **page custom CSS**. It would be useful to have custom CSS on the post/page level, that will be loaded just for a specific page.

[2022-11-05 04:39] alexstine commented on #26223
Yes, this will be completely premature until I land my POC for fixing this in the list view sidebar. If it works, I think this can be explored more. As of now, A11Y is still a blocker. Just did not want anyone to have loss of hope, this will likely be doable soon.

[2022-11-05 06:00] ritvikos commented on #45479
Found! WP Hide and Security Enhancer is causing this issue!
Thanks for suggestion :)

[2022-11-05 06:00] #45479 closed, assigned to nobody

[2022-11-05 07:59] edent commented on #44659
6.1 forces a "classic-themes" stylesheet which overrides the user's theme.  This is rather annoying.  Would it be possible to either revert this change, or make it so that it respects any theme set up by the user?

There's a brief discussion about how to reverse this change at https://wordpress.stackexchange.com/questions/410983/dequeue-classic-themes-min-css

[2022-11-05 10:02] ghost opened #45565 "Prevent error when unregistering WordPress core blocks and trying to add a template via a post or page"
### The problem

I created a block theme with an option to disable WordPress core blocks. When using this option, WordPress core blocks are being unregistered with the JS function "unregisterBlockType".

But when I try to create a new template within a post or page it generates an error telling that me the block "core/site-title" is unregistered. It seems that when you create a new template via a

[2022-11-05 11:16] Jabe64 commented on #30142
Exactly +1 💯 I've been waiting for this for 2 years 😩👴😅 From conversations I had with others that's one of the main drag on using Block Editor instead of page builders they've been used to. I know there is a lack of dev but I don't understand how no dev prioritize this 🤔 I still have hope for 6.2🤞🍀

[2022-11-05 13:08] scruffian commented on #44659
These rules were also present previous to 6.1, as they were in the button block. The aim of this CSS is to ensure that blocks that were relying on the default styles are still given the same defaults, but your theme should be able to override them in CSS still. What theme are you seeing a problem with?

[2022-11-05 14:30] druxstr opened #45567 "Add basic HTML list types to ordered lists"
## What problem does this address?
The list block only support numbers as list type for `<ol>`.

This is an issue, as nested ordered list quickly become confusing :

[code]
Other list type should be available, so users could write things like :

1. Ordered item
    1. Nested item
    2. Nested item
       1. Deeper nested item
2. Ordered item

## What is your proposed solution?
Add [basic HTML lis

[2022-11-05 15:02] edent commented on #44659
I built my own theme. Prior to 6.1 the "Subscribe" widget's button was controlled by my theme. This morning, after I upgraded, it had a different colour - set by classic-themes.

[2022-11-05 16:42] melvinisken commented on #45153
Thanks, I will check. Meanwhile I downgraded to 6.0.3 and everything is running smoothly again :-)

[2022-11-05 16:46] melvinisken commented on #45423
I have a similar effect by upgrading from 6.0.3 to 6.1. All my galleries are broken. The editor view is still correct, but the acutal page is broken. I'm using Neve Theme, in case that's important. Here is the editor-view and the website view:
![editor](https://user-images.githubusercontent.com/10966010/200131587-20739505-f2f2-4008-b290-b7858b003e83.png)
![website](https://user-images.githubuserco

[2022-11-05 17:36] skorasaurus commented on #45567
Hi,

Thanks for reporting;
This has been discussed and/or requested in  https://github.com/WordPress/gutenberg/issues/17738. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2022-11-05 17:36] #45567 closed, assigned to nobody

[2022-11-05 18:07] FalkoJoseph commented on #38673
Too bad this is still unresolved. Missed opportunity of rendering Vue/React based blocks in the iframe.

[2022-11-05 21:19] dkjensen commented on #44651
+1

[2022-11-05 21:55] PooSham commented on #44686
Yes, I'm terribly sorry! I noticed I had some version of docker installed in $HOME/bin, which was added to $PATH. So although I thought the docker I installed globally was used, it used that one instead. I think the differences in permissions of the executables led to some strange behavior. After I removed it everything worked fine, although I do struggle a bit with setting up a good development e

[2022-11-05 21:55] #44686 closed, assigned to nobody

[2022-11-05 22:24] druxstr commented on #17738
I feel this issue tries to address 2 different problems and should be split to better solve them.

1. Adding _cosmetic_ list types (checks, stars, pins, emojis, etc.)
2. Adding [basic HTML list types](https://html.spec.whatwg.org/multipage/grouping-content.html#attr-ol-type) (letters, Roman numerals)

Cosmetic list types are about `<ul>`. They _may_ be better dealt by a plugin.

Basic HTML list ty

[2022-11-05 22:49] Louis7777 commented on #30142
Personally, I dare say that I don't care much about **global custom CSS**, because style.css has always been my global place for CSS (yeah, I wasn't using the customizer for that), although it would indeed be really nice to be able to do it all via the editor.

I also wouldn't care much about **block custom CSS**, if I had **page custom CSS**, although it would be really nice and helpful to have b

[2022-11-05 23:02] mdmag opened #45569 "Color Palette Critical issue in 6.1"
### Description

We were using ColorPalette component which we import from @wordpress/components
colors prop have been optional until 6.1 release
6.1 release crashes our app because it suppose that color prop is required.

### Step-by-step reproduction instructions

1- Import ColorPalette from "@wordpress/components"
2- Don't pass colors prop
3- You will notice a javascript error

### Screenshots,

[2022-11-06 05:45] shimotmk commented on #44659
@c4rl0sbr4v0
I checked with 6.1 and some styles were not reflected.

Can you please check the pull request I made?
#45570

[2022-11-06 07:06] bugsysop opened #45571 "Dead link in admin menu"
### Description

In Admin Menu the submenu `Support` lead to an Error 404

The missing page: `https://fr.wordpress.org/support/plugin/gutenberg`

### Step-by-step reproduction instructions

1. Go to Admin Dashboard
2. Hover the `Gutenberg` menu
3. Clic on `Support` submenu

### Screenshots, screen recording, code snippet

_No response_

### Environment info

- WordPress 6.1
- Gutenberg 14.4.0
- En

[2022-11-06 09:26] Mamaduka commented on #45571
Thanks for contributing, @bugsysop

The URL is localized for the French translation, but the page is missing from the `fr.wordpress.org.`

It might be a good idea to reach out to the folks who work on French localization since the issue cannot be fixed in the plugin.

[2022-11-06 09:26] #45571 closed, assigned to nobody

[2022-11-06 09:34] Mamaduka commented on #45508
We cannot remove code from the WP 6.1 compat layer, only from 6.0. The plugin still has to support WP 6.0.

[2022-11-06 09:36] Mamaduka commented on #45240
Was anyone able to reproduce this issue with WP 6.1 without the Gutenberg plugin? Because I believe the issue only exists in the plugin.

First, the `get_user_data_from_wp_global_styles` methods in [Core](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/class-wp-theme-json-resolver.php#L402) and [Gutenberg](https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordp

[2022-11-06 10:40] stevapple opened #45572 "Image blocks doesn’t support non-intermediate sizes"
### Description

Nowadays many sites are already hosting the media library in the cloud, and some advanced storage services have provided cloud-based image cropping feature, which can crop the image to exactly the ideal size, so that the users won’t waste any bandwidth.

By using `image_downsize` hook, a corresponding plugin can easily introduce such feature to WordPress, and returns specific URL

[2022-11-06 11:17] christofervas opened #45573 "useRootPaddingAwareAlignments does not work for users not having edit_theme_options"
### Description

- In WordPress 6.1 `useRootPaddingAwareAlignments` does not work in the block editor for users not having `edit_theme_options` capability.

### Step-by-step reproduction instructions

1. Set `useRootPaddingAwareAlignments` to true
2. Access the block editor with a user not having the `edit_theme_options` capability

### Screenshots, screen recording, code snippet

_No response_

#

[2022-11-06 17:08] cagrimmett opened #45574 "Setting global defaults for blocks in the UI"
## What problem does this address?

I'd like the ability to set new default settings for Gutenberg blocks in the UI. It is frustrating to have to update settings for each instance of a block when you add it if your use is different than the current default.

For example, I use the Separator block often, but I prefer to use it with the Dots option and Margins set to 5. If I use the Separator block

[2022-11-06 17:10] annezazu commented on #45088
Hah! Yes. Thank you.

[2022-11-06 19:39] ndiego commented on #41204
Just stumbled upon this issue. Can this now be closed since https://github.com/WordPress/gutenberg/pull/40585 is merged?

[2022-11-06 20:52] annezazu commented on #31158
@WordPress/gutenberg-design for good measure :)

[2022-11-06 22:30] antpb opened #45576 "Saving changes to templates does not hold custom changes"
### Description

When saving a page or home page template, the previous default version of the template overwrites any custom changes.

In the below example I am attempting to save a template with a custom header menu template part called "innerpage" When saving this template, all looks good on the front end. When I click edit site again the editor displays the previous template that I thought I o

[2022-11-06 22:54] paaljoachim opened #45577 "FSE- Cover block: use Featured image - image becomes blurred"
### Description

In the Site Editor using Twenty Twenty Three. In the Cover block.
Using a featured image the image was blurred on the frontend.
Getting the same image from the media library the frontend showed the image as sharp.

### Step-by-step reproduction instructions

1. In the Site Editor. (Using Twenty Twenty Three)
2. In the Single post template. Select to use Featured image.

![Screensh

[2022-11-07 04:49] randhirexpresstech commented on #45551
Thanks @ndiego for looking into this. Here is the [sample code](https://developer.wordpress.org/reference/hooks/block_type_metadata/#user-contributed-notes) which use `block_type_metadata` registration technique for custom attribute.

[2022-11-07 05:32] Mamaduka commented on #41204
There's also a new article on extending the query block - https://make.wordpress.org/core/2022/10/10/extending-the-query-loop-block/.

[2022-11-07 07:18] flexseth commented on #45577
It could be possible that Auto Optimize plugin is attempting to optimize or resize the featured image below the resolution or size constraints that are needed for the cover block?

Try disabling that plugin, and then

1. regenerating thumbnails / clear cache
2. or uploading a completely new image to see if that resolves?

[2022-11-07 07:32] youknowriad commented on #45088
How do you "select" a block mover. I'm finding it hard to focus.

[2022-11-07 08:36] jasmussen commented on #45271
Nice! Lots to like there.

I don't think we can add Google Fonts integration here, and I think we can put Upload in a modal, but for the overall functionality it seems like there's potential to meet halfway here. Do you have a PR handy? I'd be happy to jump in and help.

[2022-11-07 08:50] paaljoachim commented on #45577
Good thoughts @flexseth Seth!

Retesting.
I deactivated all the plugins except Gutenberg.
Cleared the cache.
Tested again with the featured image. The image is blurred on the frontend.
https://webkonsulenten.com/2021/02/25/a-snu-et-personlighetsmonster/

![Screenshot 2022-11-07 at 09 39 36](https://user-images.githubusercontent.com/5323259/200264421-1fc40a2c-60ba-4466-9f00-b4f3f1848af6.jpg)

Image

[2022-11-07 08:57] paaljoachim commented on #30701
It would be helpful to also add the underline option to the textDecoration along with the other options. Removing underline for links an accessibility warning could show up. Letting the user know that removing underline for links is a bad idea, but it can be done if the user wants. Similar to using low contrast background and text colors gives a warning.

[2022-11-07 09:18] carolinan commented on #45436
I am able to reproduce this with 6.1 but not 5.9.5.

I believe this trac issue is a duplicate: [core trac 57010](https://core.trac.wordpress.org/ticket/57010).

[https://www.loom.com/share/275f988018b24145b7065d9f00e5c3cb](https://www.loom.com/share/275f988018b24145b7065d9f00e5c3cb)
I only hit delete on my keyboard enough times to remove the headers letters but when you remove the last letter the

[2022-11-07 09:21] github-actions[bot] opened #45580 "[Flaky Test] should reset a named font size using input field"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should reset a named font size using input field

## Test path
`/test/e2e/specs/editor/various/font-size-picker.spec.js`

## Errors

<time datetime="2022-11-07T09:21:05.846Z"><code>[2022-11-07T09:21:05.846Z]</code></time> Test passed after 1 failed attempt on <a href="https:

[2022-11-07 09:57] tenman opened #45582 "The block editor's post title doesn't seem to allow titles containing HTML elements, but it actually does."
### Description

gutenberg_render_block_core_post_title() use get_the_title()

get_the_title function allows HTML elements in the post title

If it's correct to disallow strings containing HTML elements, wouldn't it be better to add strip_tags?

### Step-by-step reproduction instructions

In my testing, I was able to paste a title containing the HTML element below.

`<a href="https://example.com">

[2022-11-07 10:04] E-VANCE opened #45583 "List-block not functioning properly if being allow-listed via filter..."
### Description

I am trying to limit the available blocks in the editor by filtering / "white-listing" blocks via the `allowed_block_types_all`-filter (see snippet below).

This works fine in the sense that only the specified blocks are showing up for selection but I have noticed **a bug regarding the list-block** – I can add the block but I cannot use the "Enter"-key to add a new list item.

I h

[2022-11-07 10:16] jameskoster commented on #31158
I still think the long term solution here is to make Query Loop a template-only block (that always inherits), and that we should provide [contextual variations for registered post types](https://github.com/WordPress/gutenberg/issues/40941). This simplifies everything by not forcing the Query Loop UI to entertain both use cases.

[2022-11-07 10:20] tenman commented on #45582
For the title including html, please use the one described in notepad++ utf8 , windows (cr/lf).
Just copying the code written in this report may not work.

[2022-11-07 10:34] Azragh commented on #45560
In my opinion, the class "is-light" is generally quite opinion-based and does not work properly even on the first level. Just because a background has less than 60% opacity, it is not necessarily "light" (screenshot row 1). The first two covers have a gradient background, for which white would be the better choice. The other two have a solid colour - the 3rd has a light grey at 90% opacity, the 4t

[2022-11-07 10:56] timlg07 commented on #45583
Experiencing the same issue here since updating to WordPress 6.1

[2022-11-07 11:03] timlg07 commented on #45583
Thanks for pointing out that this only happens if you restrict the block types. I added `"core/list-item"` to the white-listed blocks and it works fine again.

[2022-11-07 11:40] E-VANCE commented on #45583
Thanks @timlg07!

Exactly right, this fixes the issue and renders the list-block fully usable again. Thanks for chipping in & closing this...

[2022-11-07 11:40] #45583 closed, assigned to nobody

[2022-11-07 11:44] aristath commented on #45557
I saw this issue too late to reply, but I'm glad you found it!
Using the `styles_inline_size_limit` filter is the way to disable that functionality like you mentioned in your previous comment 👍

[2022-11-07 11:44] #45557 closed, assigned to nobody

[2022-11-07 11:44] gziolo commented on #42442
@chrisvanpatten, I hope that Jest will resolve it by adding full support for ESM 😃 I guess everything that works is good enough in the meantime.

[2022-11-07 12:42] LukaszJaro commented on #41204
Thank you for this addition, has been very useful! The accompanying article is also very informative. Looking forward to the interface to add these options.

[2022-11-07 12:42] #41204 closed, assigned to nobody

[2022-11-07 12:47] Azragh commented on #29425
Closing this as it's now possible to pass css variables to theme.json.

[2022-11-07 12:47] #29425 closed

[2022-11-07 12:55] Azragh commented on #45040
https://github.com/WordPress/gutenberg/issues/13363
https://github.com/WordPress/gutenberg/issues/20244
https://github.com/WordPress/gutenberg/issues/35808
https://github.com/WordPress/gutenberg/issues/35848
https://github.com/WordPress/gutenberg/issues/40870

[2022-11-07 13:35] jasmussen commented on #43852
I updated the issue with a mockup for surfacing the overlay in the list view, and added a note that we can start the effort with just a single navigation being tied to a single overlay, with no need to worry about replacing one with another. Let's keep things as simple as we can.

[2022-11-07 14:34] aplauche opened #45586 "core/post-content patterns fail to render preview on page creation of patterns referenced within them"
### Description

I noticed I can create page template patterns (that autoload on page creation) fine by building out content in the editor and then copying the code, but I'd like to create these core/post-content patterns with just a few references to my other section style patterns (otherwise there is a lot of repeating the same pattern multiple places making it hard to maintain). When I try to d

[2022-11-07 14:42] #45523 closed, assigned to Mamaduka

[2022-11-07 14:51] jasmussen commented on #44776
Rebased both PRs and recorded fresh GIFs in a gray theme that may be more representative. Just to compare, here's trunk:

![trunk](https://user-images.githubusercontent.com/1204802/200331132-a70cfa0f-dc75-43ad-8977-546f516fec0f.gif)

**No outlines:**
![no outlines](https://user-images.githubusercontent.com/1204802/200329978-3c44d7f8-5e3c-4ca9-aff5-0ffa6a7e9e7b.gif)

PR #44774

* There are still ou

[2022-11-07 14:52] github-actions[bot] opened #45588 "[Flaky Test] can reach toolbar items with arrow keys after pressing alt+F10"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can reach toolbar items with arrow keys after pressing alt+F10

## Test path
`/test/e2e/specs/editor/various/toolbar-roving-tabindex.spec.js`

## Errors

<time datetime="2022-11-07T14:52:31.837Z"><code>[2022-11-07T14:52:31.837Z]</code></time> Test passed after 1 failed attem

[2022-11-07 15:12] jasmussen opened #45590 "`is-layout-flow` gets applied contextually in site editor, causing layout shift"
In the site editor, using a layout involving 3 columns of latest posts, when you click between these three columns, the layout shifts:

![shift when selecting column](https://user-images.githubusercontent.com/1204802/200343755-da41b54f-e4e9-4d77-9a5c-8e65a2ab6d9a.gif)

This appears to be caused by a margin that is added to inner items between deselected and selected. When inspecting. it becomes cl

[2022-11-07 15:13] jasmussen commented on #44776
Created a followup issue and PR to improve things a bit: https://github.com/WordPress/gutenberg/issues/45590 and https://github.com/WordPress/gutenberg/pull/45589

[2022-11-07 15:15] draganescu commented on #45577
I can't repro this. The twenty twenty three, by default, I see it uses a featured image block in the single template. I understand you changed that with a cover block?

In the screenshots the image is blurry because the SRC points to a small version, but the question is why/how :)

[2022-11-07 15:15] skorasaurus commented on #45569
Hi,

Thanks for reporting; could you provide a code example of with the error occurring as well as the error message as well ; I am not able to reproduce any error on a test case where I have the following in my edit.js

[code]

[2022-11-07 15:21] flexseth commented on #45577
Paal,

The first link in your reply, the image is being upsampled. The actual image size is around 350px but is being resized to over 700px. This is why it's blurry (350px is way too small for a cover and can't be scaled up to 2x without looking blurry in any situation).

Below is Chrome dev tools that shows this

<img width="504" alt="image" src="https://user-images.githubusercontent.com/3792502/

[2022-11-07 15:23] paaljoachim commented on #45577
It was my feeling that it might be hard to reproduce.

I removed the featured image block because I am not able to add text on top of it like I can in the Cover block. So I decided to instead use the Cover block with featured image and then add some paragraph text onto it.

![Screenshot 2022-11-07 at 16 19 23](https://user-images.githubusercontent.com/5323259/200346838-730d0feb-f18b-46f3-bdfe-a712

[2022-11-07 15:23] flexseth commented on #45577
My guess is that Auto Optimize has resized this image somehow and he needs to regenerate thumbnails, perhaps and/or even has deleted the original file and left only the smaller version?

[2022-11-07 15:36] eri-trabiccolo commented on #27962
Hello, looks like this issue has back. I'm using WordPress 6.1 here.

[2022-11-07 15:39] jameskoster commented on #44776
Yeah I agree. It feels like we should take a comprehensive look at everything that selecting a block entails. With the site editor there are so many nuances to consider... getting it right will require a deeper dive.

[2022-11-07 15:53] paaljoachim commented on #45577
I went ahead and installed the Regenerate Thumbnails plugin to see if that helped. Went through the process of regenerating the images.

I went ahead and made another post with a featured image.
rebekah-blocker-1iOhhlebMk0-unsplash.jpg
March 5, 2021
83 KB
1400 by 397 pixels

The same problem is seen.
https://webkonsulenten.com/2022/11/07/a-test-post/

Hey Seth. I am wondering if it might be as you

[2022-11-07 16:24] paaljoachim commented on #45577
As I do not know what caused this glitch in the system. I will go ahead and close it. I am now aware of the issue, and if it comes back again and I have new information then I can always reopen.

Thanks for being there Seth! @flexseth

[2022-11-07 16:24] #45577 closed, assigned to nobody

[2022-11-07 16:51] ckanitz opened #45592 "wp-env: Unable to upload plugins on Linux & Windows, error on media upload."
### Description

When I `wp-env start` my dev environment and try to upload a plugin (zip) I'll get an "FTP Form" instead of an successful install.
If I have a look at the `home/.wp-env/<container>/wp-contents/uploads` folder at least the plugin.zip exists, so the upload is done anyway but the installation is not.

I also get `media could not be copied` error if I map `wp-content` to my project-fo

[2022-11-07 17:11] Mamaduka commented on #38803
I've removed "Backport to WP Minor Release"; we only use this label for PRs.

[2022-11-07 17:47] swissspidy commented on #22515
What's a current workaround for this issue?

I am struggling to get `wp language core install` to work on GitHub Actions, because WP-CLI is unable to create the `wp-content/languages` directory in wp-env due to lack of permissions. Likewise, installing language packs via WP admin doesn't work either because of that.

It works locally, but not in a GitHub Actions environment.

[2022-11-07 19:05] samiff commented on #41379
Hi there 👋

In #44028 it looks like the pattern item title was visually hidden:

https://github.com/WordPress/gutenberg/blob/25aa4b41d46d8a8ab9650e79d787a9d09f0dceb3/packages/block-editor/src/components/inserter/style.scss#L314-L316

While that may work well for patterns with a lot of visual variation between them, I'm finding it a step back for patterns that are less visually striking. For exampl

[2022-11-07 19:59] tomalec opened #45594 "Navigation with `TabPanel`"
## What problem does this address?

### What we have

Currently, the `TabPanel` component uses buttons, to manage dynamic tabbed content, without chaining the page (URL). This serves well for tiny widgets and toolboxes.

In many WooCommerce extensions, we would like to use the same UI element to navigate between pages and change URL.

So we would like to have an element, that looks the same, and b

[2022-11-07 20:38] annezazu commented on #44581
@kevin940726 wanted to check in here! What do you need to get unblocked? We're coming up on two weeks since you were jumping in so I wanted to ensure you had the support you needed to keep this work going :)

[2022-11-07 20:43] annezazu commented on #44420
@javierarce  are you still planning to jump in here to share some designs? We're coming up on a few weeks since you commented and I remember seeing that you would be so wanted to check in :)

[2022-11-07 20:50] annezazu commented on #43608
Added needs dev label back since dev work is underway and hasn't yet been completed.

[2022-11-07 21:18] annezazu commented on #33094
### November 7th Update

As a reminder, here's what each symbol means. The numbers in parentheses show the change week over week.

☑️ = work has completed - 4 (no change)
🟢 = means dev work is underway - 13 (+3)
🟡 🖌️ = means we’re in the design stage still - 1 (-1)
🟡 💻 = means a dev is assigned but hasn’t started or work hasn't continued in 14+ days - 4 (+3)
🔴 🖌️ = means design is blocked/on hold

[2022-11-07 21:27] annezazu commented on #45504
@WordPress/block-themers if possible, it would be amazing if you could help test this with all that's going on 👆🏼

[2022-11-07 21:36] annezazu commented on #41379
@samiff -- mind opening a new issue about this and sharing a few examples? Feel free to @ me in it and I can make sure to get the right labels on it.

[2022-11-07 21:37] annezazu commented on #45088
In this case, I was using tab to move around it or just hovering over top of it to have that show.

[2022-11-07 21:43] mgratch commented on #31452
+1 This issue is... not fun to work around. Thanks!

[2022-11-07 21:48] mtoensing commented on #33581
This task is open for more than 12 months? I am glad I found this issue. I thought it was a bug with my content.

[2022-11-07 23:05] samiff opened #45595 "Pattern Inserter: consideration to always show each pattern title"
## What problem does this address?

In #44028 it looks like the pattern item title was visually hidden:

https://github.com/WordPress/gutenberg/blob/25aa4b41d46d8a8ab9650e79d787a9d09f0dceb3/packages/block-editor/src/components/inserter/style.scss#L314-L316

While that may work well for patterns with a lot of visual variation between them, I'm finding it a step back for patterns that are less visua

[2022-11-07 23:07] annezazu commented on #45595
Thank you! Tagged away and noting for @jameskoster.

[2022-11-08 01:49] talldan commented on #45574
@cagrimmett This feature does exist if you're using a block based theme. It's in the site editor in the styles panel. The 'blocks' option at the bottom of this screenshot:
<img width="289" alt="Screen Shot 2022-11-07 at 6 44 57 pm" src="https://user-images.githubusercontent.com/677833/200453579-1ca357ba-3dcf-4e32-815d-b9fd678ef838.png">

You can't adjust everything right now (like the dots option)

[2022-11-08 03:34] ndiego commented on #45551
I was able to replicate using the [sample code](https://developer.wordpress.org/reference/hooks/block_type_metadata/#user-contributed-notes) provided in the docs. Here is a short walkthrough illustrating the root issue. It looks like if there is no `layout` attribute, all custom attributes that are registered via the `block_type_metadata` filter get stripped.

https://user-images.githubusercontent

[2022-11-08 05:07] Lewiscowles1986 commented on #42828
Not sure who this bot is helping, but the progress on the linked issue I believe is that it was closed (marked as completed despite not being completed)
https://github.com/Automattic/blocks-everywhere/issues/27#issuecomment-1287577835
It's really simple; mark as want help, not priority and leave open as its honest about the shortcomings of the platform / tooling. All these bots producing sparkling

[2022-11-08 05:17] Lewiscowles1986 commented on #42828
This issue for example does not need any more information. The only labels applied that make sense are `[Type] Enhancement`.

I'd argue that from [labels](https://github.com/WordPress/gutenberg/labels), the following seemed like they might apply

- [Accessibility (a11y)](https://github.com/WordPress/gutenberg/labels/Accessibility%20%28a11y%29)
- [[a11y] Color Contrast](https://github.com/WordPress

[2022-11-08 06:03] ckanitz commented on #45592
On some further investigation:
- when I add `"FS_METHOD": "direct"` to `env.development.config` the FTP form disappears and I'm left with "can't create directory" error
- when I `ls -al` in `.wp-env/<container>/WordPress` I can see three odd things:
- - a `php.ini` owned by root:root (instead of `<username>:<username>` like the other files + dirs)
- - - leads to error on `wp-env start` -> "Couldn'

[2022-11-08 08:27] jasmussen commented on #45550
Seems like there's an option for a "Library" menu item in #45346 perhaps?

[2022-11-08 09:56] jasmussen commented on #44280
I think we can close this one in favor of #44501, as that omits text and button categories. What do you think?

[2022-11-08 09:59] jasmussen commented on #44501
This issue has been updated November 8th with the list of categories we've decided on, so it no longer needs any design feedback, and PR #44501 might provide a jump start.

[2022-11-08 10:05] jameskoster commented on #45595
Aside from some less common instances I don't think the pattern titles are adding much value in this view. Ideally choosing a pattern should be a visual affair, and the noisy text disrupts that quite a bit. Not to mention the fact that they reduce the number of patterns visible in the column at any one time which also feels like a negative.

Trying to read between the lines, it seems like the bigg

[2022-11-08 10:27] xs-hito opened #45599 "FormTokenField: ADD NEW TAG is entered twice in Japanese"
### Description

In WordPress 6.1, when I type Japanese in ADD NEW TAG on the editor screen and press Enter, Japanese is typed twice.

In WordPress 6.0, Japanese is entered only once and works correctly.

When entering characters in Japanese language ( including Kanji), after entering "Hiragana", select which character to convert to and press Enter to confirm.

I would expect the same problem in o

[2022-11-08 10:37] xs-hito commented on #45599
I believe it is related to this issue. https://github.com/WordPress/gutenberg/issues/45496

[2022-11-08 10:38] jameskoster commented on #45550
Yes I think that makes a lot of sense as a top level item, and it would provide a sensible home for the other items mentioned in the OP as well, when we get to them.

Do you think we need to introduce it straight away though? It might be unnecessary at this stage, if it only contains a single item...

I think we have a couple of avenues to explore:

1. Add the Library section now, to include Templ

[2022-11-08 10:46] benwallis commented on #12742
I think this filter `admin_post_thumbnail_html` is broken in the Classic Editor now. When I use it, the Featured Image assigned to a post cannot be updated/saved/deleted.

[2022-11-08 10:49] jameskoster commented on #44776
Just leaving a note here for when we revisit.

Another argument for the borders is that they help to clarify the space a block occupies within a layout:

<img src="https://user-images.githubusercontent.com/5323259/200529033-f6d2f98b-05aa-460f-b31d-7301e3758f32.jpg">

This will be relevant when we get to merging https://github.com/WordPress/gutenberg/pull/45364 and other advanced layout tools.

[2022-11-08 11:20] jasmussen commented on #45550
I wonder if Templates and Template Parts shouldn't exist in a single "Templates" section, as RBs are a bit different. A Library section with just RBs honestly seems okay to me, especially if we know we'll add more to it.

[2022-11-08 11:21] jameskoster opened #45600 "Overflow options for container blocks (Row in particular)"
Once it becomes possible for child blocks to specify a fixed width (https://github.com/WordPress/gutenberg/pull/45364) a situation can arise where the combined width of the child blocks is greater than the width of the container.

Overflow options would make it possible to clip containers, or allow them to scroll where necessary. There may even be opportunity to enable different scroll types, for

[2022-11-08 11:28] spacedmonkey opened #45601 "Lazy initialization of block variants."
## What problem does this address?
Follow issue related to https://github.com/WordPress/gutenberg/pull/45362#pullrequestreview-1171847813

The template part block, loads block variants what load WP_Query and result in database queries. This means that when a block is registered ( on every page request ), that an mostly unnecessary database query is run. There needs to be a way to load lazily the b

[2022-11-08 11:48] jameskoster commented on #41747
Leaving a note that this could also be a way to alert users to un-configured or empty blocks within a document.

[2022-11-08 11:59] jasmussen commented on #44361
@javierarce I took the liberty of [building on your work](https://github.com/WordPress/gutenberg/issues/44361#issuecomment-1288754703) to [illustrate the idea](https://www.figma.com/file/EWsMbr0GXrMWpxHaBxpYBc/Push-Local-Block-Styles?node-id=910%3A6364) I had for "marking the document as dirty" and using multi entity saving.

The concepts are essentially the same as yours, with regards to the butt

[2022-11-08 12:23] aaronjbaptiste opened #45602 "Pasting a local image file does not work in Windows + Firefox"
### Description

You can copy paste an image file from your local machine into the editor on Mac + any browser, but it seems the same does not work on Windows Firefox

### Step-by-step reproduction instructions

Using Firefox on Windows copy an image file from your local drive and paste it into the editor

Expected: The image is parsed and processed into the editor (I reproduced on p2 and on tumbl

[2022-11-08 12:44] t-hamano commented on #45506
Thanks for the advice, @youknowriad.

I found [a comment](https://github.com/WordPress/gutenberg/pull/40631#discussion_r858964409) related to this issue regarding some of the changes in #40631.

As this comment indicates, removing the changes in this area will resolve this issue. However, the `useDisabled` hook is very complicated for me and I can't decide if this is the right way to do it 😅

[2022-11-08 12:52] Mamaduka commented on #43914
The improvements proposed by @spacedmonkey in [#56910](https://core.trac.wordpress.org/ticket/56910) will also fix this issue.

The missing cache invalidation for `wp_get_global_stylesheet` is the cause of this problem.

[2022-11-08 13:22] paaljoachim commented on #45375
Hey @scruffian Ben

Default alignment for Media & Text should be set to none.
It has a go ahead from design. (more info in the other issue: https://github.com/WordPress/gutenberg/issues/20941)
Let's get this fixed.

[2022-11-08 13:24] paaljoachim commented on #20941
I will go ahead and add the label good first issue.
@scruffian Ben. Perhaps it is something you can look into?

[2022-11-08 13:37] paaljoachim commented on #20941
Removing the Good First Issue label as @Mamaduka mentioned that it might require block deprecation.

[2022-11-08 14:11] t-hamano opened #45605 "Components: Resolving unintended key events in IME composition"
Related to: #45510, #45599

This tracking issue seeks to resolve the problem of events occurring in IME composition mode causing unintended behavior in some components.

## What is IME composition ?

One of the input systems in which the IME composition are used is Japanese.

Because of the vast number of characters in the Japanese language ( including Kanji), it is not possible to input character

[2022-11-08 14:15] t-hamano commented on #45599
@ito-x

Thank you for your contribution.

As you mentioned, I believe the cause of this issue is similar to #45496. I have submitted a tracking issue (#45605) as this problem is occurring in several other components as well.

[2022-11-08 14:16] t-hamano commented on #45605
@ciampo @mirka
If there are other issues that need to be addressed, please advise me 🙏

[2022-11-08 14:26] jameskoster opened #45606 "Filtering patterns by keyword"
When [registered](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/#register_block_pattern) Patterns are able to include `keywords` which, in addition to categories, help to describe the pattern. I suppose we can think of them as post tags, for block patterns.

I'm not sure how widespread the use of this affordance is, but when patterns with keywords exist on

[2022-11-08 14:57] draganescu commented on #45438
@anarieldesign does the same operation work with WP6.0? Or is this an older problem? The navigation block seems to just render the url of the page or post. This URL comes from the LinkControl which has not been changed significantly ...

[2022-11-08 15:03] t-hamano commented on #45599
I believe this issue will be fixed by #45607.
I will also add it to the WP6.1 board as I think this is as big a bug as #45496.

[2022-11-08 15:14] jdm-web commented on #27107
Hi everyone.

I'd like to expand on this with another bit of context.
Let's take the spacing / spacingScale setting for example.
With these particular starting values :
[code]

This will generate 6 sizes like so :
[code]

Now imagine you apply the preset spacing 80 to an element using the margin slider, it will give you the following result :
[code]

My original intention would be to wonder if I c

[2022-11-08 15:34] colorful-tones commented on #44361
@jasmussen @javierarce this is some really nice work. I'm a fan of the Advanced sidebar integration and love the "dirty" indicator flow.

I just had a small suggestion and please excuse the 5-minute design modification in Preview app, but thought it might be good to try and reinforce which styles items are dirty in the sidebar once they're modified and used @jasmussen latest image and modified it

[2022-11-08 15:40] ndiego commented on #45569
@ciampo I see you have done a decent amount of work on the ColorPalette component in the past few months. Any ideas on this one?

[2022-11-08 15:41] jameskoster commented on #27093
I've updated the OP to include designs that we can put into practise now.

[2022-11-08 15:47] jameskoster commented on #44361
I think that's a nice idea @colorful-tones, and could facilitate per-panel-pushing and resetting. The latter will be particularly important if you've extensively modified a block and want to push everything _except_ your border changes (as an example).

[2022-11-08 15:50] ndiego commented on #44922
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the Blank Canvas theme and the latest versions of Gutenberg and WordPress. Therefore, I am going to close this issue. If anyone can replicate it in the future, please feel free to reopen this issue with additional information.

[2022-11-08 15:50] #44922 closed, assigned to nobody

[2022-11-08 15:53] ndiego commented on #45576
@antpb I cannot seem to replicate this on my end. Any other testing instructions? 🤔

[2022-11-08 15:57] joyously commented on #12742
Because of this comment, I tested it on WP 6.1. That filter works fine in Classic editor, as does the setting and deleting the featured image.
This issue is about having that filter be useful in the block editor.

[2022-11-08 15:59] ndiego commented on #45586
Hi @aplauche, this is a known issue and has been fixed in the latest version of Gutenberg. See the related PR here: https://github.com/WordPress/gutenberg/pull/44784.

Can you try testing again using Gutenberg 14.4? I have tested on my end using the Twenty Twenty-Three theme, and the nested patterns are displaying as expected. Thanks!

[2022-11-08 16:37] benwallis commented on #12742
Ah, sorry. I was checking $screen-post_type in the filter but apparently the ajax call also applies the filter (where it is not set), which was causing a PHP warning.

[2022-11-08 16:47] annezazu commented on #44280
Let's do it.

[2022-11-08 16:47] #44280 closed, assigned to nobody

[2022-11-08 17:36] getdave opened #45608 "Fix Nav block anchor link closing"
@draganescu I looks like we'll need a bug fix PR for this.

_Originally posted by @getdave in https://github.com/WordPress/gutenberg/issues/39625#issuecomment-1307585747_

[2022-11-08 17:55] kevin940726 commented on #44581
@annezazu I'm working on a draft PR for a partial implementation so that we can discuss it further with a working branch. I'll polish it a bit and open it tomorrow ;)

[2022-11-08 18:02] samiff commented on #45595
This seems to be a heavily guiding statement, and I wonder how it aligns with information currently found in the [handbook](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/)?

Viewed more abstractly, Patterns are just groups of blocks. While these groupings of blocks _could_ be highly visual, that is not a certainty especially as more third-party developers l

[2022-11-08 18:03] polarstoat commented on #44242
I'm experiencing the same issue with Wordpress 6.1 and Gutenberg 14.4.0 on a child theme of a custom theme. None of the parent theme's `styles.typography.FontFamilies` slugs are applied to the `body`. Strangely though, the issue doesn't occur when using the parent theme on its own.

[2022-11-08 18:10] annezazu commented on #45551
@tellthemachines might you have any insights here based on your work with the layout changes?

[2022-11-08 18:30] Mamaduka commented on #45569
Here's PR that aims to fix issue #45566.

I think we can use optional chaining as proposed in PR or set the default for `colors` params, as it's [documented](https://developer.wordpress.org/block-editor/reference-guides/components/color-palette/#colors-paletteobject-colorobject).

Cc @mirka

[2022-11-08 19:24] scruffian commented on #45449
Closing in favour of https://github.com/WordPress/gutenberg/issues/31063

[2022-11-08 19:24] #45449 closed, assigned to nobody

[2022-11-08 19:37] Mamaduka commented on #45013
I think this is a Pattern Directory issue. When requesting remote patterns with non-English locale, it returns both localized and non-localized patterns.

The patterns returned from the directory have no unique slug, so we generate them using titles. Since titles are localized, the `$is_registered` check fails to prevent duplicates.

I've used the following URLs for testing:

[code]

Cc @ryelle

[2022-11-08 19:51] mirka commented on #45569
Ah, I think I understand what's going on now! The Gutenberg code in WP 6.1 is not up to date with our _documentation_, which is always in line with trunk.

In trunk, `colors` is documented as optional and it will not crash. In WP 6.1, `colors` is still required and will crash.

This change happened in dbbcc6eff90647ad3e41fe849932ce1b7fe6a46d. So if you check the commit before that (6ee2a495af64d73

[2022-11-08 20:00] Mamaduka commented on #45569
@mirka, the missing required `colors` param wasn't crashing in 6.0 because we were using `lodash.map`, which won't trigger an error if a variable is undefined.

https://github.com/WordPress/gutenberg/blob/release/6.0/packages/components/src/color-palette/index.js#L29

Should we consider this as a breaking change?

I understand that it was documented as required, but people often ignore docs.

[2022-11-08 20:06] Mamaduka commented on #45374
The fix was cherry-picked for WP 6.1.1.

[2022-11-08 20:06] #45374 closed, assigned to jorgefilipecosta

[2022-11-08 20:12] ryelle commented on #45013
This is a pattern directory issue, and there's an issue here about it: https://github.com/WordPress/pattern-directory/issues/314

Patterns in the directory do have unique slugs, they're just not returned via the API (I don't think that was entirely intentional). However, it probably wouldn't help, because the slugs are also unique between patterns, for example `three-columns-of-text` and `three-co

[2022-11-08 20:17] Mamaduka commented on #45013
Thank you, @ryelle!

I will close this issue and remove it from WP 6.1.1 project board.

[2022-11-08 20:17] #45013 closed, assigned to nobody

[2022-11-08 20:24] lynnbgriffith commented on #45569
@tyxla This looks like a case where lodash was maybe being overly "forgiving" with types previously and covering up the issue. We should probably guard against this case to preserve the older behavior.

[2022-11-08 20:32] smerriman commented on #45562
Same issue here. Seems a pretty major bug for a core block to be unusable with Wordpress 6.1. Is the only option to downgrade WordPress for the time being?

[2022-11-08 20:39] lynnbgriffith commented on #45562
@ellatrix This could be related to the changes in #43210. Would you be willing to take a look to see if a new deprecation is needed for pullquote?

[2022-11-08 20:42] tyxla commented on #45569
Thanks for the ping! I'm going to take a look shortly.

[2022-11-08 20:43] andrewserong commented on #30121
Thanks for updating the designs! Just to double-check, so in the initial implementation we are only allowing sticky to the top position, and not footer positions (the issue title still flags footer)? The way I've implemented how we store the data for it in the WIP PR, we can support more positions (e.g. footer), but I agree with the idea here that we'd expose only the minimal control to begin with

[2022-11-08 20:46] mirka commented on #45569
Hard to say in this specific case, but definitely the type of change we should be careful of when removing lodash dependencies!

As for this particular issue, it has been back to the previous behavior since #44632, with docs updated to mark the prop as optional. It should also be guarded against future regressions of the sort, thanks to it being in TypeScript now.

So the immediate action item her

[2022-11-08 20:51] smerriman commented on #45562
Ah, yes, that definitely looks like the problem. Just to expand, my client's case is slightly different from the example described above - no cite, but simply two or more paragraphs in the pullquote. The invalidation is due to the save function deleting all but the first paragraph.

It sounds like this was intentionally changed so that pullquotes can no longer have multiple paragraphs, but given t

[2022-11-08 20:52] Mamaduka commented on #45569
Thank you, @mirka!

I will add #44632 to the WP 6.1.1 board and cherry-pick it for the minor release.

[2022-11-08 21:20] aplauche commented on #45586
@ndiego Thanks for the info! Just tested and can confirm all is working perfectly with Gutenberg 14.4. Closing now!

[2022-11-08 21:20] #45586 closed, assigned to nobody

[2022-11-08 21:34] noahtallen commented on #22515
I don't know if it'll help in this instance, but `chmod` on the impacted directories can help. (I've definitely used that before to get CI working in some cases)

There was also a lot more discussion on this recent PR about this issue: https://github.com/WordPress/gutenberg/pull/42867. The general idea is that docker makes this harder than it should be, and that we might need to introduce somethin

[2022-11-08 21:49] jordesign opened #45612 "Navigation Block: When menu is center aligned on mobile, there is no indent or visual indicator for sub-menu items."
### Description

When using the Navigation Block to create submenus, the mobile view doesn't indicate which is a submenu. This only happens when the menu items are aligned as center.

It seems themes *could* provide styling for sub-menu items - but it would be good to have sensible defaults as well.

### Step-by-step reproduction instructions

* Create a site with Munchies theme. (or any theme)
*

[2022-11-08 21:53] talldan commented on #42257
@SaxonF I noticed the demo above adds a new pencil icon to open the settings of a link, but clicking on the block itself in this new version of List View doesn't do anything. Was just wondering about the reasoning behind that and whether the pencil is needed?

It might be an easier implementation if clicking the block itself opened the settings and [it should align more closely with the content lo

[2022-11-08 22:01] talldan opened #45613 "Rename "Content only" template lock API to something else"
The template lock feature currently has the following values:
- `all` - everything is locked
- `insert` - blocks cannot be inserted
- `false` - there is no template locking

https://github.com/WordPress/gutenberg/pull/43037 introduced a new 'contentOnly' template lock feature that allows content to be edited. The naming of this new feature is inconsistent. The existing values imply the aspect of t

[2022-11-08 22:22] ellatrix commented on #15297
Related: #22799

[2022-11-08 22:32] scruffian commented on #45440
@draganescu I think we can close this now right?

[2022-11-08 23:34] felixarntz opened #45616 "Create parsed PHP version of core's `theme.json` at build time rather than during runtime"
## What problem does this address?
See https://core.trac.wordpress.org/ticket/56945 and https://github.com/WordPress/wordpress-develop/pull/3536#issuecomment-1301271523:
* Parsing `theme.json` is a rather expensive process. Despite ongoing optimization efforts (e.g. https://core.trac.wordpress.org/ticket/56974), this can only get us so far. Especially for classic themes that do not even provide a

[2022-11-08 23:36] felixarntz commented on #45616
cc @oandregal @spacedmonkey

This is a follow up to https://github.com/WordPress/wordpress-develop/pull/3536, in order to get the other parts of that PR merged into 6.1.1 (the proposal here will require a bit more time). I would suggest this issue to be added to #45171.

[2022-11-09 00:25] scruffian commented on #45444
@draganescu I think we can close this one

[2022-11-09 01:16] talldan commented on #45594
@tomalec It could be useful to include some screenshots or videos of your hacked solutions.

----

There have been a few other discussions about TabPanel recently in https://github.com/WordPress/gutenberg/pull/44788 and https://github.com/WordPress/gutenberg/pull/45005, and how it's not very flexible.

This would be my preference, because I think it might allow multiple problems to be solved. Perh

[2022-11-09 01:20] getdave commented on #42257
I like the idea of synergy with the interactions in content-lock mode. As this view is more interactive than content-locking mode do we need to consider whether this "click to edit" will impact drag and drop or access to the 3 dots menu?

[2022-11-09 03:40] kevin940726 commented on #44581
I opened https://github.com/WordPress/gutenberg/pull/45618 for further discussion on one of the approaches mentioned here 🚶

[2022-11-09 05:25] carolinan commented on #44242
If you add new font families you need to update them both in the `settings.typography` section and in the `styles.typography` section for it to apply to the body.

Child themes inherit theme.json from the parent unless overridden. So it is possible that the body font is unexpected if a font is added under settings.typography but not styles.typography.

[2022-11-09 05:55] carolinan commented on #45612
How should the submenus be indicated? What kind of style change do you expect or propose?

[2022-11-09 06:27] tyxla commented on #45569
From what I understand, there isn't anything else to be done here, other than cherry-picking #44632. Unless y'all think we need additional undefined handling?

[2022-11-09 06:30] carolinan commented on #45602
I am able to reproduce this using:
Firefox version 106.0.5 (64-bit)
Windows 10 Pro version 21H2
WordPress 6.1, Twenty Twenty-Three, no plugins.

[2022-11-09 06:34] Mamaduka commented on #45569
That's my understanding as well, @tyxla.

[2022-11-09 06:35] carolinan commented on #45595
I agree with @samiff here, having the title visible helps me select the correct pattern for the "job".
I personally do not find the title noisy.

[2022-11-09 07:20] aaronrobertshaw commented on #45594
Thanks for putting together the detailed issue @tomalec 👍

Personally, I think we should be wary of this approach. I don't believe a TabPanel should allow for navigation between URLs. Adding a simple prop to effectively toggle between two separate components also sounds like it could overcomplicate what should be a fairly straightforward component.

A dedicated component addressing the desired beh

[2022-11-09 07:29] carolinan commented on #45504
I think this makes sense and would be an improvement.
How is the user informed when their custom size is fluid and not exact?
Because I think any size that doesn't mach the actually entered size can be confusing, not only larger sizes.

[2022-11-09 07:48] jasmussen commented on #30121
Yes, purely to keep the implementation as simple as possible, and I would consider it mainly a UI thing. I'm sure we'll follow up, it might also allow us to refine the placement control a bit; even if it might work, it's a little complex.

[2022-11-09 07:50] swissspidy commented on #22515
If it helps, this is what I ended up doing to ensure I can install languages with WP-CLI on the tests instance:

[code]

[2022-11-09 07:54] jasmussen commented on #42257
You mean for individual items in the canvas?

The in-canvas interactions are fiddly and need love, but hopefully this inspector interface can provide near-future navigation usability, while we make those improvements. So I wouldn't emphasize in-canvas interactions too much in the now.

[2022-11-09 07:58] jasmussen commented on #45595
I think we should definitely show both borders and titles in the pattern modal, and it's part of [this design that also connects it to the pattern directory](https://github.com/WordPress/gutenberg/issues/44611). However for the sidebar inserter, the balance isn't as clear to me. It is always the case with design that if everything is loud, nothing is loud, which is why I empathise with the intent

[2022-11-09 08:00] priethor commented on #16174
This issue is superseded by #44193

[2022-11-09 08:00] #16174 closed

[2022-11-09 08:42] jasmussen commented on #44361
I'll remember to share the Figma links more often — thanks so much for the added exploration!

Conceptually I like the idea of per-panel style pushing, but I'm a bit concerned with unread-dot fatigue. When I see such a dot, I want to address the issue it's pointing me to — which is why it's good for the multi entity saving interface, and personally frustrating for an interface where I can't make i

[2022-11-09 08:43] #45497 closed, assigned to youknowriad

[2022-11-09 08:53] jasmussen commented on #27093
Nice, thank you Jay. I went ahead and _hid_ some outdated conversation just so devs can better focus on the contents of the original issue.

[2022-11-09 08:59] Mamaduka commented on #43914
@jasmussen, I'm thinking of bumping this issue to WP 6.2.

The problem has been around since WP 6.0, and I think we both prefer to solve it with better cache invalidation proposed in [#56910](https://core.trac.wordpress.org/ticket/56910).

[2022-11-09 09:11] jasmussen commented on #43914
No objections from my part. It's a good one to fix, but definitely let's do it right.

[2022-11-09 11:05] aristath commented on #44412
We'd like to start working on this issue, but there's a decision that needs to be made before we start.
The main problem we saw when discussing this, is how to handle the selectors in our custom-CSS field.

Assuming we want the final CSS to be like this:
[code]
we have a few ways to accomplish that:

## Allow users to arbitrarily add custom CSS

The problem with this approach is that each snippet

[2022-11-09 11:06] jameskoster commented on #44361
I think it makes a lot of sense and would make this feature much more flexible. The menu item can probably be the same as the button you have in the Advanced panel: "Push changes to global styles". We could include the panel name "Push dimensions changes to global styles", but it's probably not necessary.

That said, I do think it's fine to have a whole-panel push affordance to begin with, and add

[2022-11-09 11:08] jasmussen commented on #44412
Nice, Ari!

The example CSS in the mockup was perhaps a bit misleading, I copied it from a template. But I like @youknowriad's solution from #25413, which was to use `:self`:

[code]

[2022-11-09 11:10] fabiankaegy commented on #44412
To further expand on the very insightful note from @aristath, how should the custom css that is input in the settings of a block only apply to that particular instance of the block or all blocks of that type that are loaded on the page?

[2022-11-09 11:18] jasmussen commented on #44361
Cool, I'll update this issue with the newest mockups, but point to the comments that discuss potential followups.

[2022-11-09 11:19] aristath commented on #44412
Ah I had forgotten about that one! Yes, I'll agree with that proposal. Using `:self` as a selector placeholder would simplify a lot of things without being too restrictive 👍

So... Should we start implementing this with the assumption that we'll use a placeholder like `:self` for the block selector (as opposed to all the other alternatives mentioned in the comment above)?

[2022-11-09 11:23] jasmussen commented on #44412
Quick and dirty mockup, with the `:self` wrapper locked in place:

<img width="672" alt="Group custom CSS" src="https://user-images.githubusercontent.com/1204802/200817610-62233da9-6a13-44a7-b2d7-fe70ad3b1986.png">

What do you think?

[2022-11-09 11:29] jasmussen commented on #44361
This issue has been updated with mockups, and is ready for a dev to pick it up!

[2022-11-09 11:29] jameskoster commented on #44412
Just to play devils advocate, do we definitely want to enable pseudo-element targeting here? If so where do we draw the line, should we also support things like `:first-letter`, `:before`, `:after`?

Personally I would err towards being a _little_ more restrictive here. We don't want people writing the css for their entire site in one single block 🙈

For the sake of argument, we might do something

[2022-11-09 11:41] afercia commented on #45417
Just submitted a PR for the focus loss issue. Will split the modal behavior issue to a separate PR.

[2022-11-09 11:48] jasmussen commented on #44412
`:self` would lock you into CSS for just this group and its descendants, and would useful, I'm sure, for patterns.

I like to think that hover/focus styles and their handling through theme.json can be evolved a bit further with a UI before we start to optimize for their CSS input.

[2022-11-09 11:56] jameskoster commented on #44412
Ah yes, if `:self` is locked and not a placeholder that sounds fine.

[2022-11-09 11:59] aristath commented on #44412
+1

@jameskoster I had a discussion with @carolinan earlier today about that exact same thing (using a dropdown to allow users to enter styles for specific pseudo-elements)... The problem we found is that this would be too restrictive. `:hover`, `:focus`, `:after` etc are just a small subset of the things that someone will want/need to target!
A lot of blocks have children, or a user may want to t

[2022-11-09 12:00] jameskoster opened #45624 "More granular options for pushing local styles to global styles"
A follow-up to https://github.com/WordPress/gutenberg/issues/44361.

After we make it possible to push _all_ local block styles to global styles, it could be good to explore how we can add a little more granularity to the feature.

There will be situations in which you heavily customise a block locally and want to push _some_ of those changes upstream, but keep some local.

Per-panel pushing would

[2022-11-09 12:19] ndiego opened #45625 "Cover: Applying lock and templateLock attributes occasionally strips content"
### Description

When locking a Cover block or when using the `templateLock` functionality, the Cover block's inner blocks can occasionally be stripped unexpectedly. It's a bit hard to explain, but the video below includes a complete walkthrough. Given that this issue results in a loss of content and is related to a new feature in 6.1, I believe a fix would be a good candidate for a minor release.

[2022-11-09 12:53] youknowriad commented on #44412
We could also embrace the fact that CSS nesting and allow something like:

[code]

I'm using SASS syntax here but nesting is coming to CSS too, so we can align with CSS syntax too.

[2022-11-09 12:57] aristath commented on #44412
We could do that, yes... And it would be relatively easy to handle the `&` things in PHP & JS to build the proper selectors. 👍

[2022-11-09 13:21] samxmunoz commented on #45625
I am able to reproduce this issue both with the UI and with the code editor.

[2022-11-09 13:24] t-hamano commented on #45496
I have submitted #45626 as a follow-up PR to #45510 that addresses this issue.
Sorry for the additional response.

[2022-11-09 13:28] Mamaduka commented on #45625
I'm also able to reproduce the issue. Currently, it only affects the Cover block when the `templateLock` value is `all` or `contentOnly`.

Still debugging the issue, but I've got an idea of why this is happening.

Edit: I can confirm the same issue on WP 6.0, by manually adding the `"templateLock": "all"` attribute. But it's more visible now that we have UI for it.

[2022-11-09 13:47] t-hamano commented on #45088
I came from [the comments on this PR](https://github.com/WordPress/gutenberg/pull/44241#issuecomment-1305195062).

I don't think this issue is a regression of #44241. Reverting #44241 does not seem to correct the problem.

![focus](https://user-images.githubusercontent.com/54422211/200842907-b4b1cfff-247d-44fc-9f65-1dc7f2c918c6.png)

Then the size of the block mover button is different in the norm

[2022-11-09 14:49] bph commented on #41405
@NicoHood could you please open a new issue with
- a description of what you are seeing,
- screenshot or recordings help, too,
- the steps to reproduce and
- information about your environment.

 That way more people can look at it again and fix whatever is happening for you.

[2022-11-09 15:09] jasmussen commented on #44417
Here's a quick idea showing the "Styles" panel becoming a ToolsPanel, but with a "Manage styles" menu option:
<img width="1760" alt="Custom style variations" src="https://user-images.githubusercontent.com/1204802/200864571-1bdc24a1-ccd8-4b5f-8554-c25e80593639.png">

You can click to edt the default style variations, or you can add a new one:

<img width="1200" alt="Custom style variations" src="ht

[2022-11-09 15:09] tomjn opened #45628 "Filter/Remove/Add Heading Levels"
## What problem does this address?

It's important for us to be able to remove heading levels on client projects in posts, to limit them to predefined options, e.g. `h2`/`h3` , but not `h1`/`h4`/`h5`.

I understand that you can enforce self-discipline, but that's not enough for clients, and writers can easily write posts that break things or be sloppy with heading levels. They don't want tools to

[2022-11-09 15:10] tomjn commented on #45628
Specifically, we've been trying to re-implement this in the core headings block on every update to WP with CSS giving limited to poor results:

<img width="160" alt="Screenshot 2022-11-09 at 15 09 57" src="https://user-images.githubusercontent.com/58855/200867079-ef62671a-02e7-4102-bea5-86d2ca4ee0b7.png">

[2022-11-09 15:12] tomjn commented on #45628
Likewise if the individual buttons had a predictable ID or class that could be targeted then that would also solve the problem

[2022-11-09 15:12] NicoHood commented on #33789
I dont know why, but I dont have this feature in my wordpress 6.1 installation. Is this a bug of the astra theme?
![image](https://user-images.githubusercontent.com/6888294/200867373-a3220a2c-f814-44d5-a2b2-29ef49861b76.png)

[2022-11-09 15:13] NicoHood commented on #41405
@bph the issue I've linked describes exactly my issue. I have no idea why it was closed. It seems to be implemented, but not available for me.

[2022-11-09 15:25] NicoHood opened #45629 "Embedding Tally Forms produces error"
### Description

Hi,
I try to embed a tally form, but that does not work when I try to submit the request.
https://tally.so/

![image](https://user-images.githubusercontent.com/6888294/200869748-4a9b788b-8274-47d4-9188-8b015f7aee37.png)
![image](https://user-images.githubusercontent.com/6888294/200870163-98bf1426-b67c-4061-ae75-18b749a23ea0.png)

### Step-by-step reproduction instructions

1. Regi

[2022-11-09 15:29] fabiankaegy commented on #27847
I just had a training session where I showed a first-time WordPress user how they can edit their template. They successfully went into the site editor. Selected the correct template and changed the page title block to be center aligned.

When they went back into a post they were working on they were confused and frustrated that apparently, the changes they had made were incorrect.

In this case I

[2022-11-09 15:45] tomjn commented on #45628
For the moment, this is doing what I need it to with this CSS in WP 5.9 but it's likely to break:

[code]

[2022-11-09 15:50] desrosj commented on #44618
Could someone clarify whether the intention was to include the `core/post-author-name` block as stable and not experimental in 6.1? Or, are there are any other side effects elsewhere in the editor for 6.1 as a result of this block not being marked stable and available at core/post-author-name?

I'm trying to determine if #45008 is something that should be merged and included in 6.1.1.

[2022-11-09 16:06] #45249 closed, assigned to chad1008

[2022-11-09 16:21] Marc-pi opened #45631 "Gutenberg plugin 14.5.0 > Raise compatibility up to WP 6.1"
### Description

currently, it is said 6.0.3

![image](https://user-images.githubusercontent.com/919332/200883977-db3bc514-a72f-440f-877a-199e761542ff.png)

### Step-by-step reproduction instructions

just try to update the GB Plugin on 6.1 instance

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched existi

[2022-11-09 16:27] Marc-pi commented on #45631
from https://make.wordpress.org/core/2022/11/09/whats-new-in-gutenberg-14-5-9-november/
This is because the “Tested up to” version of the plugin was not updated to 6.1 once the new version of WordPress was published. This will be corrected for Gutenberg 14.6.

[2022-11-09 16:27] #45631 closed, assigned to nobody

[2022-11-09 16:29] fabiankaegy commented on #35848
I also think that adding a way for themes to define the breakpoints would be very useful. This setting could be exposed via `theme.json` and even made available in some advanced settings in the site editor.

Users and developers already have the ability to change the `contentWidth` and `wideWidth` in the `layout` section.

Either these breakpoints could be set as part of the layout or as part of a