[2022-08-30 06:54] jasmussen commented on #43618
I shared some additional context in https://github.com/WordPress/gutenberg/pull/41689#issuecomment-1220674662.

[2022-08-30 06:59] aristath commented on #40289
A "default" style is not an actual style but the absence of a style. With that in mind, I don't think it makes sense to add a class for default styles... If it's a question of themes being able to target only the "default" style of a block, then that's possible in plain CSS using a selector like`.wp-block-something:not([class*="is-style-"])`.

[2022-08-30 07:01] jasmussen commented on #43218
The tools panel would allow the control to be available on both, if reduced in prominence by not being shown by default 👍

[2022-08-30 07:03] jasmussen commented on #36735
Great detective work. Yes, it seems like text-decoration needs an explicit none, and that it isn't enough to assume "none" is the default.

[2022-08-30 07:26] luisherranz commented on #41707
I think there's a difference between:

- I want to change the configuration for any block that hasn't been explicitly configured.
- I want to override the configuration of all the blocks, including those that have been explicitly configured.

I shared an idea about how that could be expressed here, but there could be other ways to do it:

- https://github.com/WordPress/gutenberg/issues/40318#issue

[2022-08-30 07:51] SGr33n commented on #43679
Hi @talldan!
Sure, how can I send you my code?
Or I could enable you on a staging environment with this issue already on.

[2022-08-30 07:55] ciampo commented on #43191
Reopening as the `shift` prop is still marked as `__unstable` — we should:

- add a new `shift` prop with the same default value of `__unstableShift`
- add a deprecation notice to `__unstableShift`

@talldan , would you be able to work on this? It should be a quick one.

[2022-08-30 07:56] hazardawareness commented on #38520
I have come across this bug too - the image size dropdown appears to show Full Size is selected but will only display large no matter what screen size or screen density is used. You need to select another size then go back to full to get the full size to display.

If you believe that the full size shouldn't be the default then the dropdown shouldn't show that by default when it's not correct.

[2022-08-30 08:55] aristath opened #43695 "If you publish a post with <script> in the title, the block editor will crash on next reload"
### Description

if you publish a post with `<script>` or `<img src=''>` in the title, the block editor will crash on next reload.

### Step-by-step reproduction instructions

1. Create a new post. with title `Test with <script>`.
2. Publish the post
3. Refresh the page

[2022-08-30 10:20] oandregal commented on #41947
https://github.com/WordPress/gutenberg/pull/43699 makes the template for specific categories to only load the posts from that category.

[2022-08-30 10:46] t-hamano commented on #43695
I would like to close this issue as I believe it is the same as #41581.

[2022-08-30 10:46] #43695 closed, assigned to nobody

[2022-08-30 10:48] aristath commented on #43695
You're right, it's the same issue. I just didn't find it when looking prior to creating this ticket.
Thanks!

[2022-08-30 11:19] mirka opened #43700 "Storybook: Dashicons cannot be tested"
## What problem does this address?

We cannot test Dashicon rendering in Storybook because the webfont and stylesheet is not loaded. Components still need to support Dashicons for backwards compatibility.

## What is your proposed solution?

Load the font and stylesheet as part of the Global CSS add-on's "WordPress" preset.

[2022-08-30 11:32] gziolo commented on #41707
I used the following resources when learning about `theme.json`:

- https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guides/themes/theme-json.md
- https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/theme-json-reference/theme-json-living.md

[2022-08-30 11:55] devfle commented on #43636
I can also reproduce this behavior.

[2022-08-30 12:06] Mamaduka commented on #30424
I'm closing this issue since the navigation screen is no longer actively developed.

Related: https://github.com/WordPress/gutenberg/issues/43620.

[2022-08-30 12:06] #30424 closed, assigned to nobody

[2022-08-30 12:59] CreativeDive commented on #33374
@tellthemachines Another bug. 🐛

Adding a new custom container block, with the following settings in the `block.json`:

[code]

1. The block starts with "Inner blocks respect content width" is enabled by default.
--------> I think that is correct and expected.
2. The block class name in the block editor source code contains `is-layout-constrained`.
--------> I think that is correct and expected.
3

[2022-08-30 13:00] Mamaduka commented on #43440
@ockham, @michalczaplinski, do we have a core tracking ticket to reference in Core PRs?

[2022-08-30 13:02] Gierand opened #43705 "Home link: Missing closing tag"
### Description

Block doesn't have a valid closing `</li>` tag.

### Step-by-step reproduction instructions

[Source.](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/home-link/index.php#L131)

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched existing issues in the repo.

Yes

[2022-08-30 13:04] Mamaduka commented on #43705
Thanks for contributing, @Gierand.

This was a regression I missed during the recent refactor. I will create PR shortly.

[2022-08-30 14:00] t-hamano opened #43709 "Enable copy/cut shortcut on the site editor"
## What problem does this address?
I was testing shortcuts on Windows in #43352 and found that the copy/cut shortcut doesn't work only in the site editor.
This does not seem to be an OS issue.

Personally, I feel it is very inconvenient that this shortcut is not available in the site editor.

## What is your proposed solution?
Unless there is a clear reason not to opt-in to this shortcut in the si

[2022-08-30 14:21] Mamaduka commented on #18267
Hi,

This came up during the recent Editor bug scrub. A few of us attending tested the issue but couldn't reproduce it.

Considering the issue has been inactive, I will close it for now.

Here's my tests content:

[code]

After adding the post, I could successfully run - `wp search-replace https://example.com https://example.org`

[2022-08-30 14:21] #18267 closed

[2022-08-30 14:32] ghm-jpeterman commented on #27835
Hey @annezazu! Totally understand. Thanks for flagging!

[2022-08-30 14:37] Mamaduka commented on #22688
Hi, everyone

This issue came up during recent Editor bug scrubs.

I followed the testing instructions and couldn't reproduce the issue. However, based on recent comments, it looks like an issue caused by the `no-store` cache header added by third-party plugins.

I'm going to close the issue, but feel free to re-open it if this is something we can fix inside the Gutenberg plugin.

[2022-08-30 14:37] #22688 closed

[2022-08-30 14:46] torounit commented on #23304
I would like to close this issue as I believe it is the same as #23078 .

[2022-08-30 14:46] #23304 closed

[2022-08-30 14:50] ndiego commented on #28011
@carolinan this issue came up in today's Editor Bug Scrub. Is this still an issue? I am unable to add a Template Part block inside of the Post Template block, so perhaps something changed? Anyway, if still valid, I'll remove the "Stale" label. Thanks!

[2022-08-30 14:57] AlchemyUnited commented on #43158
@andrewserong  - Hey. Thanks. Sorry I didn't see that other issue. I did look :) But apparently not enough :(

As for CSS and admin. Oh. I see. I was looking for a CSS class for the type along with .wp-block-group. I didn't notice that the actual element in the admin reflects the one selected for the group. Oops. Sorry. Thanks for pointing that out. I think it can help :)

[2022-08-30 15:11] skorasaurus commented on #13851
issue is with older galleries, created before early 2020 (ref https://github.com/WordPress/gutenberg/issues/13851#issuecomment-627478704)

[2022-08-30 15:42] skorasaurus commented on #38836
Using WordPress 6.0.1, the apostrophe and string is properly translated appears as intended; but when I have Gutenberg 13.9 activated; the strings are not translated to French; they remain in English.

(tested in FSE using the paragraph and term-description blocks).

![image](https://user-images.githubusercontent.com/955351/187481092-d04287a3-ff71-4994-a814-a891e7945108.png)

[2022-08-30 15:51] #43705 closed, assigned to Mamaduka

[2022-08-30 15:59] mirka opened #43715 "Selecting a theme gradient doesn't update the gradient bar color"
Clicking on a theme gradient doesn't update the gradient bar UI:

![Selecting a theme gradient for the Cover block](https://user-images.githubusercontent.com/1204802/186607825-f7146c84-65cb-4240-8d34-3ddaca37aef1.gif)

The isolated instances in Storybook for the GradientPicker component are working fine, so there is likely something wrong with the data flow in the block editor usage.

---

[Report

[2022-08-30 16:53] #31208 closed, assigned to nobody

[2022-08-30 16:56] kathrynwp commented on #33177
Thanks for the clarification, I've reopened this!

[2022-08-30 17:32] ndiego commented on #13851
Yeah, this issue came up in today's Editor Bug Scrub meeting. After testing, we were unable to replicate in the current version of Gutenberg. Therefore, I am going to close this issue.

[2022-08-30 17:32] #13851 closed

[2022-08-30 17:40] ndiego commented on #20199
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg and WordPress. Therefore, I am going to close this issue. If anyone can replicate it in the future, please feel free to reopen this issue with additional information.

[2022-08-30 17:40] #20199 closed

[2022-08-30 17:51] ockham commented on #43440
@Mamaduka Ah, we didn't -- my apologies! I've filed one now: https://core.trac.wordpress.org/ticket/56467

[2022-08-30 18:09] ndiego commented on #21989
In diving into this issue, I have discovered that the template is working correctly with the `sizeSlug`. If you switch over to the Code editor **before** inserting an image, you will see that the `sizeSlug` is set correctly. However, after you insert an image, the `sizeSlug` is updated. This has to do with the way image insertion works.

There is already an issue opened up for this: https://github

[2022-08-30 18:09] #21989 closed

[2022-08-30 19:10] iandunn opened #43723 "Container blocks use unsupported :where() and :not() selectors"
### Description

The Group, Columns and Buttons blocks use `:where()` and `:not()` selectors, which aren't supported by many browsers that we still need to support. It may affect more blocks, those are just the ones that [I ran into](https://github.com/WordPress/wporg-main-2022/issues/78).

The same issue happened with the Navigation block in #39230 and was fixed in #42967. There's a discussion ab

[2022-08-30 19:11] mirka opened #43724 "Icon: Support `size` prop for dashicons"
## What problem does this address?

The `size` prop does not work when the `icon` is a dashicon string.

## What is your proposed solution?

Add some handling (either to the Dashicon or the Icon component) so it adds a `font-size` style equivalent to the `size`.

[2022-08-30 19:17] mirka opened #43725 "Icon: Deprecate dashicon strings"
It was suggested in https://github.com/WordPress/gutenberg/pull/27461#issuecomment-760806802 that dashicons strings be deprecated from the Icon component, in favor of SVGs.

Note that this will also affect components that rely on Icon and accept arbitrary `icon` values, such as Button and DropdownMenu.

[2022-08-30 20:01] shanemac10 commented on #41324
Just updated to Version 6.0.2 and this is still happening. Please address this.

Can we just have alignment based classnames dynamically added to the block so us devs can add style overrides? This dynamic `wp-container-<number>` classname and dedicated style tag generation thing that's going on is not helpful for building on top of Wordpress.

[2022-08-30 20:58] #43673 closed, assigned to andrewserong

[2022-08-30 21:06] TheJeffr0 opened #43726 "Pasting Text into The Post Title Erases Existing Text"
### Description

When copying text and pasting it into the Post Title area, any existing text is erased in favor of the pasted text. I expect the text to be added to what's there, not erased.

### Step-by-step reproduction instructions

Install and activate the Gutenberg Plugin version 13.9.0
Browse to the Add New Post page and type text into the Title Box
Copy and paste any text into the Title bo

[2022-08-30 21:10] andrewserong commented on #43440
I'm happy to help out with Layout backports. I'm travelling at the moment but can start looking at some of them next week when I'm back. Some of them might have a couple of challenges — layout.php currently depends on the style engine work in the style engine package (so just CCing @ramonjd there), which might need to land first?

Also, I was wondering how we deal with PHP changes that require JS

[2022-08-30 21:22] ramseyp commented on #43726
I'm able to reproduce this:

WordPress 6.0.2

No plugins active except Gutenberg 13.9.0

Screen recording attached. In this, I created a new post, typed out a title, then pasted some selected text at the cursor. Result was the entire title text was replaced.

https://user-images.githubusercontent.com/1168839/187545510-0f9eec0f-6c76-4e9e-bd44-9d0bfae64f36.mp4

[2022-08-30 21:35] Lovor01 opened #43727 "ViewScript in block.json does not work for dynamic blocks"
### Description

Please see bug description on this [Trac ticket](https://core.trac.wordpress.org/ticket/56470)

Thanks!

### Step-by-step reproduction instructions

1. Create dynamic block
2. create javascript script and set viewScript in block.json to that script
3. script is not enqueued!

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### P

[2022-08-30 21:53] fullofcaffeine commented on #40850
I've debugged this a bit further, and this exception originates in `unescapeTerm` function ([here](https://github.com/WordPress/gutenberg/blob/trunk/packages/editor/src/utils/terms.js#L58)). It seems that some client code is calling `unecapeTerms` and passing a `terms` argument that includes `undefined` values. While it shouldn't receive an array with `undefined` values, I think a good workaround

[2022-08-30 22:53] #43384 closed, assigned to t-hamano

[2022-08-31 01:04] iandunn commented on #43723
It looks like this also affects the Columns and Buttons blocks.

[2022-08-31 01:35] bezbee commented on #41825
I experience the same issue with a gallery block of as fewer as 3 images. See here - https://japanball.com/articles-features/japanball-tours/guest-memoirs/2022-netherlands-tour-recap-and-photo-log/

A handful of galleries on the page that do not link images to media files have image size in the constantly loading state.
What details can I provide for the issue to be looked at and resolved?

[2022-08-31 04:13] alexstine opened #43729 "List view: Certain screen readers still switch modes when options button receives focus"
### Description
Whenever I open the list view, my screen reader remains in edit mode. This means all keyboard input gets sent to the application, Gutenberg. This is good because it allows me to navigate up and down the left side of the grid, or block names. The problem becomes when I enter the right column where the options buttons are, landing on a button forces screen readers from edit mode to b

[2022-08-31 04:14] alexstine commented on #43729
@andrewserong I remember this was a horrible pain to implement, but you did a great job! Up to take on this challenge?

[2022-08-31 04:30] CreativeDive commented on #33374
@tellthemachines @andrewserong should I create a new issue?

[2022-08-31 05:03] Mamaduka commented on #43726
Duplicate of #43066. Fixed in #43123, it should ship in Gutenberg 14.0.

[2022-08-31 05:03] #43726 closed, assigned to nobody

[2022-08-31 06:22] Mamaduka commented on #43440
@ockham,

My backport PRs are ready:

* https://github.com/WordPress/wordpress-develop/pull/3156
* https://github.com/WordPress/wordpress-develop/pull/3157

The https://github.com/WordPress/gutenberg/pull/40416 should already be in Core, cherry-picked for a minor release - https://github.com/WordPress/wordpress-develop/pull/2600.

I've only done a minor code quality work for `class-wp-theme-json-6

[2022-08-31 06:37] draganescu commented on #33911
What does "Map tt1-blocks locally" mean?

[2022-08-31 06:38] draganescu commented on #43620
I am all for this. It is very likely that we'll never use this as a basis for whatever ends up as being a stand alone editor for the navigation block.

[2022-08-31 06:39] Mamaduka commented on #33911
@draganescu, I just translated it to "Install TT1 Blocks locally".

[2022-08-31 06:57] draganescu commented on #33911
I can confirm that following https://github.com/WordPress/gutenberg/pull/42735 this can't happen anymore.

[2022-08-31 06:57] #33911 closed, assigned to nobody

[2022-08-31 07:00] jasmussen commented on #43423
Here's a suggested grid:

<img width="1026" alt="Grid" src="https://user-images.githubusercontent.com/1204802/187613848-7b278d22-3332-442b-8a5e-232e0b84002c.png">

Is that helpful?

[2022-08-31 07:33] andrewserong commented on #33374
@CreativeDive, yes please — another issue would be great so that we can look at follow up issues in isolation. Thank you for writing up the bug and test instructions!

[2022-08-31 07:35] andrewserong commented on #43158
No need to apologise, I miss existing issues _all_ the time. Thank you for taking the time to write up the issue! 🙂

[2022-08-31 07:41] CreativeDive opened #43731 "Block layout: Wide and Full are not available for custom container blocks if __experimentalLayout: constrained is used"
Tested in Gutenberg 14 RC2.

@tellthemachines thank you, it's very important to know how the things should be working to test if everything is working fine or not.

Now I can get you the full bug report.

### Test Case 1: Custom container block

1. `"layout": { "contentSize": "840px", "wideSize": "1100px"}` is set in `theme.json`.
2. `"__experimentalLayout": { "type": "constrained" }` is set in th

[2022-08-31 07:41] CreativeDive commented on #43731
@tellthemachines Here is the same report, but instead I use the `core/group` block.

### Test Case 1: Core group block

1. `"layout": { "contentSize": "840px", "wideSize": "1100px"}` is set in theme.json.
2. `"__experimentalLayout": { "type": "constrained" }` is set in the block.json inside the support object.
3. Add a new block (in that case the core/group block).
----> "Inner blocks respect cont

[2022-08-31 07:42] CreativeDive commented on #43731
@tellthemachines Another bug. 🐛

Adding a new custom container block, with the following settings in the `block.json`:

[code]

1. The block starts with "Inner blocks respect content width" is enabled by default.
--------> I think that is correct and expected.
2. The block class name in the block editor source code contains `is-layout-constrained`.
--------> I think that is correct and expected.
3

[2022-08-31 07:44] CreativeDive commented on #43731
@andrewserong thanks for response. I have now separated it and created a new issue.

[2022-08-31 08:15] miumerfarooq opened #43732 "addEventListener 'click' is not working on FSE editor."
### Description

addEventListener 'click' is not working on FSE editor. But it works on Frontend.
I just create a simple button and want to alert it, but it gives an error on page load in FSE editor.

### Step-by-step reproduction instructions

1. create simple block using `npx @wordpress/create-block name-of-block`
2. run `npm start`
3. the visit your site
4. add the following code(Which I mentio

[2022-08-31 08:18] gziolo commented on #43727
Thank you for opening the issue and linking the Track ticket. This should be addressed directly in WordPress core so let's continue the discussion there.

The short answer is, I agree it's confusing because it doesn't work like that for `script`. The best way to move forward is to allow customizations for assets in `block.json` as explained in [Trac#54018](https://core.trac.wordpress.org/ticket/54

[2022-08-31 08:18] #43727 closed, assigned to nobody

[2022-08-31 08:38] carolinan opened #43733 "Add border to root level of global styles"
## What problem does this address?

If theme.json sets a broder style on the body, the user can not change or remove this border using global styles.

## What is your proposed solution?

Add border  settings to root level of global styles

[2022-08-31 08:40] ockham commented on #43440
Small update: In https://github.com/WordPress/wordpress-develop/pull/3154, I'm attempting a package sync to update Core to the latest package versions -- mostly as a dry-run for Beta 1. (I would like to actually merge it once its ready -- see its PR desc for context).

In order to unblock that PR, I've filed a small [backport PR](https://github.com/WordPress/wordpress-develop/pull/3158) to add the

[2022-08-31 08:49] SiobhyB commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved

++ [Prevent a crash when opening the Latest Post block's settings](https://github.com/WordPress/gutenberg/pull/43685)
++ [Update initial HTML content for demo app](https://github.com/WordPress/gutenberg/pull/43612) (to keep it up-to-date with the current block formats)
++ [Add new KeyboardEvent.code attribute to RichText onKeyPress

[2022-08-31 09:28] getdave commented on #43620
cc @mrfoxtalbot @annezazu

[2022-08-31 09:45] Mamaduka commented on #40395
I can no longer reproduce the issue running the current Gutenberg plugin trunk and 14.0.

I believe it was fixed via #42321.

[2022-08-31 09:45] #40395 closed, assigned to nobody

[2022-08-31 09:51] Mamaduka commented on #41464
I couldn't reproduce the issue running the latest Gutenberg plugin. Maybe the issue was fixed by #43114.

I'm going to close this, but feel free to re-open it.

[2022-08-31 09:51] #41464 closed, assigned to nobody

[2022-08-31 10:34] gziolo commented on #43440
In addition to that, we need to refactor all occurrences of `WP_Theme_JSON_Gutenberg` and `gutenberg_enqueue_block_support_styles` in core blocks in the Gutenberg plugin. That might not be trivial as the plugin still supports WordPress 6.0 and 6.1 where some functionality is missing.

[2022-08-31 11:03] ciampo opened #43737 "Draggable block e2e tests: re-enable tests and make them pass"
Draggable block e2e tests are currently being skipped (https://github.com/WordPress/gutenberg/pull/43736) because they were failing ofter, blocking other PRs from being merged.

A [previous tentative fix](https://github.com/WordPress/gutenberg/pull/43734) was also merged, but it didn't seem to affect the tests.

---

From my research, these tests started erroring when https://github.com/WordPress/

[2022-08-31 11:20] ciampo commented on #43737
As @WunderBart pointed out, from the test artifacts it looks like the "new" post that is being created during the test, seems to have a local backup

![can drag and drop to the top of a block list 2022-08-31T06-08-41](https://user-images.githubusercontent.com/1083581/187666903-092ed595-6a22-4a79-8c68-91a2062f55ca.jpg)

One hypothesis is that the appearance of this banner may move the focus away fr

[2022-08-31 11:28] Mamaduka commented on #43173
I'm going to close this in favor of the core ticket.

[2022-08-31 11:53] soumitra2021 commented on #43464
@azouamauriac

As mentioned by @rmarcano This issue was also reproduced in the WordPress Core tracker -
https://core.trac.wordpress.org/ticket/56410#comment:5

@aatanasovdev

No, If typing slowly and submitting any new or existing tags, even after waiting for the tags list Ajax request completes, and/or waiting to show existing tags in drop-down list, and selecting from dropdown tag lists for exis

[2022-08-31 12:24] gziolo opened #43743 "Blocks: Add support for block name aliases for variations"
## What problem does this address?

Part of Block API roadmap #41236.

Let's explore whether some block variations can be read as a block type. For example, instead of `core/template-part/header` be able to just have `core/header` to still get resolved by the template part functions. We used to have a similar granular naming schema for Embed and Social Link blocks before we converted them to block

[2022-08-31 13:08] t-hamano opened #43745 "Button: `iconSize` prop doesn't work with some icons"
### Description

I have found that the size is not applied to some of the `@wordpress/icons` when I specify the `iconSize` attribute on a button component with SVG icons.
These icons will be displayed at the expected size when the size is specified in the `Icons` component, not the `Button` component.

I checked the icon library and found that icons with `width` / `height` attributes of the svg el

[2022-08-31 13:28] Mamaduka commented on #43745
I think removing hardcoded sizes should fix the issue. There's #41772, but it's hard to see actual changes because of the bad rebase.

[2022-08-31 13:31] mairienice commented on #32515
I'm agree with @reageek.
A mecanism like dotenv would be great to populate some config constant.

[2022-08-31 13:33] lflorent commented on #32515
I'm agree with @reageek.

A mecanism like dotenv would be great to populate some config constants.

[2022-08-31 13:36] Mamaduka commented on #43732
Hi, @Umer-Farooq10

I believe this is happening because, in Site Editor, blocks are loaded in the iframed editor. So the iframe (where your block is loaded) and admin page (where `script.js` is loaded) will have different `document` and `window`. You can read this dev note for more details - https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/.

## How to fix

Have you

[2022-08-31 13:38] t-hamano commented on #43745
Oh, I was just about to create #43747 😅
Should we wait for #41772 to be properly rebased?

[2022-08-31 13:42] Mamaduka commented on #43745
Do feel free to create a new PR 👍  I think that one was only fixing `line-(dashed|dottted|solid).js` files. Maybe fix them as well, since PR hasn't been active for almost 40 days.

[2022-08-31 13:51] t-hamano commented on #43745
I checked the latest trunk and it appears that those three icons were fixed in another PR, #40315.
Therefore, regarding #41772, it looks like we will have to close it, unfortunately.

Since the problem I have found is different from the icons improved above, I would like to activate my PR.

[2022-08-31 14:01] webzunft opened #43748 "Enclosing shortcodes in the Shortcodes block create a closing p tag"
### Description

When using enclosing shortcodes with the Shortcodes blocks, the starting shortcode creates a `</p>` tag, while the closing one creates a `<p>` tag.

### Step-by-step reproduction instructions

1. Create a new shortcode. I used this one:

[code]

2. Use the shortcode with content in between in the block editor with the Shortcode block:

![Bildschirmfoto 2022-08-31 um 15 58 23](http

[2022-08-31 14:25] danekee commented on #12211
Im glad to read it here. Im very dissapointed with similar issue.

Im using Guttenberg for quick nice looking style, but not for main posts, where Im using my own, build for years, **structure & functions**. Also I want use classic editor due to many Quictktags defined on my own and I didnt find a way to use quicktags in guttenberg. I want it to be working due to back compatibility with many older

[2022-08-31 14:39] luminuu commented on #43676
The style variation I was working on where I discovered this issue (Figma only atm): https://github.com/WordPress/twentytwentythree/issues/134

[2022-08-31 14:40] luminuu commented on #43660
The style variation I worked on where I discovered this issue (Figma only atm): https://github.com/WordPress/twentytwentythree/issues/135

[2022-08-31 14:43] t-hamano commented on #43724
In the Icon component, if the size property is to be applied to the dashicon, does this mean that the default font size will be 24px instead of the current 20px?

Personally, I would expect the current default size (font size) to remain 20px when `size` prop is not specified in the dashicon. Developers still using the dashicon should expect the font size to remain 20px unless they explicitly speci

[2022-08-31 14:44] ndiego commented on #43395
Not a solution, but I found that turning debug on resolves this.

[2022-08-31 14:47] ndiego commented on #42794
Block styles are simply a UI for CSS classes and do not have a direct relationship to block attributes. So while I agree this would be handy, I don't think it is technically possible given the way block styles are implemented.

[2022-08-31 16:20] uzegonemad commented on #42994
Hopefully this is the appropriate place to leave this feedback. (If not, please redirect me to the appropriate place.)

1. It would be ideal to display the percentage a gradient stop (control point) is located at.

Right now, to ensure a gradient stop is at the correct place, I have to open my browser's dev tools, select the element with the gradient, and move one of the points until dev tools sho

[2022-08-31 16:57] Zodiac1978 commented on #12211
NUX = New User eXperience

[2022-08-31 17:12] chad1008 commented on #43063
Sorry for the delayed response @ciampo, but no I'm no longer seeing this bug in `trunk` 🎉

[2022-08-31 17:22] ciampo commented on #43063
Can you still reproduce the other part of this issue? If so, we should update the issue's description to leave only the relevant bug.

If that also can't be reproduced, then we can close this issue instead :)

[2022-08-31 17:30] colorful-tones commented on #43395
@ndiego can you please clarify? I have `define( 'WP_DEBUG', true );` and this does not resolve the issue. Perhaps you're referring to another debug?

I've tried all of the following, and none of them resolve the issue:

[code]

[2022-08-31 17:32] nerrad opened #43749 "Custom Post (or post type) block templates are orphaned when post slug changes."
### Description

Block templates are connected to specific URL paths and are not updated if the original post's `post_name` is updated. We might want to consider linking to the short URL (canonical) as a reference instead.[](url)

### Step-by-step reproduction instructions

1. Create a post "Test Post A" and publish. Observe that with permalinks enabled, the `post_name` is `test-post-a`.
2. Create

[2022-08-31 17:38] ciampo commented on #42994
Hey @uzegonemad , thank you for your feedback!

We're not actively working on this component at the moment, but we'll take your feedback into account when we do!

[2022-08-31 17:45] ryelle commented on #43395
I think `WP_DEBUG` helps for changes in theme.json, but the variation JSON is saved to & loaded from the database. As far as I can tell, there's no way to refresh it except going through the editor process.

[2022-08-31 17:48] paaljoachim commented on #37652
@glendaviesnz Glen. Can you add a link to the [Gallery Improvements project](https://github.com/WordPress/gutenberg/projects/56)? Thanks.

[2022-08-31 17:51] mirka commented on #43724
Yes, if it's agreed that dashicons can be deprecated, there's probably no good reason to add a "new feature" (even if it's kind of a bug fix) like customizable sizes. So if we're going to deprecate, I think keeping the current 20px size is reasonable 👍

I just wasn't sure if there would be pushback on deprecating dashicons, since I hear it's widely used by the community 😅 At least, the contributor

[2022-08-31 17:54] cbirdsong commented on #43723
Related discussion:

- https://github.com/WordPress/gutenberg/discussions/39621

[2022-08-31 18:18] ciampo commented on #43724
My preferred option would be to deprecate `dashicons` (ie. to simplify rather than add more complexity), but we should definitely check with the project leads if this something that we can do.

[2022-08-31 18:23] mirka commented on #43725
It has come to my attention that the `Icon` component is responsible for rendering [block icons](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-registration/#icon-optional), where I would imagine dashicons to be widely used.

So this itself could be considered a blocker to deprecating.

[2022-08-31 18:34] ndiego commented on #43395
Ah yup, I was referring to the main theme.json file. Thanks for the additional info @ryelle, I didn't realize variation files worked like that.

[2022-08-31 19:36] TimothyBJacobs opened #43751 "Core Data selector canUser does not handle entity records"
### Description

The `@wordpress/core-data` module provides a selector `canUser( action, resource, id )` that can interrogate whether a user has permission to perform the given CRUD action for the given resource and optionally a specific record.

For example, to check whether the user can update a `page` with the id of `5`, you can perform the following check.

[code]

Unfortuantely, this method o

[2022-08-31 19:55] niklasp commented on #23223
also need

[2022-08-31 20:22] carlomanf commented on #43748
Can you confirm if you are using a block theme or legacy theme? There are some known issues with shkrtcides and block themes.

[2022-08-31 21:04] kathrynwp commented on #14074
@jasmussen @youknowriad Circling back to see whether we can move this forward somehow, or whether we might want to close it out as a "Maybe later" – thanks for having a look!

[2022-08-31 22:02] aisajib opened #43752 "Block editor: Text goes edge-to-edge with Gutenberg 14.0.0 on some themes"
### Description

With Gutenberg 14.0.0 installed, there's an issue that's causing text in the block editor to go edge-to-edge. The frontend remains unaffected (when you preview or publish the post).

Additionally, the issue is only present on classic (non-FSE) themes.

### Step-by-step reproduction instructions

1. Install the latest version of Gutenberg (v14.0.0).
2. Install and activate a classi

[2022-09-01 00:36] priethor commented on #43752
I can reproduce the issue as well. It's also affecting make.wordpress.org blogs.

[2022-09-01 00:54] fullofcaffeine opened #43753 "[GB 14.0.0] Bug: Pasting block markups with an empty List block crashes the editor"
### Description

Pasting a block markup with an empty List block results in an uncaught exception that WSODs the editor. Not sure if it's specific to the List block or something more far-reaching that could affect other blocks, though. and

### Step-by-step reproduction instructions

1. Clone GB locally and checkout the `v14.0.0` tag;
2. Build it: `npm ci && npm run dev`;
3. Start `wp-env`: `npx w

[2022-09-01 01:06] thekingsprojects opened #43754 "Block editor: Extra margins around List block items with Gutenberg 14.0.0 on some themes"
### Description

In Gutenberg 14.0.0, when using a Classic/Customizer theme such as Twenty Twenty, items in a List block seem to have a lot of extra space around them when viewed in the editor. This space is not present when viewing the list on the live site.

At a glance, it looks like there are some margins being added above and below each item. For example:

[code]

That might well be intention

[2022-09-01 04:01] #43752 closed, assigned to tellthemachines

[2022-09-01 06:04] webzunft commented on #43748
The site is using Twenty Twenty-One. It is a blank site which I created only to reproduce this specific test.

[2022-09-01 06:05] kdevnel opened #43758 "Handbook: Add a way to ensure correct code markers are used"
## What problem does this address?

I recently created a PR (#43185) to fix an issue on the Handbook, where there was a missing `{% end %}` marker.  It looks like this situation is quite easy to get into since there doesn't appear to be an easy way to ensure the correct opening and closing markers are used.

This content is processed and compiled after the changes are merged so you only see the re

[2022-09-01 06:42] Mamaduka commented on #43751
Thanks for creating the issue.

I think we might want to keep `canUser` around for a while. The new recommended selector will require resources to be registered as custom entities; currently, we don't have an easy way of doing that. See #27859.

The `canUserEditEntityRecord` selector implies the action. We might need a better name here. Maybe `hasPermssionsTo`? Matches the new hook @adamziel stabi

[2022-09-01 06:49] andrewserong commented on #43243
Very interesting thoughts @t-hamano! This is a tricky one. Ideally to best represent what happens on the site frontend, I suppose all the inline styles would be applied to the same element that exists on the site frontend. For example, in the editor, the Tag Cloud block is rendered as a `p` tag within a wrapper `div`:

<img width="869" alt="image" src="https://user-images.githubusercontent.com/149

[2022-09-01 07:12] talldan opened #43760 "Duplicating a template part makes the site editor freeze"
### Description

Duplicating a template part seems to make the site editor hang.

There's no visible error, but I think duplicating triggers an infinite recursion and the UI hangs.

### Step-by-step reproduction instructions

1. Open the site editor
2. Select the header or footer
3. From the block toolbar open the options dropdown and select Duplicate
4. Continue editing in the site editor

Expect

[2022-09-01 07:29] oandregal commented on #43753
Got a fix at https://github.com/WordPress/gutenberg/pull/43761

[2022-09-01 08:14] aristath commented on #43395
If I remember correctly, there is a small cache (I think it was 1m or something like that) to avoid parsing things on each page-request.
The caches are bypassed when WP_DEBUG/SCRIPT_DEBUG are true 'cause the assumption is that when you're building something, you have debugging turned on to catch any errors (you do, don't you?)

[2022-09-01 08:22] #43541 closed, assigned to talldan

[2022-09-01 08:30] carolinan commented on #43749
How do you change the post_name value? (it is not the post title or the slug / url)

[2022-09-01 08:32] afercia commented on #42630
Thanks @ciampo for the clarification. Conceptually, I'm not sure we can always determine in advance whether a control needs a fieldset + legend or not. It always depends on the nature of the control, the context, and the quality of the labels.

That's why i'd tend to think education and training are more effective rather than 'smart' components that inevitably are based on assumptions.

To go thro

[2022-09-01 08:45] carolinan commented on #43723
Can you help clarify which browser support requirement are you referring to? This list :
https://make.wordpress.org/core/handbook/best-practices/browser-support/ ?

[2022-09-01 09:08] paaljoachim commented on #39170
Thinking out loud...

What if we added an option to preferences giving the user the opportunity to turn on "Use first image as featured"?
Or as @carolinan suggested here https://github.com/WordPress/gutenberg/issues/39170 adding an option to Global Styles regarding a fallback image.

@draganescu @jasmussen

[2022-09-01 09:19] jonathanbossenger opened #43764 "[Create Block] Adding a --convert-shortcode flag to scaffold a block from an existing shortcode"
## What problem does this address?
The inclusion of the --no-plugin flag got me thinking, what if we allowed developers to use Create Block to automatically scaffold code based on an existing shortcode?

Developers could run `npx @wordpress/create-block --convert-shortcode` inside of their plugin directory, and the tool could scan for any shortcodes in the plugin, and convert them to blocks.

## W

[2022-09-01 09:34] jonathanbossenger commented on #43764
It could also be a requirement that the add_shortcode registration contains the PHP DocBlock, thereby only requiring that --convert-shortcode passed the shortcode tag.

[2022-09-01 09:36] jameskoster opened #43765 "Make it possible to invoke template lock in the UI"
With #43037 merged, we need to add a way to invoke this condition in the UI.

In the PR it was hypothesised that the following lock configuration on a container could act as the trigger:

<img src="https://user-images.githubusercontent.com/846565/186475559-90611661-d80c-4974-aefe-6fde6e83a2d2.png">

But this is just one idea, there are doubtless others to explore.

[2022-09-01 09:45] jasmussen commented on #37930
Thanks for looking at this! Just coming back to this one, we might want to use the emerging "settings icon" pattern that Typography uses for "custom":

![typography](https://user-images.githubusercontent.com/1204802/187884717-5553823a-028b-41c1-ba10-2d9b3815805e.gif)

It could look like this:

<img width="364" alt="icon picker" src="https://user-images.githubusercontent.com/1204802/187884741-9ff0f

[2022-09-01 10:07] erikjoling commented on #39187
I workaround this by adding an heading-block which mimics the post-title-block to the index.html-template:

[code]
Then in the Site Editor users can change "Blog" to another name.

[2022-09-01 10:14] andersnoren commented on #42103
1+.

A temporary, CSS free workaround is to wrap the separator in a Row block, and use the Justification setting to position the separator.

[2022-09-01 10:16] Humanify-nl commented on #39187
This fails when using `add_filter( 'should_load_separate_core_block_assets', '__return_true' );` because styles for a heading are used. I know because I built a custom query block that uses mimiced elements (post-except, post-title, etc.).

When assets are loaded per block on the page, heading styles will be applied instead of post-title. Which is something to be aware of when these differ in your

[2022-09-01 10:20] #43700 closed, assigned to mirka

[2022-09-01 10:22] #43753 closed, assigned to oandregal

[2022-09-01 10:26] t-hamano commented on #43243
Yes, that makes sense. Let's deal with them individually, along with blocks that have already been merged with block support.

Another thing to discuss is how to handle the issue of additional class(es) being rendered as duplicates, as @ndiego submitted in #43653.

I think we have three options:

1. Apply only to **the wrapper div**.
2. Apply only to **server-side rendered elements**.
3. **Both**.

[2022-09-01 10:54] carolinan commented on #39937
I am not able to reproduce this in WordPress 6.0.2  with and without Gutenberg active.

[2022-09-01 11:02] jasmussen commented on #39170
I like this feature, I used to implement it in my decades-old WordPress themes, and it could be neat. I think we need to evolve and mature the "Use featured image" interface first, however, so that the experience of assigning that across all media blocks (like Cover, Media & Text and others) feels intuitive and natural. Once that flow is solid it seems like it would be a smaller order to add "Use

[2022-09-01 11:46] ocean90 commented on #39986
As of #41306 the plugin now requires 5.9 so I guess we can switch the query to use `capability` now.

[2022-09-01 13:07] gziolo commented on #16520
I did another check. Everything is implemented.

[2022-09-01 13:07] #16520 closed

[2022-09-01 13:20] jasmussen commented on #14074
Thanks for the ping! I would tend to agree with Carolina and Riad, this was intentionally done, but is something an editor style can override and customize. So I'll close this one out for now.

[2022-09-01 13:20] #14074 closed

[2022-09-01 13:39] rku4er opened #43777 "Add font-stretch option in typography settings"
Is it possible to implement a font-stretch option control? I would like to control this option in global style settings as well as in block-level typography settings.

[2022-09-01 13:53] t-hamano commented on #42125
I noticed that of the references I added in #42651, the selector and actions in the `reusable-blocks` package are all experimental.
Should this package be excluded from the documentation?

[2022-09-01 13:55] ockham commented on #43440
Good point. Here's one approach for `gutenberg_enqueue_block_support_styles`: https://github.com/WordPress/gutenberg/pull/43779.

[2022-09-01 14:13] jameskoster opened #43780 "Template lock: Apply selected state to container block in list view"
Something we missed in https://github.com/WordPress/gutenberg/pull/43037. When any block within a container is selected, the parent should also be selected in List view. At the moment it is not:

<img src="https://user-images.githubusercontent.com/846565/187882941-84f8e06d-0d7e-4c7b-8fae-98b590018187.png">

cc @jorgefilipecosta

[2022-09-01 14:13] github-actions[bot] opened #43781 "[Flaky Test] gracefully removes blocks when the default block is not available"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
gracefully removes blocks when the default block is not available

## Test path
`specs/editor/various/block-deletion.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-09-01T14:13:15.936Z"><code>[2022-09-01T14:13:15.936Z]</code></time> Test passed after 1 failed

[2022-09-01 14:31] jorgefilipecosta commented on #41438
Closing this issue as according to the conversation, the hook seems to be exported now.

[2022-09-01 14:34] jorgefilipecosta commented on #42692
Hi @corentin-gautier, @rmorse, thank you for reporting this issue.

What in your use cases make you want to avoid the wrapping of ColorGradientSettingsDropdown in a tools panel?
The dropdown could easily be used in third-party blocks as for example, the social-links does packages/block-library/src/social-links/edit.js:
[code]

Would not something similar to the sample above fit your needs?

[2022-09-01 14:42] jorgefilipecosta commented on #37752
On https://github.com/WordPress/gutenberg/pull/34178, I try to implement the case where we should the colors when they come from theme.json.

This would be complex. The stylesheet changing the color may not even be loaded on the editor. The markup on the editor may be a little different, making the colors different. But of course, we could try to should the current color rendered on the editor.

[2022-09-01 15:14] jorgefilipecosta commented on #41649
The trac thicked seems to be the same issue. I reviewed and approved PR https://github.com/WordPress/gutenberg/pull/41762, which should fix it.

[2022-09-01 15:50] bradhogan opened #43783 "wp-block-template-part missing from <main> container"
### Description

Not sure if this was intentional or not, but I don't see a mention of it in the changelogs.  It looks like `wp-block-template-part` has been removed from main but is still in parts if the theme has a "parts" directory.  This will take some reworking for many theme authors who have used something like:

[code]

to help setup certain width/padding/margin within a theme.

If this was

[2022-09-01 15:59] #43783 closed, assigned to nobody

[2022-09-01 16:30] YogieAnamCara commented on #19041
Great idea, I like to upvote. I need a few other social icons and the fastest and best way would be to be able to add own icons to links.
Currently I am missing VERO

[2022-09-01 16:31] YogieAnamCara commented on #39868
Great idea, I like to upvote. I need a few other social icons and the fastest and best way would be to be able to add own icons to links.
Currently I am missing VERO

[2022-09-01 16:33] TimothyBJacobs commented on #43751
I think most custom entities would be using a non `wp/v2` namespace, so they wouldn't be able to leverage `canUser` anyways. But keeping it around seems fine too.

I like that a lot too.

[2022-09-01 16:39] jorgefilipecosta commented on #42894
I think the simple fix would be not to store hard-coded names on the template name and description and instead leave them empty. If they are empty, the rest endpoint would dynamically compute names and descriptions based on the entities being referenced.
I think ideally, this would be addressed before 6.1 otherwise, on 6.1 we are going to store names and then even if we fix we still have confusing

[2022-09-01 17:08] iandunn commented on #43723
AFAIK that list has always been for `wp-admin`, and we've never had a policy for the front end. Before Gutenberg, it wasn't needed, but it is now because Core is generating so much front-end CSS. So far the `wp-admin` policy has been unintentionally used for the front end, and that's been [causing](https://github.com/WordPress/wporg-mu-plugins/issues/159) [problems](https://github.com/WordPress/wp

[2022-09-01 17:08] cbirdsong commented on #43723
Based on the discussion linked above[^1] (https://github.com/WordPress/gutenberg/discussions/39621#discussioncomment-2435002, https://github.com/WordPress/gutenberg/discussions/39621#discussioncomment-2541786), it seems like that list was intended for the admin area and editor, not front-end output. The continued appearance of issues like this seem like evidence enough that user-facing code should

[2022-09-01 17:36] bradhogan opened #43788 "showPrefix in Query title Block not working"
### Description

If using `` in the index.html template file, the word "Category" or "Tag" still appears when viewing an individual taxonomy page.

### Step-by-step reproduction instructions

1. In the default WP theme, add `` to the index.html and archive.html templates
2. Create a post with a category and a tag
3. View the category and tag archive pages
4. See the word "category:" and "tag:" sti

[2022-09-01 17:39] aatanasovdev commented on #43464
I prepared a video that shows how I could add existing and new tags.

During the video, I tested the following scenarios:
 - Adding new tags
 - Adding existing tags slowly
 - Selecting existing tags from the autocomplete list
 - Adding existing tags while typing quickly to force the existing tag error.

All tags were assigned correctly to the post without the `Updating failed` error.

[Testing-tag

[2022-09-01 18:50] miumerfarooq commented on #43732
I read what you suggest but I didn't get anything.
I don't know how to use **useEffect** and **useRefEffect** hook. In which file should I use it.
Can you please send me an example of the code that I mentioned above using **useEffect** and **useRefEffect** Hook?

[2022-09-01 19:30] scruffian commented on #43618
Proposed fix here: https://github.com/WordPress/gutenberg/pull/43792

[2022-09-01 19:49] jeremyfelt opened #43793 "babel-plugin-makepot: "translations is not iterable""
### Description

After I updated a project's `@wordpress/babel-plugin-makepot` dependency to 5.0.0, its build started showing a TypeError with the message "translations is not iterable".

I looked at the commit history for the package and while the [release notes show an upgrade to Node 14](https://github.com/WordPress/gutenberg/blob/95f71eda35d96a29fe52600994ee058d1765c604/packages/babel-plugin-m

[2022-09-01 19:56] gziolo commented on #41707
I wanted to share a couple of thoughts based on my recent experiments. The `__experimentalStyle` thing might work for certain cases that @oandregal and @nerrad discussed, but I had difficulties to configure it correctly in my testing. This might be issue on my side or the API is still limited and requires further work. It definitely needs to be better documented so it's clear how to make the most

[2022-09-01 20:06] richtabor commented on #43095
@bgardner and I did some more testing on this front, looking at Twenty Twenty Three. I don't think this doubled-up padding is due to the background color, but rather the targeting of padding on contents within `alignfull` blocks.

## What's happening

The `has-global-padding` rule is global padding to constrained layout blocks (which includes Group blocks within other constrained blocks). That's f

[2022-09-01 20:22] kathrynwp commented on #16015
I'm going to go ahead and close this out, but if you are still experiencing the original issue, feel free to add a comment with additional details as requested above, and I’ll be glad to reopen it.

[2022-09-01 20:22] #16015 closed

[2022-09-01 20:26] kathrynwp commented on #16039
I'm going to go ahead and close this one out, but if you are still experiencing the original issue with the latest version of WordPress (with or without the Gutenberg plugin active), feel free to add a comment with additional details as requested earlier, and I’ll be glad to reopen it.

[2022-09-01 20:26] #16039 closed

[2022-09-01 20:41] ndiego commented on #43095
In some testing, I think modifying the rule to the following should work. The issue with removing it completely is that it impacts blocks with `.is-layout-flow`. @richtabor, can you give this a try and see if it works for you?

`.has-global-padding > .alignfull:not(.has-global-padding) > :where([class*="wp-block-"]:not(.alignfull):not(.alignfull):not([class*="__"]),p,h1,h2,h3,h4,h5,h6,ul,ol)`

[2022-09-01 20:55] kathrynwp commented on #18134
I'm going to go ahead and close this out, but if you are still experiencing the original issue, feel free to add a comment with additional details and I’ll be glad to reopen it.

[2022-09-01 21:00] kathrynwp commented on #18614
@aduth @tofumatt @talldan @gziolo Hey there, is this still planned or should it be closed out? Thanks!

[2022-09-01 21:10] ndiego commented on #43095
@andrewserong sorry for the ping, but this is the last piece of the "root site padding" puzzle. `.has-global-padding` is now showing up where it should, but this extra padding is now throwing things off. It's a bit mindbending 😅

[2022-09-01 21:20] amustaque97 commented on #43470
Thank you @ockham, I will draft a PR with the second approach where in I will be adding an `empty` check and will share the PR link for feedback.

[2022-09-01 22:04] richtabor commented on #43095
What does it cause?

[2022-09-01 22:26] tellthemachines commented on #43095
Thanks for the report!
The `has-global-padding` rule works by applying padding to its children, so that the contents of a full-width block can have the same padding as other top-level blocks. The problem we're seeing here is that if we have nested blocks that both have the `has-global-padding` class, the padding is duplicated. This can be fixed by adding an override along the lines of `.has-global

[2022-09-01 22:40] ndiego commented on #43095
Padding on inner blocks is not applied. Blocks with `.is-layout-flow` don't get the `.has-global-padding` class, and therefore need that complicated CSS.

This almost works, but not quite. The padding on blocks inside of the child block with `has-global-padding` still get padding applied. While this looks ok on mobile, on all other screen sizes where the content is not constrained, the extra paddi

[2022-09-01 22:47] bgardner commented on #43095
To help illustrate what is going on, here's a link: https://bg.design/powder/test/

Both instances have groups with content that should be aligned with the content in the header/footer, but the double padding is bumping it in another 30 px.

![image](https://user-images.githubusercontent.com/486261/188025379-b3bb155a-abe5-4d27-8763-70fcdff9fd6a.png)

[2022-09-01 22:56] tellthemachines commented on #43095
These rules were arrived at after a lot of back-and-forth both on #42085 and #35607. For any fix we try, we'll need to make sure that we're not breaking any expected behaviour. I think it would help to have our expectations clearly documented (which I now wish I'd done while I was wrangling the PR 😅 ) so going to address that now along with trying out a fix.

[2022-09-01 23:03] aaronrobertshaw commented on #42692
There is a little more history related to the use of the color dropdown inside a ToolsPanel in https://github.com/WordPress/gutenberg/pull/40084

[2022-09-01 23:59] priethor commented on #42894
Agreed, I don't think it's a blocker, but it would definitely be terrific to address it before 6.1

[2022-09-02 01:18] StevenDufresne commented on #34081
### On templates:

Templates typically include specific template parts, for example:
``

How would that work for a shared directory?

### On template parts:
Curious, is it fair to think of a template part as a pattern, or a pattern of patterns?

[2022-09-02 01:31] donalirl commented on #31446
+1

[2022-09-02 01:47] andrewserong commented on #43729
Oh, this is a tricky one, thanks for the ping @alexstine! I'd love to help out with this, but unfortunately I'll be a bit busy these next couple of weeks as my priority at the moment is backporting changes to the Layout support for the 6.1 beta. Once those are sorted, I'm happy to have a go at this one if no-one beats me to it. Since it is a bug, we should be able to continue to work on it past th

[2022-09-02 01:57] alexstine commented on #43729
Something tells me probably no one will get to it before you @andrewserong , but you never know. Even if this does not make 6.1, this will lay the ground work for future development I would like to see happen.

Thanks.

[2022-09-02 02:48] richtabor commented on #43095
100% agree, but in its current state this doesn’t work.

I’d expect not to have 2x padding applied to nested fullwidth blocks.

That’s how Twenty Twenty Two works, and how I’d expect any theme to work. Removing that CSS glob and opting into padding with TT2 would be a regression.

[2022-09-02 03:17] carolinan commented on #43405
If I understand correctly, the resulting styles from the variation.json is stored as a revision of the original wp_global_styles database entry, but the data does not include the variation file name, which we would need to determine which variation is in use.

[2022-09-02 03:47] #40850 closed, assigned to Mamaduka, amustaque97

[2022-09-02 04:33] aapatre commented on #42699
Thanks for the updates!

[2022-09-02 04:37] Mamaduka commented on #43793
Cc @tyxla

[2022-09-02 06:11] Gierand opened #43795 "Full width and overflow problem"
### Description

The situation occurs as we set the horizontal padding to 0px in the parent block (group block).

### Step-by-step reproduction instructions

1. Add a group block.
2. Add a image block to inner group block.
3. Set the group and image blocks to full width.
4. In the group block, set the padding dimensions to 0px (left, right).

### Screenshots, screen recording, code snippet

![scre

[2022-09-02 06:21] carolinan commented on #43788
Hi!
I did not understand the description. I am reading it as "If you add the block to the _index_,  the text still appears on the _archive_"  I mean, that would be correct, if you did not update the archive? I'm lost :)
Are you viewing the index or the taxonomy page?

[2022-09-02 06:36] carolinan commented on #43723
Then can the best practice for the front end be established and documented, including a supported browser list?
Is there one for internal use for WordPress.org already?
It needs to be easy for the developers to know what the expectations are.

[2022-09-02 06:47] afercia commented on #9361
Closing in favor of https://github.com/WordPress/gutenberg/issues/15335 (which comes from the WPCampus accessibility audit).

[2022-09-02 06:47] #9361 closed

[2022-09-02 06:55] afercia commented on #15335
Closed https://github.com/WordPress/gutenberg/issues/9361 which is an older issue but I'd prefer to keep this one open as it comes from the WPCampus accessibility audit.

To summarize:
- `shift+alt+h` on Windows opens the Firefox and Internet Explorer Help menu: the modal opens but focus is on the browser's menu. IE11 is no more relevant now, Firefox is still relevant.
- On macOS, when VoiceOver i

[2022-09-02 06:56] ingeniumed commented on #41547
Thanks for all the feedback everyone!

@alecgeatches and I worked on this issue, and we have a PR up to address this [here](https://github.com/WordPress/gutenberg/pull/43796). We have linked back to this issue within that PR, and also included a brief demo video of it in action.

[2022-09-02 06:59] tyxla commented on #43793
Thanks for reporting @jeremyfelt 🙌 .

For some odd reason, this never came up in my testing or in the review of the related PR - https://github.com/WordPress/gutenberg/pull/43479. I must have been testing it the wrong way.

Fix incoming shortly.

[2022-09-02 07:07] tyxla commented on #43793
Fix in #43797.

This will obviously need a point release after merging.

[2022-09-02 07:21] carolinan commented on #43621
I can produce the disappearing media and text block image if I open both the list view and the block sidebar, so that the window width is too low.
On the front though it breaks the "post meta" area in Twenty Twenty-Three:
![image](https://user-images.githubusercontent.com/7422055/188078428-1ac2cd5b-0e16-4df9-99cb-cc9096a785fe.png)

[2022-09-02 08:11] #43793 closed, assigned to tyxla

[2022-09-02 08:11] corentin-gautier commented on #42692
@jorgefilipecosta I ended up using the tools panel, but at the moment it looks weird (no top border)

Here's the UI for context :

<img width="288" alt="Screenshot 2022-09-02 at 10 08 26" src="https://user-images.githubusercontent.com/4660731/188092878-ed264774-2fb3-470d-98d8-aa14eee635fd.png">

[2022-09-02 09:12] jameskoster commented on #37752
Thanks for the effort there. I would love to see the PR merged, but I understand it may be a gnarly one.

For sure. We need further design exploration on how to handle raw styles. We can do this in https://github.com/WordPress/gutenberg/issues/43082.

[2022-09-02 09:43] jameskoster commented on #43082
I've thought about this a fair bit, and it seems to me that coming up with designs that will entertain the scenario outlined in the OP for _every single control_ is probably not the best way to allocate resources. It would be a large undertaking (for both design and development), and given that this issue is one that should disappear over time, a holistic solution feels like a better way to tackle

[2022-09-02 09:48] Thelmachido commented on #19707
Hi @epiqueras there hasn't been much movement on this in the last two years. I will close this, for now, please feel free to review and reopen the issue.

[2022-09-02 09:48] #19707 closed

[2022-09-02 09:48] jameskoster commented on #42894
Yeah it would be nice to eliminate any backwards compatibility headaches if we can 🙏

[2022-09-02 10:08] jasmussen commented on #43082
Thanks for the excellent thoughts outlined here 🙏

This feels like a big enough drawback to me. Especially because the indeterminate value as we've been able to test for padding in trunk for the past few weeks, hasn't felt substantially confusing. As more and more values are brought into theme.json, the problem _should_ also shrink, so I'm not sure the value of hiding by default outweighs the down

[2022-09-02 10:13] Thelmachido commented on #20159
@tellthemachines  there hasn't been much movement on this since 2022. I will close this for now, please feel free to circle back and reopen the issue.

[2022-09-02 10:13] #20159 closed

[2022-09-02 10:16] carolinan commented on #42322
Is the expected result that the image should stretch on the front, or to not stretch in the editor?
I think that if the front view changes, this will be an unexpected change for users?

[2022-09-02 10:18] carolinan commented on #42322
Ah, it is the cover, contain and fill settings that are not working on the front?

[2022-09-02 10:27] NekoJonez opened #43809 "Translation note requested for "View options""
https://translate.wordpress.org/projects/wp-plugins/gutenberg/stable/nl-be/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=14313136&filters%5Btranslation_id%5D=96600507

"View options"
Can this have a translator note, since is this:

A) A button to view the options OR
B) The options of the view/how things look OR
C) Something totally different.

[2022-09-02 10:56] KrunalKB opened #43812 "Securing (escaping) Output : escaping home_url() is missing in categories.php"
### Description

Trac ticket: https://core.trac.wordpress.org/ticket/56486

In the /wp-includes/blocks/categories.php,
escaping home_url() is missing. As per WordPress coding standards, whenever rendering any data should escape it properly.

### Step-by-step reproduction instructions

1. File path:  /wp-includes/blocks/categories.php
2. Line: 78.

### Screenshots, screen recording, code snippet

P

[2022-09-02 11:18] jorgefilipecosta commented on #42325
Hi @jameskoster,
So should we still try to expand the menu following this proposal:
![image](https://user-images.githubusercontent.com/11271197/188127471-c1466c63-fe66-4113-ad7b-a86922dc003d.png)

Or should we try to go directly to this approach https://jameskoster.design/2022/08/11/a-more-visual-template-creation-experience-in-the-wordpress-site-editor/?

I like the visual approach; nice work thi

[2022-09-02 11:34] jameskoster commented on #42325
They would come from patterns associated with the template you're creating. So the usefulness of the 'visual approach' mostly reveals itself when many such patterns exist. Otherwise there will only be two options to choose from: next in the hierarchy, or starting blank.

It might be a long wait if we want many patterns to exist before implementing the visual approach. If we were to implement it no

[2022-09-02 11:55] adamziel commented on #43751
@Mamaduka we can't rename it, as it is a part of the public API, but we can create a new one and deprecate the old one. How about `hasEntityRecordPermissions`?

[2022-09-02 12:11] Mamaduka commented on #43751
@adamziel, right. We should deprecate the `canUserEditEntityRecord` selector and introduce the new one.

[2022-09-02 12:18] t-hamano commented on #28011
The first sample code presented in this issue contains blocks (`core/post-hierarchical-terms`, `core/post-tags`, `core/query-loop`) that don't already exist in latest Gutenberg, so wo need to make the new test html code to reproduce this issue.

@carolinan
Could you please provide information on how to reproduce this issue in the latest Gutenberg?

[2022-09-02 12:35] mikachan opened #43815 "Consider providing spacing presets for height of spacer block"
## What problem does this address?

When adding a spacer block, the height can currently only be set using the manual height control:

<img width="288" alt="image" src="https://user-images.githubusercontent.com/1645628/188143264-59c67c76-934d-4d11-bc8c-b1e1ea796870.png">

## What is your proposed solution?

It would be nice if the height could also be set using any available spacing presets, simil

[2022-09-02 12:37] mikachan opened #43816 "Consider providing spacing presets for height of spacer block"
## What problem does this address?

When adding a spacer block, the height can currently only be set using the manual height control:

<img width="288" alt="image" src="https://user-images.githubusercontent.com/1645628/188143264-59c67c76-934d-4d11-bc8c-b1e1ea796870.png">

## What is your proposed solution?

It would be nice if the height could also be set using any available spacing presets, simil

[2022-09-02 12:55] richtabor commented on #43816
Agreed! No reason why it should adopt the same model imo.

[2022-09-02 12:55] richtabor commented on #43816
@mikachan This looks to be a duplicate of #43815 — accident?

[2022-09-02 13:00] mikachan commented on #43816
Ugh yes thanks, I think I hit a shortcut to save the issue before I was ready! 🙈

[2022-09-02 13:00] mikachan commented on #43815
Duplicate of https://github.com/WordPress/gutenberg/issues/43816 - published this one by mistake!

[2022-09-02 13:00] #43815 closed, assigned to nobody

[2022-09-02 13:24] bgardner commented on #43816
Huge fan of this—great suggestion @mikachan!

[2022-09-02 13:40] Thelmachido commented on #21488
@senadir no information was provided since this was marked as stale I’m going to go ahead and close out this issue. If anyone feels it should still be looked at, please feel free to circle back and reopen.

[2022-09-02 13:40] #21488 closed

[2022-09-02 13:42] haritpanchal opened #43819 "Search Block : Concatenation issue for increament operator."
### Description

Increment and decrement operators must be bracketed when used in string concatenation.

### Step-by-step reproduction instructions

1. File path: /wp-includes/blocks/search.php
2. Line: 30.

### Screenshots, screen recording, code snippet

Diff file

diff --git a/src/wp-includes/blocks/search.php b/src/wp-includes/blocks/search.php
index 94ec6fc4ac..b5153e46f6 100644
--- a/src/wp-

[2022-09-02 14:13] Mamaduka commented on #43809
Thanks for creating the issue, @NekoJonez.

I can only see one "View options" string in the codebase. The "Preview options" was changed to "View options" in #42331.

I'll quote the reasoning from the PR here:

Let me know if you have suggestions regarding the translator message, and I will be happy to push the changes.

[2022-09-02 14:16] NekoJonez commented on #43809
Does this appear on a button or as an option? Depending on that, I can give a suggestion on a translator note.
Also, I still don't really get what the string is for. It's a preview, while in technical terms it can't be a preview?

[2022-09-02 14:22] Mamaduka commented on #43809
The string is aria-label for post or site editor view options menu dropdown.

## Screenshot

![CleanShot 2022-09-02 at 18 19 44](https://user-images.githubusercontent.com/240569/188169621-f91f3071-79f5-4885-bcbf-653400132cf6.png)

[2022-09-02 14:26] NekoJonez commented on #43809
Then I'd say as translator note:

/* This is an aria-label for the view dropdown where you can choose if you want to preview on desktop, tablet or mobile. */

Or something among those lines. If I understood it correctly.

Edit: I'm an IT admin in a school and with the start of the new schoolyear, I'm a bit too busy to contribute rn... So, if somebody else wants to do this it would be a god sent.

[2022-09-02 14:28] Mamaduka commented on #43809
Thank you, @NekoJonez. This is already a contribution 🦸

@jameskoster, do you have any suggestions?

[2022-09-02 14:32] LukaszJaro commented on #15777
It does in fact work with `wp_after_insert_post` hook!

https://core.trac.wordpress.org/ticket/56501#comment:3

[2022-09-02 14:54] cb911nr opened #43820 "Custom HTML block - Extremely Slow when loading editor styles"
### Description

For some reason the HTML Block widget, is extremely slow to type into when you're loading editor styles, the more you load the even slower it gets.

You can kind of see this with the Twenty Twenty One theme, compared to the Twenty Twenty Two, and then when we use our theme which loads even more editor styles, it is extremely bogged down..

Any ideas on how to stop that from boggin

[2022-09-02 15:14] webaxones opened #43822 "Block styles slugs & custom styles future stability issue"
### Description

Block core style slugs are reserved. But we don't know in advance which slugs will be added in the future.
Example:
If I disable `outline` style on `core/button` block (both in PHP and in JS), and then try to register a custom style on the same block with the same slug `'core/button', 'outline'`, my style does not appear.
This action is not useful, but it proves that if I create,

[2022-09-02 15:56] t-hamano commented on #43819
I would like to close this issue as the points you reported have been fixed in part #41147.
Thank you for your contribution 👍

[2022-09-02 15:56] #43819 closed, assigned to nobody

[2022-09-02 16:07] bradhogan commented on #43788
Sorry for the confusion, here's a quick video that should help show the issue > https://soapbox.wistia.com/videos/ZQzchV12N6

[2022-09-02 16:08] t-hamano commented on #43732
The following issue may be helpful.

- #39114
- #38692

[2022-09-02 16:10] Thelmachido commented on #24097
Since this was marked as stale 24 days ago and there hasn't been activity since then I will close this issue for now, please feel free to re-open if you want to circle back on this @bfintal

[2022-09-02 16:10] #24097 closed

[2022-09-02 16:22] Thelmachido commented on #24714
There hasn't been any movement on this in a while,  I will close this issue for now. Please feel free to open this @strarsis if you want to circle back to this

[2022-09-02 16:22] #24714 closed

[2022-09-02 16:25] danielwrobert commented on #40808
Hi @oandregal! :wave:

I've dug into this a bit further and concluded that the class names for these blocks was not the root of the issue.

These blocks actually use both the `wc-block-featured-product` and the `wp-block-woocommerce-featured-product`.

You can read more on my findings [in this comment](https://github.com/woocommerce/woocommerce-blocks/pull/7000#:~:text=On%20this%20branch%2C%20with

[2022-09-02 16:29] iandunn commented on #43723
That would be perfect, I agree 💯 . That's probably beyond the scope of this issue, but I can see it maybe being a blocker for this.

w.org doesn't have any formal policy. Practically speaking, if a real user reports having problems, then we look into it, and if it seems reasonable we fix it. Fixing doesn't have to mean pixel-perfect, though, just functional and not bad-looking.

[2022-09-02 16:34] joedolson commented on #39293
I'd like to see a resolution to https://github.com/WordPress/gutenberg/issues/39266 as a requirement to move out of beta, as well. We need to have testing in place that maintains the stability of the accessibility of block output in order to consider this a production-ready system.

[2022-09-02 16:40] jeremyfelt commented on #43793
Works great, thanks for the quick fix @tyxla!

[2022-09-02 16:45] Mamaduka commented on #43820
The issue was recently fixed via #42026. The fix will be available in WP 6.1.

[2022-09-02 16:45] #43820 closed, assigned to nobody

[2022-09-02 17:01] Mamaduka commented on #9018
Hi, everyone

I'm no longer able to reproduce the issue.

## My testing steps

* Used example content (see below)
* Selected all blocks - CMD + A + A.
* Copied selected blocks - CMD + C
* Pasted in different editors using CMD + V.

Tested editors: Notes, TextEdit, VSCode, Gmail, Google Docs, Github's comment textarea.

## Example content

[code]

[2022-09-02 17:04] Mamaduka commented on #11742
Hi, @mrwweb

I think this issue got fixed in recent Gutenberg versions. I was testing https://github.com/WordPress/gutenberg/issues/9018#issuecomment-1235725075 and tried Paste as Plain text command as well. It worked without an issue.

[2022-09-02 17:34] Mamaduka commented on #26713
I think this is still an issue with List v2.

[2022-09-02 17:37] Thelmachido commented on #27701
There hasn't been much movement on this issue in a while and it has been stale for a few months. I’m going to go ahead and close out this issue since there hasn’t been any activity on it in If anyone feels it should still be looked at, please feel free to re-open the issue.

[2022-09-02 17:37] #27701 closed

[2022-09-02 18:23] Thelmachido commented on #28369
Since this is not specific to Gutenberg I will be adding the not applicable label.

[2022-09-02 18:32] skorasaurus commented on #43822
related: https://github.com/WordPress/gutenberg/issues/11763

[2022-09-02 18:43] annezazu commented on #15335
Thank you for summarizing and closing <3

[2022-09-02 18:45] annezazu commented on #43620
Noting that I've already moved this to "inactivate" for the[ feature projects page](https://make.wordpress.org/core/features/) and can always list at as closed too.

[2022-09-02 18:51] RahiDroid commented on #43676
Hi @luminuu 👋

Came here tracking down conversations from TT3. I think I might be able to help with this one. I have a work-in-progress PR ready with some base. I had a question though, should the overlay settings be applied to the placeholder too? Checkout the screencast in PR https://github.com/RahiDroid/gutenberg/pull/1

[2022-09-02 20:26] ricjcs commented on #43754
I also have the same problem using the Aquene theme. The spacing between list items is the same as the spacing between paragraphs.

![2022-09-02](https://user-images.githubusercontent.com/11923491/188230579-1d20a994-1c8a-4bc5-be63-9263b75bd168.jpg)

This is happening with several classic themes. Two more examples: Dynamico theme and Donovan theme.

[2022-09-02 22:25] annezazu opened #43829 "Transform menu preview cut off or showing scrollbars"
### Description

The preview for various transforms are either cut off or show a scrollbar randomly. This was found as [part of the sixteenth FSE Outreach Program's call for testing:](https://make.wordpress.org/test/2022/08/13/fse-program-testing-call-16-back-to-basics/#comment-2699)

### Step-by-step reproduction instructions

1. Add some text to a paragraph or list block. Ensure there are 4-5 li

[2022-09-02 22:27] tellthemachines commented on #43095
Sure, I'm looking at a fix for that now.

[2022-09-02 22:58] timnicholson commented on #19993
This has been rolled into core WordPress, but doesn't seem to work for the blog when the home page is set to a static page. i.e. If the blog itself is actually a page, the navigation menu doesn't get the current-menu-item class added to it.

[2022-09-03 00:44] richtabor commented on #43095
🙏🚀

[2022-09-03 01:54] bgardner commented on #43095
This would be lovely!

[2022-09-03 03:08] syhussaini commented on #43754
I just played into this ticket and wanted to check-in here for updates.
5522063-zen

[2022-09-03 06:20] glendaviesnz commented on #43816
Have added to the [Spacing presets tracking issue](https://github.com/WordPress/gutenberg/issues/39371).

<img width="284" alt="image" src="https://user-images.githubusercontent.com/1645628/188143481-bb5ddf1e-41d1-4a43-802b-64c34b1c2582.png">

@mikachan do you always see the white segment square displaying over the range control thumb? Does it disappear if you do a hard refresh? Seems to happen in

[2022-09-03 08:08] Mamaduka commented on #43054
I think the ["Multisite Latest Posts"](https://github.com/WordPress/wporg-mu-plugins/pull/236) block's `front.js` can be refactored with vanilla JS and remove all React dependencies. It's currently loading `ReactDOM`, `React`, `Moment`, and a few other Block Editor components.

[2022-09-03 10:28] luminuu commented on #43676
Thank you @RahiDroid for your work on this! I don't know if it's possible to set a default overlay via theme.json, I haven't tested it at the Cover block so far. If this would be possible it would be very nice to have it at the Post Featured Image block, so the design is reflected even if there are no images uploaded yet to the site. Makes sense to me.

[2022-09-03 11:40] florianbrinkmann opened #43830 "Block variation title not displayed in block sidebar"
### Description

I have a block with variations, and in the block inserter I see the correct title of the variation. But after adding a variation to the content, I get the block’s name instead of the variation name in the block sidebar.

It works for the social icons core block, but I cannot get it working for the variation for my custom block.

### Step-by-step reproduction instructions

I create

[2022-09-03 16:02] alanjacobmathew opened #43832 "Colour Consistency Issues when switching themes"
### Description

When switching b/w themes the custom colour given to certain blocks changes automatically in the post Editor. This was observed for Heading, Para, List. The issues is mainly for background colour for these fields.

Themes tested:
TT2
TT1-block
T21
T20
T19

Test were done only for post editor and not the FSE editor. For all the blocks, text colour was black, and background colour w

[2022-09-04 00:19] rku4er commented on #43760
I have a similar issue when trying to insert a template part that already exists. So it's not possible to have two same template parts in a page template. Interesting that in some cases the editor just replaces the existing template part with the message "This block has encountered an error and cannot be previewed." without freezing.

[2022-09-04 11:44] t-hamano commented on #43830
I think it is due to the missing `isActive` property.
For your repository, the following code would work:

[code]

[The reference for variations](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-variations/) includes the following statement:

[2022-09-04 11:45] t-hamano commented on #43830
At the same time, I convert from issue to **discussion** because I think this is not a Gutenberg problem.

[2022-09-04 11:46] #43830 closed, assigned to nobody

[2022-09-04 13:11] t-hamano opened #43836 "Block Styles: Preview is not displayed"
### Description

When I activate the latest Gutenberg, the preview of the block styles does not appear.
If the Gutenberg plugin is deactivated, it appears correctly.

### Step-by-step reproduction instructions

1. Inserts blocks with a block style. (tables, images, button, etc.)
2. When the Gutenberg plugin is activated, confirm that no preview is shown at all when you mouse over the block style b

[2022-09-04 14:18] t-hamano commented on #43829
About the cut-off, I think it is due to the `margin-top` of the block.
One solution is to set the margin of the root block to 0, as shown below.

[code]

https://user-images.githubusercontent.com/54422211/188318006-75849fef-7637-4b14-972f-59c261ddbccb.mp4

However, this approach will not work if the top margin is applied to a child block. (For example, the quote block may have a child paragraph bl

[2022-09-04 14:47] t-hamano commented on #43836
It might be an effect of #42454.

[2022-09-04 15:54] t-hamano commented on #43788
Hi @bradley2083,

Please try `"showPrefix":false`, not `"showPrefix":"false"`.
I think boolean values should not be enclosed in double-quotes.

[2022-09-04 16:16] t-hamano commented on #43795
I believe this is a theme-specific issue. This is not reproduced in Twenty Twenty or Twenty Twenty One.
In TT2, negative margins are used to represent full-width, but this seems to occur when full-width blocks are nested.

[2022-09-04 17:25] skorasaurus commented on #30415
Closing since multiple people aren't able to reproduce; please reopen if you're still experiencing this.

[2022-09-04 17:25] #30415 closed, assigned to nobody

[2022-09-04 22:44] aaronrobertshaw commented on #42692
@corentin-gautier, I know this doesn't solve the issue with the lack of a top border in your screenshot above but could you add the icon color control into the Color panel?

This is what the Social Links block does via `<InspectorControls __experimentalGroup="color">`. The `__experimentalGroup` defines which SlotFill in the inspector controls sidebar the children are rendered into. In this case, t

[2022-09-04 23:10] RahiDroid commented on #43676
Heyya @luminuu  👋

I did some testing and research, and it doesn't seem possible to set a default overlay color using `theme.json`. Regardless, I applied the overlay settings on the placeholder, too.

I have raised PR #43838 for this issue.

[2022-09-04 23:45] bradhogan commented on #43788
Tried both neither seems to work unfortunately.

On Sun, Sep 4, 2022 at 9:54 AM Aki Hamano ***@***.***> wrote:

[2022-09-04 23:45] spielhoelle commented on #39378
Found [this](https://wordpress.org/support/topic/customize-navigation-block-hamgurger-icon/) stackoverflow solution to replace the svg in a php filter:
[code]

[2022-09-05 00:48] carolinan commented on #43788
Yes it should be false without the quotes.
I am not able to reproduce this. WordPress 6.0.2, Gutenberg 14.0.2, no other plugins active, Chrome on mac, PHP 8.0.0, nginx.

Did you check if there are block validation errors in the Site Editor, and if the site editor shows the block correctly?
No other plugins that are filtering the title?

[2022-09-05 01:39] carolinan commented on #28011
I retested with Gutenberg 14.0.2. The original issue where the blocks inside the template part showed content from the wrong block in the query has been fixed.

Testing instructions:
1. Activate [Twenty Twenty-Three](https://github.com/WordPress/twentytwentythree/).
2. In the HTML files, **not the site editor,** copy the post meta template part inclusion from [single.html](https://github.com/WordP

[2022-09-05 01:47] MaximumRGB opened #43839 "Comments title block: quotes repeated twice if using russian language"
### Description

Comments title block generates a string like `One response to “Test post title”` when English language is chosen in general settings. But setting up and choosing Russian language makes generated comments title string looking like `Один комментарий на «“Test post title”»`. Two pairs of different qoutes are added. It happenes both in site editor and on website.

### Step-by-step rep

[2022-09-05 02:02] #42985 closed, assigned to nobody

[2022-09-05 02:08] carolinan commented on #43832
Can you provide more detailed, step by step instructions of how you set up the colors and also what your expectations where?

[2022-09-05 02:57] sharukhkhanajm commented on #43586
Hi, @ramonjd did `overflow:hidden` work for you?
It seems it is not working for me (please see the attached screenshot).
![image](https://user-images.githubusercontent.com/47321682/188352098-42935c83-e0cd-4a6b-a6b2-69a6c67bc25c.png)

[2022-09-05 03:47] carolinan commented on #42547
Retesting with with current Gutenberg trunk, this has been fixed.

[2022-09-05 03:47] #42547 closed, assigned to nobody

[2022-09-05 03:58] ramonjd commented on #43586
Thanks for testing again @sharukhkhanajm

Sorry, I'm not sure what I was looking at before, but yeah, `overflow:hidden` doesn't work for me. I think I made a mistake.

I wonder if it's possible to always force the caption to sit under the image. Here's what I'm seeing when I apply border radius to the image in the block editor (and not via theme.json)
<img width="449" alt="Screen Shot 2022-09-05 a

[2022-09-05 04:19] anuguywp commented on #43754
Just played into this ticket 5514682-zen and wanted to check-in here for updates.

[2022-09-05 04:33] carolinan commented on #41959
Retested with 14.0.2, and the patterns are listed now.

[2022-09-05 04:33] #41959 closed, assigned to nobody

[2022-09-05 04:44] carolinan commented on #41857
The missing link color support can now be re-added by adding [add_theme_support( 'appearance-tools' );](https://github.com/WordPress/gutenberg/pull/43337) to the theme.

[2022-09-05 04:48] #39990 closed, assigned to nobody

[2022-09-05 06:08] #43812 closed, assigned to t-hamano

[2022-09-05 06:36] sharukhkhanajm commented on #43586
Yes, that seems like a hack with current HTML.
I don't think we can change the HTML right? that would break the backward compatibility.

[2022-09-05 07:09] aaronrobertshaw commented on #43241
# Update: 5 September 2022

## Current Status

Work towards completing Phase 1, as outlined in this PR, is still ongoing. We have several contributors from the wider WordPress community assisting in these efforts, which is greatly appreciated 🙇

If there are particular block supports you wish to ensure land in time for 6.1, please feel free to jump in and create or review relevant PRs. If you subm

[2022-09-05 07:12] draganescu opened #43843 "Current menu item doesn't work with custom homepages"
The Navigation block's current menu item class doesn't seem to work for the blog when the home page is set to a static page. i.e. If the blog itself is actually a page, the navigation menu doesn't get the current-menu-item class added to it.

__Originally posted by @timnicholson in https://github.com/WordPress/gutenberg/issues/19993#issuecomment-1235961805__

[2022-09-05 07:12] aaronrobertshaw commented on #43242
An [overall update](https://github.com/WordPress/gutenberg/issues/43241#issuecomment-1236618575) on progress towards design tools consistency has been added to the primary tracking issue, including our goals for WordPress 6.1.

[2022-09-05 07:12] aaronrobertshaw commented on #43243
An [overall update](https://github.com/WordPress/gutenberg/issues/43241#issuecomment-1236618575) on progress towards design tools consistency has been added to the primary tracking issue, including our goals for WordPress 6.1.

[2022-09-05 07:13] aaronrobertshaw commented on #43245
An [overall update](https://github.com/WordPress/gutenberg/issues/43241#issuecomment-1236618575) on progress towards design tools consistency has been added to the primary tracking issue, including our goals for WordPress 6.1.

[2022-09-05 07:13] aaronrobertshaw commented on #43247
An [overall update](https://github.com/WordPress/gutenberg/issues/43241#issuecomment-1236618575) on progress towards design tools consistency has been added to the primary tracking issue, including our goals for WordPress 6.1.

[2022-09-05 07:13] aaronrobertshaw commented on #43248
An [overall update](https://github.com/WordPress/gutenberg/issues/43241#issuecomment-1236618575) on progress towards design tools consistency has been added to the primary tracking issue, including our goals for WordPress 6.1.

[2022-09-05 07:58] tellthemachines commented on #43731
Thanks for the detailed report @CreativeDive !

I've worked out the problem with `Test Case 1: Custom container block`: it's that inside `support` in `block.json` we instead need to set `"__experimentalLayout":  { "default": {"type": "constrained" }}`. I must have written it down wrong in the original PR, sorry about that!

The issue with "wide" and "full" not being available for child blocks does

[2022-09-05 08:09] CreativeDive commented on #43731
@tellthemachines thanks a lot. Nice to get `wide` and `full` blocks back again for our custom container blocks!

[2022-09-05 08:17] kevin940726 commented on #37930
I found out a couple of things that I think might be the dealbreakers for the "uploading custom icons" feature:

1. We have some CSS defined to override the icon’s color (`fill`), so it can show a white icon on a dark background, for instance. This means the icon should only be an svg file and rendered inline.
2. WordPress traditionally doesn’t allow uploading SVG files by default. We can bypass t

[2022-09-05 08:25] jasmussen commented on #37930
Just being able to choose between a couple of stock icons like the ones suggested, is a great first step worth doing.

Uploading a PNG file, even if it can't be re-colored, or even allowing pasting some custom SVG code, that could still be interesting. But it's nothing that need block the main feature.

[2022-09-05 08:26] rmorse commented on #42692
Hey @aaronrobertshaw  + @jorgefilipecosta

Thanks for your feedback on this.

My only concern is that sometimes it feels more natural to add a color selector in another panel.  I understand this breaks convention somewhat, but in certain scenarios I do (/did) think its better (such as when the color picker is not always enabled).

An example: I had a custom border panel, whereby a border of `0` wo

[2022-09-05 08:30] dennisheiden commented on #37930
There exist some plugins which bring SVG support to the media lib. IMO this is the way most people get SVGs into their WP sites. Just allow to pick a custom icon / image from media lib would solve the main need to replace the native icon. Coloring could be done either on graphic tool side or through custom css. Having a set of some preset icons with coloring options would be a nice plus for less e

[2022-09-05 08:31] ciampo commented on #43191
https://github.com/WordPress/gutenberg/pull/43845

[2022-09-05 08:48] aaronrobertshaw commented on #42692
Thanks for expanding on what you are trying to achieve @rmorse 👍

Similar [arguments](https://github.com/WordPress/gutenberg/pull/40084#issuecomment-1110675804) to those in your last comment were made previously on the PR I linked earlier for context (https://github.com/WordPress/gutenberg/pull/40084).

The block editor currently doesn't include border color controls within the Colors panel. There

[2022-09-05 08:50] ciampo commented on #43063
I couldn't reproduce this issue on latest `trunk` — going to close this issue (feel free to reopen if necessary)

[2022-09-05 08:50] #43063 closed, assigned to nobody

[2022-09-05 09:03] ciampo commented on #41739
This issue should have been fixed with the recent work on addressing popover regressions (https://github.com/WordPress/gutenberg/issues/42770).

Feel free to re-open in case the issue can still be replicated on latest `trunk`. Thank you!

[2022-09-05 09:07] ciampo commented on #41739
I actually missed [this comment](https://github.com/WordPress/gutenberg/issues/42770) — it looks like the issue that still needs to be fixed is that the link toolbar is cut off by the toolbar's edges. I'll look into it and report back

[2022-09-05 09:23] ciampo commented on #43678
It looks like popovers are already intended to render in a special slot when they are in the customizer:

https://github.com/WordPress/gutenberg/blob/de446ff2008c82b90110a329d9109a8e85bede3e/packages/customize-widgets/src/components/customize-widgets/index.js#L59-L68

When rendered in this ad-hoc wrapper, there are style overrides to enforce the `fixed` position:

https://github.com/WordPress/gute

[2022-09-05 09:25] corentin-gautier commented on #42692
@aaronrobertshaw I did try the group settings but as @rmorse said, it's very confusing to have it appear on another panel (mine is conditioned on the icon being an svg). Plus the color panel could be hidden at the time (by the scroll for example)

I'm actually not sure about this, having all the colors in the same panel could be good or bad given different scenarios

[2022-09-05 09:57] scruffian commented on #42330
I can confirm this is no longer happening for me.

[2022-09-05 09:57] #42330 closed, assigned to nobody

[2022-09-05 09:58] carolinan commented on #43843
This is solved in https://github.com/WordPress/gutenberg/pull/43800

[2022-09-05 09:59] mikachan commented on #43816
Thanks for adding this to the tracking issue!

Yes, it seems to have disappeared after a hard refresh (I've also just pulled the latest trunk, although I was only 6 commits behind).

<img width="272" alt="image" src="https://user-images.githubusercontent.com/1645628/188416017-b99821a1-4b97-4755-91b9-a19754050cd8.png">

I'm not sure if I've always seen it.. I'll keep my eye on it and see if it seem

[2022-09-05 10:02] aaronrobertshaw commented on #43595
Hi @aatanasovdev, I tested with both **Plain** and **Post Name** permalink structures however I only posted a single video.

Here's a video of the table of contents working for me on initial save with the **Post Name** permalink setting selected.

https://user-images.githubusercontent.com/60436221/188423437-af756b90-8925-4efd-8362-49b337a4beba.mp4

[2022-09-05 10:03] scruffian commented on #43620
I agree, let's remove.

[2022-09-05 10:18] carolinan commented on #38211
This has been fixed. I don't know the exact version it was fixed in, but when I retest with Gutenberg version 14.0.2, the size controls are present in the site editor, inside and outside of queries and inside and outside of template parts.

[2022-09-05 10:18] #38211 closed, assigned to nobody

[2022-09-05 10:48] jasmussen opened #43852 "Navigation Overlay customisation via Template Parts"
Closes https://github.com/WordPress/gutenberg/issues/39142 and https://github.com/WordPress/gutenberg/issues/38201

## Update

Following discussion in this Issue the aim is now to make it possible to define the overlay as a separate **template part**.

This will allow users to create a totally _custom_ overlay and associate that with a given Navigation block via the template part's unique identifi

[2022-09-05 10:48] jasmussen commented on #43852
CC: @WordPress/gutenberg-design @MaggieCabrera — is this feasible in short order, you think?

[2022-09-05 11:10] MaggieCabrera commented on #43852
How would you target the overlay with just theme.json, do you think? right now we have control over the padding of the whole block, not the overlay. I don't think it's easy enough to do in time for 6.1 I'm afraid.

[2022-09-05 11:28] #43191 closed, assigned to talldan, ciampo

[2022-09-05 11:38] #42979 closed, assigned to t-hamano

[2022-09-05 12:03] cbravobernal opened #43856 "Only allow a Classic Menu to be imported once (avoid duplication)"
## What problem does this address?

Right now, is quite easy to end up with duplications on Classic Menus. Each time you click on 'Import from Classic Menu', a new block navigation menu is created, with no indication of the origin of that menu.

![Screenshot 2022-09-05 at 13 56 40](https://user-images.githubusercontent.com/37012961/188443489-2e0ea5da-4359-404a-8427-5d2f2bc0fd60.jpg)

I did some ex

[2022-09-05 12:21] jasmussen commented on #43852
Thanks for looking. Good question, my initial instinct would be something like this:

[code]

However if the overlay itself becomes a separate block, that would change this. 🤔

[2022-09-05 12:55] alanjacobmathew commented on #43832
I never did anything more than just switching themes.

Steps:

- Install T22 and T20 themes.
- Activate T20
- Open post editor
- Add a list block
- insert content with red(FF0000) as text color and background color as black(000000)
- Switch theme to T22.

Now the background color for the list block in my case became #1A4548. I noticed it happening for `para` and `heading` too.

Now change the back

[2022-09-05 13:18] MaggieCabrera commented on #43852
yeah, I wonder about that as well, @getdave @scruffian @draganescu is that what's going to happen with the overlay in the future?

[2022-09-05 13:55] chrismademe commented on #25724
Any news on this? I've had this happen a few times on recent builds.

[2022-09-05 14:00] mateuswetah commented on #41124
Am I right to say that the new `add_theme_support( 'appearance-tools' );` introduced in [Gutenberg 14.0](https://make.wordpress.org/core/2022/09/01/whats-new-in-gutenberg-14-0-31-august/#appearance-tools-available-for-opt-in-via-theme-supports), solves a good portion of this by allowing us to have all those nice features without opting-in to the new containers structure?

[2022-09-05 14:10] carolinan commented on #43832
To confirm, are the colors you are selecting from the theme color palette, the WordPress default color palette, or custom from the color picker?

The theme color palettes are theme specific, the colors are intended to change when you switch themes. These colors are what gives each theme a unique look.

[2022-09-05 14:25] alanjacobmathew commented on #43832
![image](https://user-images.githubusercontent.com/33965848/188470884-c61685c9-87c3-467b-bdd6-fcd040d3662d.png)

Default color paletter

[2022-09-05 14:28] ockham commented on #43203
Fair enough 😄 But I'm afraid I'll have to put this on the backburner myself, since I need to focus on backporting code into Core, as the Feature Freeze is approaching fast 😅 Overall, all the attempted solutions to this issue had some rather complex implications (owed mostly to the different Comments block variants), so I'm afraid that it'll still take a while to get it right -- even with the extra

[2022-09-05 14:38] Mamaduka opened #43863 "Introduce 'isDeletingPost' selector for editor store"
It is a proposal to introduce a new `isDeletingPost` selector for the editor store, similar to `isSavingPost`.

## Why?

There's a long-standing issue where users on slow networks can click the "Move to trash" button multiple times, which results in failure notices. See #15755.

To fix this, the editor needs a way to signal the components that the post is being deleted.

Initially, I tried to refa

[2022-09-05 14:39] Mamaduka commented on #43863
@adamziel, @gziolo, @ntsekouras, @mcsf, I hope you don't mind the ping. I would appreciate your feedback on this proposal

[2022-09-05 14:44] Mamaduka commented on #15755
I created a proposal to introduce a new `isDeletingPost` selector, which should help us to fix this issue.

[2022-09-05 15:18] Mamaduka commented on #12484
@mrwweb, I'm no longer able to reproduce the issue.

I noticed that there were errors in the console caused by a new selector, but that will be fixed via #https://github.com/WordPress/gutenberg/pull/43864.

[2022-09-05 15:22] #43745 closed, assigned to t-hamano

[2022-09-05 15:37] namithj commented on #32644
+1

The is essential to designing layouts, the recent revert broke a few sites of mine.

[2022-09-05 15:48] #42850 closed, assigned to scruffian, cbravobernal

[2022-09-05 16:16] Humanify-nl opened #43865 "Using viewheight for blocks in patterns creates weird previews"
### Description

The Cover block is a good example of a block that makes good use of the viewheight unit.

In pattern previews (in the pattern sidebar, explorer or page creation modal) this creates a problem where things are _not_ scaled accordingly and even weirdly so. This used to be workable. But in the page creation previews, this problem becomes a bit more prevalent.

Page creation modal is a

[2022-09-05 16:57] lichtmetzger opened #43869 "FocalPointPicker: SVG images without a width attribute are not displayed"
### Description

If I use a SVG image with the FocalPointPicker component, it will be set to a width of 0 if no width is specified in the SVG itself.

I fixed this by overriding the generated CSS like this:
[code]

### Step-by-step reproduction instructions

1. Create a block with a MediaUpload control and set the media url as the (full width) background of the block.
2. Insert a FocalPointPicker

[2022-09-05 17:41] kathrynwp commented on #29429
@mcsf I'm going to go ahead and close this out, but if you think it should be reopened, feel free to add a comment with additional details and I’ll be glad to reopen it.

[2022-09-05 17:41] #29429 closed

[2022-09-05 17:46] kathrynwp commented on #29885
I'm going to go ahead and close this out, given the last two comments on the related Trac ticket linked above. If anyone is still experiencing issues with Reusable blocks, please follow the steps laid out by Jonathan here:

https://core.trac.wordpress.org/ticket/52790#comment:72

[2022-09-05 17:46] #29885 closed

[2022-09-05 17:49] llslim commented on #41324
Can confirm  this is not fix in 6.0.2 temporary  workaround until fix ..

// remove layout support styles until vertical align gets updated in wp 6.1
// SPECIFIC_BLOCK_NAME == core/group

function ussaac_remove_group_layout_support_flag($block_content,$block) {
	if (('SPECIFIC_BLOCK_NAME' === $block['blockName']) && is_page('YOUR PAGE')) {
	  remove_filter( 'render_block', 'wp_render_layout_suppor

[2022-09-05 17:53] kathrynwp commented on #30246
@youknowriad @aristath @gziolo I'm going to go ahead and close this out, but if it's still valid, feel free to add a comment with additional details and I’ll be glad to reopen it. Thanks!

[2022-09-05 17:55] kathrynwp commented on #30389
@SeanMcMillan Hi - just checking in one last time to see if the issue is still valid, otherwise I'm going to close it out. Thanks!

[2022-09-05 17:57] aristath commented on #30246
Perhaps I'm misunderstanding the purpose or I'm missing some context... But if this has not been tested and actually been resolved, then why close it?
Closing unresolved issues and marking them as resolved doesn't exactly make things easier when we're trying to figure out what bugs we need to address and why...

[2022-09-05 18:10] kathrynwp commented on #31536
@CreativeDive @vdwijngaert As this issue has been open for a while, I'm circling back to see if it's still occurring for either of you. If so, please indicate your WordPress version, and whether the issue happens with or without the latest version of Gutenberg (14.0.2), with no other plugins active. Thank you!

[2022-09-05 18:14] kathrynwp commented on #31862
@annezazu Hey there :) Circling back to see if this should this be kept open, or can it be closed? Thanks!

[2022-09-05 18:19] kathrynwp commented on #30246
@aristath I'm helping triage this repo, focussing on issues marked as Stale.

Further above, someone had asked "is this fixed with https://core.trac.wordpress.org/ticket/50328 being closed?" and @gziolo then mentioned that you would be the best person to confirm. If you're able to confirm, that would be really helpful.

I'll reopen this for now. Thanks!

[2022-09-05 18:21] kathrynwp commented on #30246
In addition, @ndiego mentioned that

So it seems like the issue is fixed, unless someone is able to confirm otherwise.

[2022-09-05 18:31] #42267 closed, assigned to nobody

[2022-09-05 19:10] dcalhoun opened #43873 "Unable to split List V2 block from middle of list"
## Description
When the cursor is placed at the end of a list item position in the middle of the list, it is not possibly to split the list block by pressing the <kbd>Return</kbd> key twice. This appears to have begun occurring with List V2 blocks enabled using inner blocks.

## Step-by-step reproduction instructions
1. Insert a _List_ block with the native editor.
1. Add at least three items to t

[2022-09-05 19:17] CreativeDive commented on #31536
@kathrynwp I don't think this auto-reply goes down well with the issue creators. Many users have bothered to report bugs, often checked on the surface or not even verified after months/years. And now many of these issues get a response like this. I think if anyone here should be testing these bugs, it's WordPress developers.

[2022-09-05 19:19] dcalhoun opened #43875 "Unable to redo text entry for List block"
## Description
When using undo and redo actions, it is not possible to add once removed list items back to the list.  If the _List_ block itself is not removed, then the bug does not occur.

## Step-by-step reproduction instructions
1. Insert a _List_ block with the native editor.
1. Add several list times.
1. Tap the "undo" button to remove all the items _and the list_.
1. Tap the "redo" button s

[2022-09-05 20:14] kathrynwp commented on #32635
Hey there @amir2mi, belated thanks for this report! I tried to replicate the issue but so far haven't been able to, so it looks like perhaps this issue has already been fixed.

Here are my testing steps:

1. Add a 2-column Columns block to a post
2. Add a paragraph to each column
3. Select the Columns block
4. Open the Padding controls on the Columns block and set 0 for all values
5. Publish the p

[2022-09-05 20:18] kathrynwp commented on #32648
@lordmatt @sippsolutions @netzgestaltung Hi there, just circling back to this and wondered if any of you would have a moment to provide the info @noisysocks [asked about above](https://github.com/WordPress/gutenberg/issues/32648#issuecomment-1029662258), to help move this along. Please let us know so we can keep this ticket going if it's still an issue for folks. Thanks!

[2022-09-05 20:35] kathrynwp commented on #32751
Still able to replicate, following the steps just above.

WordPress 6.0.1
No plugins active
Twenty Twenty-Two 1.2

[2022-09-05 20:40] annezazu commented on #40208
As part of the sixteenth call for testing for the FSE Outreach Program, [the following feedback was shared](https://make.wordpress.org/test/2022/08/13/fse-program-testing-call-16-back-to-basics/#comment-2671) that seems to capture a shared sentiment of those who participated:

Similar to the efforts to have consistent dimension controls, this feels like another high impact area to make more predic

[2022-09-05 21:02] kathrynwp commented on #31536
@CreativeDive  Thanks for your feedback and your patience, as it’s obvious that you’ve been waiting a long time for a response. For context, this isn’t an auto-response. It’s an effort to ensure that the currently open issues are still relevant to the project, so that those remain open have a greater chance of being addressed. When looking through the issue, it appeared that you were keen to help

[2022-09-05 21:16] annezazu opened #43877 "Modal Component: CSS Blur filter causing performance issues"
### Description

When trying to use any modal with the new blurred design using Gutenberg 14.0.2 and WordPress 6.0.2, there's noticeable lag. This happens in the Site Editor and Post Editor when doing things like: opening pattern explorer, opening template part inserter, and opening preferences. I can't tell if this is related to the new design or something else entirely so let me know if the titl

[2022-09-05 21:51] annezazu commented on #38557
This is still a problem with GB 14.0.2 and WP 6.0.2:

https://user-images.githubusercontent.com/26996883/188515240-4823afb6-26d8-40ba-baca-cb8bf5ff5c5f.mp4

Going to add this to the 6.1 board just in case it can be addressed.

[2022-09-05 21:58] annezazu commented on #32819
[This came up in the sixteenth call for testing for the FSE Outreach program](https://make.wordpress.org/test/2022/08/13/fse-program-testing-call-16-back-to-basics/#comment-2700) for using drag & drop along with the "move to" option. Noting here as the "move to" option is something to consider when trying to address this problem too:

Here's a video showing the current experience with GB 14.0.2 an

[2022-09-05 22:20] annezazu opened #43878 "Consider adding a way to unwrap a Columns block in transforms menu"
## What problem does this address?

After converting to a columns block, there's not a way to "unwrap" that change in the same way one can with a Group or Quote block. This feels a bit inconsistent and unintuitive. This came up as part of the [sixteenth call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2022/08/13/fse-program-testing-call-16-back-to-basics/#comment-270

[2022-09-05 22:31] annezazu opened #43879 "Code block: Add option to transform back to Paragraph"
## What problem does this address?

Currently, one can transform from a paragraph block to a code block but, in order to transform back to a paragaph block, one must first transform from code to pre-formatted and then an option for a paragraph block appears. This was found as part of the [sixteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/08/13/fse-progra

[2022-09-05 22:35] annezazu commented on #43879
The option to switch from Paragraph to Code was originally implemented here: https://github.com/WordPress/gutenberg/pull/38295 The reverse just wasn't done :)

[2022-09-05 22:56] annezazu opened #43881 "Group Block: randomly unable to successfully drag & drop in List View"
### Description

When trying to drag and drop a row block (variation of group) in List View, drag and drop randomly does not work causing the blocks selected to remain in their current location.  It's not clear what the pattern is but it is replicable.

This was originally found in the [sixteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/08/13/fse-program-

[2022-09-05 23:22] annezazu commented on #38556
I think this can be closed out based on the current experience in Gutenberg 14.0.2: the duotone icon itself is a triangle when not in use and there's a new option to clear the duotone filter in the options itself.

<img width="713" alt="Screen Shot 2022-09-05 at 4 22 04 PM" src="https://user-images.githubusercontent.com/26996883/188520093-065f139c-2b5e-40a8-98f5-089e63b6c6a8.png">

[2022-09-05 23:22] #38556 closed, assigned to nobody

[2022-09-05 23:31] annezazu opened #43882 "Consider adding a “revert to original” button after altering or cropping an image"
## What problem does this address?

The ability to quickly get back to the original state of an image after making alterations. [This came up in the sixteenth call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2022/08/13/fse-program-testing-call-16-back-to-basics/#comment-2705)

## What is your proposed solution?

In the same way there's an option to turn on/off a duot

[2022-09-06 01:52] noisysocks commented on #43440
Thanks for the nice list—that's a cool script! I've backported https://github.com/WordPress/gutenberg/pull/41648 (in [r54079](https://core.trac.wordpress.org/changeset/54079)) and checked it off the list in the description.

[2022-09-06 02:02] tellthemachines commented on #43731
Ok, so it turns out the `wide` and `full` issue is also a quirk of the current implementation. In order for the inner blocks to know what alignments they're supposed to have, we need to explicitly pass a layout object to `useInnerBlocksProps`. An example of how that works is in the [Group block edit function](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/group/edit.j

[2022-09-06 02:02] #42974 closed, assigned to nobody

[2022-09-06 04:01] carolinan commented on #43832
If you look carefully on the picture, you can see that the dark green color, which is selected, is in the theme palette, not the default.

[2022-09-06 04:52] ramonjd commented on #43440
I'm working on prepping [packages/style-engine](https://github.com/WordPress/gutenberg/tree/trunk/packages/style-engine) for inclusion in core.

WIP here: https://github.com/WordPress/wordpress-develop/pull/3199

This will unblock most of the lib/block-supports migrations given that they're using style engine methods.

It requires https://core.trac.wordpress.org/ticket/55966, otherwise I'll need t

[2022-09-06 04:59] #42955 closed, assigned to andrewserong

[2022-09-06 05:25] carolinan commented on #43203
I think that is the right priority :)
I wonder if this issue should be closed and discussions can continue in the trac issue  and PR's for Twenty Twenty-Two?

[2022-09-06 05:35] annezazu commented on #43203
Great point. I'll close this out. Thank you all for discussing this!

[2022-09-06 05:35] #43203 closed, assigned to nobody

[2022-09-06 05:52] noisysocks commented on #36735
Ah, that's a good point. It seems to me that _Decoration_ should be a group of non mutually exclusive buttons and _Letter case_ should be a radio with _None_ as an option. Does that sound right to everyone? 😀

[2022-09-06 06:01] aristath commented on #30246
Tested and confirmed this has been resolved.
Thank you @kathrynwp 👍

[2022-09-06 06:01] #30246 closed, assigned to nobody

[2022-09-06 06:09] #41649 closed, assigned to aristath

[2022-09-06 06:10] carolinan commented on #32644
This might be possible by using "spacing presets" in theme.json. I have not tested it.

[2022-09-06 06:17] CreativeDive commented on #43731
@tellthemachines @carolinan @annezazu

I totally disagree with this decision. We are not all React developers and a large number of WordPress users depend on your decisions. You took away "`wide`" and "`full`" for inner blocks with the introduction of `theme.json`. We would like to have it back finally. Because we currently can't change our inner blocks to "`wide`" or "`full`".

Is this really a d

[2022-09-06 06:24] carolinan commented on #43852
Perhaps it would be something that we either
-  Select to "edit in isolation" like we edit template parts.
-  Edit in place, but hide until selected (like WooCommerce empty and filled carts).

I think the solution could be used in other places like for the "no results" block.

[2022-09-06 06:25] #43524 closed, assigned to jasmussen

[2022-09-06 06:38] jasmussen commented on #43852
I like the idea that we can edit in isolation, and I previously explored a mockup to that effect:

<img width="3000" alt="Editing navigation in isolation" src="https://user-images.githubusercontent.com/1204802/188563796-c7d09a4c-843c-4a43-b8e2-892a2b1e2ae0.png">

I think that mockup may be posted on one of the open issues. The hope with this issue, however, was finding a solution that could live i

[2022-09-06 06:42] MisterVector opened #43889 "Converting classic block with shortcodes in it will create a shortcode block instead of inlining them"
## What problem does this address?
When converting a classic block to Gutenberg blocks that contains tags (such as [note]), they are converted into shortcode blocks instead of being inlined into paragraph blocks

## What is your proposed solution?
I don't know if this should be a setting, but perhaps the solution should just be to not create a shortcode block and just inline the tags into a paragr

[2022-09-06 06:53] jasmussen commented on #36735
As a starting point, I'd love to just see an explicit _none_ button at the start, perhaps just using the `reset` icon. I would also think that to be _plenty_ for the foreseeable future, as the use case of multiple decorations is niche to the point that we can revisit that one if/when a need actually arises.

[2022-09-06 07:08] scruffian commented on #42927
This one can be closed now.

[2022-09-06 07:08] #42927 closed, assigned to nobody

[2022-09-06 07:10] #43618 closed, assigned to scruffian

[2022-09-06 07:37] jasmussen commented on #43882
Good ticket, thanks for the ping!

When an image gets cropped, a copy of the original image gets saved. I.e. `my-photo.jpg` → `my-photo-edited.jpg`. Which means, beyond pressing "undo" in a single editing session, if we were to build a _revert to original_ button, presumably all we'd have to go on to know an image had been edited, is the `-edited` suffix from the filename. If we can contextually s

[2022-09-06 07:38] scruffian commented on #43852
The issue I see with introducing an "overlay" property in the navigation block is that it would be specific to that block. At present all the properties we have are valid for all blocks. IMO the simplest approach here is simply to make the overlay a different block.

[2022-09-06 07:50] talldan commented on #43856
Another possibility is to make Classic Menu conversion much less prominent. Possibly even making it part of the Manage menus screen or a separate modal. They maybe have too much prominence, when in practice they're not something that can be used until they're converted into navigation menus.

[2022-09-06 07:56] scruffian commented on #42602
This was closed by  https://github.com/WordPress/gutenberg/pull/42987

[2022-09-06 07:56] #42602 closed, assigned to javierarce, draganescu

[2022-09-06 07:57] scruffian commented on #42799
This is complete.

[2022-09-06 07:57] #42799 closed, assigned to nobody

[2022-09-06 08:26] javierarce commented on #43856
That would be really nice, the design above was the quickest solution to implement without having to add any extra interface, just some labels, and icons.

If we went with a module-based solution, we could have one item that said "Import classic menus" (that obviously only appeared if you had one or more) and would simply show you a list of menus to import (ideally on batch).

Let me know if you w

[2022-09-06 09:28] getdave opened #43897 "Unlinking Submenu block causes empty `href` attribute on front of site"
### Description

Unlinking Submenu block causes empty `href` attribute on front of site.

### Step-by-step reproduction instructions

1. Add Nav block.
2. Add Submenu with a link and add one item inside the submenu.
3. Click on Submenu block and click the link icon.
4. Remove the link from the block using the "Unlink" icon in the Link UI.
5. Publish post.
6. Switch to front of site and see empty `

[2022-09-06 09:36] #43260 closed, assigned to carolinan

[2022-09-06 09:36] #43843 closed, assigned to nobody

[2022-09-06 09:45] Mamaduka commented on #43879
Happy to handle this one.

[2022-09-06 10:09] draganescu commented on #38169
I think  #42987 solved this by incorporating https://github.com/WordPress/gutenberg/pull/42956 but I am not confident enough to close the issue.

[2022-09-06 10:20] cbravobernal commented on #38169
Tested and is working fine!

[2022-09-06 10:44] draganescu commented on #30007
I think we can close this as the stand alone navigation editor work has been replaced with incoming work related to a focused mode (template part like) editor for navigation blocks.

[2022-09-06 10:44] #30007 closed, assigned to getdave

[2022-09-06 10:50] glagonikas opened #43900 "Custom date range broken in Analytics"
### Description

When Gutenberg 14.0.2 and Woocommerce 6.8.2 are enabled, the "custom date" on the Analytics section (/wp-admin/admin.php?page=wc-admin&path=%2Fanalytics%2Frevenue) appears to be broken.

Think that's caused because of https://github.com/WordPress/gutenberg/blob/v14.0.2/lib/client-assets.php#L282-L288 which overwrites wp-components and the CSS is not loaded.

Disabling Gutenberg se

[2022-09-06 10:56] #43836 closed, assigned to ramonjd, t-hamano

[2022-09-06 10:57] draganescu opened #43901 "Fix click management when navigation selector is busy"
[We can] use `disabled`, but `__experimentalIsFocusable` needs to be specified to make the `Button` component output `aria-disabled` instead of the normal `disabled` attribute and remain focused.

`isBusy` can be used to show a loading indicator, but it depends on whether that fits the design. Here's some pseudocode:

[code]

edit: `Button` does also implicitly prevent clicks when configured this

[2022-09-06 10:57] ockham commented on #43440
I've [asked in #core](https://wordpress.slack.com/archives/C02RQBWTW/p1662461774015659) for someone to merge 55966's patch 🙂

[2022-09-06 11:11] carolinan commented on #43897
Hi,
What is the expected result? I mean, what change needs to be implemented, should the whole link be removed, and only text displayed?

[2022-09-06 11:16] yashitamittal11 commented on #42256
Closing this issue as it is theme specific.

[2022-09-06 11:16] #42256 closed, assigned to yashitamittal11

[2022-09-06 11:34] bph commented on #42542
@t-hamano It would be great if you could take on this new block.
I could see it to be a dynamic block, too, reading the value from  post meta.
The Time-to-read information is calculated in the [time-to-read component](
https://github.com/WordPress/gutenberg/blob/bc071fcc0d802e06e92e309154093a2adc2cc65a/packages/editor/src/components/time-to-read/index.js)
Your block should be able to use the "minu

[2022-09-06 11:39] t-hamano commented on #43724
I would like to address this problem, but first I think it would be a good idea to rewrite the test from Enzyme to React Testing Library to clarify the current specifications.
Does this make sense?

[2022-09-06 11:39] getdave commented on #43897
I don't have the answer to that at this stage. An empty `href` is invalid so we'd need to decide on the most appropriate markup and / or behaviour.

[2022-09-06 12:30] ciampo commented on #43724
That would _always_ be a good idea, as we're in the process of migrating from Enzyme to RTL for the whole repo :)

[2022-09-06 12:32] #38169 closed, assigned to talldan, alexstine

[2022-09-06 12:48] carolinan opened #43907 "Styles sidebar: Comment pagination inner blocks have the same button text as Query pagination inner blocks"
### Description

In the global styles sidebar in the site editor, the inner blocks of the comment pagination and the query pagination have the same button text, so it is difficult to tell them apart.
For example, both the query pagination next and comment pagination next have the button text "Next Page".

### Step-by-step reproduction instructions

1. Activate a theme with support for the site edi

[2022-09-06 12:49] cbravobernal commented on #43856
As we are close to the feature freeze, I guess this issue won't be ready for the next release. I don't have a strong opinion here so if you prefer to invest more time in UX considering better approaches feel free. 😄

[2022-09-06 13:02] ockham commented on #43440
As the Feature Freeze is only two weeks away, I'll start pinging some folks who I know have good domain knowledge of certain areas and can help backporting some files 😊

@ntsekouras -- Could you file a backport PR for the changes you made to [`block-template-utils.php`](https://github.com/WordPress/gutenberg/commits/trunk/lib/compat/wordpress-6.1/block-template-utils.php) and [`class-gutenberg-res

[2022-09-06 13:08] carolinan commented on #42425
Should this implementation be moved to the blockswitcher component?

[2022-09-06 13:17] Mamaduka commented on #42425
@carolinan, that's correct. Primarily in `BlockSwitcherDropdownMenu` component.

[2022-09-06 13:25] ockham commented on #43440
@jorgefilipecosta -- Could you maybe file a backport PR for https://github.com/WordPress/gutenberg/pull/41791 (affecting [block-patterns.php](https://github.com/WordPress/gutenberg/commits/trunk/lib/compat/wordpress-6.1/block-patterns.php), [class-gutenberg-rest-block-patterns-controller.php](https://github.com/WordPress/gutenberg/commits/trunk/lib/compat/wordpress-6.1/class-gutenberg-rest-block-p

[2022-09-06 13:39] jorgefilipecosta commented on #42894
PR to fix this issue available at https://github.com/WordPress/gutenberg/pull/43862.

[2022-09-06 14:00] jasmussen opened #43914 "Global Styles: Switching styles takes a while on the frontend"
Switching to an alternate style variation, inside the editor, is instant. Click one of the tiles and the visual is shown immediately:

<img width="367" alt="Screenshot 2022-09-06 at 15 57 52" src="https://user-images.githubusercontent.com/1204802/188654411-8155082d-7574-4bee-ab38-16f9e3201ade.png">

If you then save the changes and preview the site frontend, however, the styles take a while to set

[2022-09-06 14:05] Mamaduka commented on #31551
I'm closing this issue since the navigation screen is no longer actively developed.

Related: https://github.com/WordPress/gutenberg/issues/43620.

[2022-09-06 14:05] #31551 closed, assigned to nobody

[2022-09-06 14:12] ndiego commented on #34722
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg and WordPress. Therefore, I am going to close this issue. If anyone can replicate it in the future, please feel free to reopen this issue with additional information.

[2022-09-06 14:12] #34722 closed, assigned to nobody

[2022-09-06 14:16] Mamaduka commented on #34845
Hi, @brezocordero

This issue was reviewed in today's Editor Bug Scrub. As @mirka mentioned, it would be really helpful if you could provide a code snippet to reproduce the warning.

[2022-09-06 14:24] jorgefilipecosta commented on #42994
Hi @ciampo,

Is this issue specific to the gradient picker, or is the site editor that is taking some time to update and reflect the new prop? With CPU throttling updating a color by dragging on the color picker and updating a gradient is not very different.

Yes, I will try to find some availability to do some enhancements here.

[2022-09-06 14:32] ndiego commented on #35702
Hi @Nemzag, this issue came up in today's Editor Bug Scrub. We are a bit unclear about what the issue is. Are you referring to a bug related to the change in the way you can highlight the text and background: https://github.com/WordPress/gutenberg/pull/34680? Any more information you can provide would be greatly appreciated.

[2022-09-06 14:40] #17262 closed

[2022-09-06 14:40] #37912 closed, assigned to t-hamano

[2022-09-06 14:42] ndiego commented on #36452
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using core blocks with inner blocks, like group, cover, etc. Would you be able to retest using the latest versions of Gutenberg and WordPress and see if this is still an issue?

[2022-09-06 14:47] Mamaduka commented on #36692
The solution mentioned by @ndiego is now documented - https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#what-is-blockgap-and-how-can-i-use-it.

I'm going to close the issue.

[2022-09-06 14:47] #36692 closed, assigned to nobody

[2022-09-06 15:00] ndiego commented on #36731
This issue was reviewed in today's Editor Bug Scrub. In researching this more, it appears to be the expected result. Elements are "inside" of a block. The Post Title block does not _contain_ `h1` elements, it is an `h1` itself. Therefore the styling in theme.json does not apply. The wording in the docs is a bit convoluted, but it's discussed here: https://developer.wordpress.org/block-editor/how-t

[2022-09-06 15:00] #36731 closed, assigned to nobody

[2022-09-06 15:10] mp205 commented on #8869
how is this still not resolved

[2022-09-06 15:22] thomasdebruin commented on #7845
Thnx @prathamesh-gharat saved me some time!
In my case I also wanted to restrict blocks on the widget areas.
Took me some time to find out i had to use  ''core/widget-area''.

For me it seems also related to this issue:
#28517

The Gutenberg editor is really nice, but it still misses some solid functionality. When you build a custom theme where you want to control the editing experience, offer onl

[2022-09-06 15:36] t-hamano commented on #43724
Thank you! I'll work on refactoring the test first.

[2022-09-06 15:37] oandregal commented on #40808
Thanks for sharing your findings @danielwrobert

I've reopened. In [my testing](https://github.com/WordPress/gutenberg/issues/40808#issuecomment-1225975167), the styles for the block didn't work in 5.9 or 6.0 (no Gutenberg installed).

@ajlende @scruffian would you have some time to take a look at this?

[2022-09-06 15:39] Mamaduka commented on #27835
@annezazu, can we add this to the 6.1 board? I might have a possible solution and will try to push PR this week.

[2022-09-06 15:56] jasmussen commented on #43914
Just to confirm, this is running latest trunk Gutenberg and TT3.

[2022-09-06 16:14] jorgefilipecosta commented on #43780
Thank you for reporting this issue @jameskoster a PR with the fix is available at https://github.com/WordPress/gutenberg/pull/43918.

[2022-09-06 16:24] skorasaurus commented on #40377
Thanks for opening, a couple questions:

How many categories and tags do you have on your website?

Are you still experiencing this with the latest version of WordPress and have you installed and activated the newest version of Gutenberg that is available through [the Gutenberg plugin](https://wordpress.org/plugins/gutenberg/)?

Possibly related to https://github.com/WordPress/gutenberg/issues/101

[2022-09-06 16:28] Mamaduka commented on #43914
Probably a duplicate of #43395, or the cause might be the same.

[2022-09-06 16:41] jorgefilipecosta commented on #43440
Sure 👍

[2022-09-06 16:51] ockham commented on #43440
@oandregal -- Could you maybe file a backport PR for #25892 (Quote v2)? 🙏

[2022-09-06 17:29] ciampo commented on #42994
I believe it's more about the site taking a long time to update to reflect the changes in the new prop.

[2022-09-06 18:03] jasmussen commented on #43914
Excellent, thank you!

Closing in favor of #43395.

[2022-09-06 18:11] annezazu commented on #27835
Fantastic. Adding now. Thank you @Mamaduka. @ghm-jpeterman - it would be great to help test the PR George comes up with when the time comes to help move the fix forward.

[2022-09-06 18:11] dsas opened #43921 "Documentation: `spacing.blockGap` explanation is inadequate for custom blocks"
### Description

Part of https://github.com/WordPress/gutenberg/issues/41236.

`spacing.blockGap` is mentioned in the [supports section of the block API reference](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-supports/#spacing).

It says that setting the property to true is enough to enable the functionality if the theme supports it. This wasn't the case for me. Lo

[2022-09-06 18:16] ghm-jpeterman commented on #27835
@annezazu, Sounds good. Thank you @Mamaduka!

[2022-09-06 18:51] annezazu commented on #40116
With the implementation of bundled Header and Footer patterns https://github.com/WordPress/gutenberg/pull/43157, this issue becomes more important to address IMO. For example, right now the Header patterns are buried beneath the other patterns categorized also as "header" as pointed out by @beafialho in the [original PR](https://github.com/WordPress/gutenberg/pull/43157#issuecomment-1216502943):

[2022-09-06 19:11] SeanMcMillan commented on #30389
I've been pulled away from my Wordpress project for a while, but I expect to be back on it next week and I'll see if it still happens in 6.0.1

[2022-09-06 19:21] kathrynwp commented on #30389
@SeanMcMillan Thank you so much, looking forward to hearing whether you can replicate it, when you have a chance!

[2022-09-06 19:22] kathrynwp commented on #32987
@rufus87 I'm going to go ahead and close this out, but if you are still experiencing the original issue with the latest version of WP, please do feel free to add a comment with additional details and I’ll be glad to reopen it.

[2022-09-06 19:22] #32987 closed, assigned to nobody

[2022-09-06 19:29] kathrynwp commented on #33365
Pinging @WordPress/documentation in case someone would be able to help get these fixes made, if possible!

[2022-09-06 19:41] SGr33n opened #43922 "is_main_query is returning true inside query loop blocks."
### Description

The is_main_query() conditional function should return false if running inside an external query loop block.

### Step-by-step reproduction instructions

Add the following code to your function, then add a query block to your theme outside the post content.

[code]

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please conf

[2022-09-06 19:42] kathrynwp commented on #33422
I'm still able to replicate this with WordPress 6.0.1 and no plugins active.

@johngodley @gziolo Any chance of a PR for this one? Should it be kept open? Thanks!

[2022-09-06 19:45] bph opened #43923 "List v2: New keyboard shortcut "[[" doesn't work with new list block"
### Description

In a list I tried to use the "[[" shortcut to create a link from the site. It didn't work in a list item block.
Below you find a short video when [[ works and when it doesn't.

It worked with List Block V1, though.

### Step-by-step reproduction instructions

- Create post
- Add a list block
- try to add an internal link with by typing [[

### Screenshots, screen recording, code s

[2022-09-06 19:54] kathrynwp commented on #33791
I'm still able to replicate this with WP 6.0.1 and Twenty Twenty-Two 1.2.

I still see this class on the block:

[code]

Just noting that I had to add an extra set of curly braces for the padding to take effect in the editor:

[code]

Going to leave this one open for now

[2022-09-06 20:15] matiasbenedetto opened #43924 "core/post-content settings in the theme.json is causing broken layout styles and invalid CSS"
### Description

Using `core/post-content` settings in the `theme.json` file of a theme, [as in TT3](https://github.com/WordPress/twentytwentythree/blob/29150922040eb2b7e6aed00e3d1bb14459e41997/theme.json#L322-L330), in theme.json breaks the layout styles rendered.

### Step-by-step reproduction instructions

1. Activate any theme using settings for `core/post-content` in `theme.json` as [TT3](htt

[2022-09-06 20:54] carlomanf commented on #38555
It looks like this was fixed by https://github.com/WordPress/wordpress-develop/pull/3157

[2022-09-06 20:54] #38555 closed, assigned to nobody

[2022-09-06 21:37] cbirdsong commented on #43822
Also related:
- https://github.com/WordPress/gutenberg/issues/42275

[2022-09-06 21:41] cbirdsong commented on #43832
This seems like it's possibly related to the issues discussed in #38998 and #39372?

[2022-09-06 22:27] ironprogrammer commented on #43877
Thanks for the report @annezazu!

I compared Gutenberg 13.6 to 14.0.2, and agree there is a noticeable repaint lag for some operations that involve activating/deactivating the modal with background blur effect.

## Test Report

### Environment
- OS: macOS 12.5.1
- Browser: Safari 15.6.1
- Browser: Google Chrome 104.0.5112.101
- Server: nginx/1.23.1
- PHP: 7.4.30
- WordPress: 6.0.3-alpha-54035-src

[2022-09-06 22:50] bradhogan commented on #43788
Seems to be working.  Not sure what the issue was (maybe Local caching).  Thanks!

[2022-09-06 22:50] #43788 closed, assigned to nobody

[2022-09-06 23:32] ecotechie commented on #26385
Is there a technical reason why this is not allowed? Seems like moving a button into a columns should not need a buttons parent block.

[2022-09-06 23:42] michalczaplinski commented on #42229
Based on all the concerns in the current thread I would not feel comfortable including the Table of Contents block in the 6.1 in its current form.

It seems that we'd at least need to complete the following:
- https://github.com/WordPress/gutenberg/issues/41031 - this is just a bugfix but an annoying one it seems.
- https://github.com/WordPress/gutenberg/issues/41173 - adding support for this like

[2022-09-07 00:26] helpmeurgent commented on #41994
but I want to like before external image should attach like WordPress 5.9. i have an images website now i copy all image link one by one and put links paste image URL it takes huge time, currently I'm using my site WordPress 5.9 for this issue not updated to WordPress latest version

[2022-09-07 00:31] colorful-tones commented on #43554
I have noticed the lag in loading, and it is certainly long enough that it warrants attention. However, I have not experienced it not loading altogether.

[2022-09-07 01:22] annezazu opened #43926 "Site Editor: Consider renaming Appearance > Editor"
## What problem does this address?

As the Site Editor has evolved and is going to continue to, including timing when to remove the beta label https://github.com/WordPress/gutenberg/issues/39293 and exploring how to have a better entry point https://github.com/WordPress/gutenberg/issues/36667#issuecomment-1228468407, questions have come up around whether the current labeling still makes sense to u

[2022-09-07 01:25] annezazu commented on #39293
Thank you both for sharing additional issues here. At this point, I want to provide an update that removing the beta label is not slated for 6.1 with feature freeze two weeks away. When work begins for evaluating this same discussion for 6.2, the above issues can be considered at the same time based on the current experience and work.

[2022-09-07 02:07] tareiking commented on #14413
Bump. This is a good example where useful UI patterns have been built, but are not extendable - therefore we don't have a standard approach for developers to follow.

[2022-09-07 02:32] carolinan commented on #43926
I don't see a consensus or resolution here: https://make.wordpress.org/core/2022/07/27/giving-fse-a-more-user-friendly-name/

Both the link text and the title of the editor view is "Editor". I did not understand what is proposed to change - it doesn't say "Site editor".

[2022-09-07 02:36] bhubbard commented on #42828
Any suggestions on how to move this forward?

[2022-09-07 02:48] talldan commented on #43877
I'm not noticing any particularly bad lag opening any of those modals (tested Firefox, Safari, Brave), but my machine is also not lacking for performance. 😬

I did notice closing the 'Choose a Template Part' modal was very laggy, and completely froze a couple of times.

[2022-09-07 03:05] annezazu commented on #43926
Yes! That discussion ties in as well which is why I put "site editor" in quotes as I'm trying to name the specific feature rather than just saying "Editor". Perhaps that's confusing though based on your reaction. Updated the title in case that helps :) Let me know if it doesn't.

To be clear, this is an issue about renaming the label under Appearance that opens what is currently thought of as the

[2022-09-07 05:05] glendaviesnz commented on #43877
I didn't notice a performance issue here either, but on a brand new laptop. CSS blur can affect performance, but I wouldn't have thought so in this instance, is more in cases where you are doing things that try and animate and blur. @annezazu are you able to [try this PR](https://github.com/WordPress/gutenberg/pull/43929) with the blur removed and see if you notice any difference in performance, w

[2022-09-07 05:21] talldan commented on #43737
Fixed by #43798

[2022-09-07 05:21] #43737 closed, assigned to nobody

[2022-09-07 05:37] talldan commented on #43881
I think it happens whenever you drop on the empty space after the list of blocks. The same happens with normal block drag and drop, and list view uses most of the same code - https://github.com/WordPress/gutenberg/issues/32438

edit: oh yeah, I see it was mentioned in that issue.

[2022-09-07 05:50] Mamaduka commented on #27835
PR is ready for testing #43930.

[2022-09-07 05:55] madhusudhand opened #43931 "Navigation: root padding takes precedence over navigation block padding"
### Description

Root padding gains higher specificity over the padding set for `core/navigation` block.
Because of this it is not possible to override the padding of navigation block.

Similar issue also with margin.

### Step-by-step reproduction instructions

Set a root padding in `theme.json`

[code]

Now set a different padding for navigation block.

[code]

Observe that navigation padding st

[2022-09-07 05:59] annezazu commented on #43877
Just tried it and the lag is gone when I use that PR.

https://user-images.githubusercontent.com/26996883/188799895-bb9f699c-9196-4078-83f8-e16e07c408bf.mov

On the same site, if I use 14.0.2, the lag returns. Seems we have our answer :)

[2022-09-07 06:12] ramonjd commented on #42828
Isn't this already possible with global style variations?

See: https://fullsiteediting.com/lessons/global-style-variations/

Given that light/dark modes will be very theme-specific, it makes sense that a theme could have 2 x global style variations to cater.

[2022-09-07 06:12] github-actions[bot] opened #43932 "[Flaky Test] can drag and drop to the top of a block list"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can drag and drop to the top of a block list

## Test path
`/test/e2e/specs/editor/various/draggable-blocks.spec.js`

## Errors

<time datetime="2022-09-07T06:12:46.801Z"><code>[2022-09-07T06:12:46.801Z]</code></time> Test passed after 1 failed attempt on <a href="https://gi

[2022-09-07 06:15] talldan commented on #43440
I'm taking a look at persisted preferences.

[2022-09-07 07:55] Azragh commented on #39868
Yup. Just was looking for a way to do this but doesn't seem possible. There are so many country or language specific social networks and platforms, its kinda sad that this block only can be used for the big ones. In more than half of the websites I develop, the client needs a Xing icon - but since the platform is only used in German-speaking countries, I still have to resort to custom HTML (and my

[2022-09-07 07:55] MaggieCabrera commented on #43440
I'm working on backporting the changes and additions to the Elements API [here](https://github.com/WordPress/wordpress-develop/pull/3206). The PR has a list of the PRs I'm backporting, the `class-wp-theme-json-6-1.php` file has other changes unrelated to elements that I won't be adding to said PR, this is the list of the PRs it's NOT going to include:

https://github.com/WordPress/gutenberg/pull/4

[2022-09-07 08:40] aaronjbaptiste commented on #32880
Thanks for the fix, tested and working great for vertical stacks, but as commented on #43135, it doesn't appear before the first block for horizontal layouts.

[2022-09-07 08:47] Robertght opened #43939 "FSE: Link Style Doesn't Match Page Editor Style"
### Description

Links are underlined in the Site Editor. In the Page editor, links are not underlined. The live view of the site does not underline links unless they are hovered.

Originally reported here: https://github.com/Automattic/themes/issues/6521

### Step-by-step reproduction instructions

Add a link to the home page editor. Notice that it is not underlined.
View the home page through th

[2022-09-07 08:51] talldan commented on #32880
Thanks for mentioning it. I'll take a look.

Also worth mentioning that the Buttons block is really messed up, that still shows vertical drop indicators 😬

[2022-09-07 09:06] briceduclos opened #43940 "Image block: Add margin support"
Currently, the Image block doesn't support margin, while the Post Featured Image does. For consistency, adding margin support to the Image block would be great.

[2022-09-07 09:07] briceduclos opened #43941 "Gallery block: Add margin support"
Currently, the Gallery block doesn't support margin. For consistency with the other blocks, adding margin support to the Gallery block would be great.

[2022-09-07 09:08] briceduclos opened #43942 "Columns block: Add both horizontal and vertical block spacing support"
Currently, we can change the block spacing for the columns block, but we can't differentiate the horizontal and vertical spacing. Other blocks like Gallery and Buttons have this capability. This feature would be useful for creating columns with different vertical and horizontal spacing (which is a common case).

So adding horizontal and vertical block spacing support to the Columns block would be

[2022-09-07 09:44] talldan commented on #32880
That was a fairly easy fix - #43944. I'll add some end to end testing for this as well before making it ready for code review.

[2022-09-07 09:51] #43901 closed, assigned to draganescu

[2022-09-07 10:22] mirka opened #43945 "InputControl: See if reducer actions can be typed better"
## What problem does this address?

Reducer functions currently require a bit of typecasting to result in valid TypeScript, since the action's [`event`](https://github.com/WordPress/gutenberg/blob/e6dd3b19d186c61fa8894dc8fdfb4fa716e3b010/packages/components/src/input-control/reducer/actions.ts?rgh-link-date=2022-09-06T16%3A50%3A57Z#L24) is not typed according to the specific triggering action.

##

[2022-09-07 10:36] briceduclos opened #43947 "Navigation block: the first navigation link inside the Overlay menu is focused, creating confusion on touch devices"
### Description

The first navigation link is focused when the user clicks on the hamburger icon to open the overlay menu. So on touch devices, the first link is always highlighted. I've browsed multiple recent websites with great accessibility, but I don't see this behavior on any of them. It can create confusion as it can look like a current menu.

On the screenshot below, I'm currently on the b

[2022-09-07 10:50] pawel-dabek commented on #21193
Same question here.
I would like to force iframe for dekstop view too.

[2022-09-07 10:51] carolinan commented on #42425
One of the reasons why I was hesitating to do that is that the BlockSwitcherDropdownMenu is in the block-editor package.
We will be checking if every loaded block is a template part, even though template parts are only available in the site editor? 🤔

[2022-09-07 10:54] pawel-dabek commented on #39373
Same issue here.

[2022-09-07 11:06] scruffian commented on #42054
Since the load order of global styles CSS was changed this is no longer an issue.

[2022-09-07 11:06] #42054 closed, assigned to nobody

[2022-09-07 11:12] #42953 closed, assigned to nobody

[2022-09-07 11:13] scruffian commented on #42082
This is blocked by https://github.com/WordPress/gutenberg/pull/42485

[2022-09-07 11:38] yoscbd commented on #25388
Thank you @youknowriad ,

I wasn't sure where and how i need to add the "key" property but i got it after 10 min...

Here is my full sample code based on you solution for anyone who is puzzled with the "key":

PHP in function.php code ,
I register a new rout for getting post title and post permlink only - making a lighter server request with a lighter responds:

[code]
and this is my react code (I

[2022-09-07 12:07] Thelmachido commented on #34782
The other issues @mkkeck  referenced have been closed but this issue [#37590 ](https://github.com/WordPress/gutenberg/issues/37590)  to allow developers to opt-out of `!important `CSS rules generated from theme.json is still ongoing.

Adding for future reference.

[2022-09-07 12:11] SiobhyB commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved

++ [Prevent a crash occurring when copying/pasting an empty List v2 block](https://github.com/WordPress/gutenberg/pull/43861)

[2022-09-07 12:27] Thelmachido commented on #35101
Hi @ssimo3lsuhsc

The default homepage for WordPress if showing the latest posts gives you the option to:

- Show an excerpt of text on the homepage
- Show the full post

This has been illustrated by @skorasaurus above, for us to continue the discussion are you able to give more information about what you'd rather have the posts displayed because at the moment it is not very clear.

Since this was

[2022-09-07 12:43] bph commented on #43764
It's a great idea, however it would be great to have an accompanying blog series, that would tackle the meat of the matter of converting a shortcode to a block equivalent, with specific examples, approaches and a little theory as to why certain approaches might be best.

[2022-09-07 12:49] Thelmachido commented on #35229
This is an issue that is coming because of CoBlocks so it was moved to the correct public repo:

https://github.com/godaddy-wordpress/coblocks/issues/2416

The discussion is continuing there so I will be closing this issue.

[2022-09-07 12:49] #35229 closed, assigned to nobody

[2022-09-07 12:55] Thelmachido commented on #35505
It's been a while since this issue has been open and there hasn't been much movement. @ciobanu0151 is this issue still persist with the recent version of Gutenberg? If that is the case please feel free to add a note and remove the stale tag 🙇‍♀️

[2022-09-07 13:07] t-hamano commented on #42961
- #43663

I commented on the above PR because I thought it should be mentioned in the dev note.
In my opinion, it is better to include it as part of the group post, such as [Block Editor miscellaneous Dev Notes for WordPress 6.0](https://make.wordpress.org/core/2022/05/03/block-editor-miscellaneous-dev-notes-for-wordpress-6-0/).

[2022-09-07 13:08] #43625 closed, assigned to t-hamano

[2022-09-07 13:20] jonathanbossenger commented on #43764
That's a great idea and one that already has a series of tutorials Learn WordPress:

- [Part 1 - Using Create Block Tool](https://learn.wordpress.org/tutorial/using-the-create-block-tool/)
- [Part 2 - Converting a Shortcode to a Block](https://learn.wordpress.org/tutorial/converting-a-shortcode-into-a-block/)
- [Part 3 - Styling the Block](https://learn.wordpress.org/tutorial/styling-your-wordpres

[2022-09-07 13:22] getdave commented on #38275
## Update 7th Sept 2022

* The block now fallbacks now behave in the same way on both the Editor and the front of the site. The main change is that the [Page List block is now inserted _by default_ in the Editor](https://github.com/WordPress/gutenberg/pull/42735) _if_ there are no existing Navigation Menus.
* [The editor now avoids creating and publishing changes to Navigation blocks when importin

[2022-09-07 13:39] bph commented on #42961
Thank you so much @t-hamano to add this here and put this on our radar for WP 6.1.

[2022-09-07 14:07] NekoJonez opened #43951 "Small language adjustment for "there are x events"."
The following strings have a similar issue and don't really flow grammatically in all languages when translated. I wanted to create a PR for it, but I'm bad at reading giant text files and easily finding the origin. So, ticket time.

https://translate.wordpress.org/projects/wp-plugins/gutenberg/stable/nl-be/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=11733917&filters%5Btranslation

[2022-09-07 14:31] tobifjellner commented on #43951
I'd say the "." after the date shouldn't be there in English. Besides that, the string looks OK, and it's totally right to use _n() for the number of events.
For clarity, the translators comment could also include a sample sentence "Dec 1, 2020 selected. There are 3 events."
And yes, these two strings could probably be merged into one.

[2022-09-07 14:36] 2ndkauboy commented on #6912
I've just came across the same issue and found a way to achieve this. I've set the `assign_terms` capability to `do_not_allow`:

[code]

It had the following effect:
- You **can** manage (add/update/delete) terms for the CT in the menu entry at the CPT
- You **can** assign terms to a post programmatically (e.g. using `wp_set_post_terms()`)
- You **cannot** assign terms using "quick edit" or "bulk

[2022-09-07 14:48] t-hamano commented on #35894
I checked my code and found that there was an error.

It seems that the extra check by `isSelected` was not working correctly.
With the following changes, I confirmed that it works correctly:

[code]

Sorry for the lack of testing, I will close this issue 🙏

[2022-09-07 14:48] #35894 closed, assigned to nobody

[2022-09-07 14:49] scruffian commented on #35735
This was closed by https://github.com/WordPress/gutenberg/pull/43543

[2022-09-07 14:49] #35735 closed, assigned to carolinan

[2022-09-07 14:50] scruffian commented on #40205
This was closed by https://github.com/WordPress/gutenberg/pull/41140

[2022-09-07 14:50] #40205 closed, assigned to nobody

[2022-09-07 14:53] scruffian commented on #39473
I think this was achieved in https://github.com/WordPress/gutenberg/pull/40260

[2022-09-07 14:53] #39473 closed, assigned to nobody

[2022-09-07 14:59] paaljoachim commented on #39473
Thanks for seeing this Ben @scruffian
Here is the result in Twenty Twenty Two with the Gutenberg plugin activated.

![Screenshot 2022-09-07 at 16 58 30](https://user-images.githubusercontent.com/5323259/188911187-b5b0789f-6aca-42bf-be1a-ceca6a371ed6.jpg)

[2022-09-07 15:04] scruffian commented on #42961
@bph I created a draft for elements support: https://make.wordpress.org/core/?p=98557

[2022-09-07 15:04] jffng opened #43955 "Post Content: adding pseudo states + typography breaks block margin"
### Description

Adding a pseudo state + typography config to post content in theme.json breaks the block margin — this specifically happens when `styles.blocks.core/post-content.elements.link.:hover.typography` and any of the following properties are configured:

`fontWeight`, `fontSize`, `fontStyle`

I found that property is applied correctly, but the block margin breaks. There may be more combi

[2022-09-07 16:15] ajlende commented on #43440
I'm working on the duotone backports

EDIT: duotone.php is done in https://github.com/WordPress/wordpress-develop/pull/3210 and I've talked with @MaggieCabrera for the class-wp-theme-json-6-1.php changes because they depend on the [Elements API backports](https://github.com/WordPress/wordpress-develop/pull/3206).

[2022-09-07 16:46] mrwweb commented on #28683
When implementing this, the note on #10889 is really important: The current invalid UI is really confusing since it allows people to convert an HTML to an HTML block. When I ran into this, I completely missed that my HTML was invalid and assumed this was some more obscure editor bug about the particulars of my HTML. Key point: invalid HTML in an HTML block is different than a normal, unparseable b

[2022-09-07 17:00] Thelmachido opened #43961 "Spotify Block displaying playlist's different on mobile view"
### Description

 Spotify playlist embed is displayed differently on mobile view for different themes.

On certain themes for example Twenty Twenty-Two and [Kadence Virtue Premium theme](https://www.kadencewp.com/product/virtue-premium-theme/), you can view the entire playlist while scrolling on desktop, tablet, and mobile landscape mode. But mobile portrait mode only shows the play button and alb

[2022-09-07 17:01] bezbee commented on #41825
Any update on the issue? Is anyone stiil working on it?

[2022-09-07 17:21] bhubbard commented on #42828
A theme can have many styles. The original request is to have a dark mode/light mode toggle button block, such as this one for example: https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp

This light mode/dark mode toggle is becoming more common across websites today. As a website visitor if my browser/os is set to dark mode, they may still wish to see the website in light mode. At the m

[2022-09-07 20:10] aatanasovdev commented on #43595
Hi @aaronrobertshaw, it looks like you're adding the Table of Content block to a post, not a page.

Publishing a post works slightly differently than a page.

When we add a post, there is no auto-draft URL generation before publishing the page (I haven't checked why this happens, but it has to be consistent). In that case, the TOC block uses URLs like `SITE_URL/?p=34`. The links work because there

[2022-09-07 20:53] glendaviesnz commented on #43877
@ciampo, @jameskoster  - the potential performance issues of using CSS blur on the modal component was mentioned on the [PR where it was added](https://github.com/WordPress/gutenberg/pull/40781), and it looks like it is an issue for some people, dependent on machine it seems. If we can't find a reliable fix for this it may be something we have to revert for 6.1 - do you have any thoughts on altern

[2022-09-07 21:28] glendaviesnz commented on #43941
Thanks for raising this @briceduclos We are currently in the process of adding consistent support across blocks for margin. This is [being tracked here](https://github.com/WordPress/gutenberg/issues/43243), and Gallery block is listed there as needing this support added, so I am going to close this issue in favour of that tracking issue.

[2022-09-07 21:28] #43941 closed, assigned to nobody

[2022-09-07 21:29] glendaviesnz commented on #43940
Thanks for raising this @briceduclos We are currently in the process of adding consistent support across blocks for margin. This is [being tracked here](https://github.com/WordPress/gutenberg/issues/43243), and Image block is listed there as needing this support added, so I am going to close this issue in favour of that tracking issue.

[2022-09-07 21:29] #43940 closed, assigned to nobody

[2022-09-07 23:52] rku4er commented on #38120
Is there a similar solution that works in site editor?

[2022-09-08 00:22] glendaviesnz commented on #41825
Are you able to provide details about any error messages that show in the browser dev tools console, or network tab when you load the page in the editor and the image size select hangs on loading?

[2022-09-08 00:30] aaronrobertshaw commented on #43595
🤦 Sorry to waste your time. You are correct, I was on autopilot and misread the instructions.

I can confirm I'm seeing this issue when I actually test it properly.

<img width="400" alt="Screen Shot 2022-09-08 at 10 26 08 am" src="https://user-images.githubusercontent.com/60436221/189007510-e6821485-2e7f-4c2f-b7e0-79c9fe3e6696.png">

[2022-09-08 00:46] rku4er opened #43967 "Add a function for checking the block existence in a page template"
Templates and template parts contain block markup that represents blocks and block settings. Is it possible to make a function which will parse the current page template and check whether a particular block is presented in the template? This function should also work for the Site Editor and such pages like search, archives, 404. So to look not only in post_content. For example it should be possibl

[2022-09-08 01:01] glendaviesnz commented on #43877
@annezazu found [a note here](https://graffino.com/til/CjT2jrcLHP-how-to-fix-filter-blur-performance-issue-in-safari) about adding a transform to the same layer which makes the browser use GPU instead of CPU which can improve performance. I have updated [that test PR to do this](https://github.com/WordPress/gutenberg/pull/43929), are you able to try it again and see if that fixes the performance i

[2022-09-08 01:03] #43537 closed, assigned to glendaviesnz

[2022-09-08 01:28] nendeb commented on #32644
Where can I find the specific code?

[2022-09-08 01:59] t-hamano commented on #42961
https://github.com/WordPress/gutenberg/pull/42677#issuecomment-1240126502
I have left a comment about "the inheritance of template lock in the column block", as it was deemed necessary to include this as part of the dev note.

[2022-09-08 02:09] talldan commented on #43939
@Robertght Would you be able to improve the reproduction steps.

When I tested (adding a link to a paragraph in the page editor), the underline shows up fine:
![Screen Shot 2022-09-08 at 10 08 11 am](https://user-images.githubusercontent.com/677833/189017759-e04fd18d-19a5-4407-b6ae-e3b49bb84c0f.png)

But I have a feeling I might not be reproducing this as intended. The part I'm not sure about is "

[2022-09-08 02:24] t-hamano commented on #42542
@bph

Thanks for the advice!
Using the minutes calculated in the @wordpress/wordcount component in attributes would be a great way to match the calculated values with the info panel and block, or it would be very simple to implement.and block.

But, as was [the concern with the ToC block](https://github.com/WordPress/gutenberg/pull/29739), it cannot calculate dynamic time at render time. In other

[2022-09-08 04:18] glendaviesnz commented on #39371
@cbirdsong, @mrwweb, @eric-michel, @bradley2083, @richtabor  - just pinging a few people that have commented on various spacing presets related issues - apologies if I missed someone, please feel free to comment about the below if you weren't pinged.

With the code freeze for 6.1 features coming up next week we are at a point where we probably won't get any additional spacing preset features added

[2022-09-08 04:26] Robertght commented on #43939
Thank you @talldan !

It looks like this is theme-specific for now.

I noticed the link underline doesn't show up on the frontend as opposed to the Site editor. Is this expected or an issue?
If an issue, should I adjust this report or create a new one?

[2022-09-08 06:17] talldan commented on #43939
So the situation is (for a specific theme):
- Frontend - no underline
- Page editor - no underline
- Site editor - underline

Is that correct?

It may be a bug with the theme, but it's hard to say for sure. Is there a theme I can test with?

[2022-09-08 06:26] jasmussen commented on #41823
I left [some additional comments here](https://github.com/WordPress/gutenberg/pull/42085#issuecomment-1239176927), and it seems as if the `useRootPaddingAwareAlignments` property might play a factor as well.

[2022-09-08 06:40] Robertght commented on #43939
Correct!

However, the frontend vs Site Editor thing is consistent regardless of the theme.

The one with the page vs site editor has been reported here:  https://github.com/Automattic/themes/issues/6521 (Blank Canvas)

[2022-09-08 06:51] carolinan commented on #32644
https://github.com/WordPress/gutenberg/pull/41527

[2022-09-08 07:11] nendeb commented on #32644
#41527

Thanks.
This is supposed to define a negative set value.

--wp-priset--spacing-size--minus1: -1
--wp-priset--spacing-size--minus2: -2
--wp-priset--spacing-size--minus3: -3
  .
  .
  .

Before testing.
I don't think this is a very good way to do it if

[2022-09-08 07:31] yoscbd commented on #27859
you can find a solution here....

[https://wordpress.stackexchange.com/questions/352500/get-post-from-custom-rest-endpoint-in-gutenberg](https://wordpress.stackexchange.com/questions/352500/get-post-from-custom-rest-endpoint-in-gutenberg)

[2022-09-08 07:35] galbaras commented on #42172
It's not an enhancement if the plugin is doing the wrong thing. Removing details isn't part of properly converting anything. The idea is to have the exact same thing rendered on the front end, and that's not happening, so this is a bug.

Personally, I can't trust this conversion with my large sites, so I'm still using the classic editor, and that's probably not what you want either.

[2022-09-08 08:38] talldan commented on #43932
Closing this as per the comment here - https://github.com/WordPress/gutenberg/pull/43944#discussion_r965596416

It'll reopen with a new name next time it's flaky.

[2022-09-08 08:38] #43932 closed, assigned to nobody

[2022-09-08 09:00] jameskoster commented on #43877
@annezazu Is the lag something you've only noticed recently? The blur effect has been merged for a while so if this has only just come up then it might be worth investigating other possible culprits.

[2022-09-08 09:08] johnpawsonS1 commented on #39021
Sooooo I'm seeing this exact issue on a site running 6.0.2... was this actually fix or has the problem been reintroduced? This is the code I'm seeing:

html :where(img[class*=wp-image-]) {
    height: auto;
    max-width: 100%;
}

I've joined Github specifically to try and figure out what's happening here as this is doing my head in!

[2022-09-08 09:19] wolffe commented on #39021
The issue was never fixed, they just made the selector less broad. Before, it used to be `html :where(img)`, now they are targeting `wp-image-*`, but I still had to override this in 2 of my themes.

[2022-09-08 09:45] johnpawsonS1 commented on #39021
Yeah I still can't get my head round this. The images that are being affected at my end are being added through a module in the Elegant Themes Divi theme. So they're not being added using Gutenberg/standard WP processes. Is there a way to nullify it using CSS?

[2022-09-08 10:02] wolffe commented on #39021
The way I solved it is above. On 2 custom themes, I had to add this:

`html :where(img) {
    max-width: fit-content;
}`

Also, I have other overrides for specific blocks, so it now works for me.

[2022-09-08 10:16] stinkykong commented on #40481
+1
I agree this should be added. Random does slow things down but is needed for a variety of purposes we run across and I find a need for it frequently. I also need it on a per-case/per-block basis (or per-widget) and not globally. An option where the other order options are seems to be the logical place.

[2022-09-08 10:31] #41823 closed, assigned to talldan

[2022-09-08 10:32] johnpawsonS1 commented on #39021
thank you - I'll give that a crack

[2022-09-08 11:02] oandregal commented on #43440
:wave: sorry for the late response. I've looked at the pings but nothing needs backporting on my side:

- `elements.php`
  - #37728 this has been [backported for 6.0](https://github.com/WordPress/gutenberg/pull/37728#issuecomment-1108686176)
- `block-editor-settings.php`
  - https://github.com/WordPress/gutenberg/pull/40185 it [has been backported](https://github.com/WordPress/gutenberg/pull/40185

[2022-09-08 12:30] ntsekouras commented on #43440
I'll look at it, but we probably need to wait @jorgefilipecosta for a PR that updates some related logic there.

[2022-09-08 13:04] youknowriad commented on #43090
@ntsekouras That makes sense. It seems that we need some kind of focus loss detection in the inserter when it's supposed to stay focused. That said, it's a bit tricky because we rely on the focus loss happening to actually close the inserter in several situations:

 - Ctrl + click on any block for instance

[2022-09-08 13:28] ntsekouras commented on #43440
@ntsekouras

PR: https://github.com/WordPress/wordpress-develop/pull/3214

[2022-09-08 13:32] theminaldiwan opened #43982 "Categories (List) block center alignment is not working with dropdown in editor"
### Description

Categories block center alignment setting is not reflecting on editor side.

### Step-by-step reproduction instructions

Activate the Twenty Eleven Theme
Add Categories Block (or "Categories List" block if Gutenberg plugin is activated)
Select the "Display as dropdown" option in the sidebar
Change the alignment to center

### Screenshots, screen recording, code snippet

Here is Sc

[2022-09-08 13:39] cbravobernal commented on #43440
I will take a look at:
- https://github.com/WordPress/gutenberg/pull/41981
- https://github.com/WordPress/gutenberg/pull/41140
- https://github.com/WordPress/gutenberg/pull/41240

Backported in https://github.com/WordPress/wordpress-develop/pull/3215

[2022-09-08 13:43] #43879 closed, assigned to Mamaduka

[2022-09-08 13:56] ciampo commented on #43877
Hey @glendaviesnz !

I wouldn't revert the whole PR, since it did much more than just adding the blur.

If we had to remove the blur, I would go for the approach that you took in [this commit ](https://github.com/WordPress/gutenberg/pull/43929/commits/77f83fe13ea57ed05e728695b0c75d969c48de4d)

[2022-09-08 14:07] Nic-Sevic opened #43984 "Some styles not loading until after first edit"
### Description

`wp-block-site-title` and possibly other styles are not getting loaded when switching to certain themes (at least pendant, tt2,  and zoologist).

This behavior happens only when Gutenberg plugin is active and is tied to a change that happened between 13.4.0 and 13.5.0.

Some hopefully helpful feedback from @pbking
I have seen this very behavior when accessing the Global Styles set

[2022-09-08 14:08] #43924 closed, assigned to matiasbenedetto

[2022-09-08 14:36] MaggieCabrera commented on #38990
Would the Aspect ratio options actually change the dimension values or would they change the `aspect-ratio` CSS value?

How do you decide which object fit to use in which case? And what happens when the user provides its own dimensions, do we still see the object fit controls?

[2022-09-08 14:41] jasmussen commented on #38990
I'd love for it to set aspect-ratio. It wouldn't work in all browsers, but as a progressive enhancement it would in new ones, and it would gracefully fall back.

Stretch isn't that useful, and something you could accomplish on your own if you wanted to, by supplying off dimensions. Contain could have use cases, but I also think we could start without it, and then add a choice between the type of o

[2022-09-08 14:43] MaggieCabrera commented on #38990
But if dimensions are given, aspect ratio won't apply at all. And I think all images do have inline width and height values, I'd have to test it on the block. Still, controlling both dimensions and aspect ratio would be contradictory.

[2022-09-08 14:50] jasmussen commented on #38990
Just to step back for a moment, the main problem to solve with the aspect ratio presets is to enable you to drag and drop your big landscape photo into this pattern, and have the perfect circle and dimensions of the original pattern stick and be unchanged, just with your new updated photo:
<img width="652" alt="Screenshot 2022-09-08 at 16 46 41" src="https://user-images.githubusercontent.com/12048

[2022-09-08 14:52] danielwrobert commented on #40808
Thanks, @oandregal, I appreciate it!

There seems to have been a couple of separate-but-related issues at play (in addition to the aforementioned issue with `__experimentalDuotone`):

One issue was caused by the default styles for the text color on the Featured Items blocks preventing the Global Styles from taking effect. I’m working on [addressing that issue in this PR](https://github.com/woocomm

[2022-09-08 14:53] MaggieCabrera commented on #38990
That sounds reasonable! and I agree that aspect-ratio is preferable, I was worried about confusing interactions with it.

Thanks for providing the extra context for this.

[2022-09-08 15:05] scruffian commented on #40808
I'm looking at this, but I'm not 100% sure what you're expecting to see? Should third party blocks appear in the Global Styles interface?

[2022-09-08 15:18] getdave commented on #43227
https://user-images.githubusercontent.com/444434/189160658-1f6e0e1a-3f7a-4cd0-b637-11ac35ba069e.mp4

Testing this with Page List. I could click through with a single click. I'm not following the bug from the testing instructions.

I also tried converting Page List to links. I was still able to select all Navigation Link blocks with a single click.

[2022-09-08 15:25] getdave commented on #42856
https://user-images.githubusercontent.com/444434/189162332-b0c8535a-c0d1-4491-a799-c00008f4d75f.mp4

@scruffian I tested this and wasn't able to replicate. The List View updates perfectly.

[2022-09-08 15:32] danielwrobert commented on #40808
@scruffian The Woo and Jetpack blocks do appear in the Global Styles interface. That is expected, at least as far as I understand. The issue is, when applying those Global Styles to one of the Jetpack or Woo blocks, the styles are not saved to the frontend (see screenshots below). In my testing, this issue is present with the Gutenberg feature plugin enabled but not an issue with Core and no Guten

[2022-09-08 15:46] Nic-Sevic commented on #43984
Testing mistake here: This is only occurring on specific host it seems.

[2022-09-08 15:46] #43984 closed, assigned to nobody

[2022-09-08 16:06] Mamaduka commented on #43961
Hi, @Thelmachido

I think this is an issue with Spotify embeds and not something we can fix on our end.

Spotify will stop rendering playlist items for window width < 400px.

[2022-09-08 16:08] Mamaduka commented on #43951
Cc @noisysocks, since you worked on the recent refactor.

[2022-09-08 16:22] bradhogan commented on #39371
@glendaviesnz Thanks for all of your work on this!  From what you're saying, I would say from a theme author point of view, these features seem extensive and stable enough to push to 6.1.   One question I have on the current spacing presets and I assume it's possible, but can we change the label for spacing from "2X-Small", "X-Small", "Small", etc. to something custom e.g. "10", "20", "30"?

And I

[2022-09-08 16:27] jasmussen commented on #39371
There's a separate goal outlined in https://github.com/WordPress/gutenberg/issues/43412 of replacing those with 1x, 2x, 3x, etc.

[2022-09-08 16:42] helpmeurgent commented on #41994
anyone here to help?

[2022-09-08 16:59] mikachan commented on #43627
Also related to / duplicate of https://github.com/WordPress/gutenberg/pull/39432.

[2022-09-08 17:08] mirka commented on #39425
Related: https://github.com/WordPress/gutenberg/pull/40526#discussion_r856006044

[2022-09-08 17:32] mirka commented on #40392
I moved this task to #39425

[2022-09-08 18:41] eric-michel commented on #39371
@glendaviesnz thank you so much for dedicating so much time to getting this ready for 6.1!

I'm currently working on a 200+ page site for one of our larger clients, and have fully transitioned our parent theme to adopt `theme.json` primarily to take advantage of your new spacing features! I'm developing the site on the Gutenberg plugin so that I can create pages with these features ahead of 6.1, s

[2022-09-08 19:59] annezazu commented on #43760
I tried to replicate in Chrome using 14.0.2 and couldn't. cc @ironprogrammer and @ndiego in case ya'll have time to replicate/test more.

https://user-images.githubusercontent.com/26996883/189214470-581b5c70-c9a4-45b1-86e0-c5325ddd7c1f.mov

[2022-09-08 20:05] cbirdsong commented on #39371
It would be great if the spacer block could be converted to use it in time since that's the only other core block that uses custom sizes of this type, but I'm guessing the timing is too tight?

[2022-09-08 20:07] mirka opened #43997 "Components: Clean up `utils/config-values.js` file"
## What problem does this address?

Similar to #40392, the `config-values.js` file contains a lot of values that are likely irrelevant to the current direction of the components package. This sometimes causes confusion to component implementors, in that they reach for values from this file when they maybe shouldn't.

## What is your proposed solution?

See if any of the values can be salvaged as u

[2022-09-08 20:11] annezazu commented on #40116
As a next step to move this forward, I'm not sure what technically needs to be done here but essentially we want to end up with a new Titles category to house the current "header" patterns and for the "header" category to now contain truly header specific content like these bundled patterns https://github.com/WordPress/gutenberg/pull/43157  We'll also need to update the pattern directory appropria

[2022-09-08 20:37] glendaviesnz commented on #43877
Yeh, sorry, was just talking about reverting the blur, not the whole PR.

[2022-09-08 20:54] asolopovas commented on #25077
I am working on the project that bundles wordpress blocks with [vite](https://vitejs.dev/) that in turn uses esbuild to transpile everything but strugling to figure out why all assets after compile, load in the browser without errors, they are absent in the list of gutenberg blocks...

[2022-09-08 21:03] annezazu commented on #43877
Catching up here. Yes, I only noticed this recently so I'm not quite sure what's changed since it has indeed been in place for a while.

Tried the additional PR and I fear there is still lag, although it's a touch better:

https://user-images.githubusercontent.com/26996883/189225332-7a8a5b19-8b65-4fd3-9363-d555ae6ec24d.mov

It still feels pretty broken though as a user and impacts a ton of items r

[2022-09-08 21:19] SGr33n opened #43999 "Categories block doesn't inherit css from style.css on the Editor"
### Description

Hi!
Defining a custom style for the categories core block doesn't affect that style on the editor.
The style works, on the other hand, on the page list block (pretty similar to the categories one).

### Step-by-step reproduction instructions

Add a categories list block and a page list block.
Add the following code on your styles.css

[code]

both are working on the frontend, whil

[2022-09-08 21:20] AliSoftware opened #44000 "List blocks can't be transformed into Task block anymore (since List V2?)"
### Description

Until recently, when pasting a List block in a post or comment, then selecting the List Block, we were able to turn it into a Task block, but it seems it's not possible anymore.

We use that feature to turn list blocks into task blocks — and thus make it a checklist — constantly in our team to handle our Release Scenarios: those scenarios contain a List block to describe the steps

[2022-09-08 21:40] annezazu commented on #31862
Whew, just having time to circle back. I'd like to keep this open. The problem remains with certain template parts. For some reason, GitHub won't let me upload a video but I will try again. For now, here's a link where anyone can view it: https://drive.google.com/file/d/1Fg4lsz67QsRAzFqWXo8ZxbPgx1SjpCTd/view?usp=sharing

[2022-09-08 22:26] glendaviesnz commented on #43877
Out of interest, which browser are you using for testing @annezazu and what are the specs of your laptop?

[2022-09-08 23:34] annezazu commented on #43877
I'm using Chrome Version 104.0.5112.101 and using macOS Monterey 12.5.1 with M1 Pro chip.

[2022-09-09 00:03] Julianoe commented on #30142
I'm not really sure how deleting any option to input custom CSS helps to make an open and usable platform for the web. Even non tech-saavy users need to adjust some little CSS tweak here and there. Small sites users will often not dev a child theme and won't have/want hire a dev to do it. They will ask for small modifications like "could we make this block from my plugin I use for this and that ch

[2022-09-09 00:38] annezazu commented on #44000
Hey there! Thanks for opening this issue. A task block does not exist in Core WordPress so this issue is outside the scope of the project to address.

If you find a specific issue with the v2 of the List block, please do open a new issue though. For now, I'm closing this out.

[2022-09-09 00:38] #44000 closed, assigned to nobody

[2022-09-09 00:44] annezazu commented on #43923
cc @ellatrix  in case you might have any insights based on your work with the List v2.

[2022-09-09 00:44] annezazu commented on #43900
@nerrad might you have any insights here?

[2022-09-09 00:45] annezazu commented on #43907
@ockham wanted to flag for you :) Would be great to get this quickly renamed/cleared up for the comments block.

[2022-09-09 00:47] noisysocks commented on #43951
Thanks for the issue and ping.

These strings are located in ARIA labels. They're read aloud for users who are using a screen reader. My understanding is that it's expected in this context that the element is described using multiple short sentences. For example: "Open settings panel. Button. Selected". The period acts as a way to make the screen reader pause for a moment.

Is that right @tellthem

[2022-09-09 00:50] annezazu commented on #43832
Agreed with @cbirdsong - I'd prefer we close this out and defer to those.

[2022-09-09 00:54] annezazu commented on #43664
I can replicate this with GB 14.0.2 and WP 6.0.2:

https://user-images.githubusercontent.com/26996883/189250154-0f202733-7c2f-4fa6-8850-450dfab37a16.mov

You can see it when flipping through the block museum: https://block-museum.com/museum/ Essentially, a page reload is happening! I agree that this would be great to improve. I'm not quite sure what's intended here vs what can be improved to have

[2022-09-09 00:58] aaronrobertshaw commented on #43242
I've updated this tracking issue's description to include a brief section on "Captioned Blocks" and why we won't be adopting typography supports for them just yet.

TL;DR
- There's the potential for a Caption block that would alter the need to adopt typography support for Embed, Image, Gallery, and Video blocks
- Adoption of typography supports now would need to resolve some style conflicts which

[2022-09-09 02:15] ramonjd commented on #43440
Heads up that I think https://github.com/WordPress/wordpress-develop/pull/3199 (Style engine backport) is baked and ready to land. Thanks to @costdev for helping to prepare.

[2022-09-09 03:35] ramonjd commented on #43440
[This wordpress-develop PR](https://github.com/WordPress/wordpress-develop/pull/3218) backports the following changes:

- https://github.com/WordPress/gutenberg/pull/42880

[2022-09-09 04:14] carolinan commented on #30142
@Julianoe I don't think anyone is saying that the editor does not need a custom CSS field, I think most of us agree with that: It is a matter of it being difficult to build and to create an interface for it that is easy to use.

[2022-09-09 04:53] talldan commented on #43440
PR here for persisted preferences - https://github.com/WordPress/wordpress-develop/pull/3219.

[2022-09-09 05:06] glendaviesnz commented on #39371
@bradley2083 you can set these to whatever you want by adding a `settings.spacing.spacingSizes` array to `theme.json` and set the name property, eg. `{"name": "10, "slug:" "10", "size":"0.8rem"}`.

Instead of a specific mobile setting would it work if there was the option to add fluid values in the interfaces that compile down to a `clamp()` var?

@cbirdsong I  have a [draft PR up](https://github.

[2022-09-09 05:30] talldan commented on #42814
Seems to have stopped happening since https://github.com/WordPress/gutenberg/pull/43460

[2022-09-09 05:36] #43961 closed, assigned to nobody

[2022-09-09 06:06] carolinan opened #44007 "Set default alignments in theme.json"
## What problem does this address?

In block themes, when alignments are set in the block markup itself, there is no way to change this alignment using style variations.

Example:
[code]

Because `"textAlign":"center"` and `has-text-align-center` is in the markup, it can not be changed by adding a style variation.
If the `textAlign: "center"` was in theme.json, then blue.json could set it to `text

[2022-09-09 06:07] carolinan commented on #43999
Hi!
Style.css in themes is not added to the editor by default. The theme needs to use an editor style. I mention this because it is not clear from the issue description, how the style.css is added. Sorry if this is obvious.

[2022-09-09 07:25] #43095 closed, assigned to tellthemachines

[2022-09-09 07:51] alanjacobmathew commented on #43832
I picked the colour from the color picker and not from the theme palette. But after retesting it again, even if the color is picked individually, if it is a part of theme palette, it automatically assigns it to as Theme's primary color.
Not sure, but it may affect users if it directly converts one Theme's primary to another theme's primary color set.

If I set an entire page in accordance with a s

[2022-09-09 08:04] carolinan commented on #43939
Which block was used to test this? There are many blocks that can have links.
Please test with a theme that has no styling, like Emptytheme, that you can find in the Gutenberg/test folder.

A related navigation block issue was reported here:
https://github.com/WordPress/gutenberg/issues/42766

[2022-09-09 08:07] mrfoxtalbot opened #44014 "Center alignment does not work for images inside a reusable block (editor only)"
### Description

If you insert an image in the editor and choose the "align:center", the image should show centered in the editor. This works as expected on a standalone image block:

https://user-images.githubusercontent.com/4452464/189300630-ea777fc8-499b-4c51-aa4b-f4374945a41f.mp4

But if you turn an image into a reusable block, selecting "alingn:center" does not have any effect:

https://user-

[2022-09-09 08:29] alanjacobmathew commented on #42213
Also notice when selecting using keyboard, it doesn't get reflected on the list view

[2022-09-09 08:41] x4fingers opened #44019 "WP Query: Incorrect routing of pagination when place 2 different blocks in a same page"
### Description

Current pagination routing doesn't have a way to classify multiple post categories on the same page.

**What happened:**
An example, I'm on the a custom page which places 2 WP Query blocks for 2 different post categories. If I click on the second page number or the next button of the first category, I will go to the second page, it shows posts of both the first category and the se

[2022-09-09 08:44] scruffian commented on #40808
I created a fix for this here: https://github.com/WordPress/gutenberg/pull/44018

[2022-09-09 08:52] cbravobernal commented on #43440
@andrewserong , those PR seems to be already merged. I guess we can keep going with layout.php. Thanks!!

[2022-09-09 08:57] ntsekouras commented on #43440
https://github.com/WordPress/wordpress-develop/pull/3221

Backports changes from:
-  https://github.com/WordPress/gutenberg/pull/41387
- https://github.com/WordPress/gutenberg/pull/41189
- https://github.com/WordPress/gutenberg/pull/42520
- ~https://github.com/WordPress/gutenberg/pull/43597 (from @Mamaduka )~
- https://github.com/WordPress/gutenberg/pull/42586

[2022-09-09 09:02] Mamaduka commented on #43440
@ntsekouras, I think #43597 is covered by https://github.com/WordPress/wordpress-develop/pull/3131.

[2022-09-09 09:12] alanjacobmathew commented on #42213
A few more issue related with this,
1: It doesn't always happen. Problem persists when I use the down arrow key and not the right arrow keys. If I select the very first character using the right key and rest using the down key, it works as expected.

2: Cases where the problem persist, after removing the blocks, once you click on the next block it automatically replaces that block to the first blo

[2022-09-09 09:40] gziolo commented on #43764
@jonathanbossenger, thank you for sharing you idea to add a new feature to Create Block.

I have some questions that could help me understand the problem better. How viable would it be to scan the existing code and extract all the required data you need? How many plugins are there still that developers might want to convert to blocks? It's been already nearly 4 years since the block editor got int

[2022-09-09 09:53] paaljoachim commented on #37943
I am not totally sure that this issue should be closed, as it feels like a good place to discuss various solutions. @Mamaduka George has one PR that has now been merged, but there might be a few more that also needs to be created. I will reopen this issue. Let's keep discussing and continue iterating on solutions that come up.
(If I am mistaken then please close the issue again.)

[2022-09-09 09:55] paaljoachim commented on #8288
I look forward to getting this issue fixed.
@getdave could you look at this issue again? Thanks!

[2022-09-09 10:17] getdave commented on #8288
Please see [reasons why this isn't being pursued](https://github.com/WordPress/gutenberg/pull/31082#issuecomment-895910418).

My PR "worked" but it clashed with core / key concepts of FSE and Riad and I couldn't agree on an approach to move this forward.

[2022-09-09 10:30] MatzeKitt commented on #41124
By the way, if you need a quick solution for this, you can use this PHP code:

[code]

[2022-09-09 10:47] javierarce opened #44024 "Improve the UI of the Navigation block display section"
The current interface of Navigation block display section is quite convoluted.

Because the preview sits on top of the section, if the user selects "Mobile" or "Always" in the segment control and then expands the preview, the main setting gets pushed to the bottom, making the UI confusing.

![image](https://user-images.githubusercontent.com/4933/189329736-eb96cebe-98bb-4dfa-8569-730644f90af4.png)

[2022-09-09 10:54] s56bouya opened #44026 "'wp_head' hook in 'render_block' filter not working for classic theme (FSE theme works)"
### Description

I want to add code inside the <head> if a certain block exists, using the 'render_block' filter.

Works FSE theme (Twenty Twenty-Two).
Not working classic theme (Twenty Twenty-One).

Please let me know if there is a mistake in the code or if there is another way to achieve it.

### Step-by-step reproduction instructions

1. Add core paragraph block.
2. Use add_filter 'render_block

[2022-09-09 11:01] SGr33n commented on #43999
It's on twentytwenty-two, on the theme main stylesheet, it's correctly added to the Gutenberg editor:

Frontend:

![Immagine 2022-09-09 125606](https://user-images.githubusercontent.com/882463/189335522-78fc1993-b1f8-49b5-87c9-ad8b6a5cc656.png)

Gutenberg:

![Immagine 2022-09-09 125701](https://user-images.githubusercontent.com/882463/189335844-cde68f1a-7d22-486d-b44e-621011ff90b7.png)

[2022-09-09 11:03] javierarce commented on #40580
As part of [this enhancement](https://github.com/WordPress/gutenberg/issues/44024) I've started working on this one too. Here are a couple of proposals (still WIP):

This initial one would allow users to switch between icons and text and would be easy to implement after the previous issue is addressed:

![image](https://user-images.githubusercontent.com/4933/189335728-a8d558ca-0864-43cf-989c-51795

[2022-09-09 11:05] gziolo commented on #43440
I have an update for the `lib/compat/wordpress-6.1/blocks.php` file:

- there is an open [Trac ticket](https://core.trac.wordpress.org/ticket/53148#comment:3) and [PR](https://github.com/WordPress/wordpress-develop/pull/3222) for backporting `gutenberg_block_type_metadata_render_template` to WordPress core
- there is also an open [PR](https://github.com/WordPress/wordpress-develop/pull/3108) (stil

[2022-09-09 11:17] CreativeDive commented on #43731
@tellthemachines I would prefer to discuss the reasons why it would be better for user feedback to get this feature working in 6.1.

[2022-09-09 11:30] carolinan commented on #43999
Are you able to test if your CSS works with this PR? https://github.com/WordPress/gutenberg/pull/43666

[2022-09-09 11:35] tomalec commented on #36716
Nicely aggregated migration guide. Thanks for sharing. :heart: Sindre
Also,

------

I don't have any precise POC with all WordPress setup to present, but I think adopting ESM and ImportMaps gets us closer to be able to use Open Platform means to solve that problem, see https://github.com/WICG/import-maps#multiple-versions-of-the-same-module.

For example, individual plugins could contribute their

[2022-09-09 11:40] jameskoster commented on #43877
That machine should definitely not be lagging 😅

It's probably not related, but sharing here just in case... in the console I see the following error:

<img width="496" alt="Screenshot 2022-09-09 at 12 39 52" src="https://user-images.githubusercontent.com/846565/189341922-28d4c8df-6026-4707-9a78-f2131c2ff45a.png">

The number is constantly increasing, and is up to 2200 since I took the screenshot

[2022-09-09 11:48] SGr33n commented on #43999
Sorry i forgot to mention that this test was made on the latest Gutenberg trunk, so this PR should already be in.

[2022-09-09 12:01] man4toman commented on #40993
Hi @ndiego @torounit

I test it again with the latest version of WordPress 6.0.2 and please see the result.
The problem not solved yet!

https://user-images.githubusercontent.com/935397/189345233-810ce526-c358-4abf-ae86-2be3d5ec10ed.mp4

[2022-09-09 12:28] scruffian commented on #43227
It's still happening for me:

https://user-images.githubusercontent.com/275961/189349704-2f0b88b8-e79b-44f7-9e96-b6726a8e7689.mp4

[2022-09-09 12:33] scruffian commented on #42856
I can confirm this is now fixed.

[2022-09-09 12:33] #42856 closed, assigned to nobody

[2022-09-09 12:34] carolinan commented on #43130
SVG is not a supported file format for the logo. Until WordPress core _officially_ supports uploading svg's securely, I think this needs to be labeled as a feature request, not a bug?

Related: https://core.trac.wordpress.org/ticket/24251

[2022-09-09 12:48] javierarce opened #44030 "The show icon toggle of the Navigation block display section doesn't dissapear"
### Description

The show icon toggle doesn't disappear when the user disables the Overlay Menu:

### Step-by-step reproduction instructions

1. Create a menu with the Navigation block
2. Switch from "Mobile" to "Off" in the segment control of the Overlay Menu section

The show icon toggle doesn't disappear, even though there's no overlay menu.

### Screenshots, screen recording, code snippet

htt

[2022-09-09 13:22] TCook20 commented on #28444
To echo what others have said. I am pulling in styling from a design system where button components are applying the class to `a` or `button` so applying the class to the wrapper creates some really odd behavior. Would love to see some movement on this issue.

[2022-09-09 13:40] ntsekouras commented on #43440
https://github.com/WordPress/wordpress-develop/pull/3223

Backports changes for `build_query_vars_from_query_block` from:
- https://github.com/WordPress/gutenberg/pull/43590
- https://github.com/WordPress/gutenberg/pull/40933

[2022-09-09 14:20] #43780 closed, assigned to jorgefilipecosta

[2022-09-09 14:39] Thelmachido commented on #36330
Hi @briceduclos it looks like @oandregal gave more information about the issue you were having and how to resolve that.

I believe it is safe to mark this as resolved, if the suggested Rest API isn't working as expected please feel free to open the issue.

[2022-09-09 14:39] #36330 closed, assigned to nobody

[2022-09-09 14:48] Thelmachido commented on #35795
I'm still able to reproduce this, the experience is still the same. If you edit a link and then click on submit the popup closes.

- WordPress 6.0.2
- Gutenberg version 14.0.2
- Twenty Twenty-Two theme

This is a post to track the comment made on this PR, I will remove the stale label and add a few others

[2022-09-09 15:24] annezazu commented on #43877
Doing more testing for fun - At first it was super snappy using Safari. However, when I tried replacing template parts and attempting to scroll or search, everything totally froze:

https://user-images.githubusercontent.com/26996883/189385718-c680735f-f119-43ba-9b89-e2e77415f041.mov

Might be related: https://github.com/WordPress/gutenberg/issues/43760

[2022-09-09 15:25] luisherranz commented on #43664
It's not a bug, but the way the web works 🙂

Even sites made with JS frameworks that don't need to do a full page reload [scroll to the top by default](https://twentytwenty.frontity.org/). Not doing so feels weird, but I understand that your use case is different because there is content at the top, and users can lose their context.

I think the easiest solution for your use case would be to add a

[2022-09-09 15:25] annezazu commented on #43760
I can replicate this with Safari. The above is with Chrome. Seems browser specific!

[2022-09-09 15:26] annezazu commented on #43664
Thanks @luisherranz for diving in! Going to close this out as expected.

[2022-09-09 15:26] #43664 closed, assigned to nobody

[2022-09-09 15:41] #44030 closed, assigned to Mamaduka

[2022-09-09 15:41] LukaszJaro commented on #43764
This is cool, is there a beta available for this I can try out?

[2022-09-09 15:56] vncntdvrs commented on #43664
Thanks everybody for jumping in, I guess jumping to the top makes sense for blog-pages but maybe not so much for instances with content on top or instances that showcase multiple query loops.

I have a feeling your suggested solution is a bit over my head. Would I need to do this for every results page? or could I add some code so that every "query loop next page click" stays in place for any next

[2022-09-09 15:56] Thelmachido commented on #36733
Looks like this was resolved,  I wasn't able to reproduce this issue on my screen of the same size as shown below:

- WordPress 6.0.2
- Gutenberg version 14.0.2
- Twenty Twenty-Two theme

https://user-images.githubusercontent.com/41231764/189389582-702327db-a614-4d12-9116-c38e2693df30.mov

Closing this as resolved

[2022-09-09 15:56] #36733 closed, assigned to nobody

[2022-09-09 15:59] bradhogan commented on #39371
@glendaviesnz re: mobile `clamp()` option, I think that should work, just need to test it a bit.  And that's not currently available right?  It'll be pushed out with the updates you've been working on?

[2022-09-09 16:03] Thelmachido commented on #37158
I wasn't able to reproduce this issue when Gutenberg was active and deactivated as shown in the short video below:

https://user-images.githubusercontent.com/41231764/189391652-44e3ef00-5797-4937-a329-2ba29feb0e0f.mov

- WordPress 6.0.2
- Gutenberg version 14.0.2
- Twenty Twenty-Two theme

I will close this issue as resolved for now

[2022-09-09 16:03] #37158 closed, assigned to nobody

[2022-09-09 16:12] scruffian commented on #35524
This is now possible, though we still need to add the aspect ratio controls. Let's close this in favour of https://github.com/WordPress/gutenberg/issues/38990

[2022-09-09 16:12] #35524 closed, assigned to nobody

[2022-09-09 16:12] scruffian commented on #38990
When we get round to this we should add the same tools to the Post Featured Image block.

[2022-09-09 18:23] ciampo commented on #40392
Are the [colors defined in the `UI` object ](https://github.com/WordPress/gutenberg/blob/95816949e28a6ec1c6fc0bdc3c31432c98a22e44/packages/components/src/utils/colors-values.js#L46-L60) still relevant, or do they need some cleanup too?

[2022-09-09 18:28] ciampo commented on #43760
I definitely encountered this problem in the site editor while testing the Popover component, on latest Chrome on MacOS.

[2022-09-09 18:32] spencerfinnell commented on #43760
I have seen this as well, in Chrome. Sometimes the tab completely crashes, other times there is a lot of lag. Chrome `105.0.5195.102 (Official Build) (arm64)`

[2022-09-09 19:17] simono commented on #25077
@asolopovas  Maybe a bit off-topic here… But did you make sure that the call to [`registerBlockType`](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-registration/#registerblocktype) is still in place and bound to the correct object (`window.wp.blocks`)?

[2022-09-09 20:12] mediaformat commented on #20731
I'm working with `saveEditedEntityRecord`, but unless a schema is defined in `register_setting()` it results in a 400 Bad request. I'm working with dynamic data, so would like to find a way around this, or another method of setting wp_options.

[2022-09-09 22:50] fullofcaffeine opened #44040 "Some global styles not updating"
### Description

Some styles are being reverted just after you save the page after setting them. Currently, there's no way to apply some global style for the `heading` and/or `button` elements.

### Step-by-step reproduction instructions

This seems to happen only if either pre-conditions are a true:
- admin on multisite install
- DISALLOW_UNFILTERED_HTML is defined and truthy
- Any role with edit

[2022-09-10 00:49] brezocordero commented on #34845
Thanks for the mention and to everyone that has looked into this. 🙌

In our plugin we are including the `CustomSelectControl` without a `ToolBarItem` inside of a `BlockFormatControls`
it does work but we would like to follow the recommendations and remove the warning.
This is our [current code](https://github.com/mailpoet/mailpoet/blob/f62229eff40e6c9814ebe13c7764c4cc50926bb5/mailpoet/assets/js/sr

[2022-09-10 00:57] sb726 opened #44041 "Add multiple taxonomy options to the query block"
### Description

After upgrading from 6.0.1 to 6.0.2 the filtering functionality within the query loop on the editor stopped working when trying to filter category pages according to a custom taxonomy

### Step-by-step reproduction instructions

Using a child theme of Blockbase the following worked with version 6.0.1 but not version 6.0.2

1. Create a custom taxonomy using advanced custom fields (