[2021-10-20 14:24] #30574 closed, assigned to DAreRodz

[2021-10-20 14:39] Mamaduka commented on #35762
Hi, @oandregal

Did you get a chance to test my latest findings?

[2021-10-20 15:00] Mamaduka commented on #27093
The title in the top bar doesn't work well with long texts, as we discovered in #34512. This UI works in Site Editor since templates usually don't have long names.

I think @shaunandrews was [exploring](https://shaunandrews.com/2021/09/the-wordpress-editor-document-status-and-visibility/) moving a title in the Document sidebar.

[2021-10-20 15:08] #35708 closed, assigned to oandregal

[2021-10-20 15:13] chad1008 opened #35807 "Preview crashes the editor (intermittent)"
### Description

Under certain conditions, the preview can crash the editor when previewing mobile/tablet and then switching back to desktop.

This isn't consistent and in my tests seems to happen most often when the post content is empty, but there may be more nuance to it than that.

_note: much of this issue is copied from @worldomonation's original [here](https://github.com/Automattic/wp-calyp

[2021-10-20 15:14] simison commented on #20797
I just learned that iframed content was enabled in mobile & tablet previews already: https://github.com/WordPress/gutenberg/pull/33342 —that's fantastic idea that hopefully exposed the iframe to more testing. :-)

[2021-10-20 15:30] them-es commented on #33665
This issue should be solved once https://github.com/WordPress/gutenberg/pull/35668 has been merged 🤞

[2021-10-20 15:34] cr0ybot opened #35808 "Replace hardcoded breakpoint values with CSS custom properties for front-end styles"
## What problem does this address?

The standard 600px hardcoded breakpoint for the core/columns block poses a not-insignificant problem for theme developers. We either have to work with that specific breakpoint, integrating it with our design system, completely remove core Gutenberg front-end styles, or otherwise hack around the CSS which no-one enjoys doing.

## What is your proposed solution?

[2021-10-20 15:41] joyously commented on #30496
Just a little nitpick (Nickpick?)

I can't find where you can draft a theme change. I've often wanted to, but the Customizer only shows the Save Draft when making changes to the active theme, not a Live Preview theme.

[2021-10-20 15:47] richtabor opened #35809 "Gallery block is not properly displaying 100% wide when fullwidth (not 1:1 with the editor)"
### Description

The Gallery block (**not the new Image block version**) is not properly rendering on the front-end of a site, when set to fullwidth. I've tested this with a number of themes, both block and classic. This example is with the TT1 Blocks theme.

The new iteration of the block using flex, but that element is not set to 100% width. This makes the block stop when its maxed out on width

[2021-10-20 16:00] gwwar commented on #35632
Re: performance I think that one was mostly about us limiting requests to 100 per page, and trying to fetch all resources. (many many requests). We could pre-load the endpoint, but I think it might be reasonable to think through limits on what we display for the PageList.

In the navigation block we intend it to be a quick start for a nav menu (which we assume to be somewhat limited), and outside

[2021-10-20 16:22] pbking commented on #35549
I'm afraid this is still an issue, but only when the navigation overlay menu is set to 'mobile'.

Reproduced with emptytheme on /trunk of Gutenberg:

[code]

Editor (correct):
<img src="https://user-images.githubusercontent.com/146530/138132340-d22f7580-f60f-44bf-9193-5ce3e658756b.png" width=200>

View (not correct):
<img src="https://user-images.githubusercontent.com/146530/138132140-0bc688bd-374

[2021-10-20 16:27] jasmussen commented on #35549
<strike>That could be related to an issue Ben reported as well. I'll take a look, thanks.</strike>

I'm commenting on it! Perfect. And thanks for the steps to reproduce, it appears on the frontend only, when the block has responsiveness:

<img width="650" alt="Screenshot 2021-10-21 at 09 20 33" src="https://user-images.githubusercontent.com/1204802/138230358-05fdeace-3f31-4e70-84ec-8082ebf1c229.pn

[2021-10-20 16:35] timelsass commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-20 16:38] oandregal commented on #31616
Personally, I see this as an enhancement to do after other things are shipped (UI, etc). We also may want to do this differently, like not introducing a new notation but by inspecting the values ourselves.

[2021-10-20 16:51] #31489 closed, assigned to oandregal

[2021-10-20 17:01] jameskoster commented on #27093
I like that exploration a lot, but the sidebar is not always open, so I think we should at least _print_ the document title in the top bar as well. We can use [text-overflow](https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/) to truncate really long titles.

[2021-10-20 17:11] Mamaduka commented on #27093
I agree, just moving the title in the sidebar won't do it.

We're using the `Text` component with `truncate` in Navigation Screen.

https://github.com/WordPress/gutenberg/blob/1e17b5a5b4a3117e843dde015c128361c5ae059e/packages/edit-navigation/src/components/header/menu-actions.js#L42-L51

[2021-10-20 17:13] skorasaurus commented on #35808
related previous discussion (https://github.com/WordPress/gutenberg/issues/19460)

I too think this should be revisited.

[2021-10-20 17:19] camilopbam commented on #34867
Wanted to add that this issue seems to be happening only on Chromium-based browsers. Firefox and Safari are safe.

[2021-10-20 17:29] oandregal commented on #35762
Oh, interesting. I've just checked [remove_theme_support](https://github.com/WordPress/wordpress-develop/blob/1d0e4441c108d854d6f1c7c8842eefb5140c4608/src/wp-includes/theme.php#L2920) and it just removes the property from the global. It's reasonable to think theme authors don't expect this to work because `remove_theme_support` never worked that way, instead we had to add things like `add_theme_su

[2021-10-20 17:29] #35762 closed, assigned to Mamaduka

[2021-10-20 18:00] coreyworrell opened #35811 "Option to disable inline style for Group block"
## What problem does this address?

When using the "Inherit default layout" option for a group block (currently the only way to allow inner blocks to have wide/full alignment options), extra styles are appended to the DOM right after the group. Some themes do not need these extra styles (think CSS grid) and the `<style>` element in the DOM messes with some styles (`.wp-block-group + .whatever`).

[2021-10-20 18:01] jameskoster commented on #27093
Oh nice, I didn't know about that. We should be able to do the same thing here, right?

[2021-10-20 18:06] Mamaduka commented on #27093
Yes, we can use the same method here.

[2021-10-20 18:17] bph opened #35812 "Placeholder options not aligned in columns"
### Description

When adding an image into a column of a Columns block the place holder adopts to the size of the column. The placement of screen elements is a bit hap hazardous. As you can see from the screenshot,

- the title of the block is left aligned,
- the **"Upload"** button is centered,
- the **Media library** link is left aligned again and
- the button **Insert from URL** is centered aga

[2021-10-20 18:31] cmorgannorris commented on #9898
Just ran into this issue when using FontAwesome JS on some blocks.

[2021-10-20 18:42] mreishus commented on #33712
Since it's a selection bug, it can occur with anything that operates on selections, not just bolding text. For example, links:

https://user-images.githubusercontent.com/937354/138152502-11e1d83b-528e-45a2-8483-0f0d55f1133c.mp4

[2021-10-20 19:41] chthonic-ds opened #35814 "Button block: two "Change alignment" icons in toolbar"
### Description

Two "Change alignment" icons are displayed in the Button block toolbar.

They offer different options:

- None, Wide width, and Full width
- None

### Step-by-step reproduction instructions

1. Add a Buttons block.
2. Select the default button to reveal the Button toolbar.
3. Observe two "Change alignment" icons are displayed.

### Screenshots, screen recording, code snippet

![bu

[2021-10-20 19:45] abder commented on #31913
I am the only author of all commits of my github user

[2021-10-20 20:09] mirka opened #35815 "BorderRadiusControl: Improve element alignment"
Follow-up issue after #35646

The Unlink button is currently aligned to flex-start, which is presumably to have it stay put when the corners are all unlinked. This was less noticeable in the previous design, but due to the taller input control it now looks more clearly misaligned in the linked state.

It would probably be better to:

- [ ] Center align the Unlink button with the first row of input

[2021-10-20 20:11] mchowning commented on #31913
Thanks @DOUARA. I take that to mean that you were also the "co-author" (abderrahman@abderrahmans-macbook-air.local) on the 056319d commit you authored. I appreciate you confirming. 🙇

[2021-10-20 20:26] mreishus commented on #35041
@chad1008 This should be solved by #35055 which is now merged.

[2021-10-20 20:51] paaljoachim commented on #33349
Hey there is a PR that is being worked on here: https://github.com/WordPress/gutenberg/pull/35787

An easy way to test the PR is following this method: https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/

[2021-10-20 20:53] paaljoachim commented on #31011
Check out the PR here: https://github.com/WordPress/gutenberg/pull/35787

An easy way to test the PR is following this method: https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/

[2021-10-20 21:33] #35366 closed, assigned to glendaviesnz

[2021-10-20 21:38] carlomanf commented on #35806
#29173 is related.

[2021-10-20 23:43] franmastromarino commented on #35556
hello @skorasaurus

have you been able to reproduce the bug?

[2021-10-20 23:43] franmastromarino commented on #35270
hello @talldan

have you been able to reproduce the bug?

[2021-10-20 23:47] mkaz commented on #31815
Relative links work in the editor, but we need to translate the `/wp-content/themes/theme-name` part to use the equivalent of `get_template_directory_uri()`

So I'm wondering if a solution could be to support a variable in place, something like:
`{{ template_directory_uri }}/assets/flying-bird.jpg`

[2021-10-20 23:53] RayHollister commented on #2764
THANK YOU! This was driving me crazy! I had users that were trying to copy the permalink. If they clicked it, it took them to the "/?p=458" address, and if they right-clicked it and copied, they'd get a URL with "(opens in a new tab)" at end of it!

I dropped your code into my child theme's functions.php and it worked like a charm!

[2021-10-21 00:04] sKopheK commented on #10124
hi, happened to me as well out of blue after a common update of a post. getting blank page when editing for most of my posts.
WordPress 5.8.1
Yoast 17.4

[2021-10-21 00:30] tellthemachines commented on #35795
I'd expect the behaviour to be consistent whether the URL is actually changed or not; my preference would be for it always closing when submit is clicked, but I'm not sure if it was implemented as it is for a reason, so would be good to have some more info on that!

[2021-10-21 00:36] tellthemachines commented on #34041
👋 Is any work currently in progress on including transforms inside the link popup, or adding a control to the Nav sidebar to show more blocks? If not, do we have an idea of which of these options we'd rather explore? I'm happy to work on a POC but don't want to be duplicating efforts if anyone is already on it.

[2021-10-21 01:33] scheinercc commented on #13154
@javierarce testing it again, I find these issues:

I pasted the following code
[code]

which resulted in these huge spaces (due to the inlined `white-space: pre-wrap;` ):
<img width="1441" alt="image" src="https://user-images.githubusercontent.com/817856/138195587-63f46238-2de0-428b-8d07-3a0ea55e6589.png">

I then manually removed all the spaces used for code indentation
<img width="718" alt="ima

[2021-10-21 01:47] allancole commented on #33956
I’m not sure if this is on the roadmap but in the future how will we deal with site designs where the content area needs to be aligned to the left or right? It seems it should be possible to add a "contentAlignment" parameter to theme.json.

Maybe something like this could go in theme.json:

[code]
And then it could output something like this:
[code]

Visual example:

![image](https://user-images.

[2021-10-21 01:49] kevin940726 commented on #35512
Then what should we do with the preview options? If the focus mode is not a screen, then I think those preview options like "Desktop", "Tablet", and "Mobile" no longer makes sense? Should we hide them altogether in the focus mode?

[2021-10-21 02:51] pablohoneyhoney commented on #35357
Neat conversation into these details!

I’m not sure if there are current discussions about this in particular but we had comments on how placeholders (for clarity: the empty block state) need to evolve.

I’ve reproduced the embed issue above and it works similarly in a hosted and self-hosted environment, at least for me. This is something it’s been explored in P2 as well, since we need to provide

[2021-10-21 03:23] #35249 closed, assigned to kevin940726

[2021-10-21 04:22] carolinan commented on #32386
The more I work with the site editor, this is becoming more of a problem, because I keep forgetting that I have to do two steps, and then I wonder why my changes are not applied...

[2021-10-21 04:27] glendaviesnz commented on #35814
I was able to replicate this on trunk and tt1-blocks.

[2021-10-21 04:38] warudin commented on #35114
Since examples are needed, I’m just adding my question to @carolinan on Twitter here:

“Is it the objective to be able to configure every option in core blocks through theme.json?
It would be so helpful to be able to preconfigure things like text alignment, vertical alignment, block alignment, block width, media position, and so on..”

discussion: https://twitter.com/dqipijnenburg/status/145090551

[2021-10-21 05:08] andrewserong commented on #35376
Another potential workaround (if #35450 doesn't appear to be viable) would be for us to swap out the `rawHtml` usage in the edit view of the Post Content block (when it's a child of the Query block) and render as blocks instead. It might not be as performant, but might (in theory?) be a workaround. I'll continue hacking away at it tomorrow.

[2021-10-21 05:22] #35748 closed, assigned to Mamaduka

[2021-10-21 05:43] noisysocks commented on #30496
From the WPTavern article:

This sounds reasonable to me. I'd like to see a PR or patch which explores how feasible it is.

[2021-10-21 05:48] Mamaduka commented on #35807
I was able to reproduce the issue, and it's mostly consistent when using reproduction steps.

## Details
[code]

https://github.com/WordPress/gutenberg/blob/a0c59f2ae2caeac94adcc1dbbe965d9851dcf907/packages/components/src/popover/index.js#L458-L468

## Screenshot
![CleanShot 2021-10-21 at 09 45 36](https://user-images.githubusercontent.com/240569/138218743-fa674204-f7b3-4e23-bfcd-de8c638550e5.png)

[2021-10-21 06:23] talldan opened #35818 "Navigation Block - improve placeholder flow"
## What problem does this address?
#35746 would introduce the concept of saving a navigation block's data to a separate post type, similar to how a template part works.

That PR introduces an extra step in the block setup. First you create or choose an existing 'Navigation menu':
<img width="625" alt="Screenshot 2021-10-21 at 2 22 03 pm" src="https://user-images.githubusercontent.com/677833/138222

[2021-10-21 06:41] swissspidy commented on #10124
Reach out to Yoast SEO support please.

[2021-10-21 07:05] Mamaduka commented on #35814
It is probably related to #35341.

[2021-10-21 07:24] talldan commented on #35664
I think I've just seen this bug too. A few people were flagging it on my PR, and I was concerned it was something I'd done, but I think it's also in `trunk`. It has been experienced in the site editor, but is more easily seen in the post editor by following the steps I mention here - https://github.com/WordPress/gutenberg/pull/35746#issuecomment-948329110

[2021-10-21 07:34] jasmussen commented on #35549
Thanks for the patience. Actual fix in #35820.

[2021-10-21 07:43] NobNob opened #35821 "Bad link to v11.7.1 changelog in the readme file"
### Description

In the updated string of the readme file for version 11.7.1, the link points to the 11.7.0 changelog:

`To read the changelog for Gutenberg 11.7.1, please navigate to the <a href="https://github.com/WordPress/gutenberg/releases/tag/v11.7.0">release page</a>.`

### Step-by-step reproduction instructions

As example, here is the string for **es_ES** at translate.wordpress.org:

http

[2021-10-21 07:46] jasmussen commented on #34041
Not that I'm aware of, of have seen PRs of, no, and I think it'd be great to take a stab at it. Happy to help in any way I can.

Of the suggestions mocked up above, my instinct would be that surfacing a few key transforms right in the URL picker might be the most potent, as it's right there when you'r building:

<img width="920" alt="transforms" src="https://user-images.githubusercontent.com/12048

[2021-10-21 08:47] jasmussen commented on #33640
Just to get the conversation flowing, in the future, colors will leverage [the ItemGroup component](https://github.com/WordPress/gutenberg/issues/35093) and be grouped like a stack of color rows. Shown here, with 3 different verbiage suggestions:
<img width="364" alt="Option 1" src="https://user-images.githubusercontent.com/1204802/138242372-e1950a41-0b85-411d-8bde-6f38cfc4ff93.png">
<img width="3

[2021-10-21 08:48] Mamaduka commented on #35807
I've somewhat a naive solution for this issue, but I will give it a go 😄

I am assigning this issue to myself for now.

[2021-10-21 09:01] lgladdy commented on #32148
This issue also affects Advanced Custom Fields blocks.

[2021-10-21 09:15] talldan commented on #35664
Here's an easy way to repro:
1. Open the site editor
2. Select the Header from List View
3. Change colors from the sidebar
4. Click save. Observe that the sidebar only shows changes to the Header template part
5. Save those changes
6. Reload, observe changes are lost.

I did a git bisect and managed to track the issue down to #34241.

[2021-10-21 09:16] sophiegyo opened #35826 "Social Icons block: Customizer > Widgets view button is distorted, can't add link."
### Description

Issue:

When managing widgets from Customize > Widgets, the social icons block has distorted buttons (100% width) and the URL inserter won't show.

It works fine from widgets.php, and when the Gutenberg plugin is disabled, it works fine in Customize > Widgets too.

It only happens when the plugin is active.

### Step-by-step reproduction instructions

1. Make sure you're using Gut

[2021-10-21 09:20] SantosGuillamot commented on #35000
As mentioned in [this Pull Request](https://github.com/WordPress/gutenberg/pull/35743) and [this related issue](https://github.com/WordPress/gutenberg/issues/35732), we should consider how to handle when comments are closed in a post. If I understood it correctly:

* We should show a "Comments are closed" message if comments have been opened previously.
* We shouldn't show a "Comments are closed"

[2021-10-21 09:26] jameskoster commented on #35512
I think the main value in those previews is the width rather than the height. But perhaps we could try something like this:

<img width="1205" alt="Screenshot 2021-10-21 at 10 25 39" src="https://user-images.githubusercontent.com/846565/138250165-8e94707d-bf2b-4a32-9935-b9b11a29937d.png">

[2021-10-21 09:42] #35341 closed, assigned to ntsekouras

[2021-10-21 09:42] #35814 closed, assigned to nobody

[2021-10-21 10:41] #35549 closed, assigned to jasmussen

[2021-10-21 10:43] aristath commented on #35797
Using the latest `trunk` I can't replicate the issue so maybe this has already been fixed? 👀

[2021-10-21 10:47] markhowellsmead commented on #35797
@aristath Using a completely clean install of 5.8.1 (without the plugin) and Twenty Twenty-One with no customisation, I can definitely reproduce it. (Also if I install the latest public version of the plugin.)

The same issue applies for the padding control: switching to 'em' for both column padding and column width, _but leaving the value field blank_, produces `padding-top:em;padding-right:em;pa

[2021-10-21 10:54] aristath commented on #35797
Ah OK... This only happens if I choose a preset with equal columns-size - in which case the width values are empty by default.

[2021-10-21 11:33] getdave opened #35830 "Add e2e test to cover using TAB to move focus into the Link UI."
In https://github.com/WordPress/gutenberg/pull/33849#issuecomment-946599448 we discovered it is easy to introduce a regression whereby you cannot transfer focus from the RichText into the Link UI using TAB.

Let's add an e2e test to cover that scenario.

[2021-10-21 12:09] #30571 closed, assigned to carolinan

[2021-10-21 12:17] getdave commented on #34041
@tellthemachines @jasmussen The work to achieve this is likely to be quite involved. I've looked into:

1. Trying to render a hierarchical list of Pages in the `<LinkControl>`.
2. Rendering a transform UI within the `<LinkControl>`.

`#1 will require a number of major modifications to the `<LinkControl>` to allow it to retrieve and render data different when we are looking for `Pages`. The current

[2021-10-21 12:21] paaljoachim commented on #35758
Yep. It is a problem that is known but not fixed yet. Here is some discussion about it:
https://github.com/WordPress/gutenberg/issues/29398

Here is another issue: https://github.com/WordPress/gutenberg/issues/29398

[2021-10-21 12:24] #35753 closed, assigned to kevin940726

[2021-10-21 12:45] gziolo commented on #35000
Nit: I think that the name of the block should be Comment Template block to align with Post Template block. There is a plural form "Comments" in the title. It looks like we should have all blocks necessary for the template ready quite soon. Some blocks landed/were updated recently, the remaining are in progress but in very advanced stage.

[2021-10-21 13:06] jasmussen commented on #34041
To clarify, the transform UI could be a separate effort to the hierarchical page list.

I'm not fully qualified to speak to this, so forgive me if the question here lacks nuance: could the "show 3 recent items" be extracted as a component consumed by most link interfaces, and just replaced with a "show pages" item? Or how integrated does the suggestion component have to be in order to function? As

[2021-10-21 13:10] jameskoster commented on #31747
Digesting the conversation in https://github.com/WordPress/twentytwentytwo/issues/123, I wonder how much we need to surface the technical differences between template parts and patterns.

Another approach would be to allow folks to choose an existing header template part _or_ a header pattern as part of a single "replace" flow:

https://user-images.githubusercontent.com/846565/138284204-ae2d2c57-4

[2021-10-21 13:28] richtabor commented on #34352
I like "Synced Blocks" because the function is in the name; synced blocks are synced together — edit one, edit all. Update the UI to have an "Unsync" control and its very clear.

"Global Blocks" is fine, but it also insinuates this block is available site-wide, which is not what we're attempting to communication.

[2021-10-21 13:38] #35808 closed, assigned to nobody

[2021-10-21 13:43] getdave commented on #34041
If we're going to make these UI changes universal across all instances of Link UI then that makes it somewhat easier. Were you envisaging these UI updates landing for WP 5.9?

[2021-10-21 13:43] ndiego commented on #34352
Ok so it seems like we have two frontrunners, "Global" and "Synced".

Stepping back a bit, there is a separate debate over the use of "Content" or "Block", since currently a reusable block can be a single block, or a collection of multiple. Because of this, it does make sense to use "Content" over "Block". However, I am concerned about introducing another term. We already have block, pattern, and

[2021-10-21 13:55] ndiego commented on #35776
I am biased, but I agree and recommend dropping all ES5 examples. I feel it is better to spend the effort educating new users on how to use JSX and more modern approaches to building with WordPress.

[2021-10-21 14:04] jasmussen commented on #34041
Through rose colored glasses I had hopes, but I recognize it's probably not that realistic with a week or so to go for the freeze. That's also why I suggested that the transforms interface at the bottom could be, potentially, a small first step.

[2021-10-21 14:18] skorasaurus commented on #35330
#34843 has been merged into trunk, closing.

As an example; if you want to include a specific align-wide block whether the theme has declared wide and full-align support through theme.json (which it automatically does when you declare the values of layout.contentSize or wideSize)
you can do the following:

[code]

[2021-10-21 14:18] #35330 closed, assigned to nobody

[2021-10-21 14:25] alshakero commented on #34729
I'm working on this and I think I've find a good solution. I'll send a PR shortly.

[2021-10-21 15:31] ockham commented on #35632
Potential fix in https://github.com/WordPress/gutenberg/pull/31670.

[2021-10-21 15:39] leahkoerper commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-21 15:44] mrwweb opened #35839 "Link Shortcut and Link Pasting Don't Work on Image Block"
### Description

I expect that I can make links on images the same ways I can for text. The three ways provided for text are:

- Link button in block toolbar
- CTRL/CMD + K
- Paste a link

Only the first way works right now.

When using the shortcut, the browser search bar gets focused.

When pasting, the image block turns into an embed block.

### Step-by-step reproduction instructions

1. Create

[2021-10-21 15:53] kevin940726 commented on #35512
That's an interesting idea! I guess I should start doing some POC and experiments? Is there any precedent of that _transparent_ background anywhere?

[2021-10-21 16:05] markhowellsmead opened #35840 "CSS Custom Properties on BODY lead to DOM inheritance issues"
### Description

Classically, the assignment of CSS Custom Properties begins at the top-level (or "root") element through the use of `:root`. This is common usage and allows the values to be inherited down through the DOM tree.

_(It is also one of the methods by which the popular IE11 polyfill `css-vars-ponyfill` works. I realise that IE11 support is being dropped from WordPress Core, but solving

[2021-10-21 16:17] markhowellsmead commented on #35840
(Aside: I've looked it up, and we're talking about `WP_Theme_JSON::ROOT_BLOCK_SELECTOR` (wp-includes/class-wp-theme-json.php).

[2021-10-21 16:23] alshakero commented on #34729
PR ready https://github.com/WordPress/gutenberg/pull/35841

[2021-10-21 16:29] jameskoster commented on #34352
The name "synced blocks" certainly helps distinguish reusable blocks from block patterns, and has some other nice improvements in terms of the UX. As mentioned above "Unsync blocks" is much more elegant than "Convert to regular blocks".

However it doesn't really help distinguish reusable blocks from non semantic (general) template parts, which is similar point of confusion in the site editing con

[2021-10-21 16:59] jameskoster commented on #35512
Not in Gutenberg, but it is fairly common in design software.

Another option would be to use a border, kind of like Figma:

<img width="1161" alt="Screenshot 2021-10-21 at 17 57 58" src="https://user-images.githubusercontent.com/846565/138323429-aee22a15-9c63-4b14-a354-f29087a4b8b1.png">

But this might make it seem like the entire canvas is the header, which obviously it is not.

A POC sounds li

[2021-10-21 17:04] kjellr commented on #35551
Adding this to the 11.9 milestone because it's pretty broken for now.

[2021-10-21 17:11] spacedmonkey opened #35845 "Do not hard code 100 in apiFetch fetch-all-middleware"
## What problem does this address?
In the apiFetch, fetch-all-middleware the number of items is hardcoded as 100.
 https://github.com/WordPress/gutenberg/blob/01532a8a17612a2725bfb9237e396f3f27b11296/packages/api-fetch/src/middlewares/fetch-all-middleware.js#L87-L94

However, for custom endpoints, it is possible to filter / change this value to something different.

## What is your proposed soluti

[2021-10-21 17:18] TimothyBJacobs commented on #35845
This is exposed via the schema `maximum` definition for the `per_page` argument.

[2021-10-21 18:02] cr0ybot opened #35848 "Replace hardcoded breakpoints in front-end CSS with more modular CSS"
## What problem does this address?

Hardcoded screen width media queries like the 600px breakpoint for the core/columns block poses a not-insignificant problem for theme developers. We either have to work with that specific breakpoint, integrating it with our design system (even if we don't agree with pixel-based breakpoints https://github.com/WordPress/gutenberg/issues/16911), completely remove c

[2021-10-21 18:55] kjellr opened #35849 "Flex Layout: Allow control over vertical alignment of children"
The current flex layout controls allow us to specify the horizontal justification of child items:

<img width="177" alt="Screen Shot 2021-10-21 at 2 51 15 PM" src="https://user-images.githubusercontent.com/1202812/138338963-fa44632c-22db-46c6-bb2f-0da05611c7c6.png">

As a pair to that, we should have the ability to specify the vertical alignment of children too (`align-items`). We can probably reu

[2021-10-21 19:04] dingo-d opened #35852 "Block patterns loading inconsistently"
### Description

When I register custom blocks and want to use them in the editor, sometimes they render out fine in the dropdown, and sometimes I only see the name of the pattern.

And no errors in the console, or debug log.

### Step-by-step reproduction instructions

1. Create a custom pattern
2. Create a custom pattern category
3. Remove core patterns (because they don't fit with what we want

[2021-10-21 19:24] spacedmonkey commented on #33420
I have a PR to fix this ticket at #35850. It requires upstream changed to be merged into core.

[2021-10-21 19:27] kjellr opened #35854 "[Post Date] Block controls don't show custom date formats"
It's possible to use the block markup to customize the date format for the post date block. For example:

[code]

^ This will display _only_ the month. Formats like this are valid markup, and are interpreted just fine by the editor, except they're not correctly shown in the date format dropdown. If you use a custom format here, the field will just have the default selected:

<img width="278" alt="

[2021-10-21 19:59] shaunandrews commented on #27093
Here's a example of how it could work with the title being editable in the sidebar, while also having the title in the top bar as a shortcut for opening the sidebar and focusing the title input:

https://user-images.githubusercontent.com/191598/138347448-f5efb4f1-95a6-4ecd-83d4-eaa3b11a6f9e.mp4

If we move to use Tools Panel for the document sidebar, we could also include an explicit option in the

[2021-10-21 20:04] spacedmonkey commented on #35845
I know that, but from what I can see, in javascript, it would require another call to the REST API to get schema data.

[2021-10-21 20:20] overclokk commented on #35708
@oandregal sorry, I miss this issue, the second thing you have only to verify that when you add the style into the theme.json and change that value from the Gloal Styles Interface in admin (in the example above is the font size of the post-title) the value generated and saved by the Global Styles Interface is correct.
Let me know if you need more info.
Thank you.

[2021-10-21 22:01] Sifrqitt commented on #35730
As soon as I upgraded the Gutenburg plugin to the latest 11.7.1 , from the previous version 11.6.0, the fonts displayed in the editor no longer match my theme fonts, they seem to have reverted to some default fonts (see attached picture). I don't like it at all because I like my theme fonts, so I will be reverting to the previous version of Gutenburg, until this is fixed.

Using latest Wordpress v

[2021-10-21 22:06] dmsnell commented on #6394
I believe that this would resolve #21406 if we get it in.

[2021-10-21 22:16] dmsnell commented on #6394
I'm very interested in making this happen, or at least figuring out if we can make it happen. I tried an approach with a `ListItem` block, the only allowable nested block for the `List` block. This is visible in the screenshot below.

<img width="1216" alt="Screen Shot 2021-10-18 at 6 48 56 PM" src="https://user-images.githubusercontent.com/5431237/138363687-f9c2d3b3-4698-4a37-966d-dc68c22faa6a.pn

[2021-10-21 22:33] ZebulanStanphill commented on #34352
@ndiego

Well, a grouped set of content (which is what reusable blocks are) is, conceptually, a "block of content". So yeah, I think it would be better to stick with the term "block" over the far-more-generic "content". Reusable blocks are, on both a technical and interface level, literally single blocks (that contain other blocks). If calling it a "__ block" is redundant, then calling it "__ cont

[2021-10-21 22:41] creativecoder commented on #30758
Note that I added some screenshots to the issue description to illustrate the issue:

| **Before** | **After** |
| - | - |
| <img width="280" alt="image" src="https://user-images.githubusercontent.com/1699996/138366552-fe2fa372-f946-4746-a547-b5e10d07450f.png"> | <img width="282" alt="image" src="https://user-images.githubusercontent.com/1699996/138366573-2d8e954c-9cb1-4654-b3e4-3f751e9caa31.png">

[2021-10-21 23:21] noahtallen commented on #35630
Yeah, compatibility is definitely a big issue with the current approach. There is clearly an expectation (from JS developers) that one can rely on `package.json` to define compatible versions, but this expectation is not met by DEWP (by design :)). In a way, `@wordpress/` packages are more peer dependencies provided not by a consuming application but by the WordPress environment. Developers specif

[2021-10-22 00:51] gsallman commented on #35713
@chthonic-ds  I'll do some more testing. I'm noticing the same problem on all the sites I look after now. I'll also reach out to the Astra Team. One thing, probably just a coincidence but both your and my menus with missing items both have five items on them...

[2021-10-22 02:32] carolinan commented on #35852
-Is it the same pattern that doesn't load? What happens if you remove all patterns except the erroring?
Did you confirm that the pattern is valid?
Do they work if you enable Gutenberg?

[2021-10-22 02:42] carolinan commented on #35768
Mini cart is not a WordPress core or Gutenberg block, so you would need to contact the developer of that block.
This conflict can not be tested, as we need more information about the custom block.

[2021-10-22 02:46] carolinan commented on #35765
I can confirm this issue, it is a common problem for me when I edit texts, I would love to see this fixed.

[2021-10-22 02:52] carolinan commented on #35560
Hi
Can you help me understand the steps to reproduce this?

You mention front page- do you mean that the first theme is non-FSE theme with a `front-page.php` file?
And the second theme does not have a front-page.html template?

I would expect it to fallback to index.html. 🤔

[2021-10-22 03:06] talldan commented on #33908
I think this was fixed by https://github.com/WordPress/gutenberg/pull/34565. Thanks for flagging. I'll close it, but feel free to reopen if you can still reproduce.

[2021-10-22 03:06] #33908 closed, assigned to nobody

[2021-10-22 03:09] talldan commented on #35768
Seems like a legit issue. This is where the nav block is overriding `onload`:
https://github.com/WordPress/gutenberg/blob/ff468f242c1e72a4d254429dba5e0294c6ce9281/packages/block-library/src/navigation/view.js#L92-L97

It could as you say use `addEventListener` or keep a ref to the previous `onload` and make sure it triggers it.

[2021-10-22 03:13] brigdev commented on #21954
This is still an issue. For what it's worth, applying a style override in editor styles worked for me (horrible hacky solution and hopefully not a long term one).

`.my-button-style` and `--my-background-colour` not being real names of course!

[code]

[2021-10-22 04:24] carolinan commented on #35768
I wasn't trying to say that it was not a legit issue, but that more information about which "mini cart" block is used.
Without that the reproduction instructions can't be followed.

[code]

[2021-10-22 04:59] tellthemachines commented on #34041
Thanks for sharing this @getdave ! I wasn't thinking of tackling the hierarchical page list though, just the part where we showcase a few transforms to make it easier to jump from basic, link-only nav to a more complex one.

I just did a very rough POC of adding a few transforms to the bottom of the link control: #35857

It'll need some styling if we want to go with this approach, but I thought I'

[2021-10-22 04:59] RaeesBhatti opened #35858 "WP_Block_Parser not returning attributes"
### Description

I'm trying to parse `post_content` using `parse_blocks` which uses `WP_Block_Parser` to get block attributes but it's returning an empty `innerBlocks` array.

### Step-by-step reproduction instructions

Following the [example at `parse_block` documentation](https://developer.wordpress.org/reference/functions/parse_blocks/#comment-3702)

* Create a post with the following as raw co

[2021-10-22 05:01] #35807 closed, assigned to Mamaduka

[2021-10-22 05:06] RaeesBhatti commented on #35858
The variable type of `[attrs]` property is NULL.

[2021-10-22 05:21] RaeesBhatti commented on #35858
Never mind! I was working with "slashed" `post_content` which was throwing off the JSON parsing.

[2021-10-22 05:21] #35858 closed, assigned to nobody

[2021-10-22 06:06] github-actions[bot] opened #35862 "[Flaky Test] Should NOT show Columns transform only if selected blocks are more than max limit(6)"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should NOT show Columns transform only if selected blocks are more than max limit(6)

## Test path
`specs/editor/various/block-switcher.test.js`

## Errors

<time datetime="2021-10-22T06:06:34.188Z"><code>[2021-10-22T06:06:34.188Z]</code></time> Test passed after 1 failed at

[2021-10-22 06:10] oandregal commented on #35821
:wave: Javier. Thanks for the report.

We missed updating that link during the release process. I've changed it [yesterday in our repo](https://github.com/WordPress/gutenberg/commit/05554af4ebc32b2d3a21f534c36d9da0a9f74f88) but that change won't be out to translate until we do a new release. Fixing an existing release is a bit convoluted and doing a v11.7.2 seems too much for this. We'd rather foc

[2021-10-22 06:16] andrewserong commented on #35376
I've started a WIP workaround PR for this issue in #35863 and noted some of the known issues with the approach. I'll continue hacking around on Monday to see if it looks viable!

[2021-10-22 06:23] oandregal commented on #35708
:+1: so unless I'm missing something, it's working as intended.

[2021-10-22 08:18] #31704 closed, assigned to Mamaduka

[2021-10-22 08:31] LittleBigThing commented on #35758
@paaljoachim This idea is slightly different, I think, because it suggests to have a link to the homepage of the site.
In the discussion in #29398, as linked above, it is more about a live preview or a link to the page/post/anything you are modifying.

[2021-10-22 08:41] draganescu opened #35868 "Explore storing a JSON representation of menus in the CPT"
Following up from the exploration on making the navigation block rely on reusable data (#35746), compatibility with classic menus and data interoperability seem like obvious next steps to explore.

Storing navigation as blocks in the `wp_navigation` post type may be challenging for:

- using menus to create site maps
- serving menus via API endpoints
- easily migrating from classic menus  to block

[2021-10-22 08:42] talldan commented on #35768
I didn't say you weren't trying to say it wasn't a legit issue 😄

You're right, better testing instructions would be good 👍

Does look like a fairly easy code quality issue to fix that'll help the nav block to play nicely with plugins.

[2021-10-22 08:53] jameskoster commented on #27093
Just noting that we probably shouldn't expose the Post Title toolbar like this, since all of the properties therein are tied to the template rather than the post itself. IE it's not possible to move, transform, change alignment, etc in this context.

In other words we'll need to come up with another way to toggle the visibility of the title. I think we can probably do that in a follow-up though, a

[2021-10-22 08:55] javierarce commented on #32400
Added a new enhancement to the list: [#35764 Missing (visual) list styling in Table Block cell editor](https://github.com/WordPress/gutenberg/issues/35764)

[2021-10-22 08:55] javierarce commented on #13154
@scheinercc I think the problem you describe will be handled by the [enhancement request you created](https://github.com/WordPress/gutenberg/issues/35764) (thanks for that, by the way… I've added it to the [tracking issue](https://github.com/WordPress/gutenberg/issues/32400)), whereas this issue was more about fixing the basic list rendering (but I'd love to read more opinions about it).

[2021-10-22 09:06] dingo-d commented on #35852
Patterns are valid, as they render out fine when I select them. The issue doesn't come from a pattern. Sometimes one is showing, sometimes not, and the same for others. I cannot reproduce the bug with any consistency, which makes this super hard to debug.

I haven't tried it out in a plugin, just the core editor so far.

[2021-10-22 09:08] isaumya commented on #26914
Hi @talldan,
Any update on the matter? Also, I don't think it would be a good idea to keep the old links with `noreferer noopener` and then the new links will only have `noopener`.

The reason behind this is if there is no migration to automatically change the old links from `noreferer noopener`  to just `noopener` then people will still use codes like:

[code]

To get rid of the `noreferrer` from

[2021-10-22 09:19] draganescu commented on #35521
Updated the issue with @talldan 's [listed follow-ups](https://github.com/WordPress/gutenberg/pull/35746#issuecomment-949283858).

[2021-10-22 09:43] github-actions[bot] opened #35873 "[Flaky Test] Should reset dimensions on change URL"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should reset dimensions on change URL

## Test path
`specs/editor/blocks/image.test.js`

## Flaky rate (_estimated_)
`1 / 2` runs

## Errors

<details>
<summary>
	<time datetime="2021-10-22T09:43:08.910Z"><code>[2021-10-22T09:43:08.910Z]</code></time>
		Test passed after 1 f

[2021-10-22 09:45] JohannesHoppe commented on #34867
I can confirm this bug, it's super annoying...

[2021-10-22 09:51] priethor commented on #33248
I'm adding this to the 5.9 must-haves because alignment tools are one of the top features in this release, and one of the most prominent pieces of feedback received during the Go/No Go demo was to ensure editor<->frontend parity as much as possible.

[2021-10-22 09:53] talldan commented on #26914
@isaumya No update from me. I'm not assigned to this issue.

[2021-10-22 09:58] Clorith opened #35874 "Ensure the Customizer is available for plugins or theme options when using a FSE theme"
### Description

When using a theme that declares support for Full Site Editing (uses `theme.json`), the _Customize_ options are hidden (you can still access the Customizer directly with a link).

This would require plugins or themes that wish to continue using options to implement their own links, creating multiple entry-points to a core feature, and potential user confusion/frustration.

### Ste

[2021-10-22 09:58] isaumya commented on #26914
Sorry. Hey, @adamsilverstein any update on this issue?

[2021-10-22 10:50] #35224 closed, assigned to carolinan

[2021-10-22 10:52] #35769 closed, assigned to carolinan

[2021-10-22 11:25] Addison-Stavlo commented on #33908
I gave it a quick test and it seems to be fixed.  Thanks @talldan !

[2021-10-22 11:42] overclokk commented on #35708
Perfect 🙂

[2021-10-22 11:59] Sandstromer opened #35878 "Categories block - consider option of showing only child categories of current parent"
## What problem does this address?
Being able to use the Categories block in the archive or category template, but only list the child categories of the current parent category would be awesome, rather than only having the current option of showing all categories.

## What is your proposed solution?
Add an option to limit displayed categories to only children of the current parent category.

[2021-10-22 12:32] carolinan commented on #30029
Do we just add an empty example in index.js to these blocks, and adjust the width for some?

I can't figure out how to create an example as shown in the images.
For example, the site tagline shows the placeholder text from edit.js, and I don't think that text should be changed to "Just another WordPress site"

[2021-10-22 12:48] jameskoster commented on #30029
We've recently updated the placeholders, so we might want to close this issue in favor of one that concentrates on the previews.

The Site Tagline block for example still doesn't have a preview:

<img width="678" alt="Screenshot 2021-10-22 at 13 44 34" src="https://user-images.githubusercontent.com/846565/138456034-a1b942ba-e35c-43f7-b37f-74c7564b6439.png">

[2021-10-22 12:48] #33665 closed, assigned to nobody

[2021-10-22 12:53] carolinan commented on #30029
The comment I added above is all about that preview. So a new issue wont help me contribute towards making the preview look like in the image :).

Adding a width to block.json, or the empty example to index.js, displays the current tagline.
If there is no tagline it displays the placeholder text from edit.js which is "Write site tagline…".

[2021-10-22 13:03] jameskoster commented on #30029
Ah sorry, I think I misread your comment.

Is this definitely the behaviour we want, contextual previews? Given our current handling of placeholders the previews could end up being a bit lacklustre. Like the "Write site tagline..." example you shared. As another example, if a featured image isn't set you would end up seeing something like this:

<img width="640" alt="Screenshot 2021-10-22 at 14 00

[2021-10-22 13:11] carolinan commented on #30029
But how? :)
For example, this is the paragraph block. The post/site blocks do not have the "content" attribute.
[code]

[2021-10-22 13:12] carolinan commented on #30029
And I can't find any documentation for the "example" setting in block creation. Guess what shows up if I search for block.json example 😆

[2021-10-22 13:21] jameskoster commented on #30029
Good question :D I'm sorry to say I don't know. Perhaps we need to enhance the `example` functionality in order to account for these data-driven blocks?

[2021-10-22 13:25] ellatrix commented on #6394
This will be a very interesting challenge, but one I'm not super eager to take on. I'd be more than happy to review work on it though.

Yes, rich text currently handles all of it. Hopefully one day we can reduce complexity in rich text by removing multi line values.

[2021-10-22 13:25] carolinan commented on #30029
Yes we probably need to invent something new.

[2021-10-22 14:21] grogou commented on #35768
Sorry @carolinan I will give you more information next time. Thank you.

[2021-10-22 14:22] grogou commented on #35768
It is something easy case so I didn't think we need something more explanation.

[2021-10-22 14:25] grogou commented on #35768
Mini Cart is Woocommerce block, so I will remember it is not recognized block for Gutenberg.

[2021-10-22 14:47] #35730 closed, assigned to oandregal

[2021-10-22 14:54] bvlgn commented on #34352
Global blocks makes most sense IMHO
Or maybe Site Blocks (they work site wide, just like e.g. the Site Icon).
Or maybe Shared Blocks?

I think that 'Synced Blocks' is still confusing to regular users

[2021-10-22 15:08] carolinan commented on #35768
That's what I figured, but there is more than one with that name 😄

[2021-10-22 15:09] kjellr opened #35884 "Editor text has no default left/right margin unless theme opts into site-wide padding"
If a theme does not opt into site-wide padding through theme.json, and the user does not specify site padding through Global Styles, the post/page editor currently provides no left/right margins to prevent text from bumping up against the edges of the screen:

<img width="898" alt="Screen Shot 2021-10-22 at 11 00 42 AM" src="https://user-images.githubusercontent.com/1202812/138477796-34fd32ef-ce88

[2021-10-22 15:51] shaunandrews commented on #35512
I think the device-specific preview menu doesn't really make sense in the context of editing a template part in isolation; There's no way (currently) to know the intended width of a template part, and its not always defined but the width of the viewport or device. Instead, the width of a template part depends on its parent container. This could be the root of a document, but it could also be a ver

[2021-10-22 15:51] priethor commented on #35521
#29401

Thanks for flagging that one, @carolinan! I've added it to the Navigation Block project board as a ToDo item. However, I would recommend not including bugs in tracking/overview issues, as they are more oriented to provide a feature roadmap, and including bugs makes it harder to grasp the overall progress of projects regarding their scope.

[2021-10-22 17:15] jorgefilipecosta commented on #35640
Yes I'm closing this since we already have separate issues. We have a fix for both available at https://github.com/WordPress/gutenberg/pull/35670.

[2021-10-22 17:15] #35640 closed, assigned to jorgefilipecosta

[2021-10-22 17:18] gwwar commented on #32311
closed by https://github.com/WordPress/gutenberg/pull/35706

[2021-10-22 17:18] #32311 closed, assigned to nobody

[2021-10-22 17:18] gwwar commented on #32823
Closed by https://github.com/WordPress/gutenberg/pull/35706

[2021-10-22 17:18] #32823 closed, assigned to nobody

[2021-10-22 17:43] kjellr commented on #31747
I really like this. It might be cool to list both templates and patterns in a continuous scrolling list (with headers for each section if we want them) rather than making folks click specifically into patterns from the sidebar.

[2021-10-22 18:50] zaguiini commented on #33538
Hi @javierarce,

Is this the final design? Is it ready to be worked on?

[2021-10-22 19:04] jhnstn opened #35888 "[RNMobile] Improve how URLs are populated in embed blocks from device clipboard"
## What problem does this address?

While testing iOS 18.5 I noticed when adding a YouTube embed block with an Instagram url in my clipboard, the link input was auto populated with the domain name (instagram.com) cut off from the view. When I inserted the block an Instagram block appeared. I didn't expect the YouTube embed to accept a url from another embed service. It was also difficult to know I

[2021-10-22 20:24] scruffian opened #35889 "Navigation: Centered navigation items not centered when the overlay menu option is set to mobile"
### Description

In the navigation block, when the the overlay menu option is set to mobile, centered navigation items are not centered.

### Step-by-step reproduction instructions

- Add a navigation block
- Set the overlay menu to "Mobile"
- Set the item justification to "center"
- The items are left aligned

### Screenshots, screen recording, code snippet

This is evident in the Seedlet Blocks

[2021-10-22 21:28] paulwilde opened #35890 "Add support for setting widget areas as dark (darker background, light content)"
Unless I'm mistaken, there is currently no support for setting a sidebar widget area as having a dark background, therefore changing the content and appender to a lighter  colour.

In the main post editor this is typically handled by using the `.is-dark-theme` CSS class.

Currently this is how a widget area looks with the background colour set by manually styling the `background-color` for `[data-

[2021-10-22 21:40] iandunn commented on #32939
Another random small thing would be linking to the homepage. In a classic theme I'd use `home_url()`, but it seem like in FSE I have to hardcode the production URL. My local domain is different than prod, so the link is broken locally.

_( I'm talking about a regular link that's outside a nav menu. )_

Adding a separate block for every template tag seems like a lot of clutter, but maybe a single b

[2021-10-22 22:39] thomasplevy commented on #7960
Passing on the love from my support team who's asking me how I can fix this because our users are still doing this fairly regularly.

[2021-10-23 02:03] ramonjd commented on #35604
Can anyone expand on this point?

The [question came up](https://github.com/WordPress/gutenberg/pull/34064/files#r734321351) as to whether we should be removing font-family from blocks that have already opted in, e.g., Buttons in https://github.com/WordPress/gutenberg/pull/30394

If we remove to remove font-family opt ins I think we'll need to update the deprecations for the following blocks (base

[2021-10-23 08:49] t-hamano opened #35894 "BlockPopover position is shifted when InspectorControls are placed before BlockEdit"
### Description

I used `editor.BlockEdit` filter to add my own control to the top of the sidebar, and here is code:

[code]

It is working as desired, but I have encountered a symptom where the `BlockPopover` does not appear in the correct position under certain conditions.

Is this behavior a bug? or should the `Inspectorcontrol` be placed after the `BlockEdit` component?

### Step-by-step repro

[2021-10-23 21:21] jbasdf commented on #8317
I keep getting the error "ReferenceError: page is not defined". Was this ever resolved?

[2021-10-23 21:34] hellofromtonya commented on #35756
Sure @getdave. Once the namespace is stabilized ([see Timothy's comment above](https://github.com/WordPress/gutenberg/issues/35756#issuecomment-946974745)) and he's 👍 with it, then it needs a Trac ticket and patch for commit (I can help with all of these).

[2021-10-23 22:13] lindsayweb commented on #8322
Absolutely need the ability to select a file link when using the button block. I currently have to open a separate window to go to the media library, find the file, copy the URL, go back to the button page, paste the URL.

The file block isn't the solution. It's common to need a button group that can be text links and file links together (like "Download PDF" and "Contact Us" side by side). Very fr

[2021-10-23 22:42] paaljoachim commented on #7960
Hey Thomas @thomasplevy

I am hoping that @ribaricplusplus might be able to help out with the stalled PR: https://github.com/WordPress/gutenberg/pull/25187#issuecomment-950226769

[2021-10-24 02:47] github-actions[bot] opened #35897 "[Flaky Test] Should add and save the marquee widget"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should add and save the marquee widget

## Test path
`specs/widgets/editing-widgets.test.js`

## Errors

<time datetime="2021-10-24T02:47:26.273Z"><code>[2021-10-24T02:47:26.273Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/guten

[2021-10-24 03:19] alexstine commented on #35440
Hello @talksina ,

Thank you for the report.

I think what is happening is you may not be waiting enough time for JAWS to focus in the title field. E.g. when you select Add Post, the default behavior is to focus the Add Title field. However, I do agree that this implementation is a problem and I find it quite clunky with the latest JAWS version. I'm going to open a pull request here shortly which

[2021-10-24 06:31] gziolo commented on #35627
It might be one of the warnings that is going to be no longer reported starting from React 18
because it often is a false positive. See more in https://github.com/facebook/react/pull/22114.

[2021-10-24 08:55] elettrona commented on #35440
Hello, I sent an issue to Gutenberg and not to WordPress as if I
deactivate the Gutenberg 11.x plug-in it seems to work. But maybe this
issue can be solved adding a proper ARIA role to the title "editable
heading"?

[2021-10-24 12:10] richtabor commented on #35438
I came here to report this as well.

[2021-10-24 13:02] TimothyBJacobs commented on #35845
I'd much rather we do a preflight request than adding additional information piecemeal as headers. The schema is really the place for it to be documented. This is how we handle the batch endpoints `maximum` requests for instance.

[2021-10-24 14:51] neilorangepeel opened #35901 "Editor crash when editing themes default color palette values"
### Description

Via the full site editing editor, editing one of the themes default color palettes values results in a blank white screen.

### Step-by-step reproduction instructions

1. Fresh installation of WordPress Version 5.8.1 or higher.
2. Fresh install of Gutenberg plugin.
3. Install any Full Site Editing theme. (e.g. TT Blocks).
4. Head to 'Site Editor' > 'Styles' > 'Colors' > 'Palette'

[2021-10-24 14:53] mkaz opened #35902 "Validation issues with block.json in a few core blocks"
## What problem does this address?

When adding the schema definition to core blocks in https://github.com/WordPress/gutenberg/pull/35900 it highlighted the following validation errors in a few core blocks.

I'm not sure if the issues are with the schema definition or invalid properties in the block.json each will need to be investigated, adding this ticket so they are not lost.

- [x] Button bloc

[2021-10-24 15:02] mkaz commented on #32939
The Home Link block was created for linking to the homepage, but there are numerous other PHP function/values that will be useful in templates. Here is a related issue highlighting a similar need: https://github.com/WordPress/gutenberg/issues/31815

[2021-10-24 15:44] bph opened #35903 "Geologist (Blockbase) conflicts with Yoast SEO in GB 11.8 RC 2 in single post view"
### Description

After I created a post and publish it I ran into the error message (see below)

A video https://recordit.co/eaT3lSetEY

**Error message:**
Fatal error: Uncaught ArgumentCountError: Too few arguments to function {closure}(), 1 passed in /app/public/wp-includes/class-wp-hook.php on line 305 and exactly 2 expected in /app/public/wp-includes/script-loader.php on line 2447

ArgumentCou

[2021-10-24 18:37] alexstine commented on #35440
@talksina Would you be interested in testing the fix? You can test the fix at this link.

http://gutenberg.run/35898

You can also install this .zip file of the latest plugin. I've attached it to my comment.

[gutenberg.zip](https://github.com/WordPress/gutenberg/files/7406051/gutenberg.zip)

Thanks.

[2021-10-24 19:52] elettrona commented on #35440
Hello! Both tested on your side, and downloading the ZIP file on my
staging platform.
It seems to work now!
I tested on posts and pages - in the stage i have not installed other
plugins such as glossary or other fun.
Let me know about further developments!

[2021-10-24 20:53] blogtutor commented on #34352
I welcome a name change here, but I'm not in favor of "synced." As others have said, that implies an _activity_ of synchronization that doesn't make sense to me in this context, and this could cause more confusion.

"Global" may not be clear or intuitive to non-technical users.

"My blocks" implies that it's tied to the individual user's account.

**My preference is "Sitewide"** -- to me this is t

[2021-10-24 22:11] mkaz opened #35905 "Update top-level README for Block Editor Handbook"
## What problem does this address?

[The current top-level page for the Block Editor Handbook](https://developer.wordpress.org/block-editor/) is geared towards the post editor being the primary Gutenberg tool, with the upcoming release of WP 5.9 the Block Editor Handbook covers many topics beyond just the post editor.

## What is your proposed solution?

I'm open to suggestions on what to include.

[2021-10-24 22:17] celloexpressions commented on #30496
The customizer is a framework for live previewing any change to a site. This framework contextually shows and hides features based on criteria such as the theme-supports and active_callback APIs. Block themes are fully compatible with the customizer framework as-is: they do not support additional customizer features and those features are automatically hidden.

**Until there is full compatibility

[2021-10-24 23:00] celloexpressions commented on #32075
In using version numbers for galleries, please remember that the "classic" editor has its own gallery shortcode (pre-block) that also comes with a different set of markup. Themes and plugins need to handle all three versions of markup (although some v2 content will transform to v3 with migration proposed here). This issue is essentially about migrating from v2 to v3, while v1 retains the classic m

[2021-10-24 23:19] celloexpressions opened #35906 "Galleries: drag & drop reordering broken in the media library"
### Description

When inserting a gallery from the media library, the last step is a screen that allows items to be reordered with drag and drop. This works as expected in WordPress 5.8 without the Gutenberg plugin enabled. This appears to currently be broken when testing with 5.9-alpha and Gutenberg 11.7.1. I tested both with and without the gallery refactor experiment. Images can be dragged, but

[2021-10-24 23:23] celloexpressions commented on #34881
Noting that [the dev note](https://make.wordpress.org/core/2021/08/20/gallery-block-refactor-dev-note/) does not mention anything about this being an experiment that needs to be enabled. I just spent a bunch of time testing with what I've now confirmed was the previous version of the gallery block (using 5.9-alpha with plugin version 11.7.1). Others have likely made the same mistake and confirmed

[2021-10-24 23:32] celloexpressions commented on #35874
As I elaborated on #30496, there isn't feature parity for core customizer features yet, so it's premature to hide the customizer for block themes regardless of plugins or themes adding options to the customizer. Doing so also breaks core features. Any conditional logic to hide the customizer should be removed for now (for 5.9).

I would also point out that the current conditionals only hide some o

[2021-10-24 23:33] noisysocks commented on #29630
I spoke with @kellychoffman and this is awaiting one final design iteration. @kevin940726 has graciously volunteered some of his time to do the dev once we land on a design.

[2021-10-25 00:33] celloexpressions commented on #1651
I would like to request that this issue be reopened to revisit the concept of a curated dynamic content (featured content) block. This would essentially be a "manual" query block. Instead of showing posts from a specific query, users could select specific posts to show in a post list. Ideally this would include UI that allows users to select posts without having to find the post ID. This is a way

[2021-10-25 00:51] celloexpressions commented on #13164
@glendaviesnz The gallery block refactor (or another recent change) appears to change the behavior for media library images inserted with no alt attribute. They now get `alt"=Image gallery image"` on every image. In WordPress 5.8, they retain empty alt attributes. It seems like that is "arbitrary text", which is not helpful as explained above. That may be a slightly different issue than the link d

[2021-10-25 01:00] tellthemachines commented on #35818
One thing that might be confusing is the apparent repetition between "Choose existing" (navigation block) and "Add existing menu" (classic menu). Ideally we have a single-step placeholder, but just putting all the current options of the two placeholders together won't work very well. Would be great to have some design thoughts on this! Cc. @jasmussen

(I assigned myself the issue as I'm happy to d

[2021-10-25 01:02] celloexpressions commented on #805
Because playlist feature parity is a prerequisite to enabling the block editor for audio-oriented post types (and sites), I looked into creating block patterns with content embedded in classic blocks. This bizarrely works, and inserts a blank classic playlist "block" placeholder embedded in a classic block:

[code]

Clicking on the placeholder's edit icon opens the media modal UI for uploading/sel

[2021-10-25 01:05] celloexpressions commented on #30711
Thanks for working through this @glendaviesnz. The required CSS updates are much more involved than what you show above to address different post formats and customization options that this theme supports; however, that is a helpful starting point.

From the original testing report:

The most substantial backwards compatibility issue still present is stemming from the disappearance of the `data-id

[2021-10-25 01:06] talldan commented on #35818
Yeah, that is definitely confusing.

Perhaps the 'Add existing menu' option could be rephrased to something like 'Copy existing menu', and the dropdown could include both the new navigation menus and classic menus.

[2021-10-25 01:42] celloexpressions opened #35907 "Gallery Refactor: Restore data-id attribute for image blocks"
### Description

Block gallery image markup has included a `data-id` attribute on each gallery image `<img>` tag since WordPress 5.0. This attribute includes the image attachment post object's id for images hosted locally in the media library. It allows plugins and themes to access other structured data related to the image through the core `attachment` post type. This can be used in both PHP and

[2021-10-25 01:43] celloexpressions commented on #35907
Also pinging @glendaviesnz on this.

[2021-10-25 03:31] andrewserong commented on #35604
I can see a good argument for hiding in local contexts to avoid inconsistent styles across a site. However, with folks building a variety of different patterns and template parts into sites, I could imagine a site using different font families for Heading blocks (for example) within post content versus within a large footer or a banner-ad style Cover block used for subscriptions. (Think a more dec

[2021-10-25 04:00] ritvikos opened #35909 "Real Time Logs and Online Users"
## Problem Statement:
When a website grows to a certain size, its owners, particularly individual creators may have certain concerns.
And they may be frightened that someone else has hacked their site and changed the configurations or updated their articles.

## Proposed Solution Overview:
Incorporating real-time online users and Login/Sign-In Logs onto the WordPress Top Right Side of the Top Bar,

[2021-10-25 04:57] Robertght opened #35910 "Image blocks with www links append the site's base URL to the link."
### Description

This is a replica of this report https://github.com/Automattic/wp-calypso/issues/57305

---

### Quick summary

If you add a link to an image in Gutenberg with the www prefix, the link will appear on the live site with the base URL of the WordPress site appended to the link address.

### What you expected to happen

The link should follow the same behaviour as links added in parag

[2021-10-25 05:18] anjadeubzer commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-25 05:24] carolinan commented on #29630
Is there a place where we can see the proposal?

[2021-10-25 05:28] Mamaduka commented on #29630
@carolinan I think these are the official posts about the proposal - [part 1](https://make.wordpress.org/design/2021/10/15/site-editing-ia-concepts-how-to-surface-and-access-new-features/) and [part 2](https://make.wordpress.org/design/2021/10/22/site-editing-ia-concepts-part-2/).

[2021-10-25 05:39] noisysocks commented on #35662
Fixed by https://github.com/WordPress/gutenberg/pull/33744.

[2021-10-25 05:42] vdwijngaert commented on #27093
Okay guys, I'm back from my little Gutenberg-burnout, it seems :)

I resumed work on #31288, and it looks like it is functionally ready for [part 1 as described](https://github.com/WordPress/gutenberg/issues/27093#issuecomment-946607869) by @paaljoachim.  I updated the code to reflect the changes made to `DocumentActions` from the Site Editor package.

I also had to go ahead and update the layout

[2021-10-25 06:11] #34855 closed, assigned to nobody

[2021-10-25 06:19] andrewserong commented on #35376
I think I've fixed most of the issues in #35863 (there's an odd one when clicking between blocks within a Query Loop block, but I believe the issue appears on trunk, so could be something for us to look into separately). I'll keep chipping away at this PR, but happy for feedback if anyone has any on the approach!

[2021-10-25 06:21] jasmussen commented on #35604
Keeping in mind that it's very easy to flip the switch from hidden to surfaced, and that users can always click the ellipsis to add the control on a per-block basis, I do like the idea of starting simple and with as little as possible, then we can always revisit and toggle controls if we find it to be necessary.

In the case of the heading block, it reminds me of a separate issue that we really sh

[2021-10-25 06:32] shimon246 opened #35912 "Error in register_block_style when should_load_separate_core_block_assets is turned on."
### Description

I get an error with register_block_style when I turn on should_load_separate_core_block_assets.
(= `add_filter( 'should_load_separate_core_block_assets', '__return_true' );` )

## Code
[code]

## Error message
`Fatal error: Uncaught ArgumentCountError: Too few arguments to function {closure}(), 1 passed in /var/www/html/wp-includes/class-wp-hook.php on line 305 and exactly 2 expec

[2021-10-25 06:34] jasmussen commented on #35818
Some of the dynamic behavior of the new interface is still a little beyond me so forgive me if I'm slow to pick this up, and please correct what I get wrong, thank you. As I understand it:

- In the first step you can choose to link to an existing cpt-saved menu which when edited syncs all the way round, whether being edited in the block or the screen.
- If you click "new", it's just the block as

[2021-10-25 06:54] andrewserong commented on #35604
Good point, Joen! Yes, being able to set font family (or other styles) by heading level would likely resolve that use case in many instances of it, I’d imagine. (The cases I’ve found on a couple of different sites used h3/h4 in the footer but h2 in the post content, so they’re a good fit).

[2021-10-25 07:28] talldan commented on #35764
This seems like it's close enough to  #13154 to be considered a duplicate. @scheinercc is there a reason a new issue is needed?

[2021-10-25 07:30] talldan commented on #35909
@Ritvik-UX Thanks for reaching out with this feature request.

As this seems like a general WordPress feature, the right place to report this would be https://core.trac.wordpress.org/.

This github repository is for changes relating to Gutenberg and the block editor.

Would you be happy to create a new trac ticket for this? It'd be worth searching for existing tickets too, as someone else might ha

[2021-10-25 07:30] #35909 closed, assigned to nobody

[2021-10-25 07:41] jasmussen commented on #35889
Excellent report, turns out right aligned was also broken. Both are fixed in #35913.

[2021-10-25 07:56] talldan commented on #35818
This step does create a new 'wp_navigation' post. It's based on the flow when adding a new Template Part block.

It could be an option to move the naming of the post until after having clicked 'Start empty' or 'Add all pages'. So there would be one step to the placeholder with the following options:
- 'Use existing menu' - dropdown contains both the new 'wp_navigation' posts and classic menus. If

[2021-10-25 08:04] youknowriad commented on #35884
I think this is a side effect of the removal of the `8px` padding we had around the canvas. So how should this work? add this padding for the "post editor" only?

[2021-10-25 08:36] gziolo commented on #35902
It looks like changes proposed in https://github.com/WordPress/gutenberg/pull/35900 helped to find valid issues. I can confirm that `templateLock` is missing a type. @oandregal, can you help validate the reported violation for the Global Styles related support?

`viewScript` is a new property waiting to be included in WordPress 5.9 and it still needs to be documented. The work on it is being track

[2021-10-25 08:46] gziolo commented on #35902
@ryanwelcher, this could be also useful to add the `block.json` schema to the blocks present in https://github.com/WordPress/gutenberg-examples.

[2021-10-25 09:03] SchneiderSam commented on #32386
Same here. I have very many problems with this process.

[2021-10-25 09:22] getdave commented on #35756
@TimothyBJacobs @hellofromtonya Ready for review here https://github.com/WordPress/gutenberg/pull/35915

[2021-10-25 09:42] jasmussen commented on #24480
There's some conversation on fluid typography in #34641 as well, and [this codepen](https://codepen.io/joen/pen/eYRQyPZ) showcases a CSS only solution that could potentially inspire things here.

[2021-10-25 09:44] jasmussen commented on #33640
#35916 fixes this one, at least temporarily. The comment above suggests using ItemGroups, perhaps even splitting out the colors. That is something we can look at still. But in the mean time, the PR makes the labels more clear.

[2021-10-25 09:50] jasmussen commented on #34511
Took a stab in #35917.

[2021-10-25 10:03] getsource commented on #35907
Hey @celloexpressions! Thanks for the report.

I looked into this a bit, and found discussion here:
https://github.com/WordPress/gutenberg/pull/25940#discussion_r618196856

[2021-10-25 10:08] getdave commented on #35750
Going to start documenting what I'm learning about this topic. Will update this post as I go:

## Current Menus Behaviour

### TL;DR

* Menu Locations are _arbitrary_ strings stored on a per Theme basis (e.g. `primary`, `secondary` but also `flibble-wibble`).
* Menu Locations have _some_ convention of `primary`, `secondary` but this is _not standardised_. [Some heavily used Themes](https://github.

[2021-10-25 10:12] hypest commented on #35888
WDYT @jd-alexander since you worked on the embed block on native? Is this perhaps intended behaviour?

cc @fluiddot for the FYI as you are on scheduled leave at the moment.

[2021-10-25 10:21] #35238 closed, assigned to nobody

[2021-10-25 10:24] Mamaduka opened #35920 "Audit Experimental APIs WP 5.9"
This issue list all experimental APIs in the editor(s). It was generated using @noisysocks' script from #28157.

The script overreports, but I think it's a nice way to highlight API usage across the packages.

The list is long, and we don't have to go through all of the items. However, the suggestion is the same - if you have introduced/used one of the APIs, please follow the steps outlined (by @y

[2021-10-25 10:39] #35889 closed, assigned to jasmussen

[2021-10-25 10:59] adamziel commented on #35045
@anton-vlasenko Yup, exactly! Just to let the developers know something is off. I think we could use [`@wordpress/warning`](https://www.npmjs.com/package/@wordpress/warning) here.

[2021-10-25 11:32] getdave commented on #35750
## Desired Behaviour / User Stories

I'm going to document below what I believe are the behaviours we want from navigations when switching Themes. I'm trying to represent these as user stories (`As a admin, when I X, it should see Y`):

### User Stories

#### User: website Admin

* As a website admin, when I switch Theme (either block or classic), I should (where possible) continue to see my exist

[2021-10-25 11:32] #35803 closed, assigned to anton-vlasenko

[2021-10-25 11:53] jameskoster commented on #31747
Yup, that's a good point. The technical distinction is probably bigger in my head than it is in any real-life user flows.

Do you think there's any value in users knowing whether an existing header or pattern was bundled with their theme versus being pulled in from the pattern directory? Or whether those existing headers/patterns should just be prioritised in the list order?

[2021-10-25 12:13] #33640 closed, assigned to jasmussen

[2021-10-25 12:14] kjellr commented on #31747
Yes, I do think some sort of distinction makes sense — whether that's a special section, a badge, etc. Whatever solution we come up with here might end up being relevant to https://github.com/WordPress/gutenberg/issues/35364.

[2021-10-25 12:17] carolinan commented on #35551
Is this the same as https://github.com/WordPress/gutenberg/issues/33248 ?

[2021-10-25 12:18] aristath commented on #33212
Just a note, these errors are now warnings (see PR in https://github.com/WordPress/gutenberg/pull/35914)

[2021-10-25 12:19] kjellr commented on #35884
To start with, we should definitely add it by default for non-block themes. That'll fix the regression aspect.

For block themes, I wonder if it makes sense to add a default padding value back in — when we removed it, there was no site padding control, but now it's a bit easier to specify that. And I think explorations like https://github.com/WordPress/gutenberg/pull/35919 will make the control ev

[2021-10-25 12:32] kjellr commented on #35551
Yes, I think it is. I'll close this in favor of that one, and add the details from this issue there. Thanks!

[2021-10-25 12:32] #35551 closed, assigned to nobody

[2021-10-25 12:32] ribaricplusplus opened #35923 "Meta box arrows do not move meta boxes between locations when the sidebar is not visible."
### Description

The issue was first mentioned in [this comment](https://github.com/WordPress/gutenberg/pull/25187#issuecomment-690703227), as part of fixing #7960.

I'm creating this issue as agreed in the PR #25187, we decided to deal with the problem later (https://github.com/WordPress/gutenberg/pull/25187#issuecomment-950357863 and https://github.com/WordPress/gutenberg/pull/25187#issuecomment

[2021-10-25 12:34] kjellr commented on #33248
Adding a few more details from the duplicate issue #35551:

This only happens in the post/page editor — I'm unable to reproduce in the Site Editor. If a Query Loop block uses layout settings, the non-selected posts in the list incorrectly inherit the following rule:

[code]

This leads to any non-selected post appearing incorrectly.

## Screenshots:

<img width="1415" alt="136964840-06bf2fcc-ca40-

[2021-10-25 12:34] #34511 closed, assigned to jasmussen

[2021-10-25 12:36] jasmussen commented on #35884
Could we add those 8px by default to lib/theme.json? If the "outer padding" aspect gets addressed, then it seems like it might thread the needle between a good default, theme control, and flexibility? Or am I missing a piece?

[2021-10-25 12:41] aristath commented on #7960
The PR on #25187 was merged, reopening this issue as per the comment on https://github.com/WordPress/gutenberg/pull/25187#issuecomment-950878704 👍

[2021-10-25 12:41] kjellr commented on #35884
Yeah, that's more or less what I'm thinking at this point too.

[2021-10-25 12:43] carolinan commented on #33248
When `Inherit default layout` is enabled for the query loop, the blocks do not move this way.
Edit: Actually they do if the post template is then also set to wide/full.

[2021-10-25 12:46] ribaricplusplus commented on #7960
Just to summarize, you can now move meta boxes between locations using the arrows on meta boxes. We're leaving this issue opened until we also get drag and drop working. Also keep in mind that the sidebar has to be visible #35923

For anyone working on the drag and drop problem, I outlined a possible solution here https://github.com/WordPress/gutenberg/pull/25187#issuecomment-950357863

[2021-10-25 12:47] gziolo commented on #35912
@aristath, I believe that `wp_enqueue_block_style` from #32510 tries to simplify the code shared in the example to reproduce the issue. Anyway, do you think it's something related to how `should_load_separate_core_block_assets` works?

[2021-10-25 12:52] ryanwelcher commented on #35902
The schema property was added with https://github.com/WordPress/gutenberg-examples/pull/167 - thanks @mkaz !

[2021-10-25 13:01] mkaz commented on #35902
@gziolo I like the idea of having it internal to Gutenberg repo.
What do you recommend a "@wordpress/schemas" package?

We would also want to include the theme.json schema. We can mirror any changes to the SchemaStore URL so any old URLs would still work, plus get better exposure if people look there first,. But the master version would live in Gutenberg repo.

Also, in Gutenberg it would get auto

[2021-10-25 13:17] Mamaduka commented on #35394
Hi, @aristath

Any ideas why we might be getting so many failures for this test on Github?

I tried to reproduce tests locally but had no luck. This is the command I'm using to run it multiple times:
[code]

[2021-10-25 13:18] adamziel commented on #35750
Would you elaborate on this one? I don't quite follow.

At the risk of sounding controversial: What are the downsides of migrating and assigning the old menus at "random"? Random could mean that the menu with most items goes to the `footer` slot, or the most clicked one goes to the `primary` slot. Are there any chances this would cover > 50% sites and provide a sensible defaults for the rest?

[2021-10-25 13:24] briceduclos opened #35924 "Navigation block: Add buttons block to the allowed blocks"
## What problem does this address?
The navigation block currently supports menu items  (page, post, custom, tag, category, ...) links, Social Icons, Spacer, and Search blocks (https://github.com/WordPress/gutenberg/issues/33278).

However, it’s currently not possible to add a button block while it’s a common feature to have a button inside the site’s header.

## What is your proposed solution?
All

[2021-10-25 13:27] aristath commented on #35394
No idea, no... However, when I was writing the test for [`iframed-multiple-block-stylesheets`](https://github.com/WordPress/gutenberg/blob/trunk/packages/e2e-tests/specs/editor/plugins/iframed-multiple-block-stylesheets.test.js), I noticed that a test which follows a similar logic is [`iframed-inline-styles`](https://github.com/WordPress/gutenberg/blob/trunk/packages/e2e-tests/specs/editor/plugins

[2021-10-25 13:31] Mamaduka commented on #35394
Sounds good. I can keep an eye on failures and disable tests if it's blocking the development 👍

[2021-10-25 13:31] aristath commented on #35912
Hmmm `wp_enqueue_block_style` refers to stylesheets while `register_block_style` is for the block-styles API, so I don't think these 2 are related 🤔

It could be... But using the code posted above I was unable to replicate an issue and therefore couldn't debug it.
I don't get any errors on my localhost with that code... Is the snippet perhaps missing something? Is that code added in an action/hook

[2021-10-25 13:32] gziolo commented on #35902
That's one of the options that could help with maintenance. There are also i18n related config files for `block.json` and `theme.json` that we could move there:
https://github.com/WordPress/gutenberg/blob/trunk/packages/blocks/src/api/i18n-block.json
https://github.com/WordPress/gutenberg/blob/trunk/lib/theme-i18n.json

Unless @mkaz or @ajlende know how to annotate the translatable fields directly

[2021-10-25 13:43] jd-alexander commented on #35888
Thanks for the ping @hypest This behavior is expected. On the web the Embed block performs this upgrade operation when varying providers are used on specific Embed variants.

[2021-10-25 13:44] jd-alexander commented on #35888
Thanks for sharing the proposed solution @jhnstn I will take a look at this behavior.

[2021-10-25 13:44] lwangdu commented on #35924
I would love to have option to add a button on the navigation block to.

[2021-10-25 13:51] getdave commented on #35750
Certainly. What I'm trying to convey is that if it isn't possible to map a Menu Location from the Classic Theme to any of the navigation areas in the new Block Theme, then we need to avoid a completely "broken" experience on the front end of the site. What I'm suggesting is rather than render an empty navigation, we simply render the top 6 Pages on the website as a fallback. We would also surface

[2021-10-25 13:57] #35675 closed, assigned to jorgefilipecosta

[2021-10-25 13:57] #35677 closed, assigned to jorgefilipecosta

[2021-10-25 14:05] shimon246 commented on #35912
@gziolo @aristath

Thanks for the comment.

Hmmm. The theme happens with Twenty Twenty-One.
TT1 and other block-based themes don't have the error, but they also don't have split loading 😣

I've never heard of the `wp_enqueue_block_style` function before.

It means that when I use `should_load_separate_core_block_assets` to load blocks separately, I should use `wp_enqueue_block_style` to load only

[2021-10-25 14:24] adamziel commented on #35868
My biggest question here is this: **Is it possible to write two functions `menu_json_to_blocks( $json )` and `menu_blocks_to_json( $blocks )` that will always work regardless of the theme or anything else?**

If yes, then the two formats are interchangeable and using JSON for storage would be just a matter of convenience.

If not, then things are getting interesting. I'm not sure about the implica

[2021-10-25 14:59] getdave commented on #35920
* `__experimentalFetchLinkSuggestions` - this has been around for some time now and during that time it has seemed stable enough. That said I've seen a few PRs come in recently requesting changes to how this works.
* `__experimentalFetchRichUrlData` - the [associated REST API code](https://github.com/WordPress/gutenberg/issues/35756) will be merged into Core for 5.9 so it seems as though this API

[2021-10-25 15:20] iandunn commented on #31815
Related https://github.com/WordPress/pattern-directory/issues/37, https://wordpress.org/openverse/

[2021-10-25 15:21] iandunn opened #35926 "Home Link block doesn't work well outside of menus"
## What problem does this address?

Menus aren't the only place that people add links to the homepage. For example, a `404.html` template could say:

When used in that kind of context, the link is wrapped in an unnecessary `li` tag and there's no corresponding `ul` (which isn't valid HTML).

I could wrap the block in a `ul`, but then I have to add extra CSS to reverse its styles, so that it doesn'

[2021-10-25 15:27] mkaz opened #35927 "Create a Schemas Package"
## What problem does this address?

Recently schema definitions for theme.json and block.json were uploaded to the SchemaStore.org ([theme.json](https://json.schemastore.org/theme-v1.json), and [block.json](https://json.schemastore.org/block.json)).

Using JSON schemas makes it easier for development. Supported editors can show tooltips, autocomplete, and validation issues. Documenation on using s

[2021-10-25 15:34] adamziel commented on #35868
**Blocks can already be represented equally well as either HTML or JSON.**

The following HTML:

[code]

Describes the same block as the following JSON:

[code]

In this way, JSON and HTML are just different, completely interchangeable expressions of the same data. Like JSON and XML. There are even existing functions to go from one to the other: `parse_blocks` goes from HTML string to a JSON-seria

[2021-10-25 15:45] ajlende commented on #35902
We could add custom fields to the schema file to indicate if the field is translatable or not. Some of the schemas in SchemaStore use a custom `markdownDescription` field ([used by VS Code](https://code.visualstudio.com/Docs/languages/json#_use-rich-formatting-in-hovers)) that isn't part of the schema spec, so I'd expect that most validators would just ignore invalid values rather than halting.

[2021-10-25 15:48] oandregal commented on #35902
Checked this one, which was added at https://github.com/WordPress/gutenberg/pull/33859 and it appears that `horizontal` & `vertical` are proper values. Checked the PR to schemastore and [those values](https://github.com/SchemaStore/schemastore/pull/1879/files#diff-3a1f85d1b8b80851fdf09435549f98726c13cddcad9975da1497b4fc137ff23eR333) are also there. Unfamiliar with the schemastore syntax but probab

[2021-10-25 15:49] oandregal commented on #35902
Same as button above.

[2021-10-25 15:52] adamziel commented on #35868
At the risk of stating the obvious: I was briefly thinking about a block-less JSON representation like this:

[code]

But the obvious problem is that it focuses on the URLs and lacks blocks. Moving away from the blocks JSON means moving away from search fields, configurable attributes, and inner blocks. If we want to have blocks, we must embrace the "blockful" data format.

[2021-10-25 16:00] colorful-tones commented on #29167
I'm doing some initial discovery to try and move this along a bit. I'm thinking that a good start would be to perhaps add the support in `theme.json` to have [Element Styles](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#element-styles) like the following:

[code]

This change alone would require a significant changeset to any core blocks that use these elements, e.

[2021-10-25 16:09] ajlende commented on #35902
- [x] Button block - spacing - padding - horizontal - invalid value
- [x] Post-Comment-content block - spacing - padding - horizontal - invalid value

Fix in https://github.com/SchemaStore/schemastore/pull/1903

[2021-10-25 16:09] ghost commented on #35596
I want so much to see these split blocks. Additional suggestions: Author role/capability block, user meta/custom field block.

[2021-10-25 16:11] virgiliud opened #35928 "Paragraph placeholder in InnerBlocks is set to opacity 0"
### Description

When generating an InnerBlock with a template in the editor, the placeholder of a paragraph that's immediately after another paragraph is set to opacity 0. Please see screenshot.

### Step-by-step reproduction instructions

1. Create an InnerBlock with the following allowed blocks and template:

[code]

2. Generate the InnerBlock in the edit() function with the following settings:

[2021-10-25 16:50] jffng commented on #29167
👍

To get a sense for the scope of what blocks may be impacted by styling the default form elements:

Element | Core Blocks Impacted
------ | ------
input | Post Comments, Search
textarea | Post Comments
select | Archive
label | Archive, Search, Post Comments
button | Search

This was off the top of my head but anyone feel free to add / edit. I thought the file block did but it looks like the down

[2021-10-25 17:07] ockham commented on #31456
👋  I'll give this a stab!

[2021-10-25 17:22] annezazu commented on #25133
I wanted to pull some feedback in from a [recent Gutenberg plugin review](https://wordpress.org/support/topic/the-biggest-problem-with-gutenberg-for-me/) that relates to this conversation and can help ground it in real world user feedback:

[2021-10-25 17:35] colorful-tones opened #35931 "Allow duotone support control within `theme.json`"
## What problem does this address?
I noticed that [my block theme](https://damonacook.com/) outputs a series of `<svg>` elements in the footer of my theme, and then I realized that they're all coming from duotone. So, I thought maybe I can disable all duotone from `theme.json` with this:

[code]

However, all of the `<svg>` are still there. This is not ideal for performance. I would prefer to have

[2021-10-25 17:56] ryanwelcher commented on #35902
I've also got a PR to address some items being moved into `typopgraphy` - SchemaStore/schemastore#1898

[2021-10-25 19:19] colorful-tones commented on #35931
It seems that this will actually disable the `<svg>` from being output and was just a user error on my end:

[code]

[2021-10-25 19:19] #35931 closed, assigned to nobody

[2021-10-25 19:31] mtias commented on #35907
Worth noting that this should be a simple hydration server-side, avoiding the serialization of data-attrs.

[2021-10-25 19:39] kjellr opened #35934 "Allow themes to opt-in to font-smoothing via theme.json"
One reset-adjacent feature that many themes opt-into is font smoothing. Sure, they could do this with a couple lines of CSS, but I wonder if this is common enough that we should just allow it to be a single line in theme.json instead.

[code]

The past three default themes (Twenty Nineteen, Twenty Twenty, and Twenty Twenty-One) all opted into this via CSS, and I'd like to do it for Twenty Twenty-T

[2021-10-25 20:41] annezazu commented on #35905
Thanks for kicking this off! Whew, great call out to get this page updated. Keen to help as I can. I agree with both of your suggestions.

This might be overkill but I imagine almost three sections with rough categories (this is off the top of my head and not meant to be fully comprehensive):

Beginner:
- Help with testing.
- Build your own custom block patterns (can link to workshop).

Intermedia

[2021-10-25 21:16] glendaviesnz commented on #34881
Thanks for pointing this out. I thought is was mentioned there, but it was in fact only mentioned on the call for testing post. I will get the dev not updated. There is currently a delay with getting the gallery experimental flag removed due to a backwards compatibility issue with mobile app. The flag will be removed once we can determine that enough users have upgraded to compatible versions of t

[2021-10-25 21:18] dmsnell commented on #30674
Adding role attributes seems a natural fit, so does hard-coding certain blocks and their meaning, like links and nav links etc…

@priethor or others, do we have an example of the format/structure of the data you would want from this hypothetical function or API call? Given an example nav block input, what do you want out, and what are you wanting to do with it? Create a `sitemap.xml` from the serv

[2021-10-25 21:25] bph commented on #34881
@celloexpressions @glendaviesnz the [DevNote](https://make.wordpress.org/core/2021/08/20/gallery-block-refactor-dev-note/#access) was updated.

[2021-10-25 21:30] glendaviesnz commented on #32075
Yes, correct. classic gallery short codes will remain as they are unless a user decides to use the `Convert to blocks` option, at which point, with the auto migrations in place the gallery short codes will go directly from v1 -> v3:
![classic-convert](https://user-images.githubusercontent.com/3629020/138773904-5632a905-6b21-4807-8061-19871524c3cd.gif)

[2021-10-25 22:39] TimothyBJacobs commented on #35599
Is your build process setup to utilize the `wp` globals with the `DependencyExtractionPlugin` instead of pulling in the actual source files?

[2021-10-25 22:40] TimothyBJacobs commented on #28709
This got fixed in #34280.

[2021-10-25 22:41] TimothyBJacobs commented on #5758
This should no longer be an issue.

[2021-10-25 23:23] glendaviesnz commented on #13164
I can't remember why that text was added, and think you are correct that it is better to stick with the empty text. I have added a [PR for this](https://github.com/WordPress/gutenberg/pull/35936).

[2021-10-25 23:35] glendaviesnz commented on #35907
@mtias are you suggesting that we add a render callback to the core image block that adds the data-attrs server side, or that plugin authors can add this themselves if needed?

[2021-10-25 23:41] #35632 closed, assigned to noisysocks

[2021-10-25 23:49] tellthemachines commented on #35818
What if we just use the classic menu name and skip this step altogether? The name can always be changed later in the inspector.

[2021-10-26 00:27] ramonjd commented on #23262
I spent some more time looking at this issue, a little deflated after trying to wade through the [core media js library](https://github.com/WordPress/wordpress-develop/tree/master/src/js/media), and didn't get so far from a technical implementation perspective, but I have questions that might lead us in a productive direction.

Within a Gutenberg component, such as `image/edit.js`, we can in fact

[2021-10-26 01:08] coreyworrell opened #35940 "Allow `FormTokenField` to be selected and copied"
## What problem does this address?

It can be very useful to copy a list of tokens from a field and paste into another. Right now that is not possible to do though, as tokens are unselectable, and `ctrl+a` does not do anything.

## What is your proposed solution?

Allow tokens to be selectable, and/or allow `ctrl+a` to select all and `ctrl+c` to copy (or just copy shortcut always copies all withou

[2021-10-26 01:35] ramonjd commented on #35604
From a theme designer perspective, I guess it would be a comforting baseline to be able to dictate heading and other element styles in `theme.json` without fear of "rogue" inline styles corrupting my beautiful designs 😄

Still, opting in to font support is also something that theme developers can enable and disable – even on a per block basis – in `theme.json` if they wanted to restrict things.

O

[2021-10-26 01:37] talldan commented on #35818
Yeah, wasn't sure whether it would be necessary. Sounds good 👍

[2021-10-26 01:44] ramonjd commented on #34529
Here's another potential use case for splitting the blockGap values: https://github.com/WordPress/gutenberg/issues/35778

[2021-10-26 01:53] talldan commented on #35750
Template parts do already have an 'area' concept of their own (the `wp_template_part_area` taxonomy), and it might be that the navigation block can use those for its locations. They're typically 'header', 'footer', 'sidebar':
https://github.com/WordPress/gutenberg/blob/fd5d963ffae907f475c524c8bcc5ba53ce7d31d3/lib/full-site-editing/template-parts.php#L170-L210

So maybe when a nav block is within a

[2021-10-26 03:07] talldan opened #35942 "Site editor - what options are there for preloading content?"
## What problem does this address?
Continues the discussion from https://github.com/WordPress/gutenberg/pull/35746#pullrequestreview-787630808

Currently the site editor loads much of its content asynchronously. The nature of template part (and other FSE) blocks is that they each load their own content, which results in a slow first interaction for the user, visible loading states on the screen, a

[2021-10-26 03:46] glendaviesnz commented on #35907
@celloexpressions I have started looking at what would be involved in getting `get_post_galleries` fixed using this [existing diff](https://core.trac.wordpress.org/attachment/ticket/43826/43826.diff) as a basis

[2021-10-26 03:52] andrewserong commented on #35604
I agree. Given that themes can switch off support as you mentioned, it sounds like a good one to leave for the moment, at least.

[2021-10-26 04:04] glendaviesnz commented on #35910
I was able to replicate this on trunk  - www.google.com was incorrectly link when add via link toolbar option on Image block, but worked as expected when added with Paragraph block link toolbar option. This will also affect the new Gallery block.

[2021-10-26 04:13] glendaviesnz commented on #35906
I wasn't able to replicate this on WP 5.9-alpha-51272-src and Gutenberg 11.8.0-rc.2 when adding or editing a gallery:

![gallery-d-d](https://user-images.githubusercontent.com/3629020/138807641-143d7794-eeed-406f-b99b-61a8f06bf323.gif)

Are there any errors in the javascript console when you try the drag and drop?

[2021-10-26 04:27] andrewserong commented on #23262
Thanks for digging in further to this one @ramonjd!

I think you've already covered this, but If we can, it'd be great to try to keep any of the media library logic tucked inside the media upload component in the `media-utils` package so that it's encapsulated. This should help ensure that the event handling / `wp.media` behaviour is only executed in environments where the core media library is av

[2021-10-26 04:52] carolinan commented on #35926
How are you adding the home link block outside the navigation block?
I did not think that was possible or intended, it is limited to the navigation block:
[`"parent": [ "core/navigation" ],`](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/home-link/block.json#L5)

I also think adding a block inline inside a paragraph, to add a link to the home would be much more compl

[2021-10-26 05:33] talldan commented on #34199
Thanks for the very detailed bug report!

I've labelled as a bug, though I haven't been able to test it.

@davecpage Would you be interested in contributing a fix for this problem? The code contribution guidelines are here - https://github.com/WordPress/gutenberg/tree/trunk/docs/contributors/code. It's not too difficult, but seems like a pull request would be the best way to get technical feedback

[2021-10-26 05:35] getsource commented on #34148
Hi @lvmarks!

This was tested during [a triage session](https://wordpress.slack.com/archives/C02QB2JS7/p1635224711044900) today.

More than one person present was able to reproduce the issue when using the HTML block. It does seem to have different behavior than the Classic Editor does in this situation.

It was noted that it seemed like an undo was happening based on the behavior of the undo butt

[2021-10-26 05:37] ramonjd commented on #35778
Thanks for creating this issue.

We're experimenting with something in https://github.com/WordPress/gutenberg/pull/35454 and over in https://github.com/WordPress/gutenberg/pull/35301 that (so far) saves the following block markup:

[code]

Good to know there's another use case for splitting blockGap into row/column.

cc @stacimc

[2021-10-26 05:48] talldan commented on #33412
I wasn't able to reproduce this in the latest version of Gutenberg. I'll close the issue, but if you still experience it, let me know and I can reopen the issue.

[2021-10-26 05:48] #33412 closed, assigned to nobody

[2021-10-26 05:51] talldan commented on #34404
This sounds like a similar issue to the one reported here - #34199

[2021-10-26 05:51] talldan commented on #34199
There's a very similar issue reported here - https://github.com/WordPress/gutenberg/issues/34404.

[2021-10-26 05:59] talldan commented on #34404
I could reproduce the second set of steps. An important caveat is that I think reproducing requires a classic theme. I used Twenty Twenty One. In block based themes the group block omits the inner container.

Editor:
<img width="641" alt="Screenshot 2021-10-26 at 1 58 00 pm" src="https://user-images.githubusercontent.com/677833/138817475-00b69345-a39d-4def-8c1a-f1c3ab4731b8.png">

Post:
<img width

[2021-10-26 06:06] miminari commented on #34148
I reproduced this in the HTML block, too. And I've observed a similar phenomenon in the Paragraph block, so I'll report it here.

https://user-images.githubusercontent.com/487207/138817775-a1e1aea2-77a0-4d37-b178-589afd429a81.mov

I guess I’ve been encountering this often since it’s in Japanese... it seems that Ctrl+Z often causes more than one return process for consecutive strings. Maybe this is

[2021-10-26 06:14] andrewserong opened #35944 "Post Template Block: Clicking between post contexts in the editor canvas unexpectedly selects the parent"
### Description

Within a Query Loop block that uses the Post Template block, the post template only renders one of the post contexts as "real" blocks at a time. If a user goes to select a single block within the post template, and then scrolls down to select a similar block in the next post within the Query loop, upon the first click, the container "Post Template" block is selected instead of the

[2021-10-26 06:41] #34612 closed, assigned to talldan

[2021-10-26 06:58] ntsekouras commented on #35364
@ryelle how do you think this would be best implemented in patterns directory? I guess people would need to create/select their own category and also maybe have a way to get the data needed for fetching individual patterns(like an `id`)? 🤔

Do you have any info about the roadmap of opening the patterns submission there? This issue needs some work on pattern directory first and the implementation i

[2021-10-26 08:11] draganescu commented on #35750
@getdave this looks like a great summary. Thanks for documenting the classic navigation preservation mechanism 👏🏻 In terms of userstories, maybe they're a little too detailed to start with? The exploration goal is split in two right now:

- how can we preserve navigation swithching from classic to block themes? Can we test mapping location to X in block themes and see if that works, using the same

[2021-10-26 08:13] truchot commented on #35599
I use the current settings in my webpack config :
[code]
I don't know if it helps

[2021-10-26 08:17] jgreys commented on #34325
Same opinion as @timnolte ! wp-env is such a great tool! :)

[2021-10-26 08:24] javierarce commented on #33538
Yes, go for it @zaguiini

[2021-10-26 08:33] talldan commented on #35868
I think the two strongly related issues to this are https://github.com/WordPress/gutenberg/issues/30674 and  https://github.com/WordPress/gutenberg/issues/35750, so worth always keeping those in mind

I think this is the important part.

An advantage to JSON is that it has equal standing on both client (JavaScript) and server (PHP), both can read or write to it. But I don't think the same assertat

[2021-10-26 08:38] oandregal commented on #33385
cc @youknowriad and he knows all the things about layout/align.

[2021-10-26 08:40] talldan commented on #35868
The good aspect at least is that PHP can read  block HTML and convert it to JSON, so potentially there's little risk in starting with block HTML. It can be migrated to JSON later if needed.

[2021-10-26 08:56] youknowriad commented on #33385
This is the intended behavior for how alignments work from now one. The reason is simple there's no other way that we could implement these alignments in **all contexts** in a generic way (think column block, sidebar, group block, ...) with the old behavior. That's one of the reasons the new alignments/layout is opt-in (enabled when adding theme.json).

Here's a concrete example (with contradictin

[2021-10-26 09:39] talldan opened #35947 "Navigation block - how do patterns and template parts define a navigation block's content"
## What problem does this address?
https://github.com/WordPress/gutenberg/pull/35746 changed the way that the navigation block stores its data to be more like a reusable block, inner blocks are saved to a `wp_navigation` post type. The post containing the data must currently be created up-front when adding a navigation block.

This poses a problem for block patterns that might contain a navigation

[2021-10-26 09:40] jsnajdr commented on #35630
(@tomalec sorry for the delayed reply, I've been sick for a few days last week)

The trouble with this statement is that it's not completely false 🙂 When working with a dependency like `lodash`, then yes, you can bundle your own version, and due to tree shaking it can be even smaller and faster because you're not loading the entire library. Or it can end up bigger and slower, because another plugi

[2021-10-26 10:40] adamziel commented on #35868
@talldan brought a good point that there are two different HTML representation of block data. The first one looks like this:

[code]

I think of it as of an excerpt from the Redux state, only encoded as HTML. In the JSON form it would look like this: `{ "blockName": "core/paragraph", "attrs": {"content":"Hello", "align":"right"}, "innerBlocks": [] }`.

This snippet can't be rendered by PHP. Why? T

[2021-10-26 11:00] senadir opened #35949 "Setting/unsetting alignment causes Edit component to unmount/mount"
### Description

When you change a block alignment from none to something else or the reverse, the Edit function gets unmounted and mounted again. This causes any state/refs/effects on the function to get lost.

### Step-by-step reproduction instructions

I can't think of any core block that has both alignment and uses user-controllred state so I tested in two ways:

### HTML block
- Add alignment

[2021-10-26 11:08] ellatrix commented on #33212
I created #35950 to make it possible for themes to add WP dependency handles and inline styles to the block editor settings.

[2021-10-26 11:10] ndiego opened #35952 "@wordpress/scripts version 19.0.0 not respecting WP JavaScript coding standards when linting"
### Description

I recently upgraded a project using @wordpress/scripts version 18.0.0 to 19.0.0. Prior to the upgrade, when running `npm run lint:js:src` it would pass with no warnings or errors. After upgrading, linting returns thousands of errors that all seem to do with spacing. I have included a screenshot below.

In reviewing the changelog for @wordpress/scripts, I cannot see anything that i

[2021-10-26 11:10] #35440 closed, assigned to alexstine

[2021-10-26 11:18] davecpage commented on #34199
Hi @talldan I should have updated this ticket, as the code was already in core I submitted a patch via https://core.trac.wordpress.org/ticket/54013. Is that the best location for it? Or should it be in Gutenberg first then backport to core?

[2021-10-26 11:39] aristath commented on #35912
For enqueueing stylesheets specific to a single block, you can use the code from this post: https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/
The `wp_enqueue_block_style` is new and will be available in WP5.9, so if you want to be compatible with older versions on WP I wouldn't recommend using it.

Since I'm not getting an error with the code you posted

[2021-10-26 11:45] #35797 closed, assigned to aristath

[2021-10-26 11:51] shimon246 commented on #35912
@aristath
Thank you.🥺
I'm still getting the following error message when using style_handle

[code]

Here is the complete code
[code]
Of course, this error message will only be displayed on pages that use the heading block.

[2021-10-26 12:08] simison opened #35953 "Cover block gets stuck when shift+clicking text"
### Description

Cover block text paragraph gets stuck when shift+clicking on text.

### Step-by-step reproduction instructions

- Add Cover block
- Write text into paragraph
- Press shift and click somewhere on text
- Note how block gets "locked", you can't write anything anymore
- You can't enter text writing mode anymore
- Rich text buttons (B, I, ...) go missing from the toolbar on 2nd click
-

[2021-10-26 12:11] scruffian opened #35954 "Post Navigation Link Block: Add arrows"
## What problem does this address?
In https://github.com/WordPress/gutenberg/pull/33626 we added arrows to the Query Pagination block. It would be great to have these same arrows in the Post Navigation Link block like this:

<img width="917" alt="Screenshot 2021-10-26 at 13 11 04" src="https://user-images.githubusercontent.com/275961/138876061-4ba7db66-4525-4609-8269-765035667e98.png">

[2021-10-26 12:23] kjellr opened #35955 "Allow users to edit the "default layout" in the Global Styles panel"
Whenever you see a block with a "Layout" panel, you're able to select "Inherit default layout." This setting pulls from the theme options to provide a default layout.

It seems natural that users would be able to edit these values in the "Layout" section of Global Styles, but they're not there currently:

<img width="280" alt="Screen Shot 2021-10-26 at 8 20 37 AM" src="https://user-images.githubus

[2021-10-26 12:27] aristath commented on #35912
I tried the code posted above:
* Created a new PHP file in wp-content/plugins and pasted your code
* Activated the plugin from the dashboard.

As soon as I activate the plugin, I'm getting the following error:

After fixing that, I can replicate the issue. I've already found the solution to it, so I'll create a new ticket in WP-Core and push a patch for it 👍

The code I used to replicate:
[code]
T

[2021-10-26 12:38] aristath commented on #35912
Error reported in https://core.trac.wordpress.org/ticket/54323 and patch submitted.
Most likely the fix will be included in WP 5.9 👍

[2021-10-26 12:38] scheinercc commented on #35764
@javierarce [requested this part to be split off](https://github.com/WordPress/gutenberg/issues/13154#issuecomment-946510917) and I agreed as the initial request was specifically about "adding the list via the 'Edit as HTML'", while this ticket focuses on the additional toolbar functionality.
He also wanted to close the other ticket.

[2021-10-26 12:41] scheinercc commented on #13154
@javierarce maybe it is about time to close this ticket here, as the new one is [already seen is a dup of it](https://github.com/WordPress/gutenberg/issues/35764#issuecomment-950608623) ;)

[2021-10-26 12:58] priethor commented on #30674
Hi @dmsnell! Sitemaps and breadcrumbs are great examples of practical applications of this hypothetical API, whose goal is to provide the page hierarchy given a Navigation Block. There is no specific format in mind, but an equivalent to `Walker_Nav_Menu` for blocks would work as a first iteration.

[2021-10-26 13:03] richtabor commented on #35438
Essentially the outline button block style is being omitted from theme.json `border.width`, `border.color` and all `spacing.padding` styles, as the [core bundled styles](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/button/style.scss#L98-L102) targeting `.is-style-outline` are too specific for the styles that are being injected from theme.json.

I've tested using the

[2021-10-26 13:04] priethor commented on #34881
As @glendaviesnz mentioned, there is a delay and the current target to remove the flag is Gutenberg 11.9.

[2021-10-26 13:07] kyleaparker commented on #35357
I'm not seeing the embed error on self hosted, for me it's auto converting to a plain text paragraph. Could this be a bug, or was it an intentional design decision?

💯 this state could be drastically simplified. Is this something that's currently in the works?

[2021-10-26 13:08] ntsekouras commented on #35525
👋 - what values do you think make sense besides `wrap` and `nowrap`?

[2021-10-26 13:08] richtabor commented on #35438
I've tested that modifying the [`__experimentalSelector`](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/button/block.json#L80) to `.wp-block-buttons .wp-block-button__link` ensures a theme's theme.json overrides the default styles (solves the border.color and border.width) but then there's still the original size discrepancy for spacing.padding, which was why there's

[2021-10-26 13:11] kjellr commented on #35525
I think those are good enough to start with! We also could support `wrap-reverse` for greater control, though I expect it'll be rarely used.

[2021-10-26 13:20] richtabor commented on #35438
This is currently "solved" for core by subtracting the border width from the padding [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/button/style.scss#L14), but if the border width of the button block has changed from the default `2px` theme.json to anything else (or the spacing.padding is changed for the block), this is no longer valid (as seen in the screensho

[2021-10-26 13:22] richtabor commented on #35438
I also don't know that this is the best way forward.

[2021-10-26 13:24] annezazu commented on #35713
Noting that I can't replicate with Gutenberg 11.7.1 and WordPress 5.8.1 using the Twenty Twenty One theme:

<img width="529" alt="Screen Shot 2021-10-26 at 9 18 05 AM" src="https://user-images.githubusercontent.com/26996883/138886950-35ab521d-80ed-49e5-b33f-6320418c5a87.png">

[2021-10-26 13:24] annezazu commented on #35713
Going to close this out for now but feel free to re-open if the problem comes back up!

[2021-10-26 13:24] #35713 closed, assigned to nobody

[2021-10-26 14:10] #33754 closed, assigned to Mamaduka, getdave, hellofromtonya

[2021-10-26 14:19] LukaszJaro commented on #35764
This current ticket seems like it's what people really want, the previous ticket is trying to use a bunch of hacks to get ordered lists working. This is more concise and better ui!

An Alternative: How difficult would it be to add the list block inside a table cell? This would maybe open up the table to be able to insert other blocks inside the cells?

[2021-10-26 14:20] alexstine commented on #35440
@talksina Thanks for testing. The PR has been merged and I am hoping it will make it in to the upcoming WordPress release. Don't quote me on it though as I am still unsure how the release schedules work with Gutenberg.

[2021-10-26 14:21] venteto opened #35962 "Custom HTML Block Preview Doesn't Match Published Page"
### Description

The main issue I notice is that there is no padding between paragraphs, headings, lists, et al., in the "preview" tab when editing a custom HTML block. Based on that, I was prepared to not even bother to publish, and never use this block. But I went ahead and pressed publish just to see what would happen. The published page looks the way I expected, even though the preview in the

[2021-10-26 14:29] Mamaduka commented on #35953
Hi, @simison

I think the issue got fixed via #35668.

[2021-10-26 14:30] LukaszJaro commented on #20194
Equalize digital has a plugin they built more recently that has a tooltip, icon and text warning https://wordpress.org/plugins/accessibility-new-window-warnings/

![image](https://user-images.githubusercontent.com/10998875/138899576-a44798c3-dd50-4ea5-85e3-23a2aabf62e8.png)

![image](https://user-images.githubusercontent.com/10998875/138899847-df80955b-ac79-4169-89d7-7e07fe79ccec.png)

[2021-10-26 14:43] mtias commented on #35947
The former trivial representation of the menu is a good fit for patterns and should only be transformed to a CPT when the user modifies, imports, or adds its own content to the placeholders. We should make sure existing patterns work fine as starting points as well.

That'd be my inclination too.

[2021-10-26 14:44] oandregal commented on #35018
errors have been transformed into warnings at https://github.com/WordPress/gutenberg/pull/35914 so I presume we can close this now.

[2021-10-26 14:44] #35018 closed, assigned to nobody

[2021-10-26 14:47] #35732 closed, assigned to jffng

[2021-10-26 14:52] adamsilverstein commented on #23262
@ramonjd - wp.media will trigger an event when an item is removed from the library, you can  listed for something like `wp.customize.control.on( 'removed', ( item ) => { ...handler } )` where item is the removed item.

[2021-10-26 14:53] aaroncampbell commented on #34352
While "synced blocks" makes perfect sense to me, I worry it will be confusing to our broader, non-technical, audience. Asking some family and friends, most didn't garner any real meaning from the name.

"Global blocks" did better with the people I talked to. Although some, understandably, thought it just meant they could be used everywhere.

"Sitewide blocks" was almost solely understood as being

[2021-10-26 15:11] iandunn commented on #35926
Not in the editor, I'm adding it directly to my `404.html` file.

[code]

Supporting `tagName` would fix the issue for my specific use case, but there's also the larger issue that the block "should" be able to be used outside a menu, IMO. So to fix that, we'd also need to allow the editor to add it outside a menu.

[2021-10-26 15:21] iandunn commented on #35926
_( that approach might break if a user edited it, but i'm building a custom theme for a specific site, not something that's meant to be distributed. a lot of the templates will be locked, at least until issues like this one are resolved )_

[2021-10-26 15:27] #35700 closed, assigned to mkaz

[2021-10-26 15:52] TimothyBJacobs commented on #35599
That looks to be the issue. See https://developer.wordpress.org/block-editor/reference-guides/packages/packages-scripts/#provide-your-own-webpack-config for how to use a custom webpack config. You need to include the existing definitions for `plugins` for instance.

[code]

You also shouldn't need `react` stop be setup as an `alias` once you have the plugins properly configured.

[2021-10-26 16:05] apeatling commented on #27093
I like the idea of making the post title editable in the sidebar. With the ToolsPanel option I'd prefer to see it as a setting you can toggle like any other, to avoid there being two ways to do things.

[2021-10-26 16:21] mkaz opened #35964 "Post Author alignment issues"
## What is the problem?

When alignment is applied to the Post Author block, it only moves the text, I expected all the block contents to center across the space. See video using Tove block theme:

https://user-images.githubusercontent.com/45363/138920139-e4c39e5b-babc-47cb-a3d0-f0a216d3a522.mp4

## What is your proposed solution?

This could be solved by changing controls to Justify, but there is

[2021-10-26 16:31] fabiankaegy opened #35966 "Add ability to restrict the list of allowed inner blocks to core blocks"
## What problem does this address?

When working with custom blocks there are examples of blocks like for example a custom image carousel that should never be allowed within a core cover block. Or a custom grid block that should not be inserted in a column block. This currently is not possible.

## What is your proposed solution?

Either adding a filter in the core blocks that allows you to use th

[2021-10-26 16:35] 0aveRyan commented on #34352
I feel that if Reusable Blocks are renamed, the name has to be substantially clearer and more accurate to warrant the change burden hoisted on users. I'm not sure anything wordsmith-ed clearly passes that threshold.

### On Reusable
* Personally I agree it's not perfect, but it's grown on me. That said...
* Conflates with Blocks set `single: true` for Inserter instances.
* Sounds like a reusable s

[2021-10-26 16:55] 0aveRyan commented on #34352
It doesn't fit into the "______ Blocks" paradigm, but if "Template Parts" are reusable layouts of blocks for use in site templates, the natural pairing is "Content Parts" which are reusable layouts of content for use in site content. But again, I don't think this passes my personal bar for "warrants name change."

[2021-10-26 17:00] oandregal commented on #35438
Hey, I'd like to grab @jasmussen thoughts on this.

This is what I'm thinking. We don't support block styles variations via `theme.json` yet (see https://github.com/WordPress/gutenberg/issues/33232). I'd consider the styles coming from `theme.json` as styles that the block gets in all its variations (or work well when switching between them). For overriding styles for a specific style variation, I

[2021-10-26 17:04] #35695 closed, assigned to mkaz

[2021-10-26 17:16] skorasaurus commented on #35912
@aristath thanks for the prompt fix; can we close this ticket then?

@shimon246
Thank you for the detailed feedback and reports. Please reopen if you're still experiencing this in WordPress 5.9.

[2021-10-26 17:16] #35912 closed, assigned to nobody

[2021-10-26 17:22] kjellr commented on #35947
Yeah, just want to reiterate this part. All of the Twenty Twenty-Two header patterns currently show that prompt from above.

In case it helps, we'd been using a single Page List block in most of our patterns:

[code]

[2021-10-26 17:59] dmsnell commented on #30674
@priethor please pardon my ignorance on the issue, I've not used `Walker_Nav_Menu` before and I'm not sure where the overlaps lie with this.

On the server we have access to a powerful tool with the `render_block` filter which can be used for much more than generating the base rendered block output.

[code]

I think something like this would get out what you are asking for. The important piece is

[2021-10-26 18:34] leeshadle commented on #33212
Interesting - so would this be the way to enqueue styles for plugins?

Also, does this require the use of the .editor-styles-wrapper selector in the stylesheet in order for the stylesheet to be enqueued?  I've found that the only way to hack the iframed block editor and get styles enqueued in the iframed editor is by making sure the .editor-styles-wrapper is present in whatever stylesheet I'm tryi

[2021-10-26 18:47] ndiego commented on #35952
This issue is related to https://github.com/WordPress/gutenberg/issues/21872. As @gziolo mentions in that ticket, the ultimate solution is to update the coding standards.

A workaround/temp solution can be found here: https://github.com/WordPress/gutenberg/issues/34622#issuecomment-914625374

[2021-10-26 18:47] #35952 closed, assigned to nobody

[2021-10-26 20:24] ramonjd commented on #23262
@adamsilverstein 🙇 Thank you so much! I'll try it out.

_Edit_: [this](https://github.com/WordPress/gutenberg/blob/879c63e2e8140a5d5bde79ec1fb4085b081143d6/packages/media-utils/src/components/media-upload/index.js#L276) also works:

[code]

[2021-10-26 22:27] apeatling commented on #22801
I think we can close this one out @jasmussen based on the changes in trunk and https://github.com/WordPress/gutenberg/issues/30470.

[2021-10-26 22:42] onetrev commented on #33385
Hey @youknowriad thanks for looking into this. The concept and rationale makes sense, but I'm still unclear though why WP adds the alignment to the parent element on the backend but to the child element on the frontend? That's what I think we're all reporting here. Thereby, it's a bit odd I have to add a group block just to make the alignment look correct in the backend when it's fine on the front

[2021-10-26 22:49] mtias commented on #35907
That core would add it.

[2021-10-26 23:56] #30170 closed, assigned to getdave

[2021-10-27 00:05] noisysocks commented on #31815
@WordPress/gutenberg-core: What action, if any, should we take here for WP 5.9?

[2021-10-27 00:13] noisysocks commented on #35868
Agree with this. It's safest I think to have `wp_navigation` align very closely to how the `post`, `wp_block` and `wp_template` CPTs work. They all store block-enhanced HTML. We can change this later if our requirements change by writing a database migration.

[2021-10-27 01:50] talldan commented on #35947
So it sounds like we should transition away from this idea of 'Upgrading' the block.

I have some ideas for a quick fix. The user could still be asked to save the block to a CPT, but it can be streamlined and only visible on block selection. That way the pattern preview won't have that ugly warning!

From there we should be able to iterate on what it means to have an unsaved navigation block with

[2021-10-27 02:30] talldan commented on #34199
Thanks for contributing the code, @davecpage. I think the process is usually that the code is fixed in the Gutenberg plugin (this codebase) first and then backported. It's also probably ok to fix in core at the same time as here, though.

@noisysocks is the editor release lead for 5.9 and knows the process better than I.

[2021-10-27 02:39] talldan commented on #35868
I think the other point is that Navigation Links and Submenus are fully dynamic, they're represented only as a HTML comment, so it seems like we can parse and serialize that from PHP ok. Is that right? For migrating classic menu data (#35750), there don't seem to be any blockers that would prevent us from continuing to use using block html in a `wp_navigation`. And it has been established that a m

[2021-10-27 02:51] ramonjd commented on #35907
I'll make a start on this today

[2021-10-27 03:14] glendaviesnz commented on #35907
I have add a PR for a suggested update to the `get_post_galleries` method in core and updated the existing trac ticket at  https://core.trac.wordpress.org/ticket/43826#comment:42

[2021-10-27 03:18] ramonjd commented on #35907
@glendaviesnz pointed out to me that it would have entailed creating a deprecation. See: https://github.com/WordPress/gutenberg/pull/25940#discussion_r618196856

[2021-10-27 04:18] talldan commented on #35947
I've made a quick fix for the pattern previews - #35976.

It might not be ideal, but I think it's better than what we have.

It won't close this issue, let's continue discussing the optimal solution.

[2021-10-27 04:56] jasmussen commented on #35662
Checked this one, as fixed by #35637. I suspect additional fixes can be made, but it fixed the immediate issue.

[2021-10-27 05:10] gVee commented on #33585
I agree that is a critical issue not only for W3C markup validation but also a big interference on CSS styling.

[2021-10-27 05:14] github-actions[bot] opened #35977 "[Flaky Test] can be created, inserted, edited and converted to a regular block."
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can be created, inserted, edited and converted to a regular block.

## Test path
`specs/editor/various/pattern-blocks.test.js`

## Errors

<time datetime="2021-10-27T05:14:03.373Z"><code>[2021-10-27T05:14:03.373Z]</code></time> Test passed after 1 failed attempt on <a href="

[2021-10-27 06:31] noisysocks commented on #35947
#35976 is a great start, thank you!

Yes I think so. I think that the key problem we need to address is that we've added two extra steps to the UX for customising a pattern or template.

Before: Insert a pattern (or load a template) → Click on Navigation → Add a link
After: Insert a pattern (or load a template) → Click on Navigation → Click _Upgrade_ → Choose a name → Add a link

I'm uneasy about

[2021-10-27 06:43] talldan commented on #35947
I'm not convinced the two extra steps are a big problem. Other blocks that require saving to a post type (Template Part, Reusable) also require naming ahead of time. I acknowledge the experience in the nav block isn't perfect right now, it can be refined.

I'm happy to explore creating an untitled nav menu, or as you say infer the name in some way. My concern with that would be that a user might e

[2021-10-27 06:45] paaljoachim commented on #35955
I believe that Jorge and Andre @jorgefilipecosta @oandregal would like to know about this issue.
Thank you for creating it @kjellr Kjell!

[2021-10-27 07:23] youknowriad commented on #33385
@onetrev Oh sorry, I missed that part about the image block sorry, yes, this sounds like a bug and ideally should be consistent. The problem is that the class added to the inner element in the frontend was a hack used to make alignment work as expected in classic themes. In the ideal world, we'd move these back to the outer wrapper that said there might be some backward compatibility concerns in d

[2021-10-27 07:25] Mamaduka commented on #35953
I was able to reproduce the issue. But I had to select Cover block first and then shift + click inner paragraph.

@ntsekouras, do you think this is related to the issue you fixed in #35668?

[2021-10-27 07:56] kasparsd opened #35980 "CleanWebpackPlugin in wp-scripts removes built files from previous webpack runs"
### Description

In #23135 @ocean90 introduced the [CleanWebpackPlugin plugin for webpack](https://www.npmjs.com/package/clean-webpack-plugin) which by default has a feature called `cleanStaleWebpackAssets` that [removes all built files from all of the previous webpack runs](https://github.com/johnagan/clean-webpack-plugin/blob/8190568b36987e901744d9656f6cefa041d18f5a/src/clean-webpack-plugin.ts#L

[2021-10-27 08:16] khoipro opened #35982 "core/image - Block Attribute missing width and height in <InnerBlocks />"
## What problem does this address?
I create a new custom block that use `<InnerBlocks />` to create a repeater item.

When I try to read metadata from attributes in `function Save() {}`, the core/image block seem missing width and height attribute **if I don't edit any width/height parameter**. It only visible in metadata if I change those params.

**No edit any width/height param**

<img width="8

[2021-10-27 08:18] khoipro commented on #35982
Hi,

To ensure it works without CORS, I attached the screenshot when using the local image file.

<img width="329" alt="Screenshot_10" src="https://user-images.githubusercontent.com/10395311/139027540-ee07925e-e4c8-4745-a18e-192f880247d5.png">

[2021-10-27 08:24] Mamaduka commented on #35765
@carolinan I are still able to reproduce the issue on the current Gutenberg `trunk`?

Merging and separation are working for me as expected. I'm wondering if I'm missing a step here.

[2021-10-27 08:28] Mamaduka commented on #35635
I think the issue got resolved via #35670. I'm no longer able to reproduce it on the current Gutenberg trunk.

[2021-10-27 08:28] Mamaduka commented on #35901
Hi, @neilorangepeel

Thanks for reporting the issue. I think it got resolved via #35670. I'm no longer able to reproduce it on the current Gutenberg trunk.

[2021-10-27 08:29] #35635 closed, assigned to nobody

[2021-10-27 08:29] #35901 closed, assigned to nobody

[2021-10-27 08:33] gVee commented on #34867
I'm sure that happened when coping **something from a block** and paste into another.And I suggest that we take this issue as a [Bug]

Testing on **something from a block**：

- Header(h2, h3....)
- Paragraphe(p)
- List(ul, ol...)
- Quote(blockquote)

### Environment info
Wordpress： 5.8.1
OS：MacOS 11.4
Browser：Chrome 95.0.4638.54(arm64)

I have some suggestion on issue : #33585

[2021-10-27 08:38] carlomanf commented on #34352
Reading the referenced comment that sparked this proposal, it appears that what the user really wanted was the ability to save their own patterns, which a mere name change would obviously not achieve. In that case, perhaps reusable blocks should just be renamed patterns, and the behaviour changed to align with theme patterns. This could also open up the possibility for existing theme patterns to b

[2021-10-27 08:44] placoderm commented on #34352
Oh, I think they are absolutely needed. They are very different from patterns. That's kind of the root of the confusion, isn't it

[2021-10-27 09:01] kasparsd commented on #35980
I've created a sample repository https://github.com/xwp/wp-scripts-webpack-clean-bug which has the minimum configuration to illustrate the issue. See [this GitHub action run](https://github.com/xwp/wp-scripts-webpack-clean-bug/runs/4020021885?check_suite_focus=true) that shows that the `js/dist/modern` directory is empty after the build:

[code]

even though webpack built both:

[code]

[2021-10-27 09:08] gVee commented on #33585
Here is a roughly way to solve your question 2 before official solution release： **Add code below into your current theme's functions.php**

[code]

[2021-10-27 09:08] getdave commented on #35750
As an initial exploration let's proceed with the following:

* Navigation _block_ will define an attribute "area".
* This will be a choice of 3 values - `primary`, `secondary`, `tertiary`.
* Add UI to Nav block to allow Theme Developer to select an area.
* Add logic to ensure only a single Nav block can occupy a given "area".
* When the Nav block is assigned an "area" then it updates the assigned

[2021-10-27 09:10] isaumya commented on #33585
Hi @gVee,
Thanks for your reply. But With your snippet it is not changing the content in the DB so, this snippet needs to be there in the `functions.php` forever even after Gutenberg fix this issue. Right?

[2021-10-27 09:15] paaljoachim commented on #27494
I am really not sure what can be done here.
It does move up/down to show patterns that can be added.
We might need to think of a broader solution.

[2021-10-27 09:15] pshemek commented on #34352
Indeed, reusable blocks are not patterns. Let me say (imperfectly) patterns are about the repetitive shape of some content while reusable/global/sitewide blocks are about the repetitive content - itself.

[2021-10-27 09:24] DAreRodz commented on #35007
Hey! I want to start working on this, could you assign this issue to me? Thanks. :blush:

[2021-10-27 09:26] gVee commented on #33585
Hi @isaumya ,
Yes, it's mush safer doing a temporary dealing with your DB. So the snippet needs to be there until Gutenberg fix this issue. In my opinion, the Gutenberg dev team will remove the ugly meta tag from user's DB. I hope!!

[2021-10-27 09:44] shimon246 opened #35987 "I don't think should_load_separate_core_block_assets supports registerFormatType or addFilter('blocks.registerBlockType',)"
`add_filter( 'should_load_separate_core_block_assets', '__return_true' );`
Does this filter hook work with blocks added with `registerFormatType` or filters added with `addFilter('blocks.registerBlockType',)`?

I don't think so, because registerFormatType can't be associated with css like register_block_type.

## Related references
Block-styles loading enhancements in WordPress 5.8
https://make.wo

[2021-10-27 09:45] jasmussen commented on #35947
Thanks for the ticket. The potential for saving navigation is that you can insert a header pattern, choose an existing menu, and you're on your way. The flow can be excellent.

As it exists today, there are some problems with the two-step placeholder, multiple similarly named buttons and labels, and no way to _create_ patterns. These are all solvable, but they are also important to solve. To help

[2021-10-27 09:59] ockham commented on #31456
PR for the first part (add entity descriptions, re-order entities, change panel header copy): https://github.com/WordPress/gutenberg/pull/35933

[2021-10-27 10:00] carlomanf commented on #34352
I'm just echoing exactly what the referenced comment proposed, I don't have a strong opinion on this personally. Here is an excerpt from that comment that literally uses the word patterns:

[2021-10-27 10:02] brylie commented on #34320
I bumped into this issue again today.

![image](https://user-images.githubusercontent.com/17307/139044786-a15a5226-127e-42a6-bc1c-a2ea34d6738d.png)

[2021-10-27 10:02] jameskoster commented on #27847
I think this feature could also be a solution for https://github.com/WordPress/gutenberg/issues/29821.

When you go to edit the page that is set to display latest posts, the layout toggle could be automatically enabled, and perhaps it would not be possible to hide the layout for this special use case where you're effectively editing the underlying template.

We can potentially re-use that pattern

[2021-10-27 10:03] brylie commented on #34320
I believe this is a bug and should be categorized as such. Please help us resolve this issue as it is recurring.

[2021-10-27 10:07] draganescu commented on #35947
I can't say why but the notion of "synced menu" is too complicated in my head. Maybe reusable menu? Even so, _all meus should be reusable_ and we should not give the impression that there are two kinds of menus. Even in the menu switch dropdown (which I think is very cool) the title should of the dropdown should be plainly "Menus".

[2021-10-27 10:08] isaumya commented on #33585
Hi @gVee,
I also have the same hope and that what I asked the team about. Cause currently reading the comment on this thread seems like the Gutenberg team will make sure that this ugly meta tag does not gets added to the content after the fix is rolled out. But it will not fix the old content that already have the ugly meta tags in them.

Which is why I commented above that it makes no sense. As i

[2021-10-27 10:14] brylie commented on #34320
Today, I am not able to get past the error despite running:

- `docker image prune -a`
- `docker system prune -a`

Each time I encounter this issue, it wastes around 15-30 minutes with troubleshooting.

Would you please review the related pull request to fix this issue #35667

[2021-10-27 10:18] brylie commented on #34320
@timnolte, I have tried all of the above suggestions and the problem persists.

As @tmdk has documented, the issue seems to stem from the `wordpress` Docker image.

Note: I just realized that I have multiple projects that use `wp-env`. When one of the other projects is running, the is a collision when trying to launch a second project. In that case, I would need to make sure to manually kill the d

[2021-10-27 10:20] gziolo commented on #35927
Sounds good 👍🏻

The steps required to create a new WordPress package are documented in https://github.com/WordPress/gutenberg/tree/trunk/packages#creating-a-new-package.

[2021-10-27 10:31] Aljullu opened #35989 "Custom Template Part Areas do not appear in the Site Editor navigation"
### Description

If a plugin registers a custom Template Part Area using the `default_wp_template_part_areas`, all template parts assigned to that area won't be available from the Site Editor, making it impossible for users to modify them.

I would expect that all template part areas would be displayed in the Site Editor, listing all template parts which are assigned to that area.

### Step-by-ste

[2021-10-27 10:36] #30575 closed, assigned to cbravobernal

[2021-10-27 10:59] talldan commented on #35947
I agree with Andrei, allowing the block to handle both persisted and non-persisted menus seems like a lot of complexity, both for the user and for us to manage.

There's also currently effort underway on how menu data can be retained when switching themes (#35750). One of the basic ideas is that a user shouldn't have to create a menu from scratch when they already have existing menu data. That's a

[2021-10-27 11:07] sagarnasit commented on #35934
Hi @kjellr

I use theme.json for almost all the themes I am currently working on. This looks like an excellent feature to add.

Let me know if I can take on adding this feature in the Gutenberg.

[2021-10-27 11:08] jameskoster opened #35990 "Use template editing mode when editing a template via Appearance > Templates"
Currently, if you navigate to Appearance > Templates and open a template, the post editor mode is used. IE the content area is squished into a narrow column, and the document title is visible on the canvas.

This should instead use the same mode as when you edit a template in the site editor, or via the "Template" section of the Inspector when editing a post.

[2021-10-27 11:08] kjellr commented on #35934
Hey @sagarnasit — go for it! I think a PR would be worthwhile.

[2021-10-27 11:11] colorful-tones commented on #34392
I believe this may have been resolved recently with [Add spacing controls to all heading blocks #35772](https://github.com/WordPress/gutenberg/pull/35772), but could probably use testing and verification.

[2021-10-27 11:14] jameskoster opened #35991 "Refine the add-template flow in Appearance > Templates"
Via the Appearance > Templates view, it is possible to add a new template:

<img width="293" alt="Screenshot 2021-10-27 at 12 10 18" src="https://user-images.githubusercontent.com/846565/139054741-826a0896-e91d-46ed-9e32-3306ec26b16f.png">

Clicking this takes you to an empty editor with no guidance on how to proceed. The simplest way to help users intuitively create templates is to offer them a c

[2021-10-27 11:19] jameskoster opened #35994 "Update Appearance > Templates to list all templates"
At the moment Appearance > Templates only lists templates that have been created from scratch, or theme templates that have been customised by a user at the site.

It seems sensible to display all templates here, including those supplied by themes and plugins. Just like we ~do~ did in the Site Editor. This provides a convenient pathway for folks to go and edit all the templates in use at their sit

[2021-10-27 11:28] jameskoster opened #35995 "Refine columns in Appearance > Templates"
Some of the columns in the table at Appearance > Templates aren't all that useful, for example "Slug" and "Status".

The "Theme" column is also a little confusing because it always lists the active theme when you add a new custom template.

Removing the Slug and Status columns seems like a simple change.

For the "Theme" column, one idea would be to change this to "Added by", then each template ca

[2021-10-27 11:33] kjellr commented on #31815
Noting that https://github.com/WordPress/gutenberg/pull/33217 could potentially solve this for us in the near term. If folks are ok with that solution I think it could be enough for 5.9.

[2021-10-27 12:03] kjellr commented on #35947
My primary concern is just that existing patterns should still work without displaying the big message. As @mtias noted, we should allow them to work as one-off nav blocks [until the user interacts with them](https://github.com/WordPress/gutenberg/issues/35947#issuecomment-952013080).

This is more or less what @jasmussen is suggesting in the first step of his suggestion above. Showing a save butt

[2021-10-27 12:03] #30577 closed, assigned to cbravobernal

[2021-10-27 12:13] carolinan commented on #35990
Agreed, that it is using the post editor mode is something that has been confusing to both users and developers when I have tried to explain how templates work.

[2021-10-27 12:20] #35953 closed, assigned to ntsekouras

[2021-10-27 12:31] #30576 closed, assigned to DAreRodz

[2021-10-27 12:52] oandregal commented on #34141
Hey @jffng  and @MaggieCabrera I've looked at this and wanted to share my findings.

So, as I see this, the theme wants to maintain linked CSS values, which is challenging upon user changes. For example: how to maintain the height of the button (padding+border) for different statuses (rest state, hover state).

Let's run with some code. This is the setup: a post with a button (default state, no st

[2021-10-27 12:56] gVee commented on #33585
Hi @isaumya ,
hmmm, you can do further for clearing ugly meta tag when you saving post ,as below：
(But I am not sure whether it conflict with 3rd plugin or your favorite theme or not)

[code]

[code]

IF YOU really NEED a Plugin（which can uninstall when official fixes release）handling all of it in one go, just let me know...

[2021-10-27 12:57] oandregal commented on #34141
I'm inclined to close this issue. I don't see uses cases that would be fixed from splitting global styles into theme and user.

The fact there are some states of the block that aren't absorbed yet via `theme.json` and the global styles UI is a known challenge. This happens at least for style variations and hover/active/etc statuses, but there may be more. The fix seems to actually be able to targe

[2021-10-27 12:57] gziolo commented on #35987
`registerFormatType` doesn't work with the `should_load_separate_core_block_assets` feature. This method has a different role. It allows adding new formatting controls for blocks that use RichText for inline editing.

Integration with `blocks.registerBlockType` filter won't take effect, because changes to the assets need to be applied on the server rather on the client. There are PHP hooks that yo

[2021-10-27 12:58] MaggieCabrera commented on #34141
@oandregal on a quick look that looks like the best solution, we are all in for having a CSS variable that we can play with that keeps the user changes. But I'm thinking this will break if those changes are done on a per-block basis instead of in the global styles.

[2021-10-27 13:00] oandregal commented on #34141
Would you expand a bit on what you mean by this? I'm not sure I follow.

[2021-10-27 13:00] ntsekouras commented on #34392
@colorful-tones is right and there was a discussion and decision to include only the `margin` support: https://github.com/WordPress/gutenberg/pull/35772#issuecomment-947377980.

In order to see this control though you [need to enable](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/hooks/margin.js#L76) it in your theme(https://wordpress.slack.com/archives/C02QB2JS7/p163

[2021-10-27 13:03] tex0gen commented on #35560
I too had this issue with

WordPress `5.8.1`
Gutenberg plugin `11.7.1`

It appears if I add `/block-templates/index.html` and nothing more, this issue crops up. If I add `page.html` to `/block-templates` the issue resolves.

On further investigation, it appears to not be selecting the index.html template at all. If I change the "front page" to an actual page, it selects page.html but setting the f

[2021-10-27 13:11] MaggieCabrera commented on #34141
if I user changes the padding of a specific button (instead of all of them in global styles), the hover effect of that button will not respect the height.

[2021-10-27 13:19] carolinan commented on #35560
And when you say "change the front page" you mean the Settings > Reading... Your homepage displays.... A static page?

[2021-10-27 13:42] getdave commented on #35521
## Update - 27th October 2021

* Following on from updates [here](https://github.com/WordPress/gutenberg/issues/35521#issuecomment-947549374) and [here](https://github.com/WordPress/gutenberg/issues/29102#issuecomment-947554777) some progress has been made on the architecture of the Nav block.
* [The PR to get the block to save its "items" (data) to a `wp_navigation` post type](https://github.com/

[2021-10-27 13:53] priethor commented on #30674
Thanks for the quick follow-up, @dmsnell ! Yeah, I think that would work :+1:

From my perspective and totally open to discussion, a good first selection of blocks that make for a nav item would be:
- `core/link`
- `core/navigation-link`
- `core/home-link`
- `core/site-logo`
- `core/site-title`

The reason to include `core/site-logo` and `core/site-title` is that they act as links to the homepage,

[2021-10-27 14:00] jffng commented on #34141
In this case, won't the hover effect be ignored because the padding values are in-lined and will override any padding values of the hover CSS, so it's not an issue?

👍  I think we can close this one too, thanks for explaining and providing some sample code. I understand your suggestion, although I do wish the theme wouldn't have to add such code to enable coordination among style values.

If we en

[2021-10-27 14:00] #34141 closed, assigned to creativecoder

[2021-10-27 14:03] carolinan commented on #35994
I don't think this will make it easier for users, because this view is recognizable as a page where you perform specific actions.

What I mean is, the page looks the same as the list of post or pages, and having items on this list that are not editable is not expected.
Files from plugins and themes have never been presented in this view before.

[2021-10-27 14:06] colorful-tones commented on #29167
I'm going to try and get a PR together for this today.

[2021-10-27 14:08] carolinan commented on #35994
I would actually prefer if this view was not changed in the plugin, and not ported to core in 5.9, because it adds to the cognitive load because there are just too many ways to edit templates and template parts.

- Template editing mode
- Site editor
- Appearance menu -> templates or appearance -> template parts = block editor
- HTML files (child themes for example)
- Theme file editor

And for te

[2021-10-27 14:21] isaumya commented on #33585
Hi @gVee,
Well, that snippet is risky to run on a client site. 😋
That being said, the first snippet is really handy but again I hope that when Gutenberg team releases a fix for this, they also run some sort of job to make sure this issue is also fixed in older articles. Maybe like some sort of upgreader process or something.

So, for now I think I will just stick with:

[code]

Until this matter i

[2021-10-27 14:28] colorful-tones commented on #29167
Doing some preliminary discovery and wondering if it is advisable to make my entry point for these modifications here: [`lib/block-support/elements.php`](https://github.com/colorful-tones/gutenberg/blob/trunk/lib/block-supports/elements.php) 🤔

[2021-10-27 14:34] mtias commented on #34352
The ability to save custom patterns is definitely something we'd want to get to but it should be something done in addition to reusable blocks, not as a replacement. Reusable blocks are widely used in their current behaviour and that should not be messed with.

Once we allow saving custom patterns that work like patterns do, the confusion with reusable blocks will naturally be increased, hence the

[2021-10-27 14:36] jffng commented on #29167
cc @oandregal what are your thoughts on introducing form elements to global styles at this point? Do you have some guidance on how this might be implemented and what considerations should be made?

[2021-10-27 14:37] blogtutor commented on #34352
@aaroncampbell's comment yesterday about asking family and friends reminded me that we should be surveying real users, getting outside of our developers' echo chamber.  So yesterday I posted a poll in the private Facebook group for our clients -- we have hundreds of publishers in the group, all of whom are non-technical, actual end users of WordPress. Many of them use Reusable Blocks heavily and a

[2021-10-27 14:37] jameskoster commented on #35994
But they are editable. Or to be precise, folks are able to customise them, and subsequently revert their customisations. But I don't think we need to surface that technicality here. As far as the end user is concerned, they are editing the template. FWIW this is exactly how it is implemented in the Site Editor currently.

It seems highly unlikely this will be included in 5.9 in its current state.

[2021-10-27 14:42] mtias commented on #34352
Thanks for sharing that :)

[2021-10-27 14:43] placoderm commented on #34352
By far this is the bigger issue. Its maddening that such a destructive problem has been allowed to exist for so long. Its as if the people making WordPress aren't actually using it.

Thanks for taking the time to do that survey.

[2021-10-27 14:48] mtias commented on #29167
This needs a bit more thought since it's not clear how it'd map to the block API at all, both from a user perspective and a developer perspective. Would the "button" in these form elements affect the "Button" block? Would it affect other buttons created by other block libraries? How would that connection be expressed? Is there any utility to a block author to designate an element in their block as

[2021-10-27 15:04] colorful-tones commented on #29167
Agree, there is quite a bit of nuance to consider here, and I'm mostly trying to create as small of an introduction of feature set to move it along a bit.

Thanks for the insight @mtias

No, and I believe that is mostly clear by the explicit entry in `theme.json` for `styles.elements.button`. We're targeting the `<button>` element _only_ in this regard.

I think it is confusing and partly detrimen

[2021-10-27 15:05] Vindulge commented on #34352
As one of the end users that weighed in with @blogtutor - don't change it. Spend the energy on improving education and ease of editing/use of the global reusable block series or even an easier way to create reusable post templates. We use 8 iterations of reusable blocks for food recipe repetitive content and like it.

Here are the constructive issues we ran into as we leaned into using it.

- In t

[2021-10-27 15:11] mtias commented on #29167
The problem is that it's also undifferentiated. You can use a button element to wrap around an icon and not want to inherit generic button styles as defined by `styles.elements.button`. A block author would be then prompted to over-qualify selectors ending up in a neverending chase with the theme probably covering itself by over-qualifying their CSS selectors directly and bypassing theme.json enti

[2021-10-27 15:20] mtias commented on #35907
Yes, doing it purely server-side would avoid deprecations and be the correct way to go about it since it's not essential data and can be easily reconstructed.

[2021-10-27 15:30] colorful-tones commented on #29167
I have to focus on an example to extrapolate a bit further. Here is how I would add an icon inside of a `<button>`

[code]

I do not believe `styles.button.fontSize` would have an impact on that icon in any negative manner.

I believe I'm sort of following you here. I think with my example above that we would need to allow block authors a means to hook in the `aria-label="Menu"` should an icon be

[2021-10-27 15:37] jameskoster commented on #34352
I was thinking about this earlier today in light of the [Pattern block](https://github.com/WordPress/gutenberg/pull/33217) that is being worked on, which feels like a precursor to custom patterns.

Once we enable the creation of custom patterns users would be able to use those, general template parts, or reusable blocks, all to effectively achieve the exact same result – a group of blocks that exi

[2021-10-27 15:42] shaunandrews commented on #34352
Just my two cents: Reusable blocks, Template Parts, and Patterns should all likely be a variation of a Group block and presented as such in the UI. Then, a Group block could be "synced" or "independent."

(Maybe there is a dozen or more reasons why this wouldn't work, but on a surface level it makes sense to me.)

[2021-10-27 15:42] placoderm commented on #34352
Are we all talking about the same thing here? That's not at all what reusable blocks are for.

Until now I think some people have used the reusable blocks to make a certain thing, insert it into a page, un-make it a reusable block, and then modify it to be what they ultimately want.

With the block patterns, won't that use case disappear?

[2021-10-27 15:44] mtias commented on #29167
In the svg example, if the default button look has a background color but the block using the icon button need to present the icon button without a background for some reason, they'd need to preemptively overwrite the background (because they don't know if one would be set) and to do that they might reach out to CSS because there's no ergonomic way to express it in the declaration.

Correct, the e

[2021-10-27 15:47] mtias commented on #31747
It's fine and good to show both saved headers and patters (whether from the theme or the patterns directory) but it should be presented as two aspects since patterns are always a starting point and would require the user to possibly make some adjustments (to text, content, imagery, navigation), while their saved headers are presumably already set.

[2021-10-27 15:56] colorful-tones commented on #29167
This was why I focused my [initial proposal](https://github.com/WordPress/gutenberg/issues/29167#issuecomment-951072413) _only_ on `font-size` modifications. Although, I _do_ see how it _could_ be a slippery slope. I.e. if we add `font-size` then why not `background-color` next, and so on.

I think my next logical step would be to introduce `customMargin` and `customPadding`, but I do not think I

[2021-10-27 16:04] a4jp-com commented on #30470
The title here is "Block Insertor: Option to add block above the first block is missing". I think the problem is totally different from "Inserter: Inline inserter is difficult to discover and use #22801". Why does that case number show up as closed here? https://github.com/WordPress/gutenberg/issues/22801#issuecomment-940941469

Did it just automatically link here?

The top inserter isn't showing

[2021-10-27 16:08] sagarnasit commented on #35934
Great! @kjellr

This feature would go in `styles -> typography -> fontSmoothing` in the theme.json file

[code]

I have a couple of questions in mind.

1. Adding the above style should work fine. Does it require adding settings as well for font-smoothing?

2. Does this feature require support for `elements` and `block` level styles too?

[2021-10-27 17:02] kjellr commented on #35934
I do not think we need any UI/settings for this.

I think just a global toggle would make sense for now.

[2021-10-27 17:11] skorasaurus commented on #20320
While you're in the block editor, are you referring to the heading block or the post's title?

[2021-10-27 17:12] scruffian commented on #35934
Looks like a good addition to me. I might even make it opt out...

[2021-10-27 17:31] skorasaurus commented on #11791
Confirmed this behavior -  Despite selecting HSL in the colorpicker; In the editor it appears that the colors are all applied as RGB, and the frontend are all applied in HEX. - is reproducible in Gutenberg 11.7.0.

should be tracked in #34284

[2021-10-27 17:37] #34547 closed, assigned to nobody

[2021-10-27 17:38] jameskoster commented on #34352
Technically it _should_ disappear, but will people _actually stop doing it_... who knows unless we force it? There will always be a group of people who discover reusable blocks first and use them as a substitute for patterns, simply because they can.

To flip the use case around, if I can create a custom pattern locally, and use it un-edited every time I insert it, does that feel significantly dif

[2021-10-27 18:05] tex0gen commented on #35560
@carolinan yes, exactly that.

[2021-10-27 18:10] strarsis commented on #20320
@skorasaurus: I mean the posts/pages title.
The new full site editing blocks also offers an explicit heading block -
but can the text inside the heading block further formatted?

[2021-10-27 18:38] kelin1003 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-27 18:57] dmsnell commented on #30674
Give it a try @priethor and let me know if things go awry - I'm happy to help out but I don't have the time on my plate at the moment to try it myself and have any reasonable ability to know if it's right. A quick warning though: I don't make any guarantee that the code I wrote above is correct or syntactically valid. It's likely something in there is wrong, but conceptually it should be right.

T

[2021-10-27 19:03] iandunn opened #36008 "Lock entire FSE templates and template parts"
## What problem does this address?

Theme authors will want to [lock entire FSE templates and template parts](https://gutenbergtimes.com/live-q-a-block-based-themes-for-full-site-editing-feature-in-wordpress/) in some situations.

There are some related issues, but I wasn't able to find any for that specific purpose:
* https://github.com/WordPress/gutenberg/issues/29864 seems to only be about lock

[2021-10-27 19:10] pbearne commented on #35489
I will look at this

[2021-10-27 19:16] zaguiini commented on #34959
@jameskoster, I have a question on https://github.com/WordPress/gutenberg/pull/36009. Please take a look when possible!

[2021-10-27 19:18] ryanwelcher commented on #35927
Wanted to mention that the current block validator plugin ( https://wordpress.org/plugins/developers/block-plugin-validator ) incorrectly flags items that are actually valid.
<img width="888" alt="block-validator" src="https://user-images.githubusercontent.com/1259027/139131960-b8a12376-c79e-4240-8343-96b2904b596d.png">
If we can use this package to also keep that tool up to date, we'll avoid a lo

[2021-10-27 19:31] chthonic-ds commented on #35934
Can this be kept as opt in, please? Those two lines of CSS are not supported for many users. For those it does affect, there's also the potential for a11y issues when applied to smaller text and/or text with a light font weight.

[2021-10-27 20:24] ZebulanStanphill commented on #29562
@paaljoachim The UI probably needs to be redesigned again, because now the heading level options are listed vertically, rather than horizontally.

Any ideas on how it should look? I suppose you could just put the warning to the right of the options, but I'm not sure if that's the right approach. Furthermore, there was a link to a help page about headings which was always shown in the popover, and

[2021-10-27 20:35] zaguiini commented on #33538
#36011 is ready for review. Please take a look, @javierarce!

[2021-10-27 21:04] skorasaurus commented on #20320
The text inside a 'standard' heading block that's not a post title can be marked up as a link, boldened, and italicized; additional text formatting can be provided by plugins like editorskit, aka block-options.

The FSE post title block has options to change the formatting (text size, whether to change the case (all caps, all lower case), font weight (should the font be thick, thin, etc)).

[2021-10-27 21:13] paaljoachim commented on #29562
Hey @ZebulanStanphill

I assume it would be something like this:

![Invalid-heading-levels](https://user-images.githubusercontent.com/5323259/139147804-69563287-dcd8-4a71-9a96-3f26af66ef1b.jpg)

As Joen @jasmussen has been working on the Heading block I would assume he might have some thoughts on this as well.

[2021-10-27 21:14] gwwar commented on #35947
This is a pretty tricky one! Thanks for exploring this further.

So I think some of the UX oddness that I'm feeling is that the block is prompting me to do things before I understand why I need to do said thing. It also stops me from my what I'm trying to do at the moment, turning into a friction point.  For example, when I click on "add link", I initially want to add some links, not pause to wond

[2021-10-27 21:46] bph commented on #35903
It seems to be a WordPress core bug and is patched. [Trac issue #](https://core.trac.wordpress.org/ticket/54323). It will be fixed upstream
I close this issue for now.
Also duplicate issue #35912

[2021-10-27 21:46] #35903 closed, assigned to nobody

[2021-10-27 22:10] ethanclevenger91 commented on #15084
@youknowriad

That's not something built into Gutenberg. That's a theme-specific style added to Twenty Nineteen and, presumably, other core themes. The following is from the Twenty Nineteen stylesheet:

[code]

The Gutenberg `style.css` has padding styles applied to `p.has-background`, `.wp-block-columns.has-background`, and potentially others, but not the group block.

The Gutenberg `theme.css` f

[2021-10-27 22:53] tomjn commented on #31815
in `block.json` there's a precedent for consistent script/style relative URLs already handled by core:

[code]

Which implies:

[code]

It couldn't be used for quite the scope that `{{ template_directory_uri }}` has but:

 - it's straight forward
 - has a precedent in core already
 - is confined to the context of a URL
 - doesn't introduce odd situations or feature creep with a generic token featu

[2021-10-27 23:44] stacimc opened #36015 "Typography Support: Font family does not work in block styles in the site editor"
### Description

In the site editor, if you attempt to modify the font-family of an individual block through the Typography panel in its Inspector Controls, the style is not visually reflected in the editor.

It looks like the class name is correctly added to the block, but no relevant styles are present in the stylesheet.

Font family styles selected through the _Global Styles_ panel _do_ work co

[2021-10-27 23:45] noisysocks commented on #35868
Yes that's right. If a block attribute doesn't have a `source` then it will be saved as JSON into the HTML comment and PHP can parse and serialise it just fine. If a block attribute has a `source` then we need `save()` in order to turn the attribute into HTML and `hpq` to turn the HTML into an attribute.

I agree.

[2021-10-27 23:56] noisysocks commented on #31815
"Potentially solve" or "will solve"? 🙂

If #33217 is all that Twenty Twenty-two needs then I would prefer that we focus on that PR instead of this issue for 5.9. That way we can think more slowly about https://github.com/WordPress/gutenberg/issues/31815#issuecomment-948117731 and https://github.com/WordPress/gutenberg/issues/31815#issuecomment-953368315 which are both really good ideas that deserv

[2021-10-27 23:57] noisysocks commented on #35680
Is there something minimal we can do here for WP 5.9? cc. @WordPress/gutenberg-core

[2021-10-27 23:59] noisysocks commented on #4543
@aaronrobertshaw: What's the status of this one? Is there anything minimal we can do in time for WP 5.9?

[2021-10-28 00:01] noisysocks commented on #29126
What's the status of this one? Are we still awaiting design, or looking for a dev?

[2021-10-28 01:22] carolinan commented on #29126
I think we can call this a partial fix https://github.com/WordPress/gutenberg/pull/35892

Another option is to revert the removal of the customizer menu item....

[2021-10-28 01:44] talldan commented on #30470
@a4jp-com This issue is still open.

#22801 is a different issue.

[2021-10-28 04:04] talldan commented on #35503
I created an issue for discussing the preloading of site editor content over here: https://github.com/WordPress/gutenberg/issues/35942

That would get rid of the disorienting nature of loading the editor. It might not be a quick win for 5.9, but could be something to consider in the longer term.

[2021-10-28 04:08] #35512 closed, assigned to kevin940726

[2021-10-28 04:13] talldan opened #36020 "Site editor - Add keyboard shortcut for saving"
## What problem does this address?
I keep pressing Cmd+S in the site editor and seeing this unhelpful browser dialog:
<img width="343" alt="Screenshot 2021-10-28 at 11 55 43 am" src="https://user-images.githubusercontent.com/677833/139184112-9f607323-a6ef-44b1-bee7-314ad997088e.png">

I think this will be quite frustrating for other users too.

## What is your proposed solution?
Add a keyboard sho

[2021-10-28 04:18] talldan opened #36021 "Site editor - make it easier to get back to the dashboard"
## What problem does this address?
At the moment it takes three clicks to get back to the dashboard, which seems excessive.

## What is your proposed solution?
Have an always available option to return to the dashboard in the navigation sidebar.

[2021-10-28 04:38] noisysocks commented on #33926
I think we can close this out now that https://github.com/WordPress/gutenberg/issues/35512 is merged. No doubt there's plenty more to iterate on but I think things are in good shape for WP 5.9. Really nice work @kevin940726 and @jameskoster! ❤️🎉

[2021-10-28 04:38] #33926 closed, assigned to noisysocks, kevin940726

[2021-10-28 05:45] carolinan commented on #35990
So where would the edit link lead to if the template is not assigned to a post/page/custom post type?
What if it is assigned to more than one post? Then you'd have to select which post to open with the template editing mode.

_Especially if the site editor is not in 5.9._ If it is in 5.9, I think the edit link would need to go there.

[2021-10-28 06:10] aaronrobertshaw commented on #4543
Thanks for the ping @noisysocks.

Progress has stalled a bit on these efforts. The PR I was working on was to be able to select secondary colors for the table block https://github.com/WordPress/gutenberg/pull/33157. The hope was the same or similar approach could then be extended to other blocks, such as the button block here and its hover color.

The discussion on the PR lead to the creation of h

[2021-10-28 06:16] talldan commented on #35947
I've attempted another iteration where an `wp_navigation` post is automatically created on template insertion - #36024.

[2021-10-28 06:19] shimon246 commented on #35987
@gziolo
Thanks for commenting!👍

I still can't seem to get the block name with the PHP hook you advised.

## Complete code
my-plugin.php
[code]
index.js
[code]

I used the Example code as a reference.
https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#blocks-registerblocktype

## Expected behavior
I want to set the style based on the block name `my-plugin/class-na

[2021-10-28 06:31] #35821 closed, assigned to nobody

[2021-10-28 06:48] costdev commented on #33580
Now that this issue has two test reports that show the patch successfully prevents the content from being visible to the user, how do we progress it to the next/final stage?

[2021-10-28 07:11] eirichmond opened #36025 "Warning: Each child in a list should have a unique "key" prop"
When I have SCRIPT_DEBUG enabled everytime I add my custom block I get the following warning:

`Warning: Each child in a list should have a unique "key" prop. See https://fb.me/react-warning-keys for more information.`

this is the edit function:

[code]

[2021-10-28 07:17] carolinan commented on #35990
The site editor uses a URL format with the theme name and the name (slug) of the template.
`admin.php?page=gutenberg-edit-site&postId=theme-experiments%2Femptytheme%2F%2Fsingular&postType=wp_template`

The edit link in the appearance > templates view would need to be updated to point to the site editor.
I was not able to figure out how to update/filter the `_edit_link` argument of `register_post_t

[2021-10-28 07:27] sagarnasit commented on #35934
@chthonic-ds Yes, this feature would be opt-out by default.

[2021-10-28 07:51] NekoJonez opened #36029 "Mixed use of "website" and "site""
### Description

During the translation of Gutenberg, I noticed that several strings use "site" and several use "website". I think it might be a good idea to use only one term instead of two.

A good example from the search results:

![image](https://user-images.githubusercontent.com/4569581/139210841-7447987a-89c4-4f7a-8d33-c9ff49be32ad.png)

Is it an idea to go over all the strings and make them

[2021-10-28 08:17] jasmussen commented on #35521
With the merger of #35857 (@tellthemachines 👏 ), I wonder if we shouldn't — for the sake of this tracking issue — check the box for #34041?

This will not preclude further enhancements to transforms, which is one of the most powerful aspects of the block, to the point that the feature could deserve its own tracking issue!

[2021-10-28 08:45] jasmussen commented on #35438
This is indeed a tricky one. Absorbing variations into theme.json is a noble goal that can help surface and solve so many issues like these, and make the theme.json, design tools, and the global styles interfaces all the more resilient for it.

At the same time, there are and likely will always be designs that are not really possible without _finessing_ the CSS a little bit. But it still seems lik

[2021-10-28 08:45] oandregal commented on #35438
The ability to respect theme.json styles over the outline variation for the button has been fixed by https://github.com/WordPress/gutenberg/pull/35968

When it comes to variations there's the issue I've shared above. In particular, for the outline one in the button block, I've seen a related report to make the button's height the same across different button statuses (hover, active, etc). I've sha

[2021-10-28 08:47] #35000 closed, assigned to michalczaplinski

[2021-10-28 08:49] gziolo commented on #34996
This block needs more work so let's reopen the issue.

[2021-10-28 08:53] tomjn commented on #31815
I'd also note that with `{{ template_directory_uri }}/assets/flying-bird.jpg` there's an issue with parent vs child themes and the stylesheet vs template naming convention. `template_directory_uri` would refer to the parent theme, `stylesheet_directory_uri` would be necessary to reproduce the behaviour of child themes, but then if a child theme didn't reproduce every asset of the parent theme it w

[2021-10-28 09:09] #36015 closed, assigned to aaronrobertshaw

[2021-10-28 09:30] jasmussen commented on #35947
Important context for this conversation is to look at the user experience as it currently exists in trunk, and consider whether we can ship that in the next version of the plugin. At the moment the big warning that appears on selecting a navigation block from a pattern is causing big layout shifts:
![trunk](https://user-images.githubusercontent.com/1204802/139224305-7726cbad-f70a-4232-a51f-c57564e

[2021-10-28 09:42] carlomanf commented on #35995
#31971 already attempts this, it actually has the same exact changes as #35996 but goes one step further and modifies the output of the Theme column.

[2021-10-28 09:55] webexpr-dhenriet opened #36031 "Colors (Highlight and custom editor-color-palette) markup not removed and Hightlight bug"
### Description

**If I use Highlight color from the dropdown menu  :**

![Screenshot_2](https://user-images.githubusercontent.com/62699215/139231270-308d36b2-e09d-4af5-9245-fbf2a190b0aa.png)

[code]

**If I use custom color from the sidebar editor-color-palette after used Highlight dropdown :**
![Screenshot_4](https://user-images.githubusercontent.com/62699215/139231332-14966c90-b029-422c-9990-be

[2021-10-28 10:15] gziolo commented on #35696
This block is going to be deprecated so it's a low priority task since this block is experimental and will never land in WordPress core.

[2021-10-28 10:18] gziolo commented on #35215
The plan is to deprecate the Post Comment block in favor of the Comments Query Loop block. I think this is a low priority task since it's marked as experimental in the plugin and it will never land in WordPress core.

[2021-10-28 10:24] jasmussen commented on #35947
Here's a new set of mockups that requires saving navigation, but postpones it and handles it all in the multi entity saving flow. As a net result, you can't save your post or page without also saving the navigation. But the choice to save isn't right upfront.

### Variant D: Multi entity saving

**Start with an existing menu**. This one starts with a simplified placeholder and a dropdown with segm

[2021-10-28 10:55] talldan commented on #35947
@jasmussen I understand your passion around this particular issue, but we have to focus on two things:
a) Something that is achievable
b) Something that doesn't break the entire model of a persisted navigation block, because as mentioned it's central to so many things we're exploring.

Most of what you're proposing seems like an interesting north star, but it's not something anyone can realistical

[2021-10-28 11:12] dennisheiden opened #36035 "Cover Block min height unit "vh" missing / only "vw" selectable"
### Description

I have noticed that you cannot select "vh" as unit for the min-height block setting of cover blocks, only "vh" (besides px etc.)

![image](https://user-images.githubusercontent.com/25924499/139244184-6c1ae634-79e8-4453-9dc7-ebda0485448c.png)
![image](https://user-images.githubusercontent.com/25924499/139244256-1a90e621-581f-431f-862f-30e035eb558d.png)

### Step-by-step reproductio

[2021-10-28 11:29] antonyjsmith commented on #31390
The lack of ability to filter by more specific criteria really limits the usefulness of this block.

[2021-10-28 11:35] talldan opened #36036 "Provide a way to manage wp_navigation posts from wp-admin"
## What problem does this address?
#35746 introduced a new `wp_navigation` post type for storing navigation block data.

As a user when creating these new posts via the navigation menu block, one may end up with many menus from testing, tweking and trying. Then the selection of one menu becomes cumbersome as it is from a huge list. All the same, if any of the explorations around making pattern UX

[2021-10-28 11:38] SantosGuillamot commented on #34996
Great! Is there any place to check which tasks are left to consider this issue done?

[2021-10-28 11:41] kjellr commented on #31815
Good question. What I mean there is that the PR _will_ allow us to do this, but that it seems like a hack to me. 😄

It's a clever way to take advantage of the fact that block patterns can be translated, but it feels far less easy to understand than something like `{{ template_directory_uri }}/assets/flying-bird.jpg`. It seems like a short-term solution, not a long-term one.

If we don't think we c

[2021-10-28 11:51] gziolo commented on #34996
The comment https://github.com/WordPress/gutenberg/pull/35231#issuecomment-952459025 from @michalczaplinski should be a good summary of what's left.

[2021-10-28 12:10] github-actions[bot] opened #36038 "[Flaky Test] can have other blocks appended to it using the button appender"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can have other blocks appended to it using the button appender

## Test path
`/test/e2e/specs/editor/blocks/group.spec.js`

## Errors

<time datetime="2021-10-28T12:10:47.941Z"><code>[2021-10-28T12:10:47.941Z]</code></time> Test passed after 1 failed attempt on <a href="http

[2021-10-28 12:14] poof86 opened #36039 "FSE - Unable to save background color on template part"
In the FSE I'm able to select and change the background color of a template part.
Saving shows the template-part was modified, but reloading or checking front-end shows no background color was saved.

[2021-10-28 12:22] paaljoachim commented on #30108
What about making the previews bigger as right now showing a full page template the contents of it can get very small. Having bigger previews would make these more obvious and easier to notice the details of each template.

[2021-10-28 12:24] annezazu commented on #36020
Closing this out as a duplicate: https://github.com/WordPress/gutenberg/issues/29642 Will add the other to must haves.

[2021-10-28 12:24] #36020 closed, assigned to nobody

[2021-10-28 12:25] annezazu commented on #36021
Just noting that this has come up a fair bit with the FSE Outreach program, [including the latest call for testing](https://make.wordpress.org/test/2021/10/21/fse-program-pattern-party-summary/):

[2021-10-28 12:28] paaljoachim commented on #34959
I made a 9 minute video where I in general go through the FSE sidebar menu:
https://youtu.be/EtGr1Uld1b4

Example.
Going to Page Templates. There is no obvious heading and Page templates become a part of the content. Like so:

![Screenshot 2021-10-28 at 14 25 00](https://user-images.githubusercontent.com/5323259/139254688-4d9890d7-502e-41dd-b267-f63d0f3c551f.jpg)

Having Page templates as a headin

[2021-10-28 12:38] Robertght commented on #17718
I'm not sure if it's the same issue, but I noticed this might be the same thing: https://github.com/Automattic/wp-calypso/issues/57390

I tested it on my iPad with Safari 15 and macOS Catalina and the zoomed-in images are still showing up.

Example: http://rockfielddemo.wordpress.com

![Image from iOS](https://user-images.githubusercontent.com/6737345/139256500-c8fee68b-fff5-4dde-af25-34fe231bc837

[2021-10-28 12:48] elettrona commented on #35440
WordPress auto-update has brought 11.8.0 Gutenberg on my web site. But
the title bug still persists.

2021-10-26 16:20 GMT+02:00, Alex Stine ***@***.***>:

[2021-10-28 13:05] iandunn commented on #35926
A better way to solve this might be to allow template tags like `{{ home_url }}` (which would map to the PHP `home_url()` function). That would solve a much wider range of problems than just the specific problem with this block.

@mkaz suggested that in https://github.com/WordPress/gutenberg/issues/31815#issuecomment-948117731

[2021-10-28 13:14] javierarce commented on #30108
Oh, I think that wasn't the original intention of this issue, @paaljoachim, which was just about moving the preview closer to the highlighted element. Maybe a new issue would be more appropriate to discuss your suggestion?

[2021-10-28 13:24] Mamaduka commented on #31815
I like @tomjn's suggestion of using `file:` for assets.

The problem with tokens is, it usually doesn't stop with a single token, and we might end up creating a new "templating engine."

[2021-10-28 13:31] paaljoachim opened #36043 "Full Site Editing: Bigger and easier to see previews"
## What problem does this address?

This is from Twenty Twenty Two new default theme. In Chrome.

![Full-Site-Editing-Front-Page-Preview](https://user-images.githubusercontent.com/5323259/139264502-fd22d6ea-2f42-4264-931f-233e95c63f05.jpg)

There is a lot going on, and it is difficult to focus on the small preview.
Details are difficult to see.

## What is your proposed solution?

A bigger preview

[2021-10-28 13:33] paaljoachim commented on #30108
Here is a new issue:
Full Site Editing: Bigger and easier to see previews
https://github.com/WordPress/gutenberg/issues/36043

[2021-10-28 13:43] paaljoachim commented on #36043
Here is an example from TT1. Which is a lot better. (The preview could be even bigger.)

![Screenshot 2021-10-28 at 15 41 48](https://user-images.githubusercontent.com/5323259/139268007-2d1654aa-16c1-4e40-9f39-eaffdd993a48.jpg)

[2021-10-28 14:16] anton-vlasenko opened #36046 "Refactor `normalizePath` function to use `URLSearchParams.sort` to sort the request parameters"
## What problem does this address?
We have `normalizePath` function in the `wordpress/url` package.
We could refactor it to reduce its size.

## What is your proposed solution?
We could use `URLSearchParams.sort` function to sort the request parameters instead of implementing our custom solution.
Please check https://github.com/WordPress/gutenberg/pull/35992#discussion_r738013100 to see the propos

[2021-10-28 14:26] paaljoachim opened #36049 "Full Site Editing: + seen in sidebar should mean add a new template."
## What problem does this address?

Gutenberg plugin 11.8.0
Theme: TT1

This:
![Screenshot 2021-10-28 at 15 44 30](https://user-images.githubusercontent.com/5323259/139268363-eb74334f-d832-460d-9e80-deb8e2b2ed51.jpg)

I get the impression that clicking the + sign and also the Add Template text that I should be able to add a new blank template, but that is not the purpose here. In this drop down I

[2021-10-28 14:44] strarsis opened #36050 "FSE: block-template doesn't render in frontend (plain HTML template file)"
### Description

The block-template, e.g. for a page, can be used in backend (Gutenberg editor), but on frontend the plain HTML is shown, the areas/block placeholders are not rendered.
What part of WordPress core/Gutenberg plugin is responsible for rendering the block-template HTML? Is it a filter?
Maybe the theme I am using somehow intercepts the renderer? How can I find this out?

### Step-by-st

[2021-10-28 15:26] alexstine commented on #35440
@talksina I believe it will be in version 11.9.

Thanks.

[2021-10-28 15:40] deborah86 opened #36052 "Real Button Block Component"
## What problem does this address?

The button block component is actually a link. This creates confusion with the development of blocks and block themes. It also makes it difficult for theme and block designers to incorporate html buttons into their designs.

## What is your proposed solution?

There should be a separate component for HTML links <a> and  HTML buttons <button>.

The link block sho

[2021-10-28 15:42] deborah86 commented on #36052
This is related to:  [Global Styles: Form elements #29167](https://github.com/WordPress/gutenberg/issues/29167)

[2021-10-28 15:55] mrwweb opened #36053 "Container Style Element Breaks Expected CSS Selectors"
### Description

I've started trying to use `theme.json` which triggers new layout tools for Group blocks. Among these are an inlined `style` element immediately following the Group block:

[code]

This breaks what has become a really helpful theming technique for CSS Selectors:

[code]

This worked with the old markup that would be this:

[code]

It no longer works because the markup is now:

[co

[2021-10-28 16:32] richtabor commented on #35438
That's interesting.

It's tough because if a theme modifies the spacing.padding of the buttons; they'll need to add custom CSS to make them look 1:1 in size (which will need to be updated again if the value changes at any point). Seems like whatever we support in core should be easily modified by theme.json (which most values are) but this one in particular is a remnant of hard-coding styles from

[2021-10-28 16:34] #35719 closed, assigned to mcsf

[2021-10-28 16:35] mtias commented on #33926
Excellent!

[2021-10-28 16:43] mchowning commented on #31913
👋  @ArnaudBan, @adamsilverstein, @DevinWalker, @sirjonathan, @pratikkry, @pstonier, @MehtaRiddhi, @pavlo-tk, @nicolad, and @vtrpldn

Sorry to re-ping you all, but I thought you might have missed this, and I wanted to ask again if you would confirm whether you are the author of the commits from the email addresses I noted in the issue description above. Thanks so much for your help.

[2021-10-28 16:49] kjellr commented on #34729
Just a heads up that I've temporarily removed `Header area with hatched pattern` from the list of featured patterns, so that this doesn't happen whenever folks scroll down the "Featured" list.

[2021-10-28 16:57] pbearne commented on #32787
Hi all

I have started this but it seems that that change the background to background-color(or backgroundColor in js) if it is a straight color and to background-image(backgroundImage) if gradient

this change is in 100's of files so I what to reach back to make sure that me removing all the shorthand background is what you need/want

note: the only shorthand background have left is `background:

[2021-10-28 17:03] v9ai commented on #31913
I am the author of all Gutenberg commits from nicolai.vadim@gmail.com

[2021-10-28 17:15] kjellr opened #36057 "The Group block's layout defaults break existing content"
The shift to using Gutenberg's layout controls is going to break a lot of content. Take this layout in Twenty Twenty-One for example:

<img width="1405" alt="Screen Shot 2021-10-28 at 12 58 22 PM" src="https://user-images.githubusercontent.com/1202812/139302499-d666e0ae-cf83-42e4-b3f6-75985056aaa0.png">

This is how that looks when I switch the theme to Twenty Twenty-Two:

<img width="1519" alt="S

[2021-10-28 17:17] colorful-tones commented on #29167
Upon further discovery of how to attempt to incorporate my [initial proposal](https://github.com/WordPress/gutenberg/issues/29167#issuecomment-951072413) it seems like there is far more work than I anticipated.

Originally, I had thought that the `theme.json` block support entry for `style.elements` was handled in [`lib/block-supports/elements.php`](https://github.com/WordPress/gutenberg/blob/trun

[2021-10-28 17:24] colorful-tones commented on #29167
To provide a little more background for the uninitiated. The `theme.json` currently only supports the following within the `style.elements` entry:

[code]

Basically, `h1`, `h2`, `h3`, `h4`, `h5`, `h6`, and `link`, which translates to `<a>` element styling.

[2021-10-28 18:10] tomalec commented on #24376
To somewhat complement the idea of dist-tags, I made [a PR to `@wordpress/scripts`](https://github.com/WordPress/gutenberg/pull/36005#) which allows updating/downgrading local `@wordpress/*` packages to the ones used by a given WordPress version. Like
[code]

After the changes proposed in this issue are introduced it could be changed to support also Gutenberg version.

[code]

Plus be implemented

[2021-10-28 18:51] kjellr commented on #35680
For what it's worth, I believe the theme will have to ship with [traditional starter content](https://github.com/WordPress/twentytwentytwo/pull/169#issuecomment-953919102) to power its Theme Showcase preview (unless we change the way that works too, but that seems like a stretch). So the issue is specifically that we don't have a way to preview/activate that content since there's no Customizer.

[2021-10-28 18:55] mkaz commented on #31815
@Mamaduka I agree it could get tricky with adding complexity, and we'll end up remaking PHP 😆

I created a simple example PR that proves that it kinda work here: https://github.com/WordPress/gutenberg/pull/36059

That is obviously not the end solution, but seems to work as a proof-of-concept.

I think the `file:` solution would probably be a bit harder to implement, especially if we were hoping to

[2021-10-28 19:01] kjellr commented on #36057
Here's sample code for anyone looking to recreate that:

[code]

Basically the steps are:

1. Using a non-block theme, create a new post.
2. Add a full-width group block.
3. Add standard-width content inside of it.
4. Save the post.
5. Switch to a block theme, and view the post.
6. All your standard-width content will appear full-width.

[2021-10-28 20:02] kellychoffman commented on #29630
Taking into account the feedback received and what was working from both concepts on both posts, proposing the following as an MVP:

Click on Appearance and you see Editor (beta) menu item. This keeps the concept of updating your look and feel of your site within the Appearance menu item, where current users are used to going to Customize. It is also intuitive for new users and matches the iterati

[2021-10-28 20:09] jordesign opened #36060 "Site Editor: Allow Revisions for the Site Editor"
## What problem does this address?

No revision history for the site Editor

## What is your proposed solution?

I'm not sure it's possible but a revision history within the Site Editor would be nice to have.
This would allow users to revert to a previous version of what they've created within the Site Editor.

This is currently available for pages and posts:

https://user-images.githubusercontent

[2021-10-28 20:10] jordesign commented on #36060
Originally reported by @synora in https://github.com/Automattic/wp-calypso/issues/57349

[2021-10-28 20:17] ryelle commented on #35364
I don't think we've discussed this, but the pattern slug (ex, `cover-with-title-and-audio`) would probably be a good identifier. The API could then be updated to accept `name=cover-with-title-and-audio` or something similar, and return a single pattern result… or a list of `name`s and return the full list of patterns for the theme, to avoid multiple API calls.

Could patterns defined in the `theme

[2021-10-28 20:22] colorful-tones commented on #29167
I'm un-assigning this Issue for now, because I do not think I'll have the bandwidth, knowledge and fortitude to work through maturing some of the necessary APIs and do not want to hold up progress from anybody else. Thanks!

[2021-10-28 20:28] tomjn commented on #31815
I've had an idea I like to i18n too but I can't find an appropriate ticket for this as the pattern block PR represents i18n in FSE currently.

I've created https://github.com/WordPress/gutenberg/issues/36061 to be that issue

[2021-10-28 20:33] tomjn opened #36061 "Discussion/i18n: Localising blocks in FSE themes"
Currently for twentytwentytwo a workaround is being considered involving the `core/pattern` block in https://github.com/WordPress/gutenberg/pull/33217 combined with use of `__()` when registering the pattern. While this achieves the goal it's a short term workaround.

For the longterm solution, I've created this issue to discuss.

[2021-10-28 20:40] tomjn commented on #36061
I've a suggestion!

Localised attributes:

[code]

with a textdomain attribute. WP can then run through each attribute, extract its value, and translate via the `textdomain` and pass the localised versions via filters, or swap the original value in the rendered string.

The textdomain would appear under the advanced panel alongside classes, with the intention that it wouldn't be used in post conte

[2021-10-28 20:50] tomjn commented on #31815
a lot of the solution is already implemented and in use in core, otherwise with `{{token}}` we've reinvented shortcodes without the attributes. The `file:.` solution is also not intended to be expanded with new variables and values, it's not a general token system nor does it prevent a token system being added in the future. `remove_block_asset_path_prefix` is the function of relevance.

I think t

[2021-10-28 20:53] ramonjd commented on #35907
Does anyone have advice for the Arbutus-related question: https://github.com/WordPress/gutenberg/pull/35975#issuecomment-953766673

I'm wondering if there's a wider need to add a `data-id` attribute to image at the point `$post->content` is rendered to the screen, or whether we can work with the theme developer for a fix on the theme side.

[Here's where Arbutus is looking for the attribute](https

[2021-10-28 21:55] anton-vlasenko commented on #36036
@draganescu @talldan
The way I understand this issue is the following:
1. We should disable the post editor for each menu because it doesn't work with menus when we enable the [`show ui`](https://github.com/WordPress/gutenberg/blob/trunk/lib/navigation.php#L421) flag.
2. We still have to allow to manage menus via the `All Navigation Menus` page. Please see the screenshot below.
3. We should allow

[2021-10-28 22:27] ramonjd commented on #35604
👍

I think https://github.com/WordPress/gutenberg/pull/34064 is ready for another round of review in that case.

[2021-10-28 22:52] mkaz commented on #31815
Right, I had the wrong PR linked, too many open tabs. Fixed, thanks.

It looks like that function wouldn't work or I'm seeing it wrong, looking at [remove_block_asset_path_prefix()](https://developer.wordpress.org/reference/functions/remove_block_asset_path_prefix/) all it would do is replace the `file:` part with nothing, so the image would left as `<img src="./flying-bird.jpg"/>` and this would

[2021-10-28 22:59] carolinan commented on #29630
And where is the theme file editor?
Perhaps under Tools?

[2021-10-28 23:03] gVee commented on #33585
So Sad, I found it seems Chrome problem not Gutenberg because the same issue occur on any web page with Chrome.

I've raise an bug issue to [chromium bugs](https://bugs.chromium.org/p/chromium/issues/detail?id=1264616)

@ellatrix @getdave

**A suggestion for this issue** is adding similar code to remove them(`<meta charset="utf-8">`) with javascript in [use-paste-handler.js](https://github.com/Wor

[2021-10-28 23:37] kellychoffman commented on #29630
Tools could work. Also wondering if we could we keep it under Appearance - or would that be too confusing?

[2021-10-29 00:42] #35567 closed, assigned to nobody

[2021-10-29 00:46] glendaviesnz commented on #35907
Some more [context here](https://github.com/WordPress/gutenberg/pull/35975#issuecomment-953429858) @mtias, @celloexpressions  - the problem with the suggested server side addition of the `data-id` is that it happens after the post content has already passed through the theme functions so doesn't help.

[2021-10-29 00:48] noisysocks commented on #29630
Thanks @kellychoffman! Let's at least get something rough merged by November 3 (Gutenberg 11.9 RC / WordPress 5.9 feature freeze). We can polish and fix bugs during the 5.9 beta period.

[2021-10-29 01:11] michalczaplinski commented on #34996
Continuing adding features and improvements to the Comments Query and Comment Template in https://github.com/WordPress/gutenberg/pull/36065

[2021-10-29 01:22] tex0gen commented on #34550
Not to thread hijack but it seems related, could we possibly have a filter to change or add a directory of the block-templates/block-template-parts? I did have a look through the code but couldn't find a method to do so. Perhaps then it would be down to the theme developer to choose if root theme directory is used, the default as it stands or an alternative  solution altogether.

[2021-10-29 02:31] aaronrobertshaw opened #36066 "ColorPicker: Dragging selection in gradient picker throws error"
### Description

Color selection for one point in a gradient throws a max depth exceeded error when using the drag gesture within the color picker.

I expected to be able to click on a color point in the gradient slider, then be able to drag the selection around in the color picker popover. Instead, when doing so, an error is thrown and block gets invalidated in the editor.

### Step-by-step repro

[2021-10-29 02:55] talldan opened #36067 "`npm run test-unit:watch` no longer supports focused tests"
The test runner no longer seems to support changing a test to `describe.only` or `it.only`.

To reproduce:
1. Run `npm run test-unit:watch`
2. Change a unit test to `it.only`.
3. Observe that the focused test is ignored. (this might depend on which test is set to `only`, I noticed this while trying it on `describe( 'undo'` - https://github.com/WordPress/gutenberg/blob/trunk/packages/core-data/src/

[2021-10-29 03:05] noisysocks commented on #31815
Agree, this worries me too.

I think the idea is to borrow the `file:` prefix but not necessarily `remove_block_asset_path_prefix()`? A naive and very broken implementation would be to `str_replace( 'file:', get_template_directory_uri() . '/', $template_content )`. We could maybe use `template:`, `theme:`, `asset:`, etc. as the prefix if that's clearer.