[2021-03-15 08:55] kraftner commented on #28957
I manually transformed it via the "Transform to" function in the UI.

[2021-03-15 08:58] youknowriad commented on #28957
@kraftner Makes sense, that's the issue than, the "transform" should move the "align" attribute to the wrapper instead of keeping it in the child. 👍

[2021-03-15 09:22] SiobhyB opened #29861 "Mobile: Multiline Components: Loss of Previous Lines when Starting Multiple New Lines"
## Description

When entering multiple new lines in a block that has a multiline component, the cursor sometimes behaves in an unexpected way (either moving to the top of the block or moving to a brand new block) and this can lead to lines being wiped/lost.

I have been able to replicate this on Android devices only and with the following four blocks: _Quote_, _Verse_, _Preformatted_, _Pullquote_

[2021-03-15 09:36] gziolo commented on #25077
Cross-linking the thread from the WordPress Slack (the link requires registration at https://make.wordpress.org/chat/:

https://wordpress.slack.com/archives/C5UNMSU4R/p1615573177193800

The highlight would be the article from @aduth where he explains how to use Snowpack (previously Pik) to set everything up:
https://andrewduthie.com/2019/11/29/back-to-basics-a-possible-future-without-javascript-bu

[2021-03-15 09:52] jameskoster commented on #27093
I agree it would be good to display the document title, and include the popover for editing the title & permalink.

But the interaction between the "Site" and "Page" buttons in the gif above isn't clear enough imo. I suggest we leave that out for now, since there will be (are already) other UI patterns for moving between template / content editing.

[2021-03-15 09:57] SiobhyB opened #29862 "Mobile: Pullquote and Quote Block: Inconsistent Markup for Newlines on Android"
## Description

There is some inconsistency in the markup that's generated for new lines in the Quote and Pullquote blocks on Android devices.

## Step-by-step reproduction instructions

1. Add a new Pullquote block to the post editor in the Android app.
2. Enter a few lines of text into the block, pressing enter to create a new line each time.
3. Manually add another Pullquote block, and enter th

[2021-03-15 10:28] mtias opened #29864 "On Locking and TemplateLocking"
### Background

The block editor has had template locking support since very early on. Template locking allowed to designate the original content templates (the ones you could use on custom post types) to prevent insertion or moving blocks. Inner blocks also has supported a `templateLock` attribute. This was extended in #26128 to be used directly in columns and group as attributes, not just as int

[2021-03-15 11:02] SiobhyB opened #29866 "Mobile: Low Contrast Between Text Colour and Background in Footer Message Cell"
## Description

In the footer message cell component, the colour contrast between the current text colour and white background is below the contrast requirements outlined in [WordPress' accessibility standards](https://developer.wordpress.org/coding-standards/wordpress-coding-standards/accessibility/#color-contrast).

## Step-by-step reproduction instructions

The component can be found in the Col

[2021-03-15 11:26] ellatrix opened #29868 "Popover position improvement idea"
Alternative to the idea proposed in #21275.

The popover position API is very clunky and it tries to satisfy a lot of different positioning needs.

What if we provide a base rectangle and allow popovers to be positioned from there, purely in CSS? Why reinvent the wheel and maintain or introduce a positioning API if CSS provides a great one?

How could this be done?

Instead of positioning a popove

[2021-03-15 11:30] jasmussen commented on #20138
I'm closing this one as the UI has changed so much since then. We can always revisit.

[2021-03-15 11:30] #20138 closed

[2021-03-15 11:33] jasmussen commented on #25012
Is this one done? #29756 landed recently which I believe addressed this one. @draganescu what do you think?

[2021-03-15 11:36] thetwopct commented on #28549
I'm also seeing this issue in WordPress 5.7. Also tried with Gutenberg 10.1.1 and the issue remains.

[2021-03-15 11:41] jasmussen commented on #23294
Since #29133 is merged, I'm closing this one. Please reopen, or open a new issue, if an aspect was missing.

<img width="702" alt="Screenshot 2021-03-15 at 12 40 29" src="https://user-images.githubusercontent.com/1204802/111148269-b5ae9d00-858b-11eb-817f-a1d02fdf5cf1.png">

<img width="869" alt="Screenshot 2021-03-15 at 12 40 54" src="https://user-images.githubusercontent.com/1204802/111148272-b6d

[2021-03-15 11:41] #23294 closed

[2021-03-15 11:43] draganescu commented on #25012
The navigation block does not behave yet as described in this issue, particularly here:

[2021-03-15 11:45] jasmussen commented on #25012
Oh! I can fix that. Thanks.

[2021-03-15 11:52] Mamaduka commented on #29528
Engines update would be nice.

Currently can't install dependencies on Apple Silicon machines because of this restriction.

[2021-03-15 12:05] jameskoster commented on #29864
Making templates contextually un-removable and/or un-editable (attributes) will be crucial in establishing an intuitive experience as one moves between editing content / template 👍

Some more background on that (and rough concepts) can be found in https://github.com/WordPress/gutenberg/issues/27848.

This one feels especially tricky because the position of a block is always relative to those aroun

[2021-03-15 12:40] ellatrix opened #29870 "RichText: internal value refactoring idea"
Currently, RichText's internal value has separated text from formatting, which is great for searching the text and easily applying formatting. The formatting data is a sparse array that is filled at the positions where the text is respectively formatted. For example, if text is formatted from position 2-5 in bold and from position 2-10 with a link, then you'll find arrays in the sparse array from

[2021-03-15 12:55] DhrRob commented on #29705
+1.

Right now, this is only solvable through hacky CSS. Such as:
`.wp-block-cover[style="min-height:100vh"] {
	min-height: calc( 100vh - 75px ) !important;
}`

[2021-03-15 13:06] ellatrix commented on #19533
I'll close the PR. I'd love to get some [more information](https://github.com/WordPress/gutenberg/issues/19533#issuecomment-794423818) here.

[2021-03-15 13:11] ellatrix commented on #8119
Unassigning myself until I intend to work on this again. The bot assigned me because of a PR but didn't unassign me when I closed it.

[2021-03-15 13:15] dcalhoun commented on #29358
Interesting. It does appear that native [Action Sheets](https://developer.apple.com/design/human-interface-guidelines/ios/views/action-sheets/) _cannot_ be dismissed via VoiceOver by tapping the overlay. However, one _can_ dismiss an [Activity View](https://developer.apple.com/design/human-interface-guidelines/ios/views/activity-views/) via VoiceOver by tapping the overlay. I might argue our Botto

[2021-03-15 13:20] mtias commented on #20542
Where are we with this one?

[2021-03-15 13:24] mtias commented on #29864
TemplateLocking already handles the disabling of moving for all children. I don't think it's much of an issue that you can move something by moving the things around it, that will always be the case. This is more about the peace of mind and reduced overhead of controls that you don't need.

[2021-03-15 13:26] dcalhoun commented on #29047
@geriux closing this as I believe you addressed it within #29074. Please reopen if I am mistaken.

[2021-03-15 13:26] #29047 closed

[2021-03-15 13:26] dcalhoun commented on #29046
@geriux closing this as I believe you addressed it within #29074. Please reopen if I am mistaken.

[2021-03-15 13:26] #29046 closed

[2021-03-15 13:35] youknowriad commented on #29868
I think a good position API would be good, I think in the ideal world, we'd compose UI components without writing any bit of CSS. That said, the current position API is definitely bad and also, this doesn't prevent us from actually basing the implementation of the Popover component the way you suggest above. (I'd also like a prop to not do anything aside cover the anchor) :P

Also cc @sarayourfrie

[2021-03-15 13:35] critterverse opened #29871 "Show save button in the Reusable Block toolbar if there are changes"
This is part of #27890: Improvements to Reusable Blocks

Building off of an idea from @jameskoster about using dots as a way to indicate unsaved changes in the canvas ([#29577, comment](https://github.com/WordPress/gutenberg/issues/29577#issuecomment-791302392)), this version explores using both dots and an explicit _Save_ button in the toolbar as indicators of changes made to a Reusable block.

I

[2021-03-15 13:36] critterverse commented on #29337
Picking up where @jameskoster left off, I made some small additions to this flow. This version includes the ability to edit the Reusable block in an isolated editing view, which mirrors [Template Part](https://github.com/WordPress/gutenberg/issues/29148#issuecomment-789679709) editing:

- Navigate to the isolated view via the ellipses menu in the Reusable block toolbar → _Edit Reusable block_
- Th

[2021-03-15 13:50] Zodiac1978 commented on #19533
I would like to help you here @ellatrix, but as I mentioned already http://gutenberg.run/19559 is not working anymore, so I can't provide the necessary information.

Or do you mean to paste the text on a normal WP 5.7 install and just show the logged messages there?

[2021-03-15 14:10] Mamaduka commented on #23718
Probably fixed via #27968.

[2021-03-15 14:20] mtias commented on #29126
It has always felt a bit weird for me to find this buried in "site identity" in the customizer. It's also not clear that the "logo" is separate from the site-icon.

I think it makes more sense for the site-icon to be in Settings > General than to add it the site editor. This is an attribute that is not used in the site itself. I'd add one caveat: the "logo" block should probably include a flow for

[2021-03-15 14:37] priethor commented on #20542
I was exploring this last week, and my first impression is that a block variation might not be the best solution, as the block would better be a dynamic one so that the link stays in sync with the home URL whenever it's changed in the settings. Also, it would require a different workflow and state handling than normal links as it would never be empty and would not require placeholder states, for e

[2021-03-15 14:47] ellatrix commented on #29868
Right, it doesn't prevent us from making an API in JS that is powered by CSS under the hood. We can still use props as shortcuts.

[2021-03-15 14:50] gwwar commented on #20542
As an FYI these two landed, so another navigation link variation + some custom handling should do the trick.
https://github.com/WordPress/gutenberg/pull/29095
https://github.com/WordPress/wordpress-develop/pull/1015

Folks should also be aware of the following issue in the navigation editor:
https://github.com/WordPress/gutenberg/issues/29793

[2021-03-15 14:54] ellatrix commented on #19533
Yes, just a normal install with the latest GB version

[2021-03-15 15:01] gwwar opened #29875 "Investigate E2E test in multi-block-selection.test.js"
When running this E2E locally: `npm run test-e2e -- --puppeteer-interactive specs/editor/various/multi-block-selection.test.js`

`Multi-block selection › should clear selection when clicking next to blocks` fails, but somehow works in CI. Let's investigate to see why this is happening.

This is a follow up to https://github.com/WordPress/gutenberg/pull/29836

[2021-03-15 15:13] ellatrix commented on #29374
@mcsf Strange, I tested again and it works fine...

![embed-select](https://user-images.githubusercontent.com/4710635/111176055-ab9f9500-85b1-11eb-9c5f-984e128d1f4e.gif)

[2021-03-15 15:13] priethor commented on #20542
Thanks @gwwar , those changes simplify the Home variation, indeed! 💯

[2021-03-15 15:20] paaljoachim commented on #29848
Testing.

WordPress 5.7
No plugin activated.
Twenty Twenty One.

Testing instructions posted above.
1. Select "Text Color" from the toolbar when editing text.
2. Select "Custom Color".
3. Attempts to move the cursor in the color palette.
4. The cursor cannot be moved and the panel will be closed automatically.

-----------

Went to an existing page.
Wrote some text in a paragraph block.
Selected a

[2021-03-15 15:22] shaunandrews commented on #22623
I'd expect it to work this way. Seems like it would be a solid improvement.

[2021-03-15 15:25] rnlmedia opened #29876 "Use of registerBlockStyle crashes editor if example parameter not defined in registerBlockType"
## Description
Use of registerBlockStyle crashes editor if an _example_ parameter not defined in registerBlockType with `block.innerBlocks is undefined` error

## Step-by-step reproduction instructions
1. Create a simple block, eg by using [create-guten-block](https://github.com/ahmadawais/create-guten-block)
2. Modify the block to add block styles/variations with the [registerBlockStyle](https://

[2021-03-15 15:53] ajtruckle commented on #16698
I would appreciate ability to align the text to the top. At the moment it is always central compared to the image.  In my case the image is on the left and the text on the right. It would be nice to optionally choose the placement of all text to top, middle or bottom of the space.

[2021-03-15 15:58] skorasaurus commented on #26667
Hi @dingo-d ;

These, along with other [theme supports](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/) are intended to be activated or deactivated through the `'after_setup_theme'` hook, not the `'init'` hook.

[2021-03-15 15:58] #26667 closed

[2021-03-15 16:14] Mamaduka commented on #29145
Hi, @Quintis1212

Let me know if you need any help with this.

[2021-03-15 16:21] skorasaurus commented on #12511
@Wohlfarth This is being tracked in https://github.com/WordPress/gutenberg/issues/17099

[2021-03-15 16:49] mtias commented on #20542
Curious why this one needs to be a variation instead of just its own block as a wrapper for `get_home_url`?

[2021-03-15 16:52] Quintis1212 commented on #29145
Hi @Mamaduka  )  I still do not understand where is the source of this bug ) please read my comment above . From where I must start to fix this bug

[2021-03-15 16:58] Zodiac1978 commented on #19533
Tried in WordPress 5.8-alpha-50533 and got this in the console:
[code]
Not sure if this is just fixed locally in my dev environment or is this normalized on save?

[2021-03-15 17:00] gwwar commented on #20542
It's own block would work too.

[2021-03-15 17:01] paaljoachim commented on #25805
Retesting.

WordPress 5.7.
No plugins activated.

New page.
Added title.
Added image block.

Alternative 1.
Click Upload.
Uploaded image. I clicked replace to see if a duplicate was added to the media library.
Worked fine.
Deleted Image block.

Alternative 2.
Click Media Library.
Dragged and dropped image into Media library.
Then added it to the Image block.
Worked fine.
Deleted Image block.

----

[2021-03-15 17:02] mtias commented on #20542
I'd say a separate block makes more sense since we don't need any of the UI to set a custom link.

[2021-03-15 17:30] priethor commented on #20542
I started exploring the block variation based on previous comments on the issue, but because of not needing any of the UI, I find a separate block would keep it simpler and wouldn't violate the open-closed principle.

[2021-03-15 17:33] Quintis1212 commented on #29777
@talldan  Hi ) I made a PR for this bug , but there is no rewivers and comments in PR , can you help me ?

[2021-03-15 17:35] annezazu commented on #29398
Previewing the site came up as a [major piece of feedback in the second round of testing](https://make.wordpress.org/test/2021/03/12/fse-program-build-a-homepage-testing-summary/) for the FSE Outreach program. Please head to the linked post for specifics!

[2021-03-15 17:48] mtias commented on #29871
Thanks for looking at this one! The main issue that comes to mind is that reusable blocks already use the space next to the icon to show the full title of the reusable block:

![image](https://user-images.githubusercontent.com/548849/111196908-1fe03580-85be-11eb-8da0-c8d5347a84b5.png)

In that case it becomes almost indistinguishable whether "Save" represents an action or a block name. Should "Sav

[2021-03-15 18:02] danyork commented on #17099
Just noting that several of us left comments expressing our support for this task over in the now-closed  #12511 .

For my employer's main site, we use category archives pages extensively in the navigation and main design. They are currently built them out using ACF with rows of text, images, etc. above the posts for the category (or tag). We've been doing more and more with the block editor acros

[2021-03-15 18:13] shaunandrews commented on #26244
I'm not sure we need this button in the new screen. Its unclear to me what the purpose of it is, and what workflows it helps to enable.

[2021-03-15 18:18] creativecoder commented on #26125
Resolved in https://github.com/WordPress/gutenberg/pull/29489

[2021-03-15 18:18] #26125 closed

[2021-03-15 18:18] creativecoder commented on #29339
Resolved by https://github.com/WordPress/gutenberg/pull/29489

[2021-03-15 18:18] #29339 closed

[2021-03-15 18:25] JoshuaGoode commented on #805
We've been encountering use cases on WordPress.com where a block that utilizes the old playlist shortcode system would be very helpful. Especially since some themes make heavy use of the shortcodes and it is very difficult for new users to get the shortcodes they need.

[2021-03-15 19:12] sabernhardt commented on #29822
Themes can have a standard (or default or no-special) alignment for an element or block. If you want to change a Group block to wide or full alignment, then you select one of the options. Including a "Standard" option in the dropdown could help.

The alignment selection gets more confusing with media blocks, where the same icon is used for both the default state and Align center (no option is sele

[2021-03-15 19:35] carasmo commented on #14654
This plugin works
https://github.com/joppuyo/disable-drop-cap

[2021-03-15 19:55] critterverse commented on #29871
Thanks for these notes @mtias! I tried another version that only allows saving from the Reusable block toolbar:

https://user-images.githubusercontent.com/77359364/111211977-6f663780-85a5-11eb-8b4a-39ae017bd3bf.mov

![rb-save](https://user-images.githubusercontent.com/77359364/111212318-d4219200-85a5-11eb-927f-b0075e6f4b64.jpg)

Really like this suggestion because it allows for the custom name of

[2021-03-15 20:01] annezazu opened #29879 "Unable to drag template part out of Group Block to top of editor"
## Description

When removing template parts and re-adding, I ran into some very strange issues resulting in me being unable to drag a template part out of a Group block to the top of the page in order to set full width. Apologies for this being difficult to name and describe. It's a pretty weird bug 😅

## Step-by-step reproduction instructions
1. Setup a FSE ready set using TT1 Blocks.
2. Head to

[2021-03-15 20:32] rsmith4321 opened #29880 "Incorrect srcset for Media and Text Block"
## Description
The image in the media and text block on takes up half the viewport width until the breakpoint, so shouldn't the srcset be something more like (max-width: 768px) 100vw, 50vw. At the moment it seems to load the full size image even though the image is only in a 50% width column. It should only be 100vw after the mobile breakpoint. Is there a function I could add to change this until

[2021-03-15 20:39] paaljoachim commented on #27849
Here is an update to switching between Page content and Full Site Editing.

https://user-images.githubusercontent.com/5323259/111218336-df40e600-85d6-11eb-919a-4f46f15f3bc1.mp4

Figma protytype (can be scrolled)
https://www.figma.com/proto/De3yU46oeTResqpxkRPojb/FSE?node-id=1%3A6&scaling=min-zoom

@annezazu

[2021-03-15 20:41] #26925 closed

[2021-03-15 20:58] mchowning commented on #29730
I'm wondering if maybe this is more of a `Medium` priority issue since it only occurs when switching from light to dark mode. As I understand it, the only way a user would repeatedly see this issue is if they repeatedly changed the dark mode setting, which I'm hoping is an edge case.  wdyt?

[2021-03-15 21:12] mchowning commented on #29862
👋  @SiobhyB ! Thanks for the issue report. I think this may be the same issue [reported here](https://github.com/wordpress-mobile/gutenberg-mobile/issues/1396). What do you think? Admittedly they don't perfectly overlap since the earlier issue only discusses the quote block.

[2021-03-15 22:13] paaljoachim commented on #29577
Looking at what we have today and making some adjustments.
Going for a minimum change.

1-Change the Site Title.
2-Clicking Apply.
3-Unchecking the Header. (Discard changes)
4-Clicking Save.
5-Saved. (Still in the Full Site Editing screen. One is just pushed back into the page content. As it is up to the user to choose to go back to Page content when they are ready to do so.)

https://user-images.

[2021-03-15 22:28] paaljoachim commented on #29871
Thank you for your explorations Channing!
I really like the save option in the toolbar, as it becomes associated directly with the Reusable block.
User makes a change they like and can save it right away.
I believe the same technique should also be used for Full Site Editing with saving template parts.

Here we have a "local" save vs "overall" save. A local save keeps the save option close to the

[2021-03-15 22:33] karmatosed commented on #27473
This is really exciting to see coming together. There is a lot to like about the latest iteration, but one of the biggest things I like is the way it focuses me into the areas to design; flows me to them. This also gives a lot of space for themes to bring in options.

I really like the summary panel, reminds me of the Styletil.es format which resonates. Having blocks underneath I think also works

[2021-03-15 22:49] leeshadle commented on #29847
Installing globally (option 2) worked for me too!

It doesn't work if @wordpress/env is already installed globallly.  If that's the case run `npm uninstall -g @wordpress/env` and then run `npm install -g .` from the `packages/env` directory

Thank you!!

[2021-03-15 23:24] annezazu commented on #27849
I dig this attempt! My only concern is that it's almost _too_ smooth of a switch. I feel like there needs to be some good friction particularly when switching to edit the full site. Perhaps that's the idea of having a notice pop up once one does switch over.

[2021-03-16 00:10] paaljoachim commented on #27849
Perhaps something like this:
![Switching-to-FSE-with-notification](https://user-images.githubusercontent.com/5323259/111236962-5a64c500-85f4-11eb-925f-13eabe024f24.jpg)

[2021-03-16 00:35] annezazu commented on #24007
Noting the current experience as of Gutenberg 10.1.1 and WordPress 5.7:
<img width="563" alt="Screen Shot 2021-03-15 at 6 35 04 PM" src="https://user-images.githubusercontent.com/26996883/111238692-2fab4a00-85bd-11eb-83d6-38e070073d34.png">

[2021-03-16 02:30] paynterf commented on #5638
I just spent an entire day trying to (once again) figure out how to add the 'most used' tag cloud feature to my Quick Edit screen on the dashboard, and to the 'Publish' sidebar in the post edit screen, once again without success.  The ability to select from a list of most-used tags for my blog posts was one of the very best features of the classic editor, and now it is gone.  IMHO this is a major

[2021-03-16 02:36] paynterf commented on #8867
Please Please Please bring this back.  I use this all the time on my blog site.  It is SO much easier to use tags consistently over hundreds of posts.  As it is now, one has to do 'reconnaissance by fire' to add tags to a post.  You start by typing a few letters of a tag that you remember, and watching to see what gets filled in.  If something(s) appear, you can select from that, but it still does

[2021-03-16 02:36] glendaviesnz opened #29882 "Gallery Block Refactor: Features and functionality to test during CFT"
A lot has changed with the[ gallery during its refactoring to use nested images blocks](https://github.com/WordPress/gutenberg/pull/25940). It would be good to ensure we get a sufficiently broad range of features and functionality tested during the community call for testing.

This issue is meant to be a living checklist of things that require testing.

#### Gallery Creation
- [ ] Add a gallery vi

[2021-03-16 02:39] glendaviesnz opened #29883 "Refactored Gallery: Known Issues List"
This collects the outstanding known issues related to the [refactored gallery](https://github.com/WordPress/gutenberg/pull/25940) with the view to assist during a wider call for testing. Most of these are not caused by the refactoring of the gallery however are likely to show up during testing.

- [x] Sibling inserter should not show on hover over gallery images, but sometimes does - appears to ha

[2021-03-16 03:47] Mamaduka commented on #29145
Hi, @Quintis1212 can you share the code you're using for testing?

Currently, I don't see the dropzone component in the paragraph block.

[2021-03-16 05:21] miminari commented on #26002
I think it might be caused by some plugins.
If you like, you can try to turn off some of the 34 plugins.

For example:

If the error persists even after turning off all plugins, please let me know again.

[2021-03-16 05:28] noisysocks commented on #26014
On Mac this is possible because there's a system level shortcut (<kbd>Opt</kbd>+<kbd>Space</kbd>) for inserting non breaking spaces. On Windows and Linux this shortcut needs to be added to the block editor. https://github.com/WordPress/gutenberg/issues/18523 is the issue which tracks this enhancement.

[2021-03-16 05:28] #26014 closed

[2021-03-16 05:28] noisysocks commented on #18523
Let's be sure to make this shortcut work on Linux too.

[2021-03-16 05:50] Mamaduka commented on #26434
Hi, @sundoulos2

Currently, we're preserving only some formatting (link, bold, italic, etc).

Duplicate of #18381.

[2021-03-16 05:50] #26434 closed

[2021-03-16 06:04] noisysocks commented on #23811
We could cache `render_callback` so that it is only called once per request but that wouldn't help here since what's happening is that multiple REST API requests are being made by the editor. In addition, I'm not sure that we can safely cache `render_callback` because we can't tell whether or not `render_callback` performs side effects.

I think this is working as best as it can. If there's someth

[2021-03-16 06:04] #23811 closed

[2021-03-16 06:52] #24654 closed

[2021-03-16 06:55] talldan commented on #29876
@rnlmedia Would you be able to share the error message and stack trace?

[2021-03-16 07:14] siggorr opened #29885 "WordPress 5.7 cannot create new reusable block or change an exisiting one"
## Description
From Wordpress V5.7 it is for me not possible to create a new, or change a existing reusable block from "manage all blocks" editor. The buttons for saving and publishing are there, but are not working.

Tried with healt check, all plugins deactivated and a standard theme (twenty-twenty), issue still there
tried to clear cache / opcache / browser cache, but no improvenments.

Downgra

[2021-03-16 07:25] carolinan commented on #29807
Closing as a duplicate of https://github.com/WordPress/gutenberg/issues/28814

[2021-03-16 07:25] #29807 closed

[2021-03-16 07:26] carolinan commented on #28814
The theme attribute is injected here:
https://github.com/WordPress/gutenberg/blob/trunk/lib/full-site-editing/block-templates.php#L148

But it is only injected if the parent block is the template part. It does not check if the template part is an inner block / child block.

Here is how far I got:
https://gist.github.com/carolinan/d71b683026647d6a30b2ca07f2d3d9fc#file-gistfile1-txt-L155

[2021-03-16 07:37] #28347 closed

[2021-03-16 07:40] paaljoachim commented on #27720
@noisysocks
Let's get this into WP 5.7.x project board: https://github.com/WordPress/gutenberg/projects/54
(It looks like I do not have the permission to add issues to the project board.)

[2021-03-16 07:56] carolinan commented on #29803
Hi
When I tested with NVDA and Chrome on Windows 10, I am found that the save panel does not receive focus when it is opened.

Steps:
I pressed enter when the Update design button was selected.
I could see that the save panel was opened. But there was no announcement, NVDA did not read out that the panel had opened.
While I could see that the panel had a save button at the top, the button did not

[2021-03-16 08:00] zdenys commented on #29833
On a related note, if I paste the same table from Google Sheets (as in my original comment above) into the Editor but without formatting (so for example by using CMD + SHIFT + V on macOS) what I get is this:

![](https://d.pr/i/xjY7eI+)
_Link: https://d.pr/i/xjY7eI_

[code]

So this time the Markdown-formatted link is recognized, but the hyperlink is not, and also no Table Block is created.

[2021-03-16 08:05] #21840 closed

[2021-03-16 08:09] carolinan commented on #29803
There are some other inconsistencies, the post editor has a cancel button with visible text while the site editor panel has an "X" with the aria label "close panel" instead of "Cancel".

[2021-03-16 08:19] SiobhyB commented on #29862
@mchowning, ah, thank you for pointing that out, I missed it! I agree it's the same and will close this one as a dupe, in favour of the one you originally reported. I've also updated the reference I'd added to this issue in the test cases [here](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/writing-flow/multiline-components.md). 🙇‍♀️

[2021-03-16 08:19] #29862 closed

[2021-03-16 08:21] carolinan opened #29886 "Site editor save panel: -Use a cancel button with visible text"
## What problem does this address?

The save panel in the site editor is not consistent with the post editor.
In the post editor, a cancel button with a visible text is used.
In the site editor a "close panel" button with an X icon is used.

## What is your proposed solution?

Making these two panels more similar would make them easier to use.
The button with the visible text would be the most acc

[2021-03-16 09:10] Mamaduka commented on #20566
Potentially fixed via  #29717.

[2021-03-16 09:36] Sandstromer opened #29887 "FSE - post-content is empty when used in attachment template"
## Description

When using the `` block in the attachment.html template, the post content - in this case the media/image - is rendered empty on frontend.

## Step-by-step reproduction instructions

In a FSE theme, create an attachment.html template containing the following blocks;
[code]

## Expected behaviour

The `` block should render the single media attachment.

## Actual behaviour

The `` bl

[2021-03-16 09:43] jasmussen commented on #27593
To improve the legibility, I edited this one a little bit:

- Added strikethrough on fixed tickets
- Lowered priority on “Expand / collapse submenus: #18395." — This one is very difficult on the frontend, and is arguably not urgent.
- Removed duplicate "Make it Mobile Responsive"

A couple of the items could use clarification:

- "Explore use of semantic template parts for automatic reusability."

[2021-03-16 09:46] fluiddot commented on #29730
The scenario for producing the crash is:
- Have the editor opened
- Have a Shortcode block
- Switch dark mode on/off

I'm not sure how often users switch dark mode on/off but if it's not very common we could keep it as `Medium` priority.

[2021-03-16 10:02] tybor commented on #18523
Il 09/03/21 21:09, Ella van Durpe ha scritto:

Tried on Win10, the shortcut Alt+Space opens the menù of the current window

[2021-03-16 10:05] tybor commented on #18523
Il 16/03/21 06:29, Robert Anderson ha scritto:

No, it doesn't work on Linux. I tried Shift-Alt-space and
Shift-Super-space on win10 and they don't work too. The first opens the
menù of the current window, the second change the keyboard layout

[2021-03-16 10:05] priethor commented on #27593
I believe #27337 and [mtias' comment above](https://github.com/WordPress/gutenberg/issues/27593#issuecomment-768952678) provide the context for that. It is not actionable yet, though, so there is no specific ticket, but I'll link the issue as a context in the top comment :+1:

[2021-03-16 10:15] priethor commented on #27593
Regarding flyout submenus in the Navigation block, there is #29101. Is that what "Flyout submenus" in the list refers to?

[2021-03-16 10:36] jameskoster commented on #27849
Thanks for sharing more ideas @paaljoachim!

I'm not sure we need to distinguish the experience in these steps. Modifying a template (or template part for that matter which may occur while editing content) _is_ full site editing. The notion of FSE being this discrete experience that people move in and out of is something I'm not convinced we should actively encourage. I still see WordPress itself

[2021-03-16 10:50] ellatrix commented on #25805
Does this happen for drag and drop? Wasn't this fixed in #29567?

[2021-03-16 11:19] mtias commented on #29838
The main change to unlock this would be to turn list items into child blocks.

[2021-03-16 11:21] gotoseaboy commented on #28608
Hi Robert, thank you for the reply.

I'm not sure about correct development practice but what I have observed is, right now a Contributor can insert another user's public block and if they don't have the edit_others_posts capability it displays as a constantly-loading object with hourglass. So maybe it could behave the same when User B goes to edit a post with User A's private block inside. Once I

[2021-03-16 11:22] jasmussen commented on #27849
Very much agree with Jay here: full site editing is _both post editing, and site editing_, and this should be kept in mind when conveying the switch. A button in the sidebar was the smallest thing we could do, but it's not something we should optimize for long term: it doesn't scale to mobile, and it doesn't sufficiently convey the context shift. Any change to this switching interface should proba

[2021-03-16 11:22] mchowning commented on #29730
I'll bump it down to `Medium` for now. If you or anyone else thinks it really should be a `High` feel free to go ahead and change it back.

[2021-03-16 11:33] paaljoachim commented on #25805
I am testing again. WP 5.7. Gutenberg plugin 10.1.1 and Twenty Twenty One.

Dragging and dropping an image into Gutenberg seems to work fine.

https://user-images.githubusercontent.com/5323259/111300703-aabe4000-8651-11eb-8a3b-8127cb14ccd7.mp4

---

I went ahead and made a longer video (2min 48seconds) to have more time to show what is going on. This is in relation to opening the Media Library and

[2021-03-16 11:59] paaljoachim commented on #27849
Hey James

I feel you are onto something with the zoom in <-> out of various parts when in Full Site Editing.
Going through the video.
1-Starts out with showing the full site for the post Hello World. (View)
2-Clicking Edit zooms out and shows a grey area around with a <- Back button. (Edit)
3-Here one can click example the Header and it changes into focus on the Header template part. (Edit)
4-Cli

[2021-03-16 12:03] jameskoster commented on #29337
Yay! I think the trickiest thing to get right here is the positioning of the reusable block in isolated editing view. I understand why you've "locked" it in position, but I wonder how that will behave in practical terms.

What if the reusable block is only half in view when I enter isolated editing? Does the window "snap" in to position? 🤔  Likewise if the reusable block occupies more vertical spa

[2021-03-16 13:04] nosolosw opened #29891 "Changes to theme.json"
Part of https://github.com/WordPress/gutenberg/issues/20331

@mtias @youknowriad @mcsf @nosolosw provided thoughts for this task.

As we approach the 5.8 cycle and the merge target for the theme.json API, it’s a good time to evaluate what is working and what needs some improvement. All in all, theme.json is responsible for providing configuration settings, global customization on things like text

[2021-03-16 13:05] bph commented on #29511
Would this be [an issue for the 5.7.x board](https://github.com/WordPress/gutenberg/projects/54)?

[2021-03-16 13:05] nosolosw commented on #29891
cc @carolinan @aristath @kjellr @scruffian @MaggieCabrera @jasmussen FYI.

[2021-03-16 13:07] gziolo commented on #29876
I was able to reproduce the issue by commenting out `example` in the definition for the Query block.

[2021-03-16 13:08] nosolosw commented on #20331
There're some changes coming to the theme.json format as per https://github.com/WordPress/gutenberg/issues/29891 I'll update this issue's description and the affected tasks in the next few days.

[2021-03-16 13:16] ellatrix commented on #19533
Is it now normalising on paste or not? :) I can't tell from the above.

[2021-03-16 13:23] ellatrix commented on #18523
The shortcut I mentioned above only works for Mac. On windows there's no shortcut, hence the issue.

[2021-03-16 13:27] skorasaurus commented on #20566
Yes, it is :)

[2021-03-16 13:27] #20566 closed

[2021-03-16 13:30] Mamaduka commented on #23985
Currently, we're resetting image dimensions attributes when changing to a different image. See #16125.

I think the `ResizableBox` component should also reflect this reset. It's ignored for some reason now.

Happy to work on this issue.

[2021-03-16 13:38] paaljoachim commented on #23985
Thanks @Mamaduka George!
I went ahead and assigned the issue to you.

[2021-03-16 13:44] mchowning commented on #29861
I initially overlooked that it was possible to lose content beyond an empty line here, so updating the priority to be `High`.

[2021-03-16 13:57] Zodiac1978 commented on #19533
No, it is not normalizing on paste in the backend, but title and content are normalized in the frontend. Going back to the backend it is still not normalized. Therefore internal search still broken.

[2021-03-16 14:14] rnlmedia commented on #29876
Sure @talldan, stack trace below. Not sure how best to identify the mapped src file(s), but hopefully the below is helpful and do let me know if you need any more information:-

`Uncaught TypeError: block.innerBlocks is undefined`
in
`cloneBlock@https://develop.local/wp-includes/js/dist/blocks.js?ver=9ed25ffa009c799f99a4340915b6dc6a:7852:5
BlockStylesMenu@https://develop.local/wp-includes/js/dist/

[2021-03-16 14:17] gziolo commented on #29876
I have a fix ready in #29894.

[2021-03-16 14:31] nicolad commented on #29847
setting the version this way might work:

`"@wordpress/env": "https://gitpkg.now.sh/WordPress/gutenberg/packages/env?trunk"`

as seen in [jetpack](https://github.com/Automattic/jetpack/pull/19151/files#diff-447a13a9521e260aaa7d493ad3e2e8d85e1939d40daab6926e633091a658d47cR29) :point_up:

[2021-03-16 14:33] ribaricplusplus commented on #29847
There are discussions in WordPress slack about this, and it's going to be updated in npm very soon.

[2021-03-16 15:02] #28166 closed

[2021-03-16 15:12] ellatrix commented on #19533
I copied the text you pasted above and `'Fünf gäbe schön' === 'Fünf gäbe schön'.normalize() => true`.

[2021-03-16 15:13] ellatrix commented on #19533
Anything pasted into Gutenberg is normalized except if it comes from within Gutenberg (copy pasting blocks or rich text within Gutenberg).

[2021-03-16 15:38] jameskoster commented on #27849
I _think_ we could potentially use something similar to the click-through pattern we're currently exploring for Reusable Blocks (https://github.com/WordPress/gutenberg/issues/29337):

https://user-images.githubusercontent.com/846565/111336941-925c1e80-866d-11eb-919d-564567bfc0cc.mp4

Consequently this is another use case for block locking (https://github.com/WordPress/gutenberg/issues/29864).

[2021-03-16 15:47] allilevine opened #29899 "Post Publishing Popover: Popover moves when certain dates are clicked"
## Description

We recently made a change ( #29738 ) to keep the post publish popover open when a date is clicked. When the date is clicked, however, and the date length changes, the popover changes position.

## Step-by-step reproduction instructions

    1. Create a new post
    2. Open the schedule popover by clicking on the publish date
    3. Click on a date in the picker that has a different

[2021-03-16 15:56] senadir commented on #28478
We're also seeing this issue on our SlotFill usage.

[2021-03-16 16:06] mkaz commented on #25587
I think it might make sense to normalize them all at the same time for consistency. It would probably be easier implementing making sure the names are the same across files. So totally fine to expand the scope 👍

[2021-03-16 16:40] Quintis1212 commented on #29145
@Mamaduka console.trace() showed me that dropzone component is called by provider :
path - gutenberg/packages/components/src/drop-zone/provider.js
`
    /**
 * External dependencies
 */
import { find, some, filter, includes, throttle } from 'lodash';

/**
 * WordPress dependencies
 */
import { createContext, useRef, useContext } from '@wordpress/element';
import { getFilesFromDataTransfer } from '

[2021-03-16 16:41] sundoulos2 commented on #18381
Here's my workaround:

I create my "post" in a rich text editor (it's primary use is for something else first, then posting to my blog). I copy the document to an online html editor, in my case Summernote. I switch to code view, copy the code and paste it into Gutenberg's code editor. When I exit the code editor, my post has the same appearance as the original document.

iirc, there used to be two

[2021-03-16 16:42] #29876 closed

[2021-03-16 16:47] pbiron commented on #29838
@mtias how much work would that be, and what are the BC implications?

[2021-03-16 16:47] ocean90 commented on #28907
Just noticed the same with a custom block with InnerBlocks which only allows one block via `allowedBlocks` and uses `renderAppender: () => <InnerBlocks.ButtonBlockAppender />`. It's also odd that using the additional appender sometimes if not always adds the block to the first position.

@youknowriad Do you have some ideas how we could fix this?

[2021-03-16 16:54] ockham commented on #29250
Closed by #29598.

[2021-03-16 16:54] #29250 closed

[2021-03-16 16:56] Zodiac1978 commented on #19533
You need to copy from the PDF provided in https://core.trac.wordpress.org/ticket/30130 on a Mac with a Non-Safari Browser (opened in Preview for example).

https://core.trac.wordpress.org/attachment/ticket/30130/copy-paste-test.pdf

[2021-03-16 17:10] paaljoachim commented on #29885
Hi @siggorr

Testing with
WordPress 5.7.
Gutenberg plugin: 10.1.1 (I also deactivated the Gutenberg plugin so no plugins were active.)
Twenty Twenty One and Twenty Twenty themes.
Chrome and Firefox.

Made a new page. (saved draft)
Went to the Inserter Add block panel. Clicked Reusable and then "Manage Reusable blocks"
Entered the Reusable blocks screen.
Clicked "Add New"
Added a title and some con

[2021-03-16 17:16] mattyrob opened #29904 "Gutenberg plugin breaks Widgets in Customizer"
## Description
The Gutenberg plugin (v10.1.1) seems to be breaking the Widget panel in the Customiser, instead of a graphical user interface, serialised JSON seems to be dumped to the screen.

## Step-by-step reproduction instructions
1. Place some widgets in the Widget screen, or with Gutenberg plugin deactivated.
2. Activate Gutenberg plugin if needed
3. Navigate to Customizer screen and open un

[2021-03-16 17:31] skorasaurus commented on #25587
@mkaz should I work off of trunk or off of https://github.com/WordPress/gutenberg/pull/25940?

[2021-03-16 17:50] vanduc1102 commented on #25717
I am having DB connection issue too
<img width="613" alt="Screen Shot 2021-03-17 at 00 48 13" src="https://user-images.githubusercontent.com/3014017/111356034-88144180-86ba-11eb-87ff-e9417e96bf35.png">

Seems the `username_here` is getting the default value https://github.com/docker-library/wordpress/blob/fb920c697693bad49582c3a0c8bf1fa0e7642d2b/wp-config-docker.php#L44
I havent found a solution y

[2021-03-16 17:53] draganescu commented on #24092
Closed by #28815

[2021-03-16 17:53] #24092 closed

[2021-03-16 18:10] broksonic21 opened #29907 "Non-Admins end up in loop recovering cover block after focal point picker"
## Description
We used the cover block in Wordpress 5.6. Upon upgrade to 5.7 and trying to edit the page, you are asked to attempt block recovery. This works fine for admins, but not for non-admins (in our case, Shop Managers (via WooCommerce)).

## Step-by-step reproduction instructions
* Have a page with Cover block in Wordpress 5.6
* Upgrade to Wordpress 5.7
* Try editing page as a Shop Manager

[2021-03-16 18:13] broksonic21 commented on #29907
This also causes the focal point picker selection to not be usable by non-admins as well.

[2021-03-16 18:59] coreymckrill commented on #10243
Seems like this could manifest as an inline `Background color` and would be a natural compliment to the `Text color` rich text option.

[2021-03-16 19:12] fklein-lu opened #29909 "Category and tag blocks: Add option to prepend text"
## What problem does this address?

A common pattern in themes is to display categories and tags prepended with a text. This is the case for _all_ default themes, including TwentyTwentyOne.

<img width="631" alt="twentytwentyone-categories" src="https://user-images.githubusercontent.com/1221942/111365702-1b398100-8693-11eb-95b5-d12efa931d31.png">

Currently this pattern cannot be replicated using

[2021-03-16 19:32] #29467 closed

[2021-03-16 19:40] mtias commented on #29838
It's not trivial, but we are getting there tool-wise. See #6394.

[2021-03-16 19:40] nblenkhorn commented on #29885
I'm also having this issue. All of my reusable blocks no longer function.

I also get stuck in a loop where I can't remove an added reusable block. It says it's removed, but previewing still shows the block after saving. Save and returning to posts list prompts for: leave page | stay on page. If you stay, you still can't remove the block, if you leave and then come back in to edit the block is sti

[2021-03-16 19:57] iandunn opened #29912 "Inspector scrolls horizontally in Firefox when vertical scrollbar present"
### Reproduction Steps

1. Open Firefox (I wasn't able to reproduce this in Chrome)
2. Browse to `wp-admin/post-new.php`
3. Expand inspector panels until you see a vertical scrollbar

### Expected

There shouldn't be a horizontal scrollbar

### Actual

There is a horizontal scrollbar.

#### With vertical scrollbar

![Screen Shot 2021-03-16 at 12 45 12 PM](https://user-images.githubusercontent.com/

[2021-03-16 20:02] mrwweb commented on #27198
I ran into this issue today. Running 5.7 with a child theme of Twenty Twenty.

It feels like it might be a regression from #21681

[2021-03-16 20:07] sarayourfriend commented on #29689
I've given some more thought to this and I think what my desire boils down to is this: I want to be able to consume the new component system directly _without adapters_ while also maintaining adapters for the old components to the new components so that we can automagically update UIs using the older components to use the new components.

The problem with the current approach is that the adapters

[2021-03-16 20:19] MatzeKitt opened #29913 "PanelBody arrow may overlap its title"
## Description
The German translation for “[Ordered list settings](https://github.com/WordPress/gutenberg/blob/master/packages/block-library/src/list/ordered-list-settings.js#L10)” is longer than the available space in the PanelBody title area but not long enough to wrap into a new line.

## Step-by-step reproduction instructions
1. Set your WordPress to German.
2. Create a list block.
3. Switch l

[2021-03-16 20:39] jasonmj commented on #21616
I still see this issue after updating WP Core and all plugins to the latest versions available.

[2021-03-16 21:27] paaljoachim commented on #27198
@jeyip Jeremy.
Using WordPress 5.7
Twenty Twenty theme.
No active plugins.

I went to an existing page.
Added the Image block.
Added an image at 539x554.
The layout showed a large image, but the drop down said thumbnail.
I changed to a large in the drop down and noticed no change in the layout.
Then changed to thumbnail in the drop down and noticed the layout change the image to a thumbnail size.

[2021-03-16 21:29] paaljoachim commented on #21681
The error is back.
https://github.com/WordPress/gutenberg/issues/27198

[2021-03-16 22:38] donnapep commented on #28097
@paaljoachim Looks like font size is [already supported](https://github.com/WordPress/gutenberg/pull/27584). Presumably we don't want to add font family. Perhaps this can be closed?

[2021-03-16 23:59] noisysocks commented on #27720
I don't think we should backport https://github.com/WordPress/gutenberg/pull/29510 as it needs time in the plugin to be tested.

[2021-03-17 01:16] talldan commented on #29904
@mattyrob You can disable this on the Gutenberg experiments plugin screen:
<img width="885" alt="Screenshot 2021-03-17 at 9 14 47 am" src="https://user-images.githubusercontent.com/677833/111399922-4490f600-8701-11eb-87d3-c877e549ca5b.png">

I think this is disabled by default, so it was possibly enabled by someone on your site? I can't say for certain though (cc @kevin940726, @noisysocks).

[2021-03-17 01:16] #29904 closed

[2021-03-17 01:20] talldan commented on #29885
I also couldn't reproduce the issue in a clean WordPress install.

@nblenkhorn Would you be able to share what steps we can take to reproduce your issue?

[2021-03-17 02:12] kellychoffman commented on #12997
In the meantime, an updated design that includes alignment option:
<img width="633" alt="Screen Shot 2021-03-16 at 7 11 26 PM" src="https://user-images.githubusercontent.com/5835847/111404197-95660780-868b-11eb-8349-4c04e013d08a.png">

[2021-03-17 02:24] davidwebca commented on #20650
I'll be watching this issue. I have the same problems as Mark over and over again. Align classes cannot be consistent through all blocks since they're not applied to all of them (ie wp-block-group) and when I add [data-align] css styles just for the editor, I run into specificity issues and have to backtrack. I now find myself needed to code multiple separate edge cases for the editor and front-en

[2021-03-17 02:30] glendaviesnz opened #29917 "Gallery block refactor: Image size selector appears to have no effect when cropped images selected"
## Description
During testing of the Gallery refactor several people reported a `bug` of size selector not appearing to have any effect. When running the Gallery with `Crop images` toggled on the `Image Size` selector does not change the physical size of the image, only the quality of image loaded, ie. selecting thumbnail gives a blurry lower quality image rather than changing the dimensions, but

[2021-03-17 02:57] annezazu commented on #29803
Thank you for testing and for the very thorough comment <3

[2021-03-17 03:19] creativecoder commented on #29392
PR to address this at https://github.com/WordPress/gutenberg/pull/29918. Taking a simple approach of updating the z-index, at least for now.

[2021-03-17 03:19] creativecoder commented on #29615
PR to address this: https://github.com/WordPress/gutenberg/pull/29918

[2021-03-17 03:29] Mamaduka commented on #29145
Hi @Quintis1212,

Sorry for the confusion. I meant code for PR where you added dropzone to a paragraph block.

P.S. You can also use the `<details>` element when sharing large pieces of code. See https://gist.github.com/ericclemmons/b146fe5da72ca1f706b2ef72a20ac39d

[2021-03-17 03:32] talldan commented on #28907
#29920 should fix it.

[2021-03-17 04:38] carolinan commented on #29803
I tried looking into it but it is not clear to me why there was a decision to use a different markup and CSS classes in the site editor compared to the post editor.

[2021-03-17 05:22] jeremyfelt opened #29921 "Code editor view crashes block editor when post type has no title support"
## Description

If a post type does not have title support and I switch to the code editor view when editing the post, the block editor crashes with a `TypeError: Cannot read property 'ownerDocument' of undefined` because `ref.current` [is undefined in the post title component](https://github.com/WordPress/gutenberg/blob/7f58c19d47e0dc7225d4c0d7f4ae0d9dfb1a08c7/packages/editor/src/components/post-

[2021-03-17 05:30] jeremyfelt commented on #29921
Also (maybe) related #29407 - I'm not familiar enough to be sure, but it's possible this error wouldn't occur if the post title component wasn't used at all in a post type with no title support.

[2021-03-17 05:31] #28997 closed

[2021-03-17 05:57] talldan commented on #29921
Also #29266, which I think is similar.

[2021-03-17 06:40] chris-vas commented on #29907
I can confirm the issue. This happens for non-admins (for example Author role) after changing the "Focal point picker" setting for cover block.

[2021-03-17 07:26] siggorr commented on #29885
@talldan
@paaljoachim

It doesn't seems to be a global problem. I also tested on the second site (on the same server, with the same server settings, same PHP Version and PHP extensions) and it works perfekt. But it is an issue of WP 5.7 / new Gutenberg version, because simple downgrading to the WP 5.6.2 Version solves the problem. But this is not a long term solution, for sure, just a work around.

[2021-03-17 07:52] plittlefield commented on #12997
That, is superb.

[2021-03-17 07:53] Quintis1212 commented on #29145
Hi @Mamaduka  ) I dont created a PR because I create PR when I have at least one approach to fix the problem .If you want get my test code for this bug just copy all code above in my comment in provider.js) I don't do any changes to another files for this issue

[2021-03-17 08:01] jasmussen commented on #27593
I lowered the priority of "Allow insert before / after: #23603". It's a task that needs addressing, but it does not seem as high priority as all the others.

[2021-03-17 08:14] oandregal commented on #29778
I ran this by some folks and the current views are that theme authors should be able to use any styles in theme.json independently from the block.json support. The block supports will still be used to show the UI controls in the block & global styles sidebar, in addition to theme.json configs that should take precedence.

The immediate action step for this issue is to decouple theme.json styles <=

[2021-03-17 08:17] Mamaduka commented on #8663
Hi,

I would like to work on this issue and bring `image_default_size` into editor settings.

[2021-03-17 08:17] nosolosw commented on #29773
I'm closing this as it is superseded by https://github.com/WordPress/gutenberg/issues/29891

[2021-03-17 08:17] #29773 closed

[2021-03-17 08:29] #25313 closed

[2021-03-17 08:37] #28933 closed

[2021-03-17 08:41] jasmussen commented on #29101
I noticed I wasn't able to insert the "Page List" block at all on this screen, and that there's a horizontal scrollbar:

<img width="447" alt="Screenshot 2021-03-17 at 09 39 33" src="https://user-images.githubusercontent.com/1204802/111438588-b880cd80-8704-11eb-9983-7caf74c8715f.png">

The search field also appears missing. Was that intentional?

[2021-03-17 08:47] jasmussen commented on #27593
I added https://github.com/WordPress/gutenberg/issues/28575 to the list as high priority, because we need to level the playing field between menu items generated by the Page List block, and regular menu items:

<img width="583" alt="Screenshot 2021-03-17 at 09 47 06" src="https://user-images.githubusercontent.com/1204802/111439543-c6831e00-8705-11eb-9c88-e55d15e59ca8.png">

[2021-03-17 08:50] jasmussen commented on #29101
I also added #28575 to the tracking issue. The above two screenshots illustrate the difference in markup, and making that markup be the same will substantially simplify the CSS.

[2021-03-17 08:52] paaljoachim commented on #28997
Do we need to backport this fix to WP 5.7.1?
@carolinan

[2021-03-17 09:03] talldan commented on #24580
Superseded by https://github.com/WordPress/gutenberg/issues/28856.

[2021-03-17 09:03] #24580 closed

[2021-03-17 09:12] mattyrob commented on #29904
@talldan

Thanks for the pointer, that got it working again but I was on a localhost testing site anyway so logged the ticket for debugging.

I'm trying to get a Widget Color Picker working on the legacy Widgets page, in the Customizer and in the new Gutenberg page - two out of three working perfectly. I guess as this is still experimental I can afford time to let the code soak a little first - up

[2021-03-17 09:21] oandregal commented on #27512
:wave: When we created https://github.com/WordPress/gutenberg/issues/27295 the views on how this all should work were different. The current view is that:

- Themes can use any style property in theme.json for any block, whether or not the block declares support for it. See conversation at https://github.com/WordPress/gutenberg/issues/29778#issuecomment-800887310 (not implemented yet).
- In terms

[2021-03-17 09:38] jasmussen commented on #29101
I'm tracking down this issue, and found out that the `style.scss` file which is responsible for handling basic hover styles for submenu items is not loaded in the separate navigation editor screen. Is this intentional?

I'd be happy to take a look at writing some CSS specific for just the navigation screen to handle this expand/collapsing, perhaps even to an extent on the Page List block. But I wa

[2021-03-17 09:39] oandregal commented on #20331
Update for this week core-editor chat:

- The [last round of mockups for the global styles sidebar](https://github.com/WordPress/gutenberg/issues/27473) are live. It has provided a good ground to re-evaluate the theme.json format and there's going to be some formalization of the concept of "elements", see https://github.com/WordPress/gutenberg/issues/29891 for details.
- There's ongoing work for t

[2021-03-17 10:00] ellatrix commented on #19533
I tried that.

[code]

The input is not normalised, but the output is. I'm not sure how to reproduce the case. Should I first paste it in the classic editor, then copy it again and paste into Gutenberg?

[2021-03-17 10:03] #15649 closed

[2021-03-17 10:06] jasmussen commented on #29101
Looks like #28874 answers my question above: style.scss files _should_ be loaded in the navigation editor, but aren't being at the moment.

[2021-03-17 10:32] #29650 closed

[2021-03-17 10:39] dimalif commented on #27696
I updated to 5.7 and i still experience this slightly different issue. Trying to trash a page, i get:

Uncaught (in promise)
Object { code: "fetch_error", message: "You are probably offline." },  redux-routine.min.js:2:5160

[2021-03-17 10:46] paaljoachim commented on #27849
A gradual evolution of FSE and post/page content creation.
What I am suggesting here is a small evolution from what exists today: https://github.com/WordPress/gutenberg/issues/27849#issuecomment-799736059

What you are suggesting, James is a much bigger leap in evolution.
https://github.com/WordPress/gutenberg/issues/27849#issuecomment-800146730

Should we go with something I suggested just to imp

[2021-03-17 10:59] fluiddot opened #29928 "getEntityRecords resolver crashes on Android when fetching multiple items"
## Description

When the editor is opened, the reusable blocks are fetched from the site via [this selector](https://github.com/WordPress/gutenberg/blob/c5e3493f002ab3eb1912293a66c7518e2dcd9d19/packages/editor/src/components/provider/use-block-editor-settings.js#L130-L138) in the `useBlockEditorSettings` hook.

The selector used in this case is [`getEntityRecords`](https://github.com/WordPress/gut

[2021-03-17 11:01] fluiddot commented on #29928
This crash has been prevented with a workaround in this [PR](https://github.com/WordPress/gutenberg/pull/29626).

[2021-03-17 11:06] jameskoster commented on #27849
It's a bigger leap when you consider the isolated template part / mosaic views, and contextual block locking. But those are being handled in other issues and the dots will hopefully connect organically as we close them out.

I don't believe that introducing the "frame" around the template as you switch from content editing to template editing is all that much work. Especially if we leave out the a

[2021-03-17 11:12] talldan commented on #29101
@jasmussen Yeah, this is intentional. It isn't an allowed block unless the theme has opted in to support blocks in menus (the option detailed in https://github.com/WordPress/gutenberg/pull/24503).

I don't think there's a way to support it that's backwards compatible with the way menus work in core, so I don't think it can be included in the screen by default.

More blocks can be enabled by adding

[2021-03-17 11:14] nerrad opened #29929 "`mappings` configuration incompatible/breaks on default WP installs for `wp-env`"
## Description

I noticed after updating the `wp-env` package locally that if my `.wp-env.json` file has a `mappings` property defined with no `core` property (or explicitly setting `core` to `null`), that executing `wp-env start` (installed as a package) results in the following error:

[code]

I'm not sure of the cause yet but I'm guessing that it's a race condition where the container isn't rea

[2021-03-17 11:18] talldan commented on #29101
Also wondering why your screenshots looks so different? Is that with a particular theme?

[2021-03-17 11:30] jasmussen commented on #29101
Thank you for clarifying. Just noting that I was able to insert it if it's the first block I insert. I just click the "Add all pages". That explains the blue links — that and https://github.com/WordPress/gutenberg/issues/28575.

I can take a look.

Makes sense if the Page List has been omitted. I'll be sure to check if that's the cause of the hoz scrollbar.

I noticed the icon uses an asterisk, wh

[2021-03-17 11:37] dimalif commented on #27696
Also the issues are using Firefox 64 latest and no addons.

I was wrong that with Chrome there are no issues, the log was just scrolled.

api-fetch.min.js?ver=a783d1f442d2abefc7d6dbd156a44561:2 GET https://www . website . com/wp-admin/post.php?post=10964&action=edit&message=4 500

and

redux-routine.min.js?ver=284288e957394d2097c6fbe95625e2fb:2 Uncaught (in promise) Response {type: "basic", url: "

[2021-03-17 11:45] Copons commented on #29507
@jasmussen Ha! Missed this notifications!
Yes that would definitely help.
I'll close this issue in favour of yours. 👍

[2021-03-17 11:45] #29507 closed

[2021-03-17 12:01] jasmussen commented on #29101
PR to fix the horizontal scrollbar here: https://github.com/WordPress/gutenberg/pull/29930

[2021-03-17 12:06] johngodley commented on #29723
It's now present in 3.25.0, so closing as fixed.

[2021-03-17 12:06] #29723 closed

[2021-03-17 12:07] fluiddot commented on #29928
@youknowriad  I was wondering if you could help me by providing some feedback regarding the solution _"Prevent recursion when executing actions"_ as I saw you already worked in the `@wordpress/redux-routine` package and you probably have good insights about it.

Thank you very much for the help 🙇 !

[2021-03-17 12:17] ellatrix opened #29931 "Unifying drag n drop, "move to" and clipboard (copy/cut/paste)"
These are all actions that we currently have for the same thing, even though they "feel" a bit different.

* **Drag and drop**: The block disappears and it now sort of sticks to your cursor. Beware! Don't lift your your finger or it will be dropped wherever you are now. You better don't cramp when you need to move it far.
* **"Move to" button**: I only recently discovered this, and it's pretty coo

[2021-03-17 12:34] nerrad commented on #29929
Could be related to #29814

[2021-03-17 12:49] gziolo commented on #27028
https://github.com/WordPress/gutenberg/pull/27821 is now updated and everything seems to work with PostCSS v8. The only caveat is that we have Strorybook set to the prerelease version: `v6.2.0-rc.2`, but it works so personally think it's a good trade-off.

[2021-03-17 13:09] dimalif commented on #27696
Is that "500" i see in status an error 500 (internal error 500) ? If it is, i could ask my hosting company for more details?

Can someone verify this "500" is an internal error?

[2021-03-17 13:12] aristath commented on #29891
It feels like `styles` will now refer to selectors 🤔
If that is the case, then this here is a bit confusing: `"link": { // This is the "a" css selector.`
Why not do it like `"a": { // This is the "a" css selector.`?
Would that not be more consistent with all the other things we have like `"h1": { // This is the "h1" CSS selector.` ?

[2021-03-17 13:14] mtias commented on #29871
Nice, I think this helps a bit with the clarity. Is there other possible placement that occurs to you that might be better? Also not sure what should happen when the block is actually saved. In the above prototype you have a checkmark, but I'd imagine the checkmark would disappear if you deselect the block and select it again, so should it disappear from the start? The "is saving" state should als

[2021-03-17 13:20] Zodiac1978 commented on #19533
Then you have reproduced the problem or am I missing something?

[2021-03-17 13:43] Zodiac1978 commented on #19533
I have recorded this to show the problem:
![normalize-bug](https://user-images.githubusercontent.com/870475/111476766-c0556780-872e-11eb-9de9-a66e27e17c36.gif)

I am just pasting the content from the PDF (from Preview) and you see the broken title in Gutenberg. My browser extension is showing that the proofreading is failing (red underline) and using backspace is removing the diaresis (points abov

[2021-03-17 13:44] hedgefield commented on #29630
This is a good point! "Site editor" and "Full site editing" is a nice name and it's what we've been calling it for a while, but as @mtias rightfully pointed out, is it the most descriptive name for what this thing is? I've seen "Design editor" as an option, though reading about the discussion of where to place it in the menu, I'm thinking "Appearance editor" might also be a good name?

Even more i

[2021-03-17 13:54] hedgefield commented on #28679
It's hard to fully benchmark how bad this could get for someone on a really dodgy connection with a theme that has a really elaborate template, so I'd support at least some kind of basic transition state. Something like the pulsing wireframe that facebook and many other apps show while waiting for the content paint to finish. I believe we already have an animating WordPress/Gutenberg logo for when

[2021-03-17 13:59] oandregal commented on #29891
Ah, I see how some of those comments may be a bit misleading. Here's an attempt at clarification:

- The serialization of an element to CSS is dependant on the context. This is to say that elements don't map to the same "thing" always: for example, the link element can be serialized as the `a` CSS selector in one block and to `button` in another block. It can also map to a CSS Custom Property `--w

[2021-03-17 14:09] hedgefield commented on #29577
I agree with @jameskoster, an autosave should save a draft for any and all changes. Whether someone wants to discard some of those changes before publishing the draft is up to them. Showing the changes in the pre-publish sidebar like that also makes for a cool changes summary!

Minor thing: for the label in Paal's mockup I would suggest "changes will be lost" or "discarding changes". Now it looks

[2021-03-17 14:13] gwwar commented on #29101
As requested, I added a new post label for this. For i18n it's best not to build strings using parts of translated strings. See discussion in https://github.com/WordPress/gutenberg/pull/29095#discussion_r581769179

To see the right labels, we can edit the plugin and add `item_link` and `item_link_description` to the taxonomy or post-type definition.

<img width="944" alt="109557321-cbe93300-7a8c-1

[2021-03-17 14:15] jameskoster commented on #29871
For the saving, I was curious how it might work if we applied a busy state to the button on click, then displayed a snackbar on success/error. That could allow us to contextualise any errors, and potentially provide an option for users to perform subsequent actions (e.g. undo/revert), if we feel that is worthwhile.

Since the save button in the toolbar can be easily missed when editing innerblocks

[2021-03-17 14:20] mtias commented on #29871
A snackbar seems important to have, for sure. It's worth noting this doesn't change anything about the main saving flow in the top level "update" or "publish" button, which still would include the reusable block if it has pending changes.

[2021-03-17 14:40] Fingolfin75 opened #29934 "How to sort out images by newest first with Gutenberg gallery"
Hello, I am making a website for a friend that has no experience at all and in order to keep things simple, I used just a basic theme and Gutenberg. I set up a gallery but I would like images to be sorted out automatically so that the newest entries will automatically go on top of the grid. Found no way to do that other than add other gallery plugins.
Am I missing something or there is a way throu

[2021-03-17 14:42] jameskoster commented on #29577
Yeah I think it is fair to say that if a user actively un-checks an entity in this flow, they have acknowledged that it will not be saved. We probably don't need to display anything extra.

This is probably a bridge too far at this point, but it will be interesting to see the canvas update based on which entities are checked / unchecked in the save sidebar.

[2021-03-17 14:58] ellatrix commented on #19533
I fail to reproduce this in both Chrome and Firefox on MacOS. I copy the text and paste it in the title and the text is normalised. I checked the console and it is correct. Backspace removes the whole letter ö. Can anyone else reproduce this?

[2021-03-17 14:59] mahnunchik commented on #29561
+1 for idea to auto-generate anchors by default but don't modify it if it was changed manually.

For example:
* Initial header `About Us` -> `about-us`
* Header changed to `About Company` -> `about-company`
* Anchor changed manually `about-awesome-company`
* Header changed to `About blabla` - anchor leaved `about-awesome-company`

As I mentioned before, I'd like to suggest to use module https://gi

[2021-03-17 15:35] #29653 closed

[2021-03-17 15:59] critterverse commented on #29337
Thanks for raising these points @jameskoster! This made me realize a couple of things about the isolated view, re: both the position and width of the Reusable block being edited.

**Position:**

Centering the isolated block makes a lot of sense for these reasons. Here's an [updated Figma prototype](https://www.figma.com/proto/vMxO1b47vXPOoltT1UOJgt/Saving-Reusable-Blocks?node-id=115%3A12712&viewpo

[2021-03-17 16:32] mrfatguy commented on #17912
Closing as https://github.com/WordPress/gutenberg/pull/17824 is closed and merged.

[2021-03-17 16:32] #17912 closed

[2021-03-17 16:41] retlehs commented on #18227
closed by #29775 - thank you @hellofromtonya and everyone else who helped!

[2021-03-17 16:41] #18227 closed

[2021-03-17 16:51] gwwar commented on #23603
This is larger in scope than anticipated, so priority was lowered. I'm putting this one on hold until we close a few other navigation issues. **Other folks are welcome to try fixing this one in the meantime**.

To recap the exploration in https://github.com/WordPress/gutenberg/pull/29490:

Specifying a default innerBlock works, but it's a bit limited. For blocks that have many variants a better so

[2021-03-17 17:03] #28575 closed

[2021-03-17 17:09] nblenkhorn commented on #29885
I have several sites using the same theme/plugin stack on different servers and they all seem to have the same issue. I have narrowed it down to Custom HTML and Shortcode blocks. I was previously seeing some weirdness with these types of reusable blocks, but once I inserted them, "convert to block" seemed to fix the issue. If I didn't convert them they wouldn't show up on the front-end, only the b

[2021-03-17 17:15] nblenkhorn commented on #29885
[wp-env.txt](https://github.com/WordPress/gutenberg/files/6158265/wp-env.txt)

[2021-03-17 17:21] ocean90 opened #29940 "Error: Failed to load plugin '@typescript-eslint' declared in '--config » plugin:@wordpress/recommended': Cannot find module 'typescript'"
## Description

Using `@wordpress/scripts@14.0.0` and `wp-scripts lint-js`  is currently failing to lint JavaScript files because `typescript` is missing as a dependency.

## Step-by-step reproduction instructions

1. Create `package.json`
[code]
2. Create `index.js`
3. Run `npx wp-scripts lint-js index.js`

## Expected behaviour
File is linted without errors.

## Actual behaviour
[code]

I'm usin

[2021-03-17 17:27] stevebab commented on #18766
Has this been moved forward?

[2021-03-17 17:30] gziolo commented on #29495
I have just opened #29939 that attempts to fix this issue.

[2021-03-17 17:31] gziolo commented on #29940
@sirreal or @sarayourfriend, can you investigate how can fix it?

[2021-03-17 17:35] mikeh000 commented on #24173
Can anyone please look at this? We have provided screencasts and step by step to reproduce. It's been doing this for at least 10 months or so (even though the bug submission was this summer).

[2021-03-17 17:39] oandregal commented on #29778
Have a PR that address this at https://github.com/WordPress/gutenberg/pull/29941

[2021-03-17 17:39] ocean90 commented on #29940
After running `npm i -D typescript` `wp-scripts lint-js` is working again.

I think the `Create Block` workflow didn't catch because Gutenberg itself has typescript added [here](https://github.com/WordPress/gutenberg/blob/d8effbac46792c6f7e6ade2a4cfa69e95700585f/package.json#L205).

[2021-03-17 17:41] melchoyce commented on #12997
I wonder if we should be using the text alignment icons instead of the block alignment ones? Since the block alignments would have wide/full instead of left/right.

[2021-03-17 17:47] sarayourfriend commented on #29940
It looks like this is due to an unresolved peer dependency on TypeScript by `@typescript-eslint/eslint-plugin`. I think there is also an inaccuracy in their package.json that says that the TS dependency is optional: https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/package.json#L70

In any case I think we just need to add TypeScript as a dependency of `@word

[2021-03-17 17:56] vindl opened #29943 "Site Editor: add a better description for the Post Content area"
One thing that was pointed out during FSE testing:

https://user-images.githubusercontent.com/1182160/111514793-5cdd3100-8752-11eb-8a16-d9711e88501b.mov

We should consider adding a more detailed (potentially contextual) description for this block.

[2021-03-17 18:18] sarayourfriend opened #29944 "docgen: Does not support array expressions, object expressions or assignment patterns for TypeScript"
## What problem does this address?
`docgen` currently only supports very simple parameters for TypeScript. It can parse the following successfully:

[code]

However it cannot parse the following examples:

[code]

[code]

[code]

[code]

[code]

`docgen` will fail on these because it is unable to match up the documented parameter name from the JSDoc to the actual parameter when it searches the par

[2021-03-17 18:53] ockham opened #29946 "Workflows: Replace unmaintained actions"
As mentioned [here](https://github.com/WordPress/gutenberg/pull/28138/files#r595196099) by @swissspidy:

GitHub recently deprecated a number of their actions, among them

- [`actions/create-release`](https://github.com/actions/create-release)
- [`actions/upload-release-asset`](https://github.com/actions/upload-release-asset)

We should:
1. audit which other actions that we use are no longer mainta

[2021-03-17 18:58] sarayourfriend commented on #29944
Actually this solution won't work. Our ESLint will automatically fill in the following function's JSDoc like so:

[code]

and

[code]

Back to the drawing board.

We could parse these as "qualified" names but I'm not sure what to do for the nested case:

[code]

It seems like at least the automatic JSDoc generation doesn't try to go as deep as possible, just one level, so maybe this is still possi

[2021-03-17 18:58] priethor commented on #24818
Added #29337 to the list.

[2021-03-17 19:17] gwwar opened #29948 "Navigation Block: Start empty and add link keyboard navigation"
For folks 👀 , also let me know if certain behavior is expected or if there's alternative keyboard movement controls. (I am aware of keyboard shortcuts, though any richtext or text areas will capture keyboard input).

1. From the placeholder navigation menu, press <kbd>enter</kbd> on the "start empty" element.

Navigation doesn't appear to be selected, I need to <kbd>tab</kbd> again.

https://user-

[2021-03-17 19:23] paaljoachim commented on #27849
What we can do is add the "Needs dev" label.

I also went ahead and removed the "Needs Design" and the "Needs Design Feedback" labels.

(It can of course be changed if there is a need to do so.)

[2021-03-17 19:30] annezazu commented on #29495
Amazing! Testing it now.

[2021-03-17 19:38] mtias commented on #12997
Yes, I think it should be text alignment. I'm unsure if it should go on the right or the left, but if on the right it should be after the chevron (which indicates extra rich text formatting tools so it's tied to bold, italics, link).

[2021-03-17 19:51] ridesirat commented on #29337
Sorry, I'm having difficulty to keep up with these. I have these notes here for a while. I think it's best if I post them now and you filter what is useful or not. Maybe it's more efficient then me trying to analyze all the thread and miss some important point.
I use some Visual Builders and here is my feedback on what I think works & not:

Are the overlays effective, or overkill? Perhaps outlines

[2021-03-17 20:01] Zodiac1978 commented on #19533
I mixed this ticket up with https://github.com/WordPress/gutenberg/issues/14178, so I recorded another one.

As the title is not normalized copying from it is not normalized:

![normalize-bug-copypaste-from-title](https://user-images.githubusercontent.com/870475/111529460-79816500-8762-11eb-8bb6-5323fe9e6d78.gif)

This is the problem mentioned in the first place.

If this does not happen for you,

[2021-03-17 20:20] Quintis1212 commented on #29848
I found the source of problem , when you comment fn( data, e ) in throttle function you can not close the color picker on mouse click :
path - gutenberg/packages/components/src/color-picker/saturation.js
`
    		this.throttle = throttle( ( fn, data, e ) => {
			console.trace()

			//fn( data, e );
		}, 50 );
`

![Знімок екрана з 2021-03-17 22-19-19](https://user-images.githubusercontent.com/344887

[2021-03-17 20:47] Quintis1212 commented on #29848
It seems  bug is from  lodash functions :

`
        	commitValues( data ) {
		const { oldHue, onChangeComplete = noop } = this.props;
		console.log(partial)
		if ( isValidColor( data ) ) {
			const colors = colorToState( data, data.h || oldHue );
			this.setState(
				{
					...colors,
					draftHex: toLowerCase( colors.hex ),
					draftHsl: colors.hsl,
					draftRgb: colors.rgb,
				},
				debou

[2021-03-17 22:04] donnapep commented on #5449
@paaljoachim I can pick this one up, assuming it's still relevant?

[2021-03-17 22:13] annezazu commented on #29529
This came up as part of the [third call for testing for the FSE Outreach program](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1416) in feedback from @paaljoachim:

Edited this comment to add additional feedback from @getdave in the same call for testing:

I personally really like the simple close button @jasmussen suggests but wonder

[2021-03-17 22:16] paaljoachim commented on #5449
Hey @donnapep

That sounds great Donna!
I asked in the Slack Core Editor channel so that another dev can give a reply here to the relevance of the issue.

[2021-03-17 22:24] paaljoachim commented on #29529
Hey @annezazu and @jasmussen

As a user I have seen the X over and over again in the Settings panel, and having the X as Joen suggests in the above comment would be very helpful. It is an intuitive way to close a panel.
I think we should go with the X and try it out and see how it feels.

Btw
I noticed now that I had to click the W again to close the Navigation Panel.

[2021-03-17 22:32] annezazu opened #29950 "Template Part: Improve template part creation flow"
## What problem does this address?

Pulling in some feedback from the [third call for testing as part of the FSE outreach program](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1416) from @paaljoachim :

Here's a screenshot of the current experience:

<img width="721" alt="Screen Shot 2021-03-17 at 4 24 40 PM" src="https://user-images.g

[2021-03-17 22:38] annezazu commented on #29295
This "Advanced" section came up as part of feedback from @paaljoachim for [the third FSE call for testing](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1416). For context, part of this test includes creating a custom template part for the 404 page header:

Right now, it does feel odd to have this living under Advanced settings when set

[2021-03-17 22:42] annezazu commented on #24007
Pulling in feedback from the [third call for testing for the FSE program](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1416) from @paaljoachim:

Helpful to think about the above context when/if this is addressed :)

[2021-03-17 22:50] annezazu opened #29951 "Navigation Block: Add ability to create a post draft"
## What problem does this address?

As part of the third call for testing with the FSE Outreach Program, [feedback was given](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1416) that it would be great for there to be an option to add a post draft similar to the current drafting process with adding a new page:

<img width="450" alt="Scre

[2021-03-17 22:51] kellychoffman commented on #12997
Ha! I feel dumb. Yes, 100% we should use text alignment.

<img width="673" alt="Screen Shot 2021-03-17 at 5 03 49 PM" src="https://user-images.githubusercontent.com/5835847/111554079-dff68b00-8742-11eb-8ae5-d249b53302de.png">

[2021-03-17 22:53] paaljoachim commented on #29295
Thanks for the ping @annezazu

Tooltips
I am seeing that James it mentioning a kind of tooltip. I actually also mentioned this in the feedback I had for this third call for testing outreach. Having a ? in a circle or another method where one can hover a small icon to receive additional information will very much help. As there are options in the panels that are difficult to understand without any

[2021-03-17 23:04] paaljoachim commented on #12997
Just thought I would mention it....
A change we need to make is having the caption align to the image, and not the boundary box surrounding the image.

[2021-03-17 23:44] critterverse commented on #29871
Thanks for the feedback, all!

@mtias I like the Save button grouped with the Options ellipses as a sort of “appendix” area but maybe they are swapped so that Save comes first? (this change is reflected below)

I didn't communicate this very well, sorry 😂 The sequence I proposed before was:

- Save button appears when a change is made (toolbar expands)
- Save button disappears on click
- Display c

[2021-03-18 00:42] #29913 closed

[2021-03-18 01:40] Tropicalista commented on #29871
Another problem is when he reusable block contains innerblocks. There's no way at the moment to let user know is editing a reusable block. A lock state should be added before any edit/delete action is performed.

[2021-03-18 01:41] fullofcaffeine opened #29952 "Broken padding in Search block's button"
## Description

The `Search` block's button's padding is broken. Tested with `v10.2.0` (latest version at the time I'm writing this). See screenshot s below (tested with TwentyTwentyOne and Blank Canvas themes).

## Step-by-step reproduction instructions

1. Install `v10.2.0` in your WordPress instance;
2. Switch to the Blank Canvas theme;
2. Create a new post or page;
3. Insert a `Search` block;

[2021-03-18 01:46] hsingyuc commented on #14377
I'll fix this.

[2021-03-18 02:11] rodrigodagostino opened #29953 "Duplication of dynamic block's container element with API v2 in Gutenberg 10.2.0"
## Description
Right after upgrading to Gutenberg 10.2.0, some of my custom blocks (working with the API v2 and the `useBlockProps()` function) have now a double block container in the editor, like the following:

[code]

I’ve tested it on Gutenberg 10.2.0 RC1 and in WP 5.7.0 (Gutenberg deactivated), and this behaviour is also present there.

This issue was not present on Gutenberg 10.1.0/10.1.1.

[2021-03-18 04:38] glendaviesnz opened #29957 "Gallery block refactor: Image block cropping tool does not work well in gallery context"
When running the [Gallery Refactor PR](https://github.com/WordPress/gutenberg/pull/25940) using the crop tool on an individual image is slightly confusing as it doesn't work so well with images being forced to specific sized with the Gallery `Crop images` option toggled on. For instance with some image sizes a small square crop size is indicated, but when applied image zooms in at same shape and s

[2021-03-18 04:57] Tropicalista opened #29958 "Deleting a block using "Delete" button makes block crash."
## Description
My plugin was working well. After installing Gutenberg 10.2.0 a strange behaviour happens.
When I try to delete the first input field from a form, the block crashes. This is happening only on first field. From second field and above, all works as expected.
If I try to delete the input field with three dots menu, it works.
If I use "Delete" button it crashes.
If I disable Gutenberg,

[2021-03-18 05:12] alaczek opened #29959 "Navigation: Line-height setting missing"
Could we have a line-height setting for the navigation block? This would give us more fine-grained control and enable header designs such as these, where the vertical alignment is essential:

![image](https://user-images.githubusercontent.com/4550351/111576026-c36e5780-8803-11eb-81a7-3d1b3149272e.png)

![image](https://user-images.githubusercontent.com/4550351/111576036-c9fccf00-8803-11eb-950c-a57

[2021-03-18 06:03] noisysocks commented on #28902
I've opened https://github.com/WordPress/gutenberg/pull/29960 which is a WIP PR containing the frontend changes needed for this.

[2021-03-18 07:15] landwire commented on #16523
Hi Chris
you have written this:

But I would like to extend my own block based on an existing core block without copying any code. If I would copy the code I would maintain a totally different version and not get any of the updates to the core blocks. All I would like to do for now is add a wrapper to my own block with `add_filter('render_block', 'Proctor\Blocks\addBlockWrapper', 10, 2);`

So let'

[2021-03-18 07:16] landwire commented on #16523
Ok, I thought my comment would open the issue again. I create a new one.

[2021-03-18 07:21] landwire opened #29961 "Extending existing core or any other blocks - not content of blocks!"
## What problem does this address?
Hi there,
coming from this issue really: https://github.com/WordPress/gutenberg/issues/16523

My question is NOT about cloning content, but to register a new block based on an existing one.

I would like to extend my own block based on an existing core block without copying any code. If I would copy the code I would maintain a totally different version and not ge

[2021-03-18 07:51] landwire commented on #26121
As image handling is an issue that is so engrained in the core workings, I will wait and see if it gets resolved.
But thanks you for pointing me towards the block parser. I will take a closer look at it soon.

[2021-03-18 07:59] youknowriad commented on #29928
Hi There! reading the report above, it's not clear to me where the recursion happens (where the depth increases), those "START" / "FINISH" resolution actions don't trigger recursion as far as I know?

[2021-03-18 08:02] SeanDS opened #29962 "Allow child nodes to be added to format API objects"
## What problem does this address?

I was asked to open this issue by @ellatrix following the discussion [here](https://github.com/WordPress/gutenberg/issues/13778#issuecomment-790592224). It's currently impossible to insert nested HTML in format types with `object: true`. This `object: true` switch is currently only used in vanilla Gutenberg for inline images where adding a single `<img>` tag is

[2021-03-18 08:03] SeanDS commented on #19756
#29962 describes a more concrete fix for this problem based on discussion in the issue mentioned immediately above, so I'm going to close this.

[2021-03-18 08:03] #19756 closed

[2021-03-18 08:21] draganescu commented on #28856
In this UI the navigation block's toolbar does not have the block settings menu at the end. Removing it is not trivial as there is no switch to flip about it.

I have thought about what would the best way forward be and I can only come up with two directions, neither of which are too sound:

1. Filter the `BlockToolbar` component in the block editor package and add a flag that can disable the bloc

[2021-03-18 08:47] youknowriad commented on #20650
Now that we landed this #29335 I consider this issue done. The new behavior is triggered by the presence of the "experimental-theme.json" file to avoid breaking changes for existing themes.

This also means classic themes can't be update yet to use it since it's still "experimental" but `experimental-theme.json` file is meant to be made stable in WP 5.8 (so soon).

[2021-03-18 08:47] #20650 closed

[2021-03-18 08:47] talldan commented on #28856
Yeah, I don't really like any of the options.

I suppose CSS is the least harmful.

There's also the option of an `"isCopyable": false` block support setting. This would leave the menu empty, and there could be some separate logic that when the menu is empty it doesn't display. There is precedence for disabling individual menu options as well (reusable, html), but I don't know if we have a good en

[2021-03-18 08:49] youknowriad commented on #6131
This is also something that is now possible after #29335. Theme's can define a default "layout" that can be used. It will be available to all themes once the `experimental-theme.json` file is made stable. (hopefully in WP 5.8)

[2021-03-18 08:49] #6131 closed

[2021-03-18 08:50] youknowriad commented on #29506
#29335 landed and it checks a few items on this issue. We can now define a default layout (widths) in theme.json and use it consistently in themes or add a specific layout for some areas of the site/content.

[2021-03-18 08:51] talldan commented on #29961
Just renaming this to be clearer (clone means to copy block content in this codebase).

[2021-03-18 09:02] ntsekouras commented on #29438
In a single page there is no much use in having an inherit Query, but instead a custom one.

In general we need to find a way to detect the context a Query lives (page/archive) and set the inherit option accordingly, but this is not yet implemented.

[2021-03-18 09:10] ntsekouras commented on #28575
Sorry for missing the ping 😢 - Too many GH notifications. I see the issue was resolved now..

[2021-03-18 09:10] fluiddot commented on #29928
Yeah, the "START" / "FINISH" resolution doesn't trigger other actions.

The problem is more related to how the unhandled action controls are executed in [`@wordpress/redux-routine`](https://github.com/WordPress/gutenberg/blob/50cdfbeae59cf0fe91faa2183877b3b7fc60dd3e/packages/redux-routine/src/runtime.js#L45-L52) when they're triggered one after the other. In this case, each `yield` call with an ac

[2021-03-18 09:12] jasmussen opened #29963 "Navigation Block: Add separate overlay color option"
## What problem does this address?

The Navigation block, by default, is transparent, and submenus are white with black text:

<img width="780" alt="Screenshot 2021-03-18 at 10 03 46" src="https://user-images.githubusercontent.com/1204802/111600115-593cbf00-87d1-11eb-93b9-1a45fad630b9.png">

When you define colors on the navigation block, submenus are able to inherit those, and look the same:

<im

[2021-03-18 09:13] jasmussen commented on #28575
No worries, we worked it out 🎉

[2021-03-18 09:24] youknowriad commented on #29928
So if I'm understanding properly, there's no recursion, it's just that Android has a small stack size right?

 - In which case we could try to refactor the "rungen" code to be more "flat" but it may not be easy to do so.
 - Or just increase the size in Android.

[2021-03-18 09:27] talldan opened #29965 "Improve options for implementing block toolbars in editors"
## What problem does this address?
The dev experience of adding block toolbars to an editor could do with quite a bit of improvement, so I thought I'd log some thoughts in an issue.

At the moment when implementing an editor there are two components that are needed:
- `<Popover.Slot name="block-toolbar" />` - a floating block toolbar that displays on larger screen sizes. Has solid black borders an

[2021-03-18 09:29] #29835 closed

[2021-03-18 09:57] fluiddot commented on #29928
Yes, probably I shouldn't have used the word "recursion" because it's a bit misleading since it's not actually happening (I'll rename it).

_EDIT: I've just renamed the solution "Prevent recursion when executing actions" to "Prevent the call stack to grow excessively when executing routines"._

I was wondering how other libraries handle this case, maybe we can check [Redux-saga](https://github.com

[2021-03-18 09:59] #25012 closed

[2021-03-18 10:07] talldan commented on #29907
I've tentatively added this to the 5.7.x must haves project so it doesn't get forgotten, but it does still need testing and confirmation by a dev.

From the report sounds like separately there might be a bug in the block deprecation for the cover block (though I thought they had all been fixed).

[2021-03-18 10:16] talldan commented on #29953
@rodrigodagostino Would you be able to provide a code sample for an affected block?

[2021-03-18 10:17] #29101 closed

[2021-03-18 10:19] talldan commented on #29958
Thanks for reporting @Tropicalista. I think this is the same issue as https://github.com/WordPress/gutenberg/issues/29498, so I'll close as a duplicate.

[2021-03-18 10:19] #29958 closed, assigned to nobody

[2021-03-18 10:19] talldan commented on #29498
Also reported in #29958.

[2021-03-18 10:28] fklein-lu opened #29970 "Post Comments Count Block: Duplicate class attribute"
## Description

In the `gutenberg_render_block_core_post_comments_count()` function, `get_block_wrapper_attributes()` is used to get the attributes to output on the block wrapper.

By default the `get_block_wrapper_attributes()` will return `class="wp-block-post-comments-count"`. Keep note of the `class` attribute name.

These attributes are then output this way:
[code]

Note the extra `class="%1$

[2021-03-18 10:29] scruffian commented on #26633
I think this closed by #29335.

[2021-03-18 10:30] #26633 closed

[2021-03-18 10:34] jasmussen commented on #27593
I checked off "Flyout menus", as #29932 has landed, if that item referred to additional things, please feel free to uncheck.

[2021-03-18 10:39] mtias commented on #29295
@annezazu that would be as part of creating a new template part, which has its own flow in a modal and a very prominent "name" field. Editing an existing name should not be as prominent.

[2021-03-18 10:40] ellatrix commented on #19533
How do I end up with non normalised text in the title?

[2021-03-18 10:40] ellatrix commented on #19533
I have macOS Big Sur but I doubt it makes a difference.

[2021-03-18 10:46] Zodiac1978 commented on #19533
I don't know which information you need. I am on macOS Mojave 10.14.6 and was testing in FF 86. But I could reproduce this in other browsers as well. Need to double check, but can provide this info if necessary.

I have shown what I have done: Open provided PDF in Preview, copy & paste in WP post title and content and end up with non-normalized text in the title.

If you have any idea which other

[2021-03-18 10:49] paaljoachim opened #29972 "Fatal error in Gutenberg plugin 10.2.0"
## Description

I received a "Your website is having technical difficulties" e-mail (The e-mail is in Norwegian, and am just directly translating to English.)

Web site looked like this (again this is Norwegian):

![Screen Shot 2021-03-18 at 11 44 10](https://user-images.githubusercontent.com/5323259/111613895-4c26cc80-87df-11eb-8c8e-164c98b7b2d9.png)

With the recovery link I was able to login an

[2021-03-18 10:58] jsnajdr commented on #29928
I tried to reproduce the growing stack with a minimalistic example that also dispatches a lot of actions inside a generator:
[code]
But running this doesn't show a stack growing. Each of the 100 `console.trace()` calls reports the same flat stacktrace:
[code]

So, what does the code that dispatches `START_RESOLUTION` in a loop, for each record, do differently?

[2021-03-18 11:18] paaljoachim commented on #29972
I deactivated the Gutenberg plugin 10.2.0.
When I tried to reactivate the plugin the fatal error came back.

Fatal error: Uncaught Error: Class 'WP_Block_Supports' not found in /home/edwiegjz/religionskritikk.no/wp-content/plugins/gutenberg/lib/block-supports/generated-classname.php:59 Stack trace: #0 /home/edwiegjz/religionskritikk.no/wp-content/plugins/gutenberg/lib/load.php(117): require() #1 /

[2021-03-18 11:27] jameskoster commented on #29871
@Tropicalista we're exploring an interaction similar to what you describe over in https://github.com/WordPress/gutenberg/issues/29337 :)

@critterverse I like the harmony of having the save button here behave the same as the one in the top bar. It helps me understand that the RB is a global element before I even edit it.

On that last point, do you think it would be overkill to have a one-time [gu

[2021-03-18 11:38] jameskoster commented on #29337
Hopefully the persistent list view will help with selecting further down the tree.

If not, I personally find the <kbd>command</kbd> modifier in Figma works very well:

https://user-images.githubusercontent.com/846565/111620328-79bf4600-87de-11eb-9a38-ad252aeb3644.mp4

[2021-03-18 11:39] youknowriad commented on #29972
There's nothing we can do here. That version is incompatible with WP 5.5. It just shouldn't be used there.

[2021-03-18 11:39] #29972 closed, assigned to nobody

[2021-03-18 11:51] paaljoachim commented on #29972
That is what I thought.
It should not be possible for autoupdating Gutenberg plugin on an older WP site. As the result seems to create a fatal error. As there can be a lot of sites that will come across this problem.

@desrosj @audrasjb

[2021-03-18 11:57] youknowriad commented on #29972
I think we had an issue where the required version was duplicated in both `gutenberg.php`  and `readme.txt`. So the auto-updater might have been relying on the wrong one. This is was fixed recently in #29646 and will be active in the next version.

[2021-03-18 12:05] jsnajdr commented on #29928
This seems to be some quirk in how `console.trace()` prints the stack. When running the code in debugger, I see a growing call stack on each loop iteration indeed.

It happens because `rungen` runs the generator using a tail recursion. A minimal example is this:
[code]
Running this program will terminate with stack overflow after 5652 iterations.

I'm afraid this is a fundamental shortcoming in `r

[2021-03-18 12:08] paaljoachim commented on #29972
Great! Thanks Riad!

[2021-03-18 12:24] #29495 closed

[2021-03-18 12:24] scruffian opened #29976 "Blocks: Differences between editor and frontend"
## Latest Comments:
|Editor|Frontend|
| --- | --- |
|<img width="1000" alt="Screenshot 2021-03-18 at 11 45 49" src="https://user-images.githubusercontent.com/275961/111621207-9dcf5700-87df-11eb-8da1-4cd68a6e2767.png">|<img width="889" alt="Screenshot 2021-03-18 at 11 45 44" src="https://user-images.githubusercontent.com/275961/111621200-99a33980-87df-11eb-8e99-330cf800ed4a.png">|
|The comment text

[2021-03-18 12:39] bradhouser opened #29977 "Gutenberg 10.2.0 Locked caused a fatal error"
After updating to 10.2.0 I got an email about a technical issue with the plugin:

Error Details
=============
An error of type E_ERROR was caused in line 59 of the file /homepages/44/d675584201/htdocs/clickandbuilds/WordPress/Production/wp-content/plugins/gutenberg/lib/block-supports/generated-classname.php. Error message: Uncaught Error: Class 'WP_Block_Supports' not found in /homepages/44/d67558

[2021-03-18 12:49] broksonic21 commented on #29907
To confirm, our content writer ran into this repeatedly, and I agree: The repro is:

- Have a page with Cover block in Wordpress 5.6
- Upgrade to Wordpress 5.7
- Try editing page as a Shop Manager (or Author) and see it lets you recover
- Try using focal point picker
- Save
- Refresh page editor
- See that you have to recover again

Doing same as admin works w/o repeated recovering.

[2021-03-18 12:55] Mamaduka commented on #23373
This would be really nice extra information to have in logs.

Now it takes time to track down Gutenberg/WordPress version when the component or method was deprecated.

Question: Should "since"  point to a Gutenberg plugin version or a WP version?

[2021-03-18 12:57] diegohaz commented on #29847
`npx @wordpress/env@next start` worked for me.

[2021-03-18 13:06] jameskoster commented on #28341
Finally I have something to share here :)

I tried a number of different approaches where folks could manipulate the home/posts pages settings directly in the editor, but ran in to lots of issues due to the complexities surrounding how the posts page actually works, and its relationship with the home page setting. Not to mention how templates like `front-page` and `home` factor in to the equation

[2021-03-18 13:10] fluiddot commented on #29928
That's exactly what I was experiencing, unfortunately on Android the threshold for triggering the stack overflow is quite lower (around 1200 iterations).

Yeah, actually in the case I exposed in this issue, the problem comes from a [`for` loop](https://github.com/WordPress/gutenberg/blob/c5e3493f002ab3eb1912293a66c7518e2dcd9d19/packages/core-data/src/resolvers.js#L223-L236) that runs unhandled act

[2021-03-18 13:10] #29478 closed

[2021-03-18 13:26] ricjcs commented on #16483
The default line is supposed to be a short line.

However, some themes like Twenty Twenty-One, the default line is different and there is no short line.

It should be possible to always select the short line, regardless of thema's default line.

[2021-03-18 13:29] jameskoster commented on #29821
I don't know that this necessarily needs design.

Essentially if I open the page assigned to `page_for_posts` in the editor, I should see the relevant query block from the `home` template if it exists, or the `index` template if it doesn't. Those blocks should of course be locked, and inherit attributes like `posts_per_page` from the site settings.

[2021-03-18 13:34] paaljoachim commented on #29577
Here is another version. This can be used in Full Site Editing and in Reusable blocks.

![FSE-Changes-will-be-lost](https://user-images.githubusercontent.com/5323259/111634590-f4945b00-87f6-11eb-8426-75c8a8d7e1af.jpg)

It would in general for various issues be good to look at what would be a good first version. Then iterate from there.
Pushing forward the very first version while still holding a l

[2021-03-18 14:25] paaljoachim commented on #28097
Ahhh yes. Thank you Donna @donnapep !
I will close the issue.

[2021-03-18 14:25] #28097 closed

[2021-03-18 14:25] davidkryzaniak commented on #29977
I've noticed the same thing. (Docker Image: andreccosta/wordpress-xdebug, PHP 7.4.9, MySQL 5.7)

![image](https://user-images.githubusercontent.com/1409191/111641701-63f45580-87cb-11eb-9dee-306b9357e52d.png)

[2021-03-18 14:38] #29943 closed, assigned to jasmussen

[2021-03-18 14:40] javierarce commented on #29150
Here's my attempt to improve the organization of the sidebar menu.

Following @jameskoster's suggestion, I decided to avoid using the term "template parts" (recently [renamed to "areas"](https://github.com/WordPress/gutenberg/pull/28410#issuecomment-775947556)). I think that this is more of an internal concept that general users won't really need to know.

That decision comes with a side effect: i

[2021-03-18 14:43] davidkryzaniak commented on #29977
I was running WordPress 5.6. After the upgrade to 5.7, everything started working as expected.

[2021-03-18 14:51] diegohaz commented on #24805
A common solution I see on other toolbars is visually collapsing the overflow items. But for screen reader and keyboard users, moving to the right works as the items weren't collapsed.

![Collapsing the Google Spreadsheet app toolbar](https://user-images.githubusercontent.com/3068563/111638427-11ba3100-87d9-11eb-9d9d-70b17e263df6.gif)

We could try to adapt it for the block toolbar. The problem fo

[2021-03-18 15:33] ntsekouras commented on #29970
Thanks for reporting this @fklein-lu!

[2021-03-18 15:40] scruffian opened #29983 "FSE: Group block: Pass "inherit layout" to child blocks"
## What problem does this address?
The previous way that themes styled group blocks was that all group blocks would inherit the default layout. Since https://github.com/WordPress/gutenberg/pull/29335 this can now be achieved by setting "Inherit default layout" on the group block.

## What is your proposed solution?
If a group block opts in to "Inherit default layout", users would probably expect t

[2021-03-18 15:43] kjellr opened #29984 "Page Link block appears to be missing from the inserter"
When running the latest `trunk`, it appears that the "Page Link" block is missing from the Navigation block's inserter. This happens in both the Site Editor and the Post editor.

## To reproduce

1. Add a Navigation block, hit "Start empty".
2. Select the plus icon to add a child block.
3. See that the Page Link block is missing.

## Screenshot

![Screen Shot 2021-03-18 at 11 26 49 AM](https://use

[2021-03-18 15:52] critterverse commented on #29871
Interesting! This is just a quick sketch but I can imagine a nice bubbly animation here in the style of the Gutenberg onboarding guides :)

I like that this could help with user understanding as well as potentially help reinforce any color coding decisions.

<img width="1440" alt="saved-with-guide" src="https://user-images.githubusercontent.com/77359364/111656112-9ceaf500-87e0-11eb-9d60-7d9bc60c02

[2021-03-18 15:54] kjellr commented on #29396
Running `trunk`, I do see pages returned in the post/page editor, but I do not see them returned in the Site Editor.

(Also, this may be somehow related to https://github.com/WordPress/gutenberg/issues/29984)

[2021-03-18 16:01] youknowriad commented on #29983
I kind of disagree with this. When you define the layout to a container block, the alignments definition should be limited to its direct children, not its grand children.

Both these options break in a lot of situations, because if I use a group block in a sidebar, or a footer, or a column or anything that is not the "root" container, it breaks.

--
That said, we can introduce some smart behavior

[2021-03-18 16:05] scruffian commented on #29983
Could we just have this behaviour for group blocks inside the post content block?

[2021-03-18 16:09] CreativeDive commented on #15121
Hey, is there a php function to check a block is disabled by the block manager? I want to provide to load specific block styles, if specific blocks are disabled.

[2021-03-18 16:18] youknowriad commented on #29983
This also can break in a lot of ways:

 - You add a padding or margin to the group block, the widths are not correct anymore
 - You add a background (auto-padding) it breaks

Also, by default the "group" block is just placed like any other block, this means if it's container (post content here) has a layout defined, it will be "centered", meaning if we want to apply the same layout as the containe

[2021-03-18 16:19] pablohoneyhoney commented on #29871
It'd be cool to see that flow more integrally, but contextual education can help. Perhaps even more in detail about where things are.

The material UI of the _Save_ button could also be wider to gain more specific weight within the toolbar. It seems squeezed for the main action at that moment, no?

There's something uncanny about how the ungroup/revert/convert to regular blocks icon lives with _Sa

[2021-03-18 16:21] Sandstromer opened #29985 "Why the !important rule to all inline global styles?"
Not a bug or feature request as such, but why are the defined global inline styles on the frontend being appended with the !important rule?

Not sure when this change happened as only just noticed it, and as far as I can tell it is not needed.

[2021-03-18 16:35] gwwar commented on #29396
Looks like this one probably happened since site editor was created:

Basically we have multiple implementations of `fetchLinkSuggestions` and they're getting out of sync.

Post-Editor:

https://github.com/WordPress/gutenberg/blob/f15a9f29fa8d4fbc2c7baa67ac5de9c9f80bdb2f/packages/editor/src/components/provider/use-block-editor-settings.js#L42-L106

Site Editor:

https://github.com/WordPress/gutenb

[2021-03-18 16:42] beafialho commented on #28921
Forgot to paste the Buttons pattern within the Architecture collection. Here's the [code](https://gist.github.com/beafialho/74df83ea7870c260014f7bf172720401).

<img width="602" alt="Captura de ecrã 2021-03-18, às 14 49 49" src="https://user-images.githubusercontent.com/65220155/111663325-996b6400-8808-11eb-848b-6d820ad8adc7.png">

[2021-03-18 16:53] jsnajdr commented on #29928
A brief look at Redux Saga shows me that they have the same problem. They also have a `next` function that advances the iterator and processes the return value with a handler, passing `next` as a continuation callback.

This is probably the fate of all generator-based effect runtimes that try to be sync and async at the same time.

It could be solved if JavaScript could do tail call optimizations,

[2021-03-18 17:01] mkaz opened #29988 "Can't recover from invalid markup in code editor"
## Description

When pasting invalid markup into the Code Editor, in this case some HTML that does not have the proper closing `</code>` tag the attempt to validate the markup ends up creating an infinite loop of `<code></code>` tags.

## Step-by-step reproduction instructions

1. Create a new post
2. Switch to the Code Editor
3. Paste in the following markup

[code]
4. Switch back to code editor

[2021-03-18 17:02] ceyhun commented on #29008
@gziolo I found the commits for this file using `git log --all --full-history -- diffcheck.txt` command. This seems to be the latest one deleting it: https://github.com/WordPress/gutenberg/commit/397e645d9994a528b13f14d68341c32414a374ad. It seems like an out of a `git diff`. I think we can safely erase this.

@hypest I also checked the pastebin and saw a lot of mobile bundles and binaries. I think

[2021-03-18 17:04] landwire commented on #29961
Dan, that's great, thank you. And thanks for labelling it properly too!

[2021-03-18 17:10] evilluendas opened #29989 "Allow Tooltip delay to be customizable"
## What problem does this address?
The Tooltip component has a [700ms delay](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/tooltip/index.js#L30), specified in an internal constant. However, some use cases may require a shorter (or longer) delay.

## What is your proposed solution?
Make the 700ms hardcoded delay a property of the component.

[2021-03-18 17:41] jameskoster commented on #29577
I still don't think you need the "Changes will be lost" text. It's basically communicating the same thing as the un-checked checkbox? :)

[2021-03-18 17:55] cfinke opened #29991 "Audio block's "Upload" button doesn't show progress and fails silently."
## Description

When using the Audio block, if you click the "Upload" button and choose a file, it immediately places an audio player in the post, and it doesn't indicate whether the file has completed uploading. You can then publish the post and leave the page, all without being notified that your audio has not uploaded.

## Step-by-step reproduction instructions
1. Begin a new post.
2. Insert a

[2021-03-18 17:56] bradhogan commented on #29571
@talldan Thanks for the reply and sorry for the delayed response.  The escaping was directly copied when I escaped using [this tool](https://codebeautify.org/json-escape-unescape) which seems to be the go-to tool to escape JSON.  Any opinion on that?

Also, the patterns and photos all work properly locally but not in a live environment.

I've tested with the escaping removed, single quotes and no

[2021-03-18 18:03] jameskoster commented on #29150
I think the first idea works quite well. I like the icons :) Something about the "Other" label feels at-odds hierarchically with the rest of the templates though. It suggests to me that if the template is not a header, footer, or sidebar, it will be grouped there.

While that is true for template _parts_, it's not true for the top level templates. Perhaps the top level templates being visible imme

[2021-03-18 18:09] rodrigodagostino commented on #29953
Sure thing, @talldan . I apologize for not doing it beforehand. I've just updated my initial comment to include the proper code snippets. Hope that helps clarifying the situation.

[2021-03-18 18:12] jameskoster commented on #29871
An option with a lighter a footprint could be an action to "Learn more about Reusable blocks" on the Snackbar that appears on save.

[2021-03-18 18:13] oandregal commented on #29891
I've started to work on this.

[2021-03-18 18:19] ockham opened #29992 "Button Block: Add e2e test for gradients support"
Gutenberg 10.2.0 had a regression with regard to the Button block that lost its gradients support (see #29980) . Let's add some e2e test coverage for that.

[2021-03-18 18:37] mikeicode commented on #27720
Just had this issue on a SoundCloud block.

[2021-03-18 18:44] fluiddot commented on #29928
I also wanted to check how Redux Saga handles this so thanks for exploring it beforehand 🙇 . I'm surprised that they have the same problem 😞 .

Thinking out loud, I wonder if a potential solution would be to use [microtasks](https://developer.mozilla.org/en-US/docs/Web/API/HTML_DOM_API/Microtask_guide) although it's still [not fully supported](https://caniuse.com/mdn-api_windoworworkerglobalscope_

[2021-03-18 18:50] paaljoachim commented on #27720
Hey Mike @mikeicode

It looks like the PR has been merged and will be added to Gutenberg plugin 10.3.
RC will I assume be released Wednesday next week. You can then test it out and see if the fix works for you.

[2021-03-18 18:59] paaljoachim commented on #29577
I initially also thought that one could just uncheck for items one does not want to save. But to make it real clear it is nice to also give a message confirmation. Just in case the users mind is wandering a bit too far into something else...:)

[2021-03-18 19:08] gagan0123 commented on #29814
@tmdk
I think this issue is fixed in the latest wp-env release on npm two days ago(version 0.4.0).
Can you please try updating the wp-env package(`npm -g i @wordpress/env`) and run the command again?

[2021-03-18 19:09] apeatling commented on #20758
Latest https://github.com/WordPress/gutenberg/pull/29363

[2021-03-18 19:18] gwwar commented on #26673
Testing on WP 5.7 / Gutenberg trunk, I verified that "subtitles" is not set to kind, but that all other values are.

| Subtitles | Captions |
|-----|-----|
| <img width="803" alt="subtitles" src="https://user-images.githubusercontent.com/1270189/111684393-e6890f00-87e3-11eb-9890-b1b97ac58737.png"> | <img width="794" alt="captions" src="https://user-images.githubusercontent.com/1270189/111684464-fa

[2021-03-18 19:18] bradhouser commented on #29977
Thanks for letting me know about 5.7.  I hadn't updated WP either, now I can re-activate Gutenberg.

[2021-03-18 19:19] paaljoachim commented on #26673
Testing with WordPress 5.7
Gutenberg 10.1.1
Twenty Twenty One.

Added the video block.
Uploaded a video.
Downloaded the subtitles.zip link mentioned. Unzipped it.
Uploaded the subtitles.vtt file to the video.

<img width="588" alt="Screen Shot 2021-03-18 at 20 15 37" src="https://user-images.githubusercontent.com/5323259/111684231-badb4880-8826-11eb-825f-7efab4867a30.png">

Frontend HTML code:
![S

[2021-03-18 19:29] paaljoachim commented on #26679
Testing using WordPress 5.7
Gutenberg plugin 10.1.1
Twenty Twenty One

Went to Instagram found a post which had captions.
Clicked the 3 dots and then embed and unchecked the caption.

![Screen Shot 2021-03-18 at 20 26 05](https://user-images.githubusercontent.com/5323259/111685427-31c51100-8828-11eb-8ba1-064e95acae4d.png)

Went to Gutenberg page.
Added a custom HTML block.
Added the Instagram embe

[2021-03-18 19:29] #26679 closed

[2021-03-18 19:40] rafaelgallani commented on #26220
I managed to reproduce it locally, can I look at this one?

[2021-03-18 19:41] paaljoachim commented on #26220
Testing with WordPress 5.7.
Gutenberg plugin 10.1.1.
Twenty Twenty One.

Backspacing to delete the verse block leaves it in the layout even though I have "deleted" it and even the content in blocks before it.

[2021-03-18 19:43] gwwar commented on #26220
A quick way of getting into this state is navigating to the code editor, and updating content with:
[code]

Go back to the visual editor. Backspace won't remove the verse block and add a default paragraph.

[2021-03-18 20:02] paaljoachim commented on #26940
Testing with WordPress 5.7.
Gutenberg plugin 10.1.1
Twenty Twenty One.

I added into the functions file in the add_theme_support array section:

[code]

Frontend showed:

![Screen Shot 2021-03-18 at 21 02 39](https://user-images.githubusercontent.com/5323259/111690302-4eb01300-882d-11eb-8c28-695b0bbab379.png)

[2021-03-18 20:09] gwwar commented on #26940
It looks like we also allow upper and lowercase slug values that will collide with one another on the frontend class:

`h1` -> `has-h-1-font-size` , `H1` -> `has-h-1-font-size`

In general it looks like we break on a numerical value:  `foo1bar` -> `has-foo-1-bar`.

If folks do take this one on, let's be careful to not break existing classnames for folks who might be depending on this.

[2021-03-18 20:16] #29308 closed

[2021-03-18 20:17] paaljoachim commented on #26616
Testing using WordPress 5.7
Gutenberg plugin 10.1.1
Twenty Twenty One.
Newest version of Chrome. Version 89.0.4389.82 (Official Build) (x86_64)
OSX 10.15.7

Added two blocks with content.
Selected the content of the first. Did a cmd+x and cut out the content. Went to another block and pasted it back in.

It looks like it is working fine. I will go ahead and close the issue. It can of course be reo

[2021-03-18 20:17] #26616 closed

[2021-03-18 20:23] paaljoachim commented on #27263
WordPress 5.7
Twenty Twenty One
Gutenberg plugin 10.1.1

I added

[code]

To the wp-config file.

Going to a page/post and adding some blocks etc. I noticed the autosave mechanism loop as mentioned by @Rahe Nicolas.

[2021-03-18 20:31] paaljoachim commented on #28750
Thank you for sharing @RafalSzrajnert
I am still not able to reproduce.
Kerry @gwwar could you take a look?

[2021-03-18 21:39] #29359 closed

[2021-03-18 21:40] glendaviesnz opened #29994 "Gallery block refactor: Gallery caption rich text toolbar not dismissed on blur"
When the Gallery block is selected the caption rich text toolbar is shown. This toolbar remains visible if if caption field loses focus.

![rt-toolbar](https://user-images.githubusercontent.com/3629020/111701260-6fb14c00-889f-11eb-976a-479aa829eb76.gif)

[2021-03-18 21:44] glendaviesnz commented on #29883
Closing this in favour of a temporary project board to manage these - https://github.com/WordPress/gutenberg/projects/56

[2021-03-18 21:44] #29883 closed

[2021-03-18 21:53] imation4430 opened #29995 "Embed editor problems"
HI: Dear friends. I have observed that when using (since the update to WordPress 5.7 in the editor the embed option to url, it is seen from the dasbohar, but when publishing it you only see the link and not the entire box. Please give me a solution or confirm if it is a bug:

I leave a link for you to better understand what I say

https://paucompany.es/Wocommerce

The first image would correspond

[2021-03-18 21:58] youknowriad commented on #29976
What's the problem for the buttons block (aside the margins between the blocks which are a separate thing cross blocks)

[2021-03-18 22:11] glendaviesnz opened #29996 "Gallery block refactor: image link is lost when crop is applied"
## Description
If an Image block nested in the refactored gallery block has a link applied and then is cropped the link is lost and needs to be re-added, but the user gets no indication that the link has been removed.

## Step-by-step reproduction instructions

- Check out Gallery refactor PR and enable refactored gallery experiment
- Add an Image block
- Add a link to the Image, either custom or

[2021-03-18 22:29] glendaviesnz opened #29997 "Gallery block refactor: warning about invalid file types is not consistant"
## Description
 With gallery block refactor a user notification about uploading invalid file types is shown when trying to add invalid types to a gallery with Images, but not when dragging into an empty gallery

## Step-by-step reproduction instructions
Check out the [Gallery block refactor PR](https://github.com/WordPress/gutenberg/pull/25940)
Add an empty gallery
Drag a PDF file onto media place

[2021-03-18 22:47] glendaviesnz opened #29998 "Gallery block refactor: selecting parent gallery does not show blue selection outline"
## Description
Normally when select the parent of grouped blocs a blue outline is show around the selected block, this doesn't currently happen with the refactored gallery. It appears to be due to the fact the the caption rich text field immediately steals focus

## Step-by-step reproduction instructions

1. Check out [gallery refactor PR](https://github.com/WordPress/gutenberg/pull/25940) and tur

[2021-03-18 22:55] glendaviesnz opened #29999 "Gallery block refactor: it is not possible to replace an image with drag and drop"
## Description
It is not currently possible to replace an existing image within a library with drag and drop as is it with an individual image - images dragged onto an existing image in the gallery are added as new images between the existing images.

## Step-by-step reproduction instructions
Check out [gallery refactor PR](https://github.com/WordPress/gutenberg/pull/25940) and turn on refactored

[2021-03-18 23:11] paaljoachim commented on #29398
For the very first iteration it would be nice to have preview/view look and feel (UI) identical to the post/page content preview drop down options. Making it possible to in some way view the full site. Then iterate from there.

[2021-03-19 00:00] TimothyBJacobs commented on #29814
I also got this error using version `4.0.0`. Specifying `"core": "WordPress/WordPress"` worked for me as well to fix that error.

[2021-03-19 00:05] scruffian commented on #29976
That's all :)

[2021-03-19 00:55] glendaviesnz opened #30001 "Gallery refactor: undo doesn't work with keyboard to remove a gallery with images"
## Description
If a gallery is created by dragging and dropping images CMD-Z or Delete key do not work to remove the block. Also of parent gallery is selected the delete key can't be used to delete it as it can with other container blocks. Probably related to https://github.com/WordPress/gutenberg/issues/29998

## Step-by-step reproduction instructions
Check out [gallery refactor PR](https://githu

[2021-03-19 01:07] glendaviesnz opened #30002 "Gallery block refactor: some users unsure of 'Remove block' option in individual images"
Some feedback from testing indicated that users are unsure about the implications of 'Remove block' in an individual Image within the gallery, ie. will this delete just one image or the whole gallery block.

One UX option would be to add the name of the block to this menu, eg. 'Remove Image block', which would be useful in all contexts where blocks are nested.

[2021-03-19 01:07] bantilan commented on #29177
I see, that is why I no longer see the "Noto Serif" on the editor.

[2021-03-19 01:08] bantilan commented on #29177
@aristath, please check my comment on your PR.

[2021-03-19 01:09] chthonic-ds opened #30003 "Building Gutenberg 10.2.1 fails with error "could not resolve dependency: peer @wp-g2/create-styles@"^0.0.154" from components@13.0.0""
## Description
When I run `npm ci` on a local clone of Gutenberg, the install fails and I see the following error:

`could not resolve dependency: peer @wp-g2/create-styles@"^0.0.154" from components@13.0.0`

## Step-by-step reproduction instructions
1. Fork and clone local copy of Gutenberg
2. Run `npm ci` in terminal
3. The install should fail after a few moments and display the error message no

[2021-03-19 01:24] glendaviesnz opened #30004 "Gallery block refactor: reordering in media library not applied"
## Description
If gallery images are re-ordered in the media library these changes in order are not applied when returning to the gallery block.

## Step-by-step reproduction instructions

1. Check out [gallery refactor PR](https://github.com/WordPress/gutenberg/pull/25940) and turn on refactored gallery experiment
2. Add a new gallery block with images
3. Select media library from placeholder and

[2021-03-19 02:22] matmccabe commented on #29662
I have also added a section on links which dont appear redirect. Please let me know if I was using them incorrectly, the feedback is much appreciated!

[2021-03-19 02:38] annezazu commented on #29295
Makes sense for an existing template part but do want to point out that the current new template experience doesn't make it clear or easy to figure out where one can edit the name:

https://user-images.githubusercontent.com/26996883/111723817-c4b27b00-8829-11eb-927b-4a75d11d0118.mov

I'll add this feedback to this issue for now: https://github.com/WordPress/gutenberg/issues/29950

[2021-03-19 02:42] annezazu commented on #29950
More thoughts related to this feature :) For creating a new template, the current flow does not make it obvious how to change the name of the untitled template part which feels like a key step to nudge a user to do in order to not end up with a bunch of untitled parts:

https://user-images.githubusercontent.com/26996883/111724122-4efadf00-882a-11eb-85d2-308399d2ab17.mov

Separately though, pulling

[2021-03-19 03:25] talldan commented on #30003
@chthonic-ds Which version of node and npm are you using?

[2021-03-19 03:29] chthonic-ds commented on #30003
@talldan

- node 15.3.0
- npm 7.0.14

[2021-03-19 03:31] carolinan commented on #29308
@scruffian I am not sure why this was closed, was a conclusion reached elsewhere? I'd like to know if I should also close https://github.com/WordPress/gutenberg/pull/29412.

[2021-03-19 04:14] talldan commented on #30003
From what I understand, npm 7 isn't compatible at the moment. There are a few issues open:

https://github.com/WordPress/gutenberg/issues?q=is%3Aopen+is%3Aissue+label%3A%22%5BType%5D+Build+Tooling%22+npm

Using node 14 and npm 6 should resolve the problem.

[2021-03-19 04:22] #30003 closed, assigned to nobody

[2021-03-19 04:32] talldan commented on #29852
This is definitely unusual. Did the 'About Barb' reusable block get inserted at any point during the session?

The only other thing I can think of is that the 'About Barb' reusable block is inside the 'CTA' one. Though it looks empty and shouldn't need saving.

Styling issues are also unusual.

[2021-03-19 04:37] creativecoder commented on #29295
@jameskoster [Here's a draft PR](https://github.com/WordPress/gutenberg/pull/30005) using the [segmented control / icon approach](https://github.com/WordPress/gutenberg/issues/29295#issuecomment-788825961) suggested above.

<img width="275" alt="image" src="https://user-images.githubusercontent.com/1699996/111732023-b15fd980-8842-11eb-8216-6ae1def06416.png">

It's roughed in for now, but gives a f

[2021-03-19 05:07] talldan commented on #29705
There's an input field for adjusting the height, which is why it's an inline style:
<img width="279" alt="Screenshot 2021-03-19 at 1 04 54 pm" src="https://user-images.githubusercontent.com/677833/111733844-ca54a300-88b3-11eb-8fbb-ca7ddcdfdb64.png">

[2021-03-19 05:08] talldan commented on #29705
I could see how that wouldn't work if it needed to take into account a pixel value though.

[2021-03-19 05:09] talldan commented on #29705
Labelled as an enhancement, but it probably needs some more thought as to what the right solution is.

I suppose one option is that by default a classname is used, but when the user adjusts the input it switches to an inline style.

edit: It's worth reading through the PR to see why it was implemented the way it was - https://github.com/WordPress/gutenberg/pull/26615

[2021-03-19 05:40] jsnajdr commented on #29928
Queuing a microtask is already possible with `Promise.resolve().then( task )`. But that would make all `rungen` tasks asynchronous, even if they were originally synchronous. Potentially introducing race conditions and other subtle bugs.

[2021-03-19 05:52] talldan opened #30006 "Supporting future block types in the navigation editor."
## What problem does this address?
At the moment the Navigation editor is designed to work with a very specific structure of the Navigation Block.

The expected structure is a navigation block with mostly nested Navigation Link blocks. When saving in the editor, those links are mapped directly to `nav_menu_item` post types—the same storage format used by the existing menu editor in WordPress. For

[2021-03-19 06:10] talldan opened #30007 "Provide a better way to disable/enable nav block features for the nav editor"
## What problem does this address?
The navigation editor currently uses a few 'hacks' to disable features of the navigation block that the navigation editor can't support. But also to add its own features.

These are (from least to most hacky) :
- Using a block filter to add additional features (menu name editor)
- Using a block filter to disable block `supports` features (pretty much all of them)

[2021-03-19 06:21] talldan opened #30008 "User can alter typography of block placeholder in the navigation block"
## Step-by-step reproduction instructions
1. Add a navigation block and select it
2. Select some typography options like font weight and strikethrough

## Expected behaviour
The placeholder is not affected
-- or --
The typography options are not visible while the placeholder is shown

## Actual behaviour
The user can adjust the typography of the placeholder (fortunately not font size)

## Screensh

[2021-03-19 06:54] gziolo commented on #5449
Some improvements were landed in #29949. Otherwise, I'm inclined to close this issue based on the findings shared by @krfreder in #28436. It'd be too much hassle to change public APIs after several major WordPress releases.

[2021-03-19 06:54] #5449 closed

[2021-03-19 07:11] gziolo commented on #29008
@ceyhun, this is a great finding. How can we perform this cleanup? Is it something you could do yourself?

[2021-03-19 07:12] kristarella commented on #29178
+1 for keeping some kind of lock on reusable blocks

[2021-03-19 07:15] #29940 closed, assigned to sarayourfriend

[2021-03-19 07:48] jasmussen commented on #29959
PR here: https://github.com/WordPress/gutenberg/pull/30010

[2021-03-19 07:53] chthonic-ds commented on #30003
For anyone in future experiencing this issue, can confirm running node 14 with npm 6:

- resolved _this_ issue
- was followed by a new one

If you experience a bunch of errors of the nature, "ENOENT: no such file or directory...", try the solution in this comment, worked for me:  https://github.com/WordPress/gutenberg/issues/9474#issuecomment-420107785

[2021-03-19 08:06] youknowriad commented on #29976
@scruffian Do you think we can add a TODO list to the issue description to help clarify what's done, what's remaining...

[2021-03-19 08:25] gziolo commented on #29940
Hotfix published to npm:

[code]

I was able to finish without errors:
[code]

TypeScript wasn't installed when using npm v6. JS linter works correctly.

[2021-03-19 08:25] jasmussen commented on #30008
Fix in https://github.com/WordPress/gutenberg/pull/30011

[2021-03-19 09:01] hypest commented on #29928
I wonder, the list of defined reusable blocks is not related to the post/page currently open in the editor so, sounds to me like data that we should fetch in the parent mobile app. Like, fetch it like we fetch other site data and keep it in local DB. The mobile apps act as a glorified cache anyway so, maybe populating the reusable blocks cache can be moved there. It won't be a "real" solution to t

[2021-03-19 09:02] javierarce commented on #29150
Yes, having the "Other" option before the list of templates feels a bit odd. I think it could work in practice because of the use of the icons and the separation from the list of top-level templates… but it's not very elegant.

Is it too radical though? I like it, it's consistent for example with the language used to explain [Gutenberg](https://github.com/WordPress/gutenberg/blob/749f78541840a569f

[2021-03-19 09:14] jameskoster commented on #29295
@annezazu I think that's a separate issue warranting dedicated exploration. It could be as simple as displaying a modal when the user elects to create a new template part. Or maybe even not allowing new template part creation via the block – that has always felt like a weird flow to me.

[2021-03-19 09:17] jameskoster commented on #29295
It's [this one](https://github.com/WordPress/gutenberg/blob/trunk/packages/icons/src/library/layout.js) from the icons package :)

[2021-03-19 09:24] jsnajdr commented on #29928
A reasonable solution would be to introduce batched actions `START_RESOLUTIONS` and `FINISH_RESOLUTIONS` that would accept an array of `args` arrays to mark as resolving/resolved. Then we would always `yield` only two actions each time a page of results is received.

Such batched actions would also prevent firing too many change events. Now, when receiving a page of 100 items, the store fires 200+

[2021-03-19 09:25] javierarce commented on #29577
I also feel we don't need that text. It's a bit redundant and makes the UI quite noisy (imagine if a user had 5 unchecked changes).

What if instead, we make the text above a little scarier?

[2021-03-19 09:51] talldan commented on #29100
This should be improved quite a bit by #30013.

[2021-03-19 09:55] #28907 closed

[2021-03-19 10:14] draganescu commented on #26244
The purpose of the button originally was to be a shortcut and a highlight for the fact that the customizer offers real time preview of editing widgets. In our new editor the problem remains, as saving the editor produces effects immediately. But, we do have a preview ability now right in the stand alone editor, so the problem is ... halved?

Maybe instead of a manage with live preview button we co

[2021-03-19 10:34] jameskoster commented on #29150
Yeah I think this works quite well. It creates a more intuitive distinction between the template types without having to rely on the confusing template/template part naming convention. We could potentially bring the icons back for the top level as well. I wonder how that would look?

I'd be interested to hear @kjellr's thoughts on this from the theme perspective.

[2021-03-19 10:41] javierarce opened #30015 "Site Editor: reduce the template descriptions footprint"
While working on [this issue](https://github.com/WordPress/gutenberg/issues/29150) I noticed that the current list of templates (and the future list of areas / template parts) would benefit from having a way to toggle the descriptions or at least reduce the amount of text that is presented to the users. In some cases, like the description for "Archive" or "Front page" the text spans up to four or

[2021-03-19 10:45] paaljoachim commented on #29577
Yes! That is even better. Thanks @javierarce Javier!

![FSE-Changes-will-be-lost-next-version](https://user-images.githubusercontent.com/5323259/111768691-8c9e4d00-88a8-11eb-929c-72adbb6d77a4.jpg)

[2021-03-19 10:53] ocean90 commented on #28907
Added to the WordPress 5.7.x project, would be nice to include the fix in a minor update.

[2021-03-19 10:53] mtias opened #30016 "Create new block category for template parts"
Let's create a new category "Theme" to group template-part blocks and its variations (header, sidebar, footer). I'd possibly include the Navigation block here. I would leave all the other widget-like blocks (logo, title, content, etc) in widgets for now.

I think it's important to separate template-parts. It also gives an easy way to enable or disable these blocks for the regular editor as we only

[2021-03-19 11:10] javierarce commented on #29150
I think that the highlighted areas of each icon reinforce their name and position… does the icon next to the Layout label give the idea that layouts are "bigger" structures?

<img width="300" alt="Icons" src="https://user-images.githubusercontent.com/4933/111770859-3c74ba00-88ab-11eb-9a33-6debb833587e.png">

[2021-03-19 11:15] bobbingwide commented on #26734
This problem has not been addressed in Gutenberg 10.2.0. It still only checks the post_status and not the post type of the post found using the post ID.
See #26734.

[2021-03-19 11:17] hrkhal commented on #29178
@paaljoachim I agree. Accidental edits are far too easy with the changes surfaced in 5.7. Users work on auto pilot and even though there is a checkbox for relating to the reusable block they will sometimes steam ahead and save everything.

This inevitably leads to mistakes, confusion and uncertainty in enterprise/team settings.

[2021-03-19 11:40] hypest commented on #29008
+1 for removing the Android ones, the APK and the app.zip, no questions asked.

For the iOS ones though, it will probably make trying out/debugging older WPiOS versions harder, right? Recreating them will probably be cumbersome. I actually don't like that we had to commit the JS bundles at all so, if you feel confident about iOS debugging without having the bundles readymade @ceyhun then I'm +1.

[2021-03-19 11:40] mtias commented on #30015
Showing only on selection is interesting, I could see that working. Right now it's hard to scan the list given the typographic hierarchy between template title and description is faintly established. The example with the ellipsis I think still suffers a bit from that.

[2021-03-19 12:06] javierarce commented on #30015
What if we reinforced the hierarchy using white or a lighter gray for the titles? I think this could also be a good general improvement.

<img width="932" alt="Frame 441" src="https://user-images.githubusercontent.com/4933/111777528-b446e280-88b3-11eb-85ba-6b8dd512a779.png">

[2021-03-19 12:36] scruffian commented on #29308
I closed it because I hadn't yet seen a good example of when they are needed. I see in #29412 you're adding `post-151 post type-post status-publish format-standard hentry category-uncategorized` - what would these be used for?

[2021-03-19 12:53] pablohoneyhoney commented on #30015
The context is more relevant when you are actively engaged in a task (seems more logic to me) -the added information in other options pollute the interface, the quick scanning, and your focus, wether performing a shallow or deep, low or high frequency flow.

[2021-03-19 12:56] Quintis1212 commented on #29996
Hello @glendaviesnz ) I can not reproduce this bug , can you share more details ?

[2021-03-19 13:02] #29386 closed

[2021-03-19 13:09] scruffian commented on #29976
Done! I added another one I found for background colors...

[2021-03-19 13:13] youknowriad commented on #29976
@scruffian do you know we can clarify what is different for each block like:

 - Buttons: margin
 - Block: color for links, background ...

Sorry if I'm asking too much 😬 It's something you know right away cause you did the screenshot but it might not be obvious by just looking at the screenshots.

[2021-03-19 13:16] MaggieCabrera commented on #29976
I suppose you did these with Empty theme, right? I just wanted to point out that even though empty theme doesn't add css, it does include some [custom supports](https://github.com/WordPress/theme-experiments/blob/master/emptytheme/functions.php) and as we've found, removing things like `add_theme_support( 'editor-styles' );` causes differences between the frontend and the editor.

[2021-03-19 13:24] ockham opened #30021 "Performance tests: Make them faster"
aka _Increase performance tests performance_ :smile:

The perf tests are currently taking around 40 minutes to run on a given PR. That time is spent on cloning the git repo, checking out the `trunk` branch, `npm install && npm run build:packages`, running the tests, and then switching to the current branch and repeating the install/build/tests steps (see [`performance.js`](https://github.com/WordP

[2021-03-19 13:29] youknowriad commented on #30021
I guess this whole proposal is based on this premise but unfortunately I don't really think it's a good idea. Two jobs run on CI doesn't guarantee the same environment (same CPU power, same memory..) which means the results are not correct across jobs, this is why we need to run both branches on the same CI job.

Actually, even the way we iterate 3 times is not optimal. Instead of doing:

- branch

[2021-03-19 13:31] youknowriad commented on #30021
another problem I can think of with the proposed approach is that a PR changing the "performance e2e test file" itself (so changing the rules) would result in completely inconsistent results across branches.

[2021-03-19 13:36] swissspidy commented on #30021
Those are some good points.

While reading this, I wondered: do we really need to run the performance tests _for every single PR_?
If not, there are other ways to improve the experience here, like only running it for PRs with a certain label, or skipping it for unrelated changes (e.g. only modifying docs or PHP files)

[2021-03-19 13:50] #23373 closed

[2021-03-19 13:53] grzim opened #30023 "help text placement in CheckboxControl"
## What problem does this address?

Regarding https://github.com/WordPress/gutenberg/pull/29458 current CheckboxControl is lacking the possibility to align help text. Now, the text is placed under the checkbox
![image](https://user-images.githubusercontent.com/8398557/111790052-19093980-88c2-11eb-964a-e19ad780ace3.png)
but the proposed designs of Navigation Block, Menu Location Editor include a co

[2021-03-19 13:53] scruffian commented on #29976
I added some details about the differences between the blocks under each screenshot.

[2021-03-19 14:01] scruffian commented on #29976
Yes, I did these tests with block styles enabled (`add_theme_support( 'wp-block-styles' )`). We should also do the same tests without this enabled.

These styles should not be loading in the editor unless the theme opts in since https://github.com/WordPress/gutenberg/pull/29252 merged.

[2021-03-19 14:35] grzim opened #30026 "InputControl (and all components using InputControl) label alignment is broken"
## Description

As shown in the screenshot (from storybook), the `SelectControl` component does not render the label with regard to the selected label position. No matter which position is set it always displays the label on the left side

## Step-by-step reproduction instructions

1. Go to storybook
2. Find InputControl or any other component using InputControl (i.e. SelectControl component `stor

[2021-03-19 14:48] DaisyOlsen commented on #27528
This feels fairly important for getting theme developers onboard with building block themes. It feels like a disconnect that you can build out templates and templates-parts for export but not styles. I suspect that quite a lot of early block themes are going to end up with a lot of standard CSS until this is addressed.

[2021-03-19 14:56] mtias commented on #30015
The lighter titles definitely help there.

[2021-03-19 15:00] scruffian commented on #29976
I added some more differences which I found when they block styles are disabled.

[2021-03-19 15:24] jameskoster opened #30029 "FSE: Most site building blocks need previews and placeholders"
- [x] Site Logo - #35588
- [x] Site Tagline
- [x] Site Title - #35590
- [x] Login/out - https://github.com/WordPress/gutenberg/pull/62937
- [x] Post Title - https://github.com/WordPress/gutenberg/pull/62955
- [x] Post Content - https://github.com/WordPress/gutenberg/pull/62968
- [x] Post Author - https://github.com/WordPress/gutenberg/pull/62978
- [ ] Post Comments Count
- [x] Post Date - https://

[2021-03-19 15:52] #30016 closed, assigned to mtias

[2021-03-19 16:01] niaccurshi commented on #16911
Yes this is still very much a valid issue. The best practice would be to use 'em' units though the most robust solution would absolutely be to create the means for developers to control this value as per @Azragh's comment above. However default values should be in 'em' units so as to have the best effect from an accessibility perspective.

[2021-03-19 16:28] kraftner commented on #16478
Since WP 5.7 still doesn't have a fix for this I ran out of patience and I've found a CSS based workaround for now.

It's a two step process:

1. First we inject an invisible div into the inspector of the table block to "mark" it…
2. …then we can target the color panel with CSS.

### Marking the blocks inspector panel

[code]

### Hiding the panel with CSS

[code]

I hope this helps folks until a

[2021-03-19 16:30] javierarce commented on #29577
I really liked @jameskoster solution to indicate which areas have been modified and allow to save and discard the changes. Here's a little iteration on his idea.

In this version, the dots are just indicators without any interactivity and the actions are accessible through an ellipsis icon.

https://user-images.githubusercontent.com/4933/111808463-5080e180-88d4-11eb-8a4a-b72bfd153e84.mov

Here's a

[2021-03-19 16:34] kraftner commented on #19796
I figured out a solution to a similar problem in https://github.com/WordPress/gutenberg/issues/16478#issuecomment-802957188 that can be applied for hiding the border radius setting as well.

If you've read that comment on top of that approach you can hide the border radius setting under the following assumptions:

- the Border Settings panel directly follows the Color Settings panel
- or, if the f

[2021-03-19 16:35] grzim opened #30036 "Checkbox component - heading overlaps checkbox"
## Description

## Step-by-step reproduction instructions

1. Go to storybook
2. Select checkbox control component `/story/components-checkboxcontrol--all`
3. Select `All` to display the heading
![image](https://user-images.githubusercontent.com/8398557/111813183-28e04800-88d9-11eb-94ea-bc9304c83f02.png)
4. see the heading is overlapping the label
## Expected behaviour

Heading should not overlap

[2021-03-19 17:49] georgeh commented on #21691
👀

[2021-03-19 18:06] norlink commented on #29852
No. I created the page to record the video. Added a container and the headline and then went to save. I never did anything with reusable blocks. The first time it showed I believe the Newsletter reusable block needing to be saved and then the second time it wanted to save a different reusable block. I didn't save either as the last time it happened is when all the problems started happening.

I en

[2021-03-19 18:27] Quintis1212 commented on #29909
Hello ) I will fix this bug )

[2021-03-19 18:49] sunnyssr opened #30041 "Increase the size of add block button"
## What problem does this address?
The clickable button is only 24 by 24 pixels in size making it difficult to click.

## What is your proposed solution?
If the line was clickable it would easily increase the height of the clickable area to 28 pixels without any big changes and the width would be the whole line. This would finally save us from moving the cursor to that tiny 24 pixel spot.

Upstrea

[2021-03-19 19:02] bph commented on #29398
It's a learned behavior to double-check on the front end of the site via "Preview in New Tab"
To make this available also for the Site editor,  would mean the user will trust  their capabilities and the process faster. Small wins.

[2021-03-19 19:11] kjellr commented on #29983
For non-block themes, a full-width group block with a paragraph inside of it looks like this:

<img width="1440" alt="Screen Shot 2021-03-19 at 2 57 16 PM" src="https://user-images.githubusercontent.com/1202812/111829992-c6c91800-88c3-11eb-8424-0b12bb3f473f.png">

... but by default, it looks like this in a block-based theme:

<img width="1440" alt="Screen Shot 2021-03-19 at 2 59 34 PM" src="https

[2021-03-19 19:24] youknowriad commented on #29983
Why do you think it's confusing, for me it's just the normal behavior of divs in HTML, so it's less likely to confuse anyone unless you define some content widths for your group block?

[2021-03-19 19:36] youknowriad commented on #29977
Anyone can confirm the WordPress version causing the issue., AFAIK WP_Block_Supports is present on 5.6 as well so it shouldn't cause this.

[2021-03-19 20:26] tomjn commented on #29177
Now that WP 5.7 is out, I'm closing this. Anybody encountering this issue should upgrade to WP 5.7

[2021-03-19 20:26] #29177 closed

[2021-03-19 20:27] tomjn commented on #29177
@bantilan you should update to WP 5.7 or stick to the block editor version that came with 5.6 until you can upgrade

[2021-03-19 20:31] cngodles opened #30046 "Gutenberg Plugin 10.2.1 - Editor defaulting to system serif font, not WordPress's default"
## Description
Block Editor font is defaulting to "serif" font. There appear to be inline styles placed before the editor that adds the following CSS class declaration. This is affecting at the very least the Paragraph and Header blocks. The post title also reverts to serif.

[code]

Example editor text:

![image](https://user-images.githubusercontent.com/5685764/111838122-427c9200-88cf-11eb-924d-

[2021-03-19 20:40] orvn commented on #3469
@bongklim, keep `Advanced Editor Tools (previously TinyMCE Advanced)` enabled, but try disabling script concatenation. This is typically a setting that's in `wp-config.php` (but it could be in other places).

If `CONCATENATE_SCRIPTS` doesn't exist anywhere in the non-core code (your themes/plugins/config), add
`define('CONCATENATE_SCRIPTS', false);` to the end of `wp-config.php`

If this works, yo

[2021-03-19 20:41] cngodles commented on #29853
Looks like #16187 was done in response to #8245, which was opened almost three years ago. The older issue states `I don't always need to see every line of code in a custom HTML block`.

Might I suggest a setting in the HTML block itself that allows you to toggle this feature on/off. This solves the original issue and prevents this issue. I agree with @aurelienpierre. There are many circumstances w

[2021-03-19 20:46] cngodles commented on #29855
Agreed with @talldan

I am not using a default theme, and my experience is the same as his. The post saves correctly.

## HTML Box:
![image](https://user-images.githubusercontent.com/5685764/111840156-58d81d00-88d2-11eb-8ee1-0c834869e4ba.png)

## Output:
![image](https://user-images.githubusercontent.com/5685764/111840173-5e356780-88d2-11eb-8643-5b93fe2de7aa.png)

## String sent via post to WordPr

[2021-03-19 21:01] skorasaurus commented on #30046
I was about to report this as well; confirmed on 10.2.1.

[2021-03-19 21:12] cngodles commented on #30046
For reference, the contents of the style container is:

[code]

[2021-03-19 21:14] skorasaurus commented on #30046
@cngodles

What theme are you using? Is your theme enqueuing any fonts in the editor?

I am not able to reproduce this with my combination of firefox and ubuntu.

possibly related to
https://github.com/WordPress/gutenberg/pull/29590

[2021-03-19 21:49] critterverse commented on #29871
These are helpful notes, thanks @pablohoneyhoney!

I originally matched the padding for a text-based toolbar item but I've updated it to match the primary button style which feels a lot better 👍

![toolbar-revised](https://user-images.githubusercontent.com/77359364/111821507-1eae5180-88b9-11eb-9a83-a989c805c619.jpg)

I hear what you're saying here. One revision that could help is to move the "conv

[2021-03-19 22:57] tomjn opened #30049 "Widgets preview uses a relative URL that breaks when the page is moved"
## Description

The experimental widgets UI has a preview function, **however this preview uses a relative URL**.

Normally this is fine, however, I've been trying to add this to frontenberg, which means the code is no longer running from the `/wp-admin/` URL. As a result all previews are now Nginx 404 error pages on my local environment.

## Expected behaviour

A full URL, e.g.

[code]

## Actual

[2021-03-19 23:00] tomjn commented on #30046
A sidenote, would it not make more sense for the block editor to set the system font stack using an ultra low specificity styling rule so that the worst case scenario still looks okay?

[2021-03-19 23:04] tomjn opened #30050 "Widgets screen undo button non-functional"
## Description

The undo button in the toolbar is non-functional, clicking it does not undo the last action ( it doesn't do anything ass far as I can tell )

## Step-by-step reproduction instructions

1. Go to the experimental widgets screen
2. Make a change
3. Click the undo button

## Expected behaviour

The change is undone

## Actual behaviour

Nothing occurs

## WordPress information
- WordPr

[2021-03-19 23:07] tomjn opened #30051 "Widgets screen blocks lack font families"
## Description

Blocks on the widget screen lack styling. I'm unsure of the scope but the font family is definitely missing

## Expected behaviour

Block text font family to match the post editor

## Actual behaviour

Blocks are missing the font family:

<img width="485" alt="Screenshot 2021-03-19 at 23 05 53" src="https://user-images.githubusercontent.com/58855/111850243-b044b000-8907-11eb-8bca-7

[2021-03-20 00:06] cngodles commented on #30046
@skorasaurus Theme is Dollah.

I did download the theme and searched the files for any reference to portions of the CSS, and I didn't see any in there. So it did not appear to be adding this, but I can't be sure.

It was curious that disabling the Gutenberg Plugin fixes it.

[2021-03-20 01:06] bantilan commented on #29177
Hi @tomjn, I am already using WP 5.7, this issue happen after upgrading Gutenberg to 10.2.1.

Here is my Gutenberg editor look like right now (Or is this the new update?):
![image](https://user-images.githubusercontent.com/1697297/111854589-f1b27b00-895a-11eb-83c5-2a05f5c2fac4.png)

[2021-03-20 05:17] maddisondesigns commented on #22053
When are going to be able to turn off these Block previews? It's frustrating having your content covered up unnecessarily and the constant flickering as you hover over each block is distracting and annoying.

[2021-03-20 09:27] paaljoachim commented on #29178
A couple of issues surrounding the new Reusable block feature.

1. An easier save method. Being able to discard a save. Explorations here:
https://github.com/WordPress/gutenberg/issues/29577#issuecomment-801140521

2. A click through method. When clicking a reusable block it selects the parent container (Reusable block) and not one of the inner blocks. Explorations here: https://github.com/WordPre

[2021-03-20 11:19] stickyblogging commented on #8228
This is still an issue. In fact, simply opening a "classic" post in Gutenberg (without the Classic Editor plugin installed) then making *one* change (even if it's to the post metadata and not to the post content itself) and saving will cause the script and style code to stop rendering in the post, although you can still see the code in the code editor view. Then if you convert to blocks, all the s

[2021-03-20 13:35] jasmussen commented on #29619
This was fixed by #29824! Thanks Carolina!

[2021-03-20 13:35] #29619 closed

[2021-03-20 14:22] jasmussen opened #30055 "Site Editor / iframe: Occasional double scrollbar."
## Description

When using the site editor, you will occasionally see a double scrollbar. The scrollbar appears to be caused by the sibling inserter being positioned outside of the iframe, but below the content:

<img width="1297" alt="bug" src="https://user-images.githubusercontent.com/1204802/111873082-eaa56000-898e-11eb-8dbd-62de10ad5f91.png">

## Step-by-step reproduction instructions

Preriqu

[2021-03-20 14:23] jasmussen commented on #30055
CC: @ellatrix as I recall you having worked on the iframe.

[2021-03-20 17:15] kspilarski opened #30058 "Blog Posts Block: Post Excerpt Length Not Applied"
## Description

In WordPress.com sites (with or without plugins / default or non-default theme), using the Blog Posts block, the "Max number of words in excerpt" length is not getting applied.

## Step-by-step reproduction instructions

1. Go to Posts and create a new post.
2. In the post, add an excerpt and Update / Publish.
3. Go to Pages and create a new page , then insert Blog Posts block.
4.

[2021-03-20 18:21] jasmussen opened #30059 "Site Editor: Long post titles are centered."
## Description

In the site editor, you can click the W to access the site menu. Here, you can choose posts, pages, templates.

If you have a post with a long post title, one that spans two or more lines, it will be centered:

<img width="332" alt="Screenshot 2021-03-20 at 19 18 15" src="https://user-images.githubusercontent.com/1204802/111881571-3f59d280-89b1-11eb-85fc-8b60e6ec5cbb.png">

This is

[2021-03-20 18:22] jasmussen commented on #30059
CC: @david-szabo97, I saw you touch pieces of this code recently, but feel free to point me in the wrong direction if there's a better one to talk with.

[2021-03-20 18:28] davidkryzaniak commented on #29977
😬  Oops, I was actually on WordPress 5.4.2.

[2021-03-20 18:33] jasmussen opened #30060 "Site Editor/Navigation sidebar: Custom post types do not show up under "Content""
## Description

In the site editor, you can click the W, the site menu, to load templates, pages or posts. But you can't load posts with a custom post type, these don't show up:

<img width="283" alt="no cpts" src="https://user-images.githubusercontent.com/1204802/111881760-53ea9a80-89b2-11eb-9503-0f3e3d3baa95.png">

## Expected behaviour

When a custom post type is registered, an additional menu

[2021-03-20 19:13] tomjn commented on #29177
@bantilan you claimed on the PR you were running the GB plugin with 5.6, and that it does not happen on 5.7:

If this is happening on WP 5.7 for you then you need to open a new issue. Confirm first that this happens in a default theme, it's possible your themes editor style does not declare a font family.

[2021-03-20 19:14] #29970 closed, assigned to nobody

[2021-03-20 20:37] makc commented on #19756
@SeanDS

I needed a way to replace the selected text with another text, basically. Here is complete code I wrote back then:

[code]

[2021-03-20 21:50] ribaricplusplus opened #30061 "Dead link in Gutenberg Release Process documentation"
The first link to "gutenberg-core team" is dead on the gutenberg release process docs page: https://developer.wordpress.org/block-editor/contributors/code/release/

The same link is referenced multiple times throughout the page.

I'm not sure if documentation issues are allowed. This issue seemed appropriate because the link is relatively important. I'd fix it myself but I don't know what to link

[2021-03-21 00:20] StuartKent17 opened #30063 "Wordpress 5.7 includes hidden character in empty paragraph CSS"
It seems like there's a hidden character in the CSS file causing paragraph tags to render even if they're empty.
This has caused a number of rendering issues in my sites.

/wp-includes/css/dist/block-library/style.min.css?ver=5.7

Copying from the Edge dev tools into the customiser, I expect:
[code]
What I get is the below (There's an invisible symbol in there).
Running it through a converter; p:e

[2021-03-21 01:34] bantilan commented on #29177
Hi @tomjn ,

I was able to fixed it after uninstalling the Gutenberg plugin.. _( I have this plugin since the first launch of Gutenberg )_

I guess the problem is when using both the built-in plugin of WP 5.7 and the plugin version of Gutenberg.

[2021-03-21 09:23] fabiankaegy opened #30064 "Unable to add InnerBlocks markup to `block-renderer` rest endpoint"
## What problem does this address?

It is currently not possible to pass `innerBlocks` html to the `block-renderer` rest api endpoint. Technically the `block-renderer` endpoint just calls the `render_block` function https://github.com/WordPress/WordPress/blob/d3d78e755b815e1be5e15d8644dcd0688736dea1/wp-includes/rest-api/endpoints/class-wp-rest-block-renderer-controller.php#L186

and passes an empt

[2021-03-21 10:24] Soean commented on #30061
The link works for me, but only when I am logged into GitHub. I think the link is correct, but the team page is only visible for members of the organization.
I am not sure if it's possible to make this page public, otherwise we have to remove the links.

[2021-03-21 10:57] carolinan commented on #29308
Those are default classes, see https://developer.wordpress.org/reference/functions/get_post_class/

Without the post_class function, the filter to adjust the classes also can't be used.

The hentry should probably avoided.
I can definitely see use for having a CSS class for sticky, format, category, password protected so that posts can be styled differently.
Without this, there is no way to progra

[2021-03-21 11:01] carolinan commented on #29308
format-standard usage:
https://wpdirectory.net/search/01F1A72DD2E7H8EB1XEG2N4ESW

type-post usage:
https://wpdirectory.net/search/01F1A745WRJ828GRC6K4GFTDHB

[2021-03-21 11:27] bobbingwide opened #30065 "Lost spacing between horizontal navigation menu items following PR 29465"
## Description
On updating to Gutenberg 10.2.0 I noticed that the padding between horizontal menu items had been reduced to 0 pixels.
In PR #29465, there was a CSS change to `packages/block-library/src/navigation/style.scss`, that reduced the padding to 0;

[code]
The inline CSS overrides my theme's stylesheet.

What is the recommended method that enables me to style the menu for the front end?

#

[2021-03-21 11:34] bobbingwide commented on #30065
TT1 blocks with the link's background colour set to white and padding-right set to 10px;
![image](https://user-images.githubusercontent.com/2474435/111903179-dae25600-8a38-11eb-8732-2c49f81e75ad.png)

The same without the padding.
![image](https://user-images.githubusercontent.com/2474435/111903269-580dcb00-8a39-11eb-9b3c-b1b41fcf89da.png)

[2021-03-21 11:35] SeanDS commented on #19756
Thanks for posting! I think doing that is now easier thanks to the `object: true` setting. See the inline image format for an example. This lets you replace the text with another element entirely. It almost does what I need, but I need to be able to embed a whole tree of elements and not just a single one, which is not possible yet (see #29962).

[2021-03-21 12:03] bobbingwide commented on #30065
I believe I've found the solution.
[code]
This works beause the theme stylesheet comes after the block's inline CSS.
I didn't need `!important`. I just had to target the same selector as the inline CSS.

If this explanation is correct then the issue can be closed Invalid / Wontfix.

[2021-03-21 14:38] tomjn commented on #29177
That sounds like a new issue, you should open a new issue and reference this one as similar but not the same

[2021-03-21 16:42] rafaelgallani commented on #11756
Sorry for taking so long to respond.

@jasmussen From what I found, that might not be the reason why it's broken: I think that the culprit might be twenty twenty-one theme, at least in my tests:

![image](https://user-images.githubusercontent.com/18705930/111912478-81822300-8a48-11eb-8653-e359f2546fa0.png)
All of the text is right-aligned (due to `style-rtl.css`, which converts `left` CSS directiv

[2021-03-21 18:36] buckmanhands commented on #8322
Considering how long this has been going on and no particular way to do this without the hacky methods currently used that have been complained about for many years, is it possible to simply add a button on the top toolbar that just opens the media manager so we can just manage our media? It has everything we need to get links to whatever we want and upload all sorts of media. Seems like that shou

[2021-03-21 21:32] dmsnell commented on #29870
@ellatrix its exciting to see you bring your attention to this. RichText is awesome.

Do we have any hard data making clear the performance implications for this? Is it a nice to have? A _should have always had it?_ or a necessary escape from a current bottleneck?

We’ve used the range tree on WordPress.com notifications without hassle but those are also very small documents that are essentially r

[2021-03-21 22:57] landwire commented on #29801
As far as I can see this is not generated by actual data in the database, as that should all be correctly saved with those extra classes, but by some example content in the block patterns (in wp-includes). Obviously the block patterns should not cause any errors. Therefore I would label this ticket a bug and not a help request.

[2021-03-21 23:03] landwire commented on #27137
@phmasek: did you find a solution yet? I am just looking to implement the same kind of thing. At the moment I am wrapping all blocks, but that can cause some problems with nested blocks. Therefore I am also looking for a way to only wrap the "top level" blocks.

[2021-03-21 23:28] landwire commented on #27629
@augustuswm: were you able to add any more alignment options? If so, would you care to share how you achieved this?

[2021-03-21 23:52] Tropicalista opened #30068 "Add a simple way to add hover style"
At the moment seems that there's no a simple way to add `hover` pseudo class on buttons.  So the only option is to let theme handle this. But how can someone add different button style with hover effect?

I have tried with `wp_add_inline_style` to my block, without success.

[2021-03-21 23:53] augustuswm commented on #27629
@landwire - We have not. That work was put off as getting something implemented looked like it would be too much effort for what we were going to use it for. We may revisit in the next few months depending on what priorities look like.

Taking a quick 2 minute look at the master branch, I think the same core issue exists as it doesn't look like there is an api to modify `BLOCK_ALIGNMENTS_CONTROLS`

[2021-03-22 00:09] ashleyleia commented on #30046
I'm having the same issue, with serif font showing with Gutenberg 10.2.1 active, and sans serif with it deactivated.  I'm using Wordpress.com and Dara theme.

The screenshot below comes from Google Chrome with Gutenberg activated.  The editor text is serif, and it's getting that from div.editor-styles-wrapper.

<img width="879" alt="Screen Shot 2021-03-21 at 4 57 11 PM" src="https://user-images.gi

[2021-03-22 01:33] JoshuaLindquist opened #30069 "Let users move formatting options outside the dropdown menu"
## What problem does this address?
When editing inline text, the formatting toolbar has several options hidden in a "more" dropdown menu. From a broad perspective, these are likely the least used features, so it may make some sense to hide them and reduce clutter. However, when a project requires one of them frequently, it becomes quite tedious to go through the extra interactions to reach some fe

[2021-03-22 03:16] peterwilsoncc commented on #10711
Is this a wont fix? I think the wp_after_insert_post hook introduced in WP 5.6 can be used to make it even more of an edge case https://make.wordpress.org/core/2020/11/20/new-action-wp_after_insert_post-in-wordpress-5-6/

[2021-03-22 03:57] peterwilsoncc opened #30071 "Meta box reordering does not save in user preferences"
## Description
Originally reported as [WP#52818](https://core.trac.wordpress.org/ticket/52818) by wordpress.org user [terraling](https://profiles.wordpress.org/terraling/)

At the moment this is on the WP 5.7.1 milestone but please let me know if this isn't possible.

## Step-by-step reproduction instructions
1. Create a legacy meta box with this code in a plugin https://gist.github.com/peterwilso

[2021-03-22 04:16] glendaviesnz commented on #29996
Thanks for testing, looks like it is only happening if the Image is nested in the refactored gallery block - have updated the issued to indicate this.

[2021-03-22 05:48] #29286 closed

[2021-03-22 06:17] aaronrobertshaw opened #30073 "BoxControl: Attempts to access released event in onChange from drag gesture"
## Description
When using a mouse drag gesture on the `UnitControl`s within a `BoxControl` errors are thrown regarding an attempt to access properties on a released synthetic event. In this case, it is attempting to [check whether the alt key is pressed](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/box-control/input-controls.js#L40).

The alt key is used to be able to

[2021-03-22 07:12] jasmussen commented on #11756
@rafaelgalani Thank you for the excellent investigative work! That does make it seem like a Twenty Twenty One bug.

My instinct is that we should not add !important to the block editor rules if we can avoid it. In this case, it's clearly a bug that is worth fixing directly in the Twenty Twenty One theme — it needs to simply remove most of those drop cap rules, and keep only the ones that override.

[2021-03-22 07:47] Tropicalista commented on #27075
I added recently an issue: https://github.com/WordPress/gutenberg/issues/30068

I suppose that `hover` is not integrated yet because there's no way to add pseudo class on inline style. A different approach to add custom hover effect should be proposed.

[2021-03-22 07:55] youknowriad commented on #29977
Ok Thanks, closing for now.

[2021-03-22 07:55] #29977 closed, assigned to nobody

[2021-03-22 08:15] bobbingwide commented on #29950
+1 for improving the ability to name a new template part. I had to watch the video to find how to do it.

[2021-03-22 08:18] Azragh commented on #30051
Would be awesome if the editor-styles stylesheet would affect the widgets-screen (scoped in .editor-styles-wrapper of course). I really wonder why they weren't included from the beginning.. (isn't the goal of Gutenberg to provide a "real" WYSIWYG experience?)

[2021-03-22 08:56] bobbingwide commented on #29398
I don't use Preview at all. I Save and View. But after Saving I expect to be able to find a View button.

Since there is no View changes button appearing you have to go look for where you might expect to see it.

- It's not in the right panel area like when you've saved a post.
- It's not down the bottom, like when when you save a post - you know the slide up button that often goes away before you

[2021-03-22 09:29] #21648 closed

[2021-03-22 09:29] #28874 closed

[2021-03-22 09:37] oandregal opened #30082 "How to filter block_editor_settings & global styles settings"
In the server, there's a filter named `block_editor_settings` that is used to allow 3rd parties to hook into the settings passed to the post editor. It's not clear yet if the other editors should use this as well (site editor, widgets editor, etc) ― edit: some clarity about this at https://github.com/WordPress/wordpress-develop/pull/1118

## What's the issue

When landing the theme.json support in

[2021-03-22 09:40] oandregal commented on #30082
In a conversation with @youknowriad one option we discussed was to do:

1.  In edit-form-blocks.php, we still take the old theme supports and apply the `block_editor_settings` filter.
3.  Plugins hook into the filter.
4.  In edit-form-blocks.php, after running the filter, we migrate the old theme supports to the new format.
5.  Apply a new filter if we want 3rd parties to be able to hook into the

[2021-03-22 09:42] oandregal commented on #29778
This was closed by https://github.com/WordPress/gutenberg/pull/29941

[2021-03-22 09:42] #29778 closed

[2021-03-22 09:44] getsource commented on #24072
I see that in the attached PR, #24073, there was a mix of opinions, but the final feedback was against closing initially, which is different than was [noted above](https://github.com/WordPress/gutenberg/issues/24072#issuecomment-672296421), afterwards.

Would it be better to close this issue, given the feedback on the PR, in lieu of the other tickets making the experience better, or is initially c

[2021-03-22 09:47] youknowriad commented on #30082
I believe the proposal I lean towards is the following:

 - Introduce a `$context` argument to the filter allowing us to know which editor is running the filter. The context can have the following values: `post-editor`, `site-editor`, `navigation-editor`, `widget-editor`.

Also, take this context argument as an opportunity to solve the issue above by doing this in edit-form-blocks.php:

In edit-fo

[2021-03-22 09:51] oandregal commented on #30082
I was thinking of the changes coming at https://github.com/WordPress/gutenberg/issues/29891 Also that we now store the theme.json settings under the `settings.__experimentalSettings` key.

What if we stored this differently in `core/block-editor` to remain back-compatible?

- the top-level settings in theme.json become top-level keys under `settings` => no change to the existing settings, but we a

[2021-03-22 09:51] rfischmann commented on #29768
Sorry for the delay, @hellofromtonya. You're right, I did test with the default theme before opening this issue, but I didn't consider the fact that one of my plugins could do that — and sure enough, it's from a plugin.

The developer is already working on a fix. Sorry for this.

[2021-03-22 09:51] #29768 closed

[2021-03-22 09:56] youknowriad commented on #30082
We still need to run the hook after we add those new settings for folks that want to alter these new settings. The proposed changes make sense though but let's keep it for later (to be able to keep the `__experimental` aspect until the last moment :)

[2021-03-22 10:05] david-szabo97 commented on #30059
Thanks! Opened a PR

[2021-03-22 10:15] #21785 closed

[2021-03-22 10:16] kagg-design commented on #29845
To support the issue and make additional clarifications.

This happens because in WP 5.7 the request `https://<SITE_URL>/wp-json/wp/v2/users?who=authors&per_page=26&context=edit&_locale=user` is executed with the `context=edit` parameter, which was not used in WP 5.6. So, same request in 5.6 is `https://<SITE_URL>/wp-json/wp/v2/users?who=authors&per_page=26&_locale=user`.

As a consequence, the ch

[2021-03-22 10:47] dgwyer opened #30086 "stylelint error on 1st line of every CSS/SCSS file"
## Description

I've just set up the [@wordpress/stylelint-config/](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-stylelint-config/) package for an existing plugin to lint CSS/SCSS files.

All works well apart from an error which is triggered on the very first line of every single CSS/SCC file. It doesn't matter what the content of the first line is. It can even b

[2021-03-22 10:59] phmasek commented on #27137
@landwire I went with an implementation using [ACF blocks](https://www.advancedcustomfields.com/resources/blocks/) instead. Running with a solution altering the core blocks became quickly out of budget.

The other solution comes with its own caveats so nothing is perfect. However, it was way faster and more intuitive to use than the core blocks.

[2021-03-22 11:15] jameskoster commented on #29577
Looking good @javierarce! Using an ellipsis for the actions makes much more sense :)

I can see why the Sidebar bubbled up to the top of the list when you reverted the Header changes, but I wonder if we need to do that? Is the benefit of displaying unsaved areas at the top of the list worth the trade-off in the lost semantics (IE list placement matching position in the document tree)?

[2021-03-22 11:25] Copons opened #30087 "Site Logo Block: The icon color shouldn't be hardcoded"
The Site Logo icon's color is hardcoded as black.

https://github.com/WordPress/gutenberg/blob/82054044571f7073010a1aae77e7ee3f0335e5bf/packages/block-library/src/site-logo/icon.js

This is generally fine, but there are cases where it's used against a dark background, and we need to change its color.
See for example the List View, when the block is selected:

<img width="302" alt="Screenshot 2021-

[2021-03-22 11:52] javierarce commented on #29577
Maybe I'm overdesigning this, but if themes end up having several custom parts, I think that placing the modified areas at the top will make the list easier to read and work with. If the general use case is to have three or four areas, I think keeping the list ordered as you proposed probably makes more sense.

[2021-03-22 11:58] jameskoster commented on #29871
I think this is fair. Using a reusable block as a starting point/template (the [original issue](https://github.com/WordPress/gutenberg/issues/8403) that lead to the ungroup action being added to the toolbar) is now better served by block patterns in general.

"Ungrouping" the blocks – whether that is from a template part or a reusable block – does not feel like a primary action to me. Therefore th

[2021-03-22 12:25] kjellr commented on #29983
I think that's it actually — while that's maybe intuitive for folks who know HTML, most of our user's don't necessarily have knowledge of how `p` or `div` tags behave out of the box.

`p` tags don't have a max width in HTML by default, but we imposed one in the post/page editor default styles because it's a a better experience for readability, and because it makes wide/full widths possible. Our ba

[2021-03-22 12:39] youknowriad commented on #29983
I think there's something missing in the discussion here. The important thing about the site editor is that you can start **blank** and build your site/template step by step. So for me, as a user, I wouldn't understand why when I add a block, it goes centered by default, what does the space around the block correspond to? it's not defined anywhere and everything should be declarative. This means i

[2021-03-22 13:07] TylerB24890 opened #30091 "Table block performance with large number of rows"
## Description
The Core Table block has performance issues when it contains a large number of rows and data. I have several pages with 800+ table rows and 2-4 columns each. When attempting to edit text in the editor, the typing is a few seconds behind the actual keystrokes. It's almost as if there is a few seconds of latency before the editor can process what the user is typing. The tables contain

[2021-03-22 13:08] janw-me commented on #13489
This was what I was looking for, but how do I import the exported zip?
Anybody can point me in the right direction?

[2021-03-22 13:13] javierarce commented on #29577
I've just seen [this issue](https://github.com/WordPress/gutenberg/issues/29687) and I was wondering if it would make sense to give the option to revert the template state in the popover.

Template areas without changes would have this one option, while modified templates would allow to Save, Discard, and Revert.

[2021-03-22 13:22] jameskoster commented on #29577
Yup, I think that makes sense. But it should also be possible to revert a template part while editing it in isolation.

[2021-03-22 13:25] guarani commented on #29358
I haven't looked at this since the week before last, but this is still in my to-do list.

I definitely agree our Bottom Sheet _should_ support dismissal by tapping on the overlay. The fact that it does work when the Bottom Sheet has no scroll is enough to suggest that it should continue to work when there is scroll.

Sorry for the confusion. I meant to say that while it's still an issue that Voice

[2021-03-22 14:21] jameskoster commented on #29148
Noticing a few other designs building around the concepts shared here. Might be time to assemble a draft PR since there hasn't been much design feedback.

[2021-03-22 14:22] bph commented on #29398
I agree with @bobbingwide that a (pre-)View on the front-end shouldn't be something that is omitted with the site editor. The work-around he describes it no unfamiliar to me and many other users. Especially those of us you have listened to the promise of WYSIWYG before and were utterly disappointed, we need assurances, we need to see to believe. It's more a decade old reflex rather than something

[2021-03-22 14:25] #29374 closed

[2021-03-22 14:31] #26333 closed

[2021-03-22 14:34] #29615 closed

[2021-03-22 14:48] ellatrix commented on #29870
That's right. The current data structure is designed for making it easy to insert, split, remove etc. Actions where we need to reset the start and end values of the formats and objects.

There's only two things that need to be fast in RichText though: inserting a character on input (typing) and rebuilding a tree from that.

1. We're not even directly inserting a character on input right now, and I

[2021-03-22 14:52] ellatrix commented on #29870
What's a range tree? My proposal isn't a tree at all. We'd keep the flat text and have a Map that stores formats-range pairs.

[2021-03-22 14:57] fluiddot commented on #29928
Yes, the list of defined reusable blocks is not related to the post/page but to the site.

This is an interesting solution I didn't consider, my approach for the reusable blocks was to follow the same flow as we have in the web version. However if architecturally makes more sense to rely on the parent mobile app for fetching data, this is a solution that I definitely I'd like to explore.

Thanks @

[2021-03-22 14:57] kraftner commented on #12299
I've personally come to the point where there really is no way around completely removing all core styles. It's already bad enough when you need to use `!important` but as soon as media queries come into play (like with the columns block) not even that will help. The simple use case of moving the breakpoints for the columns block is practically impossible.

But then you manually need to maintain a

[2021-03-22 15:08] fluiddot commented on #29928
This is a great idea @jsnajdr! Add the batched actions (`START_RESOLUTIONS` and `FINISH_RESOLUTIONS`) would solve the problem for sure and as you commented, moreover it would reduce the store change events which is a good performance improvement. I'm going to add this solution to the description and mark it as the optimal one for fixing this issue.

Regarding the problem with the reusable blocks,

[2021-03-22 15:55] annezazu commented on #29238
To help make some connections to other work that's happening around this same area, I wanted to cross link this issue with this effort to add background tools to more blocks beyond just the cover block: https://github.com/WordPress/gutenberg/issues/28643 Hopefully, in time, it becomes easier for more blocks to have the same background options as the Cover block whether through block supports, side

[2021-03-22 16:03] bradhogan commented on #29571
Hey, there.  Just hoping you can re-open this ticket as it has not been resolved and is still an active issue I'm seeing.  It could be that this is specific to the types of blocks I'm using within my pattern.  It could have to do with a local install treating things one way and production another.  Thank you!

[2021-03-22 16:28] bradhogan opened #30095 "Gutenberg wp-cover block within custom patterns breaks"
I'm creating custom patterns that have a cover block with column blocks inside (then content / heading, paragraph, buttons within those columns).

The background images used for the cover block consistently break in the production environment but not local.  The images. are pulling from Dropbox so not an issue with the image source.

I'm getting the "this block contains unexpected ..." message in

[2021-03-22 16:29] ZebulanStanphill commented on #21785
I've created #30094 to remove the now-unnecessary editor styles for the List block.

[2021-03-22 16:39] rafaelgallani commented on #11756
@jasmussen There was no open ticket related to this issue, so here's the one I created: https://core.trac.wordpress.org/ticket/52885.
I'll also open a PR adding the help text to the drop cap and removing it when using centered/opposite alignment.

[2021-03-22 16:54] davipontesblog opened #30096 "Table block: Add controls for font sizes"
## What problem does this address?

This adds the ability to control font size options for the block text contents.

## What is your proposed solution?

I propose we add the default font size functionality, as found in the Paragraph, Heading, or Verse blocks, for example:

<img width="276" alt="Screen Shot on 2021-03-22 at 12-53-05" src="https://user-images.githubusercontent.com/31009008/112027616

[2021-03-22 17:04] Mamaduka commented on #29834
I can confirm that the issue is caused by missing image IDs.

If even one image has an ID, we get the correct behavior.

Maybe we should set `addToGallery` to `false` if images in the gallery have no IDs. Mostly like when inserted via patterns.

I've POC in mind and will create PR for it tomorrow.

[2021-03-22 17:17] #26673 closed

[2021-03-22 17:19] rafaelgallani commented on #30021
@ockham Sure, count me in! 😸

[2021-03-22 17:45] dev-sabbir commented on #29855
I couldn't reproduce this issue either. The post saved and there was no error.

### **HTML Box:**
![image](https://user-images.githubusercontent.com/5733224/112034254-78887300-8b68-11eb-96d8-cc7c58fcb7ed.png)

### **Output:**
![image](https://user-images.githubusercontent.com/5733224/112034337-91912400-8b68-11eb-81cf-48a282939981.png)

I am using the default theme twenty twenty one.

[2021-03-22 17:55] paaljoachim opened #30101 "Add image to Navigation block"
## What problem does this address?

I am not able to insert image into Nav block.

## What is your proposed solution?

Being able to insert image into navigation block. To create something like this:

![Nav-with-image](https://user-images.githubusercontent.com/5323259/112035686-16b41300-8b40-11eb-83aa-15d9d9c85efb.jpg)

It would be nice to be able to add a logo into the navigation block. Lets give

[2021-03-22 18:17] Sandstromer commented on #30095
I copied your pattern exactly, and tested both locally and on a live site.

Didn't get the invalid content/block recovery message. It worked perfectly in both environments.

Could it be some issue related to your production environment?

[2021-03-22 18:20] bradhogan commented on #30095
I suppose it could be.  Hosting with Flywheel.  I can reach out and see if they have any ideas.

[2021-03-22 18:35] annezazu commented on #26482
Hello, Past Anne! Closing this out as Future Anne can't replicate this and all seems to be okay now :)

[2021-03-22 18:35] #26482 closed

[2021-03-22 18:44] rafaelgallani commented on #26220
https://github.com/WordPress/gutenberg/issues/26220#issuecomment-711812917 was extremely helpful!
This behavior indeed was depending on the previous block, and the reason for that is that the verse block was firing the `onMerge` event when the backspace key was pressed, hence it was being _merged_ (but not deleted) on the previous paragraph blocks.

All I had to do was add the `onRemove` handler,

[2021-03-22 19:03] gwwar commented on #28750
I'm afraid I can't reproduce this one on 5.6.1 WP (with the gutenberg plugin disabled) or in more recent versions.
<img width="890" alt="Screen Shot 2021-03-22 at 12 03 01 PM" src="https://user-images.githubusercontent.com/1270189/112044087-9fae5880-8b06-11eb-8d42-fbeb5753884a.png">

[2021-03-22 19:17] annezazu opened #30105 "Navigation Component: New Template Part does not dynamically appear after creation"
## Description

Similar to this issue https://github.com/WordPress/gutenberg/issues/29844 around template part naming only updating after saving changes, a new template part does not dynamically show up in the navigation component after creation. This came up in the [third call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a

[2021-03-22 19:20] glendaviesnz commented on #30004
Fixed by #30070

[2021-03-22 19:20] #30004 closed, assigned to glendaviesnz

[2021-03-22 19:30] annezazu opened #30107 "Navigation Component: Include ability to add template parts"
## What problem does this address?

Similar to this issue around being able to add posts/pages from the navigation component https://github.com/WordPress/gutenberg/issues/29648, one should be able to add a template part from the navigation component. This came up as part of the [third round of testing from the FSE Outreach Program](https://make.wordpress.org/test/2021/03/09/fse-program-testing-cal

[2021-03-22 19:52] annezazu opened #30108 "Navigation Component: better connect template preview while hovering"
## What problem does this address?

Apologies for the title of this issue - feel free to update it. I found this a bit hard to describe concisely. This came up as part of the [third round of testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1430):

Essentially, right now, the preview shown on hover isn'

[2021-03-22 19:57] annezazu commented on #29844
Pulling in more feedback from the call for testing from @getdave on this current experience:

[2021-03-22 20:32] annezazu opened #30109 "List View: Add ability to remove items"
## What problem does this address?

As part of the [third call for testing with the FSE Outreach Program](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1430), this came up in the feedback:

This was previously discussed here a few years ago https://github.com/WordPress/gutenberg/issues/10984 but List View was determined to be a bit too

[2021-03-22 21:04] annezazu opened #30110 "Navigation Block: Make individual menu item more visible when editing links"
## What problem does this address?

Currently, when editing a link in the navigation block, the UI obscures your ability to see what you're editing which makes for a frustrating experience as shown below:

https://user-images.githubusercontent.com/26996883/112057076-713c7780-8b1e-11eb-97a6-9b39f2c84dfe.mov

This was discovered as part of the [third round of testing for the FSE Outreach Program](ht

[2021-03-22 21:17] annezazu opened #30111 "Navigation Block: Creating a draft page with “&” results in HTML Entities"
## Description

When using the Create Draft feature in the navigation block, if you add &, it results in a draft being created showing the HTML entities for ampersand instead of &.

This came up as part of feedback for [the third round of testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1430).

## Step

[2021-03-22 21:20] Addison-Stavlo opened #30112 "Site Editor - Regression - Alignment styles are broken."
## Description

Load the site editor with a block based theme and we will see that items that were center aligned are now pushed up against the left side of the editor regardless of width/alignment setting.

Below we see all post content and blocks aligned up against the left of the editor:

![image](https://user-images.githubusercontent.com/28742426/112059611-6db2eb80-8b32-11eb-9290-2d5ff4641ba9.

[2021-03-22 21:32] annezazu opened #30113 "Navigation Block: Adding layers of sub menu items causes editing field to expand"
## Description

Tied to this, after adding a bunch of submenus, if you try to view them all it ends up extending the actual editing field. This is obviously an edge case!

Feel free to update the title to something a bit more descriptive as I struggled to name this appropriately! This was found as part of the third call for testing for the FSE Outreach Program.

## Step-by-step reproduction instru

[2021-03-22 21:45] annezazu opened #30115 "Navigation Block: Improve flow for deleting submenu items"
## What problem does this address?

Currently, if you select the option to add a submenu item but, if you want to immediately remove it, it's not quite clear how to do so to the point that it seems one must add a link in order to then delete the block. The video below shows the experience (note that it's on purpose that I'm breezing through it so I don't end up with a long, confusing video):

http

[2021-03-22 21:54] annezazu opened #30116 "Navigation Block: Make it clearer how to delete a Link Block without a link"
## What problem does this address?

Currently, if you add a link block to the navigation block but don't add a link, it results in a pretty confusing experience if you want to then delete the same link block. This is likely to be a common interaction for users though as they look to build out menus (trying out adding items, removing them, changing their minds mid adding a block, etc). The current

[2021-03-22 21:56] annezazu commented on #28670
Noting that this came up as part of the [third round of testing for the FSE Outreach Program:](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1430)

[2021-03-22 22:26] avivalk commented on #29338
I have this same issue! Any ideas how to get around it? My entire page is unusable because its just stuck in the infinite loop. How can I stop the loop and restructure the html so it doesn't start again?

OR is an update going to come out soon that will fix it?

[2021-03-22 22:29] annezazu opened #30120 "Social Icon: strange behavior when List View is open & trying to add a link"
## Description

When editing social icons, if you have the List View open, the link control ends up being quite separated out from the block itself:

<img width="1336" alt="Screen Shot 2021-03-22 at 4 26 18 PM" src="https://user-images.githubusercontent.com/26996883/112066078-5a505200-8b2b-11eb-9ee9-9ef6bad0aed8.png">

This came up as part of the [third call for testing for the FSE Outreach Progra

[2021-03-23 00:10] talldan commented on #29855
Thanks for testing, closing the issue.

[2021-03-23 00:10] #29855 closed

[2021-03-23 01:07] critterverse commented on #29620
I noticed this when completing the most recent [FSE call for testing](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/). Just wanted to note that this may involve the extra step of a forced toggle between the two righthand sidebars as well if the Global Styles sidebar is already open:

https://user-images.githubusercontent.com/77359364/112077076-0

[2021-03-23 01:14] dmsnell commented on #29870
I'm not sure this is a great assumption. If the character falls at the boundary we might have to compute whether or not to extend or shift ranges. This might also be something we currently have to deal with anyway.

We might be doing something very inefficient with this. The current model works best at maintaining text models, but you're reminding me that we do everything on every change, otherwis

[2021-03-23 01:39] critterverse opened #30121 "Fixed Position Header and Footer Template Parts"
There has been [a little talk](https://github.com/WordPress/gutenberg/issues/29238) already about adding background image support for Template Parts. This would likely include an option to set the background image in a fixed position, similar to the option currently available for the Cover block. However, I think it would be useful to extract this option from being specifically tied to background

[2021-03-23 04:08] carolinan commented on #30058
Hi
This is a custom block for WordPress.com, it is not part of Gutenberg.

Please see https://wordpress.com/support/wordpress-editor/blocks/blog-posts-block/.

[2021-03-23 04:08] #30058 closed, assigned to nobody

[2021-03-23 04:29] carolinan commented on #30068
Hi, I am closing this as a duplicate of #27075.

[2021-03-23 04:29] #30068 closed, assigned to nobody

[2021-03-23 04:32] carolinan commented on #30063
Hi!
This was reverted in https://github.com/WordPress/gutenberg/pull/29809
The solution will be included in Gutenberg 10.3 and a future version of WordPress.
Because of this, I am closing the issue.

[2021-03-23 04:32] #30063 closed, assigned to nobody

[2021-03-23 04:49] carolinan commented on #29983
_as a user, I wouldn't understand why when I add a block, it goes centered by default, what does the space around the block correspond to?_

They expect it because it has been the default in the post editor. It is the sudden change that is unexpected and difficult to understand. It is not a seamless transition when you switch editors, and it needs to be.
-And if themes can include HTML templates i

[2021-03-23 04:53] noisysocks commented on #29284
@kevin940726: I think a lot of this is already implemented? Leaving it up to you on whether to close the issue or not.

[2021-03-23 06:33] aaronrobertshaw commented on #29616
PR: https://github.com/WordPress/gutenberg/pull/30124

[2021-03-23 06:34] ntsekouras commented on #30087
Whoever picks this up, has to fix the line's `stroke` color as well.

[2021-03-23 06:44] jasmussen commented on #30115
One tricky challenge here is that the menu item placeholder is meant to immediately open the URL dialog when clicked/invoked. You should be able to press Escape, which then selects the block, so you can press Delete to delete it. A better design for submenus with a bit more space is likely going to help provide some clarity on what's going on here, that's certainly something on my list regardless

[2021-03-23 06:47] #28875 closed

[2021-03-23 06:49] jasmussen commented on #30116
Great ticket, valid feedback, thank you. As noted on another ticket, it's tricky because it is key to the menu item placeholder that it opens immediately on click/close, and that if you press Escape, the URL dialog closes and the block is selected so you can delete it.

I don't think either of the following are good solutions, but sharing in case they inspire better ideas:

- Clicking the button s

[2021-03-23 07:20] #26220 closed

[2021-03-23 07:29] jasmussen commented on #30113
This is a wild one! #21691 will mitigate this one a little bit, as submenus will be limited to a depth of 5.

The video goes by a bit fast, but what happens, step by step, is actually this:

- When you click the "Submenu" button, a "Link" block is inserted as a submenu.
- This link block is focused and selected. If you click slow enough, it opens a submenu because it's a placeholder.
- Because the

[2021-03-23 07:30] jasmussen commented on #30101
Nice one.

Instead of allowing the Image block, could we allow the Site Logo block? That seems more appropriate, and less prone to side-effects.

[2021-03-23 07:39] jasmussen commented on #11756
Thank you that's perfect!

[2021-03-23 07:42] carolinan commented on #30112
Please note that TT1 Blocks has not been updated yet to match the alignment changes, so at the point this issue was opened you would expect them not to work.