[2021-08-17 06:52] kraftner commented on #33344
Okay, so if someone installs a new package for some reason we might still end up with the original issue, no?

[2021-08-17 07:07] zdenys commented on #17553
Somewhat related [feedback about the experience of trying to transform two-paragraph blocks and an ordered list block into a quote block](https://wpmainline.com/2021/08/06/why-cant-i-transform-two-paragraph-blocks-and-an-ordered-list-block-into-a-quote-block/).

[2021-08-17 07:45] gziolo commented on #33344
I don't think it ever becomes an issue because every major WordPress release contains a few Gutenberg plugin releases where most of them translate to npm publishing. In effect, `wp-packages-update` is executed in WordPress core several times per a major release.

[2021-08-17 07:53] aaronrobertshaw commented on #28356
I'd be happy to update the padding/margin support to appear again under a "Spacing" panel again. I can address that in the next day or so unless further discussion is required?

[2021-08-17 08:02] maccyd10 opened #34104 "Since apiVersion 2, customization of core blocks is more difficult"
### Description

Since apiVersion 2, Blocks are no longer automatically wrapped in a `BlockListBlock`.https://github.com/WordPress/gutenberg/blob/20d9c54f6684627486c9e59a4a24848b4bd4f4ef/packages/block-editor/src/components/block-list/block.js#L162 Each block conforming to apiVersion 2 must use `useBlockProps` in order to render the `blockProps` https://github.com/WordPress/gutenberg/blob/20d9c54f

[2021-08-17 08:04] oandregal commented on #24684
Hi, note that this is the expected behavior. The idea is that the core colors are always available in CSS (only for themes with `theme.json` support).

There're two reasons for this: one is patterns, and having a system that works across themes; the other is that there's plans to redesign the color component to show core, theme, and user colors. https://github.com/WordPress/gutenberg/issues/29568

[2021-08-17 08:14] dylanjameswagner commented on #13434
If you're able to create the new image crop with a plugin like [Regenerate Thumbnails](https://wordpress.org/plugins/regenerate-thumbnails/) the crop will appear in the dropdown.

[2021-08-17 08:21] gziolo commented on #33810
@adamziel, WordPress 5.8 is out for almost a month so most of the websites that use the latest Gutenberg should already be updated. It's hard to tell how much time it takes until site owners or hosting companies update to the latest major version so we try to be flexible as much as possible so we don't lose the huge group of beta testers by increasing the minimum version of WP too early.

On the t

[2021-08-17 08:21] talldan commented on #34104
This is an interesting issue, I'll label as a backwards compatibility issue because the API version 2 change impacts the usefulness of the existing `BlockEdit` filter.

Potentially an option is for `useBlockProps` to be able to detect whether it's already been called in a wrapping HOC for the block and return fewer props in the block's edit, but that may be complicated. It would mean the hook isn'

[2021-08-17 08:28] #33719 closed, assigned to getdave

[2021-08-17 08:30] gziolo commented on #33719
There is one more task, we should revisit if we still want to have it (https://github.com/WordPress/gutenberg/issues/33565):

[2021-08-17 09:38] mtias commented on #28356
Let's see first if that is indeed what makes the most sense — @jasmussen @shaunandrews @pablohoneyhoney for thoughts.

[2021-08-17 09:51] adamziel commented on #33540
@kevin940726 you can perform the POST request via `fetch` and then use the response to populate a new, empty iframe via Javascript. I don't think shadow DOM would handle scripts well.

[2021-08-17 09:54] rufus87 opened #34106 "Duplicated <title> tag"
### Description

There is a great possibility to overwrite templates in FSE mod. But as soon as any template is overwritten and it content is served from database, <title> tag rendered in <head> is duplicated, because there are 2 actions callbacks wit different names attached to 'wp_head' action:

1. `add_action( 'wp_head', '_block_template_render_title_tag', 1 );` in `wp-includes/block-template.p

[2021-08-17 10:31] jasmussen commented on #34041
With this in mind, I took a stab at a reduced flow for inserting items:

<img width="2680" alt="Without suggestions" src="https://user-images.githubusercontent.com/1204802/129707411-da216b03-4e26-4cb2-b533-2bf90e59d195.png">

- Click the plus to immediately insert a page item.
- Just as today, when the page item is selected, the URL picker is opened, but it's optimized for surfacing pages on your

[2021-08-17 10:41] adamziel commented on #33810
@gziolo

Great point!

I do agree that we would be experiencing some of the same issues as 3rd party plugins creators. At the same time, Gutenberg is special in that we routinely move chunks of PHP core over to WordPress trunk. I am not aware of any 3rd party plugin that shares these specific struggles.

Right, this is a big one. Perhaps we could bump the minimum major WordPress requirement to WP

[2021-08-17 10:50] gziolo commented on #33810
It isn't ideal but we have been there in the past. I think we had to polyfill `render_block` hook (and 2 or 3 classes that is used internally) at some point because we didn't have lower-level hooks at that time. Registering blocks is another example – to keep the development flexibility we unregister them completely before we register them again with the latest version from the plugin.

[2021-08-17 11:05] priethor commented on #34041
I really like the idea of still allowing to add blocks from the quick inserter but less prominently, @jasmussen, and I'm equally unsure about the extra height it adds. The second approach looks less overwhelming to me if we consider there would usually be more blocks and/or blocks should be searchable.

Going one step further, how do you feel about a tabbed approach for the quick inserter, with th

[2021-08-17 11:14] caseymilne commented on #34075
Sliders are challenging to build because there are a lot of choices. The choice of which slider script to use for example. There is a plugin available called Gutenslider. My company also recently built one for private use. Displaying the slides in the editor is bit of a challenge. Gutenslider does a decent job of this, providing a block control to navigate between slides.

The slider included in W

[2021-08-17 11:15] scrobbleme opened #34110 "Error, when slug of font size contains a number"
### Description

When I create a font size with a number in the slug, i.e.

[code]

it becomes:

[code]

The expected behavior was

[code]

If this is intended, it is anything else than obvious behavior.

### Step-by-step reproduction instructions

Create child theme and add something like:

[code]

### Screenshots, screen recording, code snippet

_No response_

### Environment info

- Latest Word

[2021-08-17 11:25] mtias commented on #28564
Yes, definitely. Though implementation details are not fleshed out yet.

[2021-08-17 11:44] jasmussen commented on #34041
I actually tried that as my first instinct, but for a few reasons I ultimately ended up abandoning that exploration:

- In the flow outlined, the block has already been inserted, so this is more like an expansion of the Link URL dialog than the inserter. In that vein, the choosing of a block is more like a transform.
- Making it tabbed added more complexity to the interface than I had expected.

A

[2021-08-17 12:35] landwire commented on #9757
After hours of debugging I have landed here. Actually the workaround from https://github.com/WordPress/gutenberg/issues/9757#issuecomment-486088850 worked in my case.

Still it would be nice to have a proper solution and especially have this mentioned somewhere in the documentation of the hook/filter to save people some time.

[2021-08-17 12:58] gziolo commented on #9757
I agree that it requires more attention. It will become even more pressing once we have several screens using the block editor. Setting a script dependency to `wp-edit-post` or `wp-editor` will no longer be a good way to mitigate this issue outside of the post editor screen.

[2021-08-17 13:32] superbmario commented on #24683
Regarding "Check the filter to opt out works as expected" - what will the filter be named? I'd like to start adding that to sites I know won't be needing this feature to avoid possible issues. Knowing the name in advance will be super useful for people like me, so if it not yet determined then I'd like to suggest it be created soon.

[2021-08-17 13:53] skorasaurus commented on #34110
Hi,

Thanks for reporting;
This has been already been reported at https://github.com/WordPress/gutenberg/issues/31629. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-08-17 13:53] #34110 closed, assigned to nobody

[2021-08-17 14:05] desrosj commented on #18193
Thanks @skorasaurus. It makes sense that this has fixed itself as TinyMCE is no longer used under the hood.

[2021-08-17 14:07] k-boikov opened #34118 "Shift-click breaks edit mode"
### Description

Accidental shift click on a single blocks without selecting another block switches the editor to Select mode (no caret on clicking, no way to edit text). Switching manually to Edit mode (top left button) does not exit Select mode (nor pressing Esc or clicking somewhere else). The only way to exit the Select mode is to shift click again on another block so multi block selection is

[2021-08-17 14:19] priethor commented on #34041
This factor is key and favors leveraging transforms as proposed in the opening post and your third option :100:

[2021-08-17 14:27] skorasaurus commented on #31629
issue for include this in documentation https://github.com/WordPress/gutenberg/issues/19285

[2021-08-17 14:29] skorasaurus commented on #29568
Issue that requests the guidelines/best practices being discussed here > https://github.com/WordPress/gutenberg/issues/19352

[2021-08-17 14:36] paaljoachim commented on #30706
Here is another resource I came across: https://semantic-ui.com/modules/dropdown.html

Btw
Hey Marco @ciampo I look forward to seeing what you can do with the multi select component to be used in Gutenberg and in core. Thanks.

[2021-08-17 14:45] paaljoachim commented on #21584
A nice resource to take a closer look at:
https://semantic-ui.com/modules/accordion.html

[2021-08-17 14:57] kraftner commented on #21584
@paaljoachim Looked at it for 2 seconds and already did see:

- Breaks down without JS (no progressive enhancement)
- Can't be navigated with the keyboard
- Generally it's all `<div>`s and not even the hint of care for accessibility

[2021-08-17 14:59] zdenys commented on #17553
Cross-linking a PR for easier searchability of where the work is happening. The work requires changing how quotes work and a good balance has been hard to reach. More details here: https://github.com/WordPress/gutenberg/pull/25892

[2021-08-17 15:08] kevin940726 commented on #33540
Oh I see, we can use [srcdoc](https://developer.mozilla.org/en-US/docs/Web/API/HTMLIFrameElement/srcdoc) for that, I totally forgot about that! The only difference might only be the lack of url, but I think it should be fine in our case.

[2021-08-17 15:22] paaljoachim commented on #21943
I left some feedback directly in the PR. It would be helpful if others can also test out the [Draft PR](https://github.com/WordPress/gutenberg/pull/32500)

One can use the Gutenberg PR build approach to test out the PR. [Outlined here](https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/).

[2021-08-17 15:50] caseymilne opened #34119 "Improve the error handling for invalid JSON"
## What problem does this address?

As JSON files are increasingly important (to FSE) and block development, and as there will be more manual editing of JSON going forward (post FSE going live) it is important to handle the issue of silent failure caused by JSON parsing errors. It only take one keystroke to break an FSE site. Just edit the theme.json that is parsed and controls everything, add one

[2021-08-17 15:57] philbuchanan opened #34120 "Setting typography.customFontSize: false in theme.json doesn't remove font size classes and variables"
### Description

I'm using the `theme.json` file to disable a number of font settings for the theme. Specifically there is an issue with custom font sizes:

[code]

Setting both of those properties _does not_ actually remove the classnames (e.g. `.has-large-font-size` or variables (e.g. `var(--wp--preset--font-size--large)`).

The challenge this introduces is that the `core/cover` block's default

[2021-08-17 16:13] walbo commented on #34096
Seem there is an issue in themes that customize the spacing units. The TT1 theme does this here: https://github.com/WordPress/theme-experiments/blob/10dc98f4bb3848d3a70078a165668572992e57e1/tt1-blocks/theme.json#L178-L187
[code]
Note that the TT1 theme doesn't have `%` in the allowed unit

When inserting the columns variations the `width` attributes is set in percentages. Thats why they initially

[2021-08-17 17:33] khushishikhu commented on #33900
hi @gziolo could you please assign me to this issue?

[2021-08-17 17:36] khushishikhu commented on #33073
hi @WunderBart can i work on this issue?

[2021-08-17 17:42] ajlende opened #34121 "Allow transparency in duotone filters"
## What problem does this address?

Since we're using SVG filters, duotone could support transparency allowing for some interesting effects like having a gradient or pattern behind the image and matching the theme's background.

## What is your proposed solution?

The part that you'd need to look at is adding `feFuncA` to `feComponentTransfer` and then making sure color parsing and the user interf

[2021-08-17 17:43] pbking opened #34122 "Allow for Global Block-level configuration of duotone"
## What problem does this address?
If a theme is to be able to [define duotone configuration at the block level ](https://github.com/WordPress/gutenberg/issues/33642) then so too should a user.

## What is your proposed solution?
Allow a user to use the same duotone controls available to individual blocks in the FSE Global Styles panel.  Changing these global values would default all blocks to the

[2021-08-17 17:46] annezazu commented on #34096
Oh wow! Thanks for this excellent sleuthing. Going to add in more labels to expand this conversation.

[2021-08-17 18:23] keithdevon commented on #19930
Today I tried escaping the single quotes (with `\`) in my SVG string and it seemed to work. If the issue comes back I'll update this thread.

[2021-08-17 18:33] annezazu opened #34123 "Explore "Site Branding" patterns for Site Title, Site Logo, Site Tagline"
## What problem does this address?

Both in writing the ninth call for testing for the FSE Outreach Program and [in a recent item of feedback](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/#comment-1883), it became clear that there might be an advantage to having theme blocks, like Site Title + Site Logo + Site Tagline, grouped in a way that makes

[2021-08-17 18:55] iidastudio commented on #29484
I'm having the same problem.
In the old theme I could add wp_link_pages(), but in the block theme it is difficult to do so.
I would like to see a tag equivalent to wp_link_pages() that can be used in block themes.

[2021-08-17 18:58] jhnstn opened #34124 "[RNMobile] Use fullscreen inserter on Android"
## Description
The bottom sheet animations on Android are too unstable to release the inserter block search feature. To resolve the specific issue we going to make the inserter full screen on Android
See this comment for more detail: https://github.com/WordPress/gutenberg/pull/33559#issuecomment-893006808

## Step-by-step reproduction instructions

See #33559

## Device information
- Device: Pixel

[2021-08-17 19:43] tezell-mg opened #34125 "Suggestion for internal links not working on Gutenberg paragraph block (Multisite)"
### Description

When on a multisite network and in the Gutenberg paragraph block editor the link suggestion feature is not working.  It works fine on single site.

![image](https://user-images.githubusercontent.com/83247706/129789422-89b18584-f598-4dea-a06f-79e80759ab23.png)

Console error:
![image](https://user-images.githubusercontent.com/83247706/129789455-141370cb-82aa-4295-95d3-655a6a48742e.

[2021-08-17 20:23] skorasaurus commented on #33900
done. :)

[2021-08-17 20:38] richtabor commented on #33437
Came here to report the same issue.

[2021-08-17 21:16] sabernhardt opened #34127 "Preformatted block: add line-height control option"
## What problem does this address?

As @noisysocks noted on [Trac ticket 48402](https://core.trac.wordpress.org/ticket/48402#comment:3):
With default `pre` element styles in the (Twenty Twenty) theme, "the line height in a Preformatted block is so large that it renders the block impractical for things such as ASCII art and diagrams."

Any theme can specify a large line-height, so having an option

[2021-08-17 21:36] machouinard commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-18 00:01] glendaviesnz commented on #34099
Going to close this as covered by https://github.com/WordPress/gutenberg/issues/33769#issuecomment-889621113

[2021-08-18 00:18] andrewserong commented on #34099
Sounds good, yes just confirming that I can replicate it on a separate branch with the old gallery block, so not related to the gallery refactor 👍

[2021-08-18 05:01] glendaviesnz commented on #34098
It turns out that this can be replicated without Jetpack installed as long as certain steps are followed. Have updated the description.

[2021-08-18 05:03] andrewserong commented on #34098
Great, thanks for confirming and updating the description, Glen!

[2021-08-18 05:13] talldan commented on #34118
Thanks for reporting this. That's an unusual bug. It's still possible to add and edit new blocks, but existing text-based blocks can't be edited.

The best workaround I could find (other than refreshing) was to switch to Code Editor mode and back again.

[2021-08-18 08:11] swissspidy commented on #34044
Since you want to access `wp-admin/admin.php?page=wc-admin&path=%2Fgoogle%2Fsetup-mc`, have you tried `visitAdminPage( 'admin.php', '?path=/google/setup-mc' )`? That's how the function is intended to be used.

[2021-08-18 08:16] swissspidy commented on #34080
Since post formats is a WordPress core feature and you essentially suggest adding full-blown schema support to WordPress core, this might be a better feature request for WordPress Trac.

In my opinion, schema markup is ever-changing and quite complicated with different relations between entities etc. Adding support for that in core is simply not feasible and thus is best kept in plugin territory.

[2021-08-18 08:26] ntsekouras commented on #34123
👋 - while this sounds like a common user need, I'm not sure creating a new block would be the best approach here. No strong opinions, but I think a couple of patterns would do the trick here. What do you think?

--cc @kjellr @jasmussen

[2021-08-18 08:32] fwazeter commented on #34106
EDIT: Seems another member was able to remove / comment the lines and the issue went away - I tested across multiple browsers, but I'm going to assume that my experiment below is caused by caching or local being weird.

Referencing conversation [happening in #core-editor slack about this](https://wordpress.slack.com/archives/C02QB2JS7/p1629273378230800).

TT1 Blocks Testing
[Gutenberg File Linked

[2021-08-18 09:01] mtias commented on #24029
We have most of this implemented. Let's open more concrete issues for any remaining bits (ellipsis menu affordances, isolated mode, etc).

[2021-08-18 09:01] #24029 closed

[2021-08-18 09:04] mtias commented on #30738
Closed in #33983.

[2021-08-18 09:04] #30738 closed, assigned to nobody

[2021-08-18 09:06] mtias commented on #29503
Crossed the following projects:

### <del>Persistent List View tracking issue #29736</del>

### <del>Improvements to Site Title Block #30918</del>

### <del>Improvements to Site Tagline Block #30921</del>

[2021-08-18 09:08] mtias commented on #34123
Yes, I think there are many permutations for site title, logo, tagline, and navigation that the only way to handle properly is through patterns and better layout tools.

[2021-08-18 09:35] mcsf commented on #34023
What I was claiming to be correct was the parser's decision to create empty freeform nodes upon consuming whitespace between demarcated blocks.

That said, yes, it can be surprising that saving three content blocks results in an output that will be parsed as five block nodes. However, it should be clear that we are dealing with different objects from different layers: the three saved blocks are bl

[2021-08-18 09:49] WunderBart commented on #33073
Absolutely! Thanks for helping with this, @khushishikhu! 🙌

[2021-08-18 09:59] mtias opened #34136 "Design Reference Guide"
This collection of Figma files is a reference guide for the current active design projects and resources with the aim of improving discoverability and clarity. It will be updated on an ongoing basis.

- ### Icons ([Board](https://www.figma.com/file/fnyj380i05vGzuuH60frLQ/G2-Design?node-id=1178%3A0))
- ### Components ([Board](https://www.figma.com/file/fnyj380i05vGzuuH60frLQ/G2-Design?node-id=81%3A

[2021-08-18 10:52] gziolo commented on #34106
It looks like it's an issue with how the same functionality is handled in the plugin to bridge older versions of WordPress. Related part here that uses `gutenberg_render_title_tag` callback:
https://github.com/WordPress/gutenberg/blob/0028d2074c5529c2fcc47363cdfbb5ac18bbca45/lib/full-site-editing/template-loader.php#L98-L100

In the WordPress core it's handled with `_block_template_render_title_ta

[2021-08-18 10:59] strarsis commented on #19930
@kraftner: The PR: https://github.com/WordPress/gutenberg/pull/25514

[2021-08-18 11:00] strarsis commented on #19930
@keithdevon: Are you doing this in an automated fashion, like using a PostCSS plugin?
Is the SVG still parseable by the browsers? Doesn't this also increase the size of the embedded SVG?

[2021-08-18 11:20] fwazeter commented on #34106
Technically, couldn't the polyfill be as simple as a WP Version check in the template loader in GB?

[2021-08-18 11:36] oxyc commented on #19930
There's also a patch for the current reworkcss parser that fixes this but I closed it in favor of #25514. Maybe it's worth revisiting due to the size of css-tree https://github.com/WordPress/gutenberg/pull/17146

[2021-08-18 11:43] gziolo commented on #34106
Sure, the usual approach used in the plugin is to check if the function is defined, so here if there is no `_block_template_render_title_tag` then you either define the same function or define a different one and register in a hook

[2021-08-18 12:03] kjellr commented on #22778
This exists as of Gutenberg 11.1:

<img width="295" alt="Screen Shot 2021-08-18 at 8 02 56 AM" src="https://user-images.githubusercontent.com/1202812/129894789-485f832c-0132-4416-ac40-eea20a1c89c6.png">

Closed via https://github.com/WordPress/gutenberg/pull/31816

[2021-08-18 12:03] #22778 closed

[2021-08-18 12:09] fwazeter commented on #34106
That makes sense, at scale version tracking for different functions would become a nightmare over updates.

[2021-08-18 12:10] oandregal opened #34138 "Only enqueue default colors & gradients once"
Related https://github.com/WordPress/gutenberg/issues/34006

We're now currently shipping CSS bundled via the JavaScript packages that are enqueued by the global stylesheet as well. We need to consolidate this for all the use cases we have: themes with and without `theme.json` whether or not they declare a custom palette and gradients.

This was tried at https://github.com/WordPress/gutenberg/pull

[2021-08-18 12:13] kjellr commented on #34123
Yeah, I think patterns are the simplest answer to this. Also, I expect this to get much easier (for both pattern creators and general users) once the [flexbox](https://github.com/WordPress/gutenberg/pull/33359) features are more mature.

[2021-08-18 12:56] tomalec commented on #34044
I did and it doesn't work. (So it seems that API is confusing to you as well ;) )

1. What you suggested produces `http://localhost:8084/wp-admin/admin.php?path=/google/setup-mc'` not `http://localhost:8084/wp-admin/admin.php?page=wc-admin&path=%2Fgoogle%2Fsetup-mc`
2. I don't want to hard-code `admin.php?page=wc-admin`, as it is not set in my repo/plugin, and would like to get that path from util

[2021-08-18 13:08] swissspidy commented on #34044
Okay, I forgot to add `page=wc-admin` in my example and to wrap things in `encodeURIComponent`, but otherwise this should just work.

The main thing I wanted to highlight is the `admin.php` part as you did not try this at all.

Supporting something like `visitAdminPage( 'admin.php', { page: wc-admin, path: '/google/setup-mc' } );` would be a nice enhancement 👍

[2021-08-18 13:22] annezazu commented on #34123
Ah yes! Patterns make perfect sense here. I'll retitle this around patterns for "site branding" instead. Thank you all for the direction.

[2021-08-18 13:30] tomalec commented on #34044
IMHO, having to cater for:
 - Whether the path is relative or absolute
 - Resolving manually absolute path to relative to the **unexposed** `WP_BASE` (so `createURL` could then resolve it aginst from relative to absolute based on `WP_BASE`)
 - `encodeURIComponent`
 - concatenating query params

Does not leave much of a value in `createURL`. Other than exposing `WP_BASE`, but for that, I'd rather u

[2021-08-18 13:48] guarani commented on #24425
Thanks for the ping and sorry for the late reply. I agree it can be closed and I'll go ahead and close the issue now.

[2021-08-18 13:48] #24425 closed

[2021-08-18 14:17] swissspidy commented on #34044
Not disagreeing on the current state of `createURL` and your proposed enhancement. Just saying that `visitAdminPage` is pretty straightforward to use and works well. You just need to pass `admin.php` or similar instead of a path or a full URL.

[2021-08-18 14:25] priethor commented on #33719
I've seen a great improvement in the raw changelog when curating the 11.3 one. As not all improvements were in place yet, I'll wait until 11.4 to see what areas would benefit the most from further improvements. Thanks all for the effort in improving this process 💯

[2021-08-18 14:45] jffng opened #34141 "Global Styles: consider loading user styles after theme styles"
## Description
Currently styles load in the following order:

1. Block library styles
2. Global styles — core + theme.json + _user styles set via the site editor_. All of these are combined into `global-styles-inline-css`
3. Theme styles

For example, this is from [emptytheme](https://github.com/WordPress/theme-experiments/tree/master/emptytheme):

<img width="884" alt="Screen Shot 2021-08-18 at 1

[2021-08-18 15:05] #34118 closed, assigned to ntsekouras

[2021-08-18 15:05] jeffpaul commented on #1678
Note that the recent [Insert Special Characters 1.0.3 release](https://github.com/10up/insert-special-characters/releases/tag/1.0.3) should add in all the requested special characters (and more!) so update your installs to benefit from all the newly added characters!

[2021-08-18 15:08] jeffpaul commented on #17299
@poojashetty18 note that the rupee symbol is available in the [Insert Special Characters plugin](https://github.com/10up/insert-special-characters/releases/tag/1.0.3), you can use that in place / until special character functionality is added to Gutenberg.

[2021-08-18 15:29] youknowriad commented on #32402
I do recall that we fixed this in the past with some popover shifting behavior, it might have regressed cc @ellatrix

[2021-08-18 15:30] kjellr opened #34143 "Consider adding a plugin option to enable experimental block controls"
## What problem does this address?

There are a number of block features that themes may opt-into via theme.json. For example:

[code]

When trying to test using the plugin, it's difficult to keep track of which themes support which features. I often go looking for one of these settings, only to find it's not opted into in my current theme. This requires me to either edit my theme's code, or go di

[2021-08-18 16:00] beafialho opened #34145 "Query Loop: Add "Stack On Mobile" toggle for Grid View"
Not sure if this has been discussed somewhere else. If that's the case, please point me there.

In the Columns block, there's a toggle that allows you to choose whether columns stack on mobile or not:

<img width="297" alt="S9GA-8hgcv" src="https://user-images.githubusercontent.com/65220155/129930001-8c6bb92b-20bd-44c2-9e95-991048e8ba62.png">

In the Query Loop block, when we select Grid View for

[2021-08-18 17:02] mcsf commented on #34104
Yes, interesting one. I think it's fair to say that, prior to `apiVersion: 2`, the described use case was supported almost accidentally — in the sense that `BlockEdit` is meant to represent the outermost element of a block on the canvas, and the filter allowed any markup (as opposed to a specific primitive) to wrap around it.

This isn't meant as criticism of the use case: at the time (late 2017?)

[2021-08-18 17:04] TechDotHaus commented on #28403
I am having this same issue as shown in the original screenshots using:
WordPress 5.8 running blockbase or quadrat using Gutenberg plugin 11.2.1

This happens both on Firefox and Firefox Developer Edition, locally, and on my server.

Can this be reopened?

[2021-08-18 17:14] iandunn commented on #32939
If I'm reading this right, you're not _only_ suggesting improvements to the flexibility of template parts; that's just one example of a much bigger issue. Is that correct?

I've run into that too, a simple example is putting the current year in a footer: `Copyright 2003 - <?php echo date( 'Y' ); ?> Foo Bar Inc`.

Without the ability to execute arbitrary PHP/JS inside a template, custom blocks need

[2021-08-18 17:30] kjellr opened #34146 "Site Logo Block: Support the duotone feature"
Similar to #34088 — another block that may occasionally benefit from duotone would be the site logo block.

Here's an example use case: A theme where the site logo is meant to have the same duotone feature applied as the featured images:

![screenshot](https://user-images.githubusercontent.com/1202812/129944678-1d499179-5c8f-4dfa-bbc4-1854763af165.png)

[2021-08-18 17:34] iandunn commented on #32939
Related: #27144, #20966, #21932

[2021-08-18 17:39] #34088 closed, assigned to nobody

[2021-08-18 18:19] theninabird commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-18 18:27] dizzyskips commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-18 18:42] thisissandip commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-18 18:52] strarsis commented on #19930
@oxyc: Here is a proof of concept for parsing and modifying the styles directly with native browser APIs:
https://codepen.io/strarsis/pen/MWmMQgy
(Just [a very small CSS selector library](https://github.com/fb55/css-what) (`~2.8kb`) is used (as there is no browser API for them yet), but it could be replaced by some simple string manipulation, if needed.)

No styles are applied before processing is

[2021-08-18 19:23] creativecoder commented on #34141
Potential fix for this issue in https://github.com/WordPress/gutenberg/pull/34147

[2021-08-18 19:35] vtrpldn commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-18 20:17] ntsekouras commented on #28403
@TechDotHaus can you try GB 11.3? I think there was a new similar WSOD that was fixed in this PR: https://github.com/WordPress/gutenberg/pull/33896

[2021-08-18 20:34] lvmarks opened #34148 "Ctrl-Z in Gutenberg editor deletes more than last change..."
Pardon me if irrelevant detail or too much detail are provided. I've been creating and maintaining web pages since 1995, generally in raw HTML 1 or HTML 2. I've maintained a website in Drupal since 2009. I've been moving it to a new WordPress host. I'm getting used to the block-style creation. Last night I encountered a really annoying problem that will cost me at least an hour to recover.

In the

[2021-08-18 21:55] azaozz commented on #34023
Yep, sorry, was just trying to wrap my head around it from all possible sides.

Right, I understand, thanks for explaining. Thinking perhaps the only thing left here would be to add something like this explanation to the parser docs.

Yes but removing line breaks between blocks will reduce the readability of the content as saved in the DB. People still look directly there sometimes. Don't have str

[2021-08-18 22:02] jerrysarcastic commented on #33712
I've been able to replicate this issue pretty predictably, but it does not happen every time.   In my tests if I highlight text, but continue too far to the left and into the "whitespace" of the editor (e.g. selecting the block and some area outside the block) it will sometimes fail to format all the text, but instead only formats a portion.  It takes a few tries but you can see it in this video a

[2021-08-18 22:41] porg opened #34149 "Inserting media via Gutenberg creates kebab case in media title vs. Upload New Media preserves whitespace"
# Reproduction I: "Upload New Media" creates media title "My Great Photo"
1) Media > Add New
2) Drag-n-drop "My Great Photo.jpg"
3) Inspecting this in "Edit Media" shows a media title "My Great Photo".

# Reproduction II: Insertion via Gutenberg Editor creates media title "My-Super-Photo"
1) Edit an existing page or create a new page.
2) Set the cursor into an empty block.
3) Drag-n-drop "My Super

[2021-08-19 00:35] donalirl commented on #33712
I can recreate this with absolute consistency:

When you are highlighting text, if you trigger the border box around the paragraph block, it seems to confuse the selection and cause the wrong text to be bolded/linked. Video:

https://user-images.githubusercontent.com/30727666/129989367-2df9a656-5998-405d-a981-f54d66df2912.mp4

If you take the same action, being careful not to trigger the border bo

[2021-08-19 00:38] jeyip opened #34150 "Global Styles: Block specific global styles don't work for the cover block"
### Description

I'm seeing an issue with block-level global styling being overridden in the site editor and frontend, and it looks like it has to do with the [packages/block-library/src/cover/style.scss](https://github.com/Automattic/themes/blob/trunk/blockbase/assets/ponyfill.css) file. When I remove color style declaration, per block global styles work as expected.

https://github.com/WordPress

[2021-08-19 00:41] adbs1 commented on #20240
It seems the 'Convert to regular block' context menu doesn't exist anymore, so this feature is needed more than ever.

![image](https://user-images.githubusercontent.com/2671262/129989825-d901ce97-76c8-4c61-85de-2a51847eabde.png)

[2021-08-19 00:57] peterwilsoncc commented on #33580
Sharing my [notes from trac](https://core.trac.wordpress.org/ticket/53801#comment:7) here too:

[2021-08-19 00:57] #30626 closed, assigned to dcalhoun, AmandaRiu

[2021-08-19 01:05] donalirl commented on #22071
An option missing from the current functionality of the Search block is a control for the color of the placeholder and input texts. I'm not sure what is more logical:

* for the current text color setting to control the placeholder and input text or
* a new color setting to control the input & placeholder color

Let me know if I should create a separate GH issue for this, or if it's fine to leave

[2021-08-19 01:22] noisysocks commented on #33810
I really like this proposal. I started refactoring the plugin PHP along these lines in a branch called `update/refactor-php` but it's a big job and I don't have the bandwidth right now to finish it. Feel free to check out that branch and continue working on it, if you'd like.

Something I noticed while working on this is that, for this proposal to be successful, I think we need to switch to groupi

[2021-08-19 03:04] easilyamused commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-19 03:25] noisysocks commented on #34127
@nosolosw: Is `line-height` something that can be adjusted in global styles?

[2021-08-19 03:43] dmsnell commented on #34023
It makes sense to me to filter this _somewhere_. The PHP parser is already filterable:

https://github.com/WordPress/WordPress/blob/2f6eb9d25e4d63ab3c9c6dc58f85c113e9bf0442/wp-includes/blocks.php#L883

I feel like we could add a new JS filter here…

https://github.com/WordPress/gutenberg/blob/trunk/packages/blocks/src/api/parser/index.js#L153

…or at the end of or around that function so that we c

[2021-08-19 04:07] shinyabw commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-19 04:54] chthonic-ds commented on #33142
Seeing a decision made on this soon would be wonderful, if at all possible. I imagine a number of block-based/FSE themes are on the boil right now and not having to account for the `[data-align]` wrapper will mean not having to commit to some tricksy editor-specific CSS, while also surfacing some sibling `.has-background` relationships that are currently difficult (impossible?) to target.

This co

[2021-08-19 06:58] talldan commented on #34098
Fixed by #34133

[2021-08-19 06:58] #34098 closed, assigned to glendaviesnz

[2021-08-19 07:22] #33431 closed, assigned to anton-vlasenko

[2021-08-19 07:34] gziolo commented on #33148
Resharing my https://github.com/WordPress/gutenberg/pull/33153#issuecomment-901678163 comment for visibility:

Thinking a bit more about it, it’s inevitable that with block patterns we will see more and more of those logs. Maybe, we should be less concerned about successful migrations.

I see a ton of `console.info` logs when developing Gutenberg. It's inevitable to see the growing number of (succ

[2021-08-19 08:06] talldan commented on #31667
Another option (that granted would be less reusable) would be making it a tab in the block library, which is something that possibly will need to be implemented in the editor as part of nav block changes - https://github.com/WordPress/gutenberg/issues/34041.

[2021-08-19 08:42] swissspidy commented on #25077
Just sharing here in case adopting esbuild is being considered:
Since esbuild does not preserve comments, that means all translator comments are lost, which is really bad for translators. swc on the other hand _can_ preserve comments.

[2021-08-19 08:52] antonis commented on #24611
I was able to reproduce this issue (or a similar one) when the patterns tab is selected in the block inserter.

https://user-images.githubusercontent.com/304044/130038878-2ff8f04a-8e66-4caa-81f9-460888f2f1a7.mov

When the scrollable height matches the available screen height the behaviour illustrated in the attached video occurs. I was able to reproduce both with Chrome and Safari on Mac.

[2021-08-19 09:21] adamziel opened #34160 "Pasting from Evernote removes newlines"
### Description

Pasting text from Evernote does not preserve line breaks. I believe it is a Guteneberg issue because I can paste it to other apps just fine.

### Step-by-step reproduction instructions

1. Write a multi-line note in Evernote
2. Copy it
3. Paste it into Gutenberg
4. Observe how all the newlines are gone

### Screenshots, screen recording, code snippet

![2021-08-18 14-18-59 2021-08

[2021-08-19 09:23] oandregal commented on #34127
Yup, absolutely. Any block can [declare support for it](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-supports/#lineheight) and then themes can [target that style](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#styles).

[2021-08-19 09:25] gziolo commented on #25077
Next.js added an experimental SWC support recently: https://nextjs.org/blog/next-11-1. They are still working on reimplementing their custom Babel plugins to Rust so they continue to work with SWC. I think we would have to revisit what gets shipped with Babel either way because both esbuild and SWC don't play along nicely with custom transforms.

In the context of Gutenberg knowing how the build p

[2021-08-19 09:25] ntsekouras commented on #33148
There were some interesting issues surfaced in my attempt to update the patterns in core which are summarized here: https://github.com/WordPress/wordpress-develop/pull/1483#issuecomment-877982616.

In a few words we have `patterns` in `themes` and in `pattern directory`.

As @ocean90 explained:

So in `themes` the patterns are checked and have been created against a specific WP version - this stil

[2021-08-19 09:31] gziolo commented on #33148
@mtias, since you proposed an RFC for the classification of block validation types (#21703), I would be curious to hear how it fits in the picture. We didn't have this issue before.

I know that @youknowriad added some changes to the block parser that skips some logging when the validation issues are visible in the UI.

[2021-08-19 09:32] #6897 closed

[2021-08-19 09:33] Sandstromer opened #34161 "Navigation submenu not selectable when overlapping cover block"
### Description

Navigation with a submenu is not fully selectable and partially hidden, when the submenu extends far enough to overlap with a cover block.

This issue is only present when the "Enable responsive menu" display option is toggled on

### Step-by-step reproduction instructions

Add a navigation block with at least one submenu from a parent menu item.
Toggle the "Enable responsive menu

[2021-08-19 09:44] darkonelson opened #34162 "New widgets"
I dont know where is problemm but after 5.8 WP upgrade some widgets disappear. Second -Astra theme customizer wont work like before. No icons in customizer and cant open links on main menu??  Need to open 3 or 4 times customizer to get edit icons.
I can edit widgets but there s not save button like on some YouTube videos. If I wont to edit widget only name appear and when I want to edit there is n

[2021-08-19 10:00] adamziel opened #34164 "[Widgets editor] TypeError: Cannot read property 'body' of null at onLoad"
### Description

In some scenarios – and I am not sure which ones – the legacy widget preview results in an error `TypeError: Cannot read property 'body' of null at onLoad`. Stack trace points to the following line:

https://github.com/WordPress/gutenberg/blob/253d9b6e2123a2806b8843562f3f37de186c933a/packages/widgets/src/blocks/legacy-widget/edit/preview.js#L110

The problem occurs both in customi

[2021-08-19 10:18] priethor commented on #29784
As stated above, this could be quite confusing, especially as we are heading in a different direction trying to ease interactions with Query block and its variations in the List View, like the one proposed in  #32268

Let's close this for now and revisit this kind of interaction further down the line :+1:

[2021-08-19 10:18] #29784 closed

[2021-08-19 10:42] oandregal commented on #34141
:wave: Would like to understand what's the issue you're experiencing.

The styles are enqueued as they are expected: first the core styles (block-library, global styles), then the theme styles. This has been always like this and the introduction of global styles respected this order. It's intentional, so the theme can overwrite the core styles just by being enqueued later (no extra specificity req

[2021-08-19 11:01] jasmussen commented on #34016
Thank you for your patience. The difference was subtle, and the issue was only in the site editor: #34168.

[2021-08-19 11:17] oandregal commented on #34141
It'd be helpful if "how to reproduce" instructions were posted in this issue for people that are not aware of how to work with a theme like BlockBase. I've struggled a bit to make it work. For reference, this is what I've done after some trial&error:

- Clone the https://github.com/Automattic/themes repo.
- `cd blockbase && npm run build`
- Use and activate the BlockBase theme in your WordPress se

[2021-08-19 12:45] #33148 closed, assigned to mkaz, youknowriad

[2021-08-19 13:01] adamziel opened #34174 "splitValue occasionally errors out"
### Description

The following error occasionally happens in the post editor:

[code]

The trace points back to this line:

https://github.com/WordPress/gutenberg/blob/26f72abebd9d2c57bdc9ac62a41def330e4e13a7/packages/block-editor/src/components/rich-text/split-value.js#L24

which is called somewhere here in useEnter:

https://github.com/WordPress/gutenberg/blob/26f72abebd9d2c57bdc9ac62a41def330e4

[2021-08-19 14:19] lwangdu commented on #34162
If you install the classic widgets, it will fix this problem. The problem is installing the classic widgets, you can't use block widgets.

[2021-08-19 14:50] lwangdu commented on #34161
That is interesting. I am using Mac Ox. I don't have this problem on Firefox or Chrome. See the screen shot.
![Screen Shot 2021-08-19 at 7 42 38 AM](https://user-images.githubusercontent.com/24829573/130090170-e6eae4f9-a785-4c66-ac48-4f51ab9bd404.png)

[2021-08-19 15:10] Sandstromer commented on #34161
It appears the responsive enabled menu has extra modal/container wrappers, the first one `.wp-block-navigation__responsive-container` has a z-index of 1. Changing this to 2 seems to fix it.

@lwangdu could this be one of those items that a Mac "fixes" on-the-fly?

[2021-08-19 15:18] arjendejong12 opened #34177 "Copied blocks get duplicated when pasted inside empty page"
### Description

When copying content from a Gutenberg page where the last block is a group block, and then pasting it into a new page or the same page with all blocks removed, causes all blocks except the last group block to be duplicated. This also happens with other blocks that use innerBlocks, like my custom container block or the container blocks from Stackable and Gutentor, so it seems that

[2021-08-19 15:42] lwangdu commented on #34161
You are right @Sandstromer if you I enable responsive menu, it changes background color. I can't tell looking at inspect z-index change or not. That is weird. See the screen short again.
![Screen Shot 2021-08-19 at 8 31 48 AM](https://user-images.githubusercontent.com/24829573/130099236-1729045c-7986-4f50-8417-54e225865a82.png)

[2021-08-19 15:54] darkonelson commented on #34162
Yes I use plug in for old widgets. Why? New WP widgets on my page dont have
save button for some reason. I can create for example new widget and after
that cant save him. But widget appear on page. If I want to edit same
widget there is nothing inside??? I looked at the youtube instructions and
there is a save button everywhere but not with me. What would be the cause
of that? I really want to use

[2021-08-19 15:56] kjellr opened #34179 "Border controls: Add the ability to choose specific sides the border should appear on"
The current border controls do not allow us to (for example) display the border only on the top or bottom of a block. Take this Twenty Twenty-One pullquote for example:

<img width="652" alt="Screen Shot 2021-08-19 at 11 51 13 AM" src="https://user-images.githubusercontent.com/1202812/130101653-e9e7c8bf-201f-4a9d-b11e-0907149ffb5e.png">

If we apply border settings in theme.json, it'll apply the b

[2021-08-19 16:26] oandregal commented on #33977
I've prepared a prototype for this at https://github.com/WordPress/gutenberg/pull/34180 Would welcome feedback on direction before committing to do anything else.

[2021-08-19 16:28] colorful-tones commented on #27614
I was about to try and create an Issue for this. Glad I stumbled upon this!

I agree and love the idea of being able to set `customHeight: true/false` for the Spacer block in `theme.json`.

I've seen a common pattern for developers to do the following in a theme to allow editors to have preset spacing options:

[code]

However, the Spacer Settings (Height) is left as an interface for editors to tr

[2021-08-19 16:38] #21193 closed

[2021-08-19 17:13] sixhours opened #34181 "Image block: Drag-and-drop allows HEIC files"
### Description

**What I expected:**

* When I try to upload an HEIC file to an Image block via drag and drop, it will fail, or at least show a message letting me know HEIC is not supported.

**What happened:**

* When I upload an HEIC file to an Image block using drag and drop, the upload goes through, and the image is shown broken with no context:

<img width="839" alt="Screen Shot 2021-08-19 a

[2021-08-19 19:22] saarahasad commented on #33839
@talldan Hello! I worked on this. I wrapped `fetchData` in a `useCallback` hook in this manner:

 `const fetchData = useCallback( () => { });`

I ran both the unit tests and the linter, everything passed. Is there anything I should correct or could I open a PR? :)

[2021-08-19 19:22] jffng commented on #34141
@nosolosw thank you for the thoughtful reply. Apologies for not providing better testing instructions or rationale for why this change could be useful. My general assumption was that if a user makes a customization via global styles UI, it should always win / override the theme's preferences.

The short answer is, we shouldn't be. The principle behind blockbase is that CSS should only exist where

[2021-08-19 19:57] eric-michel commented on #31061
@chthonic-ds based on my testing, I think you're exactly right. I'm going to close this issue since it seems `inner-container` is going away.

[2021-08-19 19:57] #31061 closed, assigned to nobody

[2021-08-19 20:13] TechDotHaus commented on #28403
Thank you. All clear :)

[2021-08-19 21:26] dimadin commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-19 23:03] lwangdu commented on #34181
WP doesn't support dot HEIC image extension. Only support .jpg, gif. peng, webp images extension. If that is photo, you should convert to jpg.

[2021-08-19 23:39] #10057 closed

[2021-08-20 01:20] andrewserong commented on #32366
Update: I have a PR to implement gap block support in https://github.com/WordPress/gutenberg/pull/33991, which builds on top of the CSS variable introduced in https://github.com/WordPress/gutenberg/pull/33812. There is currently an outstanding regression in trunk, but [once that's resolved](https://github.com/WordPress/gutenberg/pull/34189), #33991 should be good to be rebased and then reviewed /

[2021-08-20 02:00] noisysocks commented on #34127
Awesome. Sounds like we just need to set `supports.lineHeight` to `true` in the Preformatted block, then.

[2021-08-20 02:14] talldan commented on #33839
A PR would be awesome, thanks @saarahasad.

[2021-08-20 02:19] talldan commented on #34161
Thanks for reporting, this seems like a regression of a previously fixed issue - https://github.com/WordPress/gutenberg/issues/20203.

[2021-08-20 02:43] dmsnell opened #34190 "Core Data and typing the un-typable"
Recently I was working with @sarayourfriend (#33139) and @sirreal to try and build types for `data` and ran into a roadblock I couldn't get past. That module, and I think by extension most of Gutenberg, is untypable in TypeScript the way we would want and this is all because of its dynamic ability to change at runtime. There are no static types because the editor is the product of its own code _pl

[2021-08-20 04:55] talldan commented on #31965
Now in a pretty good state for migrating 'feature' preferences to the interface package, with PRs open for every editor that implements these preferences.

What other kind of preferences are there? The only remaining preferences live in the post editor:
### Panel preferences
<img width="425" alt="Screenshot 2021-08-20 at 12 37 07 pm" src="https://user-images.githubusercontent.com/677833/130179815-

[2021-08-20 05:25] alaczek opened #34192 "Post Date: Add more typography options."
When it comes to typography options, the Post Date block supports only font size at the moment. It would be great if we had more settings for things like:
- [x]  font-weight
- [x] font-style (italics)
- [x] uppercase
- [x] letter-spacing

This might be a can of worms, but it would also be nice to be able to use the headings font for Post Date (and post meta elements) in general. I looked over a fe

[2021-08-20 07:05] diegohaz commented on #18537
I recorded this video a while ago talking about focus management when using React Portal in the context of Gutenberg: [Focus management with React Portal](https://www.youtube.com/watch?v=ELauJdPoDaQ).

That's not directly related to this issue, but I think there are some insights there that could be useful here.

The problem with focus trap elements, as we're implementing today, is that Safari/Voi

[2021-08-20 07:14] davidperezgar commented on #6064
Any idea to define the width in post types?

[2021-08-20 07:15] kevin940726 commented on #32024
I opened a PR in core which should solve this issue: https://github.com/WordPress/wordpress-develop/pull/1608.

Once it's merged, we only need to tidy up some code in the tests :).

[2021-08-20 08:43] mcsf commented on #18848
Closing this one in favour of https://core.trac.wordpress.org/ticket/27350. If and when Core's `wpautop` is fixed, then Gutenberg's JS port can be fixed accordingly.

[2021-08-20 08:43] #18848 closed

[2021-08-20 08:44] gziolo commented on #33810
@noisysocks, thank you for starting the branch. Do you think we can split the work into multiple PRs? This way it could be less error-prone and we could speed up the review process. One of the tasks could be removing all code that supports WordPress below WordPress 5.7.

The idea of grouping by feature sounds great. It's usually how we promote code from the experimental stage. It could make the pr

[2021-08-20 08:47] mcsf commented on #33832
I'll defer to others w.r.t. how many editing contexts should be affected by this fix, but I too think that the solution is to disable autop _at least_ in the Widget editor. Doing the same in nascent block editors, like Nav and Site, might be a step towards phasing out autop (perhaps around 2050 AD).

[2021-08-20 08:59] ugenegrg opened #34193 "Is this healthy, the layout shifting"
If I search something in the block search the layout shifts to show the results.
Some are noticeable and some fine but could it be improved.
https://screencast-o-matic.com/watch/crjYjRVjHkM

[2021-08-20 09:25] mcsf commented on #34023
Where in the docs would be best? There's a few parsing-related ones: overview documents like `data-flow.md`, and specific documentation for different parsers:

* block-serialization-default-parser (html to raw block nodes)
* block-serialization-spec-parser (idem)
* block-api (raw block nodes to proper blocks)

[2021-08-20 09:25] mcsf commented on #34023
Where in the docs would be best? There's a few parsing-related ones: overview documents like `data-flow.md`, and specific documentation for different parsers:

* block-serialization-default-parser (html to raw block nodes)
* block-serialization-spec-parser (idem)
* block-api (raw block nodes to proper blocks)

[2021-08-20 09:35] shixianli158 commented on #34023
Where in the docs would be best? There's a few parsing-related ones: overview documents like data-flow.md, and specific documentation for different parsers:

block-serialization-default-parser (html to raw block nodes)
block-serialization-spec-parser (idem)
block-api (raw block nodes to proper blocks)

[2021-08-20 10:00] sirreal commented on #34190
CC: @dsifford

[2021-08-20 10:22] adamziel commented on #33810
@gziolo I think we will have to do gradual migration across many PRs anyway, considering how we keep adding new PHP code every week. We just need a minimal structure to support new changes. Once in place, little bits of migration could opportunistically piggy-back on existing tickets and PRs.

[2021-08-20 10:44] oandregal commented on #34141
Thanks for sharing the extra context, it's very valuable to me: it shows me practical cases in which the `theme.json` is not yet fully functional.

This is what I hear:

1. There're components of the design for which we don't have a way to change all "components of a type" at once. Example: the button block, the button within search, etc. should be addressable at once.

2. There're components of t

[2021-08-20 10:53] oandregal commented on #34141
I keep thinking about the order of styles. I do think the current order of styles is correct as far as core and theme styles go:

1. Block styles: block-library, 3rd party block styles, `global-styles-inline-css` (core and theme).
2. Theme stylesheets.

However, there's the gray area of _user styles_ that will be introduced with the site editor. I've been operating under the assumption that user s

[2021-08-20 11:02] collimarco commented on #13690
I would like to add an existing menu as a block inside a page...

Any updates on this?

I can't find any "Navigation menu" block :(

[2021-08-20 11:25] oandregal opened #34196 "Allow registering additional CSS selectors for blocks (to be used by `theme.json`)"
This issue stems from this conversation https://github.com/WordPress/gutenberg/issues/34141#issuecomment-902178472

## The issue

1. There're components of the design for which we don't have a way to change all "components of a type" at once. For example, it seems desirable that the button block, the button within search, and others are addressable all at once.

2. There're components of the desig

[2021-08-20 11:26] oandregal commented on #34141
At https://github.com/WordPress/gutenberg/issues/34196 I've shared an idea that could be helpful for the issue with buttons.

[2021-08-20 11:49] priethor commented on #22039
Let's close this issue as we are unable to replicate and the activity has stalled. Feel free to reopen if the issue resurfaces.

[2021-08-20 11:49] #22039 closed

[2021-08-20 11:50] priethor commented on #32335
Let's close this issue as we are unable to replicate and the activity has stalled. Feel free to reopen if the issue resurfaces.

[2021-08-20 11:50] #32335 closed, assigned to nobody

[2021-08-20 11:51] priethor commented on #25088
Let's close this issue as we are unable to replicate and the activity has stalled. Feel free to reopen if the issue resurfaces.

[2021-08-20 11:51] #25088 closed

[2021-08-20 11:53] priethor commented on #31620
Let's close this issue as we are lacking information and the activity has stalled. Feel free to reopen if the issue still needs attention.

[2021-08-20 11:53] #31620 closed, assigned to nobody

[2021-08-20 12:10] priethor commented on #27657
Let's close this issue as we are unable to replicate and the activity has stalled. Feel free to reopen if the issue resurfaces.

[2021-08-20 12:10] #27657 closed

[2021-08-20 12:10] priethor commented on #23864
Let's close this issue as we are unable to replicate and the activity has stalled. Feel free to reopen if the issue resurfaces.

[2021-08-20 12:10] #23864 closed

[2021-08-20 12:15] priethor commented on #31475
Let's close this issue as we are unable to move forward and the activity has stalled. Feel free to reopen if the issue resurfaces.

[2021-08-20 12:15] #31475 closed, assigned to nobody

[2021-08-20 12:16] priethor commented on #31694
Let's close this issue as we are unable to replicate and the activity has stalled. Feel free to reopen if the issue resurfaces.

[2021-08-20 12:16] #31694 closed, assigned to nobody

[2021-08-20 12:22] adamziel commented on #34160
This happens because Evernote uses both `<div>` and `<br>` tags for line breaks. Gutenberg preserves `<br>`-s but removes `<div>`-s. cc @ellatrix

[2021-08-20 12:28] MaggieCabrera commented on #34141
Yes! I think this is what was happening exactly in this case. Whatever the user changes should take precedence over what the theme initially offers.

[2021-08-20 12:40] brylie commented on #28444
This would help a use-case where we want to apply button styling directly to the links, rather than a containing `div`. When applying the extra CSS to the button block, the containing `div` takes on the button style, rather than the button.

![button style applied to parent div](https://user-images.githubusercontent.com/17307/130048351-84392bfe-e53c-45bb-8407-3063151b949c.gif)

[2021-08-20 12:47] priethor commented on #34148
Thanks for reporting this issue, @lvmarks .

Could you provide information about the environment this happened in? It would be very helpful to know the WordPress and Gutenberg versions, active theme, and browser used when this happened.

[2021-08-20 13:10] adamziel commented on #34160
To get even more specific, here are some logs:

[code]

The `<div>`-s are removed via `removeInvalidHTML` in `pasteHandler` as the `schema` does not allowlist them: https://github.com/WordPress/gutenberg/blob/984160d1368695f22222aea4e20527d7699b842c/packages/blocks/src/api/raw-handling/paste-handler.js#L204

[2021-08-20 13:22] adamziel commented on #34160
The following change:
[code]
In https://github.com/WordPress/gutenberg/blob/984160d1368695f22222aea4e20527d7699b842c/packages/blocks/src/api/raw-handling/phrasing-content-reducer.js#L46-L50 seems to solve it and keeps the unit tests happy. I do not have enough context to know if that's actually a good idea, though.

[2021-08-20 13:28] dsifford commented on #34190
Assuming I'm understanding the issue you're speaking of here correctly @dmsnell...

I got around this issue by using typescript module augmentation in a project that I worked on at the time:

https://github.com/dsifford/academic-bloggers-toolkit/blob/master/types/augments.d.ts

A similar strategy was done in several of the DefinitelyTyped repos:

https://github.com/DefinitelyTyped/DefinitelyTyped/

[2021-08-20 13:36] kjellr commented on #25456
Here's another example of the sort of hyper-stylized query layout I'd like to see made possible (eventually) through post date format/style options:

<img width="1200" alt="Frame 17" src="https://user-images.githubusercontent.com/1202812/130241513-af6cdd98-a4f1-49b3-a1b8-60ea30dc0fb8.png">

(Also relevant to https://github.com/WordPress/gutenberg/issues/34192)

[2021-08-20 13:37] adamziel commented on #34164
There are two possibilities here:

1. `event.target` is somehow not an iframe
2. `event.target` is an iframe, but `contentDocument` is null

According to the [HTML Living Standard](https://html.spec.whatwg.org/multipage/browsers.html#concept-bcc-content-document):

[code]

My guess is that the `nested browsing context` is not null because it was just populated, which leaves us with just one possib

[2021-08-20 13:51] guarani commented on #32409
**Update:** In offline discussion with @iamthomasbishop, it was decided to show a [persistent scrollbar](https://reactnative.dev/docs/scrollview#persistentscrollbar-android) on Android and a [flashing scrollbar](https://reactnative.dev/docs/scrollview#flashscrollindicators) on iOS.

[2021-08-20 13:55] willrowe commented on #33142
It would be great if the `[data-align]` wrapper could be removed. It really throws a wrench into displaying things correctly in the editor. In some cases for custom block types it even makes them disappear due to the unexpected styles applied to `[data-align]`.

I would expect the same exact classes (`alignleft`, `aligncenter`, etc) to be applied to the block wrapper, not for the whole block to su

[2021-08-20 14:00] MaggieCabrera opened #34198 "Consider adding form elements to the theme.json elements block"
## What problem does this address?

A theme will want to have a specific design for its form elements that is consistent across blocks (be them core blocks or third-party). Ideally, if the user wants to alter this design, their changes should expand through all affected blocks from Global Styles, not just one by one (if I want my buttons to be red, I want ALL buttons on the site to be red, not jus

[2021-08-20 14:01] adamziel commented on #34174
This seems to only be possible if `start` or `end` is undefined here:

https://github.com/WordPress/gutenberg/blob/7b0736c5a97f770cc931616bd0d5c0e446584590/packages/rich-text/src/split.js#L57-L65

And `typeof string !== 'string'` here:
https://github.com/WordPress/gutenberg/blob/7b0736c5a97f770cc931616bd0d5c0e446584590/packages/rich-text/src/split.js#L19-L22

[2021-08-20 14:22] davecpage opened #34199 "Group inner container restoration can cause duplicate inners to occur with large content to check"
### Description

The regex used in `gutenberg_restore_group_inner_container()` and the corresponding `wp_restore_group_inner_container()` does not appear to work as intended when there is a large amount of inner content. This can lead to the first regex failing to detect the inner__container, leaving the second regex to add a second container. For themes that expect only one, this can cause layout

[2021-08-20 14:37] oandregal commented on #34198
For context, a related conversation is https://github.com/WordPress/gutenberg/issues/34141#issuecomment-902178472

[2021-08-20 14:43] jffng commented on #34141
Yes I think so. We want to provide a default for the button padding that combines a border and padding value, which we need to do via CSS. But we can't lower the specificity of the theme CSS so that global styles inline CSS will win if the user has set a preference here.

It gets a bit complicated by the "outline" block style variation, but maybe that's a separate issue.

Going to re-open this for

[2021-08-20 14:43] xavier-lc commented on #17082
Whenever you tackle this, please remember to add `hasFinishedResolution` and `hasStartedResolution` too! In the meantime, the documentation on https://unfoldingneurons.com/2020/wordpress-data-store-properties-resolvers is an amazing alternative.

[2021-08-20 14:48] oandregal commented on #34141
Makes sense to me, thanks for reopening. Would you mind also updating the issue description to reflect the idea of separating global styles (core, theme) and global styles (user)?

[2021-08-20 14:53] nosolosw commented on #34198
These elements make sense to me as cross-block components.

The only bit I'm unsure about is the button: we already have a button block. Ideally, all complex blocks would use it as an inner block - that will solve the issue. I understand that's not always possible, though. If we create a button element, how would that interact with the styles in the button block? Say we have this:

[code]

What wo

[2021-08-20 14:58] TobyOsborne opened #34201 "Add applyFilters to the Query Block query."
## What problem does this address?
Currently, there doesn't seem to be a way to modify the Query Block query (for the preview in the block editor).

For example, I'd like to create a custom attribute that modifies the query to show different items.

On the frontend this is easily done through pre_get_posts, but I'm having a hard time reflecting it in the block editors preview.

## What is your pro

[2021-08-20 15:03] MaggieCabrera commented on #34198
I wish the button block could be used by other blocks as well, that way when the button block supports hover states, so will the rest of the blocks using it, right? As to the CSS on your example, I would expect it to be the same as the headings, where the styles defined for the block override the ones for the element.

[2021-08-20 15:07] MarcGuay commented on #27164
Related https://github.com/WordPress/gutenberg/issues/2084

[2021-08-20 15:09] lwangdu commented on #34161
This is something to do with enable responsive menu. Also I don't see enable responsive menu option when you create navigation header template section.

[2021-08-20 15:26] Addison-Stavlo opened #34202 "Site Editor Navigation Panel - content previews don't appear."
### Description

In the site editor Navigation panel, we have Theme and Content sections.  In the theme sections when we hover over an item, we see a preview popover.

For the content items, these previews are in the code but do not appear in the editor:
https://github.com/WordPress/gutenberg/blob/59a3b775646f02ac610d6d74424cac36ebbd7cb5/packages/edit-site/src/components/navigation-sidebar/navigat

[2021-08-20 15:41] dmsnell commented on #34190
@dsifford is this essentially duplicating the core types in our own libraries in order to provide the overrides?

[2021-08-20 15:46] dsifford commented on #34190
Not duplicating. Augmenting the existing types to shim in types added by our own libraries. All the existing types work as expected, but, for example, when I type `select("abt/data")` or `dispatch("abt/data")`, I get the completion for my libraries functionality as well.

This is fairly standard and I wasn't turned off by having to add that into my project.

[2021-08-20 15:48] sarayourfriend commented on #34190
FWIW I believe Calypso does the same thing

https://github.com/Automattic/wp-calypso/blob/trunk/packages/data-stores/src/i18n/index.ts#L29:L32

If this is an established and widely used pattern maybe it's worth investing more into it? It seems to work well even if it's not as nice as something that can infer everything from one main store type.

[2021-08-20 15:51] dmsnell commented on #34190
I'm thinking more about how changes to the upstream types cascade down and whether they might break our user-defined augmentations, or be hidden by the same

also, does that handle the cases like `useSelect(select => select('my/store').property())`?

[2021-08-20 16:26] dsifford commented on #34190
Fairly certain that it should.

[2021-08-20 16:27] CHEWX opened #34205 "CSS Output when theme.json is empty"
### Description

[code]

Seeing this when my theme.json is set at:

[code]

### Step-by-step reproduction instructions

Set theme.json to:

[code]

Then view source of a page.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Pre-checks

- [X] I have searched the existing issues.
- [X] I have tested with all plugins deactivated except Gutenbe

[2021-08-20 16:40] pbking opened #34206 "Provide means to enable/disable Global-level configuration of blocks"
## What problem does this address?

While it's (theoretically*) possible for themes (via theme.json) to control what aspects a block has available for user control this disables access BOTH Globally (in the FSE Global Styles 'By Block' panel) as well as Locally (Block instance controls).

Because the two systems (Global ..er.. Global Styles and Local Block Styles) work differently it may be necess

[2021-08-20 17:02] saarahasad commented on #33839
@ciobanu0151 Hello, could you please mention the steps you took to run into this bug, so I could reproduce it and verify the fix? :)

[2021-08-20 18:15] shivapoudel commented on #29605
@gziolo Is there any way we can utilize PostCSS in extended webpack config for RtlCSS just like how @swissspidy has implemented?

Additionally, Its been more than 15 days, can you please push the updates for the npm packages :)

[2021-08-20 18:22] giles14 commented on #11912
I'm still seeing this, when I copy-paste content from another source (including Wordpress editor) after and before using `<strong>` `</strong>` tags.

[2021-08-20 18:37] ellatrix commented on #11912
@giles14 could you please create a new issue?

[2021-08-20 19:27] jffng commented on #34196
This is interesting because it touches on some key benefits of the global styles system — including consolidation, compatibility, and flexibility of styles provided by the theme and blocks.

Being able to register additional CSS selectors would provide more flexibility and address a case like button styling consistency. But I worry about opening up potential for unexpected style clashing due to ne

[2021-08-20 20:41] dmsnell commented on #34190
When I add this augmentation it seems like I have to augment every function I use, which is one of the reasons I was not a fan of this kind of approach. Am I doing something wrong?

[code]

[code]

there are currently eight exports in the `@wordpress/data` file. it seems like it would be a big ask to have every develop re-type every export from every WP package they depend on.

[2021-08-20 20:51] sarayourfriend commented on #34190
@dmsnell I think you only have to overload the `dispatch` and `select` functions as those are the cores of everything else, right?

[2021-08-20 21:21] dsifford commented on #34190
Precisely

[2021-08-20 21:23] eric-michel opened #34210 "Allow creation of a limited list of spacing options for spacing.units"
## What problem does this address?
Getting custom padding, margin, and border controls in Gutenberg is great! But allowing any amount of spacing may be too flexible for some users.

## What is your proposed solution?
Similar to the way font size options can be limited to a dropdown of options, having `spacing.units` in `theme.json` support an array of values would allow us to create a curated list

[2021-08-20 21:31] dmsnell commented on #34190
this feels like a pragmatic approach at a project-level, but I think we'll have the same issue in a number of other packages and I feel like we shouldn't require people to do all that work just to use the core packages.

I've worked in a number of similar situations where the types flowed more gracefully and provided all the benefits but didn't require all the manual (and bug-prone) work.

[2021-08-21 01:43] lvmarks commented on #34148
Hi Héctor,
Sorry for the lack of detail. I know better. I've been on your side of the fence. 
   - Windows 10 Pro x64, Version 20H2
   - Chrome browser (I just updated to 92.0.4515.159, problem occured at the level just before that.)
   - WordPress 5.8 running Elevation Web theme. (Elevation Web was picked to do this by someone else. I am not happy with their work.)
   - Gutenberg Version: No idea

[2021-08-21 03:30] carolinan commented on #28254
I am seeing this problem with all gradients added in theme.json. It is not limited to gradients that use CSS custom properties.

The range slider does not update when a gradient is selected from the swatch. Clicking on the range slider or the type option reverts the gradient to a different one.

WordPress 5.8
Gutenberg 11.3.0.

[2021-08-21 04:38] himanshu007-creator commented on #34146
Hi, i would like to try

[2021-08-21 06:43] sophiegyo commented on #34087
I had no idea that existed until I happened upon this issue myself. Thanks! (Case in point, huh?).  I'd love it if there were a way to make it more obvious, and perhaps one click less to open it. Perhaps the cogwheel icon (that's used for that panel in the full page editor) placed in the toolbar, between the link icon and the block options menu?

Would adding this one in take up too much screen re

[2021-08-21 10:00] maddisondesigns opened #34212 "Post Categories & Post Tags Blocks don't work when inserted into Page"
### Description

The Post Categories & Post Tags Blocks don't work if you insert them into a page.

After adding either of these blocks into your content, you simply get a spinning icon and nothing else. Since I presume these blocks are designed to only work with Post Categories & Tags (based on their name), then they should, at the very least, show a message to the user that they wont work within

[2021-08-21 10:58] creativecoder commented on #34150
It seems that the Background Color selection in Global styles is something slightly different than the Overlay selection in the Cover block.

| **Cover Block Overlay** | **Block specific Global Styles** |
| - | - |
| <img width="268" alt="Screen Shot 2021-08-20 at 17 58 34" src="https://user-images.githubusercontent.com/1699996/130301318-d21aced7-11ce-4ce3-be00-0d6e19942493.png"> | <img width="267

[2021-08-21 14:50] nyanpasu64 opened #34213 "Pressing Delete followed by Enter deletes rest of paragraph"
### Description

When I place the cursor at the end of a paragraph (or empty line), press Delete to merge the next paragraph into the current, then Enter to split the paragraph into two, the original next paragraph's text is deleted instead.

### Step-by-step reproduction instructions

1. Edit a post with two or more paragraphs, and place the cursor at the end of the first paragraph.
2. Press the

[2021-08-21 15:18] nyanpasu64 opened #34214 "Copying and pasting text in a paragraph block surrounds with spaces"
### Description

When I copy and paste text in certain blocks (including paragraph), it gets surrounded by spaces upon paste.

### Step-by-step reproduction instructions

1. Edit a post with a paragraph.
2. Copy text in the paragraph.
3. Paste text.

Paragraph, heading, and quote citation blocks experience this bug. Quote bodies and page titles do not get surrounded by spaces. Text pasted from out

[2021-08-21 15:30] nyanpasu64 opened #34215 "Firefox: Pressing Up arrow takes you two lines up, if cursor is at beginning of second line of paragraph"
### Description

In a multi-line paragraph, if the cursor is at the beginning of the second line, pressing Up takes you two lines up instead of one. (Gutenberg acts as if the cursor was still within the first line.)

### Step-by-step reproduction instructions

1. Edit a post with any block (quote, paragraph...) followed by a paragraph.
2. Place the cursor at the second line of the following paragr

[2021-08-21 17:26] starapple2 commented on #17553
At least they could set a prompt to "Paste as plain text?"

[2021-08-22 02:02] carolinan opened #34216 "Theme.json -Adding color to the search block changes the wrong element"
### Description

In the editor, the color options for the search block changes the submit button in the form.
But when you add colors using theme.json, the colors are added to the form element.

_In addition, the color contrast warning is always visible in the editor no matter what colors are selected._

### Step-by-step reproduction instructions

1. Add a theme.json with colors for the search blo

[2021-08-22 03:11] carolinan commented on #33905
I was very surprised when I learnt that this did not already work, how can we assure that this is included in the MVP's of any new color features?

[2021-08-22 04:54] webtrainingwheels commented on #23721
In the current state of the image block, Edit would be more appropriate.

To @paaljoachim's point above, and also seen in this thread: https://wordpress.com/forums/topic/i-need-help-with-cropping-an-image-in-my-blog-post-using-the-block-editor/, the Crop icon is very misleading because there isn't a true crop function on the image block. The gridlines and crosshair cursor imply that you should be

[2021-08-22 09:18] carolinan commented on #34205
These default presets are available even if you disable the editor control for the color font size.
It is not possible to remove them by using theme.json.
This is on purpose, to make it easier for users to switch themes without the colors breaking.
For example when switching from a theme without a custom palette, to a theme that has a custom palette.

[2021-08-22 11:06] paaljoachim commented on #32307
Environment:
WordPress 5.8.
None default theme.
Various plugins activated.
Chrome

When the [SEO Framework plugin](https://wordpress.org/plugins/autodescription/)  is activated along with Gutenberg 11.3.0
I also get the "The editor has encountered an unexpected error"

I posted on the SEO Framework plugin forum the following (comment is held for moderation on the support forum):

Hey

I noticed to

[2021-08-22 13:12] CHEWX commented on #34205
A theme is chosen with styles linked to it. If a user changes a theme, why would you allow the styles to not change? Does that mean every theme requires a default set of styles? If so, where is this list?

[2021-08-22 17:37] mrfoxtalbot opened #34217 "Page List block inside Vertical Navigation block shows horizontally"
### Description

The Vertical Navigation Block will display its items horizontally if we select the "List All Pages" option. This seems to be coming from the fact that that "Page List Block" is being used there.

![Screen Shot on 2021-08-22 at 19:26:33](https://user-images.githubusercontent.com/4452464/130364371-26326c1a-45f4-4b8c-b5b4-2de9bf038f35.png)

If we select individual pages (or any other

[2021-08-22 19:49] paaljoachim commented on #32307
I heard back from Sybre Waaijer in this thread:
https://wordpress.org/support/topic/the-editor-has-encountered-an-unexpected-error-46/#post-14793573

He mentioned these things:

EDIT: 26 Aug.
Sybre the author of the SEO framework has updated the plugin.

[2021-08-23 00:50] kopepasah opened #34218 "Custom Capability Types Produce Unexpected Permissions and Errors"
### Description

When working with Custom Post Types and Custom Capabilities, a role with the necessary capability to "contribute" to a Custom Post Type sees a blank screen when visiting the Block Editor.

# Questions to Answer

1. Is it not possible to have a Custom Contributor role which has access to the Block Editor?
2. What are the capabilities required to create a Custom Capability which mim

[2021-08-23 02:06] andrewserong opened #34219 "New Progress Bar block (or a core-blocks approach to building a progress-style block pattern)"
## What problem does this address?

Many different types of sites use a progress bar or progress meter of some kind to communicate progress toward a goal, that is difficult to recreate using core Gutenberg blocks.

Examples of use cases for a progress bar include:

* Number of signatures for a petition
* Number of donations for a fundraising campaign
* Number of words to a word count target (think

[2021-08-23 03:00] ramonjd commented on #34219
Great idea! 🍺

`<meter />` might be an appropriate element to exploit ([MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter)).

Even if it were a component so folks could compose custom progress blocks and patterns.

Styling `<meter />` always been tricky if I remember though. I suppose it's improved in the intervening years 😆

[2021-08-23 04:01] carolinan commented on #34205
I don't have the link to the original PR where this change was discussed and made, but you can search for it. It explains it better than I can.

You can follow the current discussion about naming color properties here:
https://github.com/WordPress/gutenberg/issues/29568

[2021-08-23 04:14] getsource commented on #32024
Thank you, this looks great! I'll take a look, test, and leave a comment on the core tickets as well today.

[2021-08-23 08:11] nosolosw commented on #34198
I'll let other people share their thoughts. It seems this could be useful, in my view. I'll have to see specific examples for the button, but that's something that can be explored in a specific PR with a theme that uses the core button and addresses buttons as elements.

[2021-08-23 08:30] gziolo commented on #29605
I have no idea personally. We use `MiniCSSExtractPlugin` (recommended in webpack 5) that is the replacement for `ExtractTextPlugin` that `RtlCSSPlugin` seems to be based on.

I have just published to npm a new version of updated WordPress packages, including a new major version of `@wordpress/scripts` that is now on webpack 5.

[2021-08-23 08:43] swissspidy commented on #29605
`RtlCSSPlugin` works just fine with `MiniCSSExtractPlugin`. `RtlCSSPlugin` is not _based on `ExtractTextPlugin`_ or anything.

[2021-08-23 09:03] gziolo commented on #29605
@swissspidy, I misread their description which is:

Anyway, it would be great to finally integrate RLT support 👍🏻

[2021-08-23 09:32] getdave opened #34223 "Nav Editor menu title doesn't support special characters"
### Description

In the new Navigation Editor screen, if you create a menu with a character such as an apostrophe then it will render incorrectly.

### Step-by-step reproduction instructions

1. In new Navigation Editor screen - create menu with title `Dave's Menu`.
2. Save.
3. See Menu title is not rendered correctly.

### Screenshots, screen recording, code snippet

<img width="1098" alt="Screen

[2021-08-23 10:10] getdave opened #34224 "Nav items of fixed "type" retain ability to enter a custom URL."
## What problem does this address?

On the current screen if I add a "Page" item it remains as a "Page" item which is always locked to the URL represented by that Page entity. In the new editor the UI affords the ability to edit the URL to be anything. Therefore I can create an item with a specific type, but then update the URL to be something else entirely. This becomes very confusing.

## What i

[2021-08-23 10:12] jasmussen commented on #28644
From looking at the ticket linked, a Cloudflare firewall issue was suggested as a potential issue. In any case for now I'm going to close this one, but if new information arises or if anyone is able to confirm or provide reproducible steps, don't hesitate to comment and we'll reopen.

[2021-08-23 10:12] #28644 closed

[2021-08-23 10:17] getdave commented on #23573
<img width="1278" alt="Screen Shot 2021-08-23 at 11 15 29" src="https://user-images.githubusercontent.com/444434/130431167-8065db35-df02-47e3-8487-65f6db70e29c.png">

Just noting that this is still not handled by the Nav Editor screen. Added to the tracking issue https://github.com/WordPress/gutenberg/issues/29102.

[2021-08-23 10:19] getdave commented on #31813
Noting here for the purpose of prioritisation that multi-saving of menus is not currently supported by the existing Navigation screen either. You must `Save` before you switch to editing another menu else your changes are lost.

[2021-08-23 10:23] getdave commented on #23583
Noting here for the purposes of prioritisation that the existing Navigation screen seems to have **a hard limit of 11 levels of nesting**. After that you cannot nest further.

https://user-images.githubusercontent.com/444434/130432001-ec2cbdc0-9b10-45aa-9bcd-719aa227bcc8.mp4

Now the new Navigation screen is in vertical orientation it _does_ in fact handle nesting but there are UI/UX refinements n

[2021-08-23 10:37] getdave opened #34225 "Nav item toolbar too far removed from nav item block"
## What problem does this address?

On the Nav Editor screen we are using the experimental "capture toolbars" functionality to "pin" the block toolbar for the nav item blocks to the position occupied by the parent Navigation block.

This was a good idea when the Nav Editor utilised a horizontal layout but now it's vertical this provides a sub-par UX given that the toolbar is not often visually div

[2021-08-23 10:46] adamziel commented on #33810
@gziolo actually, let's talk about API endpoints again. In particular, this case here: https://github.com/WordPress/wordpress-develop/pull/1508#issuecomment-903459422

tl;dr: we need a way to render a widget preview via the API. We could either introduce a new endpoint, or update one that already exists. I lean towards the latter. How would you do it with polyfills?

I had two ideas, but both fail

[2021-08-23 10:47] getdave opened #34227 "Add ability to create a new navigaition menu with a single click"
## What problem does this address?

The existing Navigation screen has a means to create a new menu from a single click. The new screen is a two step process of finding the "hidden" button in the dropdown and then clicking.

## What is your proposed solution?

Add a button to the top toolbar saying "Create new Menu".

## Screenshot

### Existing
<img width="1116" alt="Screen Shot 2021-08-23 at 11

[2021-08-23 10:52] jasmussen commented on #34056
I can't reproduce this. Looking at the video (thank you!) the issue appears to have been the same issue where the navigation margin between items would collapse entirely, which was fixed by #33021. That bug would likely have affected the space-between option as well.

Are you able to test the latest plugin version to see if this was fixed?

[2021-08-23 11:03] jasmussen commented on #34097
Wild one, thanks for the ticket. This one was hard to reproduce, it required the navigation block to be inside a colunms block first — though presumably any nesting container would cause it, as we currently have a `position: relative;` rule applied to any block, which would reset the z-index hierarchy.

Three ways to fix it: 1 — refactor the spacer block to not have a z index. But I recall it bein

[2021-08-23 12:03] CyberDomovoy commented on #27144
Hi there.

Since i haven't seen it mentioned, i thought i'd brought it up:
Why limit the choice to php or html?
Why not simply create an xml format for wordpress templates?

[XML standard](https://www.w3.org/TR/xml/)

Benefits of xml:

- Quite extensible and powerful (_Extensible_ Markup Language) (just take a look at what can be done with [xslt](https://www.w3.org/TR/xslt-30/))
- Possibility to l

[2021-08-23 12:51] getdave opened #34232 "Ability to bulk select non (immediately) adjacent sibling Nav items"
## What problem does this address?
The existing Navigation screen allows for selecting multiple nav items that are not immediate siblings and removing them in one go. The new screen only allows this for immediate siblings but does not work if you have to select items that are not next to each other.

## What is your proposed solution?
Update block selection mechanic to allow for selecting multiple

[2021-08-23 12:56] getdave opened #34233 "Ability to ascertain nav item "type" without having to select each Nav item"
## What problem does this address?
On the new Navigation screen unless you click on an individual nav item (and you have the sidebar open) it's not possible to tell at a glance what the "type" (eg: Post, Page, Category...etc) of a given nav item is.

The existing Nav screen as indicators next to each item.

## What is your proposed solution?

Add some kind of indicator inline without having to cli

[2021-08-23 12:58] pkvillanueva commented on #31913
I am the author of all Gutenberg commits from patrick@artbees.net.

[2021-08-23 12:59] getdave opened #34234 "Improve UX for nesting navigation items via drag / drop"
## What problem does this address?
The existing Navigation screen allows you to drag items horizontally in order to nest them. This isnt supported by the new screen even in the "List view" (which is accessible via the Nav block toolbar itself).

## What is your proposed solution?
Either implement a similar drag to indent UX or a new control in the block toolbar to allow items to be nested (a bit l

[2021-08-23 13:09] getdave opened #34235 "Add integration test to cover handling of spaces on paste in Windows"
As @ellatrix suggests in https://github.com/WordPress/gutenberg/issues/33607 we can add an integration/unit test to cover this and avoid further regresssions. It doesn't have to be a Windows-specific test.

---------

Could you please add an integration test?

_Originally posted by @ellatrix in https://github.com/WordPress/gutenberg/issues/33607#issuecomment-898885453_

[2021-08-23 13:12] cpiber opened #34236 "scripts: Unknown command or entry 'index=./src/frontend/index.js'"
### Description

Related to webpack v5 migration: #33818.

Using the latest `@wordpress/scripts` (18.0.0), building with a custom entry point is not possible (`npx wp-scripts build ./src/frontent/index.js`).

[code]

Works normally without the optional path.

Works as expected in 17.1.0.

### Step-by-step reproduction instructions

1. Install `@wordpress/scripts@latest`
2. Run `npx wp-scripts buil

[2021-08-23 13:13] getdave commented on #24683
This is the format used by the Widgets Editor

[code]

Therefore we should _probably_ follow the same format, namely:

[code]

⚠️ We're not _guaranteeing_ this at this point however. The opt in/out strategy might need to be different for the Nav Editor.

[2021-08-23 13:23] gziolo commented on #34236
It looks like webpack 5 handles entry points differently when passed through CLI:

https://webpack.js.org/api/cli/#entry

vs

https://v4.webpack.js.org/api/cli/#usage-without-config-file

It's very likely that we can remove special handling added for webpack 4 from:

https://github.com/WordPress/gutenberg/blob/9e3be448664646245c875baa01539a7bd96ee99a/packages/scripts/utils/config.js#L112-L142

[2021-08-23 13:25] getdave commented on #23583
Turns out if you know about the "list view" feature of the Nav block then you can see all nested levels:

https://user-images.githubusercontent.com/444434/130454977-a95e7d5b-9160-4a8c-b54e-1b17a8c93127.mov

<img width="1278" alt="Screen Shot 2021-08-23 at 14 23 17" src="https://user-images.githubusercontent.com/444434/130454830-ef7489a1-d6cd-403a-ba3d-91fe080b9303.png">

This makes me think the Is

[2021-08-23 13:45] shivapoudel commented on #29605
@gziolo Yeah it will be great to introduce RTL support for third-party plugin developer's to utilize core webpack config :)

[2021-08-23 13:53] markhowellsmead opened #34237 "Cannot add reusable blocks to a widget area (“sidebar”)"
### Description

Editorially-created reusable blocks are not available in widget areas. (With or without the Gutenberg plugin in use.)

### Step-by-step reproduction instructions

1. Navigate to a widget area.
2. Use the block selector options (including slash).
3. Reusable blocks are not available.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

- WordPress

[2021-08-23 14:08] cpiber commented on #25717
I have the same problem.

Full docker-compose logs:

[code]

`2021-08-23 13:58:09 3 [Warning] Aborted connection 3 to db: 'unconnected' user: 'unauthenticated' host: '172.26.0.6' (This connection closed normally without authentication)` specifically looks a bit odd, are the db and user values correct?

This works fine on my machine in version 3.0.0 and 4.0.0, but not 4.1.0

[2021-08-23 14:09] #34202 closed, assigned to Addison-Stavlo

[2021-08-23 14:12] javierarce commented on #23583
As a big proponent of the top bar, I'd say that that could be the ideal place to put that icon (so +1 to your last suggestion).

And I think we could address the "UI/UX refinements" of the menu items you mentioned [here](https://github.com/WordPress/gutenberg/issues/23583#issuecomment-903639516) in the issue https://github.com/WordPress/gutenberg/issues/34035

[2021-08-23 14:48] annezazu commented on #34056
Thanks for digging in, Joen! I just tested this 11.3 and am still able to replicate. Perhaps I'm confused by the expected outcome? Would love your further insights:

https://user-images.githubusercontent.com/26996883/130467746-970ac226-6fef-4e49-9501-dc0038bcb973.mov

Of note, you'll notice a separate documented issue where the save prompt doesn't consistently get triggered: https://github.com/Wor

[2021-08-23 15:06] richtabor opened #34238 "I should be able to rearrange colors within the Global Style color palette"
## What problem does this address?
Currently if I add colors and want to change the order in which they appear within the ColorPalette component, I have to completely remove colors are re-add them. A scenario that this is useful is where a user adds a variation of an existing color, but the new color is appended to the end — out of line from the logical color progression/organization.

## What is

[2021-08-23 15:21] critterverse commented on #33988
Thanks for the thoughtful notes @jasmussen and @annezazu, and apologies for the slow reply! Expanding on some of these ideas based on your feedback, below.

Where the dot indicator really comes in handy with Reusable block and Template part toolbars is within the parent selector — this implementation brings visibility to the unsaved change as soon as you’ve edited the inner block (while the Save b

[2021-08-23 15:28] Soean opened #34239 "Scripts: Filename changes to main.js when ouput-path parameter is added"
### Description

Related to webpack v5 migration: #33818.

If I add a `output-path`, the build files are renamed to `main.js` and `main.asset.php`. Without the parameter, the filename doesn't change.

### Step-by-step reproduction instructions

`wp-scripts build --entry ./src/index.js --output-path=custom`

### Environment info

- WP Scripts 18

[2021-08-23 15:40] HamletHat commented on #26123
Has anyone had any luck getting around this while using the 'Latest Posts' block?

[2021-08-23 15:53] oandregal opened #34240 "Border radius not working for the button block"
### Description

When a theme provides a border-radius via `theme.json` the styles are not enqueued. Comes from https://github.com/WordPress/gutenberg/pull/34180#issuecomment-903625767

### Step-by-step reproduction instructions

- Add this to the empty theme:
[code]

- Create a new post that contains a button.
- The expected result is that both in editor and front doesn't have rounded borders.

#

[2021-08-23 15:53] oandregal commented on #34240
cc @aaronrobertshaw @ramonjd

[2021-08-23 16:17] richtabor commented on #33180
Agreed @skorasaurus — I've been exploring `...--spacing--baseline`

I'm also looking at `...--spacing--baseline-lg` for some scenarios as well, such as additional padding for when a core/group block has a background color and is `alignfull`.

[2021-08-23 16:17] #34217 closed, assigned to jasmussen

[2021-08-23 16:25] #34161 closed, assigned to jasmussen

[2021-08-23 16:27] scruffian commented on #33288
In addition to this, it would be useful to be able to add an arrow (like →) to the link...

[2021-08-23 16:29] jasmussen commented on #34097
This issue should be fixed by #34228.

[2021-08-23 16:29] #34097 closed, assigned to nobody

[2021-08-23 16:40] oandregal opened #34242 "Block style variations: make sure the name does not contain spacing before creating the class"
### Description

This was reported in [slack](https://wordpress.slack.com/archives/C02QB2JS7/p1629731076397000) (link requires registration).

The process of generating a class for a style variation is not checking for spaces.

### Step-by-step reproduction instructions

- Add a style variation such as (note the spacing in the name):

[code]
- When this style variation is selected by the user the

[2021-08-23 16:53] annezazu commented on #34097
💥 incredible, per usual @jasmussen. Thank you for your quick and thoughtful work.

[2021-08-23 18:21] critterverse commented on #33988
Quick and dirty motion test!

![motion-test](https://user-images.githubusercontent.com/77359364/130497069-10bc90aa-9d50-4ecd-8af8-bbdcb7649835.gif)

[2021-08-23 18:33] draganescu commented on #13690
Howdy @collimarco The Navigation block is still considered experimental and it exists only when using the Gutenberg plugin. Right now the new block is on track for WordPress 5.9 to be released out of experimental and available as a core block in standard WordPress installations.

[2021-08-23 21:26] milkcask commented on #17970
There appears to be a dated assumption that go against i18n best practices. I'm going to add a new prop for date format preference and break that assumption.

[2021-08-23 21:26] felixarntz commented on #33578
I love this idea - highlighting performance and potential issues as part of the content creation flow makes sense.

This is a great consideration - I think it would be vital to include unpublished posts, since highlighting performance problems may be most impactful when done before publishing. We could go down the route of a temporary token (like [Public Post Preview](https://wordpress.org/plugins

[2021-08-23 21:46] paaljoachim opened #34244 "Site title block: Remove one by one letter until the last letter is removed. Site title is reset."
### Description

Using the Site Editor TT1.
Clicking into the Site Title and removing one by one letter until all letters are removed. The original Site title name is suddenly back.

### Step-by-step reproduction instructions

1. Go to the Site Editor using TT1.
2. Remove the existing Site Title block. Add it back in again. (Probably not needed but this is what I happen to do.)
3. Click into the S

[2021-08-23 22:16] paaljoachim opened #34245 "Highlighting column icon in toolbar to reflect which nested column is selected?"
## What problem does this address?
There is no visual to show which column one has selected. Yes one can assume by clicking all the way to the left that column one is selected. Clicking a little to the right that column 2 is selected etc.
But there is to clear way to know which column is currently selected.

## What is your proposed solution?

Here is the Header template showing a dark top part.
!

[2021-08-23 22:28] paaljoachim opened #34246 "Navigation block: Start writing to automatically add a custom link"
## What problem does this address?
One has to add a block to the Navigation block.

## What is your proposed solution?
Click the black inserter icon and start writing and automatically have the option to add a custom link.

Going from this:
![Screen Shot 2021-08-24 at 00 24 46](https://user-images.githubusercontent.com/5323259/130527262-c94259c3-747a-4002-ab88-8d178b215654.jpg)

To this:
![Auto-Ad

[2021-08-23 22:41] paaljoachim opened #34247 "Click into the Nav block area and write. Have link box show up."
## What problem does this address?
Adding a block to the Navigation block.

## What is your proposed solution?
Click into the Nav field and write (as if it was a paragraph/heading block). Have the link control box show up and give alternatives.

Mockup example. User writes the example word custom and stops writing and the link control shows up to give alternatives.
![Just-write-have-link-control-s

[2021-08-23 23:00] paaljoachim opened #34248 "Right column toolbar outside document canvas"
### Description

TT1.
3 columns.
The right most column. Adding a Nav and search block these show outside the document screen when the browser window is at 1600px or smaller. Chrome OSX.

### Step-by-step reproduction instructions

1. Use TT1
2. Add three columns to the Header template area.
3. Select Column 3.
4. Add a Navigation block and a search block inside it.
5. Notice when either the Nav or

[2021-08-23 23:09] paaljoachim commented on #34246
Actually  if one writes the name of an existing page/post then one could have the option to add it to the Nav block.

[2021-08-23 23:32] milkcask opened #34250 "Create an hour-and-minute only TimePicker; rename existing TimePicker"
## What problem does this address?

The existing TimePicker operates on a full timestamp that points to a specific moment. In many use cases, we expect hour and minute inputs only, and dates could be indefinite or inapplicable.

## What is your proposed solution?

We need an hour and minute picker similar to time-picker at baseweb https://baseweb.design/components/time-picker/ .

Additionally, the

[2021-08-24 00:56] sybrew commented on #27194
Gutenberg 11.3 shows this issue. When unsetting `line-height` from the select/dropdown, the character no longer gets stripped.
This is an issue with Blink (Chromium), not Webkit (Safari).

Similar: <https://github.com/woocommerce/woocommerce/issues/24731>

[2021-08-24 01:51] aaronrobertshaw commented on #34240
Initially, I thought this was related to the issue where block support styles that are applied after skipping serialization couldn't target the correct element.

Turns out the generation of styles from the theme.json filtered out `empty()` values which caught `"0"` as well.

A PR to fix this is now available: https://github.com/WordPress/gutenberg/pull/34251

[2021-08-24 02:44] #34240 closed, assigned to aaronrobertshaw

[2021-08-24 02:55] jordesign opened #34252 "Block Widgets: YouTube widget does not show embed preview"
### Description

Youtube Widget does not show a preview of the embedded video within the Block Widget Editor in the customizer. The block/widget itself is there - but with no preview it is *very* difficult (near impossible) to select.

### Step-by-step reproduction instructions

1. Open the Customizer > Widgets and add a new YouTube widget.
2. Enter YouTube url into the field and embed.

### What

[2021-08-24 03:24] jordesign opened #34253 "Navigation block: allow for collapsed (i.e. responsive) vertical menus on desktop/tablet"
## What

Allow for drop-down menus, akin to HTML select boxes

## Why

In instances where a user is trying to add a vertical menu, and they might just like a select box, this would be helpful. Just a plain, ordinary drop-down.

For example, I am trying to create multiple group blocks, each with their own title and menu below. A drop-down would be useful here to ensure that each group remains in pr

[2021-08-24 03:32] benknight commented on #13998
My own version of @MoOx's fix. It's better to avoid using a fullscreen iframe and just do a redirect:

[code]

[2021-08-24 03:34] talldan opened #34254 "Navigation Block: dragging a block in List View modal causes the modal to close unexpectedly"
### Description

As soon as a user drags a block in the List View modal it closes unexpectedly.

This feature worked when the drag and drop feature was introduced, so this appears to be a regression.

### Step-by-step reproduction instructions

1. Add a navigation block with some links inside it
2. Select the navigation block and open the list view from the block's toolbar
3. Try dragging one of t

[2021-08-24 04:17] andrewserong commented on #34120
Thanks for reporting this @philbuchanan, for the particular blocks affected, was it just the Cover block you noticed the issue with? It sounds like for a short-term fix, we might be able to check the `customFontSize` setting in the Cover block before setting the innerblocks template, and then set the `fontSize` attribute only if the setting hasn't been disabled.

[2021-08-24 04:53] talldan commented on #34232
Related https://github.com/WordPress/gutenberg/issues/2320, https://github.com/WordPress/gutenberg/issues/16797

[2021-08-24 05:08] andrewserong commented on #34149
Thanks for reporting @porg, I can reproduce the issue (uploaded files via the Media Library respect the whitespace characters in the filename for the media title, whereas when dragged into the block editor, the title is transformed to kebab-case). I also noticed that the conversion to kebab case in the media title happens when I upload an image via the Image block's placeholder in the editor, so i

[2021-08-24 05:33] ramonjd commented on #34162
For theme-specific support, it might be worth pinging the folks over in https://wordpress.org/support/theme/astra/, or the [theme authors themselves](https://wpastra.com/contact/).

This article also might be helpful, https://wpastra.com/docs/enable-astra-widget-design-options/

[2021-08-24 05:35] porg commented on #34149
Updated issue title according your new findings that it's Gutenberg in general, via both methods (drag-n-drop + upload-button).

[2021-08-24 05:40] ramonjd commented on #34193
Hi! Thanks for creating this issue.

Playing around with the inserter, I do see that the dialog does increase/decrease in height depending on how many block and patterns appear in the search results.

<img width="372" alt="Screen Shot 2021-08-24 at 3 38 48 pm" src="https://user-images.githubusercontent.com/6458278/130561925-87d90000-a88e-4ae7-810e-cdfd01845e7a.png">

Are there any specific improve

[2021-08-24 05:47] talldan opened #34255 "Navigation editor: Menu switcher doesn't show after deleting a menu"
### Description

The change implemented in https://github.com/WordPress/gutenberg/pull/29201 seems to have regressed.

### Step-by-step reproduction instructions

1. Visit the navigation editor
2. Make sure you have at least three menus, if not create some menus
3. Delete one

Expected: the menu switcher is shown
Actual: another menu is shown

### Pre-checks

- [X] I have searched the existing iss

[2021-08-24 05:49] Mamaduka commented on #27103
I recently refactored the `<PostAuthor/>` component, which reduced the number of REST API requests -  #33695.

But it would be interesting to see the "on-demand" pattern for data fetching. It can be useful for other components too.

[2021-08-24 06:00] ramonjd commented on #34214
I think this has been resolved by https://github.com/WordPress/gutenberg/issues/33283

The latest version of Gutenberg should have the fixed included. Could you test with 11.3 and try again?

Thank you!

[2021-08-24 06:20] Mamaduka commented on #34255
Thanks for catching this, @talldan.

I might have introduced this regression with #31320. I will have a look at a possible fix tomorrow.

[2021-08-24 06:47] jasmussen commented on #34248
Is this a duplicate of https://github.com/WordPress/gutenberg/issues/34053?

[2021-08-24 06:55] paaljoachim commented on #34248
Great! I was sure I made a duplicate! Thanks Joen!

[2021-08-24 06:55] #34248 closed, assigned to nobody

[2021-08-24 06:59] talldan commented on #34237
Thanks for reporting. This is already tracked in https://github.com/WordPress/gutenberg/issues/32952, so I'll close your issue.

[2021-08-24 06:59] #34237 closed, assigned to nobody

[2021-08-24 07:11] aaronrobertshaw opened #34257 "ToolsPanel: Refining the component's behaviour"
## What problem does this address?
Now that the new `ToolsPanel` has been [merged](https://github.com/WordPress/gutenberg/pull/32392) there’s been a few questions or concerns raised about its UX.

The plan has always been to iterate on its behaviour and polish the panel ahead of 5.9. This issue aims to collect comments or feedback from across several PRs, issues or channels and help focus the disc

[2021-08-24 07:13] jasmussen commented on #34056
Thanks for the added test instructions! The key bit was having _few_ menu items, and I believe #34258 fixes it.

[2021-08-24 07:49] gziolo commented on #34239
There is a similar issue reported related to how entry points are handled with webpack 5: https://github.com/WordPress/gutenberg/issues/34236.

It looks like the following doesn't work anymore with the latest major version of `@wordpress/scripts`:
[code]

[2021-08-24 08:07] mtias commented on #34247
Closing as superseded by https://github.com/WordPress/gutenberg/issues/34041#issuecomment-900181007

[2021-08-24 08:07] #34247 closed, assigned to nobody

[2021-08-24 08:23] javierarce commented on #34227
+1 to adding a button in the top bar https://github.com/WordPress/gutenberg/issues/31241

![image](https://user-images.githubusercontent.com/4933/130582549-f8b586ff-7428-40f2-9342-f17f19da9f0d.png)

[2021-08-24 08:34] paaljoachim commented on #34247
Ahh nice. Thanks for sharing Matias!

[2021-08-24 08:35] jasmussen commented on #34257
Good ticket, thank you. Thanks for trying the current behavior.

The checkbox behavior in the ellipsis menu seems to be the primary source of confusion. Let's walk through how it could work instead:

- If a paragraph block says font-size is visible by default then the user should not be able to make it disappear ever. I.e. a default panel should never disappear on reset so the behaviour of reappea

[2021-08-24 08:56] jessinrodenburg-vidda opened #34259 "javascript error in wordpress dashboard after updating"
### Description

Hi,
After updating our wordpress version from 5.5 to 5.7.2, and our gutenberg version from version 6.5 to 7, I get a bunch of javascript errors in the wordpress dashboard when loading the page. The front-end is working fine, but the back-end isn't.

Uncaught (in promise) TypeError: Cannot read property 'attributes' of undefined
    at Kt (index.js?ver=3deacae6795ed645d5fb4c107d4ca

[2021-08-24 09:16] jasmussen commented on #34246
I'm not sure this is the best idea as it dilutes the experience of the quick inserter as a tool to insert _blocks_. There's a great ticket in https://github.com/WordPress/gutenberg/issues/34041 that discusses the same problem but where solutions a few other solutions are explored. Should we close this one in favor of that, you think?

[2021-08-24 09:21] oandregal opened #34260 "Global Styles sidebar: allow reseting the value of the line-height provided by the user"
We're adding the theme's value coming from `theme.json` to the UI controls at https://github.com/WordPress/gutenberg/pull/34178

In the post editor, the user can reset the line-height value by clearing the field. In the site editor (global styles panel) the user can't do the same unless it resets all the values.

[2021-08-24 09:21] oandregal commented on #34260
FYI @aaronrobertshaw @ramonjd

[2021-08-24 09:44] CHEWX commented on #34205
I'm still not following, if my theme doesn't use custom properties, why are we shipping every HTML page with these unused CSS variables? It's adding unnecessary page weight which is set at a theme level.

[2021-08-24 09:44] ciampo commented on #21584
Should we consider adding an Accordion component to the `@wordpress/components` package, which then can be reused across the repository (i.e in the Accordion block, the Navigation block #29747...)?

[2021-08-24 09:47] ciampo commented on #29747
Crossposting from https://github.com/WordPress/gutenberg/issues/21584#issuecomment-904490619 — Should we consider adding an Accordion component to the @wordpress/components package?

[2021-08-24 09:54] mcsf commented on #27144
Thanks for the thoughtful proposal. For now I'll just comment on the XML aspect, but there are other pertinent points in your comment. :)

It's not wrong that what we are doing with this HTML-based block format is close to what XML might offer. But, even if the two formats are morphologically identical, there is a fundamental difference: Gutenberg's approach affirms HTML — in other words, the prin

[2021-08-24 09:55] ciampo commented on #33820
Notes from the initial round of feedback:

For the primitive component that represents a color, we proposed the name `ColorSwatch` — we’d prefer to move away from the “circle” and “circular” naming because they tie us to a particular presentation choice without conveying anything meaningful about the behavior of the components. While G2's `ColorCircle` used an `isInteractiveprop` to determine whet

[2021-08-24 10:50] ciampo commented on #34257
Premise: I have only been involved in the review of the `ToolsPanel` PR (and not in prior conversations).

To me, the main source of confusion is that the same interaction/piece of UI causes 2 separate outcomes: "visually show/hide a control", and "reset the control's value".

A better solution may be to have two clearly separate pieces of UI: one for toggling visibility, and one for resetting val

[2021-08-24 10:57] Mamaduka commented on #34223
@getdave, I can create a fix for this one later today unless you're already working on it.

[2021-08-24 11:41] CyberDomovoy commented on #27144
Sorry but... imho, the resulting templates are far from _functional_ HTML:

- no head, title... elements
- with the majority of it being _comments_ what is left to display by an HTML parser?

On the other hand, most HTML parsers are also capable of displaying XML, provided you give them a [stylesheet](https://www.w3.org/TR/xml-stylesheet/). Some of them are even able to handle XSL (those are linke

[2021-08-24 11:56] ashfame opened #34262 "Pasting text into a list block copied from a paragraph block is broken"
### Description

Hi, Tested this on a fresh WordPress install with no plugins.

Any text that you copy from a paragraph block or a heading block, it probably copies some meta data along with it, which when pasted in a list item of a list block, prevents the paste operation from working. Nothing happens. Works fine if pasting in paragraph block or heading block.

In browser console, I do see logs `

[2021-08-24 12:21] liviopv commented on #34252
Loading the Block Widgets editor from `/wp-admin/widgets.php` shows the Youtube Blocks correctly.

I'm seeing this error in the console, which seems to be related:

`customize.php:1
Refused to execute script from 'https://artists.youtube.com/' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.`

[2021-08-24 12:29] #34259 closed, assigned to nobody

[2021-08-24 12:31] jessinrodenburg-vidda commented on #34259
solved, after going through the plugins again I found the issue with yoast. Keeping this in here for other people to know: Check your plugins first!

[2021-08-24 12:32] mcsf commented on #27144
I should clarify: a) I was talking more from the perspective of the post itself rather than the templates, and b) by functional I meant that they are functional _fragments_ of HTML (and could be understood by humans and machines alike), rather than documents.

Templates on their own, while they _could_ be mostly made up of actual HTML, I think of them more as very (intentionally) simple macros. Bu

[2021-08-24 12:36] aaronrobertshaw commented on #34260
Thanks @nosolosw for the ping 👍

I haven't had the chance to review the code in https://github.com/WordPress/gutenberg/pull/34178 closely yet but hope to do so soon.

To clarify, I believe the issue with resetting the line-height control is only within the Global Styles. In the block editor, simply clearing the field leaves the theme.json as the field's placeholder.

#### Steps to replicate.

1. U

[2021-08-24 12:41] jasmussen commented on #18395
I took a look at dropdown menus across a slew of websites to see what the most common behaviors for opening on click or hover are. Overwhelmingly the behavior falls in two categories:

1. **Hover**: submenus open up on hover and the parent item links to a destination. For example, hover "Kids" and click "Sneakers" to go to `/kids/sneakers`, or just click "Kids" to go to `/kids`.
2. **Click**: subm

[2021-08-24 13:05] CyberDomovoy commented on #27144
Thanks for clarifying the _fragment_ vs _document_ point, it is actually a _very important_ distinction.

Imho, this is achieved with "wordpress blocks as a namespace". The layout is html, the current "blocks as html comments" become "blocks as elements of the wordpress namespace".

What i propose doesn't imply starting from a clean slate, it's merely using _namespaced elements_ in the html, inste

[2021-08-24 13:45] draganescu commented on #33580
We could simply hide in a div any output?

[2021-08-24 13:46] adamziel commented on #33104
Let's continue in https://core.trac.wordpress.org/ticket/53993

[2021-08-24 13:46] #33104 closed, assigned to nobody

[2021-08-24 13:53] #34016 closed, assigned to jasmussen

[2021-08-24 13:53] #34056 closed, assigned to jasmussen

[2021-08-24 13:56] getdave commented on #33969
For the purposes of removing the "experimental" status on the Navigation Editor, we agreed we would disable the theme opt-in from the screen until core developers have had enough time to improve the feature. That means no additional blocks.

Can we reframe this issue around that or create a new issue?

[2021-08-24 13:56] getdave opened #34265 "Temporarily disable support for theme-opt for `block-nav-menus` from the Nav Editor"
For the purposes of removing the "experimental" status on the Navigation Editor, we agreed we would disable the theme opt-in from the screen until core developers have had enough time to improve the feature. That means no additional blocks.

_Originally posted by @getdave in https://github.com/WordPress/gutenberg/issues/33969#issuecomment-904665200_

[2021-08-24 14:06] getdave opened #34266 "Expose user facing documentation on the Navigation Editor screen"
## What problem does this address?
As discussed in the August Hallway Hangout for the Navigation Editor, it would be helpful to have some user facing documentation for the Nav Editor screen.

## What is your proposed solution?

As a start this doesn't have to be built into the UI. It could be as simple as a link to a README file for the Nav Editor package on Github.

The earlier we start writing t

[2021-08-24 14:19] paaljoachim commented on #34246
Yeah. Lets focus on the issue #34041 and close this (for now).

[2021-08-24 14:20] #34246 closed, assigned to nobody

[2021-08-24 14:38] MadtownLems commented on #33580
Hiding the output in a div only accounts for some of the cases.

I agree that there doesn't appear to be a great solution here, but of all the proposed ones, I'd probably have gone with this one:

"Remove the front-end actions and use new wp_widget_preview_* in their place -- this will require all themes to enqueue default styles especially for the widget previews"

However, the approach feels esp

[2021-08-24 14:55] adamziel commented on #33579
We still need a general solution, but we can improve the situation by only batching requests for the widgets that were updated. Currently we always sent `n` requests even if only 1 out of `n` widgets was updated. Not having a `/reorder` endpoint makes it a bit more complex as moving the last widget to the beginning of the list affects all `n` widgets.

[2021-08-24 15:39] getdave opened #34268 "Make it easier to add new items in between existing Nav Item blocks within the Nav Editor"
## What problem does this address?

In the new Nav Editor screen it's really difficult to add items in between existing items.  This is because the inserter is only about 1 pixel and so it's _really_ hard to select it.

Try adding some nav items and then hovering in between the items to see if you can get the quick inserter to show up.

## What is your proposed solution?

- [ ] Improve the interac

[2021-08-24 16:02] cpiber commented on #9032
I've stumbled across this problem now as well. Sadly all the solutions here only work with the `edit` function. Did anyone find a solution to access these in `save`? Even https://developer.wordpress.org/block-editor/reference-guides/block-api/block-context/ isn't available.

Currently I have a little hack, in `edit` I retrieve the block attributes of the parent and if they are different save them

[2021-08-24 16:18] #33256 closed, assigned to nobody

[2021-08-24 16:24] oandregal commented on #34260
Thanks for the clarification, Aaron! I've clarified the issue title & description accordingly.

[2021-08-24 16:53] philbuchanan commented on #34120
@andrewserong I only noticed this with the Cover block.

[2021-08-24 16:54] oandregal commented on #34150
Hey, this is what is happening: the cover block does not declare support for colors other than duotone, hence the global styles sidebar should not show any control for colors. This is a bug in the UI logic of the global styles sidebar. I'm working on a fix.

[2021-08-24 17:28] oandregal commented on #34150
Looked a bit into this. I can't prepare a fix now but this is why it's failing.

The panels in the global styles sidebar are passed the styles that the property supports. These are calculated in the `global-styles-provider.js` (see `getBlocksMetadata`) and the paths are taken from the support keys from the style property stored in the blocks package (see `packages/blocks/src/api/constants.js`:

[c

[2021-08-24 17:36] paaljoachim commented on #33481
It is a good idea to bring in a link to documentation in the Reusable block description area!
As it can give some help to users who are wondering about how to use Reusable blocks.

---

Kelly. I have heard from a few people who mentioned that Reusable blocks is not a clear name for what is actually a global/synced block. Synced block is a good name for it. Anyhow that is a nice sidetrack to this i

[2021-08-24 17:42] fwazeter commented on #33583
[Read the Full Discussion thread in slack.](https://wordpress.slack.com/archives/C02S78ZAL/p1629824854090900).

General agreement is that this would enhance the editing experience in using gutenberg as a publishing platform. The proposed initial implementation would keep the renaming feature to the list view only.

Two versions of the idea were proposed: just renaming to anything the user set, or

[2021-08-24 17:50] dgwyer commented on #33583
For core blocks this may be so, but not necessarily for 3rd party blocks? Perhaps showing the block type on icon hover would be prudent for consistent block type discovery, when using the list view?

Otherwise it might be a bit confusing when faced with a long list of (renamed) blocks and you just quickly want to know which block is which.

[2021-08-24 17:51] paaljoachim commented on #33221
It seems that the initial approach is getting the similar treatment that is now in place for the Cover block into other blocks. Then we can begin looking at how to make the approach contain a more practical visual and interaction.

[2021-08-24 18:07] fwazeter commented on #33221
[Slack Discussion Thread on the Topic.](https://wordpress.slack.com/archives/C02S78ZAL/p1629826827123400)

Overall thoughts are that having a visual way, possibly with short cut keys, to adjust margin/padding would enhance the user experience with content editing.

My commentary:

Joyously made the great point that spacing being one of the most common gotchas is the reason why a user shouldn't hav

[2021-08-24 18:29] annezazu opened #34270 "Featured Image Block: Alignment controls don't work in template editor after changing sizing"
### Description

The alignment controls for the featured image block don't work after changing the size of the block in the template editor.

### Step-by-step reproduction instructions

1. Use a site with template editing.
2. Create a new template.
3. Add the featured image block.
4. Change the width of the block.
5. Try to use the alignment controls. Notice the alignment doesn't change in the edi

[2021-08-24 18:33] annezazu commented on #34270
Note that within the Query Loop block, alignment works on the front end but doesn't correspond properly in the editor itself. Figured this is likely related but happy to open a new issue if needed:

https://user-images.githubusercontent.com/26996883/130670857-9366ac33-6c6f-4b8e-a928-be44e0952c09.mov

[2021-08-24 19:16] #27757 closed

[2021-08-24 19:28] AnthonyLedesma opened #34271 "`get_the_permalink` should reflect the FSE permalink when used with Blocks"
### Description

A few blocks in CoBlocks generate links using the post permalink. This functionality provided by `get_the_permalink` function is not working as expected when using the custom post types involved with Full Site Editing.

After reviewing the relevant code in Gutenberg I have not been able to identify a way to get the permalink for templates built with Full Site Editing. It seems tha

[2021-08-24 19:49] apeatling commented on #10730
@andrewserong Your gap work for columns will address this, right?

[2021-08-24 19:50] apeatling commented on #20967
I think this can be closed with padding/axial padding support now in place.

[2021-08-24 19:50] #20967 closed

[2021-08-24 19:51] apeatling commented on #31731
Axial padding support is now in place for the buttons block. https://github.com/WordPress/gutenberg/pull/33859

[2021-08-24 19:51] #31731 closed, assigned to stacimc

[2021-08-24 19:52] apeatling commented on #29098
This will be fixed by https://github.com/WordPress/gutenberg/pull/33991

[2021-08-24 20:13] walbo commented on #34239
The default entry name in webpack is `main`, and in the config filename is set to `[name].js`. You can overwrite the filename config by adding `--output-filename`.

[code]

[2021-08-24 20:21] annezazu commented on #30724
More feedback came in from @paaljoachim on this [experience in the ninth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/#comment-1910):

This continues to be a point of confusion for users.

[2021-08-24 20:26] stacimc commented on #34216
By default the style will be applied at the top level, to the containing `div` of the block. The color block support for the Search block is using `__experimentalSkipSerialization` to apply the user-selected styles to the inner button instead.

The issue is that currently there's no way to specify in `theme.json` to target an inner element instead of the block wrapper (without affecting all block

[2021-08-24 20:56] bbertucc opened #34273 "Undoing Site Editor Navigation Actions Doesn't Undo the Action"
### Description

Undoing Site Editor Navigation Actions Doesn't Undo the Action, specifically when adding a page link as a sub page in the navigation block

### Step-by-step reproduction instructions

I'm following [FSE Program Testing Call #9](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/#comment-1910).. I accidentally nested a page link under an

[2021-08-24 21:24] TimothyBJacobs commented on #33579
In what way? The sidebars endpoint contains a `widgets` property which is an ordered list of widget ids. The widgets shouldn't need to be individually updated when their position changes.

[2021-08-24 23:19] andrewserong commented on #10730
Yes, once https://github.com/WordPress/gutenberg/pull/33991 lands (the more general gap support issue is tracked in https://github.com/WordPress/gutenberg/issues/32366), we should then be able to put up a PR to opt-in to the support for the Columns block, which will resolve this issue.

[2021-08-24 23:53] #9350 closed

[2021-08-25 00:04] andrewserong commented on #9350
Resolved in #34256 (in the Image > File transform, use the image caption if available, and if not, fall back to using the image's filename).

[2021-08-25 00:21] annezazu commented on #34053
Wondering if this might be related to this phenomenon too: https://github.com/WordPress/gutenberg/issues/30398

[2021-08-25 00:29] annezazu opened #34275 "Search Block “Optional placeholder” text takes on nav block underline"
### Description

When assigning the underline styling to the overall navigation block, the "optional placeholder" text adopts the underline likely due to some CSS bleeding.

### Step-by-step reproduction instructions

1. Add a navigation block to the site editor.
2. Add a search block.
3. Select the overall navigation block and, in the sidebar settings, select the underline option.
4. Notice that

[2021-08-25 00:34] noisysocks commented on #33579
I'll look into this. I might have accidentally blown it away in https://github.com/WordPress/gutenberg/pull/28210.

[2021-08-25 02:05] Netyson commented on #32430
as a js beginner, i am very glad for the es5 snippes and documentation.
for smaller blocks i don't see why i should build a whole build environment when i can just write it like it is.

[2021-08-25 02:28] kevin940726 commented on #32430
[ES6](https://caniuse.com/es6) is supported in all the browsers we support. Using ES6 doesn't mean that we have to use a build step though. Maybe making them into `JSX` and `JavaScript` makes more sense? We can automate this too to compile JSX into plain JavaScript when building the doc.

[2021-08-25 02:39] talldan commented on #33969
New issue sounds good. I see #34265 was created, thanks @getdave!

[2021-08-25 03:20] glendaviesnz opened #34276 "Gallery block: remove redundant selector"
As noted in  https://wptavern.com/gallery-block-refactor-expected-to-land-in-wordpress-5-9, currently styling is applied to the the new Gallery innerBlocks format via the `.wp-block-gallery.blocks-gallery-grid.has-nested-images` chained selector. It appears that the`.blocks-gallery-grid` class may be a redundant hangover from the v1 gallery block. If this can be removed it will reduce the level of

[2021-08-25 04:01] fwazeter commented on #26731
Following up here that this is still occurring in different areas - been trying to isolate different occurrences.

[2021-08-25 04:05] mkevins commented on #33600
Hi @mchowning :wave: :smile:

I have a feeling this may have to do with the line height of the underlying native component, but I also remember that there were some tricky situations for handling the semi-transparent overlay and the border of the selected image. I believe there could be a platform variation resulting from the way these issues were overcome.

Since the refactored gallery format wor

[2021-08-25 04:39] ramonjd opened #34279 "Release 11.4.0"
This is a tracking issue to document commits that should be included in [release/11.4](https://github.com/WordPress/gutenberg/tree/release/11.4)

In chronological order (commit date) ⬇️

- [x]  https://github.com/WordPress/gutenberg/pull/34422

[2021-08-25 05:39] glendaviesnz commented on #7463
@grappler, this seems to be resolved in 5.8 with Gutenberg plugin 11.3.0:
![menu](https://user-images.githubusercontent.com/3629020/130732716-4daa0c8f-981b-4a6e-b85b-4bf773e0046a.gif)

[2021-08-25 05:48] Mamaduka commented on #33959
Related #25612.

[2021-08-25 06:05] #33830 closed, assigned to nobody

[2021-08-25 06:22] jasmussen commented on #34260
I think the tools panel (#34257) could be the right place to provide an option to reset after all. I'm happy to have tried the current approach, but that keeps being the point of feedback that comes back to us, notably that if a control is shown by default on a block, it's not quite as clear that unchecking it is both resetting and hiding. To pair with [one of the suggestions for tweaked behavior]

[2021-08-25 06:43] jasmussen commented on #34053
Yes, that appears related. The block toolbar should always bump against screen edges.

[2021-08-25 08:11] #33563 closed, assigned to nobody

[2021-08-25 08:31] getdave commented on #34268
cc @rolf-yoast as you flagged this to me.

[2021-08-25 08:36] getdave opened #34283 "Show more items in the "Recent" items of the Link UI when adding a new Nav item in the Nav Editor"
## What problem does this address?

Currently when adding a new nav link item in the Nav _Editor_ you get to see recently updated items:

<img width="672" alt="Screen Shot 2021-08-25 at 09 34 54" src="https://user-images.githubusercontent.com/444434/130757127-060459ee-5f22-4c93-a4e4-3abf2f363fed.png">

However there are only 3 and these are not contextual to the type of link you are adding (eg: Po

[2021-08-25 08:37] getdave commented on #34283
cc @rolf-yoast as you flagged this to me.

[2021-08-25 08:41] getdave commented on #29102
I've added / moved all of the visual items raised by @javierarce to the `High` priority section. These are the _minimum_ baseline visual inconsistencies that need to be resolved prior to the screen coming out of "experimental".

This is [the issue regarding supporting future block types](https://github.com/WordPress/gutenberg/issues/30006). I'd say that's beyond the scope of what is required to ge

[2021-08-25 08:44] getdave commented on #29102
## Update - 2021-08-25

- The team have been focused on reforming the project around the goal of removing the "experimental" status of the feature within the Gutenberg _Plugin_ (only).
- Held a Hallway Hangout on Tuesday to compare and contrast Navigation screens and determine next steps.
- ~A summary will be posted shortly~ [A summary of the meeting and decisions made is available](https://make.w

[2021-08-25 08:46] jeyip commented on #34150
@nosolosw Do we still want to support the opt-out nature of `backgroundColor` and `color`? I'm assuming that we do.

[2021-08-25 08:49] gziolo commented on #34239
@walbo thank you for sharing the example. It partially works with the default webpack config, in the context of blocks:

<img width="352" alt="Screen Shot 2021-08-25 at 10 44 31" src="https://user-images.githubusercontent.com/699132/130759226-a9f60b59-8b83-4c59-902b-cf6fd2d56ba3.png">

While it applies changes to the output folder and the JavaScript filename, it doesn't get propagated to CSS chunk

[2021-08-25 08:57] ciampo opened #34284 "Updated `ColorPicker`"
_This is an overview issue to track all of the tasks necessary to update the `ColorPicker` component with the new design and primitives._

![image](https://user-images.githubusercontent.com/548849/130771534-3cba93c1-d33f-40dd-967c-8343703b5240.png)

### Component

- [x] Add experimental `ColorPicker` component to the repo (done in https://github.com/WordPress/gutenberg/pull/33714)
- [x] #34286
- [

[2021-08-25 08:58] ciampo opened #34285 "Components: apply design feedback to g2 `ColorPicker`"
Part of #34284

## Why

The `ColorPicker` component has been recently added to the Gutenberg repository and needs to go through a few design tweaks

## What

Mostly design refinements that were missed in the first iteration working on the component

## A/C

- [ ] The white border on the circle controls looks too wide in the storybook compared to the design
- [ ] The input padding is off, not sure

[2021-08-25 08:58] ciampo opened #34286 "Components: use `colord` instead of `tinycolor2` in `ColorPicker`"
Part of #34284

## Why

The [`colord` library](https://github.com/omgovich/colord) may be a better replacement for [`tinycolor2`](https://github.com/bgrins/TinyColor), which is currently used by the `ColorPicker` component:

- it has a smaller size
- it comes with first-party TS types

## What

The maintainer of `colord` [reached out to us in a previous PR](https://github.com/WordPress/gutenberg/p

[2021-08-25 08:58] ciampo opened #34287 "Components: replace legacy `ColorPicker` with new version"
Part of #34284

## Why

The new `ColorPicker` should replace the legacy version of the component

## What

This effectively means moving the code of the g2 component over to the `src` folder of the `@wordpress/components` package, completely replacing the legacy component.

We need to ensure that usages of the `ColorPicker` keep working as expected, despite the changes.

## A/C

- [ ] The new `Col

[2021-08-25 09:12] ciampo opened #34288 "Icons: update `settings` icon to latest version"
Part of #34284

## Why

The settings icon has received a design update

## What

The SVG icon in the `@wordpress/icons` should be updated to reflect these changes

![image](https://user-images.githubusercontent.com/1083581/130765260-ffde329a-7827-4812-a528-db72a8a5832b.png)

## A/C

- [x] Update the Settings icon SVG source

[2021-08-25 09:26] ciampo commented on #34288
Done in #34165

[2021-08-25 09:26] #34288 closed, assigned to nobody

[2021-08-25 09:29] ciampo opened #34289 "Components: add reset timeout to `ColorPicker`'s copy functionality"
Part of #34284

## Why

The recently added g2 `ColorPicker` has a minor UX issue when copying the color value to the clipboard (first reported in https://github.com/WordPress/gutenberg/pull/33714#discussion_r687697697):

1. User clicks on the color, value is copied in the clipboard. The tooltip changes from "Copy" to "Copied!"
2. User interacts with other parts of the UI, maybe copies another stri

[2021-08-25 09:40] oandregal commented on #34150
We need to keep it for backward compatibility purposes.

[2021-08-25 09:59] mtias commented on #34285
Moving these directly to the tracking issue.

[2021-08-25 09:59] #34285 closed, assigned to nobody

[2021-08-25 10:30] jasmussen commented on #18395
Based on the research above, I took a look at a few designs that leverage an unambiguous click-only interface. The two primary benefits to this approach:

- Works the same across every platform
- There's no split button pattern to learn

## The curated menu

In this example, the "Kids" menu item opens the submenu on click. If you want to go to `/kids`, you can click the "Go to Kids" item at the to

[2021-08-25 10:31] MaybeThisIsRu commented on #33916
![image](https://user-images.githubusercontent.com/3974019/130774793-6411309d-4d27-49d1-85a1-17a970d787f5.png)

I am facing this issue too. Can't reproduce it reliably. I do see the scroll-bar sometimes. Could it be that third party blocks have more options and that's not being taken into account?

Firefox 91 on Windows 10 with WordPress 5.8.

[2021-08-25 10:53] ciampo opened #34290 "Components: delete the `createComponent` function"
## Why

The [`createComponent()` function](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/ui/utils/create-component.tsx#L38) represents an unnecessary abstraction, which makes the code harder to read.

## What

We should delete the `createComponent` function and replace its usages with explicit calls to:

- using the component's hook
- rendering the component as a `<View

[2021-08-25 10:53] ciampo opened #34291 "Components: Rename `PolymorphicComponent` type to `WordPress Component`"
Required by #33960

## Why

The `PolymorphicComponent` type name can be confusing (and refers to an implementation detail, components polymorphism). `WordPressComponent` is a better name.

## What

We should refactor all of the references to `PolymorphicComponent*` types (defined in https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/ui/context/polymorphic-component.ts) and r

[2021-08-25 10:57] ciampo opened #34292 "Components: better "rail" vs "track" docs in `<RangeControl />`"
## Why

The `RangeControl` component's README has an ["Anatomy" section](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/range-control#anatomy) which refers to the different elements that the component is made of.

This section is missing an entry about the "Rail" part.

## What

Update the `RangeControl` README to add info about the "Rail" element:

- The rail represents

[2021-08-25 11:00] #33579 closed, assigned to noisysocks

[2021-08-25 11:08] brylie commented on #30213
Specifying the `phpVersion` as `"7.2"` resolved this issue for me.

[code]

[2021-08-25 11:10] jeyip commented on #34150
I created a preliminary PR that continues to respect backgroundColor and color supports as opt out support keys. Would love to hear your thoughts on it when you get a chance @nosolosw  https://github.com/WordPress/gutenberg/pull/34293

[2021-08-25 11:51] ddryo commented on #33954
The following code solved the problem I am personally having.

[code]

By changing to the above code instead of using `'allowed_block_types_all'`, I was able to successfully turn off certain blocks but keep the search from the block directory enabled.

However, I think it would be useful to have a hook to specify the "disallowed blocks", so I will leave the issue open.

[2021-08-25 12:22] adamziel commented on #33579
I got confused there – thank you for clarifying @TimothyBJacobs! Sounds like we're good to only POST about the updated widget instances then.

[2021-08-25 12:43] porada opened #34297 "Scripts: `wp-scripts lint-js` Breaks After v16.1.4"
### Description

After updating `@wordpress/scripts` from `16.1.4` to `17.0.0` or higher (currently at `18.0.0`), the JS linter breaks with the following result:

[code]

Upon initial investigation, I think the `@wordpress/eslint-plugin/jsdoc` preset may be causing this issue. It’s a part of `@wordpress/eslint-plugin/recommended` used by default in `@wordpress/scripts`’ ESLint config.

### Step-by

[2021-08-25 12:47] porada commented on #34297
@renatho — I can see you worked on #25300, which could be related to this issue. Any chance you could take a look?

[2021-08-25 12:51] LordHelmchen commented on #10994
Wouldn't it make sense to look into pagination or something like "load more" while working on this?

[2021-08-25 12:55] #29464 closed

[2021-08-25 12:58] jasmussen commented on #29464
🔥

[2021-08-25 13:12] porada commented on #34297
Referencing `eslint-plugin-jsdoc` directly in the project’s `package.json` seems to be resolving the issue. It’s not ideal, though.

[2021-08-25 13:21] spacedmonkey opened #34298 "Preload menu REST API requests on new navigation editor."
## What problem does this address?
When the new navigation page, it loads a number of API are requested to load this page. See screenshot.

![Screenshot 2021-08-25 at 14 15 17](https://user-images.githubusercontent.com/237508/130797213-557ca748-d5f8-47db-9cd7-05410c178b81.png)

This means that page waits until the page and the request to these API return, before a meaning UX can shown to a user.

[2021-08-25 13:30] spacedmonkey commented on #34298
As a start, I would preload
- wp/v2/types
- __experimental/menus?context=edit&per_page=100
- __experimental/menu-locations

[2021-08-25 13:31] crgeary commented on #27221
In addition to losing the bold/italic options etc.

The text-alignment options do not show when selecting multiple blocks of different types. Despite both block types supporting text-alignment options.

For example, selecting multiple paragraphs will show the text-alignment option.. But selecting a paragraph and a heading together, will show no text-alignment options. Despite both blocks supportin

[2021-08-25 14:49] jenkoian commented on #33787
Another possible option would be to use the [Developer Certificate of Origin](https://developercertificate.org/) currently used by Linux and [OpenSearch](https://github.com/opensearch-project/OpenSearch) (Amazon's fork of ElasticSearch)

Here are some links with some more information:

https://opensource.com/article/18/3/cla-vs-dco-whats-difference

https://drewdevault.com/2021/04/12/DCO.html

[2021-08-25 15:54] spacedmonkey commented on #34298
I would also like to preload the currently selected menu when the page loads, but there is no easy way to know what menu is selected as is used in local storage.

[2021-08-25 16:11] lvmarks commented on #34148
Hector, the problem (Ctrl-Z reverses ALL changes) recurred today. It is apparently easy to reproduce. It did seem like the minor problem of being able to cursor out of the Edit box has changed.
As I mentioned, I ported a lot of these pages to Wordpress from raw HTML. Is there a difference between:
   - Using Gutenberg and creating a single HTML block
   - Using the Classic Editor Ctrl-Alt-Shift-M

[2021-08-25 16:20] jhnstn opened #34303 "[RNMobile] Consolidate how block are filtered by availability for mobile apps"
## What problem does this address?

We are currently filtering non-core embed blocks on the mobile inserter list here https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/inserter/block-types-tab.native.js#L26
but we there is a second block list in the inserter search results here: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/compone

[2021-08-25 16:20] devfle commented on #25729
Just pushing this topic. An toggle control in img block / gallery block would be cool, to enable or disable the lazy loading. This causes errors on onepager websites, because the anker have diffrent positions.

[2021-08-25 16:45] #34124 closed, assigned to jhnstn

[2021-08-25 16:56] ciampo opened #34304 "Components: improve `@wordpress/components` documentation and guidelines"
_This is an overview issue to track all of the tasks related to improving the structure and documentation of the `@wordpress/components` package_

- [x] #34292
- [x] #33391
- [x] #34305
- [x] #33111
- [x] #33263
- [x] #33960
- [ ] #34691
- [x] #34692
- [x] #34693
- [x] #34694

[2021-08-25 17:00] ciampo opened #34305 "Components: agree on components classification"
## Why

As the components library grow larger, it may beneficial to split (and list) the components into separate groups (e.g. low level, high level, utilities)

## What

The "what" will be the outcome of this conversation

## A/C

- [ ] Agree on components classes (e.g. low level, high level, utilities)
- [ ] Potentially create folder structure in the components package
- [ ] Update documentation

[2021-08-25 17:33] annezazu commented on #34253
Thanks for this issue! Just wanted to note that a drop down block is being considered: https://github.com/WordPress/gutenberg/pull/33775

cc @jasmussen

[2021-08-25 17:37] annezazu commented on #34252
This is wildly similar to this previous issue: https://github.com/WordPress/gutenberg/issues/30663

[2021-08-25 18:26] saiftheboss7 opened #34306 "[ENHANCEMENT] Putting more focus on the "Published" dialogue box which is easy to miss"
## What problem does this address?
One of the changed Gutenberg introduced is how the "Post is published" appeared before Gutenberg. The new dialogue box is minimal and nice but when you have larger screen and focusing on the content, it's pretty easy to miss. Also, previously where the "Post is published" were, there was also a button to copy post link. Which is now in a separate place.
![CleanSh

[2021-08-25 19:10] thewebinarts commented on #34306
Maybe you can add a green color on the left part of the post publishing validation.

[2021-08-25 19:12] thewebinarts commented on #34306
Make this line, a little more big "2.5px" of width.

[2021-08-25 19:15] kopepasah commented on #34218
After further investigation, I have noticed that even in the Classic Editor, these Custom Contributors are not able to publish, which leads me to believe this is not specifically related to the BlockEditor, but rather WordPress Core capabilities and permissions.

I will search Trac for any relevant reports and continue the investigation.

[2021-08-25 19:35] stacimc commented on #9304
Checking in since it looks like the related #9088 was de-prioritized and closed without merging.

As it's been quite awhile, I've given this a test to see what the state of the issue is at the moment. This is what I see (gif below):

- Select 'Edit as HTML' for an individual paragraph within a post, and insert a single unclosed `<div>`
- Click outside of the paragraph to blur

The block invalidate

[2021-08-25 19:51] TeBenachi opened #34307 "Button Block: Adding close button on the link control toggle or allow to close it using Esc key"
### Description

While I was testing for the [FSE Program testing,](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/)  I noticed there was no way to close the Button link toggle using Keyboard.

### Step-by-step reproduction instructions

1. Create a button and enter text link
2. Open the link control toggle by using Ctrl+K or ⌘+K
3. Once the toggle

[2021-08-25 20:18] pwkip commented on #25216
I ran into this issue as well. I'm not sure how @pjsachdev's workaround is supposed to work, because `templateLock=true` is actually preventing me from even removing the block.. So in my case, the only way to recover a block is to actually go to the editor view and replace the actual source code... Not a great user experience at all.

[2021-08-25 20:54] annezazu commented on #34307
Great find - thank you for opening!

[2021-08-25 21:09] spacedmonkey commented on #25093
While thinking over this ticket I had some thoughts.

1. This API design, would only work, if you send all the menu items in one request.
[code]
If allow for random menu items to be admitted, then you may still try and save two menu items in one position. It only works, if we got the whole menu and validate in one got go before saving anything.

2. Regarding transactioning, could we get around thi

[2021-08-25 22:38] gwwar opened #34310 "List View: Slow group deletion"
### Description

In larger posts, if we delete nested blocks we can see the block icon and title disappearing before the rows are removed. Ideal behavior would quickly remove all deleted nodes in the list view.

Note that we can see a "fast" delete if we perform an action like, undo, then delete, or paste then delete.

I dug a bit into this one, and what's happening is that the `clientIdsTree` in

[2021-08-25 22:44] nyanpasu64 commented on #34214
Still happens on 11.3. Note that https://github.com/WordPress/gutenberg/commit/db733694e8ed001971f2dd450769d70a26b0bb27 says it's only in 11.4.0-rc1, and I didn't see any 11.3.x tags that might've included newer commits like this. Maybe it'll be fixed when 11.4 gets released.

[2021-08-25 22:47] markjaquith opened #34311 "In RichText, aria-multiline is hardcoded to true, even when disableLineBreaks is true"
If `<RichText />` is used with `disableLineBreaks`, `aria-multiline` is still true. Probably should be the opposite of `disableLineBreaks`.

https://github.com/WordPress/gutenberg/blob/3f2593fbfd61aff7bdbc2d177994c3b562f92bcc/packages/block-editor/src/components/rich-text/index.js#L310

[2021-08-25 23:45] stacimc commented on #33968
I tested and can reproduce. There's a similar issue here when the Image is left-aligned: #25059

When you click into the Classic Block, the block content is pushed down the page to make room for the classic toolbar. Any other content floated left or right isn't pushed, so the toolbar will overlay it. The normal Block toolbar is inserted _above_ the block. So for example if you set up the same basi

[2021-08-26 00:17] stacimc commented on #33801
I think I may have figured out a way to consistently reproduce this. It's a bit difficult to describe, so I've added a gif. When highlighting the text, I drag the cursor out of the borders of the block until I can see a blue border appear around the paragraph, and _then_ I drag the cursor back to highlight just the text I want. Then I add the link as normal:

![link-in-par](https://user-images.git

[2021-08-26 00:35] ramonjd commented on #34214
Oh, thanks for testing.

Sorry, I assumed that it was in 11.3 since it was merged 14 days ago.

11.4.0 should be released sometime next week after Wednesday or thereabout.

[2021-08-26 01:20] tellthemachines commented on #18395
It's a very common pattern on news websites, and to a lesser extent blogs, though most often it's shaped as an accordion-like structure. A few examples:

<img width="1125" alt="Screen Shot 2021-08-26 at 10 25 49 am" src="https://user-images.githubusercontent.com/8096000/130881271-ea905d77-f89b-45d4-8cb6-3b5c6a68ccaa.png">

<img width="1125" alt="Screen Shot 2021-08-26 at 9 55 34 am" src="https://u

[2021-08-26 02:40] ramonjd commented on #34250
Thanks for the suggestion @milkcask !

Is it possible to add a couple of screenshots of the current and proposed states, just to help folks, who are looking at this issue for the first time, to understand from a visual perspective.

Also, adding an example use case where you'd expect to have hour and minute inputs only would also help to spark discussion.

Thank you!

[2021-08-26 02:51] talldan commented on #24370
While this is now possible to achieve, I think there are still some challenges.

There are now three separate editors in WordPress core - the post editor, and the two widgets editors. Each of these stores preferences separately, so there's now a situation where a user might have conflicting values for the same preference (e.g. top toolbar enabled in one editor but not in the others). There's a cha

[2021-08-26 05:28] glendaviesnz commented on #10371
This seems to be resolved in 5.8 with Gutenberg 11.3 and Kebo code 1.0.2:

![kebo](https://user-images.githubusercontent.com/3629020/130905997-99834e14-c195-44a7-91f7-0a1ff9587deb.gif)

So closing for now - feel free to reopen @PeterBooker if you are still experiencing the issue.

[2021-08-26 05:38] aaronrobertshaw commented on #5477
I was able to replicate this issue using a clean install of WP 5.8 and the latest Gutenberg version.

It didn't appear to be directly related to the presence or not of a `viewbox`, `width` or `height` attribute in the SVG markup.

The post's feature image gets [rendered within a `ResponsiveWrapper`](https://github.com/WordPress/gutenberg/blob/165b92a974cf7f2b508a11dac36cf0da9556d136/packages/edito

[2021-08-26 06:00] glendaviesnz commented on #10967
I just retested with WP5.8 and Gutenberg 11.3 and there is still no way to edit/remove a link if linked text is pasted into the filename field.

![file-name-link](https://user-images.githubusercontent.com/3629020/130909125-43a2189a-fdaf-40a4-b788-c3294fd5aa79.gif)

[2021-08-26 06:11] jasmussen commented on #34253
Thanks for the ping Anne!

Let me be sure I'm understanding this right, is this about allowing the creation of a navigation menu (or list of links if you'd like to call it that) which _always_ collapses to a burger button? If so, I definitely agree with that feature request, and there's a mockup and ticket for it in https://github.com/WordPress/gutenberg/issues/30370.

[2021-08-26 06:19] jasmussen commented on #34254
CC: @gwwar in case you have any ideas.

[2021-08-26 06:23] jasmussen commented on #18395
I do think providing multiple options can be a good path forward, and it offers us to surface the best option as a default 👍

[2021-08-26 06:29] grappler commented on #7463
Tested with WordPress 5.8 and it works as expected. Closing...

[2021-08-26 07:26] richtabor commented on #23769
Agreed, thanks @Mamaduka

[2021-08-26 07:36] aaronrobertshaw commented on #10251
With all the recent work done around [refactoring the Gallery to use nested blocks](https://make.wordpress.org/core/2021/08/20/gallery-block-refactor-dev-note/), now is as good a time as any to see if this is still an issue.

### Original gallery

Using the original gallery and setting a `4Mb` upload limit, I was not able to replicate the issues described here.

I tried initially with my own image

[2021-08-26 07:56] scruffian opened #34315 "Border control: Add padding when a border is set"
## What problem does this address?
When we add borders to the group block, the paragraphs inside are too close to the edge of the block:

<img width="847" alt="Screenshot 2021-08-26 at 08 49 41" src="https://user-images.githubusercontent.com/275961/130924150-60c50635-c053-4470-87c4-5cce00862f83.png">

## What is your proposed solution?
It would be good to automatically add padding to the group blo

[2021-08-26 08:01] oandregal opened #34316 "Allow filtering alignment option for `core/image` block"
`core/image` is the only core block that doesn't allow filtering the alignment controls it exposes to users.

This block is using the `BlockAlignmentControl` control [directly](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/image/edit.js#L330) instead of the [the align hook](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/hooks/align.js#L14

[2021-08-26 08:03] oandregal opened #34317 "Allow filtering the alignment options of blocks via `theme.json`"
Related https://github.com/WordPress/gutenberg/issues/34316

The align options of blocks can be filtered using the [block_type_metadata](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#block_type_metadata) filter. It'd be easier for themes if they could filter those options via `theme.json` as we do with other settings such as `units`.

[2021-08-26 08:28] officespacemike commented on #15497
We have found this line of code:  on several hundred pages.
Is this likely to cause crawl issues?

[2021-08-26 08:42] brylie opened #34320 "[wordpress/env] Service 'wordpress' failed to build: The command '/bin/sh -c pecl install xdebug && docker-php-ext-enable xdebug' returned a non-zero code: 1"
### Description

When making changes to `.wp-env.json`, such as adding a directory mapping, the "Wordpress" Docker service fails to build, with the following error:

[code]

Similar issues have been reported, but it has not been mentioned that this is a recurring issue when re-building the `wordpress` service.

- https://github.com/WordPress/gutenberg/issues/30213
- https://github.com/WordPress/gu

[2021-08-26 08:42] brylie commented on #30213
However, rebuilding the exact image fails with the initial error.

I have opened issue https://github.com/WordPress/gutenberg/issues/34320 to indicate this is a recurring issue when changing the project configuration in `.wp-env.json`

[2021-08-26 08:48] brylie commented on #34320
Running `docker ps -a` shows the failed container is not destroyed, despite having run the `wp-env destroy` command:

![image](https://user-images.githubusercontent.com/17307/130932159-ffdd0b30-6adf-426c-8120-45c198b3d262.png)

[2021-08-26 08:52] TetsuyaXD opened #34321 "editor.BlockEdit hook, error on replace block"
### Description

The following code uses the editor.BlockEdit hook to wrap every third paragraph block and attach a container for an ad placeholder.
[code]
When, under certain conditions, replacing the paragraph block with any other type this error is produced:
<img width="351" alt="Bildschirmfoto 2021-08-26 um 10 44 36" src="https://user-images.githubusercontent.com/33517730/130931700-0de83a20-5f

[2021-08-26 08:53] brylie commented on #34320
I have tried

- removing all docker containers and volumes
    -  `docker rm -f $(docker ps -a -q)`
    - `docker volume rm $(docker volume ls -q)`
- destroying the `wp-env` directory
    - `wp-env destroy`
- changing the `phpVersion` to 7.3, 7.4, and 8.0

However, the problem still persists.

[2021-08-26 08:56] brylie commented on #34320
Perhaps the command `pecl install xdebug && docker-php-ext-enable xdebug` is trying to do too much? It seems odd that it is exiting with status code 1.

[2021-08-26 09:35] gziolo commented on #9757
I'm exploring whether we can re-apply filters (when necessary) to the registered blocks just before the block editor starts the parsing step in https://github.com/WordPress/gutenberg/pull/34299.

Ideally, we should be able to apply those filters at any time and all block definitions should magically update, but there are some architectural shortcomings that we would have to address first:
- in man

[2021-08-26 09:48] amieiro commented on #33916
I have reproduced this error:
- macOS Big Sur 11.5.2 13" M1
- WordPress 5.8 (local installation)
- Gutenberg (last trunk commit)
- Firefox 91.0.2 64 bits

I created a new post with two blocks (Twitter and Gallery) and scroll to hide the last menu item of the Gallery block

![2021-08-26 11-18-54](https://user-images.githubusercontent.com/1667814/130940312-6a3bdecd-9976-468d-a42e-56caf412cb0c.png)

[2021-08-26 09:56] brylie opened #34325 "Consider moving wp-env project to own repository"
## What problem does this address?

The `wp-env` utility library is currently contained within the Gutenberg project. Unfortunately, this makes it a bit difficult to find the project files and related issues/pull requests amidst the bustling Gutenberg development activity.

## What is your proposed solution?

Move the `wp-env` project to its own repository, so code, issues, and pull requests are e

[2021-08-26 10:11] talldan commented on #34254
I'm not actually experiencing the issue now. I wonder if my build had some issues. Let me know if you can reproduce, but if not I'll close this tomorrow.

[2021-08-26 10:13] talldan commented on #34325
This issues should all be labelled - https://github.com/WordPress/gutenberg/issues?q=is%3Aopen+is%3Aissue+label%3A%22%5BPackage%5D+Env%22. Same with PRs.

If there's any missing labels, they can be labelled.

[2021-08-26 10:16] adamziel commented on #25093
It surely is easier if we send all the menu items in one go and I think it would be a good first version.

That being said, I think it's possible to make it work with just a partial input. Imagine the following menu:

[code]

Then, a request like

[code]

Could follow the following algorithm:

1. Store the current position as `position_before`
2. Store the target position as `position_after`
3. Up

[2021-08-26 10:29] adamziel commented on #25093
My biggest problem here is this:

We have one tree stored on the backend and another one in the editor where some items were added, some are missing, we also have some new parent nodes with both new and existing menu items. We want to take the editor tree and save it in the backend.

One way to do it would be having an endpoint to diff the input tree against the database tree. Another way would be

[2021-08-26 10:37] brylie commented on #34325
Issue labels are indeed useful but it still seems like a reasonable idea for the project to have its own repository. :smiley:

There is a lot of unrelated activity in this repository such as running the full Gutenberg test suite on every pull request, even when it just relates to wp-env.

![Peek 2021-08-26 13-58](https://user-images.githubusercontent.com/17307/130951178-370010bf-a76d-4f76-879b-583

[2021-08-26 10:58] amieiro commented on #32202
I was unable to reproduce this error:

- macOS Big Sur 11.5.2 13" M1
- WordPress 5.8 (local installation)
- Twenty Twenty-One
- Gutenberg ([last trunk commit](https://github.com/WordPress/gutenberg/commit/8d1ea0a3ad5440c64e8fae273e3d8125a3f61500))
- Google Chrome 92.0.4515.159 (Official Build) (arm64)

I have created a new Google doc with title, paragraphs and an unordered list.

![2021-08-26 12-5

[2021-08-26 11:04] amieiro commented on #32202
Close this issue because it has a "[Status] Needs More Info" label, but the author didn't respond in 2+ weeks.

[2021-08-26 11:04] #32202 closed, assigned to nobody

[2021-08-26 11:05] steveangstrom commented on #20213
This is required.
I only want the editors of the site to be able to set H2, H3, and H4.
If there is a way to limit the H block to a subselection can someone illuminate me?

[2021-08-26 11:08] lumpysimon commented on #32202
I was able to reproduce it many times at the time, but since upgrading to WP5.8 I've not seen it again, so it looks as if something has fixed it

[2021-08-26 12:06] draganescu commented on #34298
Is this a duplicate of  #24642 ?

[2021-08-26 12:26] oandregal opened #34328 "Make the global stylesheet available for all themes"
This issue is to describe why and how to make the global stylesheet available for all themes.

## Why

- We avoid shipping CSS twice. Some CSS that is now bundled with the block-library will live in the global stylesheet. See https://github.com/WordPress/gutenberg/issues/34006 https://github.com/WordPress/gutenberg/issues/34138
- We can absorb the block CSS into the merging algorithm. This CSS nee

[2021-08-26 12:32] oandregal opened #34329 "Track changes in the size of the global stylesheet"
We have a GitHub action that posts to each PR the size changes in CSS and JS bundles. It looks like this:

![Captura de ecrã de 2021-08-26 14-33-26](https://user-images.githubusercontent.com/583546/130963338-bb7a465f-e3eb-433d-95ab-73fc126b1e5a.png)

We should include the global styles in this report as well.

[2021-08-26 14:01] cbirdsong commented on #29644
A common pattern I've seen and implemented is wrapping the site title/logo in an `<h1>` tag, but only on the home page where it makes sense as the page title. In traditional Wordpress terms it would look something like this:

[code]

Is there any affordance for this pattern in full-site editing?

[2021-08-26 14:03] gziolo commented on #15744
I think this one can be closed. If there is anything missing we should open a more detailed issue. @ryanwelcher, thank you for all the contributions in this area 🙇🏻

[2021-08-26 14:08] gziolo commented on #23138
I think the response from @johngodley covers some of the aspects of this issue. We are actively adding new capabilities as the development progresses on the Global Styles project. More details in https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guides/themes/theme-json.md.

I will close this issue for now. If there are more questions we can always reopen this issue.

[2021-08-26 14:19] gziolo commented on #14578
I have a proposal ready that should resolve this issue for blocks and filters that are registered before the editor screen is initialized. It should cover the majority of use cases. Related PR: #34299.

[2021-08-26 14:27] metabreakr commented on #34253
@jasmussen  Yes, that's the idea — a hamburger menu, or something similar, regardless of viewport size.

[2021-08-26 14:36] jasmussen commented on #34253
Awesome. I retitled https://github.com/WordPress/gutenberg/issues/30370 to include the ability to always show the burger menu. Should we close this one in favor of that?

[2021-08-26 14:42] sybrew commented on #32307
This issue is about a scripting conflict with https://wordpress.org/plugins/full-site-editing/.

Because WordPress has been updated since, and both plugins Gutenberg and Full Site Editing have also received updates, I consider this issue outdated, and I think it would be best to close it.

TSF had an unrelated conflict with another part of Gutenberg 11.3.0, albeit with the same outcome: An unrecov

[2021-08-26 14:43] annezazu commented on #34253
Yes! Thank you for connecting the dots as always. Closing out now.

[2021-08-26 14:43] #34253 closed, assigned to nobody

[2021-08-26 14:48] renatho opened #34333 "Iframe: Stylesheet was not properly added error"
### Description

In the latest version of Gutenberg, I started receiving an error in the console. It was introduced here: https://github.com/WordPress/gutenberg/pull/31870/files#diff-ab17abd38e687edd56573694ae3017e105e96b319571c190e9d4705c1872bc9cR58

Basically, the error is happening every time I select a block that contains the iframe to the sidebar, and this block enqueues styles through the fo

[2021-08-26 14:54] gwwar commented on #34254
This will likely happen if a drag-&-drop triggers the primary onClick handler

[2021-08-26 14:59] paaljoachim commented on #9719
WordPress 5.8
Twenty Twenty One theme
Gutenberg plugin 11.3. (Only plugin activated.)

Pasting text into a page. (I am not certain how to reproduce your testing @pwkip Jules.)

Testing with TextMakerFree from Softmaker Free office 2018.
---> Works.

------------

Testing with LibreOffice 7.2.
---> Works.

[2021-08-26 15:25] adamziel opened #34335 "Widgets editor saves all the widgets instead of just the changed ones"
# Description

When I have a lot of legacy widgets and only update one of them, clicking "Update" still sends one (batched) API request per widgets, even for the ones that were not changed at all.

`saveWidgetArea` has a check in place to prevent that situation, but it's not effective:

https://github.com/WordPress/gutenberg/blob/be7954e0fa98664613e9d8fda7478ad21023b804/packages/edit-widgets/src/s

[2021-08-26 15:35] TimothyBJacobs commented on #25093
This format makes sense to me, though we'll need to use `snake_case`.

In terms of error response, I think we should probably reuse the way parameter validation works. So have in the data property something named `details` or similar which is a map of the menu ids to error messages.

I don't think we can really do this. That'll cause a lot of entities to be deleted and recreated. Any references pl

[2021-08-26 15:41] gwwar commented on #34254
FWIW I'm not able to trigger this on trunk, so it's probably okay to close out.

[2021-08-26 16:06] gwwar commented on #34254
🤔 So I dug around a bit, and I think the modal closing on a navigation block item select is a side-effect of the selected block focus (which is technically outside of the modal). I'll spin up a smaller PR that alters this behavior so the modal remains open on select, it doesn't appear like this was intentional.

[2021-08-26 16:57] draganescu commented on #33580
Yes, it was a very raw idea 👍🏻

It's also likely that themes don't output content with this action. By the time we reach the closing `</body>` all content would have been out. Just a guess.

In the [trac copy](https://core.trac.wordpress.org/ticket/53801) of this issue a patch is evolving which [proposes some interesting ideas](https://github.com/WordPress/wordpress-develop/pull/1602#issuecomment-

[2021-08-26 18:34] stacimc commented on #32863
Confirmed that I was able to reproduce this using the More Block.

[2021-08-26 19:01] renatho commented on #34297
It seems there was an issue related to some version mismatch. In older versions, it was getting that tokenizer dependency like this: https://github.com/es-joy/jsdoccomment/blob/v0.6.0/src/parseComment.js#L8

Now it's getting the exported dependency from the package: https://github.com/es-joy/jsdoccomment/blob/main/src/parseComment.js#L6

I believe just updating the `eslint-plugin-jsdoc` in Gutenbe

[2021-08-26 20:03] pendantry commented on #33521
This looks the same as [the bug report I submitted back in February](https://github.com/Automattic/wp-calypso/issues/49954). I guess nobody's bothered about fixing this.

[2021-08-26 20:08] costdev commented on #33580
See [this comment](https://core.trac.wordpress.org/ticket/53801#comment:15) on Trac for the reason why the possible solution I'd posted that @draganescu referenced above won't be suitable for all cases, as well as a proposal to remove legacy widget previews (instead showing only the form for the legacy widget) until such time as we reach a better solution.

[2021-08-26 21:46] stacimc commented on #33412
Noting that I was unable to reproduce this in Gutenberg 11.3, testing with Buttons, Site Title, and Site Tagline for good measure.

[2021-08-26 22:52] stacimc commented on #32678
Confirmed I'm able to reproduce this using the testing instructions.

[2021-08-27 00:18] roo2 opened #34340 "Pasting blocks into _Verse_ or _Code_ block inserts block markup"
### Description

![verse copy](https://user-images.githubusercontent.com/22446385/131050498-9f20a9df-15a8-466a-9ddc-7bbd8d06386b.gif)

When pasting blocks into the Verse, Preformatted, or Code block, I expect to see the contents of the blocks inserted. Instead I see raw block markup inserted. Other blocks I tested have the expected, content inserting behavior.

### Step-by-step reproduction instru

[2021-08-27 02:06] noisysocks commented on #34335
This was the surprising bit for me while reading your description. I don't think `getRawEntityRecord` should do `instance = instance.raw` for widgets. I suspect it assumes that `raw` always means `content.raw` in a post. Can we add a guard so that it only does this for post entities?

[2021-08-27 02:23] #34307 closed, assigned to talldan

[2021-08-27 03:04] talldan commented on #34254
Hmm, yeah. I haven't been able make it happen again!

I wonder what it was. I had a hunch that maybe LinkControl was stealing focus when a navigation link doesn't have a URL, but that doesn't seem to be the case.

[2021-08-27 04:25] annezazu commented on #33988
Thanks for exploring this further with such a thoughtful design and walk through. I do like the animation you made! For some reason, I am struggling still with the overall concept of having dot indicators within the block toolbar itself for unsaved changes, particularly when there are lots of changes to be had (at scale) and when dealing with things like auto-saving or scheduling changes. Further,

[2021-08-27 04:48] glendaviesnz commented on #5840
Point 3. seems to be resolved in 5.8 and Gutenberg 11.3, ie. hitting esc on an Image toolbar item returns focus to the Image block toolbar rather than the previously selected paragraph block:

![focus](https://user-images.githubusercontent.com/3629020/131073275-a2ef9e8e-0e8d-4288-8848-27363aa45e2f.gif)

[2021-08-27 04:52] talldan commented on #18395
I like this idea, but as an automatically added item it might limit the user's options for positioning the link in the submenu. It seems like it'd be easy enough to provide the user with the capability to create a hover menu without a link as the parent item, then the user can place this link in the submenu and name it as they desire.

[2021-08-27 06:39] aaronrobertshaw commented on #20896
Hi @enriquesanchez 👋

To offer the same controls in the Media & Text block as the Image block, my first thought would be to leverage the [`InnerBlocks` API](https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/nested-blocks-inner-blocks/). Unfortunately, it is already used to handle the content part of the Media & Text block making this not possible. A more detailed explanatio

[2021-08-27 07:27] jasmussen commented on #18395
Good thoughts. It inspires some options here, not sure they are good, but just talking through the flows might uncover better ideas.

- #33775 creates a split button solution where the item itself links, and the dropdown chevron opens a submenu on click.
- That same branch in fact adds a new "Submenu" block, which works to open on click when the main item has no link. That in essence accomplishes

[2021-08-27 07:36] carolinan commented on #33792
Maybe it can be removed now, as there is also a notice in core if you activate the theme without Gutenberg?

[2021-08-27 08:23] Mamaduka commented on #33792
Maybe we should display notice only on the Themes page and make it dismissable?

Unfortunately, default dismissable behavior will not prevent a message from re-appearing once the page re-loads. Also, loading extra JS files on the dashboard page to save user preferences in local storage will complicate things.

P.S. Happy to create PR to resolve this.

[2021-08-27 09:07] gziolo commented on #32815
I tested it with the latest Gutenberg plugin activated and with WordPress 5.8.0. I couldn't reproduce the issue. I see in the code a few places that @glendaviesnz added in #25940 additional checks whether `blockType` object is defined when accessing `apiVersion`. I searched through the code and noticed a few more places so I plan to open PR with some code quality improvements that might prevent so

[2021-08-27 09:09] mtias commented on #34305
I'd prefer to avoid any classification for now and retain a flat list. We can introduce some order later on when things decant.

[2021-08-27 09:15] mtias opened #34345 "Typography Tools: Tracking"
Tools:
- Font
- Size
- Line Height
- Appearance/Weight/Style
- Letter Spacing
- Letter Case

Mockup:
<img width="279" alt="Screen Shot 2021-09-24 at 2 00 42 PM" src="https://user-images.githubusercontent.com/25516611/134670861-ee2736d9-17a8-466c-8c49-b92b7725b88e.png">

### Components

- [x] Iterate on `ToolsPanel`
  - [x] #32392
  - [x] #34257
  - [x] #34157
  - [x] #34085
  - [x] #34632
  - [x]

[2021-08-27 09:24] gziolo commented on #32815
I opened #34346 with a changes that check if the `blockType` is defined before accessing `apiVersion` in 3 more places.

The remaining question is whether we want to do anything about WordPress 5.7. We didn't see similar reports before so it's hard to tell if that isn't related to the theme used. It needs to be tested with WordPress 5.7 and the default theme to verify how serious this issue is.

[2021-08-27 09:33] scruffian opened #34347 "Block Gap: Add configuration for horizontal and vertical block gaps"
## What problem does this address?
The new "blockGap" setting gets applies to blocks whether they are stacked vertically or horizontally. In many themes the spacing want between blocks is different in the horizontal and vertical directions.

## What is your proposed solution?
It would be useful to be able to specify a "vertical" and "horizontal" value for "blockGap", to have more control over this

[2021-08-27 09:37] Mamaduka opened #34348 "CustomSelectControl: Provide fallback `describedBy` when there's no selected item"
### Description
Currently if `CustomSelectControl` value is `undefined` component will trigger an error. The component tries to generate the `describedBy` value using the selected option's name. We should provide fallback value when there's no selection.

A similar change should be made for the `FontAppearanceControl` component as well.

### Step-by-step reproduction instructions

1. Install and a

[2021-08-27 09:47] getsource commented on #32024
Okay, thanks again everyone!
I just made a follow-up commit, here: https://core.trac.wordpress.org/changeset/51677

Please let me know if anything else is necessary here.

[2021-08-27 09:58] mtias commented on #21584
@ciampo no, our UI components are React based intended for admin UI, an accordion block would be something implemented entirely differently and optimized for the front-end.

[2021-08-27 10:07] oandregal opened #34349 "theme.json v2: track changes"
Part of https://github.com/WordPress/gutenberg/issues/20331

This issue is to track the changes we need to introduce in WordPress 5.9, which we should match to a new schema for `theme.json`.

- Update version to 2.
- Consolidate the names that already landed and add migration from v1 to v2:
  - Rename `spacing.customMargin` to `spacing.margin`.
  - Rename `spacing.customPadding` to `spacing.paddin

[2021-08-27 10:09] gziolo commented on #18894
Opened #34350 to address it.

[2021-08-27 10:10] oandregal commented on #34349
In origin, we used the `custom*` prefix for things that had both a preset and custom colors added by the user. For example, `color.customGradient` means the users can't use the custom colors in gradients, they are limited to preset gradients. However, `color.link` means the users can't set link color.

We should remove the `custom*` prefix those properties that don't need it: `spacing.margin`, `sp

[2021-08-27 10:25] oandregal commented on #34349
cc @mtias @youknowriad @mcsf @jorgefilipecosta @gziolo @aaronrobertshaw @ramonjd

We can implement the migration from v1 to v2 for the properties above, as we did in the plugin when we introduced v1 ([see](https://github.com/WordPress/gutenberg/blob/trunk/lib/class-wp-theme-json-schema-v0.php)), so in `theme.json` you'd use the name without the `custom` prefix.

I wonder how this affects the "inte

[2021-08-27 10:46] mtias commented on #34349
We should perhaps leave the renaming for when we stabilize and remove the `__experimental`.

[2021-08-27 11:02] mtias commented on #34347
I'm a bit confused, wouldn't that still just be block gap just in a horizontal container? There's never both a horizontal and vertical gap at the same time at a container level, so discriminating doesn't seem to make a lot of sense?

[2021-08-27 11:10] ciampo commented on #34305
Make sense. We can continue the conversation here at a later time

[2021-08-27 11:11] ellenbauer commented on #33792
@carolinan @Mamaduka Thank you so much for your help on this. It would be so wonderful to have a solution here since it is so distracting to have this notice always visible and also discourages users to start exploring FSE themes in my opinion.

Of course I love @carolinan idea to just remove it completely but whatever improves the current state would be wonderful to have.

@Mamaduka yes, if you c

[2021-08-27 11:12] ciampo commented on #21584
Makes sense, thank you for clarifying.

[2021-08-27 11:23] scruffian commented on #34347
That could work, but I don't think we have a way to set different block gaps in each container do we?

The other benefit of the approach I suggest is that we would only need to set it in one place rather than for every container.

[2021-08-27 11:34] mtias commented on #18395
I think we should just have "Hover / Click" options, and then "show submenu indicators" would be the one that determines the split.

When **not showing** submenu indicators:

- Hover: should work just like wp-admin menus, where the dropdown can be tabbed into and enter would navigate to the top-level page. This seems one of the most common patterns on the web and it'd be a bit bizarre if we don't

[2021-08-27 11:38] youknowriad commented on #34347
#33991 this should solve it.

From the theme.json perspective, it's already possible to define different gaps for different block types.

[2021-08-27 11:39] youknowriad commented on #34347
What we need to do as well is to refactor the existing horizontal blocks to use the "flex" layout that way they don't get polluted with CSS that is not targeted for them. (buttons, social links, navigation, columns)

[2021-08-27 12:03] mtias commented on #32353
There's now a hover overlay rendered on reusable blocks that should give clearer indication. It might still warrant an extra click to to the children.

[2021-08-27 12:06] mtias opened #34352 "Proposal to rename "reusable blocks" to "synced blocks""
Reusable blocks have a long history now. The started as "saved blocks" and went through some renaming iterations until we settled on "reusable blocks". This worked alright at the beginning, but with the introduction of patterns its meaning has started to become more fuzzy and confusing ([see related comment](https://github.com/WordPress/gutenberg/issues/31163#issuecomment-898376830)). In the end,

[2021-08-27 12:07] mtias commented on #33988
I mentioned it in the active PR, but I think we should consider not displaying the "save" button when there are no changes in the block.

[2021-08-27 12:09] Mamaduka commented on #33792
The PR is ready for review - #34353. Please let me know if you also prefer to change the wording of the message.

[2021-08-27 12:18] carolinan commented on #34205
Please read the discussion in #29568, it explains why. And any further questions can be added to that issue, where it is likely to be seen by more people.
It was implemented here: https://github.com/WordPress/gutenberg/pull/31669

[2021-08-27 12:20] MikeWhelan commented on #34352
I agree, "synced blocks" is much more descriptive to the end user and makes a clear distinction between this block and all other reusable patterns, templates and re-usable blocks - of which there are many!

[2021-08-27 12:58] Mamaduka commented on #25612
Created PR to add basic support for child themes - #34354.

I think merging global styles can be done as a separate PR.

[2021-08-27 13:36] adamziel commented on #34335
@noisysocks I don't know enough about `raw` to be able to answer that so cc @youknowriad and @gziolo.

Why do we even use `raw` here if we don't want that behavior?

[2021-08-27 13:58] navxio commented on #27151
@tellthemachines hi! I mount the block as a react component on a static div.. moving the block up/down with arrows is causing the component to remount, and that too not properly. Any pointers?
Can I get an event when a block was moved ?

[2021-08-27 14:33] gziolo commented on #34335
I don't know how `getRawEntityRecord` works 🤷🏻‍♂️

[2021-08-27 14:34] michaelmcpeekbrenau commented on #11589
One year later and the Tables block still doesn't support captions and doesn't use ARIA labels to connect figcaptions with tables, either.

[2021-08-27 15:16] jhnstn opened #34356 "[RNMobile] Inserter menu state issue when activating the search input"
## Description
Switching between the default and search results inserter view on mobile sometimes results in a mixed state. One such case is when using a floating keyboard on an Android tablet. In this case, finger taping the search input places focus on the search input but the default block list (including reusable tabs) remains in the inserter view.

## Step-by-step reproduction instructions

1

[2021-08-27 15:32] #34223 closed, assigned to Mamaduka

[2021-08-27 15:41] mrwweb commented on #18395
I've never built a click-to-open menu that didn't have submenu indicators. They're a useful usability affordance for both hover and click menus. So that is to say that I don't think selecting a visual design option should change the behavior of the submenu. (I'm still not sold on including split buttons.)

I think that's probably the easiest path forward and users would likely figure it out. (If y

[2021-08-27 15:42] gwwar commented on #34254
With changes in https://github.com/WordPress/gutenberg/pull/34337 this should no longer be possible 👍

[2021-08-27 15:42] #34254 closed, assigned to nobody

[2021-08-27 15:43] diegobroncano commented on #19847
Hi! But can't you add a class to the front-end cite tag, so we could use the same selector in the editor as well as in the front-end?

[2021-08-27 16:09] SiobhyB opened #34358 "[RNMobile] Pullquote Block: Changes to Colours Not Reflected in Editor"
## Description

After changing the background and foreground colours to the Pullquote block, I noticed that the changes were not reflected in the editor.

## Step-by-step reproduction instructions

* Navigate to the post editor in the Android or iOS app.
* Add a new Pullquote block and enter some text into it.
* With the block selected, tap the cog/gear icon to see options for adding background an

[2021-08-27 16:46] stacimc commented on #32941
Thanks for reporting. Are you able to reproduce this after installing and activating the newest version of Gutenberg that is available through the [Gutenberg plugin](https://wordpress.org/plugins/gutenberg/)?

I am unable to reproduce the bug you're seeing when I test against the newest version of Gutenberg, 11.3.0. When I define background color in `theme.json` like this:

[code]

I see the white

[2021-08-27 18:43] #34150 closed, assigned to jeyip

[2021-08-27 20:53] TeBenachi opened #34362 "Navigation block: Focus moves away when selecting the Start empty using tab key"
### Description

Focus seem to get lost while adding the navigation block, and then select the Start empty option using the keyboard.

The focus is expected to be on the “Plus” button once the Start empty is selected.

This might be similar to this issue [#29948](https://github.com/WordPress/gutenberg/issues/29948)

### Step-by-step reproduction instructions

1. Add the navigation (horizontal or v

[2021-08-27 21:08] stacimc commented on #33154
I'm going to go ahead and close this issue since the patch was committed. I also re-tested across several themes to be safe and can no longer reproduce the issue.

[2021-08-27 21:08] #33154 closed, assigned to nobody

[2021-08-27 22:00] spacedmonkey commented on #25093
I have been considering this endpoint over the last couple of days.

Originally, when I built this endpoint, I wanted avoid doing more than one ( two with post meta ) database inserts / updates in a single REST API request. As in, one request = one database operation = one menu item. But this basically means that validation against other menu items is impossible.

When considering the a reorder en

[2021-08-27 22:23] paaljoachim commented on #33988
You have some awesome explorations Channing! (I browsed through quickly to get a feel for how things are going.)
I noticed the above animated image containing two dots. Two dots in the same toolbar can very quickly become confusing.

An example.
Header template has unchanged changes inside of it, and shows a dot next to the header template icon.
It happens to have a Reusable block inside of it whi

[2021-08-27 22:59] TeBenachi opened #34363 "Columns slider: Number of columns reset to 1 when using Tab+Shift"
### Description

After adding the columns using the columns slider in the sidebar, the columns slider resets to 1 when moving the focus back using Tab + Shift key.

The number of columns is expected not to change.

### Step-by-step reproduction instructions

1. Place focus on the Color section on the side bar. (the color panel should stay closed)
2. Press Tab key once to move the focus on the Colu

[2021-08-28 00:07] stacimc commented on #33996
Thanks for reporting this, @scheinercc. To give you some context, this behavior at mid-range viewports is currently necessary in order to [avoid issues with column wrapping](https://github.com/WordPress/gutenberg/pull/20597#issuecomment-595974441) -- but adding the ability to customize column widths at different viewports is being very actively discussed.

You can check out this existing issue: #1

[2021-08-28 00:07] #33996 closed, assigned to nobody

[2021-08-28 04:25] carolinan commented on #29644
The block is not context aware, it does not know if it is on the home page or where it is on the page.

I am not sure if there are ny good solutions to this, because I also don't think the element should change automatically without the site creator being aware.

[2021-08-28 04:27] carolinan commented on #29644
As for making proper semantic decisions, the document outline will show if headings are in the incorrect order, but maybe it needs to be more visible.

[2021-08-28 07:44] paaljoachim opened #34365 "Remove the icon and word Navigation from the Nav block select option line."
## What problem does this address?

Selecting a Nav - horizontal.

![Screen Shot 2021-08-28 at 09 35 40](https://user-images.githubusercontent.com/5323259/131210413-ade65efc-099b-4e66-af82-4c7288396e1c.jpg)
The icon and word Navigation is on the same line as to where one adds a selection. It crowds the options.

Selecting a Nav - vertical.

![Screen Shot 2021-08-28 at 09 40 04](https://user-images

[2021-08-28 07:48] maddisondesigns commented on #6132
Almost 3.5 years and still no resolution to this issue. Why is there such a reluctance to add a simple "Paste as text" button to fix the many issues with pasting text into Gutenberg Blocks? Constantly saying "you can just use Shift+Cmd+V" is not an adequate solution as not everyone knows that you can do that because it's so hidden.

The Paste as Text button was available in the Classic Editor. It'

[2021-08-28 08:45] Humanify-nl commented on #20581
Sorry to add this to a closed issue. But I found it is very elusive in the documentation how to use the variations picker if block scope is chosen. I had to find it digging into the core src, comparing groups & columns.

For example, when creating variations on the core group block, the variations picker is not found. Yet, it allows me to choose block scope, while this doesnt do anything (because

[2021-08-28 09:35] Sandstromer commented on #32941
@stacimc thanks for reminding me of this issue. It seems to work as expected now in the latest release, so I'll go ahead and close this.

[2021-08-28 09:35] #32941 closed, assigned to nobody

[2021-08-28 09:57] Humanify-nl opened #34366 "Proposal for naming distinction between template-parts and blocks"
## What problem does this address?

With the upcoming full site editing, all the different block manipulations are going to become a handfull. The user experience may risk becoming somewhat fuzzy, because of the naming convention.

**What we have now:**
- Reusable (synced) block
- Block-style
- Block-variation
- Block-pattern
- Block-template (soon)
- Block-template-part (soon)

**What is unclear?

[2021-08-28 10:22] Humanify-nl commented on #34212
I'd propose a feedback message such as: This block needs post terms to work, please add them here (+ link)

Pages can have post-terms but are not present in vanilla, they need to be added by a theme developer.

Best case would be to automatically remove these type of blocks from the editor when they do not fulfill the requirements for a certain post-type. As is talked about here: #30679

[2021-08-28 10:26] mkkeck commented on #11763
I think, there would not be an option near future.
See #33675.
That's why I have to add for example redudant code into my Bootstrap CSS files or add redudant custom classes to each associate block (like buttons, columns).
It does not make sense to add tons of classnames to blocks, which may be end in unaspected results, but that's the only solution for now. Other solution is adding tons of for exa

[2021-08-28 11:11] paaljoachim commented on #6941
Hey @jorgefilipecosta

I noticed this comment: https://github.com/WordPress/gutenberg/issues/28146#issuecomment-906522671
"#6941 was closed due to the introduction of theme.json, which does not address different palettes for background vs text.

I have been digging into the button block code for a few hours now to figure out if it is in any way possible to alter or remove the background color pale

[2021-08-28 11:14] paaljoachim commented on #32307
@mcsf @mkaz Perhaps you could take a look at this issue?

[2021-08-28 11:32] yolinfl commented on #15105
Thanks Talidan!

[2021-08-28 12:40] Theo789595 opened #34367 "Gutenberg enhanced code editor request"
So as you know Gutenberg has 3 available options for editing:

1. Visual block editor
2. Edit as HTML option for blocks
3. Code Editor (ctrl+shift+alt+m)

**Issue:**
Other than the block editor needing a lot of work to go... the code editors need work to be done too.
When editing as html and especially when using code editor it is unacceptable to just have a plain, raw space with 0 functionality t

[2021-08-28 14:02] RajkiranBagal commented on #34363
Hey @TeBenachi ,

I checked this issue at my end & this seems to be fixed.

Reference - https://d.pr/v/WEWD3B

Can you please check again?

Let me know if I am missing something.

Regards
Rajkiran

[2021-08-28 17:28] carolinan commented on #34345
The letter spacing control is currently not working: https://github.com/WordPress/gutenberg/issues/32577

[2021-08-29 04:01] maddisondesigns commented on #34212
Agreed. The best solution would be to not allow a user to insert them into content where they're not going to work, such as on Pages.

[2021-08-29 13:25] TeBenachi commented on #34363
Hi @RajkiranBagal

Thank you for checking.  Having the focus move to the number box does not cause to reset, however
navigating back to the color section directly from the slider still seem to reset.

[2021-08-29 15:47] TimothyBJacobs commented on #25093
We can do this now with the batching endpoint as it exists if we drop menu order validation. From the initial issue description:

[2021-08-29 21:47] lecoqlibre commented on #18095
Any news on this? I'm making a new theme using blocks and I need opacity but I'm so surprised that there is no alpha selector! Don't you think alpha selection is a must-have in every serious design solution? It would be so nice to have this feature in the next Gutenberg release...

+1 to add color transparency to any block that supports background color, especially the group one!

[2021-08-29 22:34] ramonjd commented on #34096
This is an interesting problem.

It's especially noticeable when trying to reset a column's width values:

https://user-images.githubusercontent.com/6458278/131266966-10bce672-8e49-48dd-ad7b-7ea0224fbcc6.mp4

If I change the values/units, then remove them I can't return to the original width values and have to create a new column.

I wonder what our options are. I'm just rattling off some un-infor

[2021-08-29 22:52] glendaviesnz commented on #28600
@Copons the Gallery refactor has been merged. It is still behind an experimental flag until mid September due to some mobile app compat issues, but if you enable the gallery experimental flag and add a new gallery this issues is resolved:

![move](https://user-images.githubusercontent.com/3629020/131267808-b6aa2486-932b-4676-9c0d-8a39024152ef.gif)

The old gallery format is still supported, ie. an

[2021-08-29 23:16] diegobroncano opened #34368 "Full-width in reusable blocks"
### Description

Full-width blocks contain in a reusable block aren't seen as full-width blocks. It is expected to be seen as what is it, a full-width block.

### Step-by-step reproduction instructions

1. Create any full-width block (cover, group, image...)
2. Set block width as full-width.
3. Add the block to reusable blocks.

### Screenshots, screen recording, code snippet

![2021-08-30 01 07 2

[2021-08-29 23:30] glendaviesnz commented on #27636
This appears to be fixed in WP 5.8 and Gutenberg 11.3, with and without the gallery refactor experiment enabled:

![align](https://user-images.githubusercontent.com/3629020/131268806-ea2454a9-622a-4959-b0fd-10de100075a1.gif)

[2021-08-29 23:36] glendaviesnz commented on #27706
This still happens with the [new gallery format merged](https://github.com/WordPress/gutenberg/pull/25940).

[2021-08-29 23:44] glendaviesnz commented on #7963
This is more broken on the the new gallery format, so probably should be sorted before the new gallery experimental flag is removed:
![long-caption](https://user-images.githubusercontent.com/3629020/131269197-ed33122f-6ce5-40ce-b043-ece5426bd3a7.gif)

[2021-08-30 00:13] glendaviesnz commented on #11373
This is resolved in WP 5.8 and gutenberg 11.3.