[2022-01-27 17:18] jpage86 commented on #35906
Hi, same issue here with Elementor Image Gallery, drag & drop not working. Using WP 5.9, it doesn't seem to work on any browser. Tried playing around with CSS, seems that is not the issue. No console errors either.

[2022-01-27 17:21] kraftner commented on #38286
I've recently come across [this tweet](https://twitter.com/mmatuzo/status/1481989095018614785) by @matuzo which hints at an issue with `role=presentation` with VO in Safari which might be relevant here.

[2022-01-27 17:31] joedolson commented on #38286
`<use>` has a native role of image, and `role=presentation` doesn't cascade (at least, not normally - there are exceptions, such as tables). aria-hidden will override the `use` element, however, as it removes the element and its children from the accessibility tree.

This mostly has to do with the fact that, unlike `img`, an `svg` is a container with descendants, so you could end up in a situation

[2022-01-27 17:41] ryanwelcher commented on #38242
@ajlende do we need to cherry-pick #36917 into the 5.9 branch?

[2022-01-27 17:46] ordigital opened #38293 "Bad coding paradigms in Gutenberg"
### Description

- Styles should be kept in stylesheet and not in page content. Attribute `style` should not be added to any tag! Any hardcoded values for colors, fonts etc. are unacceptable because they destroy website style consistency i.e. when using alternative hi-contrast css that inverts text/background colors for accessibility or when there's a button for changing global font size.
- There

[2022-01-27 18:02] lukasz-gorski commented on #21193
So it have been a while and we have 5.9 ;) Does it's possible to enable iframe preview for Desktop too? I see it's not default, but maybe as an option somehow?

[2022-01-27 18:10] matuzo commented on #38286
There was some follow up discussion in the a11y slack channel and people there said pretty much what @joedolson explained in his reply. I've never used "role=presentation" for remove images from the accessibility tree (because generally that's not what it's supposed to do) before, but I see it on many sites I audit.

[2022-01-27 18:30] mkkeck commented on #38293
See here too: https://github.com/WordPress/gutenberg/issues/34613#issue-989661644

[2022-01-27 18:43] CruelDrool opened #38296 "Gallery Block: wrapper container for gallery items"
The last picture(s) in a gallery always has gap between them and the `figcaption` element. The old gallery block had a wrapper with the CSS-class `.blocks-gallery-grid` that I could target with a negative value for `margin-bottom`, and thus eliminate the gap. Besides that, it was also possible to set the flex [order](https://developer.mozilla.org/en-US/docs/Web/CSS/order) of the gallery itself and

[2022-01-27 18:54] aurooba opened #38297 "Social Icons Block hidden by AdBlockPlus Chrome Extension in the editor"
### Description

If users have a ad blocker of some kind installed (in my case, [AdBlocker Plus](https://adblockplus.org/)) it'll hide the Social Icons block if they have the preference `Block social media icons tracking` or similar activated (which is usually active by default). These extensions typically are looking for classes and element names that include `social-links` or `social-icons` etc.

[2022-01-27 19:00] ghost opened #38298 "Author select section on the post edit pages is gone."
### Description

After the last update, the "author select" area that exists on the post editing page and that allows us to select other authors as the author of the post to be published, disappeared. It just doesn't show up anymore.

### Step-by-step reproduction instructions

1. Go to post edit page
2. Try to select other author for the specific post

### Screenshots, screen recording, code snip

[2022-01-27 19:00] mkkeck opened #38299 "WP 5.9 adds default Duotones before closing the body"
### Description

I've updated my WP to 5.9. Now there is new junk added before `</body>`, some SVG's and Style's.
This does not make sense, because I'm not using FSE and have disabled duotone and gradients.

### Step-by-step reproduction instructions

1. View html code of a page rendered with 5.8
2. View html code of the same page rendered with 5.9
3. In 1.) there are no SVG and Styles before clos

[2022-01-27 19:10] johnstonphilip commented on #38299
I am seeing this too:
`
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587

[2022-01-27 19:32] ndiego commented on #38298
Hi @TgDsGooD, thanks for reporting. The Author selection field was not removed in 5.9, but it does take a sec to fetch the current users. So when you first load the page, the field is not be visible. Once the authors have been fetched, it will appear. This is the same functionality as in previous versions as far as I am aware.

Can you check to see if there are any console errors? If so, would you

[2022-01-27 19:46] ghost commented on #38298
I waited more than 5 minutes and the field does not appear. Here's a print for you to see!

My domain I painted black so it doesn't show up.

![console-error](https://user-images.githubusercontent.com/18150957/151432243-4c047336-b059-4866-ad6a-ec426edf73cf.jpg)

![console2](https://user-images.githubusercontent.com/18150957/151432291-3e7d40df-850d-4785-9ad5-710c99fc658b.jpg)

[2022-01-27 20:07] ndiego commented on #38298
Thanks for the followup. Yeah, the multiple server 404 errors point to a larger issue here. My guess is these issues are preventing WordPress from being able to successfully fetch the authors. It looks like the errors might be related to a plugin or your specific theme? Very hard to tell, but perhaps whatever is loading `betube-admin.css`?

While not a solution, I hope the above was a bit helpful.

[2022-01-27 20:07] #38298 closed, assigned to nobody

[2022-01-27 20:11] ndiego commented on #38297
Interesting 🤔. For those using an Ad Blocker, wouldn't this be the intended result though? The website is "advertising" social links 🤷‍♂️

I am at a loss how we would solve this internally. Changing the class names is likely a non-starter at this point.

[2022-01-27 20:21] aurooba commented on #38297
@ndiego Right, but most people wouldn't know that by choosing not to be _tracked_ by social media icons, they can't even add any links to social media profiles through their editor.  Changing class names would definitely be a non-starter, and I have no other ideas. But blocking this kind of tracking using the class method is fairly common, and it sucks that it affects the block _inside_ the actual

[2022-01-27 20:23] ndiego commented on #38297
I am not familiar with Ad Blockers, does it strip the content from the page, or just do something like `display: none`?

[2022-01-27 20:27] Jabe64 commented on #4543
There is no need to enter HTML mode, just add the custom class to button in option panel.

But in my opinion it doesn't answer this request which is having a simple WYSIWYG solution natively like all other builders have.

Hover option is really some important feature missing for perfect FSE experience.

[2022-01-27 20:32] cxlxin opened #38302 ""image_default_link_type" option doesn't work as of WP 5.9"
As of WP 5.9 the `image_default_link_type` option doesn't work for the new galleries. Images do still work.

_Originally posted by @cxlxin in https://github.com/WordPress/gutenberg/issues/25582#issuecomment-1023612983_

[2022-01-27 20:45] dutchanton commented on #38171
Before WordPress 5.9 it was possible to leave the HTML anchor empty. Now indeed it is pre-filled, and the anchor cannot be deleted (empty).

I leave anchors empty **if and when I do not want a specific heading to be included in the Table of Contents**. Many TOC blocks automatically pull in all headings and anchors, without the ability to pick and choose which ones to display.

[2022-01-27 20:50] dutchanton commented on #38171
No, because it should be possible to leave specific headings out of the ToC.

Example: if a post has 9 headings but I only want the ToC to display 4 of them.  The heading HTML anchor text behaved that way before 5.9.

[2022-01-27 20:54] paaljoachim commented on #15791
Hi @amustaque97

Perhaps @getdave might have som ideas....:)

[2022-01-27 21:42] ajlende commented on #38302
I know @glendaviesnz was doing a lot of the new gallery work. Maybe he has some insight.

[2022-01-27 21:59] kraftbj opened #38304 "CLI: Automatically bring up Docker when using jt-up"
When running `jetpack docker jt-up`, it fails with an unhelpful message when the Docker container is not up.

[code]

[2022-01-27 21:59] #38304 closed, assigned to nobody

[2022-01-27 22:01] kraftbj commented on #38304
Sorry y'all. I mixed up my tabs and opened this in the wrong repo.

[2022-01-27 22:43] naxoc opened #38305 "Difficult to select Page List block in certain circumstances"
### Description

When I click any other block in the editor, I get the toolbar as I expect. When I click the Pages list I get a border around the block, but no toolbar. I _can_ trigger the toolbar, but it takes some clicking in and out.

I can see why the links in the list should be disabled so one does not click away from the editor by accident, but I wonder if that is what is causing the odd beh

[2022-01-27 22:55] RolfKyburz opened #38306 "Must be able to remove / disable HTML anchors from selected / specific header blocks"
### Description

As a heritage from a recent Gutenberg update, WP 5.9 now automatically adds anchors for all header blocks. Previously, header tags were not added reliably, so the fix is welcome. However, for TOC blocks which collect all blocks with an anchor, this has nasty side-effects: one can alter the anchor, but it seems impossible to eliminate an anchor from a header block (the empty anchor

[2022-01-27 23:02] lwangdu commented on #38299
I am seen the seem issue. I have reported this issue before but nothing happened.
![Screen Shot 2022-01-27 at 2 55 59 PM](https://user-images.githubusercontent.com/24829573/151457582-b84dd8f0-17a5-43a7-9a5d-8015559b5a35.png)
.

[2022-01-27 23:13] Elgameel commented on #38230
Update: it seems that all Editor keyboard shortcuts are not working too.

I can confirm that the following shortcuts are not working:
- `CTRL + Z`.
- `CTRL + SHIFT + D`
- `CTRL + K`

[2022-01-27 23:21] jpage86 commented on #35906
Update: Correct it is related to Wordpress 5.9 and jQuery UI Sortable library and will be fixed in the next update. Have rolled  back to 5.8.3 and it works. [https://core.trac.wordpress.org/ticket/54902](url)

[2022-01-27 23:27] tellthemachines commented on #23573
Yes, this needs to be done for feature parity with classic menus, and for better UX.

[2022-01-27 23:28] friscoMad opened #38307 "Error 405 saving widgets"
### Description

After migrating 2 different installations to 5.9 I am seeing an error when I try to save any widget modification.
It seems that the save triggers a call to `https://XXXt/wp-json/batch/v1?_locale=user` but with the method OPTIONS that ends with an 405 error blocking any widget modification.

I have confirmed the issue with multiple themes and in at least 2 different installations a

[2022-01-28 00:22] rtvenge commented on #31903
As a follow up for anyone else that runs into this issue, this had something to do with SearchWP for me. I disabled the plugin, ran and index and the search worked after that.

[2022-01-28 00:35] tellthemachines commented on #28613
When a block is selected, pressing the Tab key takes us to the sidebar; this happens whether the selected block has inner blocks or not. That is the intended behaviour, but there are a few different opinions on whether it should be changed/improved.

I'm going to close this issue as a duplicate of #24728, because there's extensive discussion of this behaviour over there. In any case, thanks for th

[2022-01-28 00:35] #28613 closed

[2022-01-28 00:45] annezazu commented on #31903
Thanks for following up @rtvenge :D

[2022-01-28 00:46] annezazu commented on #38290
@MehbubRashid what happens if you use 5.9? I'm curious to know your current experience with the latest release :)

[2022-01-28 00:48] annezazu commented on #38307
Hey @friscoMad ! In my experience, a 405 error usually can indicate something on your server is blocking an action from happening. By chance, have you chatted with your host about this issue?

[2022-01-28 00:53] wpfangirl opened #38309 "Change labels in Templates from "Post" to "Post Type Name""
## What problem does this address?
Yesterday at the WordPress Social Learning event on patterns, templates, and template parts, a participant who is new to WordPress spent two days trying to figure out why her page content wasn't displaying after she edited the page template.

**It turns out she removed the "Post Content" block from the template, because the template was for a page, not a post.**

[2022-01-28 01:24] supernovia commented on #27720
I'm seeing this again with a Youtube block. It seems fine in the editor, but once on the site, the frame height is too tall for the video. A user requested help [here](https://wordpress.com/forums/topic/large-space-underneath-embedded-video/). I Tested in Twenty Twenty and Twenty Twenty One:

![image](https://user-images.githubusercontent.com/3476361/151470638-ca366809-b746-4d95-aa9c-624593a4c44d.

[2022-01-28 02:09] glendaviesnz commented on #38302
Thanks for reporting. I have a potential fix for this here https://github.com/WordPress/gutenberg/pull/38310

[2022-01-28 04:41] tellthemachines commented on #36977
Noting here that, if there are no items in the submenu block, it's possible to transform it back into the link it started out as by using the transforms menu (click the block icon/block name in the toolbar) and selecting "Custom link". The transform options are not available if there are items in the submenu, in order to avoid accidental deletion of a whole submenu.

[2022-01-28 05:21] andrewserong commented on #37514
Just assigning myself to this one — I've made a start in a draft PR (#38314) that I'll continue on with next week. To begin with, I'm focusing on just adding in the Shift key behaviour for multi-selection. Longer-term it might be nice to look into adding CMD-click for selecting non-adjacent blocks at the same time, but I think that'll likely be a bit more complex to implement since our existing `m

[2022-01-28 05:22] costdev opened #38315 "Blank page when `templates/index.html` exists in classic themes."
### Description

See the related Trac ticket: https://core.trac.wordpress.org/ticket/54910

If a classic theme has `templates/index.html`, which may be empty or have non-block HTML markup in it, it can be incorrectly identified as a block theme. For example, some developers and/or hosts, whether good practice or not, can place an `index.html` file in every directory to prevent directory listing. A

[2022-01-28 05:41] pjoulot commented on #29436
Block patterns previews are not working for me either on Firefox 96 and Chrome 97 on Ubuntu 20.
For me the update to wordpress 5.9 broke the feature because it was working on wordpresss 5.8.

[2022-01-28 07:32] jasmussen commented on #36977
That's a totally valid concern. Since we have explicit undo/redo buttons and that you can explicitly uncheck a change before saving it, as a rule of thumb I tend to think we should build these guard-rails only when the concern has proven itself to be a problem. The risk is we add confusion to the flow (why isn't the transform available here when it's available everywhere else?) even if it's with t

[2022-01-28 07:35] mkkeck commented on #38252
Dear Wordpress and Gutenberg developers,

does anybody of you know, that code duplication specially in CSS styles could lead in bad page speed and bad web vitals?

Styles, and of course other things like SVG, which are loaded or inlined but not used, increase the time and filesize to load, parse and display the above fold content. Running tests with Lighthouse and Webhints shows me longer tasks fo

[2022-01-28 08:03] MehbubRashid commented on #38290
Hi @annezazu , It's working in 5.9

[2022-01-28 08:05] jasmussen commented on #38277
Definitely a good challenge. I wonder if we shouldn't zoom out from the navigation block, and look at this issue in more generic terms across all buttons and links. That would put the effort in global styles and design tools territory. One of the interesting challenges to tackle there, is building some confidence on exactly how we should support pseudo states. Do we need them all, or could we star

[2022-01-28 08:11] mkkeck commented on #38299
That shows me again, before releasing a new Version and/or feature testing is not done carefull and complete and more and more we have to accept the dictation and forcing us using things we can not opt-out, wether what we want.

[2022-01-28 08:18] jasmussen commented on #20591
This is one of those issues that if addressed well could really elevate the entire interface. Even just as an improvement to the snackbar interface and positioning.

What makes me the most excited is the refresh this can give to notices, what we have at the moment could use a bit of love:

<img width="1392" alt="Screenshot 2022-01-28 at 09 12 23" src="https://user-images.githubusercontent.com/1204

[2022-01-28 08:21] pixolin commented on #38201
As a *workaround* :
- Add two menus.
- Define overlay menu "off" for one, "mobile" for the other.
- Give both menu blocks an "additional CSS class" in the advanced pane.
- Add a media query to your custom CSS showing one or the other menu depending on screen size.
---
Kudos to @getdave for providing a little tutorial on Youtube: https://youtu.be/dY3f8sHcAPA

[2022-01-28 08:39] carolinan commented on #38009
I can confirm this but it might be a chromium/browser issue. This is the view of the template section in Chrome (top), Opera (middle), and Firefox (bottom) on Windows 10 (Twenty Twenty-Two):

![In Firefox, all descenders in the text in the select list are showing, but they are cut off in Chrome and Opera](https://user-images.githubusercontent.com/7422055/151514159-4d5cfb49-4a61-4f29-9d25-58bae9a3d

[2022-01-28 09:17] jameskoster commented on #36609
It's becoming apparent that many blocks will need to entertain multiple states, but one case that is particularly similar to this one is the Comments Query Loop.

When editing a template like Page or Single, it should not only be possible to compose comment lists, but also to design a state when no comments are found.

[2022-01-28 09:27] tommusrhodus commented on #38252
The use of `!important` is definitely a huge issue here, another is that without declaring `add_theme_support( 'experimental-link-color' )`, font sizes and colour styles created through `add_theme_support` do not override the WP Presets if they share the same name, e.g `large` or `black`

I have detailed this issue in https://core.trac.wordpress.org/ticket/54954 and have a PR to remove the dependa

[2022-01-28 09:30] jameskoster opened #38321 "Comment Author Avatar: Consider making it possible to manipulate `avatar_default`"
As things stand, updating the default avatar for comment authors in the block-based comment design flow is quite disruptive because you have to exit the editor and go in to the Discussion Settings to do so:

<img width="1178" alt="Screenshot 2022-01-28 at 09 26 23" src="https://user-images.githubusercontent.com/846565/151521536-51f53363-0175-4a05-9de4-1130a6fa5c97.png">

It might be nice to someho

[2022-01-28 09:36] webmandesign commented on #38252
### Could you provide hook to filter global styles please?

The more I think about this, the more I incline to my [last suggestion](#issuecomment-1023345698) about filtering `wp_get_global_stylesheet()`. That way WP5.9 code could stay the same while theme authors could manipulate global styles code to their needs in a specific theme that requires such manipulation.

(Though still, no `!important`

[2022-01-28 09:55] getdave commented on #38201
Good advice. What you describe here is what we could create as a Core feature without the need for the custom CSS.

[2022-01-28 10:00] getdave commented on #15791
I suggest bringing this one up in the [Core Editor chat](https://make.wordpress.org/core/tag/core-editor-agenda/). It seems like a good idea but I can't personally commit to it at this time.

[2022-01-28 10:02] wpgaurav commented on #36834
wp_dequeue_style( 'global-styles' ); does the job. Thanks. @brkcd

[2022-01-28 10:02] getdave commented on #23573
Ok it's added to [the new tracking issue](https://github.com/WordPress/gutenberg/issues/38275).

[2022-01-28 10:09] getdave commented on #36977
I'd really appreciate any input on https://github.com/WordPress/gutenberg/pull/38203 which implements a button in the UI to revert. @tellthemachines has expressed valid concerns and I've suggested potential work arounds. That said, having just read @jasmussen's comment about the undo/redo and not over optimising things, I'm not sure which way to go now.

Options very much welcomed and appreciated.

[2022-01-28 10:20] pixolin commented on #38201
Only if you provide a setting for a break point, which so far has been different for every theme. Yet this would complicate things. I'm not sure, if `wp_is_mobile()` is reliable enough.
As a core feature I probably would prefer an extra option for the menu items "show in mobile/show in desktop"?

[2022-01-28 11:17] behrang1981 opened #38322 "Soft line break in (shift+Enter) paragrah deletes the following paragrah (Windows)"
### Description

After moving a paragraph to end of the previous one by deleting the spaces inbetween and making a soft break with (Soft line break) the paragraph behing the curse is completely removed.

### Step-by-step reproduction instructions

1. Write two distinct paragraphs in editor
2. go the beginning of the second
3. remove the space to the first paragraph by using delete on keyboard
4. N

[2022-01-28 12:02] aristath commented on #38201
It's not. It's notoriously bad... It fails miserably when there is caching involved, reverse proxies and so on.
Jetpack has an improved method (see [class-device-detection.php](https://github.com/Automattic/jetpack/blob/e2e2da6ba53f243042490c1e5ff060326279501e/projects/packages/device-detection/src/class-device-detection.php) in the Jetpack plugn) but ultimately, any server-side implementation wil

[2022-01-28 12:09] karmatosed commented on #37761
@csalzano that would help but also someone needs to test this along with you.

[2022-01-28 13:46] mkkeck opened #38328 "PHP warning in class-wp-theme-json.php line 1252"
### Description

After update to WordPress 5.9 and adding `settings.appearanceTools` =  **`false`** to theme.json a PHP warning is given:

### Step-by-step reproduction instructions

1) Create a theme.json with `settings.appearanceTools` =  **`false`**, for example :
[code]
2) View your front- and/or backend
3) If you have XDebug installed you see the warning - or take a look in you logfiles

###

[2022-01-28 13:49] paulgibbs commented on #38252
As @cbirdsong wrote, the change with `!important` makes the original statement here inaccurate, and we've noticed it on the first few of our clients' sites that we've updated. I think we're going to rollback to WP 5.8.x as we have hundreds of existing client sites which will be affected. This ought to be considered a breaking change / concern because it impacts our sites that do not have a theme.j

[2022-01-28 13:57] piotrbak opened #38329 "Paragraph block issue when site is set to Polish language"
### Description

When Polish language is being used, the paragraph block lacks the Font Size section.

### Step-by-step reproduction instructions

1. Set site language to Polish
2. Add new page
3. Add new paragraph
4. See the menu on the right, there is no way to change the font size
5. Change the language to English and repeat the 2,3,4 steps

### Screenshots, screen recording, code snippet

![im

[2022-01-28 14:07] johngodley opened #38330 "iOS Safari autocorrect suggests entire sentence not individual words"
### Description

If you type into Gutenberg from iOS Safari your individual words aren't suggested for autocompletion. Instead, the entire piece of text gets added to the autocomplete suggestion. This gets longer and longer until Safari stops suggesting. It is reset when you hit enter.

Individual words are suggested in a plain `textarea`.

### Step-by-step reproduction instructions

Type into a p

[2022-01-28 14:12] mkkeck commented on #38299
I see at the moment:
The stupied added junk breaks my page layout, there is extra spacing (`blockGap`) added!

WHY? WHY? WHY? WHY IS THIS DONE?!
I CAN EDIT MY THEME AT MY OWN! I DO NOT NEED WORDPRESS FEATURES BREAKING MY PAGES / AND THEMES!
PUT THESE STUPIED JUNK OF FEATURES INTO YOU OWN THEMES!

[2022-01-28 14:20] tom-apps commented on #38329
Same here.

[2022-01-28 14:23] Soean commented on #38299
@mkkeck

It is possible to test the release candidate and give feedback before an update. This way the whole project can benefit from it.

No one has intentionally broken your site. The bug will surely be fixed in one of the next versions.

[2022-01-28 14:30] Soean commented on #38299
Related:
 - #37927 opend by @lwangdu

[2022-01-28 14:52] mkkeck commented on #38299
@Soean

Okay this point goes to you ;)
You are right.

I've not said, that some one has intentionally broken my site ...
But for some time now, features, knitted with the hot needle without documentation, without opt-out and without the possibility of a back port in case of an error, are introduced into WordPress, which often lead to problems and are not thought through to the end. This in turn th

[2022-01-28 15:11] hypest commented on #38287
Took a look to investigate and so far, I've noticed that the [processMediaUri(<list of media URIs>)](https://github.com/wordpress-mobile/WordPress-Android/blob/1acf27661a6162b55973be8284d97217c664cc78/WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/AddLocalMediaToPostUseCase.kt#L80) is called within a loop, producing the results we see. I have the sense that there's a bug right

[2022-01-28 15:49] webmandesign commented on #38252
Hey guys,

I've got a temporary fix for now (would be great if we can [filter the global styles output](https://core.trac.wordpress.org/ticket/54975) though).

Here is PHP7+ code that should go into your (child) theme's `functions.php` file:
[code]

The code notes describe what's going on in there.

---

👉 This code was ported into a [plugin **Global Styles Mods**](https://wordpress.org/plugins/gl

[2022-01-28 15:59] ajlende commented on #38242
This affected [more than just the version tag](https://github.com/WordPress/gutenberg/pull/38294#issuecomment-1023593385). It looks like not all of the commits were labeled for inclusion in the release. I added the `Backport to WP Minor Release` label to everything affected, so the changes should be reflected when 5.9.1 lands.

[2022-01-28 16:00] kurudrive opened #38331 "Probably unintentional alignment button appears on button block toolbar"
### Description

Hi there.
Thanks for Gutenberg team's effort.

Only when you place a new button will the button block toolbar display an unintended alignment UI.
It disappears when you enter any characters, so it's probably a bug.

### Step-by-step reproduction instructions

1. Input /button on editor
2. select Buttons block and put on editor.
3. Click Button(Not Buttons) Block
4. I see the "just

[2022-01-28 16:06] mcsf commented on #22822
Just wanted to say that I haven't been able to pick this up this week, but that it hasn't dropped from my radar.

[2022-01-28 16:27] fluiddot opened #38332 "Integration tests: `act` warnings can still be triggered when testing the editor in multiple tests"
## Description

In https://github.com/WordPress/gutenberg/pull/38052 we identified that some `act` warnings were triggered after the test finishes, we managed to address them by assuring that all timers are run after the editor is initialized. However, I identified that these warnings can still be triggered if you have at least two tests that initialize the editor (check the below example).

**War

[2022-01-28 16:49] nebulousGirl commented on #36350
Why not make a pattern show up when its name is entered in the search?

[2022-01-28 16:50] critterverse opened #38333 "Global Styles: Managing style variations"
Now that a first iteration of the [style variation switcher](https://github.com/WordPress/gutenberg/pull/35619) has merged (🎉🎉), let's discuss how we might include functionality that would allow users to save their style customizations. There are several different ways we could approach this but overall, the goal is to help users avoid accidentally resetting their existing style customizations whe

[2022-01-28 17:13] KevinBatdorf opened #38334 "Pasting hex value into color picker defaults to black"
### Description

When pasting a hex value containing the `#`, the character isn't removed and a black color is computed.

### Step-by-step reproduction instructions

1. Add a block
2. Choose a color
3. Edit the hex value
4. Paste in a value with `#` at the start

### Screenshots, screen recording, code snippet

https://user-images.githubusercontent.com/1478421/151591457-f6117446-0dd5-437b-82a1-7e2

[2022-01-28 17:17] joedolson commented on #30157
Looks like the current output HTML for the spacer block is variations on

`<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>`

Adding `aria-hidden=true` is unnecessary, and could cause problems in some admittedly rare circumstances. If I hypothesize developers abusing the element to insert content or interactions via JS (for example, using a spacer div as a container to l

[2022-01-28 17:25] ideadude commented on #37717
Many plugins filled this gap for a login/logout link using the wp_nav_menu_objects filter. The new block nav doesn't apply this filter so people are left with unfunctional login/logout links in their menu when switching to a block based theme.

Maybe developers don't need to filter block based navs like they used to the old PHP menu items. I think that's a worrisome trend, but even if you feel tha

[2022-01-28 17:26] joedolson commented on #30157
Block is announced for me in the admin as 'Block: Spacer'. I think it might be useful to also announce the height of a given spacer. It would be a very small amount of additional text announced, but would help in creating a mental map of the output. E.g., "Block: Spacer - 200px tall".  I'd appreciate a comment from @alexstine  or @MarcoZehe regarding whether they'd consider that useful, however.

[2022-01-28 17:28] alexstine commented on #30157
I am not sure that would be useful considering I am not sure what 200px really is anymore.

[2022-01-28 17:48] skorasaurus commented on #38306
Hi,

Thanks for reporting;
This has been discussed and/or requested in  https://github.com/WordPress/gutenberg/issues/38171. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2022-01-28 17:48] #38306 closed, assigned to nobody

[2022-01-28 17:50] heathergray opened #38338 "Add a highlight border around empty parent blocks"
## What problem does this address?
If I add a button block and then remove it, a parent block can be left behind. If I then save the changes and leave the page, when I go back in the button comes back on its own.  I can check the list view or the breadcrumbs for empty parent blocks, but knowing that I need to, in that case, is tricky.

https://user-images.githubusercontent.com/13497681/151595779-1

[2022-01-28 17:52] mkkeck commented on #38252
Nice :)

I've also a fix for the functions.php to remove the `wp-container-` styles produced by `blockGap` and the `duotone`-styles:

[code]

But the junk SVG can not be removed at the moment, missing an action/ filter to remove them. The problem is:

[code]

[2022-01-28 17:53] skorasaurus commented on #38299
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/24684. Please share your opinion in that issue.

As a workaround, you can disable the default colors by [disabling the global styles](https://github.com/WordPress/gutenberg/issues/36834#issuecomment-1021980079).

[2022-01-28 18:03] mkkeck commented on #38299
Awww,

Why closing? This is really not the same thing as in #24684.

Closing this issue and your answer @skorasaurus shows again, that it does not really make sense to report issues and leave critical comments.

Ciao.

[2022-01-28 18:09] aurooba commented on #38338
PR draft is ready ( #38337 ), for a simple fix for this situation! While a highlight or border would not follow the patterns in the Block Editor, we can add a visual cue by showing the Button Block Appender when the parent block is empty. :)

[2022-01-28 18:11] aurooba commented on #38297
Yep, in the case of AdBlock, it [targets the following classes](https://gist.github.com/aurooba/ea8745ca650df79dff3a1e594b8343bf), which includes `wp-block-social-links`. I've been playing around with selector priority to bypass it specifically in the editor, but haven't found a winner yet. Will experiment more as time permits!

[2022-01-28 18:18] aurooba commented on #38334
Oh I was just coming to report this and see about a fix! Thank you @KevinBatdorf! This fix is going to be fantastic.

[2022-01-28 18:40] Ryokuhi opened #38339 "Buttons: Highlight Color View and Link Control are overlapping"
### Description

After a link is added to a Buttons block, the Highlight Color View popover is shown below the Link Control popover and, as such, it's impossible to use.

This issue was originally reported by @ iStag in [WordPress Trac ticket #54974](https://core.trac.wordpress.org/ticket/54974), and I was able to reproduce it.

### Step-by-step reproduction instructions

1. Create a new post
2. A

[2022-01-28 19:10] jessevoogt commented on #28931
It's good to see this issue is being thought about/discussed.  Just a thought: besides some of the UI improvements being considered here, could there be some role-restriction for seamless editing of reusable blocks?

If nothing else, it would be great to have some way to prevent reusable blocks from getting inadvertently edited because someone accidentally dragged/dropped something in or out of th

[2022-01-28 19:15] karks88 commented on #35087
Was this officially added to 5.9? I updated an install and found that legacy widgets will not render on the Appearance > Widgets screen. Widgets are in place, but are completely hidden unless I hover over them. I also receive the following error in Firefox (no error in Chrome, but the render issues are still there).

`Exception { name: "NS_ERROR_FAILURE", message: "", result: 2147500037, filename:

[2022-01-28 19:21] skorasaurus commented on #38299
@mkkeck

If you can clarify how this issue is different, I would appreciate it so then I'd know to reopen it. On second review, you mentioned the inclusion of SVG files although that is also mentioned at https://github.com/WordPress/gutenberg/issues/37927.

Both issues discuss that extra CSS global styles (that define colors) are included in the page even when the default color palette is disabled

[2022-01-28 19:25] dcalhoun commented on #35744
Hi. 👋🏻 I spoke briefly with @ciampo about native modules in a chat, but I wanted to share thoughts here as well. Thanks for the ping on this topic! 🙇🏻

**TL;DR:** Native modules _can_ import shared/web TypeScript modules successfully, both the ones that exist today and any modules converted in the future. Native modules themselves _cannot_ be easily converted to TypeScript themselves currently due

[2022-01-28 19:58] bridgeport commented on #38299
@skorasaurus It seems like @mkkeck issue is different from #37927 as it appears @mkkeck doesn't want the SVG inserted at all. Not even one instance, as they're not using duotone. I don't even believe they're experiencing the duplicate issue.

The issue you cited is someone reporting multiple, duplicate STYLE and SVG insertions within the HTML. They don't seem to have any objection to the STYLE and

[2022-01-28 20:17] jonshipman commented on #38078
From what I can gather, pnp worked from about 19.2.0. It was probably a coincidence, but I first noticed trouble around the mini-css-extract-plugin bug (#38004).

In case someone stumbles on this issue tracker, a quicker fix (than setting your version to classic) would be to swap your nodeLinker to "node-modules" as opposed to "pnp".

[2022-01-28 23:35] KevinBatdorf commented on #38255
Just leaving some additional notes I noticed regarding this. The `onChange` and `value` objects being passed through are recreated on every keystroke thus causing a re-render.

I traced it up to https://github.com/WordPress/gutenberg/blob/trunk/packages/format-library/src/text-color/index.js#L149

I'm not sure how `registerFormatType` (that registers the above) works so I didn't keep digging beyon

[2022-01-28 23:41] afragen commented on #37717
@talldan

If the user doesn't like how a plugin that uses this proposed filter looks or works, all they have to do is deactivate it.

I would argue that more targeted filters would make it easier for developers to target and therefore easier to debug providing a better developer experience.

At the moment, I feel that not having a method to interact with a menu's items programmatically to be a reg

[2022-01-28 23:55] afragen commented on #37717
@getdave you are very welcome.

Exactly.

The examples and code that I use is supposed to be as simple as possible but at the same time integrate within the new navigation block. If a user happens upon my plugin, which is only on GitHub, the choice they have is to have it active or not. Because of the way I add the menu item any styling to the menu, as a whole, is picked up by the menu item.

"Wit

[2022-01-29 00:05] afragen commented on #37717
Again, in my example, removing the additional menu item is a simple matter of deactivating the plugin that adds it. The filter you describe above is only useful if I'm developing a block plugin, I'm not. As I've said I think encouraging plugin developers to directly manipulate the database is a bad idea. The plugin would then "persist" even if it were deactivated.

[2022-01-29 00:09] afragen commented on #37717
Deactivate the plugin, it's probably not for them.

Alternately it could be coded to only add it if the menu contains certain items. Like if the first menu item is a _Home_ link. All this data is available within the proposed filter. It's simply a matter to design the plugin to only add the additional menu item when a specific set of criteria are met.

[2022-01-29 00:14] afragen commented on #37717
Actually they are left with no login/logout links.

[2022-01-29 08:18] draganescu commented on #35868
@getdave so far so good. We can even close this issue IMO. Now that this is in 5.9 and the release is out there we'll see what limitations (if any) we hear of through feedback. Also we may come back to this in the future if the improvements to block navigation hit some limitation.

[2022-01-29 08:34] draganescu commented on #36307
I like @jasmussen 's doodle where there is some explanatory text in that dropdown.

Matching by name has the downside that creating a block menu with the same name as a classic menu, hides the classic menu, without it ever being imported. The problem is not that it hides it, but that there is no other way to get to that data.

IMO we should **default** to the most common usecases in the small foot

[2022-01-29 12:29] PerryRylance commented on #30701
I'm trying to remove the underline on all headings by default, I gather this is still outstanding?

[2022-01-29 13:46] hit1205 opened #38343 "JS/CSS files in `create-block` are not be built"
### Description

I followed the steps on WordPress site's [Create a Block Tutorial](https://developer.wordpress.org/block-editor/getting-started/create-block/) page to create a plugin.

I installed the `@wordpress/create-block` package (v2.8.0, the lastest version) and found that there's only one file, `project-folder/build/block.json`, in the `build` folder, other files like `index.js`, `index.cs

[2022-01-29 16:16] gingerling opened #38345 "Home page won't use home template"
### Description

I have a static page listed under **settings** > **reading** as my homepage

![Screenshot from 2022-01-29 11-59-00](https://user-images.githubusercontent.com/2853040/151667944-d537ae22-c148-4edf-96e3-32c030a677bd.png)

However that page is using the "page" template not the **home** template

When I click **edit site** from the home page it shows this:

![Screenshot from 2022-01-29

[2022-01-29 18:18] hspot commented on #34825
The default to embed PDF is a major annoyance for our users. We definitely like to be able to default to having a link to the file.

[2022-01-29 18:21] helgatheviking opened #38346 "npm install @wordpress/scripts --save-dev fails"
### Description

Running `npm install @wordpress/scripts --save-dev` in my plugin folder's directory is failing.

### Step-by-step reproduction instructions

Go to command line and run `npm install @wordpress/scripts --save-dev`

### Screenshots, screen recording, code snippet

[code]

### Environment info

Windows 11. Running Ubuntu-20.04 on WSL 2.. though the files are stored in Windows and moun

[2022-01-29 18:40] gziolo commented on #38343
This is very helpful. Thank you for testing previous versions. It’s very helpful 👍

[2022-01-29 20:36] gingerling opened #38347 "Query loop settings miss taxonomies from custom post type"
### Description

When configuring a query loop, I can choose just to display posts from specific category/ies

so this

![Screenshot from 2022-01-29 20-29-55](https://user-images.githubusercontent.com/2853040/151676651-5f5671eb-c201-4054-be1f-5936f40bb3ba.png)

then this

![Screenshot from 2022-01-29 20-33-22](https://user-images.githubusercontent.com/2853040/151676678-f538e65a-9935-4f3e-ac71-1394

[2022-01-29 20:55] muzafferkaya-gokalpay commented on #38343
I encountered with same issue:

when i use the "npx @wordpress/create-block some-block" the block is being created but webpack not emitting the scss and js files, only emtting the block.json file. So my block is not working. Is there a solution for that issue, pls?

(I use, node v17.4.0, webpack v8.4.0)

I also tried the solution above but it did not work for me.

[2022-01-29 22:29] nick6352683 commented on #37598
Just a quick confirmation that Gutenberg 12.5.0-rc.1 fully fixes the issue for me... I can't thank you people enough, I can sleep well again !

[2022-01-30 03:27] ddryo commented on #38171
Hello. Thank you very much for your development.

The ability to auto-generate the id of a heading is basically very useful.
However, there are many cases where it is not.

I am selling a WordPress theme in Japan.

Many users of my themes are confused by this "auto-generate id" feature and complain that they cannot turn off the feature.

Even if there is no problem with the operation itself, many

[2022-01-30 04:26] nendeb commented on #38062
It is also reproduced in WP5.9 Custom Post Type.

[2022-01-30 04:30] t-hamano commented on #38343
I have encountered the exact same symptoms.

I think this is a problem specific to the Windows OS.

It occurs on the Windows host OS, but is not reproduced on [WSL](https://docs.microsoft.com/en-us/windows/wsl/about) which is a Linux environment.

~~I expect that the glob expression in fast-glob v3.0.0 or later no longer converts backslashes (Windows separators) to forward slashes** and does not c

[2022-01-30 09:43] t-hamano commented on #38346
As you see `code EACCES`, I think it is not a problem with the package but the lack of write/access permissions to the directory.

Can you successfully install another npm package instead of `@wordpress/scripts` ?

Also, since your development environment seems to be built on a Windows host OS, so please try running the command directly on the host OS instead of from within WSL.

If you want to de

[2022-01-30 10:04] t-hamano commented on #38322
I am also a Windows user and I am suffering from this problem.

It happens not only with soft line breaks, but also with normal line breaks.

https://user-images.githubusercontent.com/54422211/151695232-a91321d2-c4e2-40f5-ad3a-652d4cdb2f88.mp4

### Environment info

- OS: Windows 11
- Browser: Firefox latest, Google Chrome latest
- WordPress version: 5.9
- Gutenberg plugin: This happens in both en

[2022-01-30 10:41] t-hamano commented on #38322
After detailed investigation, I found that **WordPress 5.7** (**gutenberg 9.9**) did not reproduce the problem, but **WordPress 5.8** (**gutenberg 10.7**) did.

So, next, on WordPress 5.7, I increased the version of the Gutenberg plugin step by step, starting with 9.9, to see which Gutenberg version caused the problem.

| Gutenberg Plugin Version | Does this symptom occur ? |
| -------------------

[2022-01-30 10:42] behrang1981 commented on #38322
Awesome job!

[2022-01-30 11:16] carolinan commented on #38345
The front page template takes precedence over the home template, even if you change the reading settings. This is true also for classic themes.  So if it exists you would need to delete it.

https://developer.wordpress.org/themes/basics/template-hierarchy/#front-page-display

[2022-01-30 11:26] gingerling commented on #34352
I fully agree with the part of the workflow above where "do you want changes to this block to apply everywhere or just to this one page"

I have set up some reusable blocks for a client, but now I have to explain to them that if they want to make a tweak, they need to convert to normal blocks or it will save the changes everywhere.

[2022-01-30 12:01] gingerling opened #38350 "Allow draging to reize column width"
## What problem does this address?

I have two columns, one with text and one with image
I want to "make the image bigger" (relative to the text)
I drag the image and, because it's now bumped up against the inside of the column on the inside, it just gets wider "out the side" of the column to the right.

The way to actually make the image wider is to click the column and change the width in %, the

[2022-01-30 12:08] gingerling opened #38351 "Column with changes from % to px when you try and edit it"
### Description

Okay, so it's a minor thing but actually really confusing initially.

- I have arranged some images and text in two columns*.
- I want to resize the column, because the image looks a small in the space
- So I click on the column area and see it's at 30**%**
- I start changing it to 40**%**
- Suddenly the image is tiny
- It's changed to 40**px**
- Because the px/% is so small it's

[2022-01-30 12:26] gingerling commented on #38345
I realized just now the front page template is showing on my blog page.

I'm not sure what "if it exists" means but I don't have this template in my list

![Screenshot from 2022-01-30 12-23-27](https://user-images.githubusercontent.com/2853040/151699504-faf100f3-9513-47db-a60d-0a8a62d92fec.png)

and it's still showing in the add new button dropdown

![Screenshot from 2022-01-30 12-23-49](https://u

[2022-01-30 12:51] t-hamano commented on #38322
I found that the `container` was not being passed correctly as the first argument to the [placeCaretAtHorizontalEdge](https://github.com/WordPress/gutenberg/blob/15b28326f78fafc3a20157a1be6db06d915b74c3/packages/dom/src/dom/place-caret-at-horizontal-edge.js) function.

I debugged the following to shoot the video.

[code]

https://user-images.githubusercontent.com/54422211/151700384-ab862181-9f31-4

[2022-01-30 13:18] Kovalchik8 commented on #38299
[code]

[2022-01-30 14:05] t-hamano commented on #38290
@MehbubRashid

`onChangeComplete` has been deprecated, and `onChange` is now recommended instead.

Therefore, WordPress 5.8 does not support `onChange` and will not fire because the old `onChangeComplete` is still in effect.

Please see: https://make.wordpress.org/core/2022/01/04/miscellaneous-block-editor-changes-in-wordpress-5-9/#colorpicker.

[2022-01-30 16:09] heyadamsilver opened #38353 "Site Editor > Styles > Welcome Guide in the title."
### Description

Re-watching the Welcome Guide only shows the "Get Started" option/button vs the arrows for the guide.

### Step-by-step reproduction instructions

First time loading the site to EDIT with 5.9 the Welcome Guide is engaged.  Closing it and then trying to get it back by clicking the more tools and options button on the front end of a site, to re-watch the Welcome Guide - the arrows,

[2022-01-30 16:10] courtneyr-dev commented on #38353
I can confirm the same results with Gutenberg 12.4 in Site Editor.

[2022-01-30 18:42] bridgeport commented on #38299
@Kovalchik8 Your code doesn't remove the SVG code from the footer. The duotone SVG HTML is still inserted on every page and post.

A few days ago, someone also posted on the wordpress support forums that this filter removal no longer works:
https://wordpress.org/support/topic/disabling-gutenberg-duotone-filter/#post-15300929

[2022-01-30 20:53] nekohayo commented on #22822
Additionally, now that I'm thinking about it, this may or may not be related, but if it is, you might be able to establish some collaboration with the Mozilla folks regarding this: https://bugzilla.mozilla.org/show_bug.cgi?id=1593994

i.e. maybe it's Wordpress, maybe it's every individual app, or maybe there's a connecting thread (or not) where fixing the issue somewhere might help all apps and br

[2022-01-30 21:11] mkevins commented on #38287
I believe you are correct @hypest . Great job investigating that and implementing a solution!

[2022-01-30 22:00] mrfatguy opened #38355 "Cannot remove block type from Gutenberg because it does not exists"
### Description

I can add Imgur block type to my post:

![image](https://user-images.githubusercontent.com/2903392/151719181-00dcfb16-caf9-4116-900b-e2285a0fd41e.png)

But, I can't remove it (stop it from appearing at the top of list), because Gutenberg claims that such block does not exist:

![image](https://user-images.githubusercontent.com/2903392/151719295-e42e3ddf-74fb-4ac7-ae0a-213b0393509e

[2022-01-30 22:07] mrfatguy opened #38356 "Blocks list is hidden only, if you click in another block"
### Description

If you open up a block list, by typing `/something` you can close it only, if you click in another line / block or hit <kbd>Esc</kbd>.

Clicking:

- In the same line
- In the Wordpress sidebar (right)
- In the Gutenberg sidebar (left)

does not close the blocks list.

Block list isn't even closed when you navigate through Gutenberg menus or interact with popup windows, which can l

[2022-01-30 22:20] aurooba opened #38357 "@wordpress/scripts version 20.0.1 doesn't compile files"
### Description

It could be that I'm doing something wrong, but since updating wordpress/scripts to `20.0.1`, all it does (when there are multiple blocks) is copy the `block.json` files for each block into the `build` folder. And doesn't actually compile anything. I've had to downgrade to `19.2.4` for compiling of any kind to work. I've been following #25188, and wondering if the two patches intr

[2022-01-30 22:39] spencerfinnell commented on #38357
Related/duplicate: https://github.com/WordPress/gutenberg/issues/38343

[2022-01-30 23:38] aurooba commented on #38343
Same issue over in #38357 (using wordpress/scripts), and definitely not isolated to just the Windows OS environment.

[2022-01-31 00:07] skorasaurus commented on #38355
The `imgur` block is actually a block variation of the [embed block](https://wordpress.com/support/wordpress-editor/blocks/embed-block/). The embed block (and all of their variations) is enabled by default in Gutenberg.

There's a [couple different approaches] (https://wordpress.stackexchange.com/questions/379612/how-to-remove-the-core-embed-blocks-in-wordpress-5-6) you can use to remove the imgur

[2022-01-31 00:36] annezazu commented on #38290
Thanks for connecting the dots @t-hamano :) Closing this out.

[2022-01-31 00:36] #38290 closed, assigned to nobody

[2022-01-31 01:02] peterwilsoncc opened #38361 "WP 5.9 `wp.data.dispatch('core/editor').setupEditor();` back-compatibility break."
### Description

This was discovered by @mohitwp in https://github.com/10up/insecure-content-warning/issues/63 and worked around in the associated pull request in https://github.com/10up/insecure-content-warning/pull/64.

Prior to WordPress 5.9 the plugin was updating a blog post's content with the code:

[code]

Following the update to WP 5.9 the final line of code no longer works, ie the post's

[2022-01-31 01:22] tellthemachines commented on #35122
I'm going to close this one as fixed, because the Navigation block is no longer a dialog by default. @TeBenachi feel free to reopen or create other issues if you feel the experience isn't quite right yet!

[2022-01-31 01:22] #35122 closed, assigned to nobody

[2022-01-31 02:04] aaronrobertshaw commented on #38296
Hi @CruelDrool 👋

Thanks for submitting this issue.

I understand it can be inconvenient if you need to tweak some styles to take advantage of the new Gallery.

Without covering the full history behind the change in gallery markup, the primary driving factor was to satisfy the [W3C accessibility guidelines for collections of images](https://www.w3.org/WAI/tutorials/images/groups/#a-collection-of-i

[2022-01-31 02:26] #38302 closed, assigned to glendaviesnz

[2022-01-31 03:35] CruelDrool commented on #38296
Thanks for the reply!

To add some context, my block elements have got a padding of 5px (with a background colour and a border),  All `figcaption `got a a margin (top and bottom) at 6px. I wanted the last pictures in the galleries to have the same distance between them and the `figcaption` as the other blocks, which would be the 6px. Hence the request for a wrapper, since that would make it easier

[2022-01-31 03:55] gziolo commented on #38357
@aurooba, thank you for the report. It looks like you are right. It was a risky change in terms of backward compatibility and I would appreciate your help to improve handling for existing projects. Do you have your plugin publicly available so I could give it for a spin? Alternatively, I’d like to confirm how do you run the build. Is it `npm build` that calls `wp-scripts start` or is it something

[2022-01-31 04:07] talldan commented on #38361
I think possibly from https://github.com/WordPress/gutenberg/pull/33727? With the changes in the `actions.js`, it looks like `resetBlocks` is only called for new posts.

There is a question of whether `setupEditor` is the right function to use to update the editor content. The docs are not very explicit on the usage of that function and whether updating the editor content is an expected outcome of

[2022-01-31 04:10] talldan commented on #38355
There's a related issue here about the block manager not showing variations - https://github.com/WordPress/gutenberg/issues/27708

[2022-01-31 04:19] talldan commented on #38353
@heyadamsilver I think reason is that there are two different welcome guides, one for the whole editor (which just has one 'page') and a second for the styles panel (with multiple pages). The link in the main settings shows the guide for the whole editor.

The styles guide can be displayed again from this little menu:
![Screen Shot 2022-01-31 at 12 14 26 pm](https://user-images.githubusercontent.c

[2022-01-31 04:28] dhusakovic commented on #21741
Experiencing the same issue, with WP 5.8.3 and WP 5.9

It looks like any error triggered during the upload of an image within the image block, and returned in `WP_REST_Attachments_Controller` [here](https://github.com/WordPress/WordPress/blob/fe7d62fe138421c065dbb7044c6942d594d15cfd/wp-includes/rest-api/endpoints/class-wp-rest-attachments-controller.php#L1230), does not get reflected anywhere on t

[2022-01-31 04:39] aaronrobertshaw commented on #38296
If I understand your goal correctly, I believe you can simplify things a lot as well as achieve a consistent result.

In its default position at the bottom of a gallery, the gap after `figcaption` will be the normal margin between blocks. Given the `figcaption` is within the same container as the images, the `--gallery-block--gutter-size` CSS custom property will control the spacing there. If you

[2022-01-31 04:39] #38296 closed, assigned to nobody

[2022-01-31 04:43] ddryo commented on #38062
Once the custom field overlaps the content area, we have to refresh the screen to get rid of it.

This is very annoying because we have to refresh the screen when we are still in the middle of writing an article and don't want to save it.

[2022-01-31 05:06] ramonjd opened #38363 "MediaUpload: cannot edit selected image in Add to Gallery view of media library"
### Description

Selecting an image and clicking on `Edit Image` in the Gallery Block Media Library throws a JS error.

The error is thrown at this line: https://github.com/WordPress/wordpress-develop/blob/2648a5f984b8abf06872151898e3a61d3458a628/src/js/media/views/edit-image.js#L25.

### Step-by-step reproduction instructions

1. Insert a Gallery Block and add some images.
2. Select the Gallery B

[2022-01-31 05:14] aurooba commented on #38357
@gziolo yes, the plugin is here: https://github.com/createwithrani/superlist

However, I want to note that I tested the new version on a totally empty brand new plugin, scaffolding test blocks with `wp cli` and running `wp-scripts` on them, as well. I saw the same issue, so I'm not sure it's a backwards compatibility issue.

I've tested/tried both the `build` and `start` scripts and see the same i

[2022-01-31 06:00] nayana96249 opened #38364 "When user trying to add new plugin at the time error is getting displayed."
### Description

When the user will trying to add a new plugin from the "Add new " button at a time error is getting displayed.

### Step-by-step reproduction instructions

1. go to plugin.
2. Clicking on plugin from menu.
3. Clicking on the add new.
4. See the errors.

### Screenshots, screen recording, code snippet

<img width="1270" alt="Screenshot 2022-01-31 at 11 23 48 AM" src="https://user-i

[2022-01-31 06:18] carolinan commented on #38345
If it does not exist in the list, then that is not the page that is showing on the front.

[2022-01-31 06:27] mkkeck commented on #38328
Sorry, I find out that not  `settings.appearanceTools` =  **`false`** was the problem, but the
 `settings.custom` =  **`null`** which have to be `settings.custom` =  **{}**.

But also I think there should be check against `is_array` and `!empty()` before `foreach` -loops.

[2022-01-31 06:33] talldan commented on #38291
I think tackling this is the key part.

The only feedback here is that I recall it was mentioned that the slug should be based on the template part area. Those areas typically use semantic names `header`, `footer`, `sidebar`, so the menus would have a slug like `header-navigation`.

The secondary part will be considering how that works for classic themes that switch to a block theme.

Another thin

[2022-01-31 06:36] #38364 closed, assigned to nobody

[2022-01-31 06:43] mkkeck commented on #38299
This issue is another new `feature`, which bloats the HTML output, wether using duotone and/or blockGap or not, and has nothing to do with the other also not always needed `features`.

Yes that's correct, but it's another building site. This issue here exists since WP 5.9 only and has nothing to do with default color palette.

If I don't want and not have configured or have disabled the duotone an

[2022-01-31 06:52] mkkeck commented on #38299
I've disabled global styles :)
But it does not solve this issue.

I've also added follow lines in my functions.php to remove the wp-container- styles produced by blockGap and the duotone-styles:

[code]

But the junk SVG can not be removed at the moment, missing an action/ filter to remove them. The problem is:

[code]

[2022-01-31 07:13] mrleemon commented on #28664
Is there a centralized list of deprecated CSS classes anywhere? This would help theme developers optimize their stylesheets enormously. For example, I see that the "is-style-large" class of the Quote block has been deprecated recently (#37580), but I can't see this in any changelog or similar resource.

[2022-01-31 07:34] mkkeck commented on #38299
The duotone and blockGap stuff should perhabs moved from the WordPress core to the Twenty-themes.

[2022-01-31 07:44] gziolo commented on #38343
I have just landed #38348 which resolves the issues for Windows OS. I plan to publish it to npm later today.

[2022-01-31 07:56] oguilleux commented on #38299
Hi @mkkeck

Try this :

[code]

[2022-01-31 08:02] mkkeck commented on #38299
Thanks for your feedback.

I think, this would not remove the duotone SVGs. There's a hardcoded action in file `wp-includes/block-supports/duotone.php#459 ... 467`

[2022-01-31 08:04] oguilleux commented on #38299
Oh ! Are you sure ? I have the same problem and I don't see the duotone SVGs anymore with these actions removed.

[2022-01-31 08:09] mkkeck commented on #38299
Ok, I will give it a try, when I'm in office.
Are using WP5.9 with its shipped Gutenberg, or do you use Gutenberg as a plugin?
I'm using the shipped Gutenberg.

[2022-01-31 08:11] oguilleux commented on #38299
WP 5.9

[2022-01-31 08:28] gziolo commented on #37154
@andrewserong, @michalczaplinski opened #38263 with initial changes necessary to mitigate the issues with inner block selection for the Comment Template block. We would appreciate your help there.

[2022-01-31 08:32] gziolo commented on #38343
There are probably two different issues, but I can keep this one open until both are addressed.

[2022-01-31 08:38] gziolo commented on #38357
Thank you so much. I'm giving it a round of testing 👍🏻

[2022-01-31 09:04] NicoHood commented on #33374
Are there any updates on this? I came here from the [astra theme bug report](https://github.com/brainstormforce/astra/issues/3639). I am really confused why those layout options are not available anymore, and I have no idea how to get them back, without modifying the theme itself.

Will this be reverted any time soon?

[2022-01-31 09:09] Soean commented on #38299
I reopen the issue. I can reproduce it withe a new theme.

[code]

We have `"defaultGradients": false` and `"defaultPalette": false` but not `"defaultDoutones": false`

[2022-01-31 09:10] mkkeck commented on #38299
This removes the SVGs :)
Thanks.

I've added now to my theme `functions.php`:

[code]

[2022-01-31 09:12] getdave commented on #35868
Thanks Andrei. I do wonder whether we will end up revisiting this if/when we need a representation of the menu data that is decoupled from blocks. However, it does feel difficult to anticipate the need for this at this point.

I'll close this out and we can always reopen if/when we receive new user-driven requirements.

[2022-01-31 09:12] #35868 closed, assigned to nobody

[2022-01-31 09:14] MaggieCabrera commented on #38277
Related: https://github.com/WordPress/gutenberg/issues/27075

[2022-01-31 09:17] mkkeck commented on #38299
It's not only adding Duotones, the styles for each wp-container-idxxxx of the blockGap feature, which is disabled in my theme, is also added. So that's why I've said "WP 5.9 adds junk before closing the body".

There should nothing overwritten, replaced or added or merged with WP global styles, which can break existing themes.
Please note: Not all users are using Twenty-xxx-themes.
And please put

[2022-01-31 09:19] getdave commented on #27075
I'm going to add this for discussion in the Core Editor chat. It's something we are going to [need for the Navigation block](https://github.com/WordPress/gutenberg/issues/38277).

[2022-01-31 10:15] aristath commented on #37611
These changes will need to be done in WP-Core and not Gutenberg, so I created a [ticket on track](https://core.trac.wordpress.org/ticket/55005#ticket) and I'm closing this one.

[2022-01-31 10:15] #37611 closed, assigned to nobody

[2022-01-31 10:49] aristath commented on #37611
PR submitted in core: https://github.com/WordPress/wordpress-develop/pull/2252

[2022-01-31 10:59] carolinan commented on #38351
I have not been able to reproduce this with the "empty" theme and current Gutenberg trunk on WordPress 5.9.
The column variations that use %, stays as % when I change the **numeric value** of the setting.

-Does your active theme change the default spacing unit setting with theme support or theme.json?

[2022-01-31 12:23] draganescu opened #38373 "Query block duplicate "read more" link"
### Description

When using a classic theme (e.g. Twenty Fifteen) and using a posts list block in a post (for example to create an index to related content in a category), one can end up with duplicated read more links:

### Step-by-step reproduction instructions

1. Have WordPress 5.9
2. Go to Appearance > Themes
3. Activate Twenty Fifteen
4. Make a post with an excerpt and content, set it to a c

[2022-01-31 12:25] draganescu commented on #22269
Should we, now that WordPress 5.9 is out there, migrate Latest Posts to be based on a Query Loop block? Adding more features to it seems to be pointless as most of what this does the other one does also, possibly better.

[2022-01-31 12:44] mertafor commented on #27629
I'm trying to achieve the same as well. Most websites are using wide container on desktop, usually 1200px and higher. A Narrow option or even Custom Width is vital to limit certain sections on desktop. It can be useful for almost all block types such as single paragraph, images or even columns block. In my opinion, asking customers to add a "align-narrow" CSS class through Additional CSS Classes f

[2022-01-31 12:58] Kovalchik8 commented on #38299
I wonder why this doesn't work, though it works partly (after page reloading duotone SVG disappears from time to time).
Need to notice that I didn't search for someone's solutions but found the WP core code where exactly this redundant svg html is adding, so `remove_filter('render_block', 'wp_render_duotone_support')` is exactly what should be added in order to remove it.

Kind of bug  and probabl

[2022-01-31 13:31] carolinan commented on #38373
I believe this has been brought up before, but it is difficult to search the GitHub repo, so I don't have the link ready right now.

Twenty Fifteen adds the following code:
[code]

I don't know how the block could be made aware of that 🤔.

[2022-01-31 13:39] jameskoster opened #38374 "Template Editor: Horizontal scrollbar"
Engaging the template editor produces a horizontal scrollbar:

https://user-images.githubusercontent.com/846565/151802940-8f3f3893-fb58-4c4c-8d33-918c9807f95e.mp4

It seems to be caused by `width: 100%` being applied to `.edit-post-visual-editor__content-area`, it's not accounting for the padding that present in the template editor. Adding `box-sizing: border-box;` seems to fix:

https://user-imag

[2022-01-31 13:44] hypest opened #38375 "[RNMobile] Video preview not launching on Android 11"
## Description
Trying to launch the preview of a video on a video block doesn't work on Android 11 and presents a `Problem opening the video - No application can handle this request. Please install a Web browser`:

<img width="426" alt="Screenshot 2022-01-31 at 15 39 43" src="https://user-images.githubusercontent.com/1032913/151803769-54dd0eac-1cd3-423e-8ed0-6d5f0a34b38f.png">

## Step-by-step rep

[2022-01-31 13:47] draganescu commented on #38373
I did search as well but could not find something as well.

[2022-01-31 13:52] gziolo commented on #38357
I published a new version v20.0.2 of `@wordpress/scripts` to npm that improves the handling for the `build` command. I'm closing this issue but I'm happy to reopen if more work is necessary.

Some more details from my investigation on the plugin. I noticed that the Superlist plugin provides its own webpack config file:

https://github.com/createwithrani/superlist/blob/main/webpack.config.js

If yo

[2022-01-31 13:54] gziolo commented on #38343
I published a new version v20.0.2 of `@wordpress/scripts` to npm that improves the handling for the `build` command on Window OS. Let's close this issue for now. I will reopen as soon as people report more issues.

[2022-01-31 13:54] #38343 closed, assigned to nobody

[2022-01-31 13:55] #38357 closed, assigned to nobody

[2022-01-31 14:00] mtias opened #38376 "Feedback: home template and pagination"
There's a limitation right now in the way the `home` template handles pagination. Themes that want to have more expressive homes for the blog portion of a site cannot easily discriminate between the `home` and `page 2`, since page 2 is still served using `home` and not `archive`. Twenty Twenty Two was designed with this big header, which is used for the theme screenshot.

![image](https://user-ima

[2022-01-31 14:04] yehudaTiram commented on #38357
it works now. Thanks.
For node 17+ Need to add SET NODE_OPTIONS=--openssl-legacy-provider (ssl issue) like so:
	"scripts": {
		"build": "SET NODE_OPTIONS=--openssl-legacy-provider && wp-scripts build",
		"format": "SET NODE_OPTIONS=--openssl-legacy-provider && wp-scripts format",
		"lint:css": "SET NODE_OPTIONS=--openssl-legacy-provider && wp-scripts lint-style",
		"lint:js": "SET NODE_OPTIONS=--o

[2022-01-31 14:28] gaambo commented on #31980
I'm in a similar position as @erikjoling and want to disable panel for our clients, since most of the designs are very customized.
I found out, that the LayoutPanel has a check on `allowEditing` in the layout-support of the block - and if it's not allowed, it does not render anything. [See this file/line for WordPress 5.9 (Gutenberg 11.9)](https://github.com/WordPress/gutenberg/blob/dc2bee0bbe2345

[2022-01-31 14:30] skorasaurus commented on #38355
thanks for finding that @talldan ; I'll close this issue since @trejder is requesting can be fulfilled through https://github.com/WordPress/gutenberg/issues/27708

[2022-01-31 14:30] #38355 closed, assigned to nobody

[2022-01-31 14:55] heyadamsilver commented on #38353
@talldan
Boom.. you are correct sir!
Thanks!
Closing the ticket!

[2022-01-31 14:55] #38353 closed, assigned to nobody

[2022-01-31 15:08] sdwire opened #38378 "Sort FSE lists of Templates and Template Parts"
## What problem does this address?
In FSE's Templates and Template Parts lists, the entries don't appear to be sorted by any useful field. It's not in the order declared by theme.json, and it's not in alphabetical order. This randomness makes it hard to find the Template Part I want to customize.

<img width="730" alt="image" src="https://user-images.githubusercontent.com/11800061/151817383-92bb36

[2022-01-31 15:09] aurooba commented on #38357
@gziolo I added the `webpack` config file to the plugin after wordpress/scripts stopped working after the update. I'm going to go ahead and test the fresh plugin I have as well as that plugin without the config file to see if it's all working. Thanks for the update!

[2022-01-31 15:13] gaambo commented on #38279
I can confirm this issue also happens when registering a custom variation via `registerBlockVariation`. I've tried both `isDefault` states - it doesn't change the preview in the inserter.
In my case I do not have a specific `variation` attribute.

[code]

Things I tried/tested:
- the `isActive` function works and shows the correct variation title in the block sidebar
- setting other/simpler exampl

[2022-01-31 15:21] kjellr commented on #38376
As you noted, the original intent of Twenty Twenty-Two was to use that large header on the homepage, but it was _a lot_ to scroll past on subsequent pages. We added the shorter homepage header as a compromise, but I do think the initial impact of the theme is dampened considerably by it. I'm interested to hear if other themes are running into this issue, and how they're dealing with it.

I'd be in

[2022-01-31 15:27] aurooba commented on #38357
I've tested this with the new plugin. I think the key part of the instruction you gave me is this for using the `block.json` version (which is highly preferred) is:

This piece of information should absolutely live in the documentation on NPM itself and in the [developer docs](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-scripts/). The phrasing over there is simp

[2022-01-31 15:29] #38286 closed, assigned to ndiego

[2022-01-31 15:31] jffng commented on #38376
A new template file like `home-paged` makes sense to me. I also hear @kjellr's concern that users might not get it.

Could we introduce a setting in the site editor that allowed users to select a different template for home page pagination? This is probably more complicated than it's worth.

[2022-01-31 15:48] pattyok commented on #33374
Another example of why this decision to allow full or wide blocks should be left up to the theme editors and not set in core.

[2022-01-31 15:54] ricjcs commented on #2744
I would also like to have these options, especially the height, as it was in the old twitter timeline.

[2022-01-31 15:58] draganescu commented on #29575
This is so cool!

I'd love to have one big "schedule all changes" place/button/flow instead of having to set the same date for three to n items.

[2022-01-31 16:00] scruffian commented on #38376
IMO falling back to the archive feels fairly intuitive although I can see that it's a change to the existing convention. I prefer `home-archive` to `home-paged`.

[2022-01-31 16:02] mtias commented on #38376
@jffng Users already have the option of setting a static page as well. But there's still a gap on the blog home.

[2022-01-31 16:04] Nic787 commented on #24874
Is there a way to enable gap support via functions.php? I don't use theme.json

In my functions file, I have enabled custom spacing, but all the new spacing options are not showing, so I don't know if it was meant to be in 5.9 or not.

Thank you

[2022-01-31 16:30] LukaszJaro opened #38380 "Table Accessibility when table has horizontal scrolling - Ensure that scrollable region has keyboard access"
### Description

When inserting tables using the blocker editor, many of them will end up with horizontal scrolling, depending on width and amount of columns, which is fine and expected in the many themes I use.

The accessibility issue I am being flagged on is when there is no keyboard focus on the table which has horizontal scrolling, more info here https://dequeuniversity.com/rules/axe/4.3/scro

[2022-01-31 16:34] LukaszJaro commented on #32400
Also just opened this accessibility issue with table scrolling and focus https://github.com/WordPress/gutenberg/issues/38380

[2022-01-31 16:37] jameskoster commented on #38376
On balance I think a new template could work well, even if it does add more complexity to the template hierarchy 🙈

We should acknowledge the precedent it sets though, and consider the consequences. Theoretically any archive template could make use of this affordance.

For example I can totally imagine a WooCommerce merchant wanting an elaborate look for a product category landing page, and a more

[2022-01-31 16:40] kjellr opened #38381 "Custom Image sizes are not responsive in the editor"
In the editor, by default, image blocks are 100% the width of their container, regardless of their actual dimensions. As soon as the user adds a custom width to their image however, that responsive guardrail is gone, and the image will flow off-screen.

https://user-images.githubusercontent.com/1202812/151834663-e36e3e72-1aa0-400d-b89a-3a620a665795.mp4

The max-width guardrail works on the fronten

[2022-01-31 16:41] turbomacs commented on #32353
+1 here as well.

[2022-01-31 17:16] htmgarcia commented on #33212
@markhowellsmead notice the same here, however `wp_enqueue_style` didn't worked for the iframe, so added `add_editor_style` to fix it.

[2022-01-31 17:45] kjellr opened #38384 "[Block Themes] By default, images inserted from the Classic editor flow offscreen"
By default, Images that are inserted by the Classic editor can easily flow offscreen. Traditional themes tend to have CSS that prevents this, but block themes don't by default.

<img width="1251" alt="Screen Shot 2022-01-31 at 12 39 49 PM" src="https://user-images.githubusercontent.com/1202812/151845225-5d2e6402-3960-4752-937f-13e7e329ed9a.png">

### To reproduce:

1. Activate a block theme (empty

[2022-01-31 18:33] wpsoul opened #38385 "Style loading bug"
### Description

I waited long time to try 5.9 version because I am thinking to migrate our products to Block themes, but I was disappointed how WordPress loads style and conditional assets. I thought this is bug only in Classic themes, but I tried several block themes and the bugs are not fixed. I can't believe that this way was approved for production release. Let me explain

1. When I use Site

[2022-01-31 19:12] Intervik commented on #8663
Still waiting for a solution on this as well. Gutenberg must deliver a way to set default values. Stop creating new "fancy things" and make current editor UX useful. The Gutenberg developers seems to not working with WordPress clients in real life. Lets make Gutenberg less confusing and easier: one way is to release filters in PHP transported into the js enviroment.

[2022-01-31 19:26] friscoMad commented on #38307
Closing, as @annezazu suggested this was a configuration error in my apache, sorry for bothering you. 😢

[2022-01-31 19:26] #38307 closed, assigned to nobody

[2022-01-31 19:49] kjellr opened #38386 "[Pagination] Allow users to customize page numbers"
When using the "Pagination" block, it's possible to change the Typography and Color settings for the "Previous Post" and "Next Post" child blocks, but the "Page Numbers" block does not have this control:

![page-numbers](https://user-images.githubusercontent.com/1202812/151862295-1d1e2af6-6af8-46d9-9a56-ab8ffdb66a8c.gif)

Additionally, it would be nice to be able to control the spacing in between

[2022-01-31 19:51] pattyok commented on #38252
Thanks for this!

This fixes the output on the front end. But still having issues trying to fix the view in the editor. The WordPress variable are set at .editor-styles-wrapper level...

[code]

Making it another challenge to override.

[2022-01-31 20:31] rielyncampbell opened #38387 "Button block not showing border/outline"
In our 2020 WordPress theme installation, we are not able to get the border outline for our buttons to appear.  It shows in the editor but not on our site.  If I deactivate gutenberg, it works.  It appears to work up to 11.8.3 version of the gutenberg plugin.  After that, the border disappears.
We are currently on WP core version 5.8.2 and twenty-twenty theme version 1.9.
I deactivated all other p

[2022-01-31 21:29] spacedmonkey commented on #36576
@manooweb I released the plugin on the repo. Here is the [blog post](https://www.spacedmonkey.com/2022/01/31/announcing-the-classic-menu-block-plugin/) about it.

[2022-01-31 21:35] aurooba opened #38389 "[FSE] When static front page/posts page is set, disable the page editor, redirect to Site Editor"
## What problem does this address?
This is a confusion I encountered myself – despite understanding the WordPress Template Hierarchy extremely well – and have watched others encounter too. It stems from being able to do things one way before and having the paradigm change in FSE.

When you set a `page` as the `static front page` in a block theme, you should be editing the `Front Page` template in

[2022-01-31 21:39] gingerling commented on #38351
Hi, I'm just using twenty twenty two theme, well, a child theme of it with
fairly minimal changes. Can you explain your question in more detail and I
will try to answer, I don't quite understand it yet.

On Mon, 31 Jan 2022, 11:00 Carolina Nymark, ***@***.***>
wrote:

[2022-01-31 21:43] gingerling commented on #38345
Sorry, please forgive me, I am dyslexic and am getting my "home page" and
"front page" template names confused in places I think.

In simple form:

Home page is set to show static page

Home page template should therefore be used

"Front page" template is not present to does not override this job

The site home page is using the "page" template (not home page template or
front page template)

On M

[2022-01-31 21:48] pjoulot commented on #38240
_"I've noticed that enqueue_block_editor_assets action hook does not load all stylesheets I throw at it in a block pattern preview. I've found out it only loads stylesheets containing .editor-styles-wrapper string. Can anybody provide more info why this happens, and can this be documented somewhere for theme authors?"_

I have the same issue the update of wordpress 5.9 broke the preview feature. T

[2022-01-31 22:01] gziolo commented on #38357
Thank you! I appreciate all the clarifications proposed. I will review tomorrow 👌

[2022-01-31 22:08] chthonic-ds commented on #38240
Have you tried bundling your font requests with `add_editor_style()`?

In WP 5.9, I see fonts present in pattern previews using this approach:

[code]

[2022-01-31 22:24] htmgarcia commented on #38240
@pjoulot as @chthonic-ds suggest, to load CSS in Site Editor iframe, the only way is through `add_editor_style()`, which will automatically set .editor-styles-wrapper for your CSS (due will be outputted directly in head, not as a linked file)

[2022-01-31 23:17] andrewserong commented on #24874
@Nic787 I don't believe so. The new spacing controls are designed to work with the `theme.json` approach, and I think the only controls that are switched on via `add_theme_support( 'custom-spacing' );` are those for [backwards compatibility](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#backward-compatibility-with-add_theme_support) (in this case, padding — [here's

[2022-01-31 23:37] carlomanf commented on #38376
Not even just archive templates, but singular ones as well. There is a Page Break block that can be used to break up post/page content, although block themes still lack a way to provide a pagination button for this. (see #33357)

The template hierarchy previously did have a `paged` template, but [it was removed in version 4.7](https://core.trac.wordpress.org/ticket/38162) due to low usage. I think

[2022-02-01 01:09] tlovett1 commented on #29985
This is nuts we are using `!important`. This change broke one of my sites.

[2022-02-01 01:18] noisysocks opened #38390 "Widgets editor: Block appender does not appear as full width"
### Description

The block appender in the Widgets screen appears as a small button to the right of the widget area. It should expand to fill the widget area.

You could potentially use `git bisect` to find what commit broke this.

### Step-by-step reproduction instructions

1. Activate a classic theme.
2. Go to Appearance → Widgets.
3. Look at the block appender at the bottom of any widget area.

[2022-02-01 01:22] noisysocks opened #38391 "Widgets customizer panel: Too much padding above first block"
### Description

In the Widgets customiser panel, there's too much padding above the first block. The block toolbar is supposed to sit evenly in between the first block and the customizer toolbar.

### Step-by-step reproduction instructions

1. Activate a classic theme.
2. Go to Appearance → Customize → Widgets.
3. Select the first block.
4. Notice the extra padding in between the block toolbar an

[2022-02-01 02:25] annezazu commented on #38307
No need to apologize 🤗 I've had this happen too and it can be tough to know what the root cause is. I'm very glad to know you were able to resolve it!

[2022-02-01 03:11] toolstack opened #38394 "WordPress editor fails to display most used terms under certain conditions."
### Description

Using the block editor for a post in WordPress 5.9 (or older) may not display the most used tags cloud if the number of tags defined on the site is less than the MAX_MOST_USED_TERMS value.

### Step-by-step reproduction instructions

1. Create a new WordPress site.
2. Create a few tag groups (say 5).
3. Create a post and add all of these tags to the post and then publish it.
4. Cr

[2022-02-01 03:18] #37174 closed, assigned to talldan

[2022-02-01 04:02] ritvikos opened #38395 "WP 5.9 Gutenberg Editor Not Working in Brave Browser"
### Description

The Gutenberg editor is not working in brave browser and displaying blank screen only.
Later, I shifted to Google Chrome and editor is now working.

### Step-by-step reproduction instructions

1. Open Brave Browser.
2. Disable the Brave Blocker.
3. Login the WP Site.
4. Open the editor (Both the Draft and Published posts not working).

### Screenshots, screen recording, code snipp

[2022-02-01 06:28] carolinan commented on #38376
I am leaning more towards carlomanfs suggestion. What the HTML templates lack compared to PHP templates are the conditionals.

All block themes uses the body_class for the HTML templates (It's added for these templates automatically)
But not all query paginations adds the paged or page-numer CSS class to the body, https://github.com/WordPress/gutenberg/issues/34898 and there may be more than one q

[2022-02-01 06:32] carolinan commented on #38345
The static page uses the template that you set in the block editor, in the template section.
The page does not change template when it is set as the static home page.

[2022-02-01 06:45] carolinan commented on #38351
Themes can use settings to decide the units that should be available.
The example in this guide removes the % unit:
https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings

Twenty Twenty-Two does not remove the %, so we can exclude that from the list of possible causes.

[2022-02-01 07:29] netzgestaltung commented on #32648
Also notice this possible coherence:
https://wordpress.org/support/topic/bad-query-strings-breaks-widgets-2/

[2022-02-01 07:59] carolinan commented on #38345
Related: https://github.com/WordPress/gutenberg/issues/38389

[2022-02-01 08:08] webmandesign commented on #38252
Hi @pattyok, I've updated the code in [my reply above](#issuecomment-1024348024) so it includes fix for editor too.

[2022-02-01 08:16] webmandesign commented on #38240
@pjoulot Please check my reply at https://github.com/WordPress/gutenberg/issues/38214#issuecomment-1022172779 The issue for me was that I've used `div.editor-styles-wrapper` while block pattern preview is `body.editor-styles-wrapper`. If you are using pure `.editor-styles-wrapper` in your stylesheet it should work, though.

Check the iframe code with your browser code inspector to see what's going

[2022-02-01 08:28] carolinan commented on #30701
The only block that had the textDecoration control (underline, strike through) enabled was the navigation block.
This was temporarily removed because of bugs: https://github.com/WordPress/gutenberg/pull/37963

To remove underlines one can use _elements_ in theme.json. Removing it from the heading block also removes it from
the post title, site title etc as long as they are h1-h6 elements:

[code]

[2022-02-01 08:47] #38288 closed, assigned to amustaque97

[2022-02-01 09:43] carolinan opened #38398 "Some blocks do not inform that links opens in new tabs"
### Description

The following blocks have options to open links in new tabs, but does not inform users that the link opens in a new tab:

- Post title
- Comment author name
- Comment edit link
- Post author name
- Post author avatar (not merged)

Opening links in new tabs without notifying, can be disorienting for some users.
Not all screen readers will use the `target` attribute for announcing t

[2022-02-01 09:45] jasmussen commented on #38384
Great ticket, thank you, I've managed to reproduce, and here's some test content that doesn't require you to install the classic editor:

[code]

This is the result:
<img width="1661" alt="before" src="https://user-images.githubusercontent.com/1204802/151944804-fa8e0c46-abf1-4657-93ab-bd983135ddda.png">

It's a tricky one, because I'm not quite sure if we should do anything. Images inserted using

[2022-02-01 09:45] Luehrsen commented on #38299
A clean classic/hybrid theme will add the SVGs for duotone filters as well.

I really hope this will get fixed soon, as this has a noticable size impact on a lot of sites.

https://gist.github.com/Luehrsen/d68fc59bff764358d35f24bfa2933371

[2022-02-01 09:49] geriux commented on #37042
Fixed by https://github.com/WordPress/gutenberg/pull/37372

[2022-02-01 09:49] #37042 closed, assigned to geriux

[2022-02-01 09:54] geriux commented on #33600
Closing this issue since the new format of the Gallery is available (which uses Inner blocks) and older formats are migrated to the new one.

[2022-02-01 09:54] #33600 closed, assigned to nobody

[2022-02-01 10:13] webmandesign commented on #38240
You are right, this might work as expected as the content of external stylesheet URLs are actually retrieved by WordPress with `wp_remote_get()` and then inlined. So no external domain request is being executed in iframe this way.

Thanks for pointing me to the right direction! Fixed :)

[2022-02-01 10:13] #38240 closed, assigned to nobody

[2022-02-01 10:14] jasmussen commented on #38381
Good ticket, thank you. It looks like #38399 fixes this one at least on the frontend:
![editor](https://user-images.githubusercontent.com/1204802/151950294-5707d726-9129-4c98-b790-9ee1a6af6beb.gif)

I'm currently investigating what it will take to also fix it in the editor.

[2022-02-01 10:26] jasmussen commented on #38381
It looks like this issue will be harder to fix in the editor, because the `img` is wrapped in a `ResizableBox` component to add the resize handles. It looks like the component _does_ [support maxWidth](https://github.com/bokuweb/re-resizable#maxwidth-number--string), but it seems like that has some height related side effects:
![responsive editor](https://user-images.githubusercontent.com/1204802/

[2022-02-01 10:53] gingerling commented on #38345
This text then, is confusing for me:

"Displays as the site's homepage, or as the posts page when a static home page isn't set." [home page template description][

Additionally, I am unable to chose the home page template from the dropdown in the page settings, as shown here:

![image](https://user-images.githubusercontent.com/2853040/151955922-03797cbd-3157-4f3b-adb5-3b8c7d8fd6a2.png)

I'm still

[2022-02-01 11:00] gingerling commented on #38351
This is my .json, just to be sure I didn't break anything as I have made several edits.

`{
	"version": 2,
	"customTemplates": [
		{
			"name": "blank",
			"title": "Blank",
			"postTypes": [
				"page",
				"post"
			]
		},
		{
			"name": "page-large-header",
			"title": "Page (Large Header)",
			"postTypes": [
				"page"
			]
		},
		{
			"name": "single-no-separators",
			"title": "Single Post (

[2022-02-01 11:05] gingerling commented on #38345
"Displays as the site's homepage, or as the posts page when a static home page isn't set."

I read this as:

"Displays as the site's homepage": this template displays for the homepage of the site (I assume post content will display anything from the page editor for that page)

"or as the posts page when a static home page isn't set": When the static home page IS set, this is the home page template

[2022-02-01 11:19] getdave commented on #37950
✅ https://github.com/WordPress/gutenberg/issues/38275

I feel like there was a PR that @youknowriad was working on. Perhaps this one https://github.com/WordPress/gutenberg/pull/37978?

[2022-02-01 11:34] getdave commented on #38275
## Update 1st Feb 2022

* We created [a new tracking Issue for the Nav block](https://github.com/WordPress/gutenberg/issues/38275). This supersedes #35521.
* Lots of great discussion ongoing including:
    - https://github.com/WordPress/gutenberg/issues/37717
    - https://github.com/WordPress/gutenberg/issues/37950
    - https://github.com/WordPress/gutenberg/issues/36667
    - https://github.com

[2022-02-01 12:10] zurmoehle opened #38405 "__experimentalLayout -> add flex justificationOption stretch if is vertically"
For some cases its good to set the innerBlocks stretched in the vertical orientation. So we can add a button on the vertical orientation to set the justifyContent to "stretch"

This should be the change in the file (packages/block-editor/src/layouts/flex.js) on line 166

[code]

[2022-02-01 12:13] carolinan commented on #38345
Ah, the description was changed for the next version of Gutenberg. The new text is "Displays posts on the homepage, or on the Posts page if a static homepage is set"
https://github.com/WordPress/gutenberg/pull/38132

[2022-02-01 12:16] shivapoudel commented on #38284
On windows we have to use host.docker.local instead of localhost and it solves the issue. But why it always refirects to http://wordpress.local:8888 and beside that site url inpit is disable in the dashboard too.

[2022-02-01 12:17] gingerling commented on #38345
OOOOOOH! well that makes a big difference! Okay, so

Intended functionality is:

Set static home page
That page will use the "page" template UNLESS
Front Page template is set up
Then the entire page must be edited in the front page template, not with normal editor and template combo?

[2022-02-01 12:21] carolinan commented on #38345
I believe so, yes.

[2022-02-01 12:22] #36725 closed, assigned to nobody

[2022-02-01 12:23] gingerling commented on #38345
okay. Has anyone asked if front page could actually have stuff in it rather than be blank? (can't see anything, but tbh I never do when I check!) The actual root cause behind all this is that I don't want to build from scratch, it's too much work. But I do need a little more control over the front page of the site.

[2022-02-01 12:30] carolinan commented on #38345
Yes, There are explorations around adding some default content depending on the template

[2022-02-01 12:52] t-hamano commented on #38395
My OS is also WIndows 11, and I installed the Brave browse.

Gutenberg Editor worked with the default browser settings, block theme and full site editor also work fine.

I'm wondering if the browser extension has any effect on this.

[2022-02-01 13:11] hypest commented on #38375
Addressed with https://github.com/WordPress/gutenberg/pull/38377

[2022-02-01 13:11] #38375 closed, assigned to nobody

[2022-02-01 13:12] mtias commented on #37950
Going through notifications and finally coming to this, pardon my tardiness.

@talldan this is very much what this issue was trying to capture #36667 as a next step. Now that navigation blocks are wrappers on the data values, we can present the data values in its tree form more prominently. (The mockups are showing a single main menu but it could offer more through a dropdown if the UI does indeed

[2022-02-01 13:13] hypest opened #38407 "Native Mobile current focus areas"
This ticket tries to capture the items that the native mobile folks are currently working on. This also serves as the async project update for the weekly #core-editor meeting on Make.

### 🔎 Main focus
- Quality improvements
- Platform improvements
- Release process improvements

### 🛠️ Recently fixed or improved
- [Appium 2 Migration](https://github.com/WordPress/gutenberg/pull/55166)
- [Social I

[2022-02-01 13:14] t-hamano commented on #38207
This problem is specific to the Windows OS and seems to be very similar to this issue.

- https://github.com/WordPress/gutenberg/issues/38322

[2022-02-01 13:18] marek-onPC opened #38408 "WordPress 5.9 Block Editor - custom developed block with React "Invalid hook call." error"
### Description

Hello all

I'm facing a quite odd problem with customly developed blocks - on a clean WP 5.9, on old versions works fine (5.8.3 and before). In wp-config I added script debuging:
define( 'SCRIPT_DEBUG', true );
define( 'WP_DEBUG', true );

In a plugin I've prepared three different blocks, with the same standarized code and structure - you can esily check it [here](https://github.c

[2022-02-01 13:26] #30772 closed, assigned to carolinan

[2022-02-01 13:41] gigitux opened #38409 "When there isn't space on top and below the block, the toolbar overlaps the block"
### Description

Working on https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5581 we noticed a strange behavior about the toolbar position: when there isn't space on top and below the block, the toolbar overlaps the block.

This behavior could generate a not optimal great experience (see image 2 and image 3).

I discovered that this use-case is handled [here](https://gith

[2022-02-01 13:48] jakerambo commented on #35560
Same for me. According to [https://developer.wordpress.org/block-editor/how-to-guides/themes/create-block-theme/](docs).

"There are two files that are required to activate any theme: index.php and style.css.
For the plugin to recognize that a block theme is active, the theme must also include an index.html template
inside a folder called templates."

Adding this doesn't seem to work on existing t

[2022-02-01 13:57] carolinan commented on #35560
I have created a one page theme that [only has the index.html template](https://themes.svn.wordpress.org/miniblock-ooak/1.0.1/), but I am not able to reproduce this. It displays the same template no matter what the reading setting is on.

Are you able to share the test theme and any more details about your environment including WordPress version and confirm if there are any other plugins installed

[2022-02-01 14:10] kjellr commented on #38376
In general, this makes some sense — @jameskoster is right that in theory many templates might want to use this sort of thing, and this is flexible.

But [I voiced concern above](https://github.com/WordPress/gutenberg/issues/38376#issuecomment-1025881743) that users might not understand a `home-paged` template solution, and I worry that this one would be even less discoverable to users.

If it help

[2022-02-01 14:13] Lovor01 commented on #38408
From what I saw, I would say that you are calling a hook (i.e. useState) somewhere outside of component function. I will try to check further.

[2022-02-01 14:14] getdave commented on #37950
No problem. I can imagine you have quite a few to get through 😄

This is what I'd like to pursue here. Start with a focused mode that is editing the "items" (the data). That can serve as a basis for other things in the future.

[2022-02-01 14:23] Lovor01 commented on #38408
I checked code, I don't see many hooks... in fact, I believe there is just one...
try setting SCRIPT_DEBUG to true and install react developer tools in your browser and try to get a better bug description and post it here.

[2022-02-01 14:30] Lovor01 opened #38411 "Post/page constantly in "dirty" state after activating some plugins"
### Description

Upon activating some plugins (e.g. "Lightbox with photoswipe" , "Polylang",...) post/page is constantly in "dirty" - unsaved state. This did not happen in earlier versions of WordPress so I guess it is some kind of compatibility issue.

### Step-by-step reproduction instructions

1. Install plugin ("Lightbox with photoswipe", "Polylang")
2. Create page/post, enter some text
3. Pre

[2022-02-01 14:49] jakerambo commented on #35560
@carolinan After further testing here is the exact issue. If you have a `front-page.php` in your theme then go to `/wp-admin/site-editor.php` it tries to load the `front-page.html` template even if that template doesn't exist in your theme's templates folder.  It doesn't matter what your reading settings are.

If I remove my `front-page.php` because I also have a `home.php` file it then tries to l

[2022-02-01 14:55] jakerambo commented on #35560
If you delete the template after you add it then you see an message that says "You attempted to edit an item that doesn't exist. Perhaps it was deleted?" the difference being that it has query parameters. Where as just going to the site editor from the admin menu does not.

[2022-02-01 14:59] Lovor01 commented on #38411
Update: I managed to trace the source of the problem - at least for plugin "Lightbox with photoswipe". It this hook on admin part: `add_action( 'add_meta_boxes', [$this, 'metaBox'] );`, which in turn calls this:
[code]
This code is placed in lightbox-photoswipe.php on lines 146 and 1296

Therefore it seems, that old-way of creating meta-boxes ind editor now results in unsaved state.

[2022-02-01 15:12] helgatheviking commented on #38346
Yes I can successfully install many other packages in NPM even in the `/mnt/` directory. That's the windows folder mounted into the ubuntu system. It does run a little slow there so I am working on transitioning to hosting files in WSL itself.

So far in my experience I haven't found these packages work well from the Windows OS. All packages appear to be written expecting users to have Mac or Linu

[2022-02-01 15:12] #38346 closed, assigned to nobody

[2022-02-01 15:17] carolinan commented on #38398
I have been going back and forward about this one, and after reading through lots of past conversations, my understanding is that the intention was to replace the aria-label in the inline links (rich text blocks like the paragraph) with a new system that either: Prints the text but uses a CSS class to visually hide the text, displays the information for all users, or displays an icon for links tha

[2022-02-01 15:17] #38398 closed, assigned to carolinan

[2022-02-01 15:21] carolinan commented on #35560
Block themes are meant to prioritize HTML templates and then use the PHP template if it can't find the HTML template, but the PHP template can never be edited in the site editor.

[2022-02-01 15:23] gingerling opened #38412 "Space between columns lost when stacked on mobile"
### Description

When columns are stacked on mobile, the space between each column is removed but space between sets of column blocks remains.

In editor I see nice even spaces:

![Screenshot from 2022-02-01 15-11-36](https://user-images.githubusercontent.com/2853040/151995900-f9f62460-95bd-4b96-83b6-bab73ceef4fe.png)

On desktop I see nice even spaces:

![Screenshot from 2022-02-01 15-11-51](http

[2022-02-01 15:28] hypest commented on #38287
Closed via https://github.com/wordpress-mobile/WordPress-Android/pull/15879

[2022-02-01 15:28] #38287 closed, assigned to nobody

[2022-02-01 15:38] kjellr opened #38413 "Consider allowing users to import templates"
In the Site Editor, there's currently an export option for Templates and template parts:

<img width="260" alt="Screen Shot 2022-02-01 at 10 31 51 AM" src="https://user-images.githubusercontent.com/1202812/151998555-d96e1981-646b-4c25-84e6-fd84a1171a64.png">

This will eventually be a full theme export, but for now, it just exports your templates. Today, it's unclear what users should do with the

[2022-02-01 15:38] jakerambo commented on #35560
Of course the site editor would not edit the PHP template. That is not what I am saying.  I was very clear.

Add a `front-page.php` template to your example theme. Do not add a `front-page.html` to your templates folder. Go to the site editor from the admin menu and the editor will be broken with the `Uncaught (in promise) TypeError: Cannot destructure property 'id' of '(intermediate value)' as it

[2022-02-01 15:39] mirka opened #38414 "Global Styles sidebar header height shrinks when panel content overflows"
### Description

The Global Styles sidebar header will shrink if the panel content is overflowing vertically.

### Step-by-step reproduction instructions

1. Go to `/wp-admin/themes.php?page=gutenberg-edit-site`.
2. In the Styles sidebar, click the "Blocks" menu item. (Alternatively, use the DevTools Inspector to add extra content in the sidebar until a vertical scrollbar appears.)
3. The sidebar

[2022-02-01 15:44] kjellr commented on #38413
One option for this would be to integrate templates/template parts into the standard export/import tool. They are included today when you do a full export, but they don't have their own specific radio button option. Should they?

<img width="920" alt="Screen Shot 2022-02-01 at 10 42 08 AM" src="https://user-images.githubusercontent.com/1202812/152000670-c136ecd9-d2b1-47f5-9391-1174f4ccb12e.png">

[2022-02-01 15:59] arnowelzel commented on #38411
Please verify this by disabling the option "Show this setting as checkbox in page/post editor" in the general settings of Lightbox with Photoswipe. If the option is disabled, the whole metabox code will not be called at all.

Also see https://github.com/arnowelzel/lightbox-photoswipe/blob/main/lightbox-photoswipe.php#L144-L148.

If the problem then still persist, there is another issue which has n

[2022-02-01 16:20] Lovor01 commented on #38411
I can confirm the issue. Issue disappears when option "Show this setting as checkbox in page/post editor" is disabled.

However, I consider this a WordPress compatibility issue, not a plugin issue.

[2022-02-01 16:22] arnowelzel commented on #38411
Anyway - I will implement the Gutenberg style metabox in the next update of my plugin and hopefully also find a way to disable the "old" style metabox if Gutenberg is detected.

[2022-02-01 16:23] markhowellsmead commented on #37449
This is still an issue in 5.9, whether or not `defaultPalette` is `true`. White and black are never displayed in the Theme palette.

[2022-02-01 16:23] markhowellsmead commented on #34741
Yes please :)

[2022-02-01 17:43] markhowellsmead commented on #35093
Is there a reference anywhere for adding the new color picker component/s to a custom block? I’ve been using `PanelColorSettings` until now (which looks like this), but this omits the Standard color set and doesn't respect the settings in theme.json.

<img width="290" alt="panelcolorsettings" src="https://user-images.githubusercontent.com/1571592/152021629-fd58f1a4-c20a-4d30-b7b2-656dfe32a3fb.png"

[2022-02-01 17:50] dcalhoun opened #38420 "Highlight text: Auto-inserted periods do not match selected text color until typing is continued"
## Description
After setting a highlighted text color, period characters inserted from double-tapping the space key do not receive the correct text color. Continuing to type ultimately applies the correct text color to the period. This issue only occurs on Android, it does not occur on iOS.

## Step-by-step reproduction instructions

1. Add a Paragraph block in the native block editor.
2. Tap the

[2022-02-01 17:57] dcalhoun opened #38421 "Transformed or split Heading blocks have incorrect line height for block themes"
## Description

Related to https://github.com/WordPress/gutenberg/issues/37168. While a block theme is utilized, transforming a block to a Heading block or splitting an existing Heading block results in the Heading block displaying an incorrect line height. This results in longer, wrapping text overlapping itself.

The solution in https://github.com/WordPress/gutenberg/pull/37285 addressed the iss

[2022-02-01 18:09] sagarnasit commented on #37449
Conflicting colors are not displayed on the color palette, but the CSS variables generated on the frontend are using the theme's color palette values when `defaultPalette` is `false`.

[2022-02-01 18:14] mchowning opened #38423 "Android: Pasting from GBoard loses formatting"
## Description
Pasting formatted text on Android [using GBoard's toolbar](https://support.google.com/gboard/answer/10742542?hl=en) loses the formatting.

This is not an issue on iOS.

## Step-by-step reproduction instructions
1. Copy a header and some paragraphs of text from https://automattic.com/how-we-work/
2. Paste the text into Gutenberg on Android by tapping in a paragraph block, and then se

[2022-02-01 18:16] mchowning commented on #38423
Likely has the same underlying cause as [[Embed block] Paragraph block does not detect embeddable link that is pasted from Gboard](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4203).

This might also be related to [[RNMobile] "Link to" is not auto populated when copying link from Google app ellipsis menu](https://github.com/WordPress/gutenberg/issues/36364).

[2022-02-01 18:29] chthonic-ds commented on #37449
Using 5.9 (Gutenberg is not active), I see "white" and "black" displayed correctly in the theme palette.

Theme palette:

![37449-theme-core-colour-slugs](https://user-images.githubusercontent.com/29587253/152028174-019ac53a-6097-45ce-8e39-d177cc96f6f0.gif)

theme.json:

![image](https://user-images.githubusercontent.com/29587253/152028527-e99d8741-00ac-4940-a40a-685012430d5b.png)

[2022-02-01 20:11] svedish commented on #13368
I'm building a press page for a client, which he should then be able to keep populating oh his own of course.
In the HTML templates I've come up with a very simple solution: external link would open in target="_blank" and links to newspaper articles would open a pretty lightbox because they have an "open_lightbox" class (to avoid loading perhaps 200 images on one page and keep the page clean with

[2022-02-01 20:29] ram108 commented on #38171
The automatic addition of id's for headings is terrible. Especially if the headings are in non-Latin. Plus it broke the auto-table of contents plugins.

[2022-02-01 20:29] skorasaurus commented on #32434
I'm no longer able to reproduce this; there have been some fixes to the button block since then and this appears to have been resolved; [the core minified block-library style ](https://wordpress.org/support/wp-includes/css/dist/block-library/style.min.css)
no longer returns any errors on the w3 validator.

@thuthiemzeit ; I ran the validator again on your site and no errors were detected.

Please

[2022-02-01 20:29] #32434 closed, assigned to nobody

[2022-02-01 20:33] skorasaurus commented on #34448
heavily related which requested styling the pseudo classes pre theme.json - https://github.com/WordPress/gutenberg/issues/4543

[2022-02-01 20:35] skorasaurus commented on #31828
Hi,

Thanks for reporting;
This has been discussed and/or requested in  https://github.com/WordPress/gutenberg/issues/4543. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2022-02-01 20:35] #31828 closed, assigned to nobody

[2022-02-01 20:49] bracketsberlin commented on #19776
In case anyone is still searching for a similar option using built-in Gutenberg blocks: I used the `core/media-text` block instead and added a custom style class to it, to have an option in the backend to enable/disable the style. The `core/media-text` block allows adding a link to the image but also to the text on top of the image.

The following code allows positioning text on top of the chosen

[2022-02-01 21:17] mirka opened #38425 "Snackbar: Focus restoration when not part of `SnackbarList`"
## What problem does this address?

As surfaced in #38365, the [focus restoration logic after dismissing a `Snackbar`](https://github.com/WordPress/gutenberg/blob/d257d326075fafeb473adcf16c7ed1d2b54ac384/packages/components/src/snackbar/index.js#L67) only works when it is rendered inside a `SnackbarList`.

## What is your proposed solution?

### Possible solution 1: Return to the previous tabbable

[2022-02-01 22:06] skorasaurus commented on #26489
Hi,

Thanks for reporting.  I think this has been solved because the interface is no longer a dropdown;  as indicated in the screenshot.

if no custom font-sizes are enabled.
![image](https://user-images.githubusercontent.com/955351/152059289-ca40dafc-c60a-4df6-a171-15f3126445be.png)

when custom font-sizes are enabled
![image](https://user-images.githubusercontent.com/955351/152059442-c816c55a-b6

[2022-02-01 22:06] #26489 closed

[2022-02-01 22:49] jorgefilipecosta commented on #38277
I think controlling these states from global styles makes sense and I agree with what @jasmussen said. But we need to be very careful how this is going to happen. It does not make sense to control states for a paragraph but maybe for the button block, it does? How do we specify which blocks this makes sense? I guess a block.json support? I guess for the link element it also makes sense so for some

[2022-02-01 23:03] aleksblendwerk commented on #37287
Is there some kind of workaround / easy fix for this?

[2022-02-02 00:15] jenfloods commented on #32460
I am creating a single post reusable block template. When I set up my blocks, when grabbing the Post Content block to use for Post content text to come through, it is taking my existing elements and duplicating it inside the  Post block, there is also another Post Content block under all of this that I did not add. What is the resolution fix temporarily? I do not see where I can edit Post Content

[2022-02-02 01:56] talldan commented on #38395
I also use Brave as my regular browser, though I'm usually on Mac OS. I've had no issues running any of the block editors.

Definitely work checking browser extensions. Also open up the developer tools (right click and choose 'Inspect') and look at the console tab to see if there are any errors in red text.

[2022-02-02 03:08] talldan commented on #31965
Now things are a bit calmer again following 5.9 I'll work on the new preferences package.

[2022-02-02 03:47] jhned opened #38427 "Add supports.typography.alignment argument so that blocks can use AlignmentControl automatically."
## What problem does this address?
It's difficult to add the AlignmentControl component to a block. To filter it in on a block that doesn't support it, it's not a simple matter of filtering the block settings, but rather of filtering the whole edit function. That seems heavy-handed.

## What is your proposed solution?
Add an argument under the supports.typography object that accepts "alignment." I

[2022-02-02 03:47] glendaviesnz commented on #27760
Had a quick look at this, but because it will require converting the block to use innerBlocks, it will currently suffer from the [same issue as noted here in the Quote block conversion to innerBlocks PR](https://github.com/WordPress/gutenberg/pull/25892#issuecomment-975205593), so probably best to leave until @dmsnell works through that.

[2022-02-02 04:01] talldan commented on #37950
Yeah, I think that would be good. The first draft doesn't need to have any special styling, it can just be a proof of concept.

[2022-02-02 04:44] glendaviesnz commented on #34637
Playing around with [converting the block to use color supports](https://github.com/WordPress/gutenberg/pull/38428) as the color picker for these block supports now includes an opacity setting.

[2022-02-02 05:23] andrewserong commented on #37514
The PR to add multi-select to the list view via the SHIFT key is ready for review / feedback now, if folks would like to give it a test! (https://github.com/WordPress/gutenberg/pull/38314)

[2022-02-02 05:35] noisysocks commented on #35868
If an idea is truly worth doing then it will come up again 😉

[2022-02-02 05:36] marek-onPC commented on #38408
When reporting this issue I already had SCRIPT_DEBUG = true with accesing react components by React Developer Tools.

I deleted from **edit** function setting value of two variables:
[code]
and defined it in **registerBlockType** function when defining attributes:
[code]

This solved errors when adding block in Block Editor, but it looks that after saving the written content, save function is not

[2022-02-02 05:54] andrewserong commented on #38167
I believe the initial version of the style engine PR (https://github.com/WordPress/gutenberg/pull/37978) is in a good place for wider feedback / review now, and to confidence check the approach. I've added a tiny [comment/update to the PR](https://github.com/WordPress/gutenberg/pull/37978#issuecomment-1027609756).

[2022-02-02 07:07] iidastudio opened #38434 "In the block theme, I see a page with no styles applied for a moment."
### Description

In the block theme, When I view the page, I see a page with no styles applied for a moment.
I think the cause is that the block theme inserts the style generated from theme.json (global-styles-inline-css) just before the closing tag of the body.

### Step-by-step reproduction instructions

1. Install WordPress 5.9
2. Change the theme to twenty twenty two and other block themes.
3.

[2022-02-02 07:09] #38384 closed, assigned to jasmussen

[2022-02-02 07:12] jasmussen commented on #38381
With the merger of #38399, I took the liberty of updating this issue to reflect that the issue is now editor-only.

[2022-02-02 07:34] carolinan opened #38436 "Add body background image to global styles (Customizer feature parity)"
## What problem does this address?

I am receiving support questions related to block themes, and one of the questions that has been recurring is how to add a body background image without access to the Customizer.

This is possible using the cover block. But if you want to use the same background image on all pages on the site, you need to add the block to all the templates.
In my _opinion_, the

[2022-02-02 08:01] Mamaduka commented on #38171
I agree with Ari's [comment](https://github.com/WordPress/gutenberg/issues/38171#issuecomment-1022193919) that ideally, plugins should leverage WP core generated anchors. But, unfortunately, this isn't always the case.

Here're my thoughts on how we can improve the user experience for this feature:

* Allow users to remove anchors.
* Add settings to disable the feature.
* Display notice inside TOC

[2022-02-02 08:23] ramonjd commented on #27302
Here is a duplicate issue, which provide some elaboration on the challenge: https://github.com/WordPress/gutenberg/issues/36609

[2022-02-02 08:23] ocean90 commented on #38394
The actual code can be seen here: https://github.com/WordPress/gutenberg/blob/69c882acf5b0bea7e847468ff3ef5a2d34f2bbb9/packages/editor/src/components/post-taxonomies/most-used-terms.js#L29-L39

[2022-02-02 08:25] ramonjd commented on #36224
I think this issue should be part of a bigger drive to make the "no results" state configurable.

Here are two issues that raise this:

- https://github.com/WordPress/gutenberg/issues/36609
- https://github.com/WordPress/gutenberg/issues/27302

I threw up https://github.com/WordPress/gutenberg/pull/38437 in haste, thinking that showing a message on the frontend, one that is consistent with the edi

[2022-02-02 08:28] ramonjd commented on #36609
This is a tricky one.

We want whatever block/element we show to be part of the context in which we know there are no posts, e.g., post templates.

An all-encompassing approach eludes me right now: each block behaves a little differently.

Could we use a rich text field? This will entail adding attributes to the block. We could support two views, similar to how we handle placeholders, whereby the

[2022-02-02 08:42] ram108 commented on #38171
This is not a design or options issue.
The current implementation of id generation does not comply with html standards.

1. id must be unique in the entire html document, not just in the article. How is this uniqueness checked?
2. id should not contain non-Latin characters. But even Japanese and Russian titles turns into id.

Example:
`<h2 id="это-заголовок-2">Это заголовок 2</h2>`

Technically, i

[2022-02-02 08:44] #27512 closed

[2022-02-02 08:50] Mamaduka commented on #38394
We can update the condition to check that there's at least one term returned and avoid using MAX/MIN completely.

What do you think?

[2022-02-02 08:57] ciampo commented on #35093
Maybe @aaroncampbell or @jasmussen can help you out here?

[2022-02-02 09:04] jasmussen commented on #38394
Great thoughts. It makes sense to revisit the thresholds for min/max tags.

Tags, unlike categories, can be spur-of-the-moment labels to help index random content, making it likely for big archives to have an ocean of tags, some of them used only once. That feels like a good reason to keep a max amount of suggestions to show.

The term "Most used tags" also feels like it implies a minimum amount o

[2022-02-02 09:06] ram108 commented on #38171
Addition to my previous post.

Since ids are generated from headers without any checking for their uniqueness, it's very easy to break the entire html document by simply creating headers like:

`<h2 id="main">Main</h2>`
`<h2 id="content">Content</h2>`
`<h2 id="site-header">Site Header</h2>`

The automatic generation will rewrite existing ids in html document and brake jquery and css.

To prevent t

[2022-02-02 09:13] getdave commented on #38277
Thanks @jorgefilipecosta. I agree it needs to be carefully thought through. Block supports sounds like a good way to indicate whether a given block is suitable for interactive state design tools.

I wonder whether UX wise this could behave in a similar way to the how Devtools handles these states:
<img width="647" alt="Screen Shot 2022-02-02 at 09 12 21" src="https://user-images.githubusercontent.

[2022-02-02 09:23] ciampo commented on #38425
We could maybe go with both? Having a way to discourage using `Snackbar` outside of `SnackbarList`, and returning to previous tabbable as a fallback in case that happens?

It would be interesting to see what would be the best way to implement this. We do have other components that are also meant to be used in combination with each other (e.g. `ItemGroup` and `Item`, `ToolsPanel` and `ToolsPanelIte

[2022-02-02 09:27] MaggieCabrera commented on #33245
This one is no longer an issue

[2022-02-02 09:27] #33245 closed, assigned to nobody

[2022-02-02 09:38] youknowriad commented on #37950
With the proliferation of these focuses modes, I think we need to start to think about how these focus modes (which are in reality) multiple editors work together. We need to answer questions like:

 - What's the UI that changes when you switch mode?
 - What's the UI that stays there, that is common to all modes (save button, more menu...)
 - How to write a new "mode" (think navigation mode, templ

[2022-02-02 09:44] s56bouya commented on #38171
https://github.com/WordPress/gutenberg/issues/38171#issuecomment-1027675431 Good idea!

I want the setting disabled by default.

Because it takes an additional action to turn off the setting, which is a hassle.

And I can't ignore the fact that some users can't find (or deal with) that the table of contents plugin doesn't work properly because of the HTML anchor.

I thought there were some issues

[2022-02-02 09:54] kajalmultidots opened #38441 "Theme Twenty-Twenty Two issue in image block in styles option"
### Description

When we choose Image block we have the option in sidebar for styles
If we choose any styles(Default, Rounded) that is reflected on image but in the sidebar that option of styles(Default, Rounded) is not seen properly.

### Step-by-step reproduction instructions

Go to Image Block
In the right side Go to Styles option (Default, Rounded)
There is some issue. It is not looking perfec

[2022-02-02 10:02] jameskoster commented on #38376
Would this mean that to solve the case in the OP, your Home template would need to include two header template parts, one with {"isPaged":true} and one with {"isPaged":false}?

Or is it a case of allowing a single template part to entertain both conditions, then having a way in the Editor UI to switch between those states (something like https://github.com/WordPress/gutenberg/issues/36609)?

Overa

[2022-02-02 10:06] carolinan commented on #36609
Adding my thoughts here, as previously added to the linked PR.

I have been thinking about how to make it configurable quiet a lot this week and even tried a few different things.
Some difficulties:
If we picture the "no results" as a container for other blocks so that the message can be customized:

- A "no results" block needs to be available (placeable) in the editor even if there are results d

[2022-02-02 10:34] carlomanf commented on #38376
Actually, I inferred that it was a case of wanting the header on page 1 but hiding it on subsequent pages, so only one template part would be needed. I'm not too familiar with the theme so I may have misread the intent. If it's a case of different content on each, then it could be done with two template parts.

[2022-02-02 10:34] mateo3235 opened #38443 "Problem with widgets in WordPress 5.9"
### Description

Hello. After updating wordpress to version 5.9, the widgets that I had on the website declared with the class Timetable extends WP_Widget stopped showing. Has anyone had a similar problem? I have the widget block editor turned off.

### Step-by-step reproduction instructions

1. Install Wordpress 5.9

### Screenshots, screen recording, code snippet

_No response_

### Environment

[2022-02-02 10:42] fluiddot opened #38444 "Gallery block: Block doesn't get selected after tapping on it when is unselected and empty"
## Description

When tapping on a Gallery block that is empty and not selected, the media picker menu pops up, but dismissing the picker doesn't set the block as selected.

## Step-by-step reproduction instructions

1. Add a Gallery block (do not add any images to it).
2. Select a different block or the post/page title.
3. Tap on the Gallery block.
4. Observe that the media picker is displayed.
5.

[2022-02-02 10:56] stratboy commented on #38299
Me too here. looking forward to see fixes really soon.

[2022-02-02 11:11] ram108 commented on #38220
Reference to related issue: https://github.com/WordPress/gutenberg/issues/38171#issuecomment-1027703917

[2022-02-02 11:16] carolinan opened #38445 "Add a how-to guide including a decision tree for deprecations in core blocks"
## What problem does this address?

When I make changes to an existing core block, I find it difficult to know for sure if I should deprecate the old block, and how.

I find it difficult to apply [this example](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-deprecation/#example-2) to a core block.

## What is your proposed solution?

Add a new how-to guide with a dec

[2022-02-02 11:20] carolinan commented on #37541
Do you have any thoughts on this issue @jasmussen?

[2022-02-02 11:40] maginefo opened #38446 "Not able to create posts/pages or edit existing ones, blank page."
### Description

Since today (was working before last WP update, a few days ago) my SO is unable to edit or create any posts or pages, everything just returns an empty blank page with the following debug error from the file (react-dom.min.js:141:274):

[code]

Also if I create a new post, only a completely blank page appears with nothing I can do, however I see a blank post created in the database

[2022-02-02 11:41] carolinan commented on #31169
It would be good if we could decide if a new component should be created, or which method should be used, so that the problem can be resolved.

[2022-02-02 12:08] ntsekouras commented on #36609
These are good thoughts @carolinan!

I agree that we might need a new block for this and as you mention there are many nuances (no duplicates, availability and available inner blocks, etc..). Maybe it could make sense as a menu item in block settings that would open a modal and edit that in a kind of isolated mode.

[2022-02-02 12:23] carolinan commented on #38387
Possibly related to this change in 11.9:
https://github.com/WordPress/gutenberg/commit/c0e6bd4aa8cf9a44bdb120fa9a80b7adc7ece902

[2022-02-02 12:26] kajalmultidots opened #38448 "Image Block"
### Description

When we choose image block we have the options for default styles in right side. but when we choose those styles(Not set, Default, Rounded) in select box, nothing happen.

### Step-by-step reproduction instructions

Go to Image Block
choose image and upload it
show the right side option (default Style)
choose any one from them but nothing happen.
For more understanding I have prov

[2022-02-02 12:29] ciampo commented on #38414
If I understand what's being reported correctly, I see everything working as expected:

- The sidebar has a fixed `width`
- When navigating to the "Blocks" view, the content is too long and therefore the view needs to allow vertical scrolling
- The scrollbar needs horizontal estate to render, and since the sidebar has a fixed width, the only solution is to shrink the view's content width

What wou

[2022-02-02 12:29] carolinan commented on #36609
That makes me think that maybe, it should be a template "area" like header and footer.

[2022-02-02 12:29] rmorse opened #38449 "Update the block editor docs site to link to the source code"
## What problem does this address?

Very often I find myself looking at the component  reference in docs -
https://developer.wordpress.org/block-editor/reference-guides/components/base-control/

And shortly after I realise I need to deep dive and take a look at the source code, but there is no way for me to do that.

A shortcut I have used, is to click the "edit" github link, which takes me to edi

[2022-02-02 12:38] maginefo commented on #38446
After more investigation it might be that the new 5.9 got issues when using Gutenberg in combination with the "Cheer Up" theme, it looks like it works with other themes but not this particular combo.

[2022-02-02 12:38] carolinan commented on #38387
I can confirm the issue. And my suggestion would be to open a ticket on Trac to update the theme instead,
The theme removes the border in style.css line 840, but it does so for all button blocks, when (according to the original design) it should only remove it for the filled button (default).

[2022-02-02 12:44] hypest commented on #38407
Updated the parent post with the current list of recently fixed/improved items.

[2022-02-02 13:13] ntsekouras commented on #36609
In the sense of handling yes, but in practice this is a block related functionality and can't be tied to a theme.

[2022-02-02 13:16] youknowriad commented on #38361
Hi there! and sorry for the breakage @peterwilsoncc

That looks like an unintended breaking change indeed.

Reflecting on it, I think it might impact some plugins/third party code but not much. `setupEditor` seems like an editor/internal specific action to me that ideally shouldn't be needed at all or instead only used by the editor itself. I don't think it was meant to be used to reset blocks/pos

[2022-02-02 13:17] #17476 closed

[2022-02-02 13:25] jasmussen commented on #37541
Good ticket, thank you. It seems like the _mini-icon with two rows of text below_ pattern used for the other related icons (post title, post excerpt etc) might work well here also. @javierarce since you created that excellent submenu icon yesterday, is this something you'd like to take a stab at? Otherwise I have some bandwidth to tackle this next week.

[2022-02-02 13:42] mirka commented on #38414
Yes correct, the width shrinking is fine. This issue is about the header `height` shrinking (48px → 37px).

[2022-02-02 13:43] #38446 closed, assigned to nobody

[2022-02-02 13:57] t-hamano commented on #38408
Hi.
I looked at the source and I think it is because `setAttributes` is done before the block is mounted.

I think you can use [useEffect](https://reactjs.org/docs/hooks-reference.html#useeffect) and do the processing after the component is mounted.

Like this:

[code]

[2022-02-02 14:09] DAreRodz commented on #36642
After some analysis, and considering the last cases @luisherranz added in the previous comment, this is how I think adding several comment loop blocks with different options should work.

Let's first consider two types of URLs:
- **“Pretty” and plain permalinks**: what WP uses right now.
  - https://mysite.com/some-post/comment-page-2/
  - https://mysite.com/some-post/?cpage=2
- **Block ID query v

[2022-02-02 14:11] toolstack commented on #38394
This would work fine as well, I went with a MIN const simply to keep with the existing coding standard of using MAX.

[2022-02-02 14:15] toolstack commented on #38394
Agreed, and the MIN/MAX should proably be controllable through a preference or API, as every site uses tags differently, so no one setting would work for everyone.

I think, as mentioned above, that this needs to be configurable somehow, no one setting will work for every site but 10 is probably a resonable default.

[2022-02-02 14:15] t-hamano commented on #38448
As you can see in the select box labeled "**Default Style**", this is for setting what style will be applied by default when you insert a block.

Therefore, changing the value of the select box will not change the style of the block.

This is true not only for image blocks, but also for other blocks that have block styles.

[2022-02-02 14:16] t-hamano commented on #38441
Please see: https://github.com/WordPress/gutenberg/issues/38448#issuecomment-1027983082

[2022-02-02 14:44] #38332 closed, assigned to dcalhoun, fluiddot

[2022-02-02 15:10] ciampo commented on #38414
It's interesting how my brain read `width` instead of `height` through the whole issue title and description 🤦

[2022-02-02 15:13] getdave commented on #15791
This was discussed during the Core Editor chat. The consensus was that it would be great if someone could raise a PR using one of the keyboard shortcuts suggested above. We can then all test and refine the shortcuts as required.

Is anyone open to taking this one on?

[2022-02-02 15:14] #34429 closed, assigned to dcalhoun

[2022-02-02 15:19] aurooba commented on #38449
I think this is a fantastic idea! I do the same thing you do, @rmorse!

@gziolo what's the best route for making this kind of thing happen?

@estelaris would this design be under your purview since it's documentation?

[2022-02-02 16:20] sumitsinghwp opened #38453 "Double scroll some time"
Hi,
Page content on showing double scroll bar some time?
You can see Video link.https://www.loom.com/share/d34e17fda7ab4707972434cc32c918c2

[2022-02-02 16:27] kjellr commented on #38376
Good question. This technique would work nicely for _hiding_ elements on subsequent pages, but it gets more complicated if you're adding elements (and breaks that front-end/editor appearance parity). Having a separate template might be a better, more flexible move.

[2022-02-02 16:29] cbirdsong commented on #38299
Removing this filter is not necessary for getting rid of the duotone output and it affects the markup of the group block:

[code]

[2022-02-02 16:31] ericraio commented on #15777
`wp_after_insert_post` hook was the hook that I used to get me updated terms

[2022-02-02 16:50] silaskoehler opened #38454 "Disable Image Resizing"
## What problem does this address?
I can't manage to disable image resizing completely for image Blocks?
I know that a parent block can provide a context `allowResize`, but what can i do to disable image resizing completely for my site?

## What is your proposed solution?
Image resizing is very powerful but ist not compatible with every block style.
Im My case i use `:before` and `:after` pseudo-c

[2022-02-02 16:55] jenfloods opened #38455 "Gutenberg - Post Content is buggy, created issues using it."
### Description

When I try to use the Post Content block, it tries to add another post content and says I can't do one inside another. I have not used this module before, first time trying to use it to set up a layout template for single blog post template using Reusable Block Extended for a shortcode. I've tried editing on a post or post, same issue occurs.
![Post Content block issues](https://u

[2022-02-02 17:08] cbravobernal opened #38456 "[Comments Query Loop] [Query Loop] Consider using a generic Avatar block"
## What problem does this address?

Right now, we have on Gutenberg two different blocks:
- Post Author Avatar Block. Which @carolinan [is doing an amazing job there](https://github.com/WordPress/gutenberg/pull/38265)
- Comment Author Avatar Block. I'm doing an update [on this PR to make it better](https://github.com/WordPress/gutenberg/pull/38072)

We are working in parallel, but, we are also tak

[2022-02-02 17:08] strarsis opened #38457 "`data-object-fit` polyfill/browser support"
### Description

I noticed that some blocks as the `core/video` block use an attribute like `data-object-fit`.
This indicates that a polyfill should/can be used instead of native CSS `object-fit`.
[`object-fit`/`object-position` are now basically supported by all browsers](https://caniuse.com/object-fit). Does it still make sense to add these data attributes/polyfills?

### Step-by-step reproducti

[2022-02-02 17:28] mkkeck commented on #38299
For my theme I need to remove this filter, because I don't want additional inline styles adding. It was good for me, that inner containers are removed, so there's no require to restore them.

[2022-02-02 18:20] gwwar commented on #36667
I'm going to try a small spike to see what issues I run into, let me know if folks have already started on this one.

[2022-02-02 18:28] itsmingjie commented on #38390
Hi! I'm one of the program coordinators of a nonprofit program called [CodeDay Init](https://labs.codeday.org/), and we partner with colleges to help CS students make their first open-source contribution.

We'll claim this issue for now and a group of students will be on it soon with mentorship! If this issue is no longer relevant, please let me know.

[2022-02-02 18:46] aurooba commented on #27075
So I think one of the considerations is _what_ changes with each `state`. A `state` change isn't just a change of `color` or `text-decoration`, in CSS speak. It could be multiple things.

I would suggest that for each state, all currently supported properties remain available, so if the block supports `background color`, `margin`, `padding`, and `letter case`, then you should be able to control ea

[2022-02-02 19:41] annezazu commented on #38345
There's also work being explored around integrating patterns into the experience when you create a new template to make it easier to quickly get started: https://github.com/WordPress/gutenberg/issues/36697

I'm going to close this out since this isn't an issue per say but general feedback that has been clarified thanks to the lovely @carolinan  Happy to re-open if folks would prefer or if there is

[2022-02-02 19:41] #38345 closed, assigned to nobody

[2022-02-02 19:50] joyously commented on #27075
I disagree because of what can happen when hover changes the size of an element. It has been seen before in the editor that just hovering creates a scrollbar or other size change, which then moves the element so it's no longer hovered, so it changes size again. This creates a flickering of the element that can cause seizures. Even a little movement is annoying.

I don't think the editor should sup

[2022-02-02 19:52] mchowning opened #38461 "Check-Licenses script can miss some incompatible dependencies"
## Description

The `check-licenses` script has a couple of issues that failed to identify the incompatible license of an Apache-2.0 dependency I recently tried adding.

Specifically, I tried to add [Shaka-Player](https://www.npmjs.com/package/shaka-player) version 2.5.23 to the project. The check-licenses script failed due to one of Shaka-Player's dependencies (eme-encryption-scheme-polyfill) hav

[2022-02-02 20:06] aurooba commented on #27075
I think there would be value in considering _when_ states show up. Something I love about Adobe XD for example is that, yes you can set a hover state for an element, but you have to toggle that state _on_ in the interface to see what it will look like, instead of having it appear whenever you _physically_ hover on the element. That's a better experience than what we have now, where if something ha

[2022-02-02 20:20] joyously commented on #27075
That's not really what I meant. I was only referring to the front end result of whatever the user chose to change on hover. Their visitors could be faced with lots of issues that are avoided if controls are not provided to the user. That's why I think themes should handle it instead.

Most of those are links (even navigation mentioned twice).

[2022-02-02 20:31] aurooba commented on #27075
Right, but themes can do all kinds of things on the front-end as well (and I've seen plenty that to), ultimately what kind of styles/changes are made on hover or any other state is up to the people curating the design/look. I don't think that should stop the editor from providing flexible tools.

And yes, most of the blocks I mentioned are links, but I'd like to see states available in them specif

[2022-02-02 21:30] glendaviesnz commented on #38454
I don't know of a way currently that you can use to disable image resizing on a site-wide basis. In theory, when the [height and width block supports](https://github.com/WordPress/gutenberg/issues/36165) are implemented it may be possible to refactor the Image block to use these, which would add the potential to disable this at the individual theme.json level.

In the meantime, another option woul

[2022-02-02 22:15] matthisamoto opened #38464 "Add option to omit "none" from alignment options"
## What problem does this address?
When creating custom blocks, I want to be able to only include the alignments that fit my design system, rather than rely on content creators to opt into something other than "none" from the alignment options. For instance many of the blocks I'm creating only need Center, Wide and Full, but it always defaults to None and I don't even want my editors selecting it.

[2022-02-02 22:55] peterwilsoncc commented on #38361
@youknowriad Thanks for following up.

I'd prefer to re-enable it to keep with WP's ethos of maintaining backward compatibility. If there is to be a break, then a soft deprecation needs to be in place for several versions of WP. For the plugin I experienced the issue on, we did need to bump the minimum supported WP version to account for the change.

I'm seeing a few [apparent uses in the plugin d

[2022-02-02 23:51] mrwweb opened #38466 "Regression: Cover Block style changes in 5.9 break opacity for older cover blocks"
### Description

I have a site using the standard cover block with no customizations. When updating to WordPress 5.9, the block's opacity setting does not work until resaving the page which forces the cover block's markup and classes to change.

Prior to WordPress 5.9, the `has-background-dim-XX` class was on the cover block container. That class was moved to a `span` that's a direct descendant of

[2022-02-02 23:56] scenicrte commented on #38299
Thanks for all the info. I have 112 extra lines of svg and duotone code showing up just before the closing HTML tag in my site and was glad to find this thread.

[2022-02-03 00:50] andrewserong commented on #38277
Just adding a +1 that this would be both a very cool feature, and it will also need to be thought through carefully, both in the UI design, and how we wish to store the styling state. Over in #38167 there is a project underway (the style engine) to explore how we might improve our saving/rendering of block styles (this come out of the discussion in https://github.com/WordPress/gutenberg/discussion

[2022-02-03 00:51] andrewserong commented on #38167
Just adding that there's been some discussion in https://github.com/WordPress/gutenberg/issues/38277 and https://github.com/WordPress/gutenberg/issues/27075 about exploring a standardized way to modify hover/focus/active states for blocks — it'd be good to keep an eye on these discussions to see if/when/how the style engine might slot into those explorations.

[2022-02-03 00:57] andrewserong commented on #27075
Great discussion, folks!

I think this is a good argument for coming up with a generic way that multiple states can be handled, both at a block level and within `theme.json` so that Gutenberg can support these kinds of states for blocks. We'd then be able to look into where and how the controls would be exposed (i.e. some themes might not want users to be able to adjust directly within the post ed

[2022-02-03 01:35] #38448 closed, assigned to nobody

[2022-02-03 02:05] talldan commented on #38441
So the issue is that the previews for Default and Rounded are not showing the full image?

It looks similar to an issue that was mentioned for the block patterns (https://github.com/WordPress/gutenberg/issues/37573#issuecomment-1020685935).

[2022-02-03 02:09] talldan commented on #37573
I think it might be best to open a new issue for this. This issue has the wrong title and description for the bug that's now happening. Anyone looking to fix it would have to scroll all the way to the bottom to find out the problem.

[2022-02-03 03:25] michalczaplinski commented on #38456
Hey @c4rl0sbr4v0 I'm all in favour of working out a solution here - I only wonder why 7 of has have been assigned to this issue? 🤔

[2022-02-03 03:35] carolinan commented on #38456
I agree.

It was suggested that there could be a _user block_ with variations, but there was no interest or buy-in for that approach.
https://github.com/WordPress/gutenberg/issues/24952

[2022-02-03 03:41] ZebulanStanphill commented on #38267
Divi has had a copy-styles feature for a few years now.

https://www.elegantthemes.com/blog/theme-releases/divi-feature-update-a-game-changing-new-way-to-be-creative-with-divi

Thanks to the standardization brought by the global styles system, I think it's definitely feasible to have something similar in Gutenberg.

Also, I imagine that the code added in #37596 might provide a little inspiration f

[2022-02-03 04:02] fwazeter commented on #35376
I was _just working out a solution to this very problem_. As a developer who runs an agency, and an early adopter of block themes, it was chronically an issue generating the random ```.wp-container-id``` values for a number of reasons. 1) diagnosing CSS files became a nightmare because of all the rendered <style> tags, 2) we'd end up with 80+ duplicate code snippets in pages for layout values and

[2022-02-03 04:25] t-pabla opened #38468 "Post Comments Block"
## What problem does this address?

WP 5.9
Twentytwentytwo theme
When viewed in templates such as "Single Post", "Index", "page", the Post Comments block has no option in the Editor to remove "date" , "at", and "time"
## What is your proposed solution?

option in the Editor to remove "date" , "at", and "time" should be added

[2022-02-03 04:50] gziolo commented on #38468
It looks like duplicate of https://github.com/WordPress/gutenberg/issues/34994.

[2022-02-03 04:57] vijayhardaha commented on #36834
For some reasons, `wp_dequeue_style( 'global-styles' );` wasn't doing the job for my custom theme. so i used this.

[code]

[2022-02-03 05:19] sabernhardt opened #38470 "Post visibility popover is very narrow on iPad"
_Originally [reported by sumitsingh](https://core.trac.wordpress.org/ticket/54767) on Trac_

The Post Visibility dialog is very narrow on smaller screens.

![iPad screenshot](https://core.trac.wordpress.org/raw-attachment/ticket/54767/image%20(7).png)

The dialog needs either a `width`—perhaps the 257px for all screens—or else a `min-width` when the screen is below the medium breakpoint.

https://

[2022-02-03 06:30] sagarnasit commented on #37449
Works as expected after updating the Gutenberg plugin version. Closing the issue.

[2022-02-03 06:30] #37449 closed, assigned to nobody

[2022-02-03 06:35] minaldiwan opened #38471 "In WordPress 5.9 color palette overlap with circular color picker issue"
### Description

In WordPress 5.9 color palette overlap with circular color picker issue are occured when we hover on circular color picker.
I have attached screenshot for it
<img width="1269" alt="Screenshot 2022-02-02 at 11 32 42 AM" src="https://user-images.githubusercontent.com/77973388/152292577-bf52bbcd-cfe5-4e10-be8b-47f04a114c8f.png">

### Step-by-step reproduction instructions

clicking o

[2022-02-03 06:50] kubiqsk opened #38472 "we need opposite of allowed_block_types_all filter"
it will be very helpful if we would have `disallowed_block_types_all` or `disabled_block_types_all` filter similar (opposite) to `allowed_block_types_all`

currently when you use `allowed_block_types_all` you will receive first argument `$allowed_block_types` as `TRUE` boolean value, so there is nothing to filter… but the real problem is that when you use this filter, then you will automatically *

[2022-02-03 07:30] aristath commented on #38472
Hey there @kubiqsk!

You don't need an "opposite" filter, the existing filter can be used. The value can either be a `boolean`, or an array as documented on https://github.com/WordPress/gutenberg/blob/b72113b2b047ad1dd7c950f7cd9893db9e6518a6/docs/reference-guides/filters/block-filters.md#allowed_block_types_all
You can also see this in the filter's inline comments: https://github.com/WordPress/wor

[2022-02-03 07:30] #38472 closed, assigned to nobody

[2022-02-03 07:33] gziolo commented on #38449
The site with the Block Editor Handbook is maintained by the WordPress Meta team. @fabiankaegy, do you remember where changes to the Gutenberg docs get applied before publishing on the site?

[2022-02-03 07:37] fabiankaegy commented on #38449
@gziolo This is all the documentation I have:

https://twitter.com/mkaz/status/1470762333047648256

[2022-02-03 07:43] kajalmultidots opened #38473 "Button Block Issue"
### Description

When we choose Button block we have the option in sidebar for styles
If we choose any styles(Fill, Outline) that is reflected on Button but in the sidebar that option of styles(Fill, Outline) is not seen properly. This is same issue as Image Block.

### Step-by-step reproduction instructions

Go to Button Block
In the right side Go to Styles option (Fill, Outline)
There is some is

[2022-02-03 07:57] kubiqsk commented on #38472
@aristath yes, i know about this, but as I wrote - once you will specify some allowed blocks array, then all future, potential blocks that can appear with update or installing new plugin will be automatically disabled and THAT'S the problem I'm talking about

[2022-02-03 07:59] marek-onPC commented on #38408
Hi, thanks for reply

I used the useEffect hook, and I got the same result like in my [previous](https://github.com/WordPress/gutenberg/issues/38408#issuecomment-1027604918) message.
No errors during editing for the first time, but the block is not saving, and after refreshing the editor it breaks completely.

[2022-02-03 08:10] cbravobernal commented on #38456
That is my fault. I did that so you get notified and can discuss it 😅

[2022-02-03 08:16] aristath commented on #38472
Hmmm I see what you mean.
Would something like this work?
[code]

[2022-02-03 08:27] #9630 closed

[2022-02-03 08:39] marek-onPC commented on #38408
I was sneaking around, and I hound the issue.
The problem is with Button component itself.

After changing this component to simple anchor tag <a> ... </a> everything works perfect.
To be sure, I've added simple Button component to my block:

`<Button>TEST</Button>`

and that already is causing a problem mentioned in previous comments.

To better target this issue, should I create a new issue with

[2022-02-03 08:47] youknowriad commented on #38361
I'd be fine if we try to reenable with a deprecation and remove it later, I don't want the user to pay the price of backward compatibility when the developer can make a small change to avoid the issue. Alternatively, I'm also ok with a dev note here.

[2022-02-03 08:59] ntsekouras commented on #38373
I think this would be very hard to detect as is the case for similar php filters and the consistency between editor and front end. A similar case for `Post Excerpt` was this one: https://github.com/WordPress/gutenberg/pull/33366.

[2022-02-03 09:04] akkis commented on #38299
You can disable completely generated SVG code with `theme.json` like jumbo did [here](https://wordpress.org/support/topic/disabling-gutenberg-duotone-filter/#post-15300408)
but it breaks block editor :(

[2022-02-03 09:06] ntsekouras commented on #38347
👋  Thanks for reporting this!

This wasn't supported until yesterday's release of GB `12.5` (https://github.com/WordPress/gutenberg/pull/38063). It's not in WordPress `5.9`. I'm saying this because you have in the issue's `Environment info` the WP version only.

Have you tried with GB 12.5 and the problem is still there?

[2022-02-03 09:10] getdave commented on #15791
Forwarding important feedback left in #core-editor on Slack (registration required):

[2022-02-03 09:20] carolinan opened #38479 "Add line numbers to the code block"
## What problem does this address?

I am lifting this feature request from https://github.com/WordPress/gutenberg/issues/13934 to increase visibility, because they are two separate issues.

[2022-02-03 09:20] t-hamano commented on #38408
@marek-onPC

I have checked your code again.
I have not tested it in detail, but the following code will work.

The point is that `RichText` is not wrapped in a `Button` component in `edit.js / save.js`, and `RichText` is specified as a button with `tagName` props in `save.js`.

Please check source of [the core button block](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/

[2022-02-03 09:20] kubiqsk commented on #38472
Hm, interesting, I'm using `get_all_registered()` in my plugin but few weeks ago I wasn't able to get blocks created with ACF here.
I had to use `acf_get_block_types()` and merge arrays or process them separately, but now I can see it actually returns everything including ACF blocks.
So can I rely on this PHP function `get_all_registered()` that it will return really all registered blocks?
There a

[2022-02-03 09:23] kubiqsk commented on #38472
Oh no, sorry, it was actually JS `wp.blocks.getBlockTypes()` where the ACF blocks are missing...
Then you're right! It can be definitely used that way
Thank you very much for your time

[2022-02-03 09:29] muzafferkaya-gokalpay commented on #38357
I am sorry for saying this but, now i can not create any WordPress block by @wordpress/create-block package since that I updated the npm to latest version. Unfortunately, i can not rearrange or add a line of code to my old blocks. My terminal is full of errors. I think this is shame for "@wordpress/scripts create-block" developers. This is terrible. Please help me with suggesting any other package

[2022-02-03 09:29] muzafferkaya-gokalpay commented on #38357
This is my terminal:

PS C:\xampp2\htdocs\benimsitem\wp-content\plugins> npx @wordpress/create-block stcnnt-ps

Creating a new WordPress plugin in "stcnnt-ps" folder.

Creating a "block.json" file.

Creating a "package.json" file.

Installing `@wordpress/scripts` package. It might take a couple of minutes...

Formatting JavaScript files.

Compiling block.
C:\Users\Muzaffer\AppData\Local\npm-cache\

[2022-02-03 09:34] carolinan commented on #38386
Do you think we should use block gap ("block spacing") for the numbers?

[2022-02-03 09:37] ntsekouras commented on #38245
Thanks for reporting this! I agree that they should be consolidated.

The error comes from `processBlockType` action here: https://github.com/WordPress/gutenberg/blob/trunk/packages/blocks/src/store/actions.js#L109. @gziolo has worked a lot on these parts so maybe he has some thoughts to share.

[2022-02-03 09:39] carolinan commented on #36382
I have retested this today with WordPress 5.9.0 with and without Gutenberg and it is working. I am closing the issue, and it can be re-opened if the problem re-appears.

[2022-02-03 09:39] #36382 closed, assigned to nobody

[2022-02-03 09:42] badlydrawnben commented on #38252
It's a shame that we have to resort to these temporary fixes or overwriting the :root CSS variables in existing sites to 'unbreak' them for 5.9.

It's another example of feeling like theme developers are punished for trying to customise Gutenberg by following the WP guidelines at the time - i.e. `using add_theme_support( 'editor-font-sizes' )`.

Is this planned to be fixed in an upcoming minor rel

[2022-02-03 09:44] youknowriad commented on #22718
Is this still happening, I don't seem to reproduce it anymore personally.

[2022-02-03 09:50] carolinan commented on #38386
Hmm how come the next and previous only have background color support  🤔

[2022-02-03 09:54] Mamaduka commented on #37699
@mrfoxtalbot, I don't believe so. Navigation Screen needs to be synced with some recent changes in Navigation Block.

cc @getdave

[2022-02-03 10:42] Mamaduka commented on #38453
I've also noticed this issue using the TT2 theme.

[2022-02-03 10:57] mcsf commented on #2515
First of all, everyone here puts the user first. Everyone comes with their own experience and weighs advantages and drawbacks differently. Calling collaboration "literally insane" is not helpful.

Now, it's been two years since the original comments about breaking undo levels, and some progress has been made since. The proof is that, in most circumstances, images can indeed be copied from elsewher

[2022-02-03 10:59] webmandesign commented on #38252
I agree with you. It also feels like Gutenberg sets a particular styling standard (meaning applying max-width on all blocks within a full width container) and everything is subordinated to this new approach - like themes should have no other option to follow. And when themes have a different approach, they experience problems with almost every recent WordPress major release.

For example, I don't

[2022-02-03 11:05] Soean commented on #38299
@akkis No, `doutone` needs to be an array, null is not a valid value.

This generates a PHP error:
`Warning:  Undefined variable $filters in /wp-content/plugins/gutenberg/lib/compat/wordpress-5.9/class-wp-theme-json-gutenberg.php on line 1527`

[2022-02-03 11:08] aezazs-multidots opened #38481 "Image style issue in Gutenberg's gallery block"
### Description

I created a page on my local site and added a Gutenberg block of the gallery to that page. I added images to that block. When I clicked on an image, went to its settings and changed the style to 4 image style options. If any one of them was selected, then it was working perfectly.

But when I was selecting the style of the image from the style drop-down, it is not working.

### St

[2022-02-03 11:22] ntsekouras commented on #38456
Variations seem like it could work and is worth exploring for blocks like `author name, avatar`, etc.. where we would detect if we want to display info for post or comment authors. I'm not sure a specific `user` block is valuable if we have the other related blocks as standalone.

[2022-02-03 11:24] sumitsinghwp commented on #38453
Yes @Mamaduka

[2022-02-03 11:34] luisherranz commented on #36642
LGTM! 🙂

[2022-02-03 11:42] akkis commented on #38299
Thank you @Soean I did not check any block editor. I stand for front end issue, and it solves my issue. So, we are waiting for a solution/filter/hook for disable the SVG elements.

[2022-02-03 11:50] mkkeck commented on #38299
And it breaks Gutenberg's js too

[2022-02-03 12:09] carolinan commented on #38481
Hi!
This is working as intended, the settings have different purposes:
The select list is used to change the default style for new blocks that are added.
To change the style of the selected image block, click on the style, as you illustrate in the video.

[2022-02-03 12:09] akkis commented on #38299
But [this solution](https://core.trac.wordpress.org/ticket/54941#comment:6) works without ruins the gutenberg editing interface.

[2022-02-03 12:30] jameskoster commented on #32460
@jenfloods I think this warrants a dedicated issue. It looks like it might be a bug that occurs when the Post Content block is placed inside a Reusable Block.

[2022-02-03 12:35] gziolo commented on #38245
I think it might be an issue with the installation process. As far as I can tell, the block should work correctly after page refresh because it's registered on the server from `block.json` that contains the `title`:

https://plugins.trac.wordpress.org/browser/flexible-table-block/trunk/classes/class-enqueue.php#L30

https://plugins.trac.wordpress.org/browser/flexible-table-block/trunk/src/block.js

[2022-02-03 12:50] markhowellsmead commented on #37449
Confirmed in 5.9 without the plugin active and in a clean install. With `"defaultPalette": false`, `white` and `black` set in the theme palette are correctly shown. The issue must lie in my custom theme.

[2022-02-03 12:54] jameskoster opened #38487 "When editing the Posts Page, the Template selector doesn't work"
To reproduce:

1. Set a static homepage
2. Set a page to use as the "Posts page"
3. Edit the "Posts page"
4. Change the template in the "Template" panel of the document inspector to something custom (create a new template if necessary)
5. Save
6. Notice that the chosen template is not used

To be clear, I think it is appropriate that the template for this page cannot be changed, as that would allo

[2022-02-03 12:56] jameskoster commented on #38487
I don't know if this needs design. The simplest solution might be to replace the dropdown in the Template panel with some copy explaining why the template cannot be changed. The Edit link can remain. Rough mockup:

<img width="289" alt="Screenshot 2022-02-03 at 13 01 00" src="https://user-images.githubusercontent.com/846565/152347824-2d4077fc-4170-4daf-972b-55402408900c.png">

[2022-02-03 13:08] jameskoster commented on #29821
It would be nice to revisit this now that the site editor is live.

One option might be to redirect folks to the Site Editor and open the `home` or `index` template when they edit this "page". This would solve the awkward experience where content added to the page never actually appears on the frontend.

Another option would be to open the template editor that exists in the post editor.

[2022-02-03 13:17] markhowellsmead commented on #33374
I'm also experiencing this issue with 5.9 when using a columns block within an `InnerBlocks` element. The nested columns block doesn't receive the `'data-align'` (`'wide'`) attribute in the editor or the control to allow choosing wide/full. However, the code output on the website **is** correctly assigned the `alignwide` class.

(Code abbreviated for readability.)

[code]

[2022-02-03 13:19] t-hamano commented on #38245
Yes, the plugin will be installed correctly and you will be able to use the block after reloading the browser.

I'll deal with this by including metadata in the JavaScript for the time being.

[2022-02-03 13:19] cbravobernal commented on #36642
Looks great. Also, it will be better for the UX as they will be able to add as many comments query loops as they want.

[2022-02-03 13:26] gziolo commented on #38245
I would have to test it but in this line:

https://plugins.trac.wordpress.org/browser/flexible-table-block/trunk/src/index.js#L37

You should be able to pass `metadata` object as a first param. It will be used when there is no metadata passed from the server. In this case it would be only when the block gets installed from Block Directory.

[2022-02-03 13:42] evrpress commented on #20731
@ndiego do you have a solution for this? You must have the `manage_options` capability to use the `/settings` endpoint.

I currently use `wp_add_inline_script` to add a global variable with the settings.

[2022-02-03 13:45] ndiego commented on #20731
@evrpress yeah I am using `wp_add_inline_script` as well. Not ideal, but it works 🤷‍♂️

[2022-02-03 13:51] anarieldesign commented on #27075
I totally agree with, if user can change color, border etc. for the button it should be available to change the hover, active states. For example when creating different button block patterns in a theme u need to style a generic hover effect for each button or to use different Custom CSS for each one to style it differently and when user change the style of that button the hover will still be the

[2022-02-03 13:56] MaggieCabrera commented on #27075
+1, we can discuss about UI and what options the end user will see in the editor, but the theme developer should be able to control and set default to those attributes on all the states without having to add extra CSS

[2022-02-03 14:35] Azragh commented on #28915
This worked very well so far:

[code]

Also fixed the issue of oversized images in mobile previews. Only downside is that the horizontal margins don't apply / overlap if the image is left or right aligned:

Editor:
![image](https://user-images.githubusercontent.com/15014142/152362908-6d6d8a39-8793-4010-b691-23f7ae3158cb.png)

Frontend:
![image](https://user-images.githubusercontent.com/15014142/15

[2022-02-03 14:44] getdave commented on #37699
Thanks for the report!

The Nav screen is still experimental and needs updating to catch up with changes.

It will be updated based on feedback from WP 5.9.

[2022-02-03 14:47] Andrew-Starr opened #38489 "Query pagination prev/next arrow/chevron span incorrectly escaped"
### Description

When adding a Query Loop to a page/post and selecting the Arrow or Chevron style in the Pagination block, the inline span that is added to the Previous & Next links is being escaped incorrectly, resulting in incorrect markup.

This issue is only present when Gutenberg is active and only when added to a page/post, not when included in a template.

In 5.9 without Gutenberg active, t

[2022-02-03 15:26] mrwweb commented on #38466
A quick note that I've updated the issue a few times and have replicated the issue on a simpler install using the Twenty Twenty One theme.

[2022-02-03 15:28] herregroen opened #38490 "Inline image width edit removes most attributes"
### Description

If an image is added to a `RichText` content and the width of that image is edited then all attributes not explicitly defined as part of the image format are removed.

As the `RichText` can be used in a wide variety of cases, including ones where images are added with custom attributes I would expect that either:
1. The image format preserves all attributes it's not editing.
2. Th

[2022-02-03 15:57] alanef commented on #30496
`And features at the periphery of the site editor scope, from theme switching to additional CSS, are already implemented.`

Am I missing something - how is additional CSS implemented?

[2022-02-03 15:59] alanef commented on #30496
Ah - I get it - Additional CSS is already implemented - in the customizer - which is hidden for FSE.

So when supporting users with minor CSS tweaks - what is the expected behaviour - tell them there is a feature but it is hidden but use this 'secret' link and it will work?

[2022-02-03 16:04] KevinBatdorf opened #38492 "Sub-pixel scaling browser bug in live preview component"
### Description

Both the height and scaling on the live preview component allow sub-pixel values, which may cause browsers to behave unexpectedly.

The sub-pixel height its probably okay but the combination of the height and scaling could be the issue.

Or maybe both could be clamped to a 2 digits?

### Step-by-step reproduction instructions

I added an example pattern for a block plugin I'm work

[2022-02-03 16:19] MadtownLems commented on #37374
@glendaviesnz -  Are you able to re-test with one minor tweak?

I am experiencing the same negative width/height when an aligned image is resized SMALLER. (It actually doesn't matter if it's from URL or media library).  But a key part of the problem is that the FIRST drag-to-resize needs to be smaller, not larger.

When I align an image, then drag it smaller, I get negative a negative width and he

[2022-02-03 16:19] getdave opened #38493 "Ability to create pages from within Link UI within Site Editor rich text"
## What problem does this address?

In https://github.com/WordPress/gutenberg/pull/35083 we added the ability to create Pages from within the inline Link UI. We added this to the standard `@wordpress/editor` package as that is used across all editors...or so we thought.

Turns out that the Site Editor doesn't use this package. Therefore it didn't inherit this functionality.

cc @mrfoxtalbot

## Wh

[2022-02-03 16:25] MadtownLems commented on #37374
I have confirmed this bug still exists on 5.9 (no Gutenberg plugin).

Simply:
Add an Image Block
Select an Image
Align it Right
Drag to Resize it Smaller.
Notice that you now have negative image dimensions set.

[2022-02-03 16:25] KevinBatdorf opened #38494 "block.json not loaded on block plugin dynamic load"
### Description

This is hard to reproduce as it requires finding a block plugin that breaks. As it requires the block to be approved and on the repository. I imagine it could be faked in a dev example but I'm just reporting it at this point.

If a block plugin has its default attributes set in block.json _only_, (including title), will get errors on quick install and ask the user to refresh the p

[2022-02-03 16:33] Mamaduka commented on #37374
Here are my results. WP 5.9 without Gutenberg.

https://user-images.githubusercontent.com/240569/152385824-e14c857e-c963-444f-9469-003224d98775.mp4

[2022-02-03 16:33] getdave opened #38497 "Link UI too open as to what it considers a valid URL"
## What problem does this address?

When the Link UI `<LinkControl>` was created we decided to take a very broad definition as to what is considered a valid URL. Therefore you can type in a simple string _with no spaces_ like `Projects` and  (assuming you have no Posts/Pages with that name) the link UI will "detect" it as a URL and show an option below.

![Screen Capture on 2022-02-03 at 16-28-17]

[2022-02-03 16:36] t-pabla commented on #38468
May be , I'm not sure.

Anyhow, meanwhile is there a filter I can use to remove (1) "date" , (2) "at", and (3) "time" from post comments?

[2022-02-03 16:50] geriux commented on #38421
This should be fixed in https://github.com/WordPress/gutenberg/pull/38205 to be confirmed in the `1.71.0` release.

[2022-02-03 16:55] MadtownLems commented on #37374
And here's my screencast. ( also WP 5.9 without gutenberg 🤔)

https://user-images.githubusercontent.com/945157/152389881-0eab562e-5567-4141-a798-68baf0c07dc7.mp4

[2022-02-03 17:02] MaggieCabrera opened #38498 "Group Block [Row]: Support both vertical and horizontal alignment"
## What problem does this address?

Right now using the row block the only vertical alignment possible is centered. Layouts like the one from the screenshot require extra CSS.

<img width="942" alt="Screenshot 2022-02-03 at 17 28 08" src="https://user-images.githubusercontent.com/3593343/152390562-3e8c6454-64ce-486d-8b46-38ab6ae88bb2.png">

## What is your proposed solution?

Since we are using fl

[2022-02-03 17:03] ryelle commented on #38245
Since blocks installed via the block directory only load the client assets, we don't have any of that server-side registration data - so adding the `title` in the JS `registerBlockType` is necessary here. Loading the whole metadata object from `block.json` would also work.

[2022-02-03 17:04] marieannabt opened #38499 "read more link not working"
### Description

When Guntenberg is activated , my "read more" link disappear on all my pages. Instead, a line of code appears :

`<a class="moretag" href="(https link)"><br>Read more</a>`

### Step-by-step reproduction instructions

Just activate the extension

### Screenshots, screen recording, code snippet

_No response_

### Environment info

Destock and Mobile
Gutenberg Version 12.5.0
Theme S

[2022-02-03 17:13] emanuellopes commented on #13998
I've used the old approach adding a .js file on code.

This time I've tried another solution, I think this is better than use the .js script.

[code]

[2022-02-03 17:30] draganescu commented on #38497
2 cents: the trend I noticed is that links get auto created if the string contains a dot.

[2022-02-03 17:32] aurooba commented on #27075
@andrewserong Does that mean this issue should be closed and all discussion should move to #38277?

[2022-02-03 17:38] scruffian commented on #38277
I think it makes sense to add this control to the theme.json before we build a UI for it. That gives us a chance to focus on the data structure and functionality and get that right without needing to think about the UI.

[2022-02-03 18:00] ryelle opened #38500 "Block directory doesn't work when blocks are hidden"
- Part of #41236.

### Description

If you have _any_ blocks hidden, the block directory won't load any external results. This is caused by the `canInsertBlockType` check, which checks against `allowedBlockTypes`. When there are hidden blocks, this list is set to the current registered blocks, minus those hidden blocks ([source](https://github.com/WordPress/gutenberg/blob/2747474eec0b0990009f12d0d

[2022-02-03 18:00] tomusborne commented on #37961
This seems to be an issue outside of the pattern block previews as well.

Themes and plugins that are still using `enqueue_block_editor_assets` instead of `editorStyle` or `add_editor_style()` (due to the lack of being able to add dynamic CSS using `wp_add_inline_style()`) are missing their styles in Firefox when using the tablet and mobile previews in the regular editor.

[2022-02-03 18:09] ryelle commented on #33670
I hit this problem today (which complicated this issue https://github.com/WordPress/gutenberg/issues/38500), I had two hidden blocks that I couldn't unhide, because I had removed the source plugin.

I don't know if there's any reason to persist the list when a plugin is inactive, it could be useful to hide specific blocks that a user (or client) might install (though maybe a "disallowed list" filt

[2022-02-03 18:25] NicoHood commented on #33374
Is there any workaround or code snippet that I can use to get back this feature without creating a child theme without this new theme.json file?

[2022-02-03 18:26] annezazu opened #38501 "Individual patterns not scaled appropriately until after adding"
### Description

Pulling from this original issue with scrollbars https://github.com/WordPress/gutenberg/issues/37573, there now seems to be an issue where the height of the patterns preview is off. On my end with 5.9 sans Gutenberg, the experience is one where before adding the pattern, the height is off in the Inserter but, after adding it, the height shows up correctly.

### Step-by-step reprod

[2022-02-03 18:26] annezazu commented on #37573
@talldan Okay! Done and closing: https://github.com/WordPress/gutenberg/issues/38501

[2022-02-03 18:26] #37573 closed, assigned to Mamaduka

[2022-02-03 18:46] annezazu commented on #38252
I wanted to chime in on this piece of things both in order to learn where you all would expect to see this communicated and to help share where it was for transparency. First and foremost, it was shared in [this Dev Note](https://make.wordpress.org/core/2022/01/08/updates-for-settings-styles-and-theme-json/) as mentioned above. This was noted in the Field Guide for 5.9 and sent out to plugin and t

[2022-02-03 18:50] skorasaurus commented on #38473
Hi,

Thanks for reporting:
The outline style in the button block's sidebar preview is appearing cutoff.
can you share what theme and web browser that you are using ? Can you also please deactivate all other plugins and share if you are still having the same experience after doing that?

I am no able to reproduce it with WordPress 5.9, no plugins and the twentytwent

I am able to reproduce this usi

[2022-02-03 19:12] ihdk opened #38502 "Avoid multiple block adding while "multiple" is false in block.json"
### Description

Hello, I'd like to report issue, or maybe ask if there is a way to avoid duplicated blocks that have defined "multiple" parameter to false in block.json file.
Block still can be duplicated if it's for example inner block of another parent block. Issue is explained below on "Read More" block which would be inserted in post just once.
Even the "Read More" block doesn't really cause

[2022-02-03 19:15] ndiego commented on #38385
Yes I was noticing the flash of unstyled content today as well. Moving all the conditional CSS to the header should solve this. It would be great to get this into 5.9.1 if possible.

@wpsoul concerning per-block inline styles, you can use `wp_enqueue_block_style`. Ari discussed this [here](https://make.wordpress.org/core/2021/12/15/using-multiple-stylesheets-per-block/) and it is working as expect

[2022-02-03 19:16] skorasaurus commented on #38473
@kajalmultidots

The block style previews have been overhauled and implemented in https://github.com/WordPress/gutenberg/pull/34522 ;  Are you able to reproduce this after you have installed and activated the newest version of Gutenberg that is available through [the Gutenberg plugin](https://wordpress.org/plugins/gutenberg/)?

[2022-02-03 19:23] bgardner commented on #38385
Given the impact this could have on Core Web Vitals, +1 on trying to get this into 5.9.1.

[2022-02-03 19:24] skorasaurus commented on #20972
Went through the above links (since i was confused again on block styles variations and block styles);
I couldn't find any of use "styles variation" or "style variation" in the current documentation anymore EXCEPT at https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/data/data-core-edit-post.md
which contains a function - `updatePreferredStyleVariations` for the edit-post pack

[2022-02-03 19:39] courtneyr-dev commented on #38089
I wanted to add a `box-shadow` to the borders of my groups. I'd love some custom CSS options here, or further support around border properties.

[2022-02-03 19:46] wpsoul commented on #38385
@ndiego wp_enqueue_block_style is cool new function, it resolves problem when we need to add extra styles to core blocks. But I think it's not replacement for register_block_styles, because wp_enqueue_block_style doesn't support to set name of custom style in arguments.

[2022-02-03 20:05] kjellr commented on #38386
Perhaps we should technically use it. But I don't think it should be the same default `blockGap` value that we use elsewhere since that's generally wider than we need.

[2022-02-03 20:31] ndiego commented on #38385
Yeah agreed. That said, I am currently using it to load my custom CSS for my block styles registered with `register_block_styles`. It's currently the best alternative that I have found for the time being.

[2022-02-03 20:47] glendaviesnz commented on #37374
Thanks for the extra detail @MadtownLems, I was able to replicate this on GB trunk if I make the image smaller first. Interesting that it is fine for you @Mamaduka, I wonder if it is something to do with the original dimensions/aspect ratio of the image as well? I will try and take a closer look at it today.

[2022-02-03 21:03] badlydrawnben commented on #38252
Hi @annezazu

I can obviously only speak from my own perspective - I'm more of a site builder than a theme developer - so I customize WP sites for clients and provide support for them. I don't use Page builders and I have been customizing Gutenberg for the last couple of years and creating custom blocks where necessary. I'm not a good enough developer to contribute to WP core or Gutenberg so I don

[2022-02-03 21:07] ockham commented on #37717
I don’t have a lot to add to @getdave’s [comment](https://github.com/WordPress/gutenberg/issues/37717#issuecomment-1014273091) which I think sums up the problem pretty brilliantly (and which also pretty much reflects my opinion on the matter)

I’d just like to express that if I were in your shoes @afragen I’d probably be somewhat frustrated that a fairly small request for an additional filter is m

[2022-02-03 21:22] miguelpeixe commented on #37961
Yes, this bug will affect any compatible `wp_enqueue_style()` or `wp_add_inline_style()` for every [iframed editor](https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/) in Firefox.

[2022-02-03 21:47] bgardner commented on #36528
Bumping as this is still a present issue.

[2022-02-03 22:24] annezazu commented on #38252
This is extremely helpful @badlydrawnben! It sounds like a few things would help:
- Ensuring these changes are properly and promptly updated appropriately across documentation (this is officially on my list to follow up on to see what that needs to reflect).
- Perhaps share in the dev notes where concerns can be raised to save folks time in bringing up problems (so you aren't dancing across GitHub

[2022-02-03 22:30] noisysocks commented on #38497
I think it's fine to update the component so that it treats these as URLS:

- A string that matches the [URL RFC](https://datatracker.ietf.org/doc/html/rfc1738), e.g. `http://example.com`, `mailto:robert@example.com`
- A string that contains no spaces and a period (.), e.g. `example.com`

We should try to optimise for the most common use cases. It is very uncommon that a user needs to link to http

[2022-02-03 22:37] annezazu commented on #38466
Adding to the 5.9.x project board so it can be reviewed. Thank you for flagging!

[2022-02-03 22:40] glendaviesnz commented on #38466
This is fixed by https://github.com/WordPress/gutenberg/pull/38362, which is merged and flagged for inclusion in 5.9.1

[2022-02-03 22:40] #38466 closed, assigned to glendaviesnz

[2022-02-03 22:41] peterwilsoncc commented on #38361
Thank you, can this be done for 5.9.1. I'll add it to the project for 5.9.x

I suspect you and I are looking at the same issue and coming to a different conclusion. I think the risk is the user pays because a developer doesn't realise they need to update their code.

I do agree that soft deprecation should eventually move to a hard deprecation but it's a discussion that needs to be regarding all o

[2022-02-03 22:42] ajlende opened #38504 "Unset duotone filters defined in theme.json per block"
### Description

It isn't currently possible to unset a duotone filter supplied via theme.json on a block, only override it with a different duotone filter.

I would expect that the 'clear' button resets the filter to whatever was set in the theme.json and there to be another option (a swatch or 'unset' button or something) to disable the filter for that specific image.

See earlier discussion in

[2022-02-03 22:42] annezazu commented on #38466
Ah ha! Just was about to come back through here after noticing your lovely PR. Thank you!

[2022-02-03 22:55] glendaviesnz commented on #37374
I haven't had any luck tracking this down yet. For some reason, the `ResizableBox` component in some instances returns a negative value, even though the minHeight and minWidth values are positive values.

[2022-02-03 23:29] WhiteHeatherClub commented on #38501
Patterns that are previewed incorrectly never appear correctly in the inserter for me, even after adding to the page. With latest Gutenberg plugin things are better - but not perfect. Correct aspect ratio **is** previewed, but very long patterns are being cut off.

https://user-images.githubusercontent.com/97255524/152446319-3c3085ea-4f9d-419b-9e61-e8c739c8e842.mp4

[2022-02-03 23:43] noisysocks commented on #38390
Thanks @itsmingjie! The issue is still relevant. Let me know if you need help or extra info.

[2022-02-03 23:55] glendaviesnz commented on #38466
An additional note for anyone waiting for this to go out in 5.9.1 - [adding this](https://gist.github.com/glendaviesnz/b3480d37ff0ea75103cea8ca5bd1796b) to site custom CSS should fix the issue in the meantime.

[2022-02-04 00:37] talldan commented on #38497
The good news is there already lots of URL validation utilities in the codebase (in the `@wordpress/url` package) for this. Originally implemented in https://github.com/WordPress/gutenberg/pull/11286. These should closely follow the spec.

Validation is pretty complicated, and there a lot of edge cases! It's not just urls that have to be supported, but also hrefs like `#my-heading`.

[2022-02-04 01:09] budyaaa opened #38506 "Image for preview when hovering at block in admin panel"
### Description
It is currently impossible to simply set image as block preview in editor menu. Cause preview loads from edit function.
![image](https://user-images.githubusercontent.com/53225297/152455698-b2dbf2ae-28b0-45eb-ace8-0f8536f61127.png)

### Proposal
I think that adding new function to existing "edit" and "save" will be good idea. For example it can be named "example". In this function

[2022-02-04 02:09] tekknow90 opened #38507 "When using Drop Cap alignment breaks if paragraph isn't long enough"
When I use the Drop Cap like the screenshots below it misaligns with the rest of the page, the paragraph seems to need to be long enough to cover the drop cap to fix the issue.

I am on WordPress 5.9 using the Hotel Luxury theme.

![Screenshot (24)](https://user-images.githubusercontent.com/29907472/152460808-389a6c4a-162e-49fb-90d0-29b1eb189de8.png)
![Screenshot (25)](https://user-images.githubus

[2022-02-04 02:12] carolinan commented on #38385
I am using both of these functions, for their respective use, and I do see the CLS.

[2022-02-04 02:24] lukecarbis commented on #16988
Just want to bump this issue. I've come across the need to add buttons to the toolbar many times since I commented in 2019. AMP's DOM manipulation solution is too hacky (sorry @westonruter and @pierlon) to be a permanent solution.

@ryanwelcher's PR may need a refresh, but it looks like a good approach to me.

[2022-02-04 02:29] carolinan commented on #38386
Yeah the default is no gap, it is only applied if a gap is added.

[2022-02-04 03:54] westonruter commented on #16988
Agreed. And the hacks continue: https://github.com/ampproject/amp-wp/pull/6881#issuecomment-1029245573

[2022-02-04 04:23] noisysocks commented on #26156
No, this isn't fixed. We require the block PHP regardless of what screen is being shown.

Here in Core:

https://github.com/WordPress/wordpress-develop/blob/26722b77624fc755e3fcb721d2ce530abc777bd6/src/wp-includes/blocks/index.php#L18

Here in the plugin:

https://github.com/WordPress/gutenberg/blob/037c82baf4f8e0d4901759efed5a32f9ccd66cb6/lib/blocks.php#L174

[2022-02-04 04:25] noisysocks commented on #26156
It's a pretty minor issue as it doesn't really affect anything to my knowledge. Still, gotta shave those yaks.

[2022-02-04 04:51] noisysocks commented on #31890
Closing this as "fixed" because Gutenberg now requires WP 5.8 at minimum which means `WP_Widget_Block` will always exist.

@bobbingwide: I think you have a seperate problem there. Could you please re-test against the latest versions of WordPress and Gutenberg and open a new issue if you're still seeing this?

[2022-02-04 04:51] #31890 closed, assigned to nobody

[2022-02-04 04:58] noisysocks commented on #32119
We're not in any rush now so let's go with the design @critterverse shared in https://github.com/WordPress/gutenberg/pull/30826#issuecomment-843388434.

[2022-02-04 05:00] Mamaduka commented on #37374
Thanks for the confirmations, @glendaviesnz.

I think narrowing down the "requirements" to constantly reproduce the issue will be very helpful for tracking this down

[2022-02-04 05:00] noisysocks commented on #32215
This is related to https://github.com/WordPress/gutenberg/issues/28517. We ought to move away from `is_block_editor` (but keep it working like in the table above for backwards compatibility) and instead rely on `WP_Block_Editor_Context` to determine what editor we're in. See https://github.com/WordPress/gutenberg/issues/28517#issuecomment-875263042.

[2022-02-04 05:02] noisysocks commented on #32278
Why not open all areas, including empty ones, but excluding _Inactive widgets_, by default? Agree that having some closed by default makes it difficult to drag and drop.

[2022-02-04 05:21] noisysocks commented on #32550
Adjusting the labels so as to note that this is an issue with all editors, not just widgets.

It's a little less broken now because Rounded works even with theme styles disabled. I think it might even be good enough that we can close this. I wouldn't really expect that the border options should work without theme styles. What do you think?

https://user-images.githubusercontent.com/612155/15247635

[2022-02-04 05:23] noisysocks commented on #32632
I believe we're more inclined to do the exact opposite of this. See https://github.com/WordPress/gutenberg/issues/32278. Let's continue discussion in that issue.

[2022-02-04 05:23] #32632 closed, assigned to nobody

[2022-02-04 05:42] noisysocks commented on #32648
Many of the errors reported in this thread seem unrelated to the original error which is `403 Forbidden`.

The `404 Not Found` and `500 Internal Server Errors` that have been reported are likely due to application bugs which are unexpected. In these cases we need to fail more gracefully and potentially show a more actionable error message in the Legacy Widget block. I'll make a note of that in htt

[2022-02-04 05:44] noisysocks commented on #33540
While we're fiddling around in here, let's add better error handling to this `iframe`. Many times an HTTP error shows up in the `iframe` with an error message that is not actionable. This makes it pretty hard to offer support to users who encounter errors. For example, look at https://github.com/WordPress/gutenberg/issues/32648. We should try to present the `message` field if we got a REST API err

[2022-02-04 05:50] noisysocks commented on #32825
Closing in favour of https://github.com/WordPress/gutenberg/issues/35714.

[2022-02-04 05:50] #32825 closed, assigned to spacedmonkey

[2022-02-04 05:53] noisysocks commented on #32933
I don't think this is a bug. The blue outline denotes which element is focused. When the inserter is opened, the inserter's search field is the element that has focus.

We provide hints as to where the block will be inserted by e.g. showing a blue horizontal line when the user hovers over a block in the inserter.

Also noting that this is not specific to the widget editor. You can see the same beh

[2022-02-04 05:53] #32933 closed, assigned to nobody

[2022-02-04 05:56] noisysocks commented on #32952
It's been a while since I looked at how the multi-save panel in the post editor works, but I believe it's an additional panel and process that's entirely seperate to how a post is saved. That means we can probably add it to the widgets screen without too much hassle. Pressing _Save_ would open the multi-save panel and then pressing _Save_ again would save any deleted entities _and then_ save the w

[2022-02-04 05:57] noisysocks commented on #33108
Does this happen in the post editor, too? Or are there no blocks with names long enough to trigger it?

[2022-02-04 05:59] noisysocks commented on #33207
If we move the link to the header it will be so... big and prominent 😅

I think let's do nothing.

[2022-02-04 05:59] #33207 closed, assigned to nobody

[2022-02-04 06:04] noisysocks commented on #33254
Reading this comment in 2022 made me think of the isolated template part editor.

<img width="1370" alt="Screen Shot 2022-02-04 at 17 02 08" src="https://user-images.githubusercontent.com/612155/152480401-2aace993-504f-4358-a7ae-0197e2293fe6.png">

[2022-02-04 06:04] noisysocks commented on #33275
@kevin940726: Was this fixed? Can we close the issue?

[2022-02-04 06:06] noisysocks commented on #33440
I'm going to close this out as it looks like there were solutions provided. Let me know if that doesn't smell right.

[2022-02-04 06:06] #33440 closed, assigned to nobody

[2022-02-04 06:17] noisysocks commented on #33518
Thanks for the request.

We have a similar predicament in the widgets editor to what @noahtallen describes in https://github.com/WordPress/gutenberg/issues/22528#issuecomment-696921321 about the site editor. Unlike the post editor, there is no single entity which we can display the HTML code for. Instead the widgets screen displays multiple widget area entities.

Put simply, the Code Editor would

[2022-02-04 06:17] #33518 closed, assigned to nobody

[2022-02-04 06:18] noisysocks commented on #33254
Using blocks means that we can't implement a Code Editor: https://github.com/WordPress/gutenberg/issues/33518

[2022-02-04 06:22] noisysocks commented on #33525
Hi @skalanter. Could you please help the maintainers out and open seperate issues for each of your feature requests? It's difficult to discuss multiple enhancements in one issue as GitHub doesn't support threading. Some of your items are duplicates of other issues that have been discussed and some are enhancements that would apply to every block editor, not just the widgets block editor.

Thanks!

[2022-02-04 06:22] #33525 closed, assigned to nobody

[2022-02-04 06:32] getdave commented on #38497
Yeh the validation thing is why I think we ended up going for a pretty broad spec. Perhaps what @mrfoxtalbot suggests will help mitigate this issue.

[2022-02-04 06:36] getdave opened #38512 "Enable Login/out block in the Navigation block"
## What problem does this address?

In https://github.com/WordPress/gutenberg/issues/37717 we learnt the Nav block doesn't support the login/out block.

## What is your proposed solution?

Add the block to the allowed blocks of the Nav block.

[2022-02-04 06:37] getdave commented on #37717
Ok I've gone ahead and created an Issue to track need to add login/out block to Nav block.

[2022-02-04 06:38] getdave commented on #27075
Just noting that #38277 is _specifically_ related to the Nav block as it's part of the Nav block tracking Issue.

[2022-02-04 06:42] kajalmultidots commented on #38473
Hello @skorasaurus,

As you can see in this video there is no plugins installed in my wordPress site,
And i'm using the theme Twenty-Twenty two and my wordPress version is also updated it is 5.9.
I am using Mac and Chrome browser.
I'm facing this issue as i mentioned previously.
**Here is the video link I have attached.**
- https://www.loom.com/share/03397dd2624e45d9aca2ced84b409dad

Thank You

[2022-02-04 06:45] mkkeck commented on #38252
My opinion is, putting features, mainly used and created for full site edit should be only opt-in and active for themes, like the TwentyTwenty themes, which have the corresponding theme features activated.
It is frustrating, that on nearly every WordPress update there is big chance to break existing themes and sites, which are not using FSE.
Theres no hint on the dashboard, before updating the Wor

[2022-02-04 07:11] Mamaduka commented on #38394
I agree that it would be nice to control this via API. Maybe enable the feature and configure numbers via `register_taxonomy.`

Meanwhile, I've updated the min threshold for `showTerms` - https://github.com/WordPress/gutenberg/pull/38513

P.S. There's also a discussion to make the editor more extendible - #37448.

[2022-02-04 07:12] glendaviesnz commented on #37374
Yeh, it mostly did it for me, but sometimes didn't, and wasn't able to isolate what was the difference. I will take another look at it next week if someone else doesn't get to it.

[2022-02-04 07:49] #37572 closed, assigned to jasmussen

[2022-02-04 07:56] #38394 closed, assigned to Mamaduka

[2022-02-04 08:02] #25450 closed

[2022-02-04 08:02] #32529 closed, assigned to ntsekouras

[2022-02-04 08:02] #33288 closed, assigned to ntsekouras

[2022-02-04 08:06] jasmussen commented on #38277
[I responded partially in Slack](https://wordpress.slack.com/archives/C02S78ZAL/p1643825701234839) then forgot to copy it here. Here's an expansion:

- It’s always easier to start with less, and expand when the need arises. There are [a ton of pseudo selectors](https://css-tricks.com/pseudo-class-selectors/), and not all will be useful. Some can possibly be combined, such as hover and active into

[2022-02-04 08:08] youknowriad commented on #38498
I think adding alignment config like that to the "flex" layout makes sense. All blocks using that layout could benefit form it as well.

[2022-02-04 08:10] jasmussen commented on #38501
Wanted to crosslink this with #38181 which may well help. Notably for any devs looking at this, I would point to @ixkaito's [assessment of why the scaling issue happens](https://github.com/WordPress/gutenberg/pull/38181#issuecomment-1021835774), in case it helps debugging:

Thank you @ixkaito!

[2022-02-04 08:13] youknowriad commented on #38361
I think it highly depends on the feature we're deprecating. In this case, it was never advertised as an API to reset post content and it was misused that way and the impact doesn't seem that high to me.

But I agree with you that in general in Gutenberg (and core) we avoid breaking changes entirely and deprecation last years before considering removals.

[2022-02-04 08:24] javierarce commented on #37541
@jasmussen please, go for it if you have the time, I'm a bit swamped with work right now.

[2022-02-04 08:31] jasmussen commented on #37541
Awesome, I'll take a stab, no worries 👌

[2022-02-04 08:34] oandregal commented on #38252
Hey, we're preparing a PR that [sets the value of the presets automatically](https://github.com/WordPress/wordpress-develop/pull/2233) for themes that use the add_theme_support mechanism. This means that classic themes that override the default presets won't need to [add any CSS](https://github.com/WordPress/gutenberg/issues/38252#issuecomment-1022974962) to set it by themselves.

My hope is that

[2022-02-04 09:05] paaljoachim commented on #32119
Today we have the up and down arrows (move within the same widget area) and the icon for moving between widget areas. Removing the move between widget area icon and instead adding it to the ellipses menu sounds like a good idea....

It would also be natural to extend the up and down arrows so that a widget can be moved between all widget areas. As one clicks the down arrow one can initially see it

[2022-02-04 09:08] ellatrix commented on #38501
For me it just seems to take a few seconds to load, but after that it expands to fit the content correctly 🤔
Is it just that there's a delay in loading the preview, or does it stay collapsed for you?

[2022-02-04 09:23] oandregal commented on #38252
@badlydrawnben the documentation issue you bring up is a good point. That change should have been documented there as well before the WordPress 5.9 release. Thanks for sharing.

While the PR above will provide a bridge for existing themes so they don't have to be updated, it's probably worth it to reflect the current state in the docs anyway - at least until a potential 5.9.1 that's what is requir

[2022-02-04 09:40] vielhuber commented on #38299
This is obviously a bug and should be fixed:

The function `wp_get_global_stylesheet()` calls `WP_Theme_JSON_Resolver::get_merged_data()`, which creates an object of class `WP_Theme_JSON` and uses it to call (via `PRESETS_METADATA`) `wp_render_duotone_filter_preset`, in which `add_action` is used to set the SVGs in wp_footer.

At the same time, a transient (in case of `WP_DEBUG = false`) is set in

[2022-02-04 09:45] Azragh opened #38515 "Latest posts block's read more link gets rendered as plain text in frontend"
### Description

Just noticed that with the newest version of the plugin the read more link isn't a link anymore.

### Step-by-step reproduction instructions

Add a latest posts block, set content to excerpt and grid view.

### Screenshots, screen recording, code snippet

![image](https://user-images.githubusercontent.com/15014142/152506835-71e22f06-c900-4228-9263-f572b442cfe6.png)

![image](https

[2022-02-04 09:51] geriux commented on #38421
I've just confirmed in the `1.71.0` build that this issue is fixed 🎉

https://user-images.githubusercontent.com/4885740/152508214-8dbc92bd-f64f-47da-8960-e9842aa5b562.mp4

Closing the issue 😃

[2022-02-04 09:51] #38421 closed, assigned to nobody

[2022-02-04 09:58] kajalmultidots commented on #38448
hi @t-hamano
ok got it 👍
Thanks