[2022-10-07 11:48] #44619 closed, assigned to nobody

[2022-10-07 11:51] mtias opened #44777 "Pathfinding"
_This is an umbrella issue for improving the access points to various editing contexts._

---

WordPress has generally maintained a clear split between content and templates. Historically, templates were outside the reach of regular users so most of its usability problems were confined to where template and content clashes the most — notably the "homepage" which exists in several possible states i

[2022-10-07 12:41] tomjn commented on #44738
This is only true on well built block themes which make up a tiny slither of the current install base. The idea that the canvas is itself the preview is inaccurate on the majority of sites, as well as many of your own companies main offerings such as WooCommerce. Most custom and 3rd party blocks don't follow the WYSIWYG rule either. E.g. how would you preview an ACF interface.

It's also not possi

[2022-10-07 12:45] tomjn commented on #44738
Also the site editor doesn't behave the same way that the post editor behaves, in the site editor viewing the site doesn't trigger the preview functionality, it actually views the site. That's not the case for posts.

A user may make changes, click view expecting to see the unmodified site, see their changes, and think that their changes were saved and applied, only to be confused when they later

[2022-10-07 12:55] Mamaduka opened #44780 "Migrate React Test Renderer tests to React Testing Library"
A tracking issue for refactoring React Test Renderer tests to use React Testing Library.

Please comment if you're planning to pick up any of these tests.

## Tests to migrate

### Editor

- [x] packages/editor/src/components/post-text-editor/test/index.js - https://github.com/WordPress/gutenberg/pull/44923
- [x] packages/editor/src/components/post-type-support-check/test/index.js - https://github

[2022-10-07 13:26] t-hamano commented on #42961
@bph

I will leave a note which should be added in the [Block Libraries update in WordPress 6.1](https://make.wordpress.org/core/?p=98980&preview=1&_ppp=caaadfed0e) post.

This note refers to three PRs:

- #42677: @t-hamano, @jorgefilipecosta
- #43663: @t-hamano, @aaronrobertshaw
- #40554: @matiasbenedetto, @ajlende

If there are any misleading or unnatural phrases, please feel free to update them

[2022-10-07 13:26] #30163 closed, assigned to draganescu

[2022-10-07 13:49] juanmaguitar commented on #44729
Can anyone confirm that you can also restrict a block to be the child of a CPT and provide an example of how this can be done?
(according to this [comment](https://github.com/WordPress/gutenberg/issues/7845#issuecomment-1269588494) from @mtias it should)

[2022-10-07 14:01] ndiego commented on #44618
Now that TT3 has been updated to not require the Post Author Name block, there is no urgency on this issue for 6.1 but will target 6.2 for inclusion.

[2022-10-07 14:46] CrowdsourceKurdish opened #44786 "About the correction of the Kurdish language code"
### Description

Currently, the Worpress localization center uses the language code **"kmr"** for the **Kurdish (kurmanji)** language.

![kurdish code](https://user-images.githubusercontent.com/72891963/194580772-7e7f5757-7d32-450f-8d05-065d1b9b021e.jpg)

We want this to be changed because it says that according to Unicode standards, the language code **"ku**" should be used for **Kurdish (kurmanj

[2022-10-07 14:47] mikachan commented on #44752
Verifying that I can also see a non-fluid size on the front end when I set the XXL, large or medium sizes via Styles > Typography > Heading, with Gutenberg deactivated. These all have fluid min and max values defined in theme.json.

I believe https://github.com/WordPress/gutenberg/pull/44761 may fix this issue. I've just tested the above with this PR and I'm seeing fluid sizes.

[2022-10-07 14:53] ellatrix commented on #44757
Could you share the block html before the conversion?

[2022-10-07 14:58] mikachan commented on #44752
Actually, I don't think the above PR does fix this issue 100%. I'm seeing fluid font sizes, but they're not the ones set in theme.json.

@andrewserong @ramonjd, pinging you in case you haven't seen this issue.

[2022-10-07 15:10] #44626 closed, assigned to colorful-tones, ryanwelcher

[2022-10-07 15:19] mtias commented on #44671
Related #34198

[2022-10-07 15:50] bph commented on #42961
Awesome, Thank you @t-hamano !

[2022-10-07 15:59] zzap commented on #42961
Just to let everyone know, I've been going through the drafts at Core blog and adding `6.1` label to a bunch of dev notes. That is the most important label for the release so please use it if.

Thank you for awesome work :heart:

[2022-10-07 16:02] bph commented on #42961
I have been doing that, to and I added `dev-note-6.1` so we can collectively just refer to them in one tag. :-)

[2022-10-07 16:19] ntsekouras commented on #44512
Is this what we want or needs discussion/decision? If it would be a toggle, it should have an 'active' state, right?

[2022-10-07 16:21] zzap commented on #42961
Yeah, but `6.1` + `dev-notes` are the ones that end up in here https://make.wordpress.org/core/6-1/

[2022-10-07 17:11] ricjcs commented on #44757
Hi @ellatrix, thanks for your reply.

Here is the html code:

[code]

With Gutenberg turned off, it's possible to add new items, with Gutenberg turned on, the list is broken if a new item is added.

But in reality the tags in this code look like they're a bit messed up. I tried to reproduce the same problem by creating new lists but I am not able to.

I think the problem I'm having with some lists

[2022-10-07 19:43] oandregal commented on #44772
I've started to implement and track some improvements in https://github.com/WordPress/wordpress-develop/pull/3418

[2022-10-07 20:22] georgeh commented on #44503
I'll take a look at this one

[2022-10-07 20:55] bridgetwes commented on #40323
I spent hours trying to figure out why some of my client sites get the div wrapper around alignright and alignleft image blocks and others don't. Even Twenty Twenty-**One** has the wrapper, but switching same site to Twenty Twenty-**Two** removed the wrapping div. I finally figured out it was the presence of the theme.json file in the theme. The extra wrapping div allows me to align the floated im

[2022-10-07 21:11] janmckell commented on #36755
IMDB has been requested:

- [ ] IMDB

[2022-10-07 21:21] janmckell opened #44789 "Social Icon Block missing Movie Services' icons"
## What problem does this address?

These services aren't supported by the Social Link block:

- [ ] IMDB
- [ ] Mubi
- [ ] Letterboxd

What is your proposed solution?

Add them, similar to the existing services.

If official SVG icons are hard to find, [the w.org/news mockup](https://www.figma.com/file/O9I8Jl7kaUMTX39LlRGbGO/News-Page?node-id=8551%3A32714) has copies.
-->

[2022-10-07 23:00] oandregal commented on #44772
The current state of https://github.com/WordPress/wordpress-develop/pull/3418

![Captura de ecrã de 2022-10-08 00-58-51](https://user-images.githubusercontent.com/583546/194673335-1a5dd5e0-623e-4dfb-a32f-016b01e6a937.png)

[2022-10-07 23:50] kelleymuro commented on #16271
I'm super interested in this even if it is simply in the context of patterns. Being able to create certain pattern types (Grid Enabled) that empowers users to start with a template but easily customize them. Ultimately I would like to see entire sites being created with a snapped grid layout. Like Editor X or Squarespace is doing.

I have seen a few examples, what is the decision for vertain block

[2022-10-08 00:02] strarsis commented on #16271
@kelleymuro: Overlapping cells for the [Grids plugin](https://wordpress.org/plugins/grids/) should achieve the same, but this feature isn't implemented yet.
Even better when this grid system could be directly integrated into WordPress Gutenberg core.

[2022-10-08 00:20] spacedmonkey commented on #44772
I did some profiling with blackfire. These are the results.

<img width="437" alt="Screenshot 2022-10-08 at 01 16 36" src="https://user-images.githubusercontent.com/237508/194677850-e615bec4-971b-42b9-a690-e92ef67a2ef5.png">

Can't think of a good reason why the method `remove_keys_not_in_schema`.

I believe this line is the issue.

https://github.com/WordPress/wordpress-develop/blob/e89286a4a74b7

[2022-10-08 00:56] kelleymuro commented on #16271
@strarsis This plugin doesnt seem to be doing what I am thinking.

[2022-10-08 01:01] kelleymuro commented on #16271
@strarsis Did you work on this plugin? It doesn't seem to be as intuitive as I'd like it to be when it comes to freely moving components around a grid.

What I am purposing is to not set your content areas but just automatically set an entire section as a content area and then be able to freely move components around that area.

![image](https://user-images.githubusercontent.com/24360828/194679733

[2022-10-08 01:54] ramonjd commented on #44752
I can confirm that https://github.com/WordPress/gutenberg/pull/44761 partially fixes this.

@mikachan is right: the values are not the same.

The reason there's a discrepancy between the clamp value added in global styles, and the one generated for the preset --wp--preset--font-size--xx-large is that the preset defined extra parameters, such as the max and min fluid sizes.

Incoming from preset:
[

[2022-10-08 02:47] sabernhardt commented on #25368
The guide is now at this location:
https://developer.wordpress.org/block-editor/how-to-guides/plugin-sidebar-0/

[2022-10-08 03:19] ramonjd commented on #44752
So, we could check the incoming custom value against the `fontSizes` presets to grab any fluid parameters, e.g.,

[code]

This works insofar that it ensures that the clamp values are the same.

The caveat is that if the value is a custom font size (not a preset) **and** there's a matching preset size, the custom value will be converted to a clamp value using the preset's min and max values.

There

[2022-10-08 06:19] ramonjd commented on #44752
I think I have a fix for all this over at https://github.com/WordPress/gutenberg/pull/44791

~Still testing...~

I think it works!

[2022-10-08 08:50] uuroveits opened #44792 "PHP Deprecated: strncmp(): Passing null to parameter #1"
### Description

I´m using Gutenberg 14.2.0
WordPress is creating a log-file (https://www.abu-sgbu.de/wp-content/debug.log)
There occurs concerning Gutenberg:
PHP Deprecated:  strncmp(): Passing null to parameter #1 ($string1) of type string is deprecated in /is/htdocs/wp12019806_ZQF75OIS9W/www/abusgbu/wp-content/plugins/gutenberg/lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php on line 1064
Q

[2022-10-08 08:58] dingo-d commented on #28841
Any info on this?

[2022-10-08 13:51] PooSham commented on #44686
@glendaviesnz It has definitely something to do with this line, but it doesn't seem like that's the change that made it not work. I tried reverting that change, and I still got the same error.

I'm going to try some more things, thanks for pointing me into the right direction.

[2022-10-08 15:24] bph commented on #42961
## Update: October 8th, 2022

Yesterday, 4 dev notes were published, six are finished and in the queue to be reviewed, one is still in progress.
### Published 📣
- [Create-block scaffolding tool updates](https://make.wordpress.org/core/2022/10/07/create-block-scaffolding-tool-updates/) @ryanwelcher
-  [Introduction of presets across padding, margin and block gap](https://make.wordpress.org/core/202

[2022-10-08 20:52] ramonjd commented on #42961
@bph Could we possibly hold off on publishing the fluid typography dev note for a few days? There are some bugs we're scrambling to iron out and it will affect the content of the dev note, which I will update in due course. See:

- https://github.com/WordPress/gutenberg/issues/44758

🙇

[2022-10-08 22:06] BE-Webdesign commented on #44767
Can replicate, unfortunately this probably can't be fixed with just some CSS as it seems on purpose that `components-popover` has a higher z-index than `components-modal__screen-overlay`. I will make a PR that fixes this with a click outside for the popover.

[code]

[2022-10-09 02:18] tanjoymor commented on #44361
Love this idea!

[2022-10-09 02:31] tanjoymor commented on #16483
Nice to see this was being looked into. Would love to see it implemented. The Separator and Dynamic blocks are super limited at the moment.

[2022-10-09 02:34] tanjoymor commented on #42103
+1 to all of this. The Separator and Dynamic blocks are super limited at the moment.

[2022-10-09 02:35] tanjoymor commented on #34638
Yes please! Thickness control too please :-)

[2022-10-09 02:37] tanjoymor commented on #25989
Width and thickness controls, in addition to spacing above and below would be amazing, and super useful. The Separator and Dynamic blocks are super limited at the moment.

[2022-10-09 03:05] Stephen-Cronin commented on #41429
Yeah, my PHP version was older (7.1.4) but that is on the supported list for WP I think.

[2022-10-09 04:29] t-hamano opened #44796 "Global Styles: Scroll bars appear when the variation panel is focused"
### Description

In the global style panel, scroll bars are displayed when the variation panel is focused.
This problem is not reproduced without the latest Gutenberg plugin.

### Step-by-step reproduction instructions

- Activate block themes with style variations (TT2 or TT3).
- Open the global styles menu, and browse styles.
- confirm that vertical and horizontal scroll bars appear momentarily

[2022-10-09 07:33] Mamaduka commented on #44786
Hi, @CrowdsourceKurdish

The issue isn't related to the Gutenberg plugin or something we can fix on our end. Please report the problem on meta Trac - https://meta.trac.wordpress.org/.

[2022-10-09 07:33] #44786 closed, assigned to nobody

[2022-10-09 07:40] Mamaduka commented on #34463
I know this isn't exactly the same, but #40757 introduced the option to have List View always open.

[2022-10-09 16:46] CalebRorty commented on #43586
overflow: hidden on .wp-block-gallery figure is working for me as well -

overflow: initial
![Overflow-initial](https://user-images.githubusercontent.com/20481119/194768903-3fc3e6de-e326-4ca3-b391-96a9a4df7e51.PNG)

overflow: hidden
![overflow-hidden](https://user-images.githubusercontent.com/20481119/194768910-3dfa60b9-a596-43b1-88b5-d5168876295b.PNG)

I am not seeing any adverse side effects whe

[2022-10-10 02:27] talldan commented on #44792
Thanks for creating the ticket. I believe this code needs to be updated in Gutenberg to meet PHP compatibility standards. I also noticed the warnings when trying to get the Gutenberg unit tests running on PHP 8.1 - https://github.com/WordPress/gutenberg/pull/44566.

[2022-10-10 02:51] sdoigmm opened #44806 "Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object."
When adding my custom Gutenberg block, I receive the console error:

Here is my code:

[code]

Help appreciated.

[2022-10-10 05:56] NekoJonez commented on #44751
For the first, it all depends on how clear the UI will be then. Also, does that mean we barely can use tab in the editor? Maybe I am reading it too extreme.

For the second, its a double edged sword. Since the fact the block name is there, is good for the user so they are sure they selected the right block. I'd make the string "Remove this %s block" where %s is the block name. Thats my two cents.

[2022-10-10 05:59] NekoJonez commented on #44751
Also, here is some food for thought.

I think this whole issue can be sidestepped if we ask the question... Whats the biggest reason for a more block? What else does it do compared to a read more block?

Does it make a page be divided in more pages? Like a next button in a tutorial?

Another possible answer is renaming the block if possible.

Maybe we should focus on that, since the alternative mi

[2022-10-10 06:23] 1995kruti opened #44808 "Set up the limit for the max number of column field & max number of row field can be added to table block of gutenberg"
### Description

During QA of beta version I found below issue, can you please have a look if possible

Right now there is no maximum number limit set up for the table block of Gutenberg.

User can add any number of rows & columns to the table block which is breaking the backend of WordPress.

I believe, nobody will add that kind of inputs there but we can add those validations for better usabilit

[2022-10-10 07:22] jasmussen commented on #44751
I'm not suggesting any changes to how tabbing works: try pressing tab in a selected block, it takes you to the inspector.

Previously, this did not work, and the "Show more options" menu item was meant to move focus there. This doesn't work anymore either. Which means the option itself is just an extra toggle for the inspector:

![tab](https://user-images.githubusercontent.com/1204802/194815817-81

[2022-10-10 07:37] talldan commented on #42961
Persisted preferences - https://make.wordpress.org/core/wp-admin/post.php?post=99657&action=edit

Writing this did make me realise there's a bug in 6.1 RC related to the backport for persisted preferences, so I'll work on fixing that asap. 🤦‍♂️

[2022-10-10 07:48] mrleemon commented on #37943
Are you aware of this?

https://make.wordpress.org/core/2022/10/04/block-based-template-parts-in-traditional-themes/#comment-43901

[2022-10-10 07:51] sdoigmm commented on #44806
I ended up switching Github Gutenberg tutorials, using [this one](https://github.com/WordPress/gutenberg/tree/trunk/docs/getting-started/create-block) to resolve the issue.

[2022-10-10 07:51] #44806 closed, assigned to nobody

[2022-10-10 07:53] Mamaduka commented on #37943
@mrleemon, I saw that comment this morning.

It looks like the shortcodes issue was missed when the `block_template_part` method was introduced in WP 5.9.

[2022-10-10 08:05] CreativeDive commented on #23223
+1 +1 +1 +1 +1 +1 +1 +1 +1 +1 +1 +1 +1 +1 +1 +1 +1 +1

[2022-10-10 08:37] oandregal commented on #42961
Oh, I forgot commenting about [the settings hook](https://github.com/WordPress/gutenberg/pull/40547). This is something client-specific and unrelated to server-side filters. It's about having a theme.json per block instance. Not all pieces to make this work have landed in 6.1, so I'm leaning towards not publishing the devnote just for now. cc @jorgefilipecosta in case he has thoughts.

[2022-10-10 08:45] MaggieCabrera commented on #43852
The point of it being a separate block is so it has different customization options: the overlay usually doesn't share the same spacing options or typography settings as the desktop navigation does. How can we accomplish that with template parts?

[2022-10-10 09:31] jasmussen commented on #44730
The style cards are intentionally designed to show the visuals first, and the title on hover and focus. This works well for TT3:

<img width="269" alt="Screenshot 2022-10-10 at 11 27 22" src="https://user-images.githubusercontent.com/1204802/194835941-389ef180-15d5-4974-bc0e-8db7014b8cb5.png">

In showing the same basic shape, in my opinion, those style cards provide a clear indication that they a

[2022-10-10 09:36] talldan commented on #30121
I was thinking about this too. Potentially some sort of layering system may be an idea. Not necessarily that users can add endless amounts of layers, but something simple might be worth starting with where fixed/sticky elements are presented on a different layer and those layers can be toggled visible/invisible so that they don't interfere with other blocks. This idea sounds a bit similar to isola

[2022-10-10 09:41] ntsekouras commented on #44379
This is very weird issue, mostly because I can reproduce in most pattern categories, but not for `Buttons`, using 2022 theme. I tried adding `overflow:hidden` to `.edit-post-editor__inserter-panel`(and to the site editor one) and it seems to work, but...

I then tried the [new design for patterns](https://github.com/WordPress/gutenberg/pull/44028) and my above css wasn't working properly. On the o

[2022-10-10 09:56] Retrofitterdk commented on #43852
A template part seems like a more flexible way to go. I see use cases where the navigation overlay needs to contain other elements than menus. it could be

-  a login/logout button
- a search field

Or maybe multiple menus. Maybe the desktop site has more than one menu, and instead creating a third specific mobile menu you want the mobile menu to combine the two desktop menus in order to reduce ma

[2022-10-10 09:58] ntsekouras commented on #44019
👋 - Can you elaborate a bit more? I don't understand the issue you're experiencing.

I have inserted two Query Loop blocks that show only posts from a specific category, different for each one. When I click on the `next` it will show the next page for the Query Loop block I clicked and preserve the existing page for any other Query Loop blocks, which is the expected behavior.

[2022-10-10 10:00] mtias commented on #43852
@MaggieCabrera with https://github.com/WordPress/gutenberg/issues/40318

[2022-10-10 10:15] jasmussen commented on #44359
Updated order of buttons in the image block toolbar:

<img width="1600" alt="Quote, Cite buttons" src="https://user-images.githubusercontent.com/1204802/194843858-43703aca-7ed2-49ee-a76c-f76242623a4e.png">

Overlay buttons are tricky. Not just designwise, but mostly I feel like it just makes me wonder why it isn't in the block toolbar. Mainly tricky is that the button probably has to remain an ico

[2022-10-10 10:16] Andrew-Starr opened #44810 "Cannot center align image within cover"
### Description

With an image inside a cover, setting the image to align center does not center the image.

### Step-by-step reproduction instructions

Add a cover block.
Add a smaller image inside the cover.
Set the image alignment property to center.
The image does not align to the center, and is incorrectly left aligned.

### Screenshots, screen recording, code snippet

![cover-image-center](h

[2022-10-10 10:20] jorgefilipecosta commented on #42961
Yes, I agree it is something experimental that we will continue trying on the plugin. The dev note should not go out for now.

[2022-10-10 10:41] ShahriarKh commented on #9035
If it's not going to be supported yet, Is it possible to change the order with a plugin or something?
I know it's possible with some tweaks in css:
[code]
The problem is all native boxes only have the `.components-panel__body` class and I can't find a way to distinguish them.

[2022-10-10 10:43] Mamaduka commented on #44810
Thanks for contributing, @Andrew-Starr!

I wonder if this is related to the Cover [missing layout support](https://github.com/WordPress/gutenberg/issues/43140).

If I wrap it into the Group block, I can get image alignments working correctly.

[2022-10-10 10:53] jasmussen commented on #44379
Tricky indeed! At a glance it looks like this is because overflow is `auto` on `.interface-interface-skeleton__body`, whereas if it was `hidden` on that, and instead `auto` on `.block-editor-writing-flow`, it seems like it would address the issue.

However there's likely more going on. For example why can I scroll the block tab just fine, just not the patterns one? Curious indeed.

[2022-10-10 11:25] Olein-jp commented on #44730
Is this working on TT3? I couldn't reproduce on my local TT3 on 6.1 beta 3 like [this](https://github.com/WordPress/twentytwentythree/pull/269#pullrequestreview-1135302225).

Showing theme color with shape is so beautiful I think, so I understood your opinion.

[2022-10-10 11:25] jameskoster commented on #33917
It's hard to say. In the context of a Row block (which 44467 focusses on) it's tricky to imagine how you'd achieve a configuration that would solve this issue.

If the children had a fixed width then the container would just expand in width to accommodate them. If they had a fill width then they will expand/collapse to accommodate the available space. At no point would they switch from a row to co

[2022-10-10 11:31] ndiego commented on #44546
@glendaviesnz I just wanted to confirm that this issue is all set, given the merged and closed PRs. I noticed the issue still had the Backport label, so I wanted to double check before I removed it. Thanks!

[2022-10-10 11:41] simison opened #44815 "Site logo block: upload button is clickable even when not visible"
### Description

When site logo block is on a page, the upload button is clickable even when it isn't visible.

### Step-by-step reproduction instructions

1. Create new page
2. Add site logo block
3. When block is unselected, hover over it. Note hand cursor and clickable area in the middle.
4. Select the block and now the button is visible

### Screenshots, screen recording, code snippet

<img wi

[2022-10-10 11:44] ntsekouras commented on #42682
Is this still an issue? I couldn't reproduce...

I also noticed that there have been some changes to the Popover since the creation of this issue, so it might have been related? 🤔

[2022-10-10 11:45] simison opened #44816 "Site logo block: upload button misalinged when block is center-aligned"
### Description

When site logo block is "center aligned", the upload button is misaligned.

### Step-by-step reproduction instructions

1. add site logo block (tested in page editor)
2. Change aligment to "center"
3. Note how upload button isn't centered anymore

### Screenshots, screen recording, code snippet

Center aligned:
<img width="739" alt="Screenshot 2022-10-10 at 14 43 30" src="https://

[2022-10-10 11:50] mtias commented on #40618
I think this is a good opportunity to communicate the more intricate aspects of templates and content management, so we should be more forthcoming on why something is not advised — "this block is what displays the content of your posts, removing it would mean all your posts show empty in their permalink" or something.

[2022-10-10 11:58] simison commented on #44816
Looking like this would be caused by [`display: table`](https://github.com/WordPress/gutenberg/blob/ec15d53e1623c003655577b41e09bfbf82aa5fd5/packages/block-library/src/site-logo/editor.scss#L3
) which overrides `display: flex` in styles for non-center aligned block:

<img width="365" alt="image" src="https://user-images.githubusercontent.com/87168/194860795-7b9344e5-9c3c-4056-958b-847f857f9fdc.png

[2022-10-10 12:05] ntsekouras commented on #44815
It seems [we can't use](https://github.com/WordPress/gutenberg/pull/43323) `visibility` and have to find an alternative here.. --cc @jasmussen

[2022-10-10 12:08] jameskoster commented on #44654
A thicker stroke could be an easy one to try. I think it helps to suggest the higher level (root-level only) activity available in this view.

<img width="1232" alt="Screenshot 2022-10-10 at 12 53 29" src="https://user-images.githubusercontent.com/846565/194862637-041e38f1-43af-4443-97ab-d8406bc4a4cb.png">

[2022-10-10 12:09] tyxla commented on #42961
@bph I've added a dev note for #44494 as a comment in the PR: https://github.com/WordPress/gutenberg/pull/44494#issuecomment-1273216585.

[2022-10-10 12:22] tyxla commented on #44780
Thanks for wrangling the issue! I'm going to work on a few of those as we've gained some momentum already.

[2022-10-10 12:32] jameskoster commented on #44689
They are, the replace flow was simply moved to the ellipsis menu:

<img width="469" alt="Screenshot 2022-10-10 at 13 32 42" src="https://user-images.githubusercontent.com/846565/194867075-54c8fb17-b559-4dcc-8175-aaad9195c214.png">

[2022-10-10 12:43] Mamaduka commented on #44689
@jameskoster, only template parts assigned to Header or Footer area are currently replaceable - #40787.

[2022-10-10 12:47] geriux commented on #44780
Hey there 👋 I'll take the native ones 🚀

[2022-10-10 13:00] richiecarey commented on #30725
+1 on this ... I was very confused why adding a background color to a column would also add padding.

[2022-10-10 13:04] Mamaduka commented on #42961
I've added two dev notes for Block Editor misc post - https://github.com/WordPress/gutenberg/pull/40502#issuecomment-1273013749 and https://github.com/WordPress/gutenberg/pull/42186#issuecomment-1273020725.

[2022-10-10 13:10] ellatrix commented on #44757
It should be fixed in https://github.com/WordPress/gutenberg/pull/44822. Are you able to test that PR?

[2022-10-10 13:18] #44815 closed, assigned to ntsekouras

[2022-10-10 13:53] #34362 closed, assigned to nobody

[2022-10-10 13:58] annezazu commented on #40618
Based on experience with the FSE Outreach Program, I think this would go a long way towards guiding folks towards interacting with the pieces of the site editor/site editing experience appropriately/in a way that will lead to the outcomes they might want. Keen to get something in place and do a round of testing!

[2022-10-10 14:11] #36307 closed, assigned to getdave

[2022-10-10 14:21] jameskoster commented on #40184
Still relevant

[2022-10-10 14:48] jameskoster commented on #44512
Yes.

Yeah, I think the normal on/off states for toolbar buttons (like making text bold) could be adequate.

[2022-10-10 15:00] jasmussen commented on #37397
Just tested again. With 3 submenus, nested 3 levels deep. Right-clicked a bunch of times in rapid succession across all menu items, and then boom:

[code]

This is latest trunk.

[2022-10-10 15:02] #37673 closed, assigned to nobody

[2022-10-10 15:04] jasmussen commented on #37397
Actually, that latest error report is new to me, but it also reveals the cause of the issue! I had a Chrome extension called "Enable Right Click", which appears to be at fault here. My apologies, and thank you for the ping. I'll close this one for now.

[2022-10-10 15:04] #37397 closed, assigned to nobody

[2022-10-10 15:08] colorful-tones commented on #44717
I agree and understand this premise, but quickly get hung up on the fact that it is called `@wordpress/create-block` and not `@wordpress/create-block-plugin`. Since, primarily it is initially used to create a WordPress plugin that has a block. In foresight, it might have been best to have two separate packages: `@wordpress/create-block` and `@wordpress/create-block-plugin`. The later would likely

[2022-10-10 15:26] colorful-tones commented on #44717
Ok, I've streamlined the proposed solution. The initial one was too broad. Thanks.

[2022-10-10 15:37] #44436 closed, assigned to nobody

[2022-10-10 15:45] #44655 closed, assigned to ntsekouras

[2022-10-10 16:16] bph commented on #42961
Thank You @tyxla and @Mamaduka for your notes! 😸

[2022-10-10 16:19] bradhogan commented on #41824
@mrfoxtalbot Thank you!

[2022-10-10 16:31] ciampo opened #44834 "Global Styles: color picker closes unexpectedly while editing color palette"
Steps to reproduce:

1. Go to site editor
2. Open global styles sidebar
3. Edit the color palette
4. When editing a single color in the palette, click in the color's HEX value input field and start typing a new value
5. The color picker closes prematurely, which also causes the wrong color to be applied

https://user-images.githubusercontent.com/1083581/194912939-04cdfa92-c685-4d9e-b1ac-f604b71dfc

[2022-10-10 17:37] priethor commented on #44758
💯 This is a bug indeed and a good way to summarize it. Thanks for addressing this!

As a matter of fact, this is a very important bug to fix, considering fluid typography is among the top highlighted features in WP 6.1. The individual PRs are already approved and ready to merge & backport, so I'm flagging them to Editor Tech Leads @michalczaplinski, @ockham, @c4rl0sbr4v0, and Core Tech Leads @gets

[2022-10-10 18:11] #44510 closed, assigned to carolinan

[2022-10-10 19:28] #41889 closed, assigned to ntsekouras

[2022-10-10 20:07] ricjcs commented on #44757
Wonderful! It's great that a solution is being implemented. Thanks.

Just mention that as you requested, the previous code is before the conversion to the new lists. I have some lists already converted and they get broken if I add any items. It would be great if the problem was also solved for the already converted lists.

I cloned Gutenberg and installed the prerequisites, but when I run npm run

[2022-10-10 20:25] zero2webmaster opened #44837 "All Admins To Edit & Create Keyboard Shortcuts"
We should be able to edit keyboard shortcuts, just like one can do in any Adobe software.
Then we can have shortcuts that are easy for us to remember, because we created them.
Thanks.

[2022-10-10 20:32] pagelab commented on #23223
The [`WP_HTML_Tag_Processor`](https://github.com/WordPress/gutenberg/pull/42485) can help with some of that. It was merged in the Gutenberg Plugin, and soon it will be part of core (maybe as soon as 6.2 is launched).

One example of usage: adding custom classes to any specific core block using [`render_block_{$this->name}`](https://developer.wordpress.org/reference/hooks/render_block_this-name/):

[2022-10-10 20:39] CreativeDive commented on #23223
@pagelab thank you. I'm wondering if there will be a solution to add custom class names to a block in editor view as well? The `render_block` filter is a solution for the front end output only.

[2022-10-10 22:19] pagelab commented on #23223
@CreativeDive Yes, you can use [this approach](https://nickdiego.com/programmatically-add-classes-to-blocks-in-the-wordpress-editor-based-on-attributes/) (via JS) to add custom classes to specific blocks in the editor.

[2022-10-10 22:28] annezazu opened #44839 "Feedback: Site Title block alignment changes don't work intuitively with layout options"
### Description

Using 6.1 nightly, I noticed that the alignment options (left/right/center) don't stick for the Site Title block. This _feels_ like a bug but some part of me isn't sure if this isn't by design. In general though, it feels odd to be unable to control a very basic part of the Site Title block, a common block folks with FSE will interact with.

### Step-by-step reproduction instructi

[2022-10-10 22:41] annezazu opened #44840 "Global Styles: revisit order of blocks to improve information architecture"
Similar to how the blocks in the inserter have been re-examined to weight and group them appropriately, I believe the same needs to be done with the Styles > Blocks interface:

<img width="288" alt="Screen Shot 2022-10-10 at 6 31 22 PM" src="https://user-images.githubusercontent.com/26996883/194962504-abb9e2c9-38e5-44b3-9309-a1dd6dfcb34b.png">

For example, it feels really odd that archives, audio

[2022-10-10 22:44] annezazu commented on #41232
I'd like to list the following for inclusion in this general roadmap: https://github.com/WordPress/gutenberg/issues/44840, https://github.com/WordPress/gutenberg/issues/29388. In particular, being able to have more granular information when saving feels critical in a world of style variations and an increasing number of controls within Styles.

[2022-10-10 22:50] annezazu commented on #37433
With 6.1, a Headings element is introduced where you can control individual heading levels! Going to close this out as a result.

<img width="310" alt="Screen Shot 2022-10-10 at 6 50 06 PM" src="https://user-images.githubusercontent.com/26996883/194963640-dfc0fee6-abb5-4fc1-a41c-1e8fbc292e56.png">

[2022-10-10 22:50] #37433 closed, assigned to nobody

[2022-10-10 23:03] annezazu opened #44841 "Clarify template part revert process"
Currently, when you revert a template part, a few aspects of the experience make it feel a bit janky/unpredictable:

- After reverting, the template part order changes.
- Upon entering the site editor, you are met with two notices (a bit overwhelming).
- The top level notice says "template reverted" which feels jarring when you only reverted a template part.
- The second notice says "entity revert

[2022-10-10 23:08] annezazu opened #44842 "Inserter: some Pattern categories lead to the screen breaking/overflow"
### Description

When browsing parts of the Inserter > Pattern section, I noticed some categories led to massive white space/the screen breaking, for lack of a better term. Feel free to update the title. This was hard to explain.

### Step-by-step reproduction instructions

1. Open Appearance > Site Editor.
2. Open Inserter.
3. Head to Patterns.
4. Scroll through categories and notice for some the

[2022-10-10 23:15] annezazu opened #44843 "Inserter: new Header, Footer, and Banner patterns not listed"
### Description

In testing 6.1 Beta 3, I noticed that the Header category includes the prior patterns, the Footer category doesn't list the new patterns, and the inserter doesn't list the new "Banner" patterns despite prior work done leading up to the release cc @mcsf https://github.com/WordPress/gutenberg/pull/44203 & https://github.com/WordPress/gutenberg/pull/43157 This is causing the header t

[2022-10-10 23:23] annezazu commented on #44843
If I activate the latest version of Gutenberg, I can see them listed (and they include the headings that should be in a banner category):

https://user-images.githubusercontent.com/26996883/194966504-e02b3593-12a6-4f38-89ca-d82575b522c5.mov

[2022-10-10 23:23] annezazu commented on #44842
This also occurs with the latest version of GB installed:

https://user-images.githubusercontent.com/26996883/194966521-11d2cebb-7c02-451c-a1e5-2113379046a5.mov

[2022-10-10 23:30] annezazu opened #44844 "Template Part: Replace flow for footer in TT3 shows very small preview"
### Description

When replacing a footer template part using TT3, I noticed the template preview was basically nonexistent, making it both hard to see and hard to select.

Of note, the current header & footer patterns aren't visible right now and that's been reported here: https://github.com/WordPress/gutenberg/issues/44843

### Step-by-step reproduction instructions

1. Use 6.1 beta 3.
2. Activat

[2022-10-10 23:45] mrwweb commented on #39905
Duplicate of #39657?

[2022-10-10 23:55] sabernhardt opened #44845 "Image block: margin needs rtl:ignore"
### Description

In RTL languages, the default side margins for image blocks with `.alignleft` or `.alignright` are incorrect. #21822 added a [zero margin on one side](https://github.com/WordPress/gutenberg/pull/21822/files#diff-b9209e44c092b9376aa2b9afbbb9c4cc64429d2870f99334e478f8f2e653a336R35), but that did not include `/*rtl:ignore*/` for both the left **and** right sides.

### Step-by-step re

[2022-10-11 00:06] annezazu opened #44846 "Styles: add nudge to open Styles interface after x number of times repeating a styling action"
## What problem does this address?

Currently, the Styles system can be easy to overlook if you don't go explicitly looking for it in the Site Editor.  This is a missed opportunity since folks might individual style a bunch of items in a singular template only to have some of those changes stick, depending on what they updated.

## What is your proposed solution?

To help expose folks when relevan

[2022-10-11 00:06] kopepasah commented on #44338
@MrJnrman while I am not certain what is happening in Scenario 1, I can say that Scenario 2 sounds like a Docker user permissions issue. When running into these problems, you will need to run `docker-compose` directly, as referenced in the documentation: https://github.com/WordPress/gutenberg/tree/trunk/packages/env#installing-a-plugin-or-theme-on-the-development-instance

[2022-10-11 00:08] kopepasah commented on #42866
I too would like this feature, as we are developing a CI/CD pipeline with @wordpress/env, and using a `wp-env` command is more intuitive that running `docker-compose` directly.

[2022-10-11 00:12] ironprogrammer commented on #44843
Hi, @annezazu -- I can replicate this behavior as well.

## Reproduction Report

### Environment
- Hardware: MacBook Pro Apple M1 Pro
- OS: macOS 12.6
- Browser: Safari 16.0
- Server: nginx/1.23.1
- PHP: 7.4.32
- WordPress: 6.1-beta3-54390-src
- Theme: twentytwentythree v1.0

### Actual Results
- ✅ New Banner pattern list is not displayed in inserter.
- ✅ Header and Footer pattern inserter lists a

[2022-10-11 00:30] kopepasah opened #44848 "Add support for referencing plugins and themes with slug from WordPress.org"
## What problem does this address?
Currently, as far as I could tell, `@wordpress/env` does not allow referencing plugins and themes from the wp.org repository. While developers can referencing the zips, it is a bit cumbersome to add and update these (in an automated way), when we want the latest available plugin from wp.org.

## What is your proposed solution?
Add ability for `plugins|themes` con

[2022-10-11 00:31] kopepasah commented on #44848
Side note, if the team can agree that this is acceptable, I am willing to build this feature.

[2022-10-11 01:04] ironprogrammer commented on #44842
I was able to reproduce this issue. The size of the selected Patterns list appears to be consistent with the amount of scroll overflow past the bottom of the editor (i.e. longer lists = more unexpected white space below editor).

## Reproduction Report

### Environment
- Hardware: MacBook Pro Apple M1 Pro
- OS: macOS 12.6
- Browser: Safari 16.0
- Server: nginx/1.23.1
- PHP: 7.4.32
- WordPress: 6.1

[2022-10-11 01:24] t-hamano commented on #44848
I think the following configuration will refer to the latest plugins, is this a solution?

[code]

[2022-10-11 01:41] kopepasah commented on #44848
Yes, I believe so. However, I would argue that

[code]

is more succinct than

[code]

In addition, if we wanted alternate versions we could reference versions.

[code]

---

In reality, it is trivial to create a program to handle this automation, but I am generally curious why the team would be opposed to referencing wp.org repository with a shorthand syntax.

[2022-10-11 01:56] andrewserong commented on #44758
I've opened up a backport PR in https://github.com/WordPress/wordpress-develop/pull/3431 to cover the PHP parts of the following 3 PRs:

* https://github.com/WordPress/gutenberg/pull/44762
* https://github.com/WordPress/gutenberg/pull/44764
* https://github.com/WordPress/gutenberg/pull/44761

I believe the PHP changes in the `block-library` directory will be picked up by the backport process for t

[2022-10-11 02:03] ramonjd commented on #44758
Thanks @andrewserong I'm testing https://github.com/WordPress/gutenberg/pull/44847 right now. I think we could add those changes as well if it's not going to blow up your day. I'll help as well.

[2022-10-11 03:16] phy25 commented on #9018
Thanks. So I can reproduce this with Gutenberg 14.2.0, in both Windows Chrome and macOS Chrome. When I paste it to a plaintext textbox (e.g. GitHub search bar) it's giving me those extra tags.

[2022-10-11 03:33] codebykat opened #44849 "block-editor component: selectionChange and setSelection only work the first time"
### Description

In a standalone block editor instance, I'm trying to write code to focus the cursor at the end of the last block (if it's a text block) when the user clicks further down the screen.

However `selectionChange` and `setSelection` are only behaving as expected the first time I call them.

### Step-by-step reproduction instructions

This is in the case where the only block that exists

[2022-10-11 03:38] phy25 commented on #9018
I am not sure if https://wordpress.org/gutenberg/ is always reflecting the latest editor, but I can reproduce the issue even there on Windows Chrome.

[2022-10-11 04:19] dansdev opened #44851 "Add option to duplicate taxonomy template in FSE editor - WP 6.1"
## What problem does this address?

In 6.1 we can now add/edit taxonomy templates YAY!!

One thing that I found that might be useful - is having an option to duplicate an existing template for a "specific item". This would allow users to build a set template structure/style and allow them to quick copy across to other items in the taxonomy.

Correct me if I am wrong, but if I was to create a templ

[2022-10-11 04:57] talldan commented on #44842
What seems to be happening is that the patterns are causing an overflow. I don't know why but it's having the result of making the editor interface's body show a scrollbar. In this screenshot you can see I have double scrollbars on the right (my OS is configured to always show scrollbars):
![Screen Shot 2022-10-11 at 12 28 28 pm](https://user-images.githubusercontent.com/677833/194997268-a8633e48-

[2022-10-11 05:09] talldan commented on #44842
<s>> The other possible fix is changing this overflow: visible rule to overflow: hidden:

I've put together a PR that does this - [Fix overflowing patterns by using overflow:hidden](https://github.com/WordPress/gutenberg/pull/44853#top)</s>

edit: Have a better fix now on the same PR - https://github.com/WordPress/gutenberg/pull/44853

[2022-10-11 05:59] ramonjd opened #44857 "Typography: numerical font size presets break FontSizePicker"
### Description

Setting the `size` property of a font size preset item to a number causes the FontSizePicker component to stop working for newly-inserted blocks.

[code]

The [schema for theme.json](https://github.com/WordPress/gutenberg/blob/trunk/schemas/json/theme.json#L383) defines `"size"` as being of type 'string', however the FontSizePicker does support numbers.

So question is whether we

[2022-10-11 06:55] giannis-koulouris-bb commented on #23223
This is actually really huge! It will allow us to filter blocks on the front-end without possible invalidation errors

[2022-10-11 07:10] tbdalgaard commented on #42659
This would be very cool, but it should not change behaviour unless the checkbox is checked under preferences. I can see cases where other users may want this behaviour. I will be happy to test any changes if you want some feedback from me. I have used both VoiceOver on Mac for years and JAWS and NVDA on Windows.

[2022-10-11 07:19] aaronrobertshaw commented on #40204
Thanks for adding the mockup.

I'd like to take this one on, as it touches on some areas I've had a little experience in Gutenberg. Namely, block supports and our `InspectorControls` slots. Happy to collab with others as well 🙂

[2022-10-11 07:27] carasmo commented on #19796
This is awesome! Thank you!

On Wed, May 4, 2022 at 5:56 PM Brad Thomason ***@***.***>
wrote:

--
Christina Arasmo (pro/adjective)
Dev / Designer
727-537-6182

[2022-10-11 07:38] jasmussen commented on #44024
Wanted to note that for now we've removed the two ellipses from the icon options. (Let's explore a couple of excellent replacements, not necessarily as part of this PR, just noting)

[2022-10-11 07:47] CrazyEarthGuy commented on #41613
I've attached this video to my original bug report that shows the "List View Limited Number of Items" bug.
https://user-images.githubusercontent.com/107164698/174843212-0c0d5032-29c4-40f1-bcb5-13c00145c017.mp4

Please let me know if you notice anything that could be causing this bug, or if you know of an easy work-around. I sure hope the bug can be fixed, since it wastes a lot of time fighting thi

[2022-10-11 07:51] #44796 closed, assigned to mtias, t-hamano

[2022-10-11 07:52] paaljoachim commented on #19796
Is this issue still valid or can we close it?

[2022-10-11 07:57] mtias commented on #40204
I think this might take a few iterations to get right, so we should consider enabling it as a feature flag until we square all the dependencies (UI, block API, extensibility, etc).

[2022-10-11 08:01] jasmussen commented on #44840
Good issue. Search helps a great deal, prior to that I would've wanted alphabetization at the very least, as that seems like it would be the case in lists like these. I understand weighting is important. In that light, should Paragraph be so high? Isn't it better to change GS > Typography instead of just the paragraph block?

However could/should we combine categories with alphabetization? I.e. we

[2022-10-11 08:09] ellatrix commented on #44757
I think you can use http://gutenberg.run/44822

This would be much, much harder to fix. Not sure if we can do that.
Worth nothing that your content was a bit strange: it had multiple nested lists for one list item that needed to be merged. Not sure how you ended up with that.

[2022-10-11 08:18] jasmussen commented on #33917
Right, this this makes sense.

I suspect if we need intrinsic responsiveness here, we probably need to leverage some CSS grid on the container, which would allow supplying min/max widths, which would then force stacking. Something to think about!

[2022-10-11 08:26] draganescu opened #44862 "The focus ring of document details is too big"
### Description

In Firefox 105.0.3 the focus ring of document details is too big.

### Step-by-step reproduction instructions

1. In a post
2. Click on the (i) icon in the top toolbar
3. Notice the focus ring around the panel is the wrong size

### Screenshots, screen recording, code snippet

<img width="582" alt="Screenshot 2022-10-11 at 11 18 16" src="https://user-images.githubusercontent.com/1

[2022-10-11 08:31] getdave commented on #44772
Sorry for late reply I've been AFK. Based on [my comment](https://github.com/WordPress/gutenberg/pull/41786/files#r900030220) here it looks as though the method _already_ existed as I was having to work _around_ it by adding pseudo selectors to the schema so they didn't get stripped by this method.

[2022-10-11 08:32] getdave commented on #18345
Thanks for the context Andrei. We'll have to dive into LinkControl - luckily I'm pretty familiar with it.

[2022-10-11 08:34] getdave commented on #31380
The next step here is actually to work out whether this issue is currently manifesting itself in the Navigation block. If it's not then I think we have more pressing problems to deal with that will have a bigger impact on user experience.

Not saying it's not important but perhaps a lower priority. I'll make a note to see if I can replicate the problem. If not then I say we archive this Issue and

[2022-10-11 08:35] #44842 closed, assigned to talldan

[2022-10-11 08:39] getdave commented on #43852
With the addition of https://github.com/WordPress/gutenberg/issues/40318 the template part route seems like a good choice. The obvious downside would be that we'll need to find a way to making it obvious/easy for the user to _know_ that they need to do this in order to create a different overlay.

[2022-10-11 08:43] amiut opened #44863 "Problem with predefined translatable texts in multilingual websites"
### Description

### Scenario:
Let's imagine we have a multilingual website with content editors in different languages, content editors would like to see WordPress dashboard in their own language.

A content editor who's profile language is set to **English** is working on **German** instance.
The Ideal behavior is that the user sees the dashboard in her/his profile language but the block editor

[2022-10-11 09:01] #44512 closed, assigned to ntsekouras

[2022-10-11 09:04] dynamek commented on #36554
Yes I have error logs

Attached the most recent

From: Glen Davies ***@***.***>
Sent: 16 June 2022 05:36
To: WordPress/gutenberg ***@***.***>
Cc: dynamek ***@***.***>; Mention ***@***.***>
Subject: Re: [WordPress/gutenberg] Gallery block: Image size select doesn't load if no image ids (Issue #36554)

Failed to load resource: the server responded with a status of 502 ()
/wp-json/wp/v2/media…=100&_l

[2022-10-11 09:15] talldan opened #44866 "Dragging patterns in the block library causes an extra scrollbar to become visible"
### Description

Note that #44853 solved a similar issue. This one is a little different. It looks like the `.components-draggable__clone` element that's appended to the body while dragging a pattern causes the `<body>` element itself to show a scrollbar.

I'm not sure why this is something that only happens when dragging patterns, while dragging blocks from the block library doesn't cause the sam

[2022-10-11 09:26] jameskoster commented on #41060
It would be good to try the concept above as both a solution to this issue, and #42325 as well. Template-specific patterns are not on the immediate horizon, but the visual previews and organisation are useful here, as is the option to start blank which is currently missing from the experience.

[2022-10-11 09:43] ricjcs commented on #44757
I already suspected it was something complex...

I don't know either, but as I mentioned I suspect it was from the conversion of the classic to blocks. Recently when updating some posts it was converted to the new lists, and only later when I needed to add items I detect the problem.

But it's great that this fix prevents this problem from happening. It seems to work fine, converts to new lists wi

[2022-10-11 09:43] #44816 closed, assigned to jasmussen

[2022-10-11 10:52] jameskoster commented on #44359
I like it in the toolbar, where it can behave like a toggle.

[2022-10-11 10:55] jameskoster commented on #44689
I was responding to this comment:

It seems like @inc2734 thought that headers/footers _weren't_ replaceable now?

[2022-10-11 11:00] #44627 closed, assigned to ellatrix, t-hamano

[2022-10-11 11:10] jameskoster commented on #40618
There's quite a lot of nuance to consider here. Removing a Query block from the Home template might yield a different message to removing it from the Index, Front Page, or Tag template. If comments are disabled for a particular post / post type, then we don't need to display a warning.

The first step is probably to identify which blocks prompt a warning, and then come up with generic-but-useful m

[2022-10-11 11:15] ellatrix commented on #44757
@ricjcs Could you not revert to a previous revision to get the old list content?

[2022-10-11 11:19] t-hamano commented on #44848
At least I'm not negative about your suggestion. However, I'm concerned about the conflict with the case that sometimes relative paths can be specified in plugins to refer to local directories.

cc @gziolo @ryanwelcher

[2022-10-11 11:23] jameskoster commented on #44841
Agreed with all of this :)

The green "Template reverted" notice can be deleted – we should use Snackbars for confirmation of this action.

Speaking of which, navigating away from the current view should probably hide any visible Snackbars, it's a bit strange how they stack and persist currently.

Snackbar content should include the entity name: "Index reverted", "Header reverted".

[2022-10-11 11:29] ellatrix commented on #44464
The arrow navigation issue has been fixed separately.

Could you share a video of the other problem? I'm not sure how to reproduce it.

For the paste issue, could you share the content you're pasting?

[2022-10-11 11:38] ricjcs commented on #44757
It depends... Because other content has already been added. But the problem with my lists isn't as serious as I thought, after all, it only seems to happen with some. It's not something general as it initially seemed to me.

[2022-10-11 11:40] jasmussen commented on #44841
They also stay for a long time! Most snackbars disappear too quickly, ours stays for maybe a second or two too long, IMO 😅

[2022-10-11 12:20] inc2734 commented on #44689
@jameskoster @Mamaduka

I do know that the header and footer are interchangeable! I have made an issue about replacing template parts related to areas that I have added my own in `default_wp_template_part_areas`.

[2022-10-11 13:04] jameskoster commented on #44357
Perhaps the different widths could appear as guide lines?

![guides](https://user-images.githubusercontent.com/846565/195097355-44fa4485-ecab-4c6a-affd-4924f8bde438.gif)

Then as you approach a guide line, the width snaps to fill. I appreciate this is a bit awkward for wide and full widths as the layout will jump quite a bit, but it's hard to know just how impactful that will be without an interac

[2022-10-11 13:12] jasmussen commented on #44357
I love that quite a bit. I only wonder how hard that would be to implement, notably the height matching that of the image. But if possible, looks great! I'd use fewer colors, though — perhaps just a single opacity instead of 3? I quite like that it includes "content width" as a snap point, as that would allow you to snap back to responsive if scaling down.

[2022-10-11 13:18] skorasaurus commented on #19796
@paaljoachim It is still valid: the border radius can be disabled; but the width controls cannot be disabled as of yet.

(Note: do not close even after https://github.com/WordPress/gutenberg/pull/42079 ; that issue is for the border width; this issue here requests the width of the entire button block).

[2022-10-11 13:20] jameskoster commented on #44357
Re fewer colors, I think that will depend on implementation. In the gif above all overlays have the same opacity, but they are stacked which creates the illusion of multiple colors.

Yes, I think it can also pave the way for a future where layout is based on a predefined grid. So instead of only seeing content/wide/full guide lines you'd see all the different column widths, and be able to create a

[2022-10-11 13:29] #44625 closed, assigned to benridane

[2022-10-11 13:53] scruffian commented on #44217
Could it go into "components"?

[2022-10-11 14:01] Mamaduka commented on #12907
Hi, @Steve-Fenton

I created PR to fix the issue with multiple hyphens - https://github.com/WordPress/gutenberg/pull/44873.

I can also reproduce the issue reported by @khoipro. I will try to follow up on that bug shortly.

[2022-10-11 14:05] sophiegyo commented on #40743
I ran into exactly this problem today and found myself very baffled by it.

I could reproduce it reliably on WP 6.0.2 with Gutenberg 14.2.0, in three different Site Editor-compatible themes including TT2.

Conditions:

* Create new page (post_type=page)
* Create new _custom template_ in Appearance > Editor
* Add a Query Loop to the custom template, and insert the Post Content block into the Post T

[2022-10-11 14:06] ndiego commented on #36452
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg and WordPress. Therefore, I am going to close this issue. If anyone can replicate it in the future, please feel free to reopen this issue with additional information.

[2022-10-11 14:06] #36452 closed, assigned to nobody

[2022-10-11 14:14] ndiego commented on #38703
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg and WordPress. See the screenshot below. It appears everything is working correctly. Therefore, I am going to close this issue. If anyone can replicate it in the future, please feel free to reopen this issue with additional information.

![image](https://user-images.githubus

[2022-10-11 14:17] ndiego commented on #38731
This issue was reviewed in today's Editor Bug Scrub and has been confirmed.

[2022-10-11 14:20] ryanwelcher commented on #44848
Thanks for taking the time to open the issue and start the conversation!

I think being verbose is more beneficial in this case.

The solution @t-hamano presented of linking to the primary .zip is a good solution here and addresses the issue of being able to load a plugin from the org repo ( I realize I am being a bit pedantic here ).

While I **like** the idea of not needed to type the full URL f

[2022-10-11 14:22] jameskoster commented on #44689
Ah I see. Sorry I was a bit slow on the uptake there :)

That use case seems perfectly fair to me.

I suppose we should revise the logic. Instead of "only headers and footers can be replaced" it should be "any template part except general can be replaced".

[2022-10-11 14:25] Mamaduka commented on #38823
The issue was reviewed in today's Editor Bug Scrub and has been confirmed.

[2022-10-11 14:34] ndiego commented on #39616
This issue was reviewed in today's Editor Bug Scrub. We have been able to replicate using the latest versions of Gutenberg and WordPress.

[2022-10-11 14:42] ndiego commented on #39644
This issue was reviewed in today's Editor Bug Scrub. We have been able to replicate using the latest versions of Gutenberg and WordPress.

[2022-10-11 14:50] ndiego commented on #39905
Closing in favor of https://github.com/WordPress/gutenberg/issues/39657 since that issue was submitted first and they are both the same.

[2022-10-11 14:50] #39905 closed, assigned to nobody

[2022-10-11 14:52] ndiego commented on #39657
I have confirmed this issue, which also can be replicated using the analgous core functions `wp_get_global_settings` and `wp_get_global_styles()`.

[2022-10-11 16:17] priethor commented on #44843
I can reproduce as well.

### Reproduction Report
**Environment**
- Hardware: MacBook Pro Apple M1 Pro
- OS: macOS 12.6
- Browser: Chrome 105
- Server: nginx/1.16.0
- PHP: 7.4.1
- WordPress: 6.1-beta3
- Theme: twentytwentythree v1.0

Regarding the banners category itself, as far as I see, #44203 registered the new `Banner` pattern category, but as of today, none of the [existing bundled patterns](

[2022-10-11 16:27] priethor commented on #44843
Action items:
- [ ] Backport the bundled patterns from #43157 to WP core, as per [this comment](https://github.com/WordPress/gutenberg/pull/43157#issuecomment-1215204128)
- [ ] Reclassify patterns to the `Banner` category? @beafialho can you help clarify this part?

[2022-10-11 16:32] mirka commented on #34845
Ah ok, I was testing the `Toolbar` component in isolation, but the warning does appear as you say when nesting inside `BlockControls`. (Along with some other ref passing warnings from Ariakit.)

To add some context (since I realize this isn't properly documented yet), I believe all this `ToolbarItem` abstraction is for accessibility, for example ensuring that arrow key navigation in the toolbar wo

[2022-10-11 16:58] gyurmey2 opened #44879 "Query Pagination & Query No Results: Add missing dimensions supports"
## What problem does this address?
Currently, there is no way to add dimensions (margin & padding), and wrapping it in a group does not solve the problems because these blocks are conditional.

[2022-10-11 17:49] oandregal commented on #44772
https://github.com/WordPress/wordpress-develop/pull/3418 has landed bringing numbers back to 6.0 baseline.

I'm still investigating this to squeeze more ms and have prepared https://github.com/WordPress/wordpress-develop/pull/3441 as a modest improvement from 6.0 numbers.

[2022-10-11 18:02] cbirdsong opened #44880 "Split "flex" layout type into separate "row" and "stack" layout types"
Picking up from https://github.com/WordPress/gutenberg/issues/39336#issuecomment-1151048422:

"Flex" attempts to encapsulate all "one-dimensional" layouts in a single type, but I think "one-dimensional" isn't enough to hang a type on conceptually. You see the issues start as soon as you write the justification utility classes. For vertical layout, you need to modify `align-items`, and for a horizo

[2022-10-11 18:05] jorgefilipecosta commented on #42961
Here I add the missing dev note for https://github.com/WordPress/gutenberg/pull/41791.
It can be included on a misc editor dev note.

## Start content patterns for all post types.

With WordPress 6.0, we introduced the ability to add patterns that appear in a modal each time a new page was created, allowing the user to start from a set of pre-made patterns instead of in a blank state. In WordPress

[2022-10-11 18:20] kathrynwp commented on #39200
Heya @getdave - just checking in to see if this is still on the radar? Any chance to get it into 6.1, or has that window closed? Thanks!

[2022-10-11 18:24] TimBroddin opened #44881 "Allow for oEmbed fallback (using OpenGraph tags)"
## What problem does this address?
Currently when pasting a link that doesn't support oEmbed embedding, an error is shown, and the option to convert to a normal link is proposed

<img width="655" alt="CleanShot 2022-10-11 at 20 11 45@2x" src="https://user-images.githubusercontent.com/528287/195167899-f03fb41f-2dd0-405c-a4e3-2d56b86b46de.png">

## What is your proposed solution?
I like the way Medi

[2022-10-11 18:26] kathrynwp commented on #39263
Heya @jasmussen Looks like there was some discussion on the related PR, but it isn't ready to merge. Any chance of moving it forward, assuming the issue is still valid? Thanks!

[2022-10-11 18:46] annezazu commented on #44843
Flagged this up in the 6.1 release channel to get help. This is an important, high impact feature to have in for 6.1 and I'm not sure where things went wrong with including the backports here.

[2022-10-11 18:53] kathrynwp commented on #39301
@getdave Just circling back to see if this issue might be able to be moved along – thanks!

[2022-10-11 18:59] kathrynwp commented on #39304
Heya @talldan @jasmussen - just circling back on this navigation-block-related item to see if there might be a way to move the related PR forward now that the reporter has replied – thanks! https://github.com/WordPress/gutenberg/pull/39338

[2022-10-11 19:17] kathrynwp commented on #40346
I was able to replicate this with:

WordPress 6.0.2
No plugins active
Twenty Twenty-Two 1.2

I can't seem to replicate this with Gutenberg 14.2 active, however, perhaps because the Navigation block has been reworked. @jameskoster would you be able to check again with the latest Gutenberg active and let me know if you can still replicate? Thanks!

[2022-10-11 19:20] annezazu commented on #44843
[Decision was made not to include this in 6.1](https://wordpress.slack.com/archives/C03LZ88NX6G/p1665513781772549) and it has been pushed to a future release. Moving this to bumped to 6.2 as a result.

Noting that in particular the former "heading" patterns are still available under the "Header" category and no banner category is in place for these prior patterns to live. Tied to this, I don't see

[2022-10-11 20:16] skorasaurus commented on #21330
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/39868  . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2022-10-11 20:16] #21330 closed

[2022-10-11 20:18] skorasaurus commented on #42977
thanks for reporting; rel customization has been requested at https://github.com/WordPress/gutenberg/issues/38630

Please follow that issue and subscribe for further updates.

[2022-10-11 20:18] #42977 closed, assigned to nobody

[2022-10-11 20:30] ethanclevenger91 commented on #4454
Commenting here since this is the top Google result for this:

WordPress 6.0.2
Gutenberg 14.2

The template picker was moved here:

![image](https://user-images.githubusercontent.com/2623646/195192305-4c1b7ecf-bca8-4ecc-942a-74fcc60c2617.png)

[2022-10-11 20:58] priethor commented on #44843
To clarify the action item above, can Editor Tech Leads confirm [the patterns contained in lib/compat](https://github.com/WordPress/gutenberg/tree/wp/6.1/lib/compat/wordpress-6.1/block-patterns) have not been backported to WP core, as they are not available in `wp-includes/block-patterns`? 🙏

If so, as this has been punted to 6.2, let's move the patterns to the corresponding `lib/compat/6.2` to av

[2022-10-11 21:08] glendaviesnz commented on #44546
Thanks @ndiego, have removed the label now.

[2022-10-11 23:26] adamsilverstein commented on #5936
https://github.com/WordPress/gutenberg/pull/41120 locks autosaving during uploads, but isn't a complete solution (see comment on PR)

[2022-10-11 23:29] adamsilverstein commented on #16030
Note: this is replaced by https://github.com/WordPress/gutenberg/issues/39223

[2022-10-12 00:06] #44236 closed, assigned to nobody

[2022-10-12 00:13] glendaviesnz commented on #41613
@CrazyEarthGuy thanks for the video. What version of Gutenberg are you using? Would you be in a position to try this on the  [WordPress 6.1 release candidate](https://wordpress.org/news/2022/10/wordpress-6-1-release-candidate-1-rc1-now-available/) to see if the problem is still there on the latest release for you?

[2022-10-12 01:17] StevenDufresne opened #44886 "@wordpress/edit-site: Consider exporting Global Styles preview cards."
## What problem does this address?
The Global Styles [preview card](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-site/src/components/global-styles/preview.js#L105) is useful for promoting style variations. In order to preview theme style variations on wordpress.org we had to recreate the component. This is a short-term solution and is bound to fall out of sync. It would be ideal

[2022-10-12 01:33] noisysocks commented on #44857
How about let's lean into what the schema says and require strings? If a number is specified then automatically switch it to a `${ number }px` string at the theme.json level and output a warning.

[2022-10-12 01:55] a4jp-com commented on #44451
This is still a problem.

[2022-10-12 01:58] a4jp-com commented on #44451
Can the plus code be permanently put under the title area? Then each block that shows up just needs the plus code at the bottom.

[2022-10-12 02:12] annezazu commented on #44840
For some reason, my brain goes to wanting categories, similar to what we see in the Inserter. That may be an old way of thinking though but, for now, it feels like it might help with consistency in experience.

[2022-10-12 03:24] talldan commented on #44863
Using `__` in the block save function is unsupported for this reason, unfortunately. Internationalisation in this way requires using  a dynamic block at the moment.

[2022-10-12 03:33] talldan commented on #44886
I see there are some components exported from `@wordpress/edit-site`, but I don't think it's a good pattern to follow. It would be better to look at making this a generic component that resides in the `@wordpress/block-editor` or `@wordpress/components`.

`@wordpress/edit-site` is more of an application entry point, so the problem with using it as a dependency is that it naturally has lots of depe

[2022-10-12 03:40] StevenDufresne commented on #44886
Yep, that works as well. The button recently went through updates so it's probably closed.

[2022-10-12 04:04] ramonjd commented on #44758
Closing this issue now that everything is merged and committed. Thanks everyone 🍺

[2022-10-12 04:04] #44758 closed, assigned to ramonjd

[2022-10-12 04:09] talldan commented on #44844
It looks like the Footer in TT3 only has a pattern block within it:
[code]

So I think the problem is around showing patterns within pattern previews, which I remember there was another bug report for.

This is the one - https://github.com/WordPress/gutenberg/issues/39732. The linked PR does fix it when I tested ([Try nested patterns previews with block editor setting](https://github.com/WordPress

[2022-10-12 04:15] ramonjd opened #44888 "Tracking: fluid typography"
An overview issue to track **fluid typography** follow ups and enhancements.

Related:

- https://github.com/WordPress/gutenberg/issues/34345
- https://github.com/WordPress/gutenberg/issues/34641

## Fluid typography base functionality
- https://github.com/WordPress/gutenberg/issues/24480
    - https://github.com/WordPress/gutenberg/pull/39529
    - https://github.com/WordPress/gutenberg/pull/4268

[2022-10-12 04:16] ramonjd commented on #44758
I've added a tracking issue to consolidate all the work on fluid typography so far and to track ongoing enhancements:

- https://github.com/WordPress/gutenberg/issues/44888

[2022-10-12 06:00] carolinan commented on #41824
@bradley2083 I would like to understand where you are seeing `.wp-element-button` being used but not working?

[2022-10-12 06:41] tellthemachines commented on #43140
Now that we have a first step towards this in #44600, it's probably time to start thinking about what supporting multiple layout types in Cover should look like.

As a conversation starter, I enabled `layoutSwitching` for the block, and it looks pretty awful:

<img width="280" alt="Screen Shot 2022-10-12 at 5 30 32 pm" src="https://user-images.githubusercontent.com/8096000/195267041-a1c87d37-f9a6-

[2022-10-12 07:01] Mamaduka commented on #44881
The core already has an API for parsing the site metadata. Currently, it's used to generate URL details popups. We can probably adopt that into an embed provider.

I started experimenting with a similar concept a few years ago - https://wordpress.org/plugins/bookmark-card/.

[2022-10-12 07:52] jasmussen commented on #44886
If it's the issue I'm thinking of (can't find it either, but it was an effort to show more variation in the card), it has been solved in recent iterations, and I would expect the current design to be pretty stable for the foreseeable future.

[2022-10-12 08:00] jasmussen commented on #44460
Nice. I like the explorations, but I also like the minimalism of icons, and the fact that they can be entirely generic.

[2022-10-12 08:14] jasmussen commented on #39263
The PR had some solid approaches, but I recall it surfaced some unforseen challenges. I think it's best to ask on the PR itself, to see if some of the other reviewers had thoughts on how it should land.

[2022-10-12 08:16] jasmussen commented on #39304
Yes, editing the overlay is a pretty bad experience, and at this point honestly I think we need something like #43852 in order to fix it.

[2022-10-12 08:59] getdave commented on #35467
As I see it this is an important piece of missing functionality. Let's make sure it's on the Tracking Issue.

[2022-10-12 09:01] annezazu commented on #44844
Sweet! I trust your read there and will close this out.

[2022-10-12 09:01] #44844 closed, assigned to nobody

[2022-10-12 09:02] sinanisler commented on #26223
why is this issue ignored ?
 @m

there should be setting in the WordPress itself to make this option default for other users as well.

[2022-10-12 09:03] talldan opened #44893 "Site editor: Patterns tab in block library appears after a delay and can interrupt the user or cause a focus loss"
### Description

The way the block library patterns tab in the site editor loads in is a bit jarring.

It can also result in issues with drag and drop being interrupted and focus losses.

Ways to remediate:
- Preload patterns
- Show a loading spinner until patterns are loaded

### Step-by-step reproduction instructions

1. Open the site editor
2. Open the block library
3. Try dragging and dropping

[2022-10-12 09:07] getdave commented on #37712
@mrfoxtalbot I think it's one of the items we should be tackling. Please do add to the tracking issue 🙏

[2022-10-12 09:10] getdave commented on #38970
@mrfoxtalbot Thank you for taking the time to test this.

Would it be possible to expand on the problem a little in written form?

- What exactly is the "getting stuck"
- How does this impact the user and how severe to you think it is?
- What are the production steps?

This will really help when contributors start to look into the problem.

[2022-10-12 09:11] talldan commented on #44866
I can't reproduce this now, so closing it.

Not sure what was happening 😕

[2022-10-12 09:11] #44866 closed, assigned to nobody

[2022-10-12 09:20] talldan commented on #44893
Another annoyance is that the block inserter appears empty when there are no featured patterns for the given context:
![Screen Shot 2022-10-12 at 5 18 33 pm](https://user-images.githubusercontent.com/677833/195303584-2185a21b-b510-4d81-8fc1-568694adb5c1.png)

This was opening the inserter in the context of the navigation block. Empty pattern categories probably shouldn't be shown in the dropdown.

[2022-10-12 09:27] jameskoster commented on #40346
It's still happening for me. Undoing the addition of a link produces the following:

<img width="782" alt="Screenshot 2022-10-12 at 10 25 31" src="https://user-images.githubusercontent.com/846565/195305062-b38ff822-6895-41ea-918e-302c77942fa1.png">

As you can see in List View, the "Custom Link" block remains, but it is unselected. The Top Toolbar continues to display an ellipsis icon button.

Und

[2022-10-12 09:35] jameskoster commented on #44840
Alphabetisation seems like a good middle-ground for now, with filtering by category being a further enhancement.

[2022-10-12 09:45] jameskoster commented on #43140
I think the important thing to decide here is whether we want a generic control for switching layout types (which can be used by any container), or variations like group/row/stack as you mentioned. Those variations made sense for the Group block because adding a Row feels fairly intuitive. I'm not sure that the pattern scales that well though... we don't really want Cover Row, Cover Stack, etc...

[2022-10-12 09:49] SiobhyB commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved

++ [Update editor initial HTML test for iOS and update Appium](https://github.com/WordPress/gutenberg/pull/44732)

`🔎 Main focus` projects are continuing to get the majority of our time/attention.

[2022-10-12 10:04] mtias commented on #40204
@jameskoster @SaxonF can we try a design that includes the three tabs (list, settings, styles) but uses the icons?

[2022-10-12 10:45] getdave commented on #39200
It wasn't on our immediate radar. What level of impact do you see this having on users? Is it severe or a lower priority item?

No chance as the feature freeze has happened and we're nearly at RC. Sorry!

[2022-10-12 10:48] getdave commented on #39301
Thanks for the followup @kathrynwp 👍

The UX of the block has now been changed so that `Create new` is within the block inspector controls. Now when `Create new` is clicked the focus returns to the dropdown menu under which `Create new` is an option. AFAIK this is correct a11y wise and probably means this issue can be closed out. What say you @tellthemachines?

[2022-10-12 10:50] Andrew-Starr commented on #44810
I should also mention that the issue seems to only be present with block themes.

With a classic theme, WP core or Gutenberg provides the following block styling that will center align an image wherever it is placed.
[code]

This styling is not present when a block theme is active.

Instead centering seems to be styled in Gutenberg:
[code]
The issue with this is that the parent container `<div cla

[2022-10-12 11:00] patrickwc commented on #40444
I think this is the place to report issues with the CSS Parser. I noticed that after updating to WP 6.0, during theme development when Gutenberg was loading our unminified main.css stylesheet none of our styles were being applied properly, but it worked fine with the .min.css file. I have isolated the issue. When using an inline svg which has a style attribute, if a semi-colin is included at the e

[2022-10-12 11:13] kirkvin opened #44897 "Edit and Restructure Blocks in "Post Content" when creating a Custom Template"
## The "Post Content" currently extremely limit what can be done when creating a "Custome Template"

It is both frustrating and difficult to restructure and create a proper custom temple, when all we get is a "post content" with no editable options to rearrange where this image should go, where this video should go, where this text should go.

Note: I am talking a creating a "Custom Template" that

[2022-10-12 11:21] kasparsd commented on #42286
The problem is caused by the `--xdebug` flag being applied only to the `wordpress` image config here:

https://github.com/WordPress/gutenberg/blob/d5915916abc45e6682f4bdb70888aa41e98aa395/packages/env/lib/init-config.js#L84-L90

We should either (1) update the logic to apply the `xdebug` steps to all containers or (2) update all containers with PHP to include the xdebug extension and have it enabl

[2022-10-12 11:21] draganescu commented on #42257
I will add some things discussed in a separate chat with @jasmussen @SaxonF @jameskoster and @mtias 👍🏻

- the inspector tree for the navigation block should be seen more than a "list view" adaptation, but instead a way to manage a list of child blocks without touching the canvas, a feature with its own challenges but which can take inspiration from:
  - the content only editing template lock
  - t

[2022-10-12 11:34] strarsis commented on #40444
@patrickwc: This sounds like this CSS parser-related issue: https://github.com/WordPress/gutenberg/issues/21569

[2022-10-12 12:14] sophiegyo commented on #44557
I would love to have the `blockGap` controls too, I was just trying to figure out a blocks layout for having a grid of featured images but there's no block spacing control on the query loop which lets me remove the block gap without overriding the CSS.

Default:

![queryloopgap](https://user-images.githubusercontent.com/36608681/195339121-64ee3d71-e719-4aca-adc9-d3d604ad3124.png)

What I'd like to

[2022-10-12 12:37] TimBroddin commented on #44881
@Mamaduka thanks for linking to your plugin. It does exactly what I'm talking about.

It would be such an improvement to the UX if we could bring something like that to core.

[2022-10-12 13:31] Stiofan commented on #35258
This issue is not actually solved by the above pull request.  Can we re-open this?

[2022-10-12 13:35] #39732 closed, assigned to ntsekouras, BE-Webdesign

[2022-10-12 13:40] ntsekouras opened #44898 "[Block Editor]: Performance optimazations in Block Previews"
In https://github.com/WordPress/gutenberg/pull/44784 we introduced a block editor setting called `__unstableIsPreviewMode` which is set to `true` in `Block Previews`.

Right now is used for not pre-parsing the available patterns, but we should explore what other optimizations we could make when we are in this mode.

[2022-10-12 13:43] jameskoster commented on #40204
Purely using our existing components:

<img width="382" alt="Screenshot 2022-10-12 at 14 24 09" src="https://user-images.githubusercontent.com/846565/195354534-10d7c89a-71c0-441a-b4b1-248dcea3eaef.png">

There's some tension between the block icon and the tabs, which would be solved by simply removing it.

<img width="347" alt="Screenshot 2022-10-12 at 14 28 16" src="https://user-images.githubuser

[2022-10-12 13:59] cbirdsong commented on #43140
I would hate to see the the alignment matrix go – it enables designs that would be otherwise difficult or impossible to accomplish.

For the inner block container, I can also imagine how having row layout would be useful, though it's nothing you couldn't accomplish by adding a group wrapper. Still, less unnecessary wrapper divs for layout is an upgrade!

[2022-10-12 14:02] cbirdsong commented on #44893
This also occurs in the post editor with the reusable blocks tab.

[2022-10-12 14:22] iamtakashi opened #44899 "Post Template Block: Add blockGap support"
I wanted to make a simple pattern with a Query Loop block and separators, and this was what I wanted to make.

![dotcompatterns wordpress com__p=7930 preview=true (2)](https://user-images.githubusercontent.com/908665/195365852-2925b64d-6eb0-4d51-ad73-6fd61d35fe55.png)

But this is what I can do best at the moment because there is no way to specify the gap (top margin) applied to each list element

[2022-10-12 14:22] mtias commented on #40204
I think we should try using the panel icon instead of the top level cog, and use the cog for the settings tab.

<img width="820" alt="image" src="https://user-images.githubusercontent.com/548849/195368723-e1e062f1-3340-4dcf-88ed-47654c962fbb.png">

[2022-10-12 14:31] kadamwhite opened #44900 "Core Data: Add hook to retrieve resource(s) by ID"
## What problem does this address?

With `useEntityRecord`, you have to know the subtype of a record, for example the post type if querying by `postType`. This is partially a consequence of the REST API segregating records by post/term type, and providing no method equivalent to `get_post` or `get_term` which could act across those different post type-specific endpoints. [As of WordPress 6.1 the s

[2022-10-12 15:38] ciampo commented on #43997
I believe this issue is still relevant (especially given the recent theming effort), going to remove the "stale" label

[2022-10-12 15:39] ShahriarKh commented on #26667
Thanks to https://fullsiteediting.com/lessons/introduction-to-block-patterns/, I want to add some details for future wanderers:
- Removing the category doesn't remove the blocks inside it, and you'll end up with a bunch of `uncategorized` blocks.
- `Uncategorized` is a fallback, so it's not possible to remove it with `unregister_block_pattern_category`

[2022-10-12 15:42] #44442 closed, assigned to t-hamano

[2022-10-12 15:47] bradhogan commented on #41824
@carolinan [this comment](https://github.com/WordPress/gutenberg/issues/41824#issuecomment-1176784801) explains how to replicate

[2022-10-12 16:26] jameskoster commented on #40204
Yup, that could work.

<img width="363" alt="Screenshot 2022-10-12 at 17 25 28" src="https://user-images.githubusercontent.com/846565/195397299-4bb68569-be68-4138-8608-b098f2dfff86.png">

[2022-10-12 16:51] zaguiini opened #44903 "Block Editor: Scrolling through Patterns crashes page on iOS Safari"
### Description

Scrolling through the patterns on iOS 16's Safari intermittently crashes Gutenberg. Sometimes the page refreshes on its own, and sometimes the page just breaks with a black screen as a result.

### Step-by-step reproduction instructions

1. Open the site editor. It's easier to reproduce in FSE but it also sometimes happens in the post/page editor as well;
2. Try to add a pattern;

[2022-10-12 17:46] colorful-tones commented on #43635
@ockham Do you happen to know the current state of border support?

I was looking at the current Button block's use of `__experimentalBorder` ([see line 90](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/button/block.json#L90)), and if I understand this issue's intent. Then I assume if we want to see `__experimentalBorder` get merged into core, we would have to open a

[2022-10-12 17:51] ciampo opened #44904 "`ColorPalette`: review `colord` support when using CSS variables"
_Originally posted by @ciampo in https://github.com/WordPress/gutenberg/pull/44632#discussion_r993507561_

[2022-10-12 17:59] mirka commented on #44904
Related: #41459

[2022-10-12 19:32] georgeh commented on #44503
It looks like the REST API is not returning links to the previous revisions of template parts, so we will have to add that before we can add this button. I'm looking into adding that

[2022-10-12 22:40] andrewserong commented on #44557
Thanks for adding the screenshot @sophiegyo, that captures the desired goal of this issue perfectly 👍

[2022-10-12 23:20] annezazu commented on #44899
Cross connecting to this work to address current gaps: https://github.com/WordPress/gutenberg/issues/43243  Looks like this functionality is currently TBD. @aaronrobertshaw as a heads up for a great example to think of when considering whether to add block gap to the query loop.

[2022-10-12 23:22] annezazu commented on #44879
Cross connecting to this work to address current gaps: https://github.com/WordPress/gutenberg/issues/43243 Looks like this functionality is currently TBD and will be evaluated for inclusion in the future.

[2022-10-12 23:25] annezazu commented on #44851
Hey there! Thanks for the excitement and for opening this issue. When reading through this, my brain immediately thought of this related issue: https://github.com/WordPress/gutenberg/issues/41060 I'd prefer if we can continue discussing options there and close this one out to reduce duplicated conversations. Is that okay with you?

[2022-10-12 23:31] annezazu commented on #44421
Hey @bhubbard! Apologies for the delay here. Check out this plugin that does exactly what you're describing: https://newsletterglue.com/

For now, I'm going to close this out as it's firmly in plugin territory rather than something Core will take on (will take on allowing the possibility to extend the editor for this exact reason of course!).

[2022-10-12 23:31] #44421 closed, assigned to nobody

[2022-10-12 23:35] annezazu commented on #44385
Hey there @NidhiDhandhukiya74! Thanks for opening this issue and pursuing a PR to address the same. This seems to be a duplicate of https://github.com/WordPress/gutenberg/issues/39937. I'm going to close this out as a result and encourage you to share your findings on that prior issue. If I'm off-based, just let me know too and I'm happy to reopen :)

[2022-10-12 23:35] #44385 closed, assigned to nobody

[2022-10-12 23:36] annezazu commented on #44385
Just found this issue too! https://github.com/WordPress/gutenberg/issues/44614

[2022-10-12 23:37] annezazu commented on #44275
Wow! What a great community effort here to help address the problem. Since multiple solutions have been shared and there hasn't been activated for a few weeks, I'm going to close this out. Happy to re-open if needed of course :)

[2022-10-12 23:37] #44275 closed, assigned to nobody

[2022-10-12 23:44] tellthemachines commented on #43140
Thanks for the input folks! I don't really have a preference re switcher vs variations; happy to go with what makes most sense design-wise.

@cbirdsong do you have any examples handy to share? Even if we keep the alignment matrix, adding layout styles to the inner container might affect how it currently works. It would be good to have some pointers to avoid breaking existing behaviour!

[2022-10-13 01:01] annezazu commented on #42682
I can't replicate either! Going to close out. Thanks for looping back.

[2022-10-13 01:01] #42682 closed, assigned to nobody

[2022-10-13 01:20] ya123123 commented on #44752
The fluid font size now works in 6.1-RC1-54506. Thank you!

The output is
h1 {font-size: clamp(4rem, 4rem + ((1vw - 0.48rem) * 30.769), 20rem);}

I hope this value will be var() in the future.

[2022-10-13 01:46] ramonjd commented on #44752
This is a good point, thanks! I'll add it as a follow up in:

- https://github.com/WordPress/gutenberg/issues/44888

[2022-10-13 01:46] ramonjd commented on #44752
Resolved by: https://github.com/WordPress/gutenberg/pull/44761

[2022-10-13 01:46] #44752 closed, assigned to nobody

[2022-10-13 02:00] glendaviesnz commented on #44700
@mtias did you have any thoughts on whether the visualiser should appear for the duration of the time that you are moused over the control, or just appear briefly as it does now when adjusting sizes?

[2022-10-13 02:13] smerriman opened #44909 "TextHighlight still showing when colors are disabled"
### Description

With a custom theme where colors have been disabled in theme.json, the Highlight format option still shows up. It display 'Text' and 'Background' headings with no options to select from, and nothing can be done.

The correct behavior should be either not having Highlight show at all, or making clicking it apply the mark HTML directly without prompting you to choose from 0 options

[2022-10-13 02:25] ryelle commented on #40170
There is now a filter for the query vars (`query_loop_block_query_vars`, [documented here](https://github.com/sunyatasattva/gutenberg/blob/ec15d53e1623c003655577b41e09bfbf82aa5fd5/lib/compat/wordpress-6.1/blocks.php#L329)) which might help in some cases.

Unfortunately it doesn't solve the original problem, but it's been helpful for other Query Loop modifications, so I wanted to mention it on this

[2022-10-13 02:51] tellthemachines commented on #44880
Thanks for opening this issue @cbirdsong !

For some historical context, in the initial implementation of vertical orientation for flex, it actually started out as a separate layout type. Following [some discussion](https://github.com/WordPress/gutenberg/pull/35819#discussion_r735361238) I moved to making it a flex variation, the main reason being to not duplicate the whole layout logic.

There ar

[2022-10-13 03:21] kopepasah commented on #44848
While I do agree this this does have some potential to cause confusion, I would note that confusion could be resolved with a bit of documentation.

For example, we are able to reference Git repos from GitHub using simple `<owner>/<repo>[#<ref>]` notation, but that does not work the same for GitLab (or BitBucket), which would actually be similar (if not the same) notation. At some point a decision

[2022-10-13 05:12] carolinan commented on #35258
Please include the full details about what, more precisely, is not working, and how to reproduce it without third party plugins.
If it can not be reproduced without third party plugins, it can not be excluded that the problem is within that plugin.

[2022-10-13 05:15] carolinan commented on #41824
@bradley2083 But the example theme does not support the feature.

[2022-10-13 05:16] carolinan commented on #41824
Twenty Twenty-Two was built before button elements were supported in theme.json.
To support button elements in twenty Twenty-Two, you have to update theme.json, or, use a child theme with an updated theme.json.

[2022-10-13 05:53] aaronrobertshaw commented on #44899
Thanks for the ping.

We are looking to add all block supports to all blocks unless there is a good reason not to. At a quick glance, I don't see any reason we can't adopt the spacing block supports here.

In this particular case, I think if we opt into block gap, padding, and margin support on the **Post Template** block itself, that might get us to the desired outcome.

Here's a quick video afte

[2022-10-13 05:58] Greatdane opened #44913 "Feature Request: Add a menu item on Dashboard to access all FSE templates"
## What problem does this address?
There is no direct way to go to templates from the dashboard, you have to go through the site editor.

![Markup on 2022-09-09 at 19:08:34](https://user-images.githubusercontent.com/50875131/189452533-59992896-7b62-4934-a290-017bf1aa954f.png)

## What is your proposed solution?

We should have a direct link to our FSE templates to appear on the dashboard. Somethin

[2022-10-13 06:10] andrewserong commented on #30121
Just an update that I've started digging into exploring another solution for this, that expands on an exploration from earlier in the year, but plays with hooking into the layout block support so that we server-render the sticky position support. It's very early, but the draft PR is here: https://github.com/WordPress/gutenberg/pull/44723 (screengrabs on the PR) — there's quite a few issues to teas

[2022-10-13 06:38] amiut commented on #44863
I see, there's still another problem with `post_type_object`'s `template` property, if it is a large template it will be a hassle for the editor to replace all pre-filled content with site language content.
I know this doesn't seem a bug, but still in certain cases it slows down content editing,
The only workaround I found for this problem is to hook into `determine_locale()` and fallback to site

[2022-10-13 06:47] autumnfjeld commented on #44524
This would be an amazing improvement, "home" is very overused in so many contexts. And in this case very misleading as you point out as its role is to display posts, which may or may not be on the user's "homepage"(aka root page/landing page)

Looking at these [docs](https://developer.wordpress.org/themes/basics/template-hierarchy/#home-page-display) maybe `blog-posts-index` or `blog-posts` is a g

[2022-10-13 06:56] jasmussen commented on #40204
Perhaps nitpick territory — should the sidebar icon be flipped horizontally?

[2022-10-13 07:12] jasmussen commented on #43140
Good discussion. Fewer tools and more DNA shared between them is good. However it's probably going to be a bit of a journey, not just for any deprecations having to be made (and sought to avoid), but in terms of each of the core blocks initially being designed to fulfill different purposes. In the case of the Cover block, it was created to be a dead-simple way to overlay text on an image.

In that

[2022-10-13 07:37] alaczek commented on #44524
Yes, this is exactly how it works.

[2022-10-13 07:56] getsource commented on #44738
Just thought I'd leave a note that I agree that it's confusing to change it globally to "View".

I like the solution suggested by @tomjn re: different state depending on the post's status.

[2022-10-13 08:05] alanjacobmathew opened #44915 "TYPO: The word ocurred is used at multiple instances instead of the word occurred"
### Description

- One such error was earlier mentioned in the trac ticket : [https://core.trac.wordpress.org/ticket/56814#ticket](https://core.trac.wordpress.org/ticket/56814#ticket)

- Another typo noticed : [here](https://github.com/WordPress/gutenberg/blob/cedbd43824a0e3494d61467d1ee9890737270d7a/packages/edit-navigation/src/store/actions.js)

### Step-by-step reproduction instructions

-

###

[2022-10-13 08:31] beafialho commented on #44843
I can see the bundled header and footer patterns but can confirm I see banner patterns in the `Headers` category. As mentioned in [this comment](https://github.com/WordPress/gutenberg/pull/43157#issuecomment-1212201440), the following patterns should be in that category:
- Large header with left-aligned text
- Large header with text and a button
- Media and text in a full height container
- Media

[2022-10-13 08:44] mirka commented on #27166
Sorry for the delay, this issue just popped onto my radar.

@jasmussen Do we have any design guidance for this? It's clear that this `multiple` variant isn't used anywhere in Gutenberg, in favor of other UI components (e.g. [FormTokenField](https://wordpress.github.io/gutenberg/?path=/docs/components-formtokenfield--default#dropdown-selector)). Should we deprecate/discourage `multiple` select UIs,

[2022-10-13 08:45] ntsekouras commented on #44496
Is this required for v1? If yes, does this mean we'd have a search input inside every tab content? It's not clear to me from the current designs.

[2022-10-13 08:52] Mamaduka commented on #40309
I'm no longer able to reproduce the issue on the current trunk. It might be related to the recent change of using the `inert` attribute in `useDisabled`. See #44865.

[2022-10-13 08:53] jameskoster commented on #40204
Yup, we should probably have both versions of the icon so the button can flip based on locale (rtl/ltr).

There may be other applications where we need the inverse as well such as https://github.com/WordPress/gutenberg/issues/28745.

[2022-10-13 08:53] EnigmaGlenr opened #44919 "Typography Font Family ascendOverride typo"
### Description

Looking at the [schema](https://schemas.wp.org/trunk/theme.json) for the Wordpress block theme it seems that the "ascendOverride" property of the fontFace is spelt incorrectly. I believe this should be "ascentOverride". This also travels through to the code thats used to validate the webfont: https://github.com/WordPress/gutenberg/blob/1104c68b66f3a6216b2650207b3243f411284eef/lib/

[2022-10-13 08:53] jacqueschoquette commented on #34825
Plus one for this change. This is a major interruption to workflow.  Has anyone figured out a temporary solution to change this default behaviour for now?

[2022-10-13 09:02] iamtakashi commented on #44097
Thanks, @talldan, for removing the stale tag.

I still think it'd be helpful for both themers and users if we could add descriptions to custom templates.

[2022-10-13 09:07] jameskoster commented on #44524
Sorry for the confusion. "Posts page" refers to the option in the reading settings:

<img width="607" alt="Screenshot 2022-10-13 at 09 57 52" src="https://user-images.githubusercontent.com/846565/195551771-98ae73fa-a8a2-4335-ba03-971f218e7d89.png">

In the configuration above, the "Blog" page serves as the Blog Posts Index Page, and will resolve to display the Home template if it exists.

Blog Pos

[2022-10-13 09:10] jasmussen commented on #44496
I don't know if it's a requirement for a V1, but it's definitely where we want to end up. So that is: search under the tabs for Blocks, search under each flyout category for both patterns and media. Does that sound right @javierarce?

[2022-10-13 09:11] paaljoachim commented on #25027
I believe we can get a developer started on this and just base it on the current Social block.

Any thoughts or ideas?
@jasmussen @jameskoster

[2022-10-13 09:19] paaljoachim commented on #25027
@ndiego made this plugin:
https://wordpress.org/plugins/social-sharing-block/
Which could perhaps be made as a base for a Social Sharing block in the Block editor.

[2022-10-13 09:22] javierarce commented on #44024
Thanks, @jasmussen, I've updated the design in Figma and in the issue description to reflect that change.

[2022-10-13 09:22] getdave opened #44920 "Improve Navigation block tests"
The current Nav block tests have grown overly complex and are flaky. These types of tests should be optimised for testing the critical paths to provide confidence that these features continue to work.

Let's rework the tests as follows to provide greater utilility:

- [x] [Migrate to Playwright ](https://github.com/WordPress/gutenberg/pull/42695) - provides a more stable foundation.
- [ ] Rewrite

[2022-10-13 09:24] getdave opened #44921 "Tidy and refactor Navigation block codebase"
Many aspects of the Navigation block codebase have grown over time. Let's see if we can simplify:

- Remove _excess_ duplication - let's avoid taking this too far.
- Reduce code "noise" in the primary `edit` definition - this may be by extracting hooks.
- [ ] https://github.com/WordPress/gutenberg/issues/45031
- [ ] https://github.com/WordPress/gutenberg/issues/45033
- [ ] https://github.com/WordP

[2022-10-13 09:29] ciampo commented on #42753
Related / may be fixed by the re-write:

- https://github.com/WordPress/gutenberg/issues/43129
- https://github.com/WordPress/gutenberg/discussions/44735

[2022-10-13 09:31] kavyagokul opened #44922 "Group Block ignores nested blocks' width settings"
### Description

The Group Block seems to ignore the alignment settings for blocks added to the Group Block.

### Step-by-step reproduction instructions

1. Add a Group Block set to full-width
2. Add a Cover Block with a combination of a YouTube Block, Paragraph Blocks, Heading Block, and Spacer Blocks to the Cover Block
3. The Cover Block is set to wide-width
4. When viewed, the Cover Block expan

[2022-10-13 09:56] kavyagokul opened #44924 "Verse Block goes outside viewport on small screens, when it is beside a left or right aligned Image"
### Description

Adding a Verse Block beside a left or right-aligned Image Block will make it to go outside the viewport and pushes down blocks below it.

### Step-by-step reproduction instructions

1. Add a new post.
2. Add an Image block that is not too wide and left-align it.
3. Add a Verse block such that it will stay beside the Image block in the editor.
4. Add a bunch of dummy paragraphs aft

[2022-10-13 09:56] jasmussen commented on #27166
Tricky one indeed. I can't think of a core reason to have this interface, I always found it fiddly, using modifier keys to add to a selection, and if you misclick you deselect all and have to start over. I don't have strong opinions, and there's likely a great deal of context I'm missing. What can I provide, designwise, to help move things forward?

[2022-10-13 10:17] mtias commented on #44700
Not quite sure, would need to get a feel for it.

[2022-10-13 10:47] ockham commented on #44659
Update: https://github.com/WordPress/gutenberg/pull/44731 was merged and included in [WP 6.1 RC1](https://wordpress.org/news/2022/10/wordpress-6-1-release-candidate-1-rc1-now-available/).

@shimotmk Could you check if [the issue](https://github.com/WordPress/gutenberg/issues/44659#issuecomment-1268305786) is fixed in RC1? 😊

[2022-10-13 11:02] Copons opened #44931 "Global Styles: Styles specificity and users expectations"
CSS is hard; getting it right while translating it into a user-friendly interface is even harder.

In a GS world, the site's styles can originate from many, many sources: editor default, theme.json and style variations, Global Styles of various nature, individual block styles, custom CSS somewhere, etc.

It's a confusing scenario for the end user, even if tech-savvy, who might not know those sourc

[2022-10-13 11:02] ockham commented on #44659
I just tested this myself by newly inserting a Buttons block into a post created with current Core `trunk` (and a freshly reset database):

## Editor:

![image](https://user-images.githubusercontent.com/96308/195579873-d921536e-a363-4a7e-a8f2-ae66229af055.png)

❌

## Frontend:

![image](https://user-images.githubusercontent.com/96308/195579953-8b8399f5-9018-44c6-98fc-3604c7d1b50e.png)

✅

@scruffi

[2022-10-13 11:04] MaggieCabrera commented on #44931
/cc @WordPress/block-themers

[2022-10-13 11:09] MaggieCabrera commented on #44931
I'm not sure changing the order of the panels is a good solution for this. It will help the user that wants to edit a site, but maybe not one who is building one: a case where you want them editing from the global to the specific. I wonder if there's a way we can inform the user where changes from a block are coming from, so they don't need to think about the "cascade". Maybe this information coul

[2022-10-13 11:11] MaggieCabrera commented on #44931
I can also think of cases where elements are the only way (so far!) to edit the styles of a block partially: this is the case of the search and file blocks. Burying the option to change elements can end up being confusing or having the user change things twice, once in the block and then in the element, defeating the purpose of having the more global solution.

[2022-10-13 11:37] gziolo commented on #44717
@colorful-tones, thank you for opening this issue and making the effort to explain your use case. I agree that it would be great to have more control over where to create the block. Initially, we didn't have any way to distinguish what belongs to the block and what is part of the plugin or project. We changed that a few months back in the anticipation to add support even for multiple blocks. As of

[2022-10-13 12:15] mtias commented on #44931
Yeah, the order and hierarchy is fine, it's just that we should display when there are Block Type styles set by the user or theme that are relevant for the category element you are in — if you are editing the "Headings" element we should show and allow access to the Heading, Post Title, Archive Title, Site Title blocks, etc.

Buttons is the same — when editing the generic element we should show th

[2022-10-13 12:16] mtias commented on #44931
Also related: #44361, #44420.

[2022-10-13 12:43] ntsekouras commented on #44359
So if we have a toolbar button, will be a toggle to remove `caption` if exists? Also can you share the svg we want for this one? Thanks!

[2022-10-13 12:47] mastermind-0xff opened #44937 "symlink error Skipping "./index.js" listed in ".../block.json". File is located outside of the "src" directory."
Hi guys!

When trying to build multiple blocks I got the following error:
[code]

Some investigation led to "...\@wordpress\scripts\utils\config.js" line 256:
[code]
[code]
and "...\@wordpress\scripts\utils\package.js" line 12:
[code]

As a result `filepath` is the symlink path while the `srcDirectory` is the resolved path.

Not sure what the reason for `realpathSync` ussage is, but I guess it sho

[2022-10-13 13:16] jameskoster commented on #44359
I think it would be toggled off by default. Toggling it on reveals the caption input.

It would be nice if the block could "remember" the caption if one was added. That way if you toggle it off by accident you can toggle it on again in one click rather than having to type the caption text again.

Here's the SVG:

[code]

[2022-10-13 13:29] t-hamano commented on #44514
@dashkevych
Thanks for the suggestion.
I think this is the same as #44097, so let's close this issue and focus the discussion on #44097.

[2022-10-13 13:29] #44514 closed, assigned to nobody

[2022-10-13 13:33] t-hamano commented on #44183
I believe this issue has been resolved by #44575 and would like to close it.

[2022-10-13 13:33] #44183 closed, assigned to nobody

[2022-10-13 13:46] t-hamano commented on #44915
Thank you for submitting the issue. I believe it has been resolved by the mentioned PR, so I will close it.

[2022-10-13 13:46] #44915 closed, assigned to nobody

[2022-10-13 14:28] Copons commented on #44931
I know that notices are a lazy solution, but maybe reminding that element styles are overridden by block styles could be a good start. 🤔

I'm having a hard time visualizing this in my mind, especially in a way that wouldn't overload info.

[2022-10-13 14:35] andreaslindahl commented on #25130
I'm still having this problem in 6.0.2 with the additional bug that allowedTypes isn't respected when you select a file from the media gallery either.

I only want to allow selection of images, but even with allowedTypes set to ["image"] I can still select, for example, videos

[2022-10-13 14:52] bradhogan commented on #41824
@carolinan To replicate:
1. Choose any theme you feel has a sufficient theme.json
2. Create a page that does not have a button present anywhere on the page (not in the comments, not in the header, etc.)
3. In the content editor, add `<button type="button">Click Me!</button>` and `<input type="submit" value="hello button" />`
4. Notice the default button styles as applied in theme.json are not full

[2022-10-13 14:57] mtias commented on #44359
I don't think it should be a toggle. If a caption is present, there should be no button. The toolbar button should only show when the caption is empty.

[2022-10-13 15:26] bph commented on #25027
Also, the buttons generated by the various social networks also include tracking information. Not all but many.  It might not be advisable to use their social buttons.

[2022-10-13 15:33] collimarco commented on #10491
This still doesn't work... admin notices are not shown in Gutenberg.

Moreover the linked issue has been closed as completed, but the bug is still present.

Please fix this, so that `admin_notices` works as expected...

[2022-10-13 15:34] collimarco commented on #6388
This issue has been closed, but traditional `admin_notices` don't work in Gutenberg (they are not displayed...)

Please fix this

[2022-10-13 16:41] javierarce commented on #44496
Yes, that sounds totally right 👍

I'll provide designs for the search results because they could potentially behave a bit differently than the current version.

[2022-10-13 16:51] wpsoul opened #44945 "enqueue_block_editor_assets doesn't work for scripts in Iframed preview"
### Description

I checked latest Field Guide 6.1 and I still can't see anything related to issues which are reported by many times over few years.

All scripts are loaded outside Iframe and there is no solution to load scripts or code inside iframe. This makes all script libraries related to scroll, position, drag, animation as broken.

And even worse, regular post editor uses Desktop without ifr

[2022-10-13 16:59] anarieldesign opened #44946 "The Issue with demo import with WP 6.1"
### Description

When importing demo content using WP 6.1 styles are not imported correctly although the same works fine in WP 6.0.2.

Imported content displays the theme's default colors and styling instead of the styling set for that particular demo. However, in the "Site Editor" styles are correctly displayed. Sometimes when I exit the Site Editor the styles are then correctly displayed in the

[2022-10-13 17:09] annezazu commented on #34136
Closing this out as design process has moved into a different format since this was last used.

[2022-10-13 17:09] #34136 closed, assigned to kellychoffman

[2022-10-13 17:12] mtias commented on #44931
Similar to the bottom part here:

<img width="442" alt="image" src="https://user-images.githubusercontent.com/548849/195662213-2538d447-fd01-47c2-a0cf-2c4331231af3.png">

[2022-10-13 17:14] annezazu commented on #44946
cc @scruffian @carolinan @aristath you all in case any of you might be able to investigate this and come up with a possible solution for 6.1. This is definitely a point of concern for block themers for this release and it would be advantageous to have it solved sooner rather than later.

[2022-10-13 17:18] dansdev commented on #44851
Hey @anneazu,

Yeah sure thing, makes total sense. Exciting to see that something similar is already being discussed. Thank you!

[2022-10-13 17:18] #44851 closed, assigned to nobody

[2022-10-13 17:23] dream-encode commented on #44946
Is it possible to reproduce this with a default theme as well?

[2022-10-13 18:25] anarieldesign commented on #44946
Same is happening with Twenty Twenty Two. I just installed the theme with WordPress 6.0 and choose the pink style variation. Exported the xml file. Installed 6.1 on the new installation, installed Twenty Twenty Two and imported xml file and same thing happens

[2022-10-13 18:28] dlh01 commented on #44738
Please also note that there's already a link labeled "View" in the post editor, in the admin bar, which does something different than the button: It goes to the published post on the frontend.

<img width="1385" alt="Screen Shot 2022-10-13 at 2 04 30 PM" src="https://user-images.githubusercontent.com/697432/195673347-a9d8cfe2-1824-484f-b7e4-e561015c54fd.png">

With this change, there are arguably

[2022-10-13 18:31] tomalec opened #44950 "warning package is not compatible with webpack 5"
### Description

`@wordpress/warning` and its [`babel-plugin`](https://github.com/WordPress/gutenberg/blob/trunk/packages/warning/babel-plugin.js) rely on `process.env`. So for `env == 'production'` it's supposed not to show the warning.

The problem is webpack 5 removed `process` variable completely:
- https://webpack.js.org/blog/2020-10-10-webpack-5-release/#changes-to-the-structure

- https://w

[2022-10-13 18:58] mediaformat commented on #27166
@jasmussen You are right, on desktop I prefer the [formtokenfield](https://wordpress.github.io/gutenberg/?path=/story/components-formtokenfield--default&args=__experimentalExpandOnFocus:true) component. On mobile this one does have a more native style UI, compared to formtokenfield

[2022-10-13 19:45] milanchymcak opened #44951 "Localhost Support - get_editor_stylesheets()"
### Description

By default get_editor_stylesheets() will not use styles without https or in style directory. (see: [https://github.com/WordPress/wordpress-develop/blob/6.0.2/src/wp-includes/theme.php#L2136-L2181](https://github.com/WordPress/wordpress-develop/blob/6.0.2/src/wp-includes/theme.php#L2136-L2181)).
While developing on the localhost the function will automatically will not use styleshe

[2022-10-13 20:46] autumnfjeld commented on #44524
Thank you for adding the extra context of the Reading Settings. :)

Maybe `blog-posts.html` (`blog-posts.php`) is the most straightforward template name.

[2022-10-13 20:53] MildMaro commented on #44513
I got the same error.

- wp-env 5.4.0
- Docker 20.10.18
- Docker Compose 2.10.2
- Ubuntu 22.04.05
[code]
I was using docker compose, so i installed docker-compose and tried it and got a different error
[code]
the problem was solved by Enable Docker Compose V1/V2 compatibility mode in the Settings section of Docker Desktop.

[2022-10-13 21:46] strarsis commented on #37930
+1! I currently have to parse the navigation block HTML and replace the `<svg>` element with another one.

[2022-10-13 22:49] richtabor commented on #27100
I'm thinking it _may_ be more useful to register line heights for font sizes (or perhaps additionally). What if we did something more like what Tailwind does, where we could register line heights for font sizes?

That would also solve the issue where headings with font sizes may have proper line height, but paragraph text with font sizes need manually applied line height to look better.

Here's wh

[2022-10-13 22:51] glendaviesnz commented on #44700
it seems a little odd just having a brief view of the visualiser when mousing over to match the same temporary view when adjusting:

https://user-images.githubusercontent.com/3629020/195724744-c33bc520-5107-4448-b4f6-607adfc31473.mp4

seems to work better to keep the visualiser in place the whole time moused over the control:

https://user-images.githubusercontent.com/3629020/195724825-88708e4e-70

[2022-10-13 23:39] zero2webmaster opened #44954 "The Toolbar Should Have Expand & Collapse Ability"
Hi,
The toolbar is big and in the way. Please make it a single square that one clicks to expand or collapse.
https://www.loom.com/share/7cf22a9394cd4d15ad879088b32b1ba1
Thank you!
Kerry

[2022-10-14 00:12] glendaviesnz commented on #44700
A [PoC PR here](https://github.com/WordPress/gutenberg/pull/44955) for the mouseover part of this.

[2022-10-14 00:33] ramonjd commented on #37851
@youknowriad do you think this is still a requirement? Cheers.

[2022-10-14 00:59] ridinghoodmedia commented on #4849
Why is this closed?

@pwkip made a valid point, with a potential solution, and even wrote a plugin.
@roryashfordbentley made the case for the way ACF does things.

Since hearing of this issue, I have not attempted to write any blocks with the Gutenberg system. Instead I use ACF, which seems to have solved the problem completely.

Is there a reason core doesn't just do what ACF does to solve this p

[2022-10-14 01:51] talldan commented on #44700
Agree, that works really well. 👍

[2022-10-14 02:14] ramonjd opened #44957 "Fluid typography: add font size constraints"
Parent issue:

- https://github.com/WordPress/gutenberg/issues/44888

## What problem does this address?

Where fluid typography is enabled, minimum and maximum font sizes in presets can be calculated according to defined `min` and `max` values, e.g.,

[code]

For the above preset, the font size, regardless of the viewport, will not be larger than 2.5rem and it will not be smaller than 2rem.

Wher

[2022-10-14 03:55] carolinan opened #44960 "Add a description field to theme.json style variations"
## What problem does this address?

Sometimes a name or title is not enough to describe the changes in a style variation. Especially if the user has a difficulty using the visual miniature preview.

## What is your proposed solution?

Add an additional description field to the theme.json style variations.
The description would be used in the global styles sidebar, and for the preview of the style

[2022-10-14 04:08] andrewserong commented on #44899
I believe this one could also be related to the Post Template block (where the gap occurs), which will need to be refactored slightly to be able to support blockGap. Here's an existing issue for the Post Template block: https://github.com/WordPress/gutenberg/issues/44557

[2022-10-14 04:38] #28001 closed

[2022-10-14 05:02] aaronrobertshaw commented on #44899
Appreciate the extra background and issue for the Post Template block @andrewserong 👍

It does look like the best course of action is to get that refactor of the Post Template block sorted first before adding any further wrinkles to the mix.

I've added a link to https://github.com/WordPress/gutenberg/issues/43243 under "Known Issues" on the [spacing design tools tracking](https://github.com/WordP

[2022-10-14 05:08] andrewserong commented on #44899
Perfect, thanks @aaronrobertshaw, I think that covers it from both directions now 👍

[2022-10-14 05:13] pratikrm opened #44963 "[keyboard-shortcuts] Uncaught TypeError when using block editor on custom admin page"
### Description

As soon as I type some content in the block editor added on the custom admin page I get this error::
[code]
[code]

My component code is as followed:
[code]

### Solution
Adding a condition to check the undefined value before using the shortcuts variable [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/keyboard-shortcuts/src/hooks/use-shortcut.js#L36) will probabl

[2022-10-14 05:56] aaronrobertshaw commented on #34640
This issue was resolved with the [creation of a Post Author Name block ](https://github.com/WordPress/gutenberg/pull/36001)that adopted font-weight support. That block was also extended to have full typography supports in https://github.com/WordPress/gutenberg/pull/43319

[2022-10-14 05:56] #34640 closed, assigned to nobody

[2022-10-14 06:21] ntsekouras commented on #42834
@Mamaduka is right and personally it makes sense to me when we replace an image. I think a prompt for this use case would be a bit excessive but 🤷 . Maybe a toaster notification in that case could be less intrusive? --cc @jameskoster

[2022-10-14 06:48] jasmussen commented on #44957
Oh yes, good issue. Let's get this bug fixed asap, it makes no sense to not have a size-floor for the default boolean fluid toggle, and the ability to customize this floor on a per-preset basis strikes a great balance.

[2022-10-14 07:04] scruffian commented on #44946
cc @WordPress/block-themers

[2022-10-14 07:23] tellthemachines commented on #43140
Do you mean have the matrix control apply flex properties to the inner blocks, instead of their wrapper? I'm not sure we'd gain much in terms of new flex possibilities. The matrix control works well for a block of content, but it would be hard to leverage it to change to horizontal instead of vertical orientation for instance.

We could keep both the matrix, which positions the content wrapper, an

[2022-10-14 07:24] jasmussen commented on #43140
I do mean having the single matrix cover both vertical and horizontal. But yes, we can separate concerns for now :)

[2022-10-14 07:25] jasmussen commented on #43852
Let's move this to the dev category! @getdave feel free to update the title to reflect the template part mechanics. 🙏

[2022-10-14 07:31] jasmussen commented on #44357
Sounds good. I've updated this issue as marked ready for a dev to tackle it!

[2022-10-14 07:39] aaronrobertshaw commented on #40204
Can someone point me in the direction of the [panel icon](https://github.com/WordPress/gutenberg/issues/40204#issuecomment-1276264434) via a figma link or supply the SVG etc so I might add it to the icons package?

[2022-10-14 07:53] tatasha2004 opened #44969 "Uncaught ReferenceError: Element is not defined"
### Description

Yoast SEO Free -> Readability section is broken in Gutenberg (trunk)

### Step-by-step reproduction instructions

1. Yoast Free 19.8 + Gutenberg trunk
2. Create a new post
3. Check the readability section

Actual result: Readability metabox is not shown
Console Error:
[code]

### Screenshots, screen recording, code snippet

<img width="1728" alt="Screenshot 2022-10-13 at 15 19 43

[2022-10-14 07:54] javierarce commented on #44611
This is a nice improvement, and I can imagine we could incorporate more functionalities in the future (like the responsive preview, filtering by the author, or the report link).

I see there's a red heart in your last asset, does it mean users could favorite published patterns from this interface?

[2022-10-14 07:56] youknowriad commented on #37851
I used to think it might be useful if we decide to drop the old style attribute like "backgroundColor", "gradient"... to consolidate in the "style" block attribute.  I don't know what are your thoughts and current situation there. It might not be needed to change the validation behavior to achieve that.

[2022-10-14 07:57] jasmussen commented on #40204
Sure, here's drawer-right:

[code]

drawer-left:

[code]
<img width="132" alt="Screenshot 2022-10-14 at 09 56 25" src="https://user-images.githubusercontent.com/1204802/195793610-2687d945-1b51-443a-a9cd-f917ab26c134.png">

[2022-10-14 07:58] jasmussen commented on #44611
Mainly it's a screenshot from the directory as it exists. I think we can have as little or as much of the existing functionality in the modal, providing a development gradient to start simple if need be.

[2022-10-14 08:18] getdave commented on #38275
## Update 14th Oct 2022

- [Classic menus will now be auto imported and used as part of the block's fallback mechanic](https://github.com/WordPress/gutenberg/pull/44173/). This is particular useful when switching from a classic Theme.
- This Tracking Issue has been updated to track the wider Navigation project as a whole rather than just the Navigation block.
- The `High priority` items have been

[2022-10-14 08:22] SGr33n commented on #43922
This issue is still present, It's a bug in my opinion, and solving this could help us doing things like showing last posts in a sidebar excluding the post we are viewing.

Thanks.

[2022-10-14 08:30] getdave commented on #43852
@jasmussen I've gone ahead and updated the title and the description to reflect the "template part" route.

However, I don't see this as being ready for dev in the sense that we don't have a clear UX for how the interactions for creating and associating template parts with a given Navigation block will work. There are lots of edge cases to be explored and I believe this will be quicker and more ef

[2022-10-14 08:37] jasmussen commented on #43852
Sure, can you list out a couple of flows that you'd like to see outlined better? The current mockups assume as little UI as possible, as a goal to strive for: you toggle the "Mobile" or "Always" part of the segmented control, and boom: now you have a separately editable overlay with no other action needing to be taken. Do we need user-steps in between?

[2022-10-14 08:49] aristath commented on #44772
Since the issue was addressed in Core, I'll go ahead and close this one.
Thank you everyone who worked on this! ❤️

[2022-10-14 08:49] #44772 closed, assigned to nobody

[2022-10-14 09:33] tomalec commented on #44950
One workaround if to add `new webpack.ProvidePlugin( { process: 'process/browser' } )` to the `plugins` of webpack config.

However, it increases the bundle size, and `@wordpress/warning/babel-plugin` was [meant to reduce it](https://github.com/WordPress/gutenberg/tree/trunk/packages/warning#reducing-bundle-size).

[2022-10-14 10:59] mcsf commented on #44843
Just a reminder that these live in the pattern directory and so should be fixed there, not in the code-bundled patterns.

[2022-10-14 11:05] javierarce commented on #44496
Here's a proposal to show the search results:

The current search in the inserter is global and returns the results in the same order (block, patterns, external blocks) no matter where the user starts the search.

With the search field under the tab control, one option could be to show the top results match the selected tab and the other items appear below as suggestions (maybe with a better headi

[2022-10-14 11:14] collimarco opened #44976 "admin_notices are not displayed in Gutenberg"
### Description

This code works properly on any admin page, but not in Gutenberg:

[code]

The notices are not displayed.

### Step-by-step reproduction instructions

Here's a more complete example (when a new post is published some notifications are sent, and a notice should be displayed to the admin):

1. generate some notices: https://github.com/pushpad/pushpad-wordpress/blob/642f156c87d963573

[2022-10-14 11:34] jasmussen opened #44977 "Padding/Margin visualizer: Incorrect position when scrolled partially past element"
The margin and padding visualizations are the blue overlays that appear on the inside and outside of a block when manipulating margins and paddings.

If you tweak the margins and paddings on a long group, long enough that you may have scrolled partially by it, the visualization can be incorrect. Here's a GIF of a long group and showing how the viewport scroll position affects the placement of the

[2022-10-14 11:53] mirka commented on #44345
Good question! The fact that NumberControl isn't included in `@types/wordpress__components` is not intentional, as far as I know. I think you could even submit it to the [DefinitelyTyped repo](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/wordpress__components) if you wanted to. I don't think anybody is actively making sure that the WP packages types on DefinitelyTyped are u

[2022-10-14 12:07] jameskoster commented on #44359
Won't it be a bit strange if the button just disappears when you click it? 🤔 I guess we can figure it out in the PR :)

[2022-10-14 12:09] jasmussen commented on #44359
Feels [pretty good to me](https://github.com/WordPress/gutenberg/pull/44965#issuecomment-1278574508).

[2022-10-14 12:14] jameskoster commented on #42834
Thanks for the ping.

Whether the caption should be retained really depends on the nature of the replacement.

If you're swapping between totally unrelated images then it makes sense to remove it. But if you're replacing the current image with a slightly different version, or updating something like a product image after a new release, then you'd likely want the caption to remain.

[2022-10-14 12:18] jameskoster commented on #40204
Remember to remove the `fill:#1e1e1e` part 😁

[2022-10-14 12:30] strarsis commented on #42834
The problem is that the image caption is replaced without warning. At least a notification should notify the user that it has been automatically changed.

The image caption is not a static field but a text input that the user can change. This conveys that the caption is customizable and shouldn't just change like a static field.

IMHO when the caption had been modified once, subsequent automatic c

[2022-10-14 12:32] seothemes commented on #44345
@mirka thank you, that's helpful. I will have a go at submitting it to the DefinitelyTyped repo and helping with the exclude list if I can figure out how to submit PRs to Gutenberg.

Over time I have found them to be pretty good - or not that hard to fix when there are breaking changes. Simple ones like the number control I can't see changing too much.

[2022-10-14 12:49] jameskoster commented on #44359
Ah, it's disabled on click and hidden thereafter. That works!

[2022-10-14 13:08] hamishmb commented on #44117
I will try again soon, in a test environment.

[2022-10-14 13:20] mtias commented on #44700
Indeed, let's keep it visible during the whole interaction.

[2022-10-14 13:41] diegosomar opened #44981 "core/post-content block don't shows the correct content in pages (post type)"
### Description

If the `core/query > core/post-content` appears BEFORE the page `core/post-content`, it shows the page content instead the query loop item content.

This issue is probably related with [#42862](https://github.com/WordPress/gutenberg/issues/42862) and [#40743](https://github.com/WordPress/gutenberg/issues/40743).

### Step-by-step reproduction instructions

1. In the page (post typ

[2022-10-14 13:57] t-hamano commented on #44946
I think this issue is the same as #43914 and #43395.

[2022-10-14 14:23] koneweczka commented on #39602
@getdave Can I take it? I think I can do this one :)

[2022-10-14 14:40] getdave commented on #39602
Please do 🙇

[2022-10-14 15:13] zero2webmaster opened #44985 "Gutenberg - Alter Width Of Left Sidebar (List View)"
Hi,
Please enable the ability for admins to alter the width of the left sidebar (list view). Currently it takes up valuable space.
https://www.loom.com/share/ea5dca5808cc4d8894a95985082a49b2
Thanks!
Kerry

[2022-10-14 15:15] zero2webmaster opened #44986 "Gutenberg Needs Margins"
The subject says it all. More info here:
https://www.loom.com/share/75cd2669794540458bab0d71d405141c
Thanks!
Kerry

[2022-10-14 15:21] koneweczka commented on #39602
Ok, so I forked it and here I go :) Can you assign this issue to me?

[2022-10-14 16:30] anarieldesign commented on #44946
Hi @t-hamano, I think it's not the same issue as this one is related to importing demo content, xml file. And when u import .xml file, front-end is not showing the right styles (u can wait and wait) till u click on the edit site and later wait for few minutes 🤷‍♀️🤷‍♀️. This is what happend when I did checks. With 6.0 this is not happening. U immidiately see the right styles on the front when u imp

[2022-10-14 16:36] anarieldesign commented on #44946
With 6.0, importing demo content with our Basti theme and default theme works perfectly and u can see styles immidiately applied on the front. In 6.1 it will not apply till u first click Edit Site 🤷‍♀️🤷‍♀️

[2022-10-14 16:41] pattyok commented on #38990
This is great. The first thing users will ask is where is the Focal Point Picker? It needs to be included in the solution.

[2022-10-14 16:43] annezazu commented on #44738
For context, this was initially done in the Site Editor (view) and ported over to the Post Editor. While I think it's good to have consistency, I can also understand where keeping preview makes sense, especially while previewing isn't possible: https://github.com/WordPress/gutenberg/issues/28208 Since the functionality does exist in the Post Editor, it seems wise to have separation there and keep

[2022-10-14 16:52] Ryokuhi commented on #38723
This issue was reported again in [Trac ticket #56553](https://core.trac.wordpress.org/ticket/56553), and the test report in the ticket shows that this is still an issue as of WordPress 6.1 Beta 1.
As described above, there is a focused element that is only partially visible, so this is indeed an accessibility issue (more information can be found in [WCAG 2.1, Success Criterion 1.4.13](https://www.

[2022-10-14 17:30] annezazu commented on #44957
Added to the Core Editor triage board and noted in the 6.1 release leads channel.

[2022-10-14 18:57] jonathanbossenger opened #44989 "Cannot add blocks to a nested group or row block when editing templates"
### Description

When editing a theme template, if you add a Group block or a Row block inside a Group block (ie a nested Group or Row) it's not possible to add blocks to the nested Group or Row.

### Step-by-step reproduction instructions

1. Edit a block theme template (tested in both tt2 and a newly created block theme)
2. Add a Group block
3. Add a nested Group block inside the parent Group bl

[2022-10-14 19:37] bph commented on #44969
I can reproduce this issue and confirm the error message!
It seems to be originating from this file, though, which is not part of the Gutenberg plugin.
`plugins/wordpress-seo/js/dist/analysis-worker.js?ver=e6a656b3d7af0754331dabe9f8069664`

@tatasha2004 There are two options, where you can connect with the Yoast team

- [Yoast SEO's support forum](https://wordpress.org/support/plugin/wordpress-seo

[2022-10-14 19:37] #44969 closed, assigned to nobody

[2022-10-14 19:54] bph commented on #44989
I can reproduce this.
See the video

https://user-images.githubusercontent.com/39980/195929688-1d0606c7-0456-4092-8abf-e77675fd3209.mp4

I tested a bit further.
Using the Inserter from the left sidebar, drops blocks outside the group block even if it's selected.

My workaround

- add outside the first group block a heading block and a paragraph block.
- made them a group.
- added a new empty parag

[2022-10-14 20:02] bph commented on #44989
This seems to be happening on both, post editor and in the site editor.

[2022-10-14 20:15] dcalhoun opened #44990 "Removing empty List block with delete key fails, leads to iOS crash"
## Description
When attempting to remove an empty List block by pressing the keyboard delete key, the block is not removed on Android and the app crashes on iOS.

## Step-by-step reproduction instructions
1. Add a List block to the content.
2. Pressing the <kbd>Delete</kbd> key.

## Expected behaviour
The List block is removed and replaced with a Paragraph block.

## Actual behaviour
**Android:**

[2022-10-14 22:44] ramonjd commented on #44957
Just to be clear, and to properly plan this task, do folks think this fix should be shipped with WordPress 6.1 or a follow up minor release, e.g., 6.1.1?

Thanks!

[2022-10-15 00:29] jamesmosier commented on #40170
It looks like version 6.1 has some functionality that might help: https://make.wordpress.org/core/2022/10/10/extending-the-query-loop-block/ & https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/extending-the-query-loop-block/

[2022-10-15 01:01] annezazu commented on #44957
I think 6.1 if we can make it :) I don't see a reason not to since it's definitely a bug.

[2022-10-15 01:31] richtabor commented on #44460
I like the block icons as well. Simple/relative and the icons are already there.

[2022-10-15 07:32] anrghg commented on #44445
@glendaviesnz Thanks for removing the Stale label.

It is unclear what information is requested as claimed by github-actions bot.

[2022-10-15 07:42] anrghg commented on #44444
@glendaviesnz Thanks for removing the Stale label.

@skorasaurus Front-end validation is considered state-of-the-art yet may be counter-productive and disturbing like here. This is not a matter of editors since the Classic editor is affected too. (I don’t use routinely the Classic editor, just for test purposes.)

[2022-10-15 08:21] scruffian commented on #40181
Still relevant

[2022-10-15 10:41] carlomanf commented on #37754
@casaschi Sorry for the wait and thank you for following up. There is a new patch for this at #44995 if you are interested to test it. No idea when or if it will be released.

[2022-10-15 18:32] annezazu commented on #42600
Noting that this current experience came up as a pain point a few times in the [seventeenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/):

I've added it as part of the theme switching flows tracking issue as this latest call for testing showed how impactful it would be to resolve.

P.S. it's no

[2022-10-15 18:33] annezazu commented on #39324
In light of feedback from the [FSE Outreach Program's seventeenth call for testing](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/), I've added https://github.com/WordPress/gutenberg/issues/42600 under Navigation above as this feels like an important, high impact item to handle as it relates to navigation and switching from classic to block.

[2022-10-15 18:39] annezazu opened #44996 "Zoomed out view: consider a way of adding to post editor for long posts"
## What problem does this address?

An interesting point of feedback came up in the [seventeenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/#comment-2749):

Since this mode is intended to be invoked during relevant moments (example https://github.com/WordPress/gutenberg/issues/44585), I wonder

[2022-10-15 19:04] annezazu opened #44997 "Templates: make it easier to do template specific style changes"
## What problem does this address?

In the [seventeenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/#comment-2749), the following feedback came in that reflects a likely common action someone might want to take: change the color scheme for a single template.

Here's a quick video showing how it

[2022-10-15 19:26] annezazu commented on #43856
Noting that this came up in the [seventeenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/#comment-2751) with one tester accidentally importing multiple times before realizing what went wrong.

[2022-10-15 20:15] annezazu commented on #44585
Updated the title to say "inserter" as I think that's what you meant :) Feel free to update if I got that wrong.

[2022-10-15 20:31] annezazu commented on #40319
More feedback from the seventeenth call for testing for the FSE Outreach Program to pass along:

TLDR: folks definitely are keen to see both a delete and replace option visible when in this view.

[2022-10-16 00:05] #34832 closed, assigned to kevin940726

[2022-10-16 02:11] jonkurtis commented on #43464
I was able to reproduce the issue (returned a 400 error) when there are more than 20 tags that contain the same word. For instance, I have  more than 20 tags that contain "UF Health" because I have tags for guest authors with "UF Health" at the end like a byline. Because I have more than 20 tags that contain this phrase, and the autocomplete only contains 20  existing tag suggestions, it does not

[2022-10-16 03:40] utopicchaotica commented on #28032
Adding my 2 cents here.

I'm using the workaround from a theme developer context, which makes using the i18n.gettext hook within a custom post type check not possible (I'm changing the title and description of the excerpt box) as the excerpt box seems to be rendered prior to the workaround call.

[2022-10-16 09:03] seothemes commented on #44946
Hi @anarieldesign, I think transients could be causing the issue.

Commenting out line 431 of `wp-includes/class-wp-theme-json-resolver.php` fixes the issue for me.

The name is dynamic, but it should be possible to clear the transient on the `after_import` hooks in both Merlin and the WP Importer. I'll share what I come up with.

Hopefully there's a way to fix in core so the workaround isn't requ

[2022-10-16 09:20] seothemes commented on #44946
That's no longer working, maybe I was on an earlier 6.1 version. Not sure why it worked that time but I'll keep looking into it.

[2022-10-16 15:00] BE-Webdesign commented on #44977
https://github.com/WordPress/gutenberg/pull/44998 Fixes this.

[2022-10-16 15:04] jtoelli commented on #44653
I came here after looking for a way to add "narrow" as a align option similar to "wide" and "full" for core blocks like group/columns.

I totally agree there needs be at least a "narrow" option that can be enabled similar to "wide/full" or even better being able to define custom ones as you need them.

If anyone knows a way how this can be accomplished please share.

I will be watching this thread

[2022-10-16 15:53] skorasaurus commented on #44444
I don't disagree; the needs technical feedback label is used to designate issues that need attention from developers so that they can give feedback on why things they are, from a technical perspective.

[2022-10-16 19:05] anrghg commented on #44444
@skorasaurus Thanks for explaining. Providing such feedback may not be easy. I see a chance the feature was implemented only for the sake of making the editors more state-of-the-art, regardless of coming across the `sanitize_title` hook's purpose.

[2022-10-16 19:52] glendaviesnz commented on #44445
The bot notice was added in error, you can ignore it.

[2022-10-16 20:01] glendaviesnz commented on #44986
Thanks for reporting this. With the default theme TwentyTwentyTwo the editor does have margins around the content:

<img width="1470" alt="Screen Shot 2022-10-17 at 8 59 27 AM" src="https://user-images.githubusercontent.com/3629020/196055510-8d98308c-ee14-48d6-b536-2b14305bf470.png">

so what you are seeing might be a theme related issue. What theme are you using?

[2022-10-16 21:20] ramonjd commented on #37851
Thanks for the quick reply.

I don't have much to say aside from that I haven't noticed any need for it so far.

Maybe we can close this issue and come back to it if a use case arises. What do you reckon?

[2022-10-16 23:12] andrewserong commented on #37851
Me either. I think it'll be a useful feature for if and when we ever want to switch over inline styles to be run in server-rendering instead of being stored in post content (e.g. like we now do for fluid typography output, or sort of similar to how we handle the layout support).

I still think it'd be pretty neat if we could have the style output be server-rendered, so that eventually we could giv

[2022-10-16 23:25] andrewserong commented on #43140
Just a quick thought on the switcher — I believe we'll likely want to wind up using it for the Post Template block when it comes to the layout refactor for that block (https://github.com/WordPress/gutenberg/issues/44557) in order to enable switching between the grid/flex and flow / constrained layouts? So, if we wind up dusting off the layout type switcher for the Cover block, I'm sure we'll find

[2022-10-17 01:49] talldan commented on #44374
If it can't be done in one PR, I think it should be ok to make two PRs. One targeting the `wp/6.1` branch, and another targeting `trunk`. The one targeting `trunk` could have the backport label, but then let the release leads know that rather than cherry-picking they can merge the first PR and not have to solve conflicts.

[2022-10-17 01:53] tellthemachines commented on #25228
Hi there @TeamDNK ! I'm afraid this is a known issue with no certain timeline to be fixed. You can read more about it in #13998. I'm going to go ahead and close this one as it's essentially a duplicate of #13998, but please feel free to reopen if this doesn't answer your question!

[2022-10-17 02:11] andrewserong commented on #44985
Thanks for raising the suggestion @zero2webmaster! It looks like the list view currently expands to fill the nested hierarchy of the blocks in the post. With your idea of being able to drag / constrain the list view sidebar to a particular width, would you imagine that we'd then have a horizontal scrollbar for navigating into the deeper levels of the block hierarchy? I imagine it could be tricky t

[2022-10-17 02:19] talldan commented on #44976
Some history here as to why admin notices aren't shown - https://github.com/WordPress/gutenberg/issues/12243, https://github.com/WordPress/gutenberg/pull/12444.

My feeling is that this is the right decision. Like the customizer (which also doesn't display admin notices), the editor isn't a typical admin screen. Admin notices are still there for the user in the admin interface. I'll also invite so

[2022-10-17 02:31] talldan commented on #44963
I can't reproduce this in the block editor playground example in the storybook - https://wordpress.github.io/gutenberg/?path=/story/playground-block-editor--default, and that seems to be what the example is based on.

You do need to make sure `ShortcutProvider` is rendered whenever using shortcuts. It does seem to be in that code snippet, but if your code differs in any way that might be the cause

[2022-10-17 02:38] synyan opened #45001 "How to turn off welcome page & other plugin blocks permanently?"
Whenever I login to my site, the welcome page and other plugin blocks pops up instantly, even if I turn them off at site.
How could I turn them off permanently? I already tried a lot of ways!
<img width="1440" alt="scn2022-10-17 10 36 35" src="https://user-images.githubusercontent.com/1881095/196077334-40c7874a-a783-4e46-b4e4-9fe89e1e7ac2.png">
<img width="745" alt="scn2022-10-17 10 37 10" src="ht

[2022-10-17 03:15] talldan commented on #38723
Did some investigation, I think it may have changed after https://github.com/WordPress/gutenberg/pull/34956. Since that PR some popovers are using a different slot than they previously did. Possibly that PR affected more popovers than it needed to.

Reverting some of the code does make the popover appear differently:
![Screen Shot 2022-10-17 at 11 03 46 am](https://user-images.githubusercontent.co

[2022-10-17 03:33] talldan commented on #41178
I'm sure I remember seeing this reported for the buttons block too, but I can't find it now.

[2022-10-17 03:44] tellthemachines commented on #25360
Not 100% sure I'm understanding the question correctly, but if you're trying to add extra classnames to the components-panels, there's no way of doing that.

However, it is possible to remove some of those panels conditionally on the post template, using JavaScript.

Try these out in the browser console:

`window.wp.data.select('core/edit-post').getEditedPostTemplate()` - this will get you all the

[2022-10-17 03:54] andrewserong commented on #44954
What an interesting challenge, thanks for raising the suggestion @zero2webmaster! From your linked video, it appears that there are a number of plugins extending the controls of the toolbar, which seems to be adding to the problem, too?

For the immediate case of the site you're working on, I wondered if you know about the setting to move the toolbar to the top of the screen? For cases where the t

[2022-10-17 04:14] tellthemachines commented on #26315
Changing the post autosaving behaviour might produce unexpected results, but a possible workaround would be to generate something saveable by modifying a block attribute on every change, or every few changes - incrementing a number, for instance. Would that work?

[2022-10-17 04:32] ramonjd commented on #45001
How could I turn them off permanently? I already tried a lot of ways!

As far as I know the welcome guide will appear until it's been dismissed.

How are you trying to turn them off? There is no UI toggle as far as I'm aware.

There are ways to turn it off programmatically. For reference. see the preferences package's API: https://github.com/WordPress/gutenberg/blob/trunk/packages/preferences/READ

[2022-10-17 04:37] ramonjd commented on #44951
👋 I think this might be better suited as a WordPress Core ticket: https://core.trac.wordpress.org/newticket

The function annotations mention `@since 4.0.0`, and the block editor/Gutenberg was introduced in 5.0.

[2022-10-17 04:41] ramonjd commented on #44922
Might be one to look at under https://github.com/WordPress/gutenberg/issues/44720 ?

Do you think this will be addressed by https://github.com/WordPress/gutenberg/pull/43504 @tellthemachines ?

[2022-10-17 04:49] tellthemachines commented on #27357
At first glance, it looks like you're populating `articlePosts` inside `getArticleQueryBuilderData` which is running asynchronously, so it's likely that `getInspectorControls` is returning before it's finished running.

Your best is probably to add `articlePosts` to component state and run the fetch operation inside `componentDidMount`. Or else if you can use hooks instead of a class component, yo

[2022-10-17 05:29] zero2webmaster commented on #44954
Hi Andrew,
I am aware of the ability to have the controls at the top of the screen,
but when it is there one cannot easily drag an item up and down. Even if I
had fewer plugins, the controls would still always block the text above my
block, which is almost always important text to see. So expand collapse
would be a great help. If the feature has a right arrow, people would
likely know it can be ex

[2022-10-17 05:32] zero2webmaster commented on #44985
Hi Andrew,
I don't think a horizontal scrollbar would be needed, as the sidebar could
be expanded to the right if needed.
Notion (https://notion.so) has a left sidebar that works this way.
Kerry

On Sun, Oct 16, 2022 at 10:11 PM Andrew Serong ***@***.***>
wrote:

[2022-10-17 05:34] zero2webmaster commented on #44986
Currently Astra. If it persists on other themes, I will let you know.

[2022-10-17 05:44] andrewserong commented on #44954
Thanks for clarifying! That's a good point about the drag controls, let's see what some designers think.

[2022-10-17 05:58] andrewserong commented on #44985
be expanded to the right if needed.

Thanks for the example link! For any designers who might be looking on, Notion appears to handle this in an interesting way. When the List View sidebar is in its most narrow width, the item truncation appears to be pretty aggressive, and very deeply nested items will be cut off, with no horizontal scrollbar available (which could also be a potential accessibili

[2022-10-17 06:07] tellthemachines commented on #44922
@kavyagokul thanks for reporting this! I can't reproduce it on trunk with Twenty Twenty Three theme. Can you reproduce it with one of the default themes? If not, it's likely a theme issue.

[2022-10-17 06:14] carolinan commented on #41824
And if you include the expected CSS class wp-element-button?
What does this mean "in the content editor" : Is it a paragraph? A HTML block, or a custom block?

[2022-10-17 06:53] carolinan commented on #43163
I believe this is working as intended, that it is the purpose of the excerpt to display (part of) the content without this kind of formatting?

[2022-10-17 07:29] tatasha2004 commented on #44969
@bph do you know when the current trunk will be released? I haven't found the release calendar.

Thank you in advance.

[2022-10-17 07:57] jameskoster commented on #44996
We'll get this for free when https://github.com/WordPress/gutenberg/issues/44461 is closed :)

[2022-10-17 08:10] carolinan commented on #44989
I can reproduce this on WP 6.1-RC1-54520, with and without Gutenberg active.
**FSE theme:** I can reproduce it in the block editor, so not only when editing templates.
**Classic theme:** I can **not** reproduce it in the block editor, I can see the inserter button in the nested group.

[2022-10-17 08:11] aaronrobertshaw commented on #40204
Proof of concept PR is up in https://github.com/WordPress/gutenberg/pull/45005.

[2022-10-17 08:24] talldan commented on #44357
I'll start taking a look at this one, but open to collaborating with other devs along the way. I think where I'll start is creating the visualizer, and I imagine it to be quite similar to the padding/margin visualizer implementation.

I'd hope it wouldn't then be much of a stretch to also visualize the widths when hovering over the items in the alignment control:
![Screen Shot 2022-10-17 at 4 20 4

[2022-10-17 08:32] johngodley opened #45009 "Link popup is misplaced if editor is not focussed"
### Description

If the editor itself isn't focussed then the link popup UI appears in an incorrect position.

![image](https://user-images.githubusercontent.com/1277682/196125903-fab447e1-56c6-4ce5-a734-8a8d0e950095.png)

### Step-by-step reproduction instructions

1. Start a new post and enable top toolbar mode
2. Click into the first paragraph to show the formatting tools
3. Click out of the pa

[2022-10-17 08:37] #31693 closed, assigned to nobody

[2022-10-17 08:39] #23707 closed

[2022-10-17 08:45] #18501 closed

[2022-10-17 08:52] fluiddot commented on #44990
I tested on version 20.9 and the issue can't be reproduced, so definitely this is a regression on version 21.0.

[2022-10-17 08:53] getdave commented on #38275
Excellent. I've been searching for that Issue and now you've found it for me! Much appreciated. Proposed added to `Normal` pending feedback from the community on our priorities for WP 6.**2**.

[2022-10-17 08:57] getdave commented on #42600
@annezazu I believe https://github.com/WordPress/gutenberg/pull/44173 does partly solve this issue as it will import the most _recent_ classic menu if no block-based menus exist.

It does not import based on `primary` though so that's something to look out for.

In the future we might make it import from `primary` or explore other heuristics to try to ensure the "correct" menu is utilised in the b

[2022-10-17 09:18] #44834 closed, assigned to ciampo

[2022-10-17 09:19] ockham commented on #43660
@c4rl0sbr4v0 has filed #44943 to fix this 🙂

[2022-10-17 09:32] carolinan commented on #44981
I am able to reproduce this with WP 6.1-RC1-54520, with and without Gutenberg active. I tried with a few different block themes.
- It only affects the first post in the query
- It doesn't happen with the post excerpt, only content
- It doesn't make a difference if the page is set as the home page or not (reading settings)

[2022-10-17 09:48] oandregal opened #45013 "Localized patterns are loaded twice in the inserter"
### Description

When using a localized WordPress, the pattern inserter shows both localized patterns and unlocalized (english).

### Step-by-step reproduction instructions

- Use a localized WordPress version. For example, set WordPress to Spanish.
- Add a new post and open the pattern inserter.
- Open the modal.
- Navigate the "Featured"/"Destacados" until you see the "Medios y texto con imagen

[2022-10-17 09:55] scruffian commented on #44946
@ajlende @andrewserong do you think this could have been broken by some of the changes to the caching recently?

[2022-10-17 10:06] youknowriad commented on #37851
Agreed.

Let's close for now.

[2022-10-17 10:06] #37851 closed, assigned to nobody

[2022-10-17 10:15] ockham commented on #44659
@scruffian pointed out to me that #44731 didn't make it into Core -- it's a PHP change, so it will need a manual backport 😅

[2022-10-17 11:14] collimarco commented on #44976
Maybe you can get the notices automatically from the `admin_notices` hook and display them (using JavaScript or anything else): what do you think?

To be honest it seems impossible / extremely complex to display a notice in Gutenberg with current state. Where are you supposed to put that JavaScript code? How can you fetch the message to display from the backend (`get_option` doesn't work in the cl

[2022-10-17 11:41] spacedmonkey commented on #17025
There are number of uses includes, that should be extremely simple to change to es7 includes.

[2022-10-17 12:07] ellatrix commented on #26800
This probably just uses the browser input events. Removing rich text and writing flow cause I don't think this needs any changes there.

[2022-10-17 12:35] ellatrix commented on #40769
We removed this inserter in #43954.

[2022-10-17 12:35] #40769 closed, assigned to nobody

[2022-10-17 12:37] ellatrix commented on #39359
I can't reproduce here. Copy pasting coloured text works fine in lists. Could you retest with the latest Gutenberg release. Maybe the list rewrite fixed this.

[2022-10-17 13:30] ndiego commented on #44957
Yeah, I second a 6.1 inclusion if possible. Personally, I feel that Fluid Typography is a banner feature for 6.1 and it would be good to get it as polished as possible.

[2022-10-17 13:36] ndiego commented on #44989
I can reproduce can well.

[2022-10-17 14:23] javierarce commented on #44776
Since the outlines will still appear in the Select mode, I would vote for [the option that removes the borders](https://github.com/WordPress/gutenberg/pull/44774). It would be great to have a keyboard shortcut to switch back and forth between modes easily.

[2022-10-17 14:30] scruffian commented on #37031
@scruffian can I ask why was 50 decided upon

 This felt like the right compromise between two difficult positions. If we tweak it either way, then the other case will be even more broken.

[2022-10-17 15:05] github-actions[bot] opened #45029 "[Flaky Test] can be edited"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can be edited

## Test path
`specs/editor/various/links.test.js`

## Errors

<time datetime="2022-10-17T15:05:16.093Z"><code>[2022-10-17T15:05:16.093Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg/actions/runs/3266097834

[2022-10-17 15:05] github-actions[bot] opened #45030 "[Flaky Test] should display text input when the link has a valid URL value"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should display text input when the link has a valid URL value

## Test path
`/test/e2e/specs/editor/blocks/links.spec.js`

## Errors

<time datetime="2022-10-17T15:05:16.872Z"><code>[2022-10-17T15:05:16.872Z]</code></time> Test passed after 1 failed attempt on <a href="https

[2022-10-17 15:13] willrowe commented on #38723
Isn't that the point of a _popover_ though? It's supposed to appear _over_ all other content while in it is currently the active context. If there's enough room on the screen as a whole, I see no need to try to make it responsive, since that would just make it less accessible. The main issue is that it is currently appearing **under** the sidebars, which makes it unusable in some cases. I don't se

[2022-10-17 15:16] getdave opened #45031 "Remove legacy code routes from Navigation block codebase"
Refactor the code so that direction sw.itches visible in code – for instance legacy placeholder, default behavior with uncontrolled blocks.

[2022-10-17 15:17] getdave opened #45033 "Remove duplicate code from Navigation block"
Refactor instances of duplicate code from the block where this has potential to cause regressions and bugs.

Let's not over optimise this but tackle the low hanging fruit only.

[2022-10-17 15:19] getdave opened #45034 "Merge and split hooks in the Nav block"
The block has a lot of overly complex hooks. Let's break these down and make them easier to reason about.

[2022-10-17 15:20] getdave opened #45036 "Audit Navigation block code and remove unused parts"
Audit code and remove unused parts (e.g. recently we found the navigation link had a view file which was never loaded, deprecate experimental APIs if any)

[2022-10-17 15:23] scruffian opened #45037 "Navigation block: Separate code that handles classic menus"
Classic menu code is tightly intertwined with code that handles wp_navigation menus. It would be helpful to separate this to make it easier to reason about each of them independently.

[2022-10-17 15:23] javierarce commented on #44420
I love this idea! And I know that the image above is a concept but if users can interact with the right sidebar, showcasing the examples on a modal could be weird since, in any other context, modals get closed when clicking outside.

I can see this working more similarly to a focus mode, where the example document is embedded in the canvas.

In any case, this will be super helpful.

[2022-10-17 15:26] scruffian opened #45038 "Navigation: Demonstrate correspondence between front and backend code more clearly"
There is a lot of code in PHP and Javascript which does the same things. We should create a cleaner and more understandable correspondence between front end and back end functions that deal with menu data. We can achieve this by using common naming conventions and clearly relating one function in PHP to the corresponding one in JS via comments. We could also use the same function names where possi

[2022-10-17 15:29] scruffian opened #45039 "Navigation: Improve readability by refactoring the logic around fallbacks"
The navigation block does different things depending on the state of the user's site - do they have any wp_navigations? Do they have a classic menu? etc. It's very hard to understand this behaviour by reading the code. We should refactor it so that these direction switches are visible in code. For instance legacy placeholder, default behavior with uncontrolled blocks etc.

[2022-10-17 15:45] ockham commented on #44659
https://github.com/WordPress/wordpress-develop/pull/3481

[2022-10-17 15:54] Nyiriland opened #45040 "Allow user to change breakpoint for mobile menu"
### Issue
Currently, the default breakpoint for the mobile menu is under 600px. This means that desktop header navs with long menus generally wrap in a very unattractive way before the breakpoint kicks with a hamburger button. See exaggerated example:

<img width="656" alt="image" src="https://user-images.githubusercontent.com/3835008/196220634-caa2b229-8190-47c6-8c5b-240c84c6d62f.png">

This is o

[2022-10-17 16:22] kathrynwp commented on #39200
@getdave Probably lower priority!

[2022-10-17 16:56] javierarce commented on #44418
Here are two ideas for the copy and paste interface:

1. Obvious solution: we list the new options under the Copy block element:

![image](https://user-images.githubusercontent.com/4933/196230961-37d1d733-34c5-48d1-bc9c-00639a06d879.png)

We could also group the copy and paste options

![image](https://user-images.githubusercontent.com/4933/196237317-6b526615-599e-431a-9cf0-c36b56e6445c.png)

I've

[2022-10-17 17:24] annezazu commented on #44997
This use case should be addressed in part by https://github.com/WordPress/gutenberg/issues/40318

[2022-10-17 17:41] x4fingers commented on #44019
@ntsekouras please take a look at [my example page](https://bvmat.cabdemo.tk/goi-dich-vu/). If you click page 2 or next page of a random category you will understand what I'm describing.

[2022-10-17 18:17] #38468 closed, assigned to nobody

[2022-10-17 18:20] #44419 closed, assigned to jorgefilipecosta

[2022-10-17 18:23] dcalhoun commented on #44990
This regression appears to have originated from #43181. I am researching further.

[2022-10-17 18:24] jhnpldng01 commented on #33989
Also affects the following plugins. BasePress(inner kb pages), WCFM Frontend Manager(dashboard page) & Youzify(front end page)

Use any of those in conjunction with any FSE theme, including 2022, and the Header/Footer Template Parts go bye bye on their front end pages.

[2022-10-17 19:29] anton-vlasenko commented on #44151
I had to postpone work on the task due to more urgent tasks.

[2022-10-17 19:48] annezazu commented on #44996
Ah true! I think the only issue is around _when_ the mode would be invoked for longer posts, since it's not meant in the long run to be a tool to toggle on/off afaik.

[2022-10-17 19:59] kathrynwp commented on #44577
Duplicate of #31390

[2022-10-17 19:59] #44577 closed, assigned to nobody

[2022-10-17 20:08] haszari commented on #34865
I too have this need! Would love to set up a default image for all posts so I can have a consistent layout, e.g. an instagram style grid of square images (or random colours, overridden with JavaScript or CSS). I love the idea of using my blog as the primary social / sharing site, and leaning away from ad-supported platforms like Instagram and Twitter - but I also want the best layouts and design f

[2022-10-17 20:15] kathrynwp commented on #45040
related: #42305

[2022-10-17 21:50] ramonjd commented on #44957
Interested to hear opinions on how we deal with user-defined font sizes that are smaller than the prescribed minimum. Discussion over on the PR: https://github.com/WordPress/gutenberg/pull/44993#issuecomment-1281537580

cc @mtias

[2022-10-17 21:55] ockham commented on #44946
cc/ @oandregal @c4rl0sbr4v0 in case this rings a bell since it _might_ be related to https://github.com/WordPress/wordpress-develop/pull/3418.

Note https://github.com/WordPress/gutenberg/issues/44946#issuecomment-1279926293:

but also https://github.com/WordPress/gutenberg/issues/44946#issuecomment-1279929994:

[2022-10-17 22:50] dmsnell opened #45049 "@wordpress/no-unused-vars-before-return should allow partial use of destructured arrays"
### Description

The `no-unused-vars-before-return` lint rule rejects the following construction.

[code]

Destructuring array values can bring clarity to code due to the way the values are related. Avoiding this lint rule implies either adding an exclusion comment or separating those related statements in ways that degrade code readability (by disconnecting relationships that are inherent and/or

[2022-10-17 23:09] tellthemachines commented on #44989
This is a regression caused by the styles added in  #44660; I'm looking at a fix now.

[2022-10-17 23:44] tellthemachines commented on #33112
Hi there! Setting `name` in `.wp-env.json` (or in `.wp-env.override.json` if you want it to persist as a local env setting) _should_ work. I'm marking this as a bug as it's not working for me locally either.

What you can do as a temporary workaround is run `wp-env run cli wp option update blogname "Everest\ Forms"` in the CLI just after you `wp-env start`.

[2022-10-18 00:21] tellthemachines commented on #34082
@stephanieflores could you please add step-by-step reproduction instructions? E.g.:

1. Start a new post
2. Add a Paragraph and paste a link into it...

Otherwise it won't be possible to work out what is happening.

[2022-10-18 00:52] #44989 closed, assigned to tellthemachines

[2022-10-18 01:02] talldan commented on #44418
The other option that came to my mind is something that works a bit like 'Paint format' does in a spreadsheet, where you can copy from one block and click/select the other block to apply.

[2022-10-18 01:10] tellthemachines commented on #36970
Hi @scofennell ! You'll want to use something like:
[code]
Let me know if this helps!

[2022-10-18 01:13] ramonjd commented on #26121
Have you looked at the following filters?

[wp_content_img_tag](https://developer.wordpress.org/reference/hooks/wp_content_img_tag/) might help, e.g.,

[code]

Others that may be applicable include:
- [wp_calculate_image_srcset_meta](https://developer.wordpress.org/reference/hooks/wp_calculate_image_srcset_meta/)
- [wp_calculate_image_srcset](https://developer.wordpress.org/reference/functions/wp_

[2022-10-18 01:31] andrewserong commented on #44946
The note in the PR description that it takes a few minutes for changes to appear points to it being potentially related to transients rather than the change in https://github.com/WordPress/wordpress-develop/pull/3418 (which should be refreshed on each page load?)

Looking through recent commit history in `wordpress-develop`, I see there's this one https://github.com/WordPress/wordpress-develop/pul

[2022-10-18 03:10] talldan commented on #38723
That's not quite the point I'm making. I don't think it's great for the popover to overlap the sidebars when it doesn't need to (i.e. when there's enough space in the editor content area for the link popover). Typically most themes have a lot of margin, so it usually isn't much of an issue in the post editor. That isn't the case in the site editor where content can be very close to the edge. If th

[2022-10-18 04:03] annezazu commented on #41178
Guessing it's this @talldan :) https://github.com/WordPress/gutenberg/issues/28217

[2022-10-18 04:11] tellthemachines commented on #39451
Hi, I can confirm this is the right place to post that issue :)

I'm afraid we don't currently have a slot that allows for inserting panels in the Template sidebar. To add any type of panels to the site editor, you'd have to create your own sidebar with `<PluginSidebar>`.

I'm going to tag this as a feature request for a new `<PluginTemplateSettingPanel>` and see if we can get some feedback on it.

[2022-10-18 04:41] anarieldesign commented on #44946
It's not just that it takes few minutes to appear. When u import the .xml file and u stay on the front-end it will not show the right style till u first click on the edit site. And then u need to wait for few minutes @andrewserong

[2022-10-18 05:15] tellthemachines commented on #37642
Hi there! I'm not sure I get what you're trying to do. Do you want to load different styles and scripts for a specific block depending on which editor it's in? Would this be easier to solve by splitting those different functionalities into different blocks?

To answer the question of how to detect the environment, in PHP you can check which admin page you're on with [get_current_screen](https://de

[2022-10-18 05:18] tellthemachines commented on #43159
@Resolution-Sam did the above answer your question? If so it would be good to close the issue now.

[2022-10-18 05:29] ntsekouras commented on #44019
Oh.. I think I got your problem now and I believe it's related to https://github.com/WordPress/gutenberg/issues/29693, which we should revive. By checking your provided link I saw that both `Query Loop` blocks share the same `queryId`(19 in your case). This id is what is used in pagination blocks to make multiple blocks paginate properly. So my guess is you created the first Query Loop block and c

[2022-10-18 05:31] tellthemachines commented on #28137
@dikium you can add attributes to blocks with the [registerBlockType ](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#blocks-registerblocktype) filter..

[2022-10-18 05:48] talldan commented on #44357
An early version of the visualizer in #45056. Feel free to adjust the styles @jameskoster @jasmussen.

There's no snapping yet, that'll be a challenge on its own 😄

[2022-10-18 05:49] mxkyb commented on #33346
Same here. Any solution to this? as far as i can see, there still is no possibility to hook into the block editor?

[2022-10-18 06:49] talldan commented on #41178
That's the one 😄

[2022-10-18 07:15] #44977 closed, assigned to BE-Webdesign

[2022-10-18 07:35] talldan commented on #45001
@synyan What WordPress version and Gutenberg plugin version are you using?

In older versions of the plugin it will be shown again when you clear bowser data. In more recent versions of the plugin and the upcoming WordPress 6.1 the preferences will be saved to the database, so it shouldn't ever come back again.

[2022-10-18 07:42] talldan commented on #44976
Wouldn't that reintroduce the issues I mentioned above?

Seems a bit excessive when one line works:
[code]

[2022-10-18 07:43] synyan commented on #45001
Hi @talldan
My WordPress' current version: 6.0.3.
Thank you!

[2022-10-18 07:59] #44508 closed, assigned to joshuatf

[2022-10-18 08:33] javierarce commented on #44024
I updated the original issue above to show the proposed position of this section in the sidebar: currently, we show the Display section under Layout and Menu, but it should appear above Layout since Display defines the basic appearance and behaviour of the navigation.

[2022-10-18 08:38] glendaviesnz commented on #44986
I am going to close this for now, but feel free to re-open it @zero2webmaster if you do notice it persisting across themes.

[2022-10-18 08:38] #44986 closed, assigned to nobody

[2022-10-18 08:53] x4fingers commented on #44019
Thank you @ntsekouras. The problem is solved.

[2022-10-18 08:53] #44019 closed, assigned to nobody

[2022-10-18 09:12] jameskoster commented on #44420
Absolutely, the focus mode would work much better. It could even trigger automatically when you open the Styles panel and offer a switcher UI in the dark canvas area.

[2022-10-18 09:23] jameskoster commented on #44996
There are certainly situations in which the canvas should zoom out automatically, I'm not sure editing long form content qualifies though. It feels more like a situation where you'd adjust the zoom manually, based on what you're doing within the context of that post.

[2022-10-18 09:23] iamtakashi commented on #22071
It'd be great if we could tackle this item soon. It's a struggle to add a search field in the header in a way that works well with small screens. And this will help a lot.

[2022-10-18 09:34] jameskoster commented on #44418
I wonder if we could group all the copy/paste actions into a single flyout?

That might be useful in the future if we decide to allow block _settings_ to be copy/pasted independently as well.

[code]

[2022-10-18 09:44] javierarce commented on #44418
That was more or less the first thing I tried, but then I noticed we don't give the option to paste blocks (because of privacy concerns, I suppose).

![image](https://user-images.githubusercontent.com/4933/196394955-ae5553c6-7d07-48e6-af60-88acee9b3641.png)

But now that I think of it again, a possible workaround to avoid asking for clipboard permissions could be to store the copied block in the L

[2022-10-18 09:48] ntsekouras commented on #44496
Thanks for [the mock ups](https://github.com/WordPress/gutenberg/issues/44496#issuecomment-1278857887) @javierarce! I think they can be extracted to a separate issue, as they do not depend on this one.

Having said that I'm not sure what are we going to do with the `Media` tab search. I have updated the [description of my PR with video](https://github.com/WordPress/gutenberg/pull/44918).

Will be

[2022-10-18 10:03] mikachan opened #45065 "Table Block: default border in editor but not on front end"
### Description

The Table block has a border by default when inserted in the editor, but there is no default border on the front end.

| Editor | Front end |
| ----- | ---------- |
| <img width="685" alt="image" src="https://user-images.githubusercontent.com/1645628/196399558-bd7abee9-a637-4a2d-a628-6e492a5a4d83.png"> | <img width="1229" alt="image" src="https://user-images.githubusercontent.com/

[2022-10-18 11:34] richtabor commented on #44776
Agreed. I find them noisy/distracting for sure.

What’s the purpose of the different interactions here, between the site and block editors? Because of the header/footer parts?

[2022-10-18 11:58] mxkyb commented on #33346
I have not found a solution for the svg sprite problem. As far as i can see, the duotone uses react context api to inject some svg files into the iframe. But svg sprites normally come from a build step and are either automatically injected by the build tool, or exported as a seperate file. The places where i have access to the sprite are either outside of the iframe, because it is in the documents

[2022-10-18 12:07] amustaque97 commented on #45033
Hey @getdave, I would love to take a look at it. If no one is working on this I can take this up. 🙂

[2022-10-18 12:12] collimarco commented on #44976
@talldan Ok, but what is thee "official" way to display a notification to the admin generated in the backend (i.e. the source of the message is from PHP and not JavaScript)?

For example, let's say that you send some emails when a post is published (in publish_post), how can you display a notice to the admin about the successful/unsuccessful sending of those emails? You are inside a PHP function,

[2022-10-18 12:29] getdave commented on #45033
@amustaque97 Absolutely. PRs are very welcome. The aim here is to remove obvious duplication. I don't think we need to take this too far and abstract everything because that may result in increased complexity, but there are opportunities for removing obviously repetitious code.

Thank you 🙇

[2022-10-18 12:49] willrowe commented on #38723
I think it's fine to adjust it when possible to not overlap, but my point is that having it not overlap as a rule, at the expense of accessibility, doesn't make sense. The top priority should be accessibility, then try to prevent overlaps where reasonable.

While it is true that it doesn't leave much usable space, I would leave it up to the user whether they want to hide or show sidebars. There is

[2022-10-18 13:06] ShahriarKh commented on #26223
This is one of the most basic things that Gutenberg should be able to handle and I don't know why is the issue closed. Even if it's not going to be implemented soon, please let us know how to disable the behavior with a plugin or something.

[2022-10-18 13:17] Mamaduka commented on #39964
Still relevant.

[2022-10-18 13:19] Mamaduka commented on #25130
Hi, @andreaslindahl

Can you share an example code from your plugin?

Core blocks use the same prop/settings, and I cannot reproduce the issue there.

[2022-10-18 13:24] Mamaduka commented on #43464
Thanks for the feedback, @jonkurtis!

Receiving the 400 error is okay in that situation. It means that WP found an existing tag matching the name and assigned it to the post instead of creating a new one.

[2022-10-18 14:19] Mamaduka commented on #39699
The issue still needs technical feedback. I am removing the "Needs Testing" label.

[2022-10-18 14:23] Mamaduka commented on #44945
Thanks for contributing, @wpsoul!

There's already a similar issue in the repo. See #41821.

I'm going to close this one as a duplicate.

[2022-10-18 14:24] jameskoster commented on #43852
Should the navigation overlay appear in the template parts list? Does it need a new semantic area so that you can have multiple overlays for different navigation menus?

[2022-10-18 14:34] lwangdu commented on #45065
I have tested the table and I am getting same issues. If you add board manually, it works but the table cell padding doesn't work in frontend. Here are screen shots.

![editor](https://user-images.githubusercontent.com/24829573/196460177-85e83325-189b-460f-9c77-ea081df6c999.png)

![frontend](https://user-images.githubusercontent.com/24829573/196460312-2b5a4844-fe21-4074-8dbb-da3549e3d0af.png)

[2022-10-18 14:37] Mamaduka commented on #39915
An excellent idea for the "Create Block" template.

I'm going to remove the "Needs Testing" label.

[2022-10-18 14:37] ndiego commented on #39909
This issue came up in today's Editor Bug Scrub. There is another similar issue with additional information and a [linked PR](https://github.com/WordPress/gutenberg/pull/41980) with a potential fix. Therefore, I am going to close this issue in favor of [Improve table caption accessibility #41502](https://github.com/WordPress/gutenberg/issues/41502). Feel free to add any additional comments there.

[2022-10-18 14:37] #39909 closed, assigned to nobody

[2022-10-18 14:43] ndiego commented on #39916
Hi folks, this issue came up in today's Editor Bug Scrub. Just wanted to check in and see what the next steps might be. I personally like the outlined version, but that's just me 😅

[2022-10-18 14:44] Mamaduka commented on #39934
@jameskoster, @draganescu, now that "Distraction Free Mode" is merged, can we close this issue?

[2022-10-18 14:47] mtias commented on #43852
It should appear in the template parts list; I don't think it should be a semantic area.

[2022-10-18 15:04] Mamaduka commented on #40003
Hi, @shashwatahalder01

If you want to switch to a different user while running the e2e test, I would recommend using the `loginUser()` helper method.

[2022-10-18 15:10] ockham commented on #40003
FWIW, we have some precedent for creating a test user account on the fly and using that to log into WP in our [Site Title block tests](https://github.com/WordPress/gutenberg/blob/f2729bf25b342129078da946e6d05ef767cfa707/packages/e2e-tests/specs/editor/blocks/site-title.test.js).

[2022-10-18 15:11] #39934 closed, assigned to nobody

[2022-10-18 15:12] mtias commented on #44496
Unified search has a lot of complexities I'm not sure we should be doing — like seeing results from your library and from other people, can be a very off-putting experience

[2022-10-18 15:14] jameskoster commented on #39916
I think Joen's suggestion is a good one – outlined version in the ellipsis menu, filled version when indicated a block is locked (IE in List View and the block toolbar). It's a low-priority item though.

[2022-10-18 15:18] mikachan commented on #45065
Thanks @lwangdu, that's similar to what's reported here: https://core.trac.wordpress.org/ticket/56818

I'm not able to replicate this exactly, I don't seem to be able to set any padding on the table cells at all:

<img width="1067" alt="image" src="https://user-images.githubusercontent.com/1645628/196471779-656c12f7-92ca-4676-853a-46a868870cf4.png">

The padding is applied to the table itself, rat

[2022-10-18 15:19] jameskoster commented on #43852
Just to connect a dot in case it affects implementation, this may not be the only template part that core will provide, and themes be able to override. See: https://github.com/WordPress/gutenberg/issues/44362

[2022-10-18 15:24] mikachan commented on #45065
Ah, if I test with GB deactivated and WP 6.1 RC1, I see the table cell padding:

<img width="1069" alt="image" src="https://user-images.githubusercontent.com/1645628/196472654-33322ff5-7fdf-4723-bc05-bce81157c074.png">

Although, I'm still not able to set the sizing with the editor. It looks like the editor used to provide a default padding of `0.5em` to the table cells, but perhaps this was only

[2022-10-18 15:46] ryanwelcher commented on #39915
This doesn't need to be part of the tool but rather can be an external template. The two templates that are included are the most common use cases and I wonder if enough block developers are using Typescript to make this part of the tool instead of an external template.

To be clear, I LOVE the idea of having a template that supports TS and this is where we should be headed.

However, in my ( admi

[2022-10-18 15:56] ockham commented on #44687
Noting that @nendeb has filed a Core ticket which has had some more discussion and a tentative fix: https://core.trac.wordpress.org/ticket/56707.

[2022-10-18 17:13] annezazu commented on #44738
Update for folks here. Thanks to everyone who chimed in, offered feedback, and shared context around this initial implementation. Based on what's been shared, a PR was completed to add back in the "Preview" button to the post editor: https://github.com/WordPress/gutenberg/pull/45074 I'm working to ensure it's backported for 6.1 and am going to close this issue out for now!

[2022-10-18 17:13] #44738 closed, assigned to nobody

[2022-10-18 17:18] cuchakma opened #45077 "use 'esc_url' for 'get_author_posts_url' where appropriate in 'src/wp-includes/blocks/avatar.php'"
## What problem/enhancement does this address?
According to the WordPress coding standard, it is always necessary to escape an URL using esc_url

## What is your proposed solution?
To use the esc_url function to escape the URL

[2022-10-18 17:20] #45077 closed, assigned to nobody

[2022-10-18 17:52] bph commented on #44969
Trunk of Gutenberg? @tatasha2004
The Gutenberg plugin release is every two weeks:
This week will be 14.4 RC on Wednesday with a stable release next week (Oct 26th).

An almost daily release of the plugin with the latest merges is available as [Gutenberg Nightly](https://gutenbergtimes.com/need-a-zip-from-master/#nightly) from the Gutenberg Times.

[2022-10-18 19:19] anrghg commented on #44445
@glendaviesnz Thanks for letting me know.

@kathrynwp Thanks for labeling.

[2022-10-18 20:15] wpsoul commented on #44945
@Mamaduka I don't think that it's similar. in #41821 report is about CSS, I have no problem with CSS, it's loaded inside iframe. My report is about scripts

[2022-10-18 20:57] Louis7777 commented on #20206
Bug is still there.

[2022-10-18 21:12] #44957 closed, assigned to ramonjd

[2022-10-18 21:18] colorful-tones commented on #44128
Perhaps this warrants a new Search Toggle block, which could have `"parent": [ "core/navigation" ],` in `block.json`? Although I guess a user could place the Search Toggle anywhere on the page, it is most commonly seen in the main navigation. 🤔

Another option might be to extend the Search block and allow for extra settings to be available if it is placed within the Navigation block context.

[2022-10-18 21:39] bph opened #45080 "Update Storybook - Introduction page"
Replace the ["Hello World" on the Storybook site](https://wordpress.github.io/gutenberg/?path=/docs/docs-introduction--page) with more text.

[Google Document for public comment](https://docs.google.com/document/d/132eAPPBFzWYePcayTHSHGYio3A6rRB3SNgchd51Zzs4/edit)

[2022-10-18 22:36] bph opened #45081 "Storybook: Minified React Error"
On Storybook site, I look at the [AnglePickerControl ](https://wordpress.github.io/gutenberg/?path=/story/components-anglepickercontrol--default) on the Canvas tab. I see the component displayed, but when I try to use the button **Set object**, I run into an error message.
`Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7B%7D

[2022-10-18 22:53] wpsoul commented on #37642
This will be fixed in Wordpress 6.1 so I am closing

[2022-10-18 22:54] #37642 closed, assigned to nobody

[2022-10-18 23:04] annezazu opened #45083 "Navigation block: requires double clicking to select/edit when using page list"
### Description

The "click to edit" overlay https://github.com/WordPress/gutenberg/issues/35079 seems to be broken causing one to have to double click in quick succession in order to edit a navigation block. This seems specific to a post theme switch from a classic theme when the page list fallback is in place as I can't replicate when a "regular" navigation block is in place. cc @getdave

### St

[2022-10-18 23:12] annezazu opened #45084 "Focus mode: Unable to scroll when editing a longer template part"
### Description

When using the focus mode, I'm unable to scroll down when trying to edit a comments block in isolation. I'm also noticing that more content shows up between modes (site editor vs focus mode) - I'm assuming that's to provide filler content but it's a bit of a confusing UX regardless.

### Step-by-step reproduction instructions

1. Use 6.1 RC 2.
2. Head to Appearance > Editor.
3. Ad

[2022-10-18 23:17] annezazu commented on #45084
cc @Poliuk for awareness.

[2022-10-18 23:20] annezazu opened #45085 "Comments Form: lack of padding creates bad layout when changing colors"
## What problem does this address?

With 6.1 RC2, if I add custom colors to the comments form, the outcome is really poor with an inability to customize the padding/margin further. In time, this can be addressed with https://github.com/WordPress/gutenberg/issues/43243 but, for now, the experience is pretty out of the box bad without it:

<img width="898" alt="Screen Shot 2022-10-18 at 4 19 29 PM"

[2022-10-18 23:28] annezazu opened #45086 "Global Styles: Confusing UX when styles are overridden from multiple sources"
### Description

When using 6.1 RC2 and TT3, I found that I couldn't change the appearance of Headings consistently.

Global Styles have a low specificity by design. This often leads to a confusing user experience though, when configuring default styles doesn't appear to have any effect. This could be due to the new styles being overridden by various sources, e.g. block styles, unexpected markup (

[2022-10-18 23:44] annezazu opened #45088 "Zoomed out view: selection area on mover tool is slightly off"
### Description

When using the experimental zoomed out view, the focus of the movers is just slightly off. cc @youknow

### Step-by-step reproduction instructions

1. Turn on the zoomed out view in Gutenberg > Experiments.
2. Head to Appearance > Editor.
3. Turn on Zoomed out view.
4. Notice when you select the movers, that the selection area is a bit off.

### Screenshots, screen recording, code

[2022-10-19 00:02] ramonjd commented on #44957
Hi folks!

I have a Core backport here: https://github.com/WordPress/wordpress-develop/pull/3489

Any assistance you can provide to usher it along would be greatly appreciated. 🙇

[2022-10-19 00:39] iamleese commented on #44717
I agree with @colorful-tones in regards to the structure in the initial installation having nested sub-directories in the src directory. However, I think it should be achieved in one command rather than multiple lines :

`npx @wordpress/create-block my-plugin-name --block-name={my-block-slug}`

Without a block-name flag could just be the default installation.

I also agree with @ryanwelcher that s

[2022-10-19 01:12] andrewserong commented on #45086
This might be one for folks working more closely on the theme development side of things, but I notice that in the [TwentyTwentyThree `theme.json` file](https://github.com/WordPress/twentytwentythree/blob/trunk/theme.json#L111), only particular font weights appear to be included in the bundled fonts (I assume to limit the size of fonts that are loaded for the theme?). E.g. DM Sans loads `400` and

[2022-10-19 01:30] aaronrobertshaw commented on #45086
Thanks for the ping @annezazu!

A few thoughts come to mind.

In the your video, you can see that the font-weight is not applied to the headings you're focused on, but the font style is. At first glance, it appears that there are font-weight styles with a higher specificity on those particular headings. This could be because those blocks have applied their own style or a theme has.

When testing t

[2022-10-19 02:18] andrewserong commented on #45086
Thanks for the extra context @aaronrobertshaw! I was too quick in my earlier comment, I think you're right, after further testing it looks like the design tools are behaving as expected to me, too.

In testing, the global headings controls provide the lowest specificity fallback settings for headings, allowing block-level settings in global styles to override the base headings settings, and as you

[2022-10-19 03:20] ingeniumed commented on #41547
Thanks for the feedback @mcsf  and @oandregal!

We have posted [this](https://github.com/WordPress/gutenberg/pull/45089) PR as a result of it.

[2022-10-19 05:16] akasunil commented on #42286
Thanks @kasparsd. If you have any solution for this, Please do suggest.

[2022-10-19 05:35] tellthemachines commented on #32943
Interesting loophole 😄 I don't believe it is intended. A deliberate API would allow an optional prop to be passed to `RichTextToolbarButton` specifying if the button should appear in the toolbar or not, and its usage would be documented.

With the above in mind, I'd recommend not using it because it's not guaranteed to continue working indefinitely; any changes to the internal logic of the compone

[2022-10-19 05:52] tellthemachines commented on #33795
Hi @karmatosed , by "header" do you mean a Header template part, or a Heading block? If the latter, I believe this is a bug, as the styles from theme.json have very low specificity (just an `h2` in the front end, and an `.editor-styles-wrapper h2` in the editor) and they are being overridden by more specific layout styles, e.g. `body .is-layout-constrained > *`.

I'm going to go ahead and mark thi

[2022-10-19 06:17] tellthemachines commented on #34764
Good question! You can find an overview of the technical decisions behind the block editor [here](https://make.wordpress.org/core/2017/01/17/editor-technical-overview/), and there's also a snippet in [the FAQ](https://developer.wordpress.org/block-editor/explanations/faq/#how-is-data-stored-ive-seen-html-comments-what-is-their-purpose) that might be of interest.

I'm going to go ahead and close th

[2022-10-19 06:17] #34764 closed, assigned to nobody

[2022-10-19 07:13] Mamaduka commented on #41847
Unfortunately, the look-up by post ID won't work for post-taxonomies. This is because the editor stores newly assigned terms in the state, and they are only persisted on save.

Maybe we can introduce new middleware that can handle this on the client.

P.S. I recently found an old issue for large `include` argument errors, so I'm closing this one as a duplicate — original issue #11541.

[2022-10-19 07:13] #41847 closed, assigned to Mamaduka

[2022-10-19 07:36] tatasha2004 commented on #44969
Thank you @bph.

[2022-10-19 07:40] carolinan opened #45092 "Template part editing: Cannot scroll through long template parts"
### Description

When a template part is edited in isolation and has a lot of content, I am not able to scroll down to the bottom of the template part.

The following works:
Selecting the last block in the list view
Walking through all the blocks using arrow keys

But I can not use the mouse scroll to scroll through all the content, and there is no visible vertical scrollbar.
Selecting the scrollb

[2022-10-19 07:55] afercia commented on #21717
WOrking on a PR right now. Just to note that we already tried a pseudo-element and we changed it in https://github.com/WordPress/gutenberg/pull/8554. The problem with an absolutely positioned pseudo-element is that it scrolls when scrolling the post content.

[2022-10-19 08:03] #44359 closed, assigned to ntsekouras

[2022-10-19 08:16] ciampo opened #45094 "UnitControl: normalize wrapper classnames"
As discussed in https://github.com/WordPress/gutenberg/pull/41860#discussion_r996049365, we should try to normalize the way `UnitControl` applies the `className` prop to its internal markup — in particular, the general expectation is that `className` applies to the outer wrapper (which is currently not the case).

This refactor would also include changes to the recently introduced `__unstableWrapp

[2022-10-19 08:26] getdave commented on #45083
Tested and confirmed this is a bug on RC2. You cannot select the Page List _at all_ without double click.

[2022-10-19 08:29] juanmaguitar opened #45095 "On the "loading source..." issue at the 'Story' tab for some components at Storybook Tool"
_This issue was originally detected and reported by @bph on a private Slack channel_

### Description

At the Storybook Tool, when clicking on a component from the left menu,  and in the canvas view there's sometimes a story, and sometimes there's a `...loading story` message which never disappears showing the final output.

![image](https://user-images.githubusercontent.com/422576/196637427-9a6e3

[2022-10-19 08:42] jameskoster opened #45099 "Improve the Posts Page edit experience"
The posts page is unique in the sense that it will always resolve to display a specific template (either Home or Index). This is detailed in the template popover:

<img width="349" alt="Screenshot 2022-10-19 at 09 36 58" src="https://user-images.githubusercontent.com/846565/196640568-f8b10e85-927e-4fff-b4af-c857e03fee63.png">

But otherwise the edit experience feels like any other page. You can ad

[2022-10-19 08:42] jameskoster commented on #44777
Possibly one to consider here: https://github.com/WordPress/gutenberg/issues/45099

[2022-10-19 08:54] getdave commented on #45083
I can confirm that turning off `Overlay` causes this issue to disappear. Therefore I believe this is the overlay interfering.

[2022-10-19 08:56] getdave commented on #45083
<img width="1276" alt="Screen Shot 2022-10-19 at 09 56 02" src="https://user-images.githubusercontent.com/444434/196645094-2ad8f7d2-56da-477d-8b65-9c5f8eddb668.png">

Removing the `pointer-events` from the wrapper fixes this. We'll need to be aware of consequences of doing this. I'll spin up a PR.

[2022-10-19 09:50] carolinan commented on #45092
I think this is a duplicate of https://github.com/WordPress/gutenberg/issues/45084, closing.

[2022-10-19 09:50] #45092 closed, assigned to nobody

[2022-10-19 09:50] koneweczka commented on #39602
So - after first look at it -I already find the right place, but have some thoughts. This navigation menu use this ButtonBlockAppender as "inner block" button. This ButtonBlockAppender is also used in e.g. adding columns. If I change this block label to "Add menu item" it also impacts e.g. columns item (or other blocks, I just checked few of them) - here's the screen.

So - right now the simplest

[2022-10-19 09:51] carolinan commented on #45084
I can reproduce this.
Small note: In TT3, the "comments block" in this template is a template part, which is why it has the Edit option.

[2022-10-19 10:27] mirka commented on #45095
As a general fix for this, I'm considering removing the Story panel for all components and adding a prominent link somewhere to the component's source folder on GitHub. That way, people can  easily browse the source code as well as the story code.

[2022-10-19 10:35] fluiddot commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved

++ [RangeCell - Migrate from React Test Render to React Native Testing Library](https://github.com/WordPress/gutenberg/pull/44830)
++ [Tooltip - Migrate from React Test Render to React Native Testing Library](https://github.com/WordPress/gutenberg/pull/44831)
++ [Code block - Migrate from React Test Render to React Native Testing Li

[2022-10-19 10:37] spacedmonkey commented on #44946
Changing to a transit might have effects this. Transient data, even if you don't have object caching enabled. Global styles are not correctly cache invalidated. Caches are not deleted on global style imports.

We may want to remove the transient caching all together and relay on the caching found in WP_Query.

[2022-10-19 10:37] gziolo commented on #39915
I fully agree that the first step would be to create the external template hosted on npm or GitHub (assuming Create Block can consume GitHub repository) that works with TypeScript. I don't think we are in good shape in terms of types to offer an official template that is 100% TypeScript ready. However, having an unofficial template ready for the community would help find what's missing and bring m

[2022-10-19 10:50] jameskoster commented on #44611
I'm not sure I would intuit the Filter icon to be connected to this functionality. Newness and Popularity seem more like ordering mechanisms, a simple "Order by:" dropdown might work better?

Definitely not essential for v1, but it would be nice to offer a way to customise the grid (number of columns) by way of zooming.

[2022-10-19 11:05] draganescu commented on #44946
Reading this looks like we should invalidate any style caching when importing. Also it does not look like https://github.com/WordPress/wordpress-develop/pull/2414/files is causing this because the values were cached before but in a different way. Speculation from reading code, not tested.

[2022-10-19 11:10] getdave commented on #45083
Ok here I am testing on Gutenberg `trunk`.

- initially I cannot click on the Page List in the canvas to select it
- then I toggle the overlay to `off`.
- now I _can_ click in the canvas to select.
- now I toggle the overlay _back_ to `Mobile` again.
- now I _can_ click in the canvas to select (this is in contrast to the initial experience).

Why is this happening? What changes? Diving deeper....