[2022-06-13 17:37] gaswirth commented on #20707
Has there been any movement here? Agreeing with @drywall and @allysonsouza et al. that this is a super common use case, and it seems that @paaljoachim has come up with a working solution. Any reason we can't get this merged?

Thanks all !

[2022-06-13 19:03] skorasaurus commented on #34215
can confirm this on Gutenberg 13.4; encountered this while troubleshooting https://github.com/WordPress/gutenberg/issues/41416

[2022-06-13 19:05] skorasaurus commented on #41695
Although this is not enabled by default; you can add this functionality [using the Format API. ](https://developer.wordpress.org/block-editor/how-to-guides/format-api/)

[2022-06-13 19:29] dynamek commented on #36554
I am getting this problem still with latest all updates done. Adding new gallery block (of over 100 images) and the 'Image size' just keeps rotating the 'Loading options…'.

[2022-06-13 20:19] eric-michel commented on #39371
@glendaviesnz

I think this is an outstanding implementation. It offers an easy way to provide a custom scale for most, but extra flexibility to those who need it. I also agree that steps-of-10 is the ideal slug naming scheme. This same functionality could be extended to font sizes so both work similarly.

Regarding execution on the frontend, I think @cbirdsong made a great point here:

I'm not su

[2022-06-13 20:57] glendaviesnz commented on #36554
@dynamek can you please clarify if "with latest all updates done" is just WordPress  6.0, or do you also have the latest Gutenberg plugin installed?

[2022-06-13 21:14] dynamek commented on #36554
With Wordpress 6.0, and no additional gallery/gutenberg plugin installed.

[2022-06-13 21:43] room34 opened #41699 "Columns block with one-third/two-thirds split is labeled as "30/70""
### Description

The description when hovering over the option says "Two columns; one-third, two-thirds split" and the actual percentages inserted with the block are 33.33% and 66.66%, but the icon for the option is labeled as "30/70". (Same goes for the reverse.)

### Step-by-step reproduction instructions

Insert a Columns block and observe the labels under "Select a variation to start with."

#

[2022-06-13 22:39] glendaviesnz commented on #39371
Thanks for raising this @bradley2083. I was thinking this would be a future addition once the basic presets were in place, but I will take a look and see if it is better to add it up front. In terms of "similar to fontSize" are you referring to the approach over on the [fluid typography PR](https://github.com/WordPress/gutenberg/pull/39529/files#diff-65c0d061536e5fa3369aba19faf1f475337c549f2682842

[2022-06-13 23:24] djossia commented on #37287
@aleksblendwerk

you can add a style to override it

figure.is-provider-soundcloud.wp-block-embed-soundcloud iframe {
    width: 100%;
}

[2022-06-13 23:24] glendaviesnz commented on #36554
Thanks for confirming. I wasn't able to replicate the issue on a fresh WP 6.0 install with a gallery of several hundred images. Do you see any errors in the browser javascript console, or are there any network requests pending in the developer tools network tab when you see the stuck `loading options` message?

[2022-06-13 23:31] glendaviesnz commented on #39371
Thanks for the feedback @eric-michel. There is some detail about the [short and long-term aims of the style engine implementation here](https://github.com/WordPress/gutenberg/issues/38167). As far as I am aware, nothing is set in stone yet in terms of exactly how the final output of the styles will work, and all of the feedback from this issue, and the related issues that come out of #38998, is be

[2022-06-14 01:14] glendaviesnz commented on #41699
@WordPress/gutenberg-design there doesn't seem to be any indication on [the PR](https://github.com/WordPress/gutenberg/pull/19789) that introduced these labels as to why `30/70` was chosen, but at a guess rounding this way might have seemed to give a better at a glance indication of split than rounding to `33/67`.

It seems like rounding it to `33/66` gives a reasonably good indication of `one thi

[2022-06-14 01:22] room34 commented on #41699
I definitely think that would be an improvement. If it were possible to fit 33.33/66.66 it would probably be best, since those are the exact values being used. But I think anything that reasonably conveys 1/3 and 2/3 is appropriate, whereas I do not read 30/70 as that at all.

[2022-06-14 03:53] bradhogan commented on #39371
@glendaviesnz Yes, adding any possible option for mobile spacing whatever that might be would be a huge improvement to the current state.  I should've explained the font size stuff a bit more.  Right now, I'm able to define font sizes in my theme.json in the typography setting like this:

[code]

Which I can then choose the font sizes (1, 2, 3, 4, or 5) in the component panel.

These sizes because

[2022-06-14 03:59] t-hamano commented on #41677
I tested the following code, and the `target` attribute was correctly assigned and the component was not broken:

[code]

We may be able to give you specific advice if you let us know with the following points:

- What error messages are displayed in the browser console?
- Why do you want to give the `RichText` component `target` attribute?

[2022-06-14 04:07] glendaviesnz commented on #39371
Thanks for the clarification @bradley2083. Yes, the setup for spacing presets as outlined above will enable you to set a static list of presets like this. I took your font sizes above and added them to the spacingSizes preset array in my local theme.json I am using for testing and it output the following css vars:

[code]

so, this should work in the first iteration of this feature. As mentioned t

[2022-06-14 04:32] #39495 closed, assigned to tyxla

[2022-06-14 05:26] gturpin-dev commented on #41573
It was an interesting discussion, thanks for your time.

If there is nothing to do, you can close this isssue.

[2022-06-14 06:46] Aljullu opened #41707 "Allow plugins to include a theme.json file in the same way themes do"
### Description

Currently, if a plugin wants to set default styles for its blocks, it can either write the styles in CSS or write them in the block default attributes.

None of these approaches allow themes to easily override the styles of the plugin using `theme.json`.

A solution would be to allow plugins to include a `theme.json` file in the same way themes are already doing it. Styles specifi

[2022-06-14 07:00] EmSixTeen commented on #33583
Very much agree with @chrisbellboy's suggestions. Would have two ways to actually set the name:

1. Directly in the List View
2. Using a field under the Advanced tab for the element (@karmatosed's comment on [#16296](https://github.com/WordPress/gutenberg/issues/16296#issuecomment-511444325))

This would massively help the messiness of the List View right now.

[2022-06-14 07:16] KoichaDev commented on #41677
Hi @t-hamano! 👋

I actually found out I had to write it this way:

[code]

Is there any specific reason why I had to write it like `target="_blank" rel="noreferrer noopener"` in order to work?

1.  I didn't check the browser console (I will check it later since I don't have my work in front of my computer when I'm typing this message)

2. That is because I have created my own custom button block.

[2022-06-14 07:31] shadigaafar commented on #41214
Yes, I tested it and it works with latin. but not with non-latin, in my case arabic.
@ntsekouras, ευχαριστώ

[2022-06-14 07:44] t-hamano commented on #41677
One thing I am wondering is that `target` attribute does not need to be rendered on the editor, but should just be saved as an attribute.
This is because when you click on a block on the editor, a new window opens.

I think the rendering of `a` tag and `target` attribute should be defined in the `save` function.

The code for the button block might be helpful:
https://github.com/WordPress/gutenber

[2022-06-14 07:54] KoichaDev commented on #41677
Adding the `target` attribute on the RichText editor doesn't open a new window which is a good thing!

Most definitive by looking at the official WP Button block library! I will take a look at it! Thanks for the help @t-hamano!

[2022-06-14 08:05] ntsekouras commented on #41214
@shadigaafar can you update the issue's title and description to reflect the actual bug? Thanks!

[2022-06-14 08:15] t-hamano commented on #41677
I'm glad to hear that I was able to help you.
I will now close this issue as resolved.
If you have any problems, please reopen.

[2022-06-14 08:15] #41677 closed, assigned to nobody

[2022-06-14 08:16] nerrad commented on #41707
Another example of how this will be useful (for a plugin like WooCommerce) is that the plugin provided `theme.json` could also provide an index of the blocks (and patterns) registered in the plugin.

I would suggest however that the hierarchy of properties be something like:

User > Block > Theme `theme.json` > Plugin `theme.json`

## Potential implementation options

It looks like we would need t

[2022-06-14 08:30] johngodley opened #41709 "Multiple autocompleters can crash"
### Description

If you have multiple autocompleters then they can cause a crash or browser freeze.

I've traced this down to #41382, specifically this line:

https://github.com/WordPress/gutenberg/pull/41382/files#diff-9cfb2f5fedb0b684384a354cc972272fc659f9cb6e66ea5dcd77bb15feacd989R382

If you have more than one autocompleter then it seems to cause an infinite loop. If you're lucky this results

[2022-06-14 08:31] johngodley commented on #41709
Looping @chad1008 in for thoughts!

[2022-06-14 08:34] aristath commented on #41606
From what I understand, we're basically discussing adding schema information to "complex" blocks here.
So what we want it to allow the creation of complex blocks, from simpler blocks (like headings, paragraphs etc), with the addition of schema data. Is that correct @mtias?

If that is the case, could we introduce a method to create a "template" for these blocks via JSON, so that when a user adds a

[2022-06-14 08:40] jonoalderson commented on #41606
Microdata / RDFa schema is deprecated in all but name, and entities can't be cross-referenced between formats.
As JSON-LD is the defacto standard, we shouldn't create a competing, separate space for this. There be dragons.

Most schema output will also need to have access to the context of everything else on the page, otherwise it's going to do more harm than good. For example, a theoretical FAQ b

[2022-06-14 08:46] aristath commented on #41606
@jonoalderson In block themes, blocks get rendered _before_ the `<head>`, so we actually know about all the contents and data beforehand 😉. So we can change the `@type` of the page, and then print JSON-LD schema data on the page (I assume that would go in the footer?) for the blocks that exist on a page.
In classic themes we can probably ignore them, but block themes (which are undeniably the futu

[2022-06-14 08:57] gziolo commented on #41292
It looks like we missed listing `comments-query-loop` in WordPress core when backporting changes for 6.0:

https://github.com/WordPress/wordpress-develop/blob/6.0/src/wp-includes/blocks/index.php

This is going to be addressed with https://github.com/WordPress/wordpress-develop/pull/2647 in the `trunk` as a general fix to ensure better code sync, but it looks like we need to include the patch in 6

[2022-06-14 09:00] jorgefilipecosta commented on #30815
Thank you for the feedback, that's good to hear :)

[2022-06-14 09:13] swissspidy commented on #41292
Yep, because we only pass translations from JS files there, not JSON files.

[2022-06-14 09:16] jameskoster commented on #41699
Here's what we're talking about for reference:

<img width="637" alt="Screenshot 2022-06-14 at 10 11 40" src="https://user-images.githubusercontent.com/846565/173540553-5c865e00-8ec1-4179-b428-6cd386195e39.png">

My first question is: do we actually need to display these labels? The icons alone seem fairly clear to me, while the labels add noise and potential for confusion. Obviously it needs to b

[2022-06-14 09:23] gziolo commented on #41292
In practice, we bundle the JSON file into the JS file. We might be able to revisit that approach as soon as the proposal for import assertions for JSON becomes the standard in JS: https://github.com/tc39/proposal-import-assertions (stage 3 as of today) and we start using it.

[2022-06-14 09:27] swissspidy commented on #41292
Right, but during string extraction we can only extract the block name/description from `block.json`, since there is nothing to extract from the bundled JS file, so once we generate the actual translation files they won't be included there. Hope that makes sense :)

[2022-06-14 09:31] gziolo commented on #41292
Right, now I remember how complex this use case was. I guess a proper server-side registration is the best approach I can think of in the short term 👍🏻

[2022-06-14 09:44] gziolo commented on #13812
I don't see any movement on this issue. Let's close this one and work on adding more unit tests as we update the functionality rather than independently from production changes.

[2022-06-14 10:14] #41673 closed, assigned to ntsekouras

[2022-06-14 10:54] dynamek commented on #36554
Looks to be this error

 Failed to load resource: the server responded with a status of 502 ()
[/wp-json/wp/v2/media…=100&_locale=user:1 ](https://dev.lalachoirs.co.uk/wp-json/wp/v2/media?context=edit&include=57037,57038,57114,57116,57119,57120,57200,57451,57450,57447,57448,57449,57438,57446,57445,57444,57443,57442,57441,57440,57439,57435,57437,57436,57430,57434,57433,57432,57431,57427,57428,57429

[2022-06-14 10:56] sweber83 opened #41712 ""wp-scripts build" returns status 0 / zero, even if the build fails"
### Description

We use `wp-scripts build` to create the webpack build in a CI pipeline.
The CI pipeline relies on the return code to determine the job status.
If the build fails with the "JavaScript heap out of memory" error, `wp-scripts build` returns status 0.
This causes the next pipeline stage to run, which leads to deployment of a corrupted build artifact.

### Step-by-step reproduction inst

[2022-06-14 10:57] room34 commented on #41699
Well now that I look at the whole thing without being so singularly focused, I see the even thirds are labeled “33/33/33” so I think it makes sense to do “33/66” or “33/67” for the ones we’re talking about here.

I see the appeal of removing the numbers altogether, but I think the icons alone may not be clear enough, since it’s a bit hard to discern the visual difference between the icons for 33/3

[2022-06-14 11:21] gziolo commented on #40824
Yes, we definitely should bring back all those changes to the Gutenberg plugin. @ndiego, I had some time off so I haven't seen your message earlier. We always bring back to the plugin all changes applied in WordPress core in case we have matching functionality for previous versions of WordPress.

[2022-06-14 11:33] #41667 closed, assigned to fluiddot

[2022-06-14 11:43] jameskoster commented on #35504
Closing in favor of #17099

[2022-06-14 11:43] #35504 closed, assigned to nobody

[2022-06-14 11:46] jameskoster opened #41714 "When a block theme is active, provide a link to edit the post template from the posts list"
On the Posts list in wp-admin, it would be nice to offer a shortcut to edit the default post template.

[2022-06-14 11:47] jameskoster opened #41715 "When a block theme is active, provide a link to edit the category template from the category list"
On the Categories list in wp-admin, it would be nice to offer a shortcut to edit the default category template.

[2022-06-14 11:48] jameskoster opened #41716 "When a block theme is active, provide a link to edit the page template from the pages list"
On the Pages list in wp-admin, it would be nice to offer a shortcut to edit the default page template.

[2022-06-14 11:52] gziolo commented on #40744
The functionality was added directly to WordPress core with https://github.com/WordPress/wordpress-develop/pull/2494 so it would be best to open a Trac ticket to address that issue. Previous Trac tickets:
- https://core.trac.wordpress.org/ticket/54647
- https://core.trac.wordpress.org/ticket/55513

[2022-06-14 12:04] jameskoster commented on #41699
In the future it might be nice to combine the labels with the icons somehow:

<img width="714" alt="Screenshot 2022-06-14 at 13 03 23" src="https://user-images.githubusercontent.com/846565/173572711-769b3543-b9bc-4a1f-8775-906417bd13bd.png">

In any case for now I agree that updating "70 / 30" to "66 / 33" seems like a fair adjustment.

[2022-06-14 12:54] SaxonF opened #41717 "The great unification"
The site editing experience continues to evolve in WordPress with the introduction of new tools like block locking, toolbar absorption, zooming, new navigation paradigms, browse mode and more. It’s an exciting time but its also adding a tonne of complexity on top of what is already a complex mix of experiences. It’s time we look at simplifying our mental models and establishing a stronger foundati

[2022-06-14 12:55] mtias commented on #41707
I think the plugin should come before the theme as a fallback and be merged into it, given the theme might want to style and control the plugin's blocks specifically, it should supercede if it's targeting those blocks.

Any suggestions for how the API might work from a plugin's perspective? The merging is fairly trivial, so it's more about the ergonomics. Consider also that WordPress bundles a the

[2022-06-14 13:24] land0r commented on #17632
@wpsoul agree, that's just a code snippet as a temporary decision. At least, it is working once as needed for me and maybe for someone else who will need the same functionality

[2022-06-14 13:30] nerrad commented on #41707
Agreed, what I listed in the hierarchy flow is intended to represent priority of control from left to right. So, user overrides blocks which override theme which override plugin (I may be wrong on the blocks -> theme order, I think that might have changed recently?)

I'm not sure what specifically you're asking about here? I'm guessing this isn't a question about how the plugin `theme.json` would

[2022-06-14 13:56] mtias commented on #41707
Got it, was reading the sequence wrong. Unload as being able to remove it if you want to supply your own without any dependencies or fallbacks.

I'm asking how should a plugin register or make its json file available, assuming it'd exist as a separate file.

[2022-06-14 13:58] room34 commented on #39373
I'm not entirely sure what I'm experiencing is the same issue reported here, but I find the problem is happening regardless of whether or not I have `add_theme_support( 'wp-block-styles' );` in my theme. This is using WordPress 6.0, no Gutenberg plugin.

I am finding that my theme CSS loads fine in the editor in Desktop mode, but not at all in Tablet or Mobile mode, and this is happening across br

[2022-06-14 13:58] uniquesolution opened #41720 "Same Url for post and page and page taking priority over post"
I found a bug in latest version of wordpress 6.0 ( if its really is ) If you create a page and a post with same title, their url remain same, and due to this at that url you can only access the page ( taking priority) and not able to see the post.

Step to regenerate the issue:-
1. Create a new page with a title for example test (remember to set post name as select option in settings => Permalink)

[2022-06-14 14:15] #36787 closed, assigned to nobody

[2022-06-14 14:15] uniquesolution commented on #36787
Its already resolved in newer version of wordpress, so there is no issue with block theme now.

[2022-06-14 14:21] nerrad commented on #41707
That's what I was addressing in my original comment. Ideally I think the plugin shouldn't need to explicitly register it other than maybe an option in the plugin header and then having the `theme.json` in a indicated path. So for instance maybe something like this for WooCommerce:

[code]

The above would signal to WordPress core when parsing the plugin header on plugin activation/update that:

-

[2022-06-14 14:44] room34 opened #41723 ""Preview" menu label is confusing to users, since it's not really a preview"
## What problem does this address?

I have observed that users are confused by the **Preview** label for the menu that toggles between Desktop/Tablet/Mobile views in the editor. This is not really a preview, but a change to the display mode of the editor. The "Preview in a new tab" link actually does what users expect, but it is unrelated functionally to the other items in the menu.

## What is yo

[2022-06-14 14:53] chad1008 opened #41724 "Newline prevented after a user mention"
### Description

After mentioning another user on the site, the focus is captured by the autocompleter, preventing the `Enter/Return` key from creating a line break.

This was introduced in [a recent PR](https://github.com/WordPress/gutenberg/pull/41382) updating the `Autocomplete` component.

### Step-by-step reproduction instructions

1. Make sure the stie you're testing on has at least one othe

[2022-06-14 15:17] #41465 closed, assigned to fluiddot

[2022-06-14 15:49] Joshgrygiel opened #41725 "Site Title / Post Title Blocks: Add option to style text when 'linked' option is active."
### Description

The Styles Typography setting is overriding the Typography settings in Site Title Block.

The Block level settings should have higher priority.

What you expected to happen:

The block level settings should have priority over global settings such as the ones in Stlyes.

What actually happened:

Appearance settings in Styles > Typography > Links also affected Site Title block displ

[2022-06-14 16:09] annezazu commented on #40447
@ryanwelcher can we close this based on https://github.com/WordPress/gutenberg/pull/41511 being merged?

[2022-06-14 17:13] supernovia commented on #36060
Noting this request for a revision history of style switches and changes to global fonts:
https://github.com/Automattic/wp-calypso/issues/64348

Could these be included in a general Revisions history?

[2022-06-14 18:14] Ken-theGrump opened #41727 "no Featured Image setting in Block Editor"
### Description

When publishing a post or a page, the Block Editor does not have the option of assigning a featured image to the document. I have to switch over to the classic editor to attach a featured image, then back to block editor for tuning the document. Often after doing that, the block editor finds elements that it has to "recover" to continue editing - depends on what blocks are in the

[2022-06-14 18:22] pbking opened #41728 "core/comment-date doesn't obey font-size settings"
### Description

The comment-date block is ALWAYS 'small' size and cannot be customized either via Global Styles or block attributes.

### Step-by-step reproduction instructions

Tested with Empty Theme.

Add the following block to a page:

[code]

Render a page that has at least one comment.

Note that the comment-date is rendered with BOTH the font size set to 4px (via style attribute) and `--wp

[2022-06-14 18:45] skorasaurus commented on #41617
Thanks for the quick repair on this; this has been affecting me as well.

[2022-06-14 19:05] pbking commented on #41728
Looks like this will be fixed via #41627 which is already about to land. :)

[2022-06-14 20:15] skorasaurus commented on #41608
I think the cause of the extra space is from https://github.com/WordPress/gutenberg/blob/5bc74faca3458108d3dbd1af315ff38765a159e6/packages/block-library/src/search/index.php#L105 made by @scruffian ; maybe he has an idea whether it was intentionally included or if it's an accident.

[2022-06-14 20:28] skorasaurus commented on #41727
Does the featured image panel not display for you as indicated in the screenshot ?
![image](https://user-images.githubusercontent.com/955351/173682657-b5ee3ed2-af10-4b0c-824e-9a98a7bca834.png)

Also does this happen when you are an administrator user or only as a different user?

[2022-06-14 20:59] iamtakashi opened #41730 "Scrolling Marquee Block"
It'd be nice if there is a block that allows creating easily a scrolling marquee.

For example:
![Screen Recording 6-14-2022 at 9 46 PM](https://user-images.githubusercontent.com/908665/173686753-5b1c2c64-073b-4a4e-b949-ffcf5b2848f1.gif)

I had a quick look here if there has already been a request for something similar, but I didn't find one. If there is please kindly point me there. Thanks!

[2022-06-14 21:15] richtabor commented on #39073
The Search block currently uses float alignment, like the image block. The image block makes sense as it could search an inline block, but the Search is unlikely to.

Alignment settings:

<img width="700" alt="CleanShot 2022-06-14 at 17 11 40@2x" src="https://user-images.githubusercontent.com/1813435/173689742-72829b31-c898-4de8-942b-8dc8fa467ca2.png">

Left aligned:

<img width="1002" alt="CleanS

[2022-06-14 21:49] Ken-theGrump commented on #41727
It displays like that in the clasic editor but not in the block editor. I will try disabeling all other plugins again and try to test more carefully.

On 6/14/22 2:29 PM, Will Skora ***@***.***> wrote:

[2022-06-14 22:01] Ken-theGrump commented on #41727
Oh whoops! Did Gutenberg update today or yesterday? It is now working as expected. Two days ago it was not.

I went in and started setting up to test by disabling other plugins just minutes ago. Before I disabled any others I looked to confirm the issue in the site's current working state. That featured image is now where it should be on both page and post edits.

But is response to [skorasaurus](

[2022-06-15 05:47] Mamaduka commented on #41727
Thanks for the update, @Ken-theGrump.

[2022-06-15 05:47] #41727 closed, assigned to nobody

[2022-06-15 06:06] soloinovator opened #41736 "Welcome to gutenberg Discussions!"
### Discussed in https://github.com/WordPress/gutenberg/discussions/28718

<div type='discussions-op-text'>

<sup>Originally posted by **gziolo** February  4, 2021</sup>

## 👋 Welcome!
  We’re using Discussions as a place to connect with other members of our community. We hope that you:
  * Ask questions you’re wondering about.
  * Share ideas.
  * Engage with other community members.
  * Welcome

[2022-06-15 06:51] carlomanf commented on #41730
#27508

[2022-06-15 08:15] Mamaduka commented on #41636
I am closing as a duplicate of #39077.

[2022-06-15 08:15] #41636 closed, assigned to nobody

[2022-06-15 08:35] scruffian commented on #41608
This was an accident. Feel free to raise a PR to remove it!

[2022-06-15 10:04] arunsathiya commented on #41676
Just realized I have been testing this incorrectly. I was working with Gutenberg that ships in core WordPress, not the plugin version of Gutenberg. I tested the plugin version, and with Gutenberg 13.4.0, I see editor preferences save as expected.

First computer:

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/18581859/173801743-0c2b9ee9-f9f4-4c6f-9723-ca59f7ff5dd3.pn

[2022-06-15 10:04] #41676 closed, assigned to nobody

[2022-06-15 10:21] arunsathiya opened #41739 "Customize widgets: Link Popover not visible in full (Entire toolbar not visible)"
### Description

On a theme with block widgets, the toolbar on the widgets area of the Customizer is not visible in full. It gets cut in the middle, with half appearing outside of the display area.

### Step-by-step reproduction instructions

- Start with a theme that has block widgets, like [Twenty Twenty-One](https://wordpress.org/themes/twentytwentyone/) or [Espied](https://wordpress.org/themes

[2022-06-15 10:21] arunsathiya commented on #41739
I did my best to locate an existing issue with keywords like `block widget toolbar` and `missing` but can't spot one so far. Happy to be pointed at a report, if one exists already.

[2022-06-15 10:49] SiobhyB commented on #38407
Updated the parent post with:

### 🔎 Main focus
++ Project planning for Q3 is underway

### 🚀 Recently wrapped items
++ Work on the Drag and Drop project ([board](https://github.com/orgs/wordpress-mobile/projects/118/views/1))
++ Fixes and polish for items collected from critical app reviews

### 🛠️ Recently fixed or improved
++ [Re-introduce native support for v1 of the Gallery block](https://git

[2022-06-15 11:04] akasunil commented on #41660
I have fixed this issue in PR [41693](https://github.com/WordPress/gutenberg/pull/41693). Request for review.

Thanks.

[2022-06-15 11:19] iamtakashi commented on #41730
Thank you, @carlomanf.

The request was closed 2 years ago, but I think it's gaining popularity recently. I left a comment to see if it's worth reconsidering now.

[2022-06-15 11:38] cbravobernal commented on #41308
Closing this issue as it is fixed in #41354

[2022-06-15 11:38] #41308 closed, assigned to cbravobernal

[2022-06-15 12:02] scruffian commented on #41608
There's a fix here: https://github.com/WordPress/gutenberg/pull/41746

[2022-06-15 12:16] jameskoster opened #41747 "Consider displaying block errors in list view"
Occasionally blocks exist on the canvas that will not render for one reason or another. It was discussed in other issues (https://github.com/WordPress/gutenberg/issues/40617) whether we should omit incompatible blocks automatically, but that is tricky because incompatible blocks can be inserted indirectly, like copy/pasting a pattern.

Currently there is no consistent way to handle erroring blocks

[2022-06-15 12:20] Mamaduka commented on #41637
Maybe `labels` can be a part of the [`register_setting`](https://developer.wordpress.org/reference/functions/register_setting/) API. It currently supports the `description` argument. Then we'll need to figure out how to load this data for setting entities.

[2022-06-15 12:23] mtias commented on #36303
There's a parallel flow here which is "Update template with new changes from theme". We had a similar flow for the template property when defining custom post types.

[2022-06-15 12:27] getdave commented on #38275
## Update 15th June 2022

https://github.com/WordPress/gutenberg/issues/40908 still needs to be fixed.

Aside from this, contributors are largely focused on Issues which are complementary to the block such as https://github.com/WordPress/gutenberg/issues/38277.

We are actively seeking more contributors to help progress the block.

The complementary [Navigation Block Overview Issue](https://github

[2022-06-15 12:32] adamziel opened #41748 "Introduce Element.json"
## What problem does this address?

As of recently, the Site Editor supports [button elements](https://github.com/WordPress/gutenberg/pull/41246).

The idea was to have a building block that's can be managed and embedded in other blocks (such as search), but that isn't a Gutenberg block in itself and thus doesn't support features like reordering.

Here's a problem: how to surface the Button elemen

[2022-06-15 12:45] jameskoster commented on #36303
Unpacking that a little...

1. You activate AwesomeTheme 1.0
2. You customize the Page template in the Site Editor
3. You update to AwesomeTheme 2.0, which includes changes to the Page template

In this case you do not receive the 2.0 updates to the Page template, because your customised version of the Page template that was bundled in 1.0 is being used. However, wouldn't resetting the customizati

[2022-06-15 12:49] mtias commented on #36303
The wording of "revert to theme" doesn't imply an update or awareness that there is an update. And I am thinking of a merge between updates from the theme and local customizations. We've done some of that for the template update, I believe, in that user content transferred but other things were discarded. It's also an overlapping problem with the idea of pattern transforms, which we also have part

[2022-06-15 12:58] mtias commented on #41119
@daveloodts thanks for chiming in! I think the idea of it being a UI without a preview is intriguing. Curious if you have some mockups on how it'd work. I was conceptualizing it living in the customizer, where it would be confusing if updating the color palette didn't reflect it on the preview. Also, for the subset of these global styles operations, it shouldn't be too difficult to make it work de

[2022-06-15 13:00] jameskoster commented on #36303
OK so it's not just a case of conditionally updating the "Clear customizations" button label :D

The merging sounds fraught with quirks. Updating attributes on existing blocks seems easy enough, but what if I deleted a block entirely, or swapped out a template part? Seems like something to explore in a different issue.

[2022-06-15 13:09] mtias commented on #36303
We can still improve the copy so that it doesn't only imply a setback.

[2022-06-15 13:21] mtias commented on #33583
I want to make a point about separating the need for adding names from the possibility of improving how things are presented in the list view. For example, paragraphs, headings, etc, could be showing their actual content instead of "Paragraph" and "Heading" by default; images could show a small thumbnail, collapsed galleries could show a series of thumbnails, etc. I think that's worth exploring be

[2022-06-15 13:53] iamtakashi commented on #41730
The recent examples on the web don't seem to use generally the actual marquee tag. Based on that, the conversation in #27508 concluded it would be better suited for doing it as a standalone block in the block directory.

[2022-06-15 14:04] #41748 closed, assigned to nobody

[2022-06-15 14:19] luisherranz commented on #41707
I love the idea.

Two thoughts:

1. I'd import it automatically if it exists. I don't see much value in making it opt-in when it's a new file that didn't exist previously.

2. If we have `block.json` and `theme.json`, I'd call this one `plugin.json`. That way, it could have its own version and schema. And there may be settings from `theme.json` that won't make sense in a plugin and vice versa.

[2022-06-15 14:26] jameskoster commented on #36303
So we need something more generic that doesn't refer to reversion. Perhaps:

would be more versatile than the current

This would make more sense after theme switches as well.

In the future we can augment this with a merge option, either as a subsequent action, or a dedicated flow.

[2022-06-15 14:30] richtabor commented on #33583
Having auto-naming based on content could be one level, then perhaps double-clicking on a title allows you to rename for further clarification.

I'm unsure if whether having the content in the List View would increase usability here — or lead to overload.

Content wise, headings make particular sense here; paragraphs I'm not 100% sold on. You get much more understanding out of reading a heading, v

[2022-06-15 14:32] kathrynwp commented on #41676
@arunsathiya Done!

[2022-06-15 14:57] ockham commented on #41747
Thanks @jameskoster, I quite like this! 🙌 Just to clarify, would we still indicate somehow in the canvas that there is an error with a given block (e.g. by greying them out or adding a red border or something to that effect)?

Also, would the pattern you suggest be amenable to adding buttons to resolve a given error (when possible), as discussed in https://github.com/WordPress/gutenberg/issues/406

[2022-06-15 15:19] mrwweb commented on #39370
I think the other question around this is how do you set the default font size? It seems like the default should come first and then smaller and larger sizes on the scale go out from there.

My concern about 10/20/30 is that this might encourage themes to include too many values or think of the numbers as pixel sizes. `--font-size--24` (or whatever) should almost never be set to 24px in this syste

[2022-06-15 15:27] draganescu opened #41752 "Consider refactoring featured image out of MediaReplace flow"
## What problem does this address?

With the addition of the ability to toggle the featured image use in the cover block, what initially was a block control for the cover block became an option in the media replace dropdown, offered by the `MediaReplaceFlow` component.

This option of the `MediaReplaceFlow` component was implemented in #41476 via two new props added to the component. However other

[2022-06-15 15:37] richtabor commented on #41636
Bah, I wrote that one too 🤦

[2022-06-15 15:43] mrwweb commented on #39371
_This whole conversation is awesome._

---

Regarding the scales, I have a small concern around the 10/20/30 scale which is that I fear it may encourage or trick people into thinking that those should be set to 10px, 20px, etc. That may be overblown, but it's a thought.

I think there's a fundamental difference between a 10/20/30 scale and a 1/2/3 scale. In one scale, if you need more values you'r

[2022-06-15 15:49] room34 commented on #41660
Thanks! Looks to me like that should resolve the issue. I'm not authorized to review but I take it that will get sorted out so Im closing this issue.

[2022-06-15 15:49] #41660 closed, assigned to nobody

[2022-06-15 16:03] eric-michel commented on #39371
I'd love to have a starter `theme.json` available to build off of! As a super absent-minded person I find myself usually looking up pre-created examples and either adjusting or recreating from there since I'm not likely to remember all of the property names and whatnot. Having a starter `theme.json` with all of the standard props defined would be really handy.

I agree! 😀

[2022-06-15 16:05] mrwweb commented on #38167
Thanks for posting this big update, @ramonjd. It's helpful as I continue trying to grok this work.

I want to briefly share my own experiences following the style engine work and suggest something that might hopefully help make sure the result of the style engine is positive for everyone involved.

Here's been my experience trying to follow and provide input (I suspect many others are in the same

[2022-06-15 16:08] Addison-Stavlo commented on #36537
Adding to this, I think users would expect alignment and other formatting options in this block as well.

[2022-06-15 16:11] gziolo commented on #41707
This is a fascinating idea. One additional consideration would be merging settings from multiple plugins.

With that, we would also need to figure out how to ensure that settings from multiple plugins are processed and merged in a predictable way.

I don't have a formed opinion about the name of the file. I only wanted to surface potential challenges if we were to use translatable fields. We would

[2022-06-15 16:21] mrwweb commented on #39372
@cbirdsong Thanks for laying out these initial thoughts! They are a fabulous springboard for a conversation.

I think whatever system comes out of this must start from what you said here:

With that in mind, I wonder if we can salvage the primary/secondary color names. Tell me if this is wrong, but I think most people think of primary and secondary as meaning "primary background" and "secondary ba

[2022-06-15 16:41] eric-michel commented on #39372
I've been thinking about this a lot lately. Color is so different from font sizes or margin/padding, which are fairly easy to standardize. I've worked on sites with 3 colors in the palette, and sites with 12 colors in the palette (and all of them used). There are also wildly different naming schemes (which are also heavily dependent on number of colors in the palette).

How to create standards for

[2022-06-15 17:05] Addison-Stavlo commented on #23086
👋  I see this is on the 5.9.x todo list, sounds like we need to revisit and reprioritize?

[2022-06-15 17:22] Bijingus commented on #39207
The inline styling for blocks is also missing when you get content with an AJAX request.  I've been trying to figure out a solution to this for hours with no luck.  I can't for the life of me find where the unique block styles/classes like .wp-container-uniqueID are coming from.

[2022-06-15 17:26] jameskoster commented on #41747
Good question. I think anything we do on the canvas is going to be afflicted by the two points above, which makes it tricky. As an alternative could we use a Snackbar to alert the user when an incompatible block has been inserted, and include an action to open List View to investigate?

Otherwise I'm inclined to say it doesn't matter too much. It seems more important that the backend / frontend ar

[2022-06-15 19:05] chad1008 commented on #41709
Good catch, thanks for the ping @johngodley. I can definitely reproduce... I'll look into a fix!

[2022-06-15 19:47] spacedmonkey opened #41755 "Call `update_post_parent_caches` in page list block."
## What problem does this address?
In https://github.com/WordPress/wordpress-develop/commit/9a488568a027b3b84fbac7b4d25cf43f86dd7a13 the `update_post_parent_caches` function was introducted. This could be used in page list block, to improve performance.

## What is your proposed solution?

[2022-06-15 20:10] scruffian commented on #34196
i think this will happen using elements: https://github.com/WordPress/gutenberg/issues/40966

[2022-06-15 20:10] #34196 closed, assigned to nobody

[2022-06-15 20:27] scruffian commented on #38413
We should also allow users to import templates from other themes they have installed, or in the directory.

[2022-06-15 20:32] chrisvanpatten commented on #31980
I would also like the ability to disable this field. It is confusing that you can't add `"__experimentalLayout": false` in the block config within theme.json. I would simply expect the following to disable the panel:

[code]

Strangely, this doesn't work even though it seems like it should.

[2022-06-15 20:59] chad1008 commented on #41709
Update: Current testing points to `filteredOptions.length` being the new dependency that's causing the issue.

I have a tentative fix working locally when combined with the fixes in a separate, but related PR (#41749). I want to dig a little deeper into the details of what was triggering the loop, and how, to make sure this fix isn't missing anything else.

[2022-06-15 21:42] cbirdsong commented on #39371
The problem with stretching a 1/2/3 scale out is when what you want to add is more spaces on the small end of the scale. If the scale is extended and more small values are added, then the basic ~1.5rem spacing unit moves further and further up.

For instance, the default scale being worked on currently is (as best I can tell):

| Name | Value |
| -- | -- |
| 0 | 0 |
| 10 | 0.5rem |
| 20 | 1rem |
|

[2022-06-15 22:04] ramonjd commented on #39207
Hi @Bijingus

If I'm understanding things correctly, this is a known issue. @andrewserong spent some time trying to work out a fix too.

I think these PRs are related:

- https://github.com/WordPress/gutenberg/pull/35450
- https://github.com/WordPress/gutenberg/issues/35376
- https://github.com/WordPress/pattern-directory/issues/416

A lot of them are being applied by the layout implementation in

[2022-06-15 22:15] iamtakashi opened #41756 "Query Loop Block: Unwanted Block Gap on Column"
### Description

When a Columns block is used inside a Query Loop block, all the columns except the first one have an unwanted block gap that makes the content misaligned. The unwanted top margin can be seen only in the front end, but it doesn't seem to be a theme-specific issue.

### Step-by-step reproduction instructions

1. Go to the editor.
2. Add a Query Loop block
3. Add a Columns block and

[2022-06-15 22:36] #41608 closed, assigned to scruffian

[2022-06-15 22:40] #41736 closed, assigned to nobody

[2022-06-16 01:06] #41078 closed, assigned to noisysocks

[2022-06-16 01:28] glendaviesnz commented on #39371
FYI, this is roughly the rem equivalent of an 8 point scale with a 16px base and has been added mostly to provide a test scale to get the basic infrastructure for generating preset vars. We need to have some discussions about what would make the most sense in terms of the final default scale that is included in Gutenberg and consequent WP releases.

[2022-06-16 03:18] glendaviesnz commented on #39371
Thanks @cbirdsong, @mrwweb, @eric-michel for the latest feedback. The conversation has indeed been awesome in order to get a good feel for the best direction to head with this. Just to confirm, nothing is written in stone yet in terms of the exact form the default scale and slugs will take. It would be good to finalise something that will both work well as a default, but that can be easily extende

[2022-06-16 03:26] ramonjd commented on #38167
Thanks for taking the time to write down your comments and questions @mrwweb

I'll do my best to answer with as much information as I have 🤞 Maybe grab a tea or kombucha first.

The usual disclaimer is warranted: these are my own ideas and I'm expressing them using my limited knowledge.

The **TL;DR** for folks who don't want to read my babble is that:

1. Right now, my efforts, at least in relati

[2022-06-16 04:08] andrewserong commented on #38167
Thanks for writing out your thoughts @ramonjd! I share many of the same views, and my efforts in reviews and experimental PRs (like #40875) has been to focus on attempting to consolidate how things work, and fix bugs that are high priority for the next major WordPress release. In the case of Layouts, which is work that I think of as related to, but adjacent to the style engine, my main goal at the

[2022-06-16 04:36] glendaviesnz commented on #36554
Do you have access to your server error logs? The error log may provide some more details as to why the error is being thrown.

[2022-06-16 05:04] daviedR opened #41757 "New Block: Post Comments Numbers"
## What problem does this address?

In classic themes, we often see `x Comments` info or `Leave comments` link in the blog post entry meta. This info are usually created using the `comments_popup_link` function.

In Gutenberg, we can't find a block that works like that. I tried the `Post Comments Title` block, but it has few issues:

- It's a heading tag.
- Text are default to `x responses`.

## W

[2022-06-16 05:41] galbaras opened #41759 "Default FSE template not workingby naming convention"
### Description

Before full site editing, WordPress determined the meaning of "default template" by the post type, post ID, post slug and the standard naming convention, e.g. single-product-slug.php > single-product.php > single.php > singular.php > index.php.

Full Site Editing should work the same, selecting templates according to the slugs in the order single-product-slug > single-product > si

[2022-06-16 06:18] langhenet opened #41760 "Big styling / specifity problems with WP 6.0"
### Description

Hi, I'm a developer, and I've been very happy to ditch pagebuilders to use gutenberg and build custom blocks for my themes.

I just dequeue all gutenberg frontend css, and style everything according the project design in the theme css (sometime using a theme.json).

With the the latest WP release there's a lot of inline and so not easilly overridden CSS which gets injected into th

[2022-06-16 06:33] saeedjhn commented on #37041
please read now:

https://antfu.me/posts/publish-esm-and-cjs

[2022-06-16 06:56] ramonjd commented on #38167
Thanks @andrewserong This neatly wraps up what I tried to say in a bazillion words!

There are lots of stepping stones when crossing this bridge, and some are bound to trigger poison darts! 😆

I still think the idea of eventually having an ideal outcome published somewhere might help guide us across.

[2022-06-16 06:58] github-actions[bot] opened #41761 "[Flaky Test] up and down arrow navigation"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
up and down arrow navigation

## Test path
`/test/e2e/specs/editor/blocks/table.spec.js`

## Errors

<time datetime="2022-06-16T06:58:46.449Z"><code>[2022-06-16T06:58:46.449Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg

[2022-06-16 07:44] akasunil commented on #41671
Tried with new block with TextControl and dont see this issue in block configuration panel in sidebar. It would be great if you can provide sample code to regenerate this issue.

[2022-06-16 07:52] namithj commented on #41671
Try the below in the sidebar panel content and you can see the issue.

`<PluginDocumentSettingPanel title={'Header Banner'} initialOpen="false">
            <PanelBody>
                <PanelRow>
                    <TextControl
                        label={'Title'}
                        value={postMeta._header_banner_heading}
                        onChange={(value) => setPostMeta({ _header_

[2022-06-16 08:01] akasunil commented on #41757
Post comment count block already exists. Check with latest Gutenberg pull.

<img width="849" alt="CleanShot 2022-06-16 at 13 30 28@2x" src="https://user-images.githubusercontent.com/61308756/174022254-fbfc57b8-86d9-4d4d-8551-4796efebdea6.png">

[2022-06-16 08:11] akasunil commented on #41644
Its not issue of placeholder. Post comments link block take time to fetch the post data through api. After few seconds it load the "No Comments" placeholder if no comments are found in current posts. check below GIF for more info. Same thing will happen if there is comments available in post.

![CleanShot 2022-06-16 at 13 36 41](https://user-images.githubusercontent.com/61308756/174023873-8abb9733

[2022-06-16 08:16] #36303 closed, assigned to ntsekouras

[2022-06-16 08:19] ntsekouras commented on #36303
Hm... Should I reopen and create a quick follow up to update the copy like this?

Use the template as supplied by the theme

The merging seems quite convoluted and should be a different issue IMO.

[2022-06-16 08:53] jameskoster commented on #36303
@ntsekouras I think it's worth opening a PR to discuss, if it's an easy one :)

[2022-06-16 08:58] carolinan commented on #41760
Hi!
How about
[code]
Would that be enough? You would need to replace all the column styles for the front, not only the breakpoint.

I'd like to know more about "_columns by default do not stack on mobile anymore_" because I am not able to reproduce it.
Using WordPress 6.0, with and without Gutenberg active, and with a classic theme, the toggle for "Stack on mobile" is enabled by default, and the c

[2022-06-16 09:06] carolinan commented on #41759
Hi!
I have not been able to reproduce this; can you add any more information about what your result is when you "check a page of type btp_work". ?

[2022-06-16 09:07] aristath commented on #41760
Those inline styles get added because of options and selections you have made in the editor.
Did you try going in the editor itself and simply change the options for that container? 🤔

[2022-06-16 09:17] mtias commented on #36303
I think we should open an issue with the ideas for the merging and connect it conceptually to the work we've done in updating patterns and transforming patterns.

[2022-06-16 09:27] #39596 closed, assigned to nobody

[2022-06-16 09:39] draganescu commented on #28564
Related #16776

[2022-06-16 09:52] langhenet commented on #41760
Hi @carolinan , thank you for your reply.

As I stated in the first comment, I already dequeue all gutenberg/block editor stylesheets :-)

For me it's not. When I have the "Stack on mobile" switch active, the inline css for the specific element (`.wp-container-x`) is

[code]
without media queries. So columns are always in a row (see the `flex-wrap: nowrap`)

Anyway, even if this is going to be fix

[2022-06-16 09:59] langhenet commented on #41760
Hi @aristath , thank you for your reply :-)

I just would like to override the styles of gutenberg wihtout having to use too many !important directives, and still have the ability to style all the blocks (see the problem with the button block when using remove_filter( 'render_block', 'wp_render_layout_support_flag', 10, 2 );) :-)

[2022-06-16 10:04] jameskoster opened #41764 "Merge a template update in a theme with your customised version of that same template"
Consider the following flow:

* Activate AwesomeTheme 1.0.
* Customise the `Page` template in the Site Editor.
* Update to AwesomeTheme 2.0, which includes changes to the `Page` template.

It would be nice if there was a way to pull the updates made to the bundled template into your customised version.

When the blocks remain the same (just ordering / attributes changed) it would hopefully be poss

[2022-06-16 10:04] jameskoster commented on #36303
Opened an issue for the merging idea here: https://github.com/WordPress/gutenberg/issues/41764

[2022-06-16 10:18] #41473 closed, assigned to nobody

[2022-06-16 11:48] jameskoster commented on #39371
Here's a potential UI design concept:

https://user-images.githubusercontent.com/846565/174062046-6db33b4f-d557-41a0-9b55-54e536f0408c.mp4

* A range input is used to move up and down the scale.
  * Hovering the range highlights the effect on the canvas
* The link icon button toggles between manipulating all / individual padding values
* The settings icon toggles the custom value(s) input(s)
  * W

[2022-06-16 12:08] scruffian commented on #39371
One common feature of design systems is that they treat horizontal and vertical padding differently, since we're generally dealing with type. I wonder if we could make that easier to do?

[2022-06-16 12:12] #41728 closed, assigned to nobody

[2022-06-16 12:14] amustaque97 commented on #41712
I would love to take a look at this issue.

[2022-06-16 13:11] daviedR commented on #41757
Thanks @sunil25393 I'll check them out. Any idea when this will be released in WordPress core?

[2022-06-16 13:14] cbirdsong commented on #39371
My issues with that design:
- There is no clear way to reset to the default value.
- It doesn't help the user visualize the size they're choosing.

A `<select>`-style interface could feature show the width of the spacing value alongside a clear "default" option:
![CleanShot 2022-06-16 at 07 35 09](https://user-images.githubusercontent.com/1672206/174073350-17093c98-4ee2-4d09-8bb2-e5ff141d552c.png)

[2022-06-16 13:21] akasunil commented on #41757
Next release probably. Not sure.

[2022-06-16 13:27] daviedR commented on #41757
Okay, thanks!

[2022-06-16 13:27] #41757 closed, assigned to nobody

[2022-06-16 13:32] jameskoster commented on #39371
The icons might be tricky, but I can certainly see the usefulness of different link states.

https://user-images.githubusercontent.com/846565/174080663-d3cd3d6d-b5c6-49f0-afa2-6354631402c9.mp4

It's visualised on the canvas, which is imo much more useful.

Resetting to default is handled the same way for most controls in design tools, I agree it's not perfect but I see that as something to address

[2022-06-16 14:24] cbirdsong commented on #34345
I think conspicuous reset buttons would actually be useful since it allows you to know at a glance what values you've adjusted away from the default. Here is how Webflow lets you know something has been modified and lets you reset to the default:
![CleanShot 2022-06-16 at 08 24 18](https://user-images.githubusercontent.com/1672206/174079763-a0c243c7-2f5d-4567-a5f7-fc86928fba10.gif)

[2022-06-16 14:53] akasunil commented on #41671
Have fixed this issue in PR [41768](https://github.com/WordPress/gutenberg/pull/41768).

[2022-06-16 15:12] kangabell commented on #33789
I'm not seeing the dropdown to select image size (thumbnail, medium, etc.) either. Tested in 6.0 with the "Twenty Twenty-Two" theme, no plugins active. Is there a workaround to get this to appear?

[2022-06-16 15:21] jdevalk commented on #41606
So... I spent (and spend) quite some time thinking about all this, and have laid out some of my "worries" about this in a post: https://yoast.com/why-schema-needs-to-be-a-graph/

[2022-06-16 15:25] sharonlaker19 opened #41769 "Table of Contents Block only creates numbered lists"
### Description

The new ToC block currently forms into a numbered list by default. This could potentially be an issue with pages that have sub-headings as these automatically restart the count at 1 and there doesn't seem to be a way to change this within the block.

### Step-by-step reproduction instructions

1. Create a new post or page with different heading levels.
2. Add the new ToC block.

#

[2022-06-16 16:15] LukaszJaro commented on #36060
I just lost my work but not all of it since I saved the template at a certain point into index.html.

I'm not even sure exactly how I lost it, did I accidently "clear customizations"

I have to recreate a bunch of things now..I couldn't find a revisions for templates and that's how I ended up here. With FSE it's best creating the theme visually in the site editor vs trying to do it in the html wit

[2022-06-16 16:56] ockham commented on #41747
So for the blocks that prompted me to file https://github.com/WordPress/gutenberg/issues/40614 and https://github.com/WordPress/gutenberg/issues/40617, the underlying problem is typically a post-specific or site-wide setting that would cause the block not to be rendered in the frontend, e.g.:
- Avatars disabled in Discussion settings (site-wide) cause the avatar block not to be rendered (https://g

[2022-06-16 17:29] skorasaurus commented on #41547
Thanks for sharing; I've thought about this as well and I think there are some existing issues out there that discuss this - https://github.com/WordPress/gutenberg/issues/35114 comes to mind but I'd imagine that there are others; you may be interested in also following discussion at https://github.com/WordPress/gutenberg/discussions/41349

[2022-06-16 17:32] richtabor commented on #41644
Can you try it within the Site Editor though? I think because there's no post found, it just stays the placeholder.

[2022-06-16 17:55] ndiego commented on #40824
@gziolo no worries, hope you enjoyed your time off!

[2022-06-16 18:40] daveloodts commented on #41119
Hi @mtias, glad you like the idea.

i've made a mockup on how i see this Kitchen Sink example page:

[kitchen-sink.pdf](https://github.com/WordPress/gutenberg/files/8921205/kitchen-sink.pdf)

**Explanation of the design**
At the left we have the regular block sidebar, patterns part is not needed. Every block in the left bar acts as anchor links, which makes the page scroll to the selected block.

[2022-06-16 21:10] #41699 closed, assigned to glendaviesnz

[2022-06-16 21:40] #40492 closed, assigned to nobody

[2022-06-16 21:47] mreishus opened #41771 "Link UI: Changing link text can modify the wrong text"
### Description

When editing the text of an existing link, sometimes the wrong text can be edited because a simple search and replace disregarding the active selection is done.

I believe the origin of this was #33849.

### Step-by-step reproduction instructions

* Create new paragraph block
* Type `a b c a`
* Select the second occurrence of `a`, at the end of the text, press the link button to c

[2022-06-16 22:06] sabernhardt commented on #41720
Thanks for reporting!

This would be an old Core bug: see [Trac 13459](https://core.trac.wordpress.org/ticket/13459)

[2022-06-16 22:37] glendaviesnz commented on #39371
@mrwweb just coming back to this point, the 10/20/30 scale is only at the spacing preset slug level, not the preset name, so the user wouldn't see 10/20/30 as options in the interface. For instance, the  scale generated using the `spacingScale`  would produce a something like the following:

[code]
and in the interface only the `name` would be exposed to the user, so they would select a space size

[2022-06-16 22:46] glendaviesnz commented on #39371
To try and make this issue a bit easier to navigate I have collapsed all the comments prior to my [summary of the previous discussion here](https://github.com/WordPress/gutenberg/issues/39371#issuecomment-1153457475). Please feel free to unhide any of your comments that I have collapsed if you feel they add something that is not covered in that summary.

[2022-06-16 23:46] mrwweb commented on #39371
@glendaviesnz Sorry for being unclear. I definitely understand the slugs vs. names issue here. I think the concern is that _theme developers_ would misunderstand. With an eye on the "standardization" part of this issue, I would expect that most "good" spacing scales (dangerous to use good, but I'm going with it) should explicitly _not_ be linear, so I wouldn't want the scale slugs to trick people

[2022-06-16 23:59] glendaviesnz commented on #39371
Ah, thanks for clarifying.

Are you able to link to some examples of what you think to be good spacing scales? Just as some more background to help make a good informed decision on the default slugs.

Do you have any thoughts on what the option that does go far enough might look like?

[2022-06-17 02:21] galbaras commented on #41759
Well, you would have to define the custom post type first. The particular post type probably doesn't matter, but here's the code I'm using:

[code]

[2022-06-17 03:02] annezazu commented on #41586
I'm going to close this out as this isn't a bug or an active issue :)

[2022-06-17 03:02] #41586 closed, assigned to nobody

[2022-06-17 03:05] annezazu commented on #41614
@jorgefilipecosta perhaps you have some insights here? I know André is out still!

[2022-06-17 03:13] annezazu commented on #41769
@ZebulanStanphill as a heads up :)

[2022-06-17 03:26] peterwilsoncc commented on #35085
I've created a sibling ticket for this on trac https://core.trac.wordpress.org/ticket/55997#ticket

[2022-06-17 04:55] mriyazuddin commented on #40676
- [ ] Reported here too: #5304320-zd

[2022-06-17 05:07] glendaviesnz commented on #39371
Out of interest here is  one visualisation of the difference between a more linear 8 point scale and the likes of a non-linear golden ratio based scale:

<img width="429" alt="scales-2" src="https://user-images.githubusercontent.com/3629020/174228508-cdcd8952-05cb-4ed8-8d19-206bbd4c6a99.png">

Potentially not something for the first iteration, but I wonder if for future iterations it would be an o

[2022-06-17 06:29] imranhsayed commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-06-17 07:13] Mamaduka commented on #41661
Related #38419.

[2022-06-17 07:19] ntsekouras commented on #41026
Thanks for reporting this @ndiego! That's an interesting problem indeed. It seems we have layout support in `Post Template` where we [disallow editing in the UI](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-template/block.json#L22) and gets the default layout. The effect of this is getting the `block gap` styles(if set) for its children blocks and only if we do

[2022-06-17 07:23] aristath commented on #40999
Thank you for reporting this @luminuu, and for bringing it to my attention @carolinan.
This was introduced in https://github.com/WordPress/gutenberg/pull/39634, and a PR that fixes this can be found in https://github.com/WordPress/gutenberg/pull/41775. 👍

[2022-06-17 08:08] maheshwaghmare commented on #39195
The API https://s0.wp.com/mshots/v1/ maybe the good but it'll work only for the live hosted sites.

The https://github.com/bubkoo/html-to-image is also a good option.

I am thinking to create a PR but, I'm not sure in which Gutenberg package this need to install.

[2022-06-17 08:15] MatthiasReinholz commented on #39951
@ramizmanked I agree, that removing template parts from the child theme could be useful. Especially, when you're building a parent theme with some kind of extensive parts library and you want to make the child theme as simple as possible to maintain for a client.

You're also mentioning "modifying" Template Parts. That's already possible. You can drop a `template-part.html` (with the similar file

[2022-06-17 08:39] hypest commented on #41686
👋 @fluiddot! Is this in progress perhaps? Asking so we move the status accordingly. Thanks!

[2022-06-17 08:46] hypest commented on #22412
Looks like the issue is encountered in a web browser so, I will remove the `Mobile App - i.e. Android or iOS` label.

[2022-06-17 08:48] fluiddot commented on #41686
@hypest Nope, this task hasn't been tackled yet. However, it would be great if we could take a look sooner than later, as it's causing some of the top 5 crashes in the WordPress-iOS app. Actually, I'm thinking to focus on this over other tasks I'm currently working on related to integration tests, wdyt?

[2022-06-17 08:49] hypest commented on #41686
Thanks Carlos! Yeah, makes sense to focus on this since this is a crash situation. 👍

[2022-06-17 09:10] scruffian commented on #39195
@maheshwaghmare you should be able to run Gutenberg locally from this repo. See this guide to get started: https://github.com/WordPress/gutenberg/blob/5ad99f5a8c3a467c499482388b1602efc95908db/docs/contributors/code/README.md

[2022-06-17 09:22] github-actions[bot] opened #41778 "[Flaky Test] only updates a single entity currently linked with the block"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
only updates a single entity currently linked with the block

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-06-17T09:22:14.472Z"><code>[2022-06-17T09:22:14.472Z]</code></time> Test passed after 1 failed attempt on <a href="https://git

[2022-06-17 09:47] javierarce commented on #40281
Heads up that I left some proposals for the design of this dropdown in [this comment]( https://github.com/WordPress/gutenberg/pull/41430#issuecomment-1157690629) of this PR: "Show user's avatar in post author dropdown" #41430

[2022-06-17 09:48] Azragh opened #41781 "Gallery Block: Allow the number of columns to be maintained on mobile devices"
## What problem does this address?
When I create a gallery with 3 images, sometimes I just want to keep it like this on mobile, because the images open in a lightbox anyway (and need too much space otherwise). Unfortunately, the editor on default defines `width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px)/2)` on the items. The user defined width is only assigned after `@media (min-widt

[2022-06-17 10:21] jameskoster commented on #41747
Thanks for sharing the examples. Yeah I agree it seems fair to include actions like beneath the description for situations like these.

Such examples also make me wonder whether there should be a severity factor applied to the errors. These feel more like warnings as the blocks are not broken per se.

I'm also thinking we might use Snackbars as feedback upon insertion of blocks with errors / warni

[2022-06-17 10:29] Levdbas commented on #27629
I would like to add the option of `small` alignment myself. Sometimes you just want an element to end up a tiny bit smaller in width then other blocks. To be able to extend the allignments would be a great addition.

[2022-06-17 10:35] david-gonzalez-a8c commented on #40450
Hey @jameskoster. Sorry, that was a little vague on my part! I was referring to efforts in this direction, shared back in https://github.com/WordPress/gutenberg/issues/20592.

![image](https://user-images.githubusercontent.com/92024441/174280358-45a6c052-8761-4d4a-9654-3a79d7ea2195.png)

Not only because of contexts where there's a selector in the main navigation, but also I think it's challenging

[2022-06-17 11:01] jameskoster commented on #39371
@mrwweb That's a good thought, but I wonder how prevalent setting these values page to page will be once its possible to edit everything from within global styles. For example it's probably better to say that block X has padding value Y on a global layer. Then if you're customising block X on just one page, consistency doesn't matter since you're overriding the default.

[2022-06-17 11:05] jameskoster commented on #39371
@glendaviesnz You just reminded me of a [tool](https://www.modularscale.com/) I used in the past for creating type scales, which does exactly this. It may be a bit opinionated for core(?), but I think it's a nice little feature.

<img width="1200" alt="Screenshot 2022-06-17 at 12 01 45" src="https://user-images.githubusercontent.com/846565/174286094-050a28e2-55b6-4574-adc4-f6ee3b1a3c09.png">

Thin

[2022-06-17 11:13] Mte90 opened #41783 "wp-block-post-featured-image missing the lazy attribute"
### Description

Since WP 5.5 the lazy attribute to img tags is added automatically.

Well this block doesn't have that value... https://github.com/WordPress/gutenberg/blob/ba9b739ef9bb11e4107cf02f8f2366f34a99f9ed/packages/block-library/src/post-featured-image/edit.js#L152

### Step-by-step reproduction instructions

1. Add that block and see the html generated

### Screenshots, screen recording,

[2022-06-17 11:25] aristath commented on #41783
I remember seeing a discussion somewhere that featured-images should _not_ get the lazy attribute, because _usually_ they are above the fold, and lazy-loading them is bad for performance and the user-experience... 🤔
I can see a post on make that says the 1st image won't be lazy-loaded, could that be what's happening here? https://make.wordpress.org/core/2021/12/29/enhanced-lazy-loading-performance

[2022-06-17 11:45] Emilya55 commented on #41474
Wordpress version: 6.0
No Gutenberg

[2022-06-17 11:58] jameskoster opened #41787 "Color popovers: inconsistent styling"
Here are the color palette, and custom color picker popovers:

<img width="832" alt="Screenshot 2022-06-17 at 12 50 49" src="https://user-images.githubusercontent.com/846565/174292937-4510cfc3-7147-43be-b3a8-a2b5165a01b9.png">

As you can see, they both have different shadow styles, and the custom color popover has no border while the color palette one does. It would be nice to align the appearanc

[2022-06-17 12:07] Mte90 commented on #41783
I remember that discussion but when in a page there is more then one?

[2022-06-17 12:10] dynamek commented on #36554
I sent you the error logs yesterday, have you seen them?

[2022-06-17 12:15] #40999 closed, assigned to aristath

[2022-06-17 12:22] carolinan commented on #41760
You are right, I apologize, then I don't think I can be of much help. ☺️

[2022-06-17 13:11] ockham commented on #41747
Thanks James for this latest iteration -- looks good to me!

Sounds like a good idea 👍

Also sounds good!

Some errors / warnings might occur after the fact, i.e. the block is already part of a post (or template) when a setting is changed. But maybe it's fair to display the snackbar when the user opens the editor the next time? (As long as it's not too many blocks / warnings at once, I guess.)

[2022-06-17 13:34] fluiddot commented on #41686
I performed a deeper analysis of the crashes in an effort to better identify the culprit:

## `EXC_BAD_ACCESS` - Attempted to dereference garbage pointer
  - **Sentry event:** https://sentry.io/share/issue/2c25a0fe197b414f9f4725654dc40d8a/
  - **Affected app versions:** 19.9.1.0 and newer
  - **Stacktrace insights:** The crash is happening during React Native environment destruction in most cases,

[2022-06-17 13:36] fluiddot commented on #41686
In relation to the [previous comment](https://github.com/WordPress/gutenberg/issues/41686#issuecomment-1158877608), my plan is to go ahead with [the fix provided in this PR](https://github.com/software-mansion/react-native-reanimated/pull/3185) on both platforms, which hopefully could help to address the crashes 🤞.

[2022-06-17 13:40] jameskoster commented on #41747
Ah yes good point. Disabling comments on a post when the comments form block is already present for example. I think it would be ok to utilise the snackbar there, and to combine multiple errors into a single Snackbar to avoid pollution.

It's probably something we'd have to feel out through some experimentation. The Snackbar may not even be necessary if we did something with the notification numbe

[2022-06-17 14:05] Addison-Stavlo commented on #41397
I think this is definitely a necessary improvement. Especially considering the quick inserter's current functionality when you search "Header" you end up with only patterns suggested (since block results are prioritized after patterns), and selecting one just drops blocks directly onto the template.

not only do users miss out on:

Reduces the chance of using the same pattern in multiple templates

[2022-06-17 14:09] Addison-Stavlo commented on #40117
Note another improvement regarding prioritizing patterns could be related to - https://github.com/WordPress/gutenberg/issues/41397.  Since right now prioritizing patterns over blocks when searching for template part variations like "header" results in options that just add blocks directly to the template, bypassing all the features provided by the template parts these patterns are expected to be c

[2022-06-17 14:21] Thelmachido commented on #41739
Closing this issue in favor [of this one](https://github.com/Automattic/wp-calypso/issues/64249) since that is already being looked at there.

[2022-06-17 14:38] robertschneiderman opened #41790 "React Fragments in Edit cause Gutenberg block to be unselectable"
### Description

When using React Fragments in a block's `Edit` function, the block becomes unselectable (note no blue underline surrounding the block):
<img width="542" alt="Screen Shot 2022-06-17 at 10 26 38 AM" src="https://user-images.githubusercontent.com/16520011/174318900-98497fdf-e484-4cdb-bd72-ee85f05190ad.png">

It can be viewed in the breadcrumbs, but it can't be deleted or moved. It ca

[2022-06-17 14:52] arunsathiya commented on #41739
@Thelmachido From our testing, it looks like a core bug though, which is why I created this issue. Could we reopen this issue?

[2022-06-17 15:09] jorgefilipecosta commented on #41304
Thank you all for the discussion that happened. I proposed an implementation for this issue at https://github.com/WordPress/gutenberg/pull/41791.

[2022-06-17 16:59] mtias commented on #41304
I see this is the same proposal as https://github.com/WordPress/gutenberg/issues/41398. @jorgefilipecosta take a look at the API I propose there, I think it's clearer.

[2022-06-17 17:14] sabernhardt commented on #16400
Core has a [Trac ticket](https://core.trac.wordpress.org/ticket/47755), but some aspects need to be changed in the editor.

So far, I have two suggestions for the post-publish panel:
1. The URL input field needs `direction: ltr`. ~If you can rely on the WordPress admin common.css, it adds that style in an `ltr` class, and I think its `code` class could be a better choice.~
2. Try decoding the URL

[2022-06-17 17:24] amjadr360 opened #41794 "Blocks and Patterns selector panel width flickers"
## What problem does this address?

Switching Blocks and Patterns tabs back and forth selector panel,  panel inner elements (search bar, patterns list ) width flickers. The width flickering issue is due to the scrollbar.

### Screenshots:
![Blocks and Patterns selector panel width flicker](https://user-images.githubusercontent.com/32260742/174346723-0b10ed68-5379-468d-84b7-b650eaaf35d3.gif)

## Wh

[2022-06-17 18:36] iandunn opened #41796 "Add keyboard shortcut for inline code"
## What problem does this address?

Sometimes wrapping a string in backticks is inconvenient, and it'd be easier to have a keyboard shortcut. For instance, when you want to double click on a single word and then use a shortcut. Moving the cursor back and forth takes longer and more effort.

Backticks also only works in the forward direction, see #40347.

The shortcut existed in the Classic editor,

[2022-06-17 20:11] brookewp commented on #39073
Thanks for clarifying! I agree, your suggested approach makes sense to me. 👍

[2022-06-17 20:14] jbryanbarnes commented on #33581
Hello, I wanted to note that we are also experiencing this issue on WP6 and hoping there will one day be a resolution. It's hard to keep using workarounds with categories and keywords. The 100 tag limit seems fairly arbitrary and hoping we could see an improvement made.

[2022-06-17 21:05] mrwweb commented on #39371
@glendaviesnz Here's a table and charts showing spacing scales for Open Props, US Web Design System (USWDS), Bootstrap, and Tailwind. If anyone wants to copy and expand on the research, [here's the spreadsheet](https://docs.google.com/spreadsheets/d/19-odiXKUuoltvItH3oxGT4uqfKACGkG5EypMfYKIqqM/edit#gid=0). All of them start of linearly and then grow exponentially at some point.

Step | [Open Props

[2022-06-17 21:27] Zaeo opened #41797 "Query Loop Block Filter Expansion"
## What problem does this address?

Currently, the logic behind the Query loop filter with multiple categories is OR. This is the only option and limits the use of filters to get more specific hub pages for larger sites. This functionality has been in plugin-based implementations of query loops for years. I don't use tags at all, and going back and modifying hundreds of posts to add them for more

[2022-06-17 22:19] stokesman commented on #41679
I'm not opposing the suggested feature though I'd like to mention it seems the [`editor.BlockEdit`](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#editor-blockedit) filter can be used as a way to roll your own version of this.

<details><summary>Example filter to fire callbacks for block addition and removal.</summary>

[code]
</details>

That example can be p

[2022-06-17 23:54] marceloaof commented on #34345
Feedback after extensive use of the current typography tools.

One enhancement that I did not find a ticket for it, and that it would be appreciated to be developed, as it currently makes site editing more hard-working, is the possibility to:

- adjust the 4 default font sizes (--wp--preset--font-size--small, --wp--preset--font-size--medium, --wp--preset--font-size--large, --wp--preset--font-size-

[2022-06-18 01:52] cheestudio commented on #38917
Hi all,

What is the status of this issue? This is causing all our sites to suddenly fail validation and is causing alarm amongst clients, especially ones where HTML validation is required to pass accessibility audits.

[2022-06-18 02:55] carolinan commented on #41352
If we want to do this, it is a small code change, but I'd like there to be consensus before working on it...

[2022-06-18 03:39] carolinan opened #41798 "Site editor theme export: Include local media in theme assets"
## What problem does this address?

When creating a block theme using the Site Editor, chances are that you want to add media like images and video.
If you choose media from the local media library, these files are not included when you export the theme.
The path to the media still points to the media library.

Some blocks allow using remote media, but remote media is not always an option.
-For ex

[2022-06-18 06:36] foysalremon commented on #41679
@stokesman Thanks, your codes are helping me a lot for my  current project. Yet, I believe it would be great to have some simple callback to use.

[2022-06-18 07:24] carolinan opened #41799 "Feedback: The border color control is confusing"
## What problem does this address?

I was attempting to add a border to a group block, but it took me several minutes to find out where the border color control was.
![image](https://user-images.githubusercontent.com/7422055/174426888-d6d97aba-2149-44cf-982c-e8d8a912ff6c.png)

The control has no visual label or even a tooltip for sighted users.
In comparison, the main color panel for background, t

[2022-06-18 07:44] oldrup commented on #38917
@cheestudio To be blunt, you should not expect this issue to be solved. WordPress and Gutenberg are headed in a direction with even more inline styling. There is a "style engine" idea/project in the works, which _might_ address restoring HTML validation, but it is a huge undertaking, and to be honest, I'm not sure if it will be given much priority with all the clearly visible FSE related tasks  al

[2022-06-18 13:54] andybrice commented on #40820
I am having this same issue with WordPress 6.0.
And trying to select an existing menu crashes the entire virtual machine and requires a reboot.
It started happened when I installed the _Blockbase_ theme, and has persisted since switching back to _Twenty Twenty Two_.

[2022-06-18 14:00] rbairwell opened #41800 "When replacing an inline image, any associated link gets removed"
### Description

When you replace an image using "Inline Image" which has been set up as a link, the link is removed when you change the image.

### Step-by-step reproduction instructions

1. Create a New Post
2. Select an enclosing block (problem experienced with Paragraph and Table)
3. Enter some text (to ensure it's a text field)
5. Insert an "Inline Image" using the "More" drop down
6. Set a l

[2022-06-18 14:12] stokesman commented on #41790
The issue isn't the Fragment but the lack of a component root with the required props applied.

I'd guess you've tried something like this:
[code]
In that snippet the fragment is pointless but typically a block might have `BlockControls` and `InspectorControls` that would be within the fragment (e.g. [column block edit](https://github.com/WordPress/gutenberg/blob/8ed90b42a54b3fbc6589f732d094a24bf5

[2022-06-18 14:48] andybrice commented on #40820
I eventually resolved this issue by using phpmyadmin to remove all templates, template parts, menus, and theme customisation from the wp_posts table in the database.

[2022-06-18 16:57] kylemilloy commented on #37754
Can confirm...still waiting for a patch here.

[2022-06-18 18:38] MaitreArt commented on #39220
Any updates??? The same issues happen with a Columns block

[2022-06-19 14:47] SilverMira commented on #38173
Would it not be possible for Widget Group's additional classes to target %2$s in `register_sidebar()` `before_widget`?, correct me if I'm wrong, is there a way currently for block widgets to accomplish this using the block editor? As I can see, the %2$s is being populated by `widget_block` from the internal `WP_Widget_Block` only, there's not an easy way to add values to this part to a specific wi

[2022-06-19 14:56] nerrad commented on #41707
The latest comments have raised additional questions. I'm still thinking through this but wanted to at least document them here in case others have answers/thoughts. I definitely think we should keep the initial scope fairly limited, but some of the questions raised could influence the initial structure of this, hence I'm asking.

- Should the plugin-provided properties only allow enhancing only a

[2022-06-19 21:35] glendaviesnz commented on #36554
No sorry - how did you send them?

[2022-06-19 21:53] dynamek commented on #36554
I replied by email as it says 'Reply to this email directly'

[2022-06-19 21:55] dynamek commented on #36554
2022-06-19 22:47:40 | Error | 147.147.192.4 | 500 | GET   /wp-json/wp/v2/media?context=edit&include=55608%2C55609%2C55610%2C55611%2C55612%2C55613%2C55614%2C55615%2C55616%2C55617%2C55618%2C55619%2C55620%2C55621%2C55622%2C55623%2C55624%2C55625%2C55626%2C55627%2C55629%2C55630%2C55631%2C55632%2C55633%2C55634%2C55635%2C55636%2C55637%2C55638%2C55639%2C55640%2C55641%2C55642%2C55643%2C55644%2C55645%2C5564

[2022-06-20 00:28] andrewserong commented on #41026
Oh, interesting problem! ~I wonder if (a) solution might be to decrease (increase the number numerically) the priority on the layout support's `render_block` filter? Ideally, the layout support would be applied after the block itself has its final markup, I'd think?~

Edit: I think the issue was to do with the block adding the wrapper `li` element _after_ rendering each instance of the loop, rathe

[2022-06-20 00:46] noisysocks commented on #39082
Cross posting some design work for a post author dropdown that @javierarce put together in https://github.com/WordPress/gutenberg/pull/41430#issuecomment-1157690629:

[2022-06-20 01:27] peterwilsoncc commented on #27597
@carlomanf Sorry for the delay, I was quietly pondering rather than completely ignoring this issue.

To further inform how permissions might be considered, I have another question.

* A theme includes a default version of the template
* As yet, no one has edited the template so it only exists in the theme's folder, eg [404.html](https://github.com/WordPress/wordpress-develop/blob/90caf2b35fadb6a71

[2022-06-20 01:28] glendaviesnz commented on #41760
The classnames were added back to the likes of buttons with [this PR](https://github.com/WordPress/gutenberg/pull/41487), which will hopefully make it into the next minor WP release. In the mean time [this filter](https://github.com/WordPress/gutenberg/issues/38719#issuecomment-1101428945) should achieve the same thing:

[2022-06-20 01:39] glendaviesnz commented on #36554
Thanks @dynamek, unfortunately that log doesn't give much extra detail. Do you have access to a php error log on your server?

[2022-06-20 01:51] kevin940726 commented on #39231
@getdave This seems to be failing relatively often lately. Could you take a look?

[2022-06-20 02:25] andrewserong commented on #41026
I've put together a fix for this in https://github.com/WordPress/gutenberg/pull/41802:

I believe the issue is that the block was manually creating the wrapper `li` markup rather than passing it in with the block instance when rendering each inner instance of the loop. By augmenting the block object prior to rendering the instances within the loop, we can ensure that the Post Template layout suppo

[2022-06-20 04:39] carlomanf commented on #27597
@peterwilsoncc For the action you describe, they would need only the editing permission and not the create permission. This already had a strong precedent that the API endpoint used for the action is the editing one and not the create one, so I didn't need to spend much time deciding how to handle the permission.

Furthermore, the pull request actually denies the create permission in this case bec

[2022-06-20 04:52] glendaviesnz commented on #41613
Thanks for report this @CrazyEarthGuy. I wasn't able to replicate the issue on a page with approx 2800 blocks:

https://user-images.githubusercontent.com/3629020/174527418-398e67b6-c461-4797-9f86-e2b4c537854d.mp4

Are you able to provide a screen recording of the issue please? If you are able to also show any errors that might appear in the Chrome javascript dev console that might help track down

[2022-06-20 05:17] #41224 closed, assigned to Mamaduka

[2022-06-20 07:07] geriux commented on #41686
That's a great idea, I think that by adding the `weakModule` reference might help with this 🤞

[2022-06-20 07:12] mtias commented on #40893
It seems that things should be adjusted the other way, not going down to 30px but increasing to 40px, which is where we have settled for the new tool controls:

<img width="476" alt="image" src="https://user-images.githubusercontent.com/548849/174545138-bacefd5a-3095-4165-93ac-a92cb445ff71.png">

[2022-06-20 07:52] talldan commented on #29962
@SeanDS Apologies for the delay responding, I've been away on vacation.

The formatting API is a bit outside of my area of experience. It sounds like you already know more than me when it comes to `object: true`. I haven't seen that before, but it sounds like it's for inserting non-textual content.

I'm not sure. I guess you'd be seeking someone who is looking for sponsorship and isn't already emp

[2022-06-20 09:16] cfournel commented on #23745
hello, how can you achieve this in navigation block ? is it already available in wp 6 ? i m looking to develop a mega menu, with columns and images such as the example provided , thank you @jasmussen  !

[2022-06-20 09:28] langhenet commented on #41760
Hi @glendaviesnz, thank you for your reply

I'll try it out!

[2022-06-20 09:38] jameskoster commented on #39371
I find this to be a failing of the current design, and something we should look to address. The relationship between the global / local styles should be more apparent in the UI.

[2022-06-20 10:13] talldan opened #41811 "Site editor: shift tab from the first block, or tab from the last block not working as expected"
### Description

I noticed that shift-tab (used to access the block toolbar) and tab (used to access the block inspector) aren't working as expected in the site editor. A JS error is being thrown:
[code]

Things seem to work ok in the post editor.

### Step-by-step reproduction instructions

### Shift-tabbing
1. Select the first block (usually a header template part, selecting via list view makes

[2022-06-20 10:36] dynamek commented on #36554
I can't see any problem in the debug.log.  I'm happy to give you admin access to see it for yourself.

[2022-06-20 10:42] OlaAlsaker opened #41813 "Additional CSS class(es) not loading properly for Embed-block in wp-admin"
### Description

The value in the "Additional CSS class(es)"-field on Embed-blocks is not loaded correctly in wp-admin. If you add a value to the field, publish the page (or save it as draft), and then refresh, the custom class will be missing. The value is stored in the database, and is shown when visiting the frontend, but as soon as you do some changes to the page and update it, the custom clas

[2022-06-20 11:46] CHEWX commented on #27913
Any movement here?

[2022-06-20 11:47] carolinan commented on #41759
Hi!
Full site editing themes use the same template hierarchy as classic themes.

I tried your code, and this is what I found:

- On first view of the custom post type on the front, I saw a 404.
- After saving permalinks, the template worked.

Is that the issue? It is not clear from the description, which is why I asked for more information.

[2022-06-20 12:19] galbaras commented on #41759
Sorry, I forgot to mention the permalink update, which is required due to the new rewrite rules in the type registration.

The issue is that with Twenty TwentyTwo, pages get the "Page" template, posts get the "Single Post" template, etc, and I want my custom post type to get the "Product" template by default, without having to assign it to each product.

I'm using a child theme of Twenty TwentyTwo

[2022-06-20 12:42] iamtakashi commented on #41730
@mtias shared with me [an example that only uses CSS animation.](https://shop.tumblr.com/) That doesn't rely on front-end JS, and we could encapsulate it in core if we take that route. I'm reopening this to hear more thoughts on this.

[2022-06-20 13:04] mtias commented on #38291
@adamziel a generic convention-based slug (primary, secondary, etc) was not the result from previous discussions; as @talldan points out, this is tied to the removal of the need to name a menu upon creation because we have enough context to create a meaningful semantic slug from it. There's an implied hierarchy of fallbacks to use on switches that should take into account the template and template

[2022-06-20 13:23] carolinan commented on #41759
I am still not able to reproduce it, the correct template is showing for me,
I did not assign it to the new "product" that I created, I just viewed the front and confirmed that the test content I added to the HTML file showed.

Are you trying to add default blocks that show in the block editor? As opposed to the *template* editor?

[2022-06-20 13:32] carolinan commented on #41759
I think you still need to name it single-btp_work.html.
As far as I can tell, the correct template is used:
<img width="279" alt="Template section in block editor shows that the product is using single-btp_work" src="https://user-images.githubusercontent.com/7422055/174612739-6aa59311-8f18-4fbf-9324-7e50ca453c82.png">

[2022-06-20 13:32] ockham commented on #41451
As mentioned at https://github.com/WordPress/gutenberg/pull/41807#issuecomment-1160449503, it's probably a good idea to tackle the ID change (`core/comments-query-loop`) separately from the Comments/Post Comments block merge.

I've thus added https://github.com/WordPress/gutenberg/pull/40506 to the WP 6.0.1 board.

[2022-06-20 14:03] cheestudio commented on #38917
@oldrup Thank you for this detailed reply. I understand from a performance perspective why inline styling has become popular (again), but this is unfortunate to see that they are doing so at the expense of current, and long established, web standards.

I'm familiar with plugins and solutions out there that will resolve this issue through a roundabout way, but I was hoping for something more fundam

[2022-06-20 14:04] cbirdsong commented on #37635
I really like this idea, and it seems similar to the idea I had for packages of colors:
- https://github.com/WordPress/gutenberg/issues/39028

The full suite of typography options is even more intimidating than colors, and it's not good design practice to use more than a few different values for letter spacing, letter case and line height within the same page, let alone across an entire site.

As

[2022-06-20 14:32] adamziel commented on #38291
@mtias I just updated the description.

AFAIR https://github.com/WordPress/gutenberg/pull/36760 is the closest discussion. CC @draganescu @tellthemachines in case they remember something I don't.

[2022-06-20 14:46] tyxla commented on #16938
I'm planning to contribute here as part of the work on https://github.com/orgs/WordPress/projects/32.

[2022-06-20 14:47] apeatling opened #41818 "Add more design tool explanation text and preview gifs"
When using a design tool for the first time, show a preview popover when hovering over or interacting with this tool. This will help the user understand what the tool will do.

Each popover should have a short amount of text explanation, and an image or gif that shows what the tool does to an element on the canvas. It should make the connection between the UI you can use, and the effect it has, be

[2022-06-20 14:50] robertschneiderman commented on #41790
@stokesman I mostly understand that. It would be nice though to be able to have a component that:

1. Doesn't introduce an extra div inside the DOM.
2. Behaves like a regular block in that it can be selected

It seems that, at the moment, you can't have a block that uses a root fragment and works as expected. You need a div to attach these innerBlockProps to. Using blocks that don't introduce new

[2022-06-20 15:00] tyxla commented on #16938
#41819 removes `_.isString()` usage from the package.

[2022-06-20 15:53] #38504 closed, assigned to ajlende

[2022-06-20 15:58] straightvisions-matthias-bathke opened #41821 "Blocks: `enqueue_block_editor_assets` not working with the editor's iframe"
### Description

**Actual Status**
Site Editor is loading it's own iframe without loading the CSS registered via [enqueue_block_editor_assets](https://developer.wordpress.org/reference/hooks/enqueue_block_editor_assets/).

**Target Status**
[enqueue_block_editor_assets](https://developer.wordpress.org/reference/hooks/enqueue_block_editor_assets/) should work for site editor iframe, too.

**Explana

[2022-06-20 16:30] mtias commented on #40893
This also goes for the border radius control:

<img width="884" alt="image" src="https://user-images.githubusercontent.com/548849/174645373-02b4f093-5ede-4464-8a61-7697d7781daa.png">

[2022-06-20 17:47] annezazu commented on #41717
Thanks so much for this excellent and thorough exploration. In particular, it really helps to have both shorter videos and a longer one to get a sense of what's being thought of. At a high level, I see so much promise in what's here based on feedback that's come in from the [outreach program over the last few years](https://make.wordpress.org/core/2022/05/31/high-level-feedback-from-the-fse-outrea

[2022-06-20 18:26] skorasaurus commented on #39220
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/38917 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2022-06-20 18:26] #39220 closed, assigned to nobody

[2022-06-20 18:28] skorasaurus commented on #38917
For what it's worth, this is W3C's stance on it - using `style` element within the `body` element - https://github.com/whatwg/html/issues/1605

[2022-06-20 18:35] cbirdsong commented on #39372
Broadly, I think including "light" and "dark" in preset names will invite misuse from theme/plugin authors that use them assuming the content is appearing on a light background. They need to be more generic, and ideally tied into a system like this:
- https://github.com/WordPress/gutenberg/issues/34717

Primary/secondary/tertiary variants of more explicitly defined properties might be a good way t

[2022-06-20 18:39] AslanGM commented on #38917
We need update, guys.
Will you remove this issue or should I recreate the core blocks?

[2022-06-20 18:50] eric-michel commented on #39372
Been thinking more about colors! Specifically - how to handle properly providing sensible color contrast defaults. [I had elsewhere advocated for adding `.is-dark` and `.is-light` classes in the editor](https://github.com/WordPress/gutenberg/issues/34717#issuecomment-1151556321) (like the Cover block currently does) in order to accomplish this, but after some consideration, I think that's a bad id

[2022-06-20 19:15] annezazu opened #41823 "Padding visualizers do not work properly in the Site Editor"
### Description

In the site editor blocks that use the placeholder illustration (see `PostFeaturedImage` and `Cover`) have an off-center bug for the dimensions visualizer.

### Step-by-step reproduction instructions

1. Use 13.5 RC1
2. Add a cover block
3. Set the cover block to use a featured image
4. Add padding and notice the visualizer is off

### Screenshots, screen recording, code snippet

[2022-06-20 19:16] annezazu commented on #41794
@amjadr360 can you share version of WordPress and/or Gutenberg you're using along with what browser? Thanks so much!

[2022-06-20 19:57] bradhogan opened #41824 "Button block default styles not applied to manually added buttons"
### Description

If you create a new page, add an HTML block that let's say includes a simple form code like:

`<form><input type="email" placeholder="your@email" value="" name="EMAIL" class="required email" aria-required="true"><input class="wp-block-button__link" type="submit" value="Subscribe →" name="subscribe"></form>`

The input button does not use the default button block styles.

### Step-

[2022-06-20 23:27] glendaviesnz opened #41825 "Gallery block: image media API call throws 500 error"
### Description

As [noted here](https://github.com/WordPress/gutenberg/issues/36554#issuecomment-1154346719) there are some instances where the call by the Gallery block to the API to get image data for all gallery images results in a 500 error.

Since #34389 the request to get the image data was combined into a single request, so this might be related to a server resource issue as the [issue rep

[2022-06-20 23:31] glendaviesnz commented on #41825
@Mamaduka it seems like there might be some instances where the combined media api call in the Gallery is causing a 500 server error. The user reporting it says there isn't anything obvious in [the debug log](https://github.com/WordPress/gutenberg/issues/36554#issuecomment-1160283482), and I can't replicate it locally. Do you have any thoughts on the best way to try and track down the cause of the

[2022-06-20 23:32] glendaviesnz commented on #36554
@dynamek I have opened a new issue for this problem [here](https://github.com/WordPress/gutenberg/issues/41825).

[2022-06-21 00:29] peterwilsoncc commented on #27597
Thanks Carlo, I appreciate your patience as I try to understand similarities and differences between the existing roles and caps paradigm.

As the `edit_post` meta capability expects the second parameter to be a number but there isn't one available in this circumstance, I'll consider how to handle this and come back to you.

The meta capability will need to use the post type object's capability se

[2022-06-21 01:11] kohheepeace opened #41826 "It takes more than 20 seconds to paste not-so-large HTML document."
### Description

Copy-pasting a **not-so-large** HTML document takes more than **20 seconds**.

[**A same issue has already been reported**](https://github.com/WordPress/gutenberg/issues/14079#issuecomment-1156516305
), but I have created a new issue to **isolate the problem**.

### Step-by-step reproduction instructions

1. Create new wordpress site by Flywheel Local (wordpress version is 6.0)
2.

[2022-06-21 01:26] galbaras commented on #41759
OMG, I was sure I'd tried that, but maybe not. This now works. Thank you so much!

[2022-06-21 01:26] #41759 closed, assigned to nobody

[2022-06-21 04:47] andrewserong commented on #41026
Based on feedback, I've opened an alternative PR to explore a potential fix in #41827 🙂

[2022-06-21 05:58] carlomanf commented on #27597
If the template exists but does not have a `wp_id`, then there is no post to be edited and `edit_post` doesn't apply. Perhaps in this case the capabilities should be merged with the post type object's `create_posts` capability setting, because it's the creation of a post but not the creation of the template.

[2022-06-21 06:11] draganescu commented on #23745
@cfournel today the submenus of the navigation block are still limited to links and the ability to create "mega menus" is still not there. I think in the images we have design explorations not actual results of using Gutenberg.

[2022-06-21 07:53] andrewserong commented on #39336
Update 2022/06/21:

The PR to explore refactoring the Layout support to centralise base styles output and add back in support for rendering blockGap values at the block level in `theme.json` is ready for review now: https://github.com/WordPress/gutenberg/pull/40875. Its broad scope includes:

* Centralise Layout block support definitions by storing them in `theme.json`.
* Render base styles for th

[2022-06-21 08:10] aristath commented on #41783
An example would be an archive of posts, where each post has its featured image inside the query loop 😉

[2022-06-21 08:56] kosiew opened #41831 "List v2 : when ENTER twice exits list block, selection is lost"
### Description

When press `ENTER` twice to exit list block, selection is lost.

### List v1 behaviour
![v1 List Jun-21-2022 16-49-35](https://user-images.githubusercontent.com/29057562/174758665-18bcb3c7-8dd0-4242-8f05-2d38366f82f7.gif)

### List v2 behaviour

![v2 list Jun-21-2022 16-52-18](https://user-images.githubusercontent.com/29057562/174759225-89af00c3-30ba-4d5c-b790-a27ad0b81aac.gif)

#

[2022-06-21 09:24] thirstycode commented on #37797
Hi @andrewstaffell ,
I'm using a similar function in my plugin. Is there any API to set this fetched context?

`const customProperty = useSetting('typography.fontFamilies');`

Considering the above code, how can I update customProperty?

[2022-06-21 10:31] jameskoster commented on #29544
I believe this should be fixed by https://github.com/WordPress/gutenberg/pull/41646

[2022-06-21 12:10] dynamek commented on #41825
I've tried everything I can think of server side including:
Increasing memory limit to 2048M
Max execution 2400
Max input 2400
Post max size 32M

Additional directives for HTTP & HTTPS:
FcgidBusyTimeout 600
FcgidIOTimeout 550

Additional nginx directives:
proxy_connect_timeout 300;
proxy_send_timeout 300;
proxy_read_timeout 300;
fastcgi_send_timeout 300;
fastcgi_read_timeout 300;
proxy_buffers 8 3

[2022-06-21 12:35] straightvisions-matthias-bathke commented on #39378
As a workaround, you could switch to text-button and insert custom SVG as inline image (you may need a plugin like [SVG Support](https://de.wordpress.org/plugins/svg-support/))

[2022-06-21 12:47] spacedmonkey commented on #39324
Made a start of the themes REST API - https://github.com/WordPress/gutenberg/pull/41836

[2022-06-21 13:09] Thelmachido commented on #41720
I can reproduce this issue when the Classic Editor plugin is active on the site. Closing this issue in favor of [Trac 13459](https://core.trac.wordpress.org/ticket/13459) since this might be core related.

[2022-06-21 13:20] draganescu commented on #41823
I am looking into this.

[2022-06-21 13:31] draganescu commented on #41823
I cannot reproduce on trunk @annezazu - what am I doing wrong?

https://user-images.githubusercontent.com/107534/174811476-6e4f6806-f1a1-42b4-befb-9719af4487af.mp4

[2022-06-21 13:51] critterverse commented on #40478
Closing this issue based on feedback received in https://github.com/WordPress/gutenberg/pull/41574#issuecomment-1161763713:

This will need to be revisited with a new approach!

[2022-06-21 13:51] #40478 closed, assigned to nobody

[2022-06-21 14:38] jmichaelward commented on #20569
@adrianduffell  I'm wondering whether you're able to elaborate on your workaround for this a bit more? I've encountered this same issue while working on a plugin I'm developing that registers a custom cron task, and I've attempted to test the cron using the following commands:

- `wp-env run cli bash` - to shell into the container
- `wp cron test <my_event_name>` - to test the event.

This results

[2022-06-21 15:06] LukaszJaro commented on #41798
I exported patterns/reusable blocks from local to dev/stg and paths ended up being broken to the media, they were still pointing to my local install. I didn't notice this until someone else viewed it on their device and noticed images were not loading.

[2022-06-21 15:10] LukaszJaro commented on #41716
Also the ability to block this from some users.

[2022-06-21 15:53] CrazyEarthGuy commented on #41613
I've attached a video to the original bug report at the top of this page, which demonstrates the issue.

[2022-06-21 17:06] ryelle opened #41845 "Spacing controls: Can't edit units on unlinked controls"
### Description

When editing the values in an unlinked spacing control (padding, margin, etc), the unit can't be changed. If you switch back to the linked control, it's possible to update it, but then it sets the same unit for all sides.

Could be related to #37856

### Step-by-step reproduction instructions

1. Add a Cover or Group (or any other block with spacing controls)
2. Go to the Dimensio

[2022-06-21 17:49] fredy31 opened #41846 "WP HTML Templates - Any way to get bloginfo() or the path to the theme folder?"
So in our new architecture for themes, we want to use Gutenberg themes with html templates.

Problem is, when we need to call anything from the theme folder, we have to use the full URL. So if the folder name would be to change for any reason (and we might change it) well, every image loaded from the template breaks.

In PHP, you can simply run the function `bloginfo()` to get that. But is there t

[2022-06-21 18:20] beckej13820 commented on #37635
I like very much where this conversation is going. In my opinion, the current styles feel very heavy-handed, in that one button has control over spacing, typography and color.

It would feel much more powerful if I was able to mix a colorscheme with a typography or a spacing.

it's not just that I want the freedom to save my own presets, I want to be able to choose from a theme designers presets.

[2022-06-21 18:30] skorasaurus commented on #41846
Hi,

Thanks for reporting; as far as I understand, it is not yet possible. :(
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/20966. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

Please reopen

[2022-06-21 18:30] #41846 closed, assigned to nobody

[2022-06-21 19:19] katag9k opened #41847 "Link header too long for pages with hundreds of tags"
### Description

When editing a post that has hundreds of tags, the tags do not load in the sidebar. If you save the post in this state you lose all your tags. Most hosts limit their header length, and `Link` header grows with the number of tags, eventually resulting in a 503.

### Step-by-step reproduction instructions

On a host with a header that is limited to 8kb.
1. Create a post with 270 tag

[2022-06-21 20:09] skorasaurus commented on #41798
reference about not being about to provide local paths to media: https://github.com/WordPress/gutenberg/issues/20966

[2022-06-21 20:38] annezazu commented on #41826
@aristath wonder if you have any insights here based on some of the performance work you've done!

[2022-06-21 20:40] annezazu commented on #41781
Noting a somewhat related issue on controlling when the breakpoint happens: https://github.com/WordPress/gutenberg/issues/40870

[2022-06-21 20:49] cbirdsong commented on #39336
I recognize this is already a huge PR, but to me it would make sense to go ahead and get the `.is-layout-row` and `.is-layout-stack` classes in there. A big part of the complaints around the removal of comprehensible class names is a desire for stability in markup. From that perspective, it feels silly to add `.is-layout-flex` with plans already underway to remove it.

[2022-06-21 21:03] tomtolkien commented on #26914
Is there any update on this issue? It's making using WordPress blocks for affiliate marketing very problematic.

Also, the code mentioned earlier no longer provides a workaround for the issue.

[2022-06-21 22:51] michaelbourne commented on #39692
100% this. The recent update that moved classes out of the parent `wp-block-cover` div has been a nightmare for custom themes and custom colors.

To make matters worse, new default styles were added:

[code]

So if I have a black overlay at under 50% opacity to tint the overlay and darken a bg image for white text on top, this new CSS causes black text on a nearly black bg. I used to be able to ta

[2022-06-21 22:57] amjadr360 commented on #41794
WordPress: Version 6.0
Gutenberg: Version 13.4.0
Twenty Twenty-Two: Version: 1.2
Browser: Chrome

[2022-06-21 23:19] StasNemy commented on #38673
I've added class "wp-block" to my custom style, and now it's work. Thank you!

[2022-06-21 23:36] annezazu commented on #41794
Thank you!

[2022-06-21 23:39] annezazu commented on #41823
@draganescu try doing it in the Site Editor rather than Post Editor! I find it only happens in the Site Editor upon further testing.

[2022-06-21 23:44] ramonjd commented on #34345
### Update on fluid typography June 22, 2022

- https://github.com/WordPress/gutenberg/pull/39529

The PR to add fluid font sizes to theme.json has been [updated](
https://github.com/WordPress/gutenberg/pull/39529#issuecomment-1158545503) to support passing single values to the fluid type callback, and returning `clamp()` values based on a set of defaults: `minFontSizeFactor,` `maxFontSizeFactor`

[2022-06-22 01:28] cuemarie commented on #805
Had a chat today with a someone looking for this functionality on WordPress.com - still would be great to see.

The workaround we used (for their WordPress.com site) was to create a [Media Playlist widget](https://wordpress.com/support/audio/#audio-playlists-widget-only) (legacy), then copy the shortcode from that widget and embed it into a page using the Shortcode block.

Next time, I might end u

[2022-06-22 02:39] annezazu commented on #41739
Re-opening as I can replicate with GB 13.5 RC 1, WP 6.0, and TT1:

<img width="559" alt="Screen Shot 2022-06-21 at 7 37 10 PM" src="https://user-images.githubusercontent.com/26996883/174931497-dd5a7db5-6667-421d-98a5-54b79dd16c2f.png">

While it can be investigated in a separate repo for third party work, it's definitely important to track down the root cause in Gutenberg here, since something see

[2022-06-22 05:24] glendaviesnz commented on #39371
@cbirdsong based on your feedback here, I have made it so the default core list of presets is generated from a `medium` setting which is taken currently as the `50` slug, so the following is the list of presets from a 10 point scale going down and up from a medium of `1.5rem`

[code]

For cross-theme compatibility it seems like making sure there is a common understanding of where the medium value

[2022-06-22 05:31] Mamaduka commented on #41825
Thanks for the ping, @glendaviesnz. I will try to look into this today/tomorrow.

[2022-06-22 06:06] carolinan opened #41854 "The description of the More block is not clear"
### Description

The description of the more block reads "Content before this block will be shown in the excerpt on your archives page."
From this description, it is not obvious that this only works when the theme template shows the full content.

If the theme archive page (or a home page with a list of blog posts) displays excerpts, the content will not be split into two,
and the read more link w

[2022-06-22 06:38] andrewserong commented on #34461
Just closing this one out now as it was resolved by #34461 and https://github.com/WordPress/gutenberg/pull/39920

[2022-06-22 06:38] #34461 closed, assigned to andrewserong

[2022-06-22 06:39] isaumya commented on #26914
I am still using that code and it's working without any issue whatsoever. Here is a screenshot:

![usage of the_content filter](https://i.imgur.com/ftJ6RFX.jpeg)

And this is still working like charm for me. I will keep using this until these bugs are fixed in Gutenberg.

[2022-06-22 06:40] getsource commented on #41825
[I asked about this / forwarded the ticket to the hosting community team](https://wordpress.slack.com/archives/C3D6T7F8Q/p1655879651122499) to see if anyone else has encountered the issue there.

@dynamek:
- Is there any particular host that you are using, or are you the host? Wondering because we could potentially reach out to the host directly.
- Are you using any sort of Web Application Firewal

[2022-06-22 06:57] Azragh commented on #41781
Also related: https://github.com/WordPress/gutenberg/issues/35848

I like the proposed solution in https://github.com/WordPress/gutenberg/issues/40870, the only concern I have is the amount of CSS which gets generated if then every block creates an inline style (it's really much already, and I think users tend to overuse that slider and set a new breakpoint for every block). A class based approach

[2022-06-22 07:13] andrewserong commented on #39336
Thanks for the feedback @cbirdsong!

The PR has been a tricky one to rein in, in terms of scope, and in my explorations so far, switching to these classnames means addressing more aspects of introducing the remaining semantic classnames of the layout attributes (to help close out #38719). In the Buttons block, for example, the `.is-vertical` class is currently in use, and with the switch to `.is-l

[2022-06-22 07:15] #41796 closed, assigned to Mamaduka

[2022-06-22 07:28] andrewserong commented on #33583
Great discussion and ideas here, I agree, it'd be good to see how we can incrementally improve this, to side-step the bigger problem of where to store the metadata name for the block in the list view.

I've made a start exploring switching the heading/paragraph blocks over to display their label as content in: https://github.com/WordPress/gutenberg/pull/41855 — I put it up quickly, but will tidy i

[2022-06-22 08:03] carolinan opened #41857 "Consider re-adding link color support for classic themes"
## What problem does this address?
Originally reported here: https://core.trac.wordpress.org/ticket/55028

Before 5.9, classic themes could support the link color option with the help of `add_theme_support( 'experimental-link-color' );`
From 5.9, I believe there is no way for classic themes to have link color option without adding a theme.json file?

In WordPress 5.8, this setting did work without

[2022-06-22 08:03] dynamek commented on #41825
I am the host, but with UKFast so I can ask for their assistance if need be.  I don't believe any firewall would be affecting it.

[2022-06-22 08:04] talldan opened #41858 "Inserting a navigation block shows a 'You do not have permissions ...' error"
### Step-by-step reproduction instructions

1. Insert a navigation block
2. See a snackbar message saying 'You do not have permissions to edit this menu ...'

Expected: no message about not having permissions - I haven't created a menu yet.

### Screenshots, screen recording, code snippet

![Screen Shot 2022-06-22 at 4 03 01 pm](https://user-images.githubusercontent.com/677833/174976887-c4cd2c91-b

[2022-06-22 08:09] madhusudhand opened #41859 "Add variable fontSize support for blocks in template"
## What problem does this address?

Template supports only fixed font sizes and it is not possible to theme different sizes based on device width.

[code]

In theme designs, there are situations where once specific block needs to be differently styled. `theme.json` gives styles for all the blocks of the theme, and it is not possible to set the variable size for a specific block in template.

## Wh

[2022-06-22 08:24] aaronrobertshaw commented on #40893
Thanks for the direction @mtias on which way we should be moving these controls.

Can you clarify if we should be migrating these controls directly to a `40px` height now, or update them such that the `40px` height can be toggled on whenever all the other controls in the sidebar are ready for the same height?

In other words, are we OK with the border controls being at `40px` even though other con

[2022-06-22 08:32] talldan commented on #41858
This actually seems to happen whenever inserting the block even if I have menus, so updating the label.

[2022-06-22 09:03] fluiddot commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Add integration test helpers](https://github.com/WordPress/gutenberg/pull/38619)
++ [Bump AztecAndroid version to v1.5.9](https://github.com/WordPress/gutenberg/pull/41828)

[2022-06-22 09:05] jameskoster commented on #41716
@LukaszJaro it would be governed by the native roles and capabilities. Iirc only admins are able to edit the template. Did you have something more specific in mind?

[2022-06-22 09:59] BernardZijlstra commented on #41825
Do you have Nginx error log entries available from these 500 errors?

[2022-06-22 09:59] jameskoster opened #41866 "Make it easier to unset a color value"
When you set a color, it currently requires two clicks to reset it:

https://user-images.githubusercontent.com/846565/175000591-82c0d1a2-6d6d-4afd-ba76-aa33ddfb574a.mp4

This feels like an operation that might be better served by a single-click procedure. Perhaps we could add the reset (-) icon to the color button?

<img width="302" alt="Screenshot 2022-06-22 at 10 59 06" src="https://user-images.

[2022-06-22 10:05] dynamek commented on #41825
Yes - latest few lines are

2022-06-19 22:58:43 | Error | 147.147.192.4 |   | 11065#0: *1102068 upstream sent too big header while reading response header from upstream |   |   |   | nginx error
-- | -- | -- | -- | -- | -- | -- | -- | --
2022-06-19 22:59:32 | Error | 147.147.192.4 |   | 11065#0: *1102795 upstream sent too big header while reading response header from upstream |   |   |   | nginx e

[2022-06-22 10:09] geriux commented on #32964
Hey @fluiddot 👋 do you think this is still relevant? I haven't encountered this and since we've updated the library I wonder if it can be closed or not. What do you think?

[2022-06-22 10:10] mtias commented on #40893
We need to be updating all the controls gradually and systematically. For example, the layout content/wide setting is set at 40px in the global styles designs:

<img width="1075" alt="image" src="https://user-images.githubusercontent.com/548849/175003919-2ae0dad2-65e9-423a-94b2-908555002091.png">

[2022-06-22 10:11] geriux commented on #33588
I'll close this since we are currently using `0.66.2`

[2022-06-22 10:11] #33588 closed, assigned to nobody

[2022-06-22 10:14] fluiddot commented on #32964
Yeah, I think we can close it. As you mentioned, after updating the library the error is no longer shown 🎊 .

[2022-06-22 10:14] #32964 closed, assigned to nobody

[2022-06-22 10:17] mtias commented on #33583
Agreed on starting with headings. We can also explore showing paragraph content as supplementary, maybe also only on hover / focus:

<img width="1077" alt="image" src="https://user-images.githubusercontent.com/548849/175005546-9d88506f-c7d8-4c93-82b7-a004b3c489f9.png">

[2022-06-22 10:32] jameskoster opened #41867 "Color palettes: Custom colors only appear in the Site Editor"
### Description

Upon opening the color palette popover, I only see my Custom colors in the site editor.

| Post Editor | Site Editor |
| --- | --- |
| <img width="603" alt="Screenshot 2022-06-22 at 11 22 00" src="https://user-images.githubusercontent.com/846565/175007914-43c2b1f2-86e0-42dd-8322-8d7b12efb98b.png"> | <img width="599" alt="Screenshot 2022-06-22 at 11 22 14" src="https://user-images.

[2022-06-22 10:35] #41720 closed, assigned to nobody

[2022-06-22 10:42] jameskoster opened #41868 "Allow the creation of Custom colors outside of global styles"
Currently the only way to create a custom color is in the global styles panel:

<img width="286" alt="Screenshot 2022-06-22 at 11 34 00" src="https://user-images.githubusercontent.com/846565/175008813-c5236938-993f-45d6-a516-7402d58d4ed5.png">

However, it may be that you want to add a custom color in the flow of editing a block. It would be nice if there was a way to quickly add a color without h

[2022-06-22 10:47] carolinan commented on #38862
The post content block is not used in the block editor, I find it difficult to visualize how this would work.

If the user has content that already has full width blocks, and switches to the theme with the sidebar, or a template with the sidebar, would the alignment attributes on the inner blocks be removed too?

[2022-06-22 10:51] MaggieCabrera commented on #38862
I see what you mean. This is very tricky. The ideal situation would be that existing content isn't changed but in the editor you don't see wide/full align blocks at all and can't add any when on a theme with a sidebar, but the blocks remain unchanged if they already had those attributes (the reality is that full aligned blocks maintain their classes and attributes now but they just don't show as f

[2022-06-22 10:54] matiasbenedetto commented on #39266
Yep, I was planning to move to Playwright since the e2e are being migrated from Puppeteer to Playwright, but I saw that @JustinyAhin has already written the tests using that. After the last week's additions, the repos are doing basically the same, so it doesn't make sense, to me, to duplicate the effort here.

Apart from that, I think it would be nice to reuse the [Gutenberg e2e-test-utils-playwri

[2022-06-22 11:06] afercia opened #41869 "Site editor: the header toolbar should be a ARIA toolbar"
### Description

In the _block_ editor, the 'Document tools' toolbar in the header is implemented as a ARIA toolbar.

<img width="1792" alt="block editor toolbar" src="https://user-images.githubusercontent.com/1682452/175010714-0c80a2cf-0d4c-422d-9f3f-21e8d0da63eb.png">

- Semantically, the attributes `role="toolbar" aria-orientation="horizontal" aria-label="Document tools"` provide the necessary

[2022-06-22 11:47] draganescu commented on #41823
Yes, in the site editor it seems the visualizer has a problem as the same can be seen with the post featured image block as well, so it does not look like a cover block issue.

[2022-06-22 11:55] jameskoster opened #41871 "Add a shortcut from colour picker to global styles"
When styling a block in the Site Editor, it's feasible that you might want to go and edit your global colour palettes directly from the block. It could be a nice enhancement to connect the colour picker to the Colour panel in global styles.

There exists already a pattern we might use to achieve this:

<img width="281" alt="Screenshot 2022-06-22 at 12 53 55" src="https://user-images.githubusercont

[2022-06-22 12:20] strarsis commented on #40597
+1, `Media & Text` block alignment option is (also) missing when it is inside a `core/group` block.
Also in editor the alignment class (`alignwide`/`alignfull`) is missing, causing formatting inconsistencies.

[2022-06-22 13:05] carolinan commented on #40269
I tested this again today with different themes.
In Twenty Twenty-Two, the comment template is aligned to the right, center and left, but only in the editor.
In Twenty Twenty-One, the theme adds CSS for the classnames `alignright` etc separately, and the block is aligned in the editor and the front.

[2022-06-22 13:24] carolinan commented on #34216
I will retest this tomorrow, this was solved by adding buttons to theme.json elements.

[2022-06-22 14:00] javierarce commented on #41868
Even though it is a deviation from the design we use in the sidebar, I prefer the inline version you propose: it's easy to understand, locate, and use.

[2022-06-22 14:13] cbravobernal commented on #41292
[I created a PR on wordpress-develop to fix it.](https://github.com/WordPress/wordpress-develop/pull/2826)

But there are a few unit tests failing. Does anyone know what could it be?

[2022-06-22 14:14] langhenet commented on #41760
@glendaviesnz I've tried the solution and it worked :-)

thank you very much

[2022-06-22 14:14] #41760 closed, assigned to nobody

[2022-06-22 14:15] loopmasta opened #41877 "Feature: Customise color picker 'Text' label"
## What problem does this address?
The hardcoded label 'Text' of the color picker component generated by the supports API is misleading if the output of a block is not text but a font icon or some other output which is not recognised by the user as text. This [patch](https://github.com/WordPress/gutenberg/commit/7ae2c626016943d6227e85c1953fa8e33ac5633b
) enables a Gutenberg block developer to add

[2022-06-22 15:07] marekdsi commented on #10044
I need to reaload a meta_box, what 2000 lines of react code should I use to satisfy sir Gutenberg the ugly since "full page refresh isn't an acceptable"?

[2022-06-22 15:17] imc67 commented on #33990
It would be great to have more (all) options as I am already looking for weeks for a solution to filter out categories, so it that possible with 'exclude' ?

How far are you with a solution?

[2022-06-22 15:17] cbirdsong commented on #40486
This is in the works:
- https://github.com/WordPress/gutenberg/issues/39371

[2022-06-22 15:19] BernardZijlstra commented on #41825
Looks like the HTTP headers won't fit into the buffer. Try tweaking the large_client_header_buffers setting from Nginx which default it is "4 8k"  enlarge it to "4 16k".

[2022-06-22 15:26] getdave commented on #34758
This was fixed and no longer an Issue for me using WP 6.0 and Gutenberg Plugin `13.4.0 `

[2022-06-22 15:26] #34758 closed, assigned to nobody

[2022-06-22 15:49] bradhogan opened #41879 "Cover Block missing margin in dimensions panel"
### Description

The cover block has padding, but not margin.  It's helpful to eliminate the margin above and/or below a cover block in certain design cases.  For example, if you have multiple cover blocks in a row with different background colors, it looks odd if you have the default theme blockgap in between each.  For now, I add a class mt-0 or mb-0 but would love to see Margin added to the Dim

[2022-06-22 16:31] jeyip commented on #24009
I can no longer replicate this issue as described in [this comment](https://github.com/WordPress/gutenberg/issues/24009#issuecomment-868730657) or when trying to replicate testing instructions in the PR description.

I tested on Gutenberg v13.5 and on the current version of WordPress v6.1-alpha-53519 without Gutenberg installed. Is anyone else still having trouble?

I'm going to close this for now

[2022-06-22 16:34] #24009 closed

[2022-06-22 16:43] Addison-Stavlo commented on #23434
it seems like this has been resolved after stumbling across this older issue and testing that pattern recently

[2022-06-22 16:43] #23434 closed

[2022-06-22 16:51] ajlende commented on #35331
Fixed by https://github.com/WordPress/gutenberg/pull/41249

[2022-06-22 16:51] #35331 closed, assigned to ajlende

[2022-06-22 16:55] Addison-Stavlo commented on #29449
im going to close this issue as stale as the interface has been redone and includes a lot of the requested tools.

[2022-06-22 16:55] #29449 closed

[2022-06-22 16:58] kauaicreative opened #41880 "Cover block should have an "Insert from URL" like Video Block does."
## What problem does this address?
Cover block should have an "Insert from URL" like Video Block does.
Link to external resources without opening code view

## What is your proposed solution?

[2022-06-22 17:06] annezazu commented on #41823
Ah ha. I'll update the title of this issue :)

[2022-06-22 17:12] chad1008 commented on #41724
The PR introducing this issue has been reverted (#https://github.com/WordPress/gutenberg/pull/41820) and will land in the v13.5 release next week, so I'm closing this for now. I'll be taking another pass at that refactor in the future and will keep this regression in mind to avoid it going forward!

[2022-06-22 17:12] #41724 closed, assigned to chad1008

[2022-06-22 17:12] chad1008 commented on #41709
The PR introducing this issue has been reverted (#https://github.com/WordPress/gutenberg/pull/41820) and will land in the v13.5 release next week, so I'm closing this for now. I'll be taking another pass at that refactor in the future and will keep this regression in mind to avoid it going forward!

[2022-06-22 17:12] #41709 closed, assigned to chad1008

[2022-06-22 17:37] annezazu commented on #41826
I just replicated this on the Make Network (Make Core specifically). I'll try to flag this up in #core-editor to see if anyone can take a look.

[2022-06-22 18:06] mirka commented on #40463
Related: #40331

[2022-06-22 18:07] mirka commented on #40463
Suggested a fix in https://github.com/WordPress/gutenberg/pull/41455#issuecomment-1163437097

[2022-06-22 18:56] ntsekouras commented on #41826
The problem is in this [line/function](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/rich-text/use-paste-handler.js#L92)(`removeWindowsFragments`). You can test by commenting it out. This function was introduced [here](https://github.com/WordPress/gutenberg/pull/33607) and passing the `html` string by two consecutive `replace` functions is quite expensive.

[2022-06-22 19:19] strarsis commented on #37930
A filter for the theme would be great! Each theme can have its own custom icon/DOM/provision for the button.
Currently the icon is hardcoded:
https://github.com/WordPress/gutenberg/blob/33d84b036592a5bf31af05b7710f3b2b14163dc4/packages/block-library/src/navigation/index.php#L612
Adding a simple filter here allows themes to change the icon for the frontend.

[2022-06-22 20:12] mirka opened #41882 "Components: Reassess usage of the `SpaceInput` type"
## What problem does this address?

It's unclear whether the description comment for the `SpaceInput` type is a usage recommendation, or is wrong:

https://github.com/WordPress/gutenberg/blob/13312b3381ea92705bfd016a2a2543f044cb9b8e/packages/components/src/ui/utils/space.ts#L1-L4

If we take the description at face value, you'd think it expects values like `'2'` or `2.5`, i.e. numbers to use as in

[2022-06-22 20:37] grappler commented on #22038
Came across the same issue. It might be good to just document the fix in [the documentation](https://developer.wordpress.org/block-editor/contributors/code/testing-overview/#performance-testing) until it is correctly fixed.

[2022-06-22 21:38] arslankhan434 commented on #41285
I tried all the above-mentioned codes but categories are not showing up I mean only a few are showing in the query loop not all. So kindly share the correct code to solve this bug if anyone knows.

[2022-06-22 21:53] arslankhan434 commented on #41285
not working to display all categories in query loop filter

[2022-06-22 23:00] mrwweb commented on #39371
I'm happy to be outvoted if that's the direction everyone things will work best.

I've never run into anything like that with spacing. I'd be really surprised to hear if that's a problem.

Does it make sense to include a 0 value? I should clarity that of [the four scales I looked at](https://github.com/WordPress/gutenberg/issues/39371#issuecomment-1159226095), only one (Bootstrap) explicitly defin

[2022-06-22 23:11] glendaviesnz commented on #39371
Yeh, I didn't think it would be a problem either as it seems like something browsers can more easily account for with rounding than with sizing around borders, etc., but thought it would at least be worth a double check.

Good question, I am not sure about the value of that either. It needs to be an option in the UX for users to select, but we can probably just set the actual value to `0` rather t

[2022-06-22 23:34] annezazu commented on #41333
@matiasbenedetto looks like your fix was merged! I'm going to close this issue as a result. Let me know if this needs to be reopened.

[2022-06-22 23:34] #41333 closed, assigned to nobody

[2022-06-23 00:43] cbirdsong commented on #39371
I think it’s important to have 0 as a class/option in the UI, but the variable is not terribly useful. Not sure how far out of the way you want to go to carve out an exception for just one line of CSS, though.

[2022-06-23 02:42] cheestudio commented on #13774
Hi all...checking back in on this post. I am using the BoxControl component: https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/box-control

And anytime I enter a value, the Update button never activates. The values are being saved and I am able to use them for the purpose I have, but it also means the user has to make an _additional_ change to then activate the Update butto

[2022-06-23 03:31] ramonjd commented on #41161
I have an alternative approach ready over at https://github.com/WordPress/gutenberg/pull/41220

[2022-06-23 03:44] ramonjd commented on #41859
Is what TwentyTwentyTwo does not what you're after?

[code]

See: https://github.com/WordPress/twentytwentytwo/blob/trunk/templates/search.html#L10

Also, there's a PR that will create font size presets using clamp values:

- https://github.com/WordPress/gutenberg/pull/39529

[2022-06-23 04:12] glendaviesnz commented on #39371
@mrwweb `spacing` was the predominant existing term in code so have gone with `--wp--preset--spacing--XX` to keep in line with that. There didn't seem to be any good reason to add `-size` as can't think of anything other than size that will relate to spacing.

[2022-06-23 04:14] glendaviesnz commented on #39371
Yeh, I will take a look and see what sort of complexity it adds to have an exception for the 0 value in terms of the UX and other processing code, and make a call based on that.

[2022-06-23 04:36] ramonjd commented on #41756
I think https://github.com/WordPress/gutenberg/pull/41827 will fix this.

[2022-06-23 04:48] aaronrobertshaw commented on #40893
I'm not sure I'm following your last comment 100% sorry.

Does gradually here mean we are happy to have inconsistent control heights (maybe just between panels) for however long it may be until we update all controls? Or, does systematically mean we want to update all controls together so we avoid that inconsistency?

The latter was the thinking behind https://github.com/WordPress/gutenberg/pull/4

[2022-06-23 05:36] #41858 closed, assigned to talldan

[2022-06-23 06:25] madhusudhand commented on #41859
What TT2 is referring doesn't work because it is not valid definition.

Consider the following four cases of what works and what doesn't

1. Direct property of the block, and it is given the size defined in theme.json ( works! ✅  )
[code]

2. Direct property of the block, custom font size ( this doesn't work, but still valid because direct prop accepts only theme.json defined sizes. So it is inval

[2022-06-23 06:56] tellthemachines opened #41887 "Post content deleted when adding column to template"
### Description

When editing a post template in the single template editor by wrapping the Post Content block inside a Columns block, the content of Post Content gets deleted (just the content, not the block itself).

### Step-by-step reproduction instructions

1. Add content to a post, save and publish.
2. In the post sidebar, go to Template section and create a new template
3. Locate the Group

[2022-06-23 07:09] #34216 closed, assigned to nobody

[2022-06-23 07:24] Mamaduka commented on #41880
Probably a duplicate of #10853.

[2022-06-23 07:38] pickplugins opened #41888 "State Value is Resetting on setPreviewDeviceType Update to Desktop"
### Description

I am not sure if it's a known issue or not.
Facing this issue when I try to change the preview **Desktop** from another device type(Mobile, Tablet) **state** value is resetting to default, I have tested other states, but happening the same.

Please note this is happening for Desktop only not for other devices.

Here is the video
https://youtu.be/lkMzkKjGGPw

I have also tested by

[2022-06-23 07:40] tellthemachines opened #41889 ""Move to" not showing when there's only one block at top level"
### Description

"Move to" in the block settings dropdown only shows if there is more than one top-level block. For example, if all the post content is contained inside a Columns block, it is not possible to use the "Move to" feature on any of its inner blocks.

### Step-by-step reproduction instructions

1. In a post, add a Group block, and add multiple blocks inside it.
2. Verify that "Move to"

[2022-06-23 07:52] ellenbauer opened #41890 "Pattern block inside pattern results in empty pattern preview"
### Description

Placing a pattern block inside a pattern using the new 'pattern' folder does work, but the Pattern preview is empty.

Example, I wanted to create a page pattern with multiple smaller patterns inside, so that later on only the smaller pattern can be updated. See code in my pattern.php file:
<img width="1168" alt="Screen Shot 2022-06-23 at 4 21 10 PM" src="https://user-images.github

[2022-06-23 07:55] Mamaduka commented on #41890
Hi, @ellenbauer

I think this is a duplicate of #39732.

[2022-06-23 08:06] Mamaduka commented on #41889
Related #33158.

[2022-06-23 08:15] ellenbauer commented on #41890
Oh, yes, so sorry, I didn't find that one. I think we can close it then.

[2022-06-23 08:19] jorgefilipecosta commented on #41614
Hi @drwsmth,
I'm not able to reproduce this issue. I applied the following theme.json
[code]
And both "Share on Twitter Block" and the paragraph look as expected. Could you please share the minimal theme.json file where you are able to reproduce the issue?

Thank you in advance!

[2022-06-23 08:20] #41890 closed, assigned to nobody

[2022-06-23 08:23] #39879 closed, assigned to jorgefilipecosta

[2022-06-23 08:25] carolinan commented on #40272
I am not able to reproduce this with current Gutenberg trunk.

I first tested this in Empty theme without making any changes to the default comment blocks.
There is no space for the items to move up or down, so even though the CSS is applied, the blocks have no where to move:

![The row is a single line, only as tall as the letters in the text.](https://user-images.githubusercontent.com/7422055/17

[2022-06-23 08:44] jameskoster opened #41894 "Unable to select colors on small screens"
### Description

On small screens, the color palette popover is hidden.

### Step-by-step reproduction instructions

On a small screen:

1. Select a block that can have colors applied, like Paragraph
2. Open the Inspector (⇧⌘,)
3. In the Color panel, click one of the buttons
4. Observe that no color palette is revealed

### Screenshots, screen recording, code snippet

https://user-images.githubuse

[2022-06-23 08:51] carolinan commented on #41021
@bph I'm sorry I missed the notification!

[2022-06-23 09:29] carolinan commented on #41894
Can confirm, noticed this from my android phone yesterday (site running Gutenberg 13.5.0), thank you for opening the issue.

[2022-06-23 10:38] mtias commented on #41887
Marking as high because of potential content loss.

[2022-06-23 10:45] jameskoster opened #41904 "Improve the visual design of the tab component"
![tabs](https://user-images.githubusercontent.com/846565/175280655-d94ee77a-edd5-40ab-9f05-0208c5171828.gif)

The focus ring feels a bit heavy-handed. Is there another way to denote focus, perhaps a thicker accent line, or change of text color?

It may also be nice to animate the accent line as you move between tabs.

[2022-06-23 10:50] mcsf commented on #41826
Nice sleuthing! 🌟

This surprised me, so I looked at the function, thinking that `replace` by itself shouldn't be **that** expensive. What follows are just my immediate reactions, and I haven't confirmed any of this with code. This is the body of the function:

[code]

What stands out here are the `.*` patterns combined with the [`s` flag](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Re

[2022-06-23 10:51] mtias commented on #41826
Agreed on reverting if there is no quick fix. Also, the suggested test looks like it's just for pasting on Windows, but we should have performance tests for pasting larger chunks of content in general given this regression slipped through.

[2022-06-23 11:01] carolinan commented on #40831
Hi!
Are you able to reproduce this without plugins and with any other theme?
I tried with WordPress 6.0 using Twenty Twenty and Twenty Twenty-Two but I was unable to reproduce it.

[2022-06-23 11:02] Mamaduka commented on #41826
I think this is a good candidate for 6.0.1.

cc @adamziel

[2022-06-23 11:40] AsafAzoulay opened #41906 "@wordpress/create-block plugin-name, npm run build/start return error"
### Description

when i create new plugin it return error,
i use @wordpress/create-block plugin-name,
it create plugin but failed to build it or start it.
npm run build/start return error.

$ npm run build

[webpack-cli] HookWebpackError: Only file and data URLs are supported by the default ESM loader
    at makeWebpackError (C:\xampp\htdocs\mehmemet.com\wp-content\plugins\gutenpride\node_modules\

[2022-06-23 11:44] Addison-Stavlo commented on #41575
Any thoughts or work to resolve this issue?

This seems like it should be high priority. Every block in short height Headers in the site editor suffers from this toolbar overlapping it - logos, site titles, taglines, navigation, etc...

[2022-06-23 11:55] dynamek commented on #41825
Thank you - I have now done this but the image options are still buffering for one gallery block.

This is what it is now set to
large_client_header_buffers 4 16k;

[2022-06-23 12:01] dynamek commented on #41825
Also on the one that I can now set the image options for hasn't fixed the problem that now over half the images aren't openable with lightbox on the front end.  If you scroll to about half of the way down and hover some images you will see that the image does not have a link with fancy box class assigned. I believe this to be because the image option wasn't set correctly but it hasn't fixed the pr

[2022-06-23 12:02] dynamek commented on #41825
I'm getting apache error

Premature end of script headers: index.php, referer: https://dev.lalachoirs.co.uk/wp-admin/post.php?post=62085&action=edit
for this gallery https://dev.lalachoirs.co.uk/photo-gallery/la-las-10th-birthday-party/

[2022-06-23 12:06] akasunil commented on #10853
Created PR [41908](https://github.com/WordPress/gutenberg/pull/41908). Request for review.

[2022-06-23 12:08] akasunil commented on #41880
@kauaicreative please check PR [41908](https://github.com/WordPress/gutenberg/pull/41908)

[2022-06-23 12:08] #41880 closed, assigned to nobody

[2022-06-23 12:16] akasunil commented on #41879
Block dimension are used to manipulate block inner design, we cant set margin around the block with block setting. it should be handled by custom class as you have did.

[2022-06-23 12:17] jameskoster commented on #41904
Here's an option to kick-off discussion:

<img src="https://user-images.githubusercontent.com/846565/175296649-796e6d6a-3d47-4bed-9a4c-91f75ddd3c00.gif" width="350">

* When focussed the accent line doubles in height, and the label is blue.
* The accent line animates horizontally as you navigate between tabs.

I'm not sure about the animation effect, there are probably lots of options to explore t

[2022-06-23 12:52] javierarce commented on #41904
That bouncing effect has too much of a personality for me, so I wouldn't use it unless it were justified by other decisions: for example, if that were the animation style for the rest of the UI or if this was needed to direct the attention to the tab change.

[2022-06-23 12:55] paaljoachim commented on #41904
Hey James.

The animation has a kind of bouncy feel to it. (Please no bounce).
I will also suggest any visual design change that accessibility also adds feedback.
Alex I am thinking you might have some thoughts on this. @alexstine

[2022-06-23 13:25] #41831 closed, assigned to ntsekouras

[2022-06-23 13:29] alexstine commented on #41904
@paaljoachim Thanks for the ping. With my lack of vision now, I'll refer to @joedolson for some guidance here. Thanks! 👍

[2022-06-23 13:40] fabiankaegy commented on #40444
Thanks for raising this issue. For the longest time we've not used the official `add_editor_style` way of adding the editor styles but instead enqueued then manually on the `enqueue_block_editor_assets` hook. But with more and more editors using the iframed editor (which I'm a huge fan of because having that everywhere would solve this entirely) we switched away from that to the `add_editor_style`

[2022-06-23 13:46] Antonio-Laguna commented on #40444
If this has bitten you because of PostCSS, you might want to know that if you're using `postcss-preset-env` we've changed the behaviour of our plugins so they don't remove the last semicolon on the last declaration which should prevent at least one scenario for this parser's failure.

If you detect any issue that can be prevented (or is caused by us) I'd be more than happy to take a look.

[2022-06-23 14:19] michelmany commented on #34749
Hi guys. I don't see any new updates on this issue here. Can I try to work on this as my "Good first issue" contribution?
Thank you.

[2022-06-23 14:19] #41304 closed, assigned to jorgefilipecosta

[2022-06-23 14:38] mtias commented on #41398
Closed by #41791.

[2022-06-23 14:38] #41398 closed, assigned to nobody

[2022-06-23 14:55] fluiddot commented on #41686
Looks like the C++ side of Reanimated differs by platform, so the fix that was already released for Android might require extra work and potentially won't provide a solution.

In fact, after applying the fix related to [using a weak pointer](https://github.com/software-mansion/react-native-reanimated/pull/3185/files#diff-8804a20992e5bfd61206c8d2b7d081f873c781c3c1f324da7937c71f72569f71R202), on iOS

[2022-06-23 15:12] #39893 closed, assigned to jorgefilipecosta, ntsekouras

[2022-06-23 15:15] maffi-git commented on #37538
I also ran into this problem today. Didn't even know highlights were using mark-tags.
I'm still trying analyzing this bug.
My mark-tag sits inside a table, and even clearing the background-color, doesn't remove the mark-tag.
Still investigating...

[2022-06-23 15:47] jg314 commented on #31980
If you're looking to disable the Layout panel for one specific block type, here's an example using the Column block. This is similar to what  @Luehrsen provided, except it focuses on one block type, instead of all of them.

[code]

Ideally this would be possible in `theme.json`, but this works in the meantime.

[2022-06-23 15:48] jameskoster commented on #41904
Agreed on the bouncing, we should instead copy the same animation effect applied to segmented controls:

![segmentedcontrol](https://user-images.githubusercontent.com/846565/175340826-3927a6f7-7df8-474a-a940-0c5f10f76f79.gif)

Thanks for the accessibility pings. I suspect the new effect may be too subtle. But this was just a starting point from which to refine. If we must persist with the full out

[2022-06-23 16:00] adamziel commented on #41265
You've done quite some work to gather all this data, thank you!

I'm torn here. I see your point, and yet removing these deprecation would de-facto change Gutenberg's policy without actually building a consensus and that could hurt the debate.

Do you mean converging on a new policy in #40316? Because it seems like right now there's a tie right between WordPress's Backwards Compatibility commitmen

[2022-06-23 16:03] slr1979 commented on #39054
@ajlende @andrewserong I have just completed a workaround for the issue with Gutenberg styles and duotone when using asynchronous page loading - in my case pjax . This approach is working well with WP6.0 #38167 #38681

I thought I would share it with you as it may be some help with the style engine? Obviously, this code is based on using  [pjax](https://github.com/MoOx/pjax) but I believe that som

[2022-06-23 16:05] adamziel commented on #41265
Oh and just to add to that. I'm less worried about the existing deprecated APIs and more worried about the way of handling the new experimental APIs. A move like this one would take away a lot of confidence, as in "wait, I need an experimental thing but with this hard deprecations freeze I have no idea what to do".

[2022-06-23 16:15] scruffian commented on #35607
I think this is one way to solve it: https://github.com/WordPress/gutenberg/pull/41377, but I'd like more input

[2022-06-23 16:31] #41755 closed, assigned to nobody

[2022-06-23 16:37] dcalhoun opened #41917 "Inline inserter too narrow and illegible on small screen devices"
### Description

On smaller screens, the inline block inserter does not expand wide enough, which causes the block title within it to be illegible.

### Step-by-step reproduction instructions

1. Create a new post with a small screen device, e.g. mobile phone.
1. Click/tap a + button within within the post content (e.g. within a Group block) to open the inline inserter.

### Screenshots, screen re

[2022-06-23 17:00] iamtakashi opened #41918 "Buttons Block: Theme style seems to be overridden"
### Description

I've realised recently the style of buttons on a site has changed, and it seems to be the theme style is overridden with the following CSS.

[code]
This issue can be seen in multiple themes, and it doesn't appear to be a theme-specific issue. The button appears as expected in the editor, but not on the front of the site. If I deactivate the Gutenberg plugin, the theme style comes

[2022-06-23 17:24] bradhogan commented on #41879
@sunil25393 Headings have a margin option as well which is not an inner design.  I have to imagine I'm not the only designer who uses consecutive cover blocks and while it's easy for me to add a class like mt-0 or mb-0 in the Advanced panel, it's not intuitive for an end-user without design/dev experience to do so.

[2022-06-23 17:52] caxco93 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-06-23 17:58] vincequeiroz opened #41919 "Webfonts API: using a name instead of fontFamily"
## Description

I created an Adobe TypeKit provider, but instead of using the font family name, they're using a slug.

Something like that:
[code]
https://fonts.adobe.com/docs/api/css_names

The way how the api in the `gutenberg_add_registered_webfonts_to_theme_json` method creates the path "settings.typography.fontFamilies.theme" ignores the name property. This is the result:

![image](https://us

[2022-06-23 18:08] anton-vlasenko commented on #40824
I'm reopening this issue because https://github.com/WordPress/gutenberg/pull/40900 is not merged yet.
GitHub automatically closed this issue, but it should remain open until https://github.com/WordPress/gutenberg/pull/40900 is merged.

[2022-06-23 18:16] joedolson commented on #41904
Regarding the animation, as long as it respects `prefers-reduced-motion` flags, I'm not too concerned either way.

For the focus effect, I suggest we follow the guidance in WCAG 2.2. They aren't published yet, and could change, but it does help that they give specific guidance on what degree of visual change will meet legal requirements, and that's a good reference to work with.

The guidance for

[2022-06-23 18:40] jameskoster commented on #41904
Thanks @joedolson.

So to clarify... if:

* The active state has a 1.5px bottom border which acts as the 'focus indicator', and
* The focus state has no outline

Then the indicator on the focus state should increase from 1.5px to 5.5px. Is that the correct interpretation?

For reference here's how that looks:

<img src="https://user-images.githubusercontent.com/846565/175372527-4957b31f-9218-41df-

[2022-06-23 18:47] joedolson commented on #41904
Close. The requirement is based on the area of the surface that's changing to indicate focus. It has to be an area equivalent to 4px width times the length of the shortest bound. Increasing by 4px on the long side will definitely meet that, but it doesn't actually have to be that wide.

However, because those comparisons are relative - and that relationship of width to height may be difficult to c

[2022-06-23 19:33] hellofromtonya commented on #41479
The vision for the font management through a formal Webfonts API is now available in the description of this roadmap (ie in the Vision section).

The first priority is to solidify the architecture as all other tasks will be affected by these architectural changes:

- https://github.com/WordPress/gutenberg/issues/41481
- https://github.com/WordPress/gutenberg/issues/41484

Once these 2 tasks are do

[2022-06-23 19:47] mrwweb commented on #38167
@ramonjd @andrewserong Thanks for the excellent replies! I look forward to the day the Style Engine brings us world peace and free ice cream every day!

I don't think a huge point-by-point response is needed (largely because your replies were so informative).

This totally makes sense. An accounting and consolidating makes total sense as a first step.

1000% percent. You've totally convinced me th

[2022-06-23 21:46] BernardZijlstra commented on #41825
If I look at the pictures loading from both gallery url's, the load okay according to the network tab from the dev tools. I assume that the error from the Nginx log is not showing up now. With Plesk Nginx functions as a proxy in front of Apache httpd so it is possible that your problem moved from Nginx to httpd. Observe the error logs when interacting with the photo gallery.

[2022-06-23 21:52] #41826 closed, assigned to mcsf

[2022-06-23 22:02] dynamek commented on #41825
Looks to have reverted back to just apache errors.  There are no errors from loading the front end.

2022-06-23 23:00:48 | Error | 147.147.192.4 | 500 | GET   /wp-json/wp/v2/media?context=edit&include%5B0%5D=55608&include%5B1%5D=55609&include%5B2%5D=55610&include%5B3%5D=55611&include%5B4%5D=55612&include%5B5%5D=55613&include%5B6%5D=55614&include%5B7%5D=55615&include%5B8%5D=55616&include%5B9%5D=556

[2022-06-23 23:51] annezazu commented on #41918
Listing as a bug for now but I'm not quite sure what's intentional so it may not be as there have been some recent changes https://github.com/WordPress/gutenberg/pull/34180

[2022-06-23 23:52] annezazu commented on #41906
@ryanwelcher perhaps you have some insights here?

[2022-06-24 00:01] annezazu commented on #41894
@aaronrobertshaw in case you have any insights here.

[2022-06-24 00:28] annezazu commented on #39293
As 6.1 planning begins, I wanted to loop back on this issue to share some thoughts from the broader FSE Outreach Program perspective, pulling in insights from the [high level posts](https://make.wordpress.org/core/2022/05/31/high-level-feedback-from-the-fse-outreach-program-may-2022/), hallway hangouts, etc. Pulling these items together, there are a few key issues that I think need to be resolved

[2022-06-24 01:07] ramonjd commented on #38167
Thanks for the feedback @mrwweb

I've just published a post that publicizes the rough roadmap towards better styles: https://make.wordpress.org/core/2022/06/24/block-editor-styles-initiatives-and-goals/

Much of it has been covered in this tracking PR, with the exception of the [layout improvement](https://github.com/WordPress/gutenberg/pull/40875), which I think will address a lot of the immediat

[2022-06-24 01:24] jon4896 opened #41924 "Arrow for Parent Block Selector"
## What problem does this address?

Understanding block nesting and navigating to parent blocks is pertinent to a novice user in creating and managing content with the Gutenberg editor.

I remember I liked the idea of the parent block selector when this first came out, but I didn't like the experience. Even as a long-time user of Gutenberg and mid-level block developer, the parent block selector c

[2022-06-24 01:52] websupergirl commented on #39913
@SergeGusev did you figure out why you were getting a whole bunch of block updated messages? I am having the same issue trying to go from wp 5.8->5.9 on another site and there doesn't seem to be much info on this "Updated Block" situation.

[2022-06-24 02:05] SaxonF commented on #41606
Another question to answer is how this overlaps with The Block Protocol https://twitter.com/nonparibus/status/1540140385187536897?s=20&t=9SqBOFyGhMvLOun2wb4Z5A

[2022-06-24 06:11] zachspears opened #41927 "Reusable Blocks: Add focus to Create Reusable block on open"
_Copied from [wp-calypso feature request](https://github.com/Automattic/wp-calypso/issues/64373)_.

**What**

When the Create Reusable block modal is triggered via the Add to Reusable blocks menu in Gutenberg, it would be fantastic to have the cursor focused in the text field of the modal.

**Why**

Usability and accessibility. It feels like having the field focused is expected. When you see the m

[2022-06-24 07:24] HILAYTRIVEDI commented on #41879
I think it's an easy feature addition as in the latest versions of the Gutenberg by only adding the support for the Gutenberg in the block.json file will do the work. I tested that.

`"spacing": {
			"padding": true,
			"__experimentalDefaultControls": {
				"padding": true
			},
			"margin": true
		}`

This will do the work.

[2022-06-24 07:29] aaronrobertshaw commented on #41894
Thanks for the ping on this one 👍

This appears to have been a side-effect from the recent changes switching Popovers to use the floatingUI library (https://github.com/WordPress/gutenberg/pull/40740). After that the popovers weren't repositioned automatically if they fell outside the viewport.

I've knocked up a quick fix in https://github.com/WordPress/gutenberg/pull/41929. That will get the colo

[2022-06-24 08:37] jameskoster commented on #41904
OK, so the shortest bound (height) is 48px, multiplied by 4 = a minimum area of 192px.

The smallest tab I'm aware of is the "Block" tab in the Inspector, which is 65px. I think we could safely set that as a min-width for all tabs to ensure they always pass the minimum requirement.

If we then utilise a height of +3 for the focus indicator, that would result in an area of 3 * 65 = 195.

As pointed

[2022-06-24 08:57] akasunil commented on #41927
Fixed it in PR [41932](https://github.com/WordPress/gutenberg/pull/41932).

[2022-06-24 09:02] Smit2808 opened #41935 "Need to add some details in server side render documentation, about how to use attributes in server side render callback function"
## What problem does this address?

In [server-side render documentation](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-server-side-render/), the whole doc is good. But there is no information about how to use attributes in a server-side render callback function.  I know this is a basic thing, but people who are not much familiar with PHP and WordPress then they w

[2022-06-24 09:12] AsafAzoulay commented on #41906
Hi Thanks,
I didn't found solution, have you test it?
this steps are working for you?
$ npx @wordpress/create-block todo-list
$ cd todo-list
$ npm start
it return error for me, i really want to develop my Block Editor plugin for Block Editor but if i can't do the basic so it's really disappointing...

i use node version v14.2.0, it is ok?

[2022-06-24 09:12] AsafAzoulay commented on #41906
Hi Thanks,
I didn't found solution, have you test it?
this steps are working for you?
$ npx @wordpress/create-block todo-list
$ cd todo-list
$ npm start
it return error for me, i really want to develop my Block Editor plugin for Block Editor but if i can't do the basic so it's really disappointing...

i use node version v14.2.0, it is ok?

[2022-06-24 09:16] akasunil commented on #41879
@bradley2083 please check [33835](https://github.com/WordPress/gutenberg/pull/33835) for more details.

[2022-06-24 09:33] akasunil commented on #37856
@erikjoling I have tested it with latest trunk and works fine.

[2022-06-24 09:41] mtias commented on #41606
Thanks for the expanded thoughts @jdevalk! I think it's worth emphasizing that the portions that touch upon blocks and patterns are structural in that they don't aim to represent on their own a graph but assist in the creation of one. The interesting thing about patterns is that they can represent fragments by unlocking access to properties by narrowing down what blocks understand of their own rol

[2022-06-24 10:29] mtias commented on #41547
Hey @dabowman, thanks for chiming in and sharing the detailed use case. The first point — contextually control what tools and presets blocks get access to — is currently captured in the roadmap in two issues:

- [ ] #27233.

The idea is that theme.json objects are composable, and that any post type, template, or template part can become a provider. That means you could have something akin to a `th

[2022-06-24 10:29] Smit2808 opened #41939 "Add allowedFormats property information in richtext documentation"
### Description

In [rich text documentation](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-rich-text/), there should be information about the allowedFormats property.

The allowedFormats provides the formatting options in tools. So if you like my suggestion then I will create PR for this with detailed information.

### Step-by-step reproduction instructions

Open

[2022-06-24 10:41] mtias commented on #40318
Noting that this is also related to #27233.

[2022-06-24 10:42] afercia opened #41940 "Hide query loop pagination link arrows from assistive technology"
### Description

The core ticket https://core.trac.wordpress.org/ticket/56067 proposes to hide from assistive technology the arrow or chevron characters used for the next/previous pagination links. It applies to the Query Loop > Pagination and to the Comments Query Loop > Comments Pagination blocks.

The core ticket takes care of the front end. This issue aims to evaluate whether an `aria-hidden="

[2022-06-24 11:54] ockham opened #41944 "Site Editor doesn't apply block conversions upon template load"
### Description

Unlike the Post Editor, the Site Editor doesn't apply block conversions to the template content immediately upon loading.

By block conversions, I mean the sort of conversions done in [`convert-legacy-blocks.js`](https://github.com/WordPress/gutenberg/blob/fe7e96290ac41408d4f7a2ce4282a51f0357f7c1/packages/blocks/src/api/parser/convert-legacy-block.js) -- which typically involve ch

[2022-06-24 11:59] ockham commented on #41944
cc/ @c4rl0sbr4v0 and @DAreRodz

I thought that we might debug this by comparing stack traces for this when run from the Site Editor vs. the Post Editor.

For starters, I tried this:

[code]

which for the Site Editor got me:
![Bildschirmfoto 2022-06-24 um 13 06 55](https://user-images.githubusercontent.com/96308/175529375-0b7f8011-a05b-4485-b838-76527fef9ad8.png)

(excerpt, the strack trace is muc

[2022-06-24 11:59] spacedmonkey commented on #41200
@danieldudzic In my testing, it did get rid of two queries on the page. There are a number of other places that generate duplicate queries, which I am also working on in core.

See this screenshot.

#### Before
<img width="179" alt="Screenshot 2022-06-23 at 19 09 54" src="https://user-images.githubusercontent.com/237508/175527304-39042b58-b19f-42db-bd5f-a30cd570dcf6.png">

#### After
<img width="2

[2022-06-24 12:05] mayukojpn commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-06-24 12:29] cbravobernal commented on #41944
I hope this information can help with the debugging:

In serializer file, line 140
https://github.com/WordPress/gutenberg/blob/9161c288471b309d5798a96a50e2524170efe633/packages/blocks/src/api/serializer.js#L140

I tested using the same block structure in both post Editor and Site Editor.
`innerBlocks` variable is empty on Site Editor, while on Post Editor returns an Array with blocks.

[2022-06-24 12:41] jameskoster opened #41946 "Template bulk actions"
Now that we're making it possible to [create more types of templates](https://github.com/WordPress/gutenberg/issues/37407), the number of actions you might want to perform on multiple templates concurrently is increasing.

It would good to explore options for applying these actions to more than one template at a time.

Some examples to consider:

* I want to delete all the templates I created myse

[2022-06-24 13:21] jameskoster commented on #41452
This pretty much feels like a bug at the moment.

After creating a template for a specific post I can actually change which template is applied when editing that post, which undermines the specific template logic altogether.

[2022-06-24 13:35] jameskoster opened #41947 "When creating a template for a specific entry, load that entries data into edit template view"
When you create a template for a specific entry like a post, that template should _always_ resolve to display that post, and _only_ that post. It has no other use.

We can therefore consider pulling the data for the associated entry into the template edit view.

IE, instead of the canvas looking like this:

<img width="1447" alt="Screenshot 2022-06-24 at 14 31 00" src="https://user-images.githubus

[2022-06-24 13:56] t-hamano commented on #41906
Node version may be low.
See [the comment](https://github.com/WordPress/gutenberg/issues/38687#issuecomment-1036985374) on this related issue.

Is it possible to update the node version to `14.14` or higher, or `16` ?

[2022-06-24 14:09] ryanwelcher commented on #41906
I'd start with the node version. I typically use 16 for block development.

[2022-06-24 14:28] t-hamano commented on #41888
Unlike Desktop preview, Tablet / Mobile preview is rendered as iframe editor.
I believe this is why the state is not inherited.

I think that you will be able to share state through the store if you create [a custom store](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-data/#register).

Or, if you are developing a block and expect to save the value in the block, I

[2022-06-24 14:39] t-hamano commented on #41845
Strangely, this problem seems to be reproduced only in Firefox.
It isn't reproduced in Google Chrome.

Maybe it is related to the issue in [this comment](https://github.com/WordPress/gutenberg/issues/38113#issuecomment-1030857770).

[2022-06-24 14:56] t-hamano commented on #41845
This problem was also reproduced in `BoxControl` component on StoryBook.
[https://wordpress.github.io/gutenberg/?path=/story/components-experimental-boxcontrol--default](https://wordpress.github.io/gutenberg/?path=/story/components-experimental-boxcontrol--default)

So this might be a component issue.

Furthermore, this problem was not reproduced by keyboard operation (arrow move + `enter`).
It se

[2022-06-24 15:00] joedolson commented on #41904
I'm in favor of the thicker line, and not adding additional width to tabs when it's not known to be necessary.

[2022-06-24 15:07] iamtakashi commented on #38862
I've been also working on a columnised layout like the example above, and I was wondering about how we're doing with the issue like this.

It'd be great if we can solve the issue like this so that designers can work on various layouts like this without hesitation.

[2022-06-24 15:24] t-hamano commented on #41845
I found an interesting [comment](https://github.com/facebook/react/issues/12584#issuecomment-383233455) in react repository about this problem.
I would like to do some research to see if this issue is relevant.

[2022-06-24 15:29] AsafAzoulay commented on #41906
i confused!

why it not working with node v14?

read this: https://developer.wordpress.org/block-editor/getting-started/devenv/](https://developer.wordpress.org/block-editor/getting-started/devenv/#node-development-tools

this what WordPress recommended

"For Windows, or alternative installs, you can [download a Nodejs installer](https://nodejs.org/en/download/) directly from the main Node.js webs

[2022-06-24 15:53] getdave commented on #41575
This is a regression. I will flag in the Core Editor chat to get it some more 👀

[2022-06-24 16:07] giannis-koulouris-bb commented on #41303
I have the same issue, the custom class is being added, but theres no way to trigger isActive on my custom variation, even though I've made it specific for my variation.

[2022-06-24 16:09] #41918 closed, assigned to nobody

[2022-06-24 16:11] ryanwelcher commented on #41906
@AsafAzoulay sorry for the confusion!

Node 14 does indeed work, however, the particular minor version you are using ( `v14.2.0` ) is incompatible. I tested this locally by installing 14.2.0 and got the same error. If you upgrade to `v14.19.3`, the start command works as expected.

I recommend using [NVM](https://github.com/nvm-sh/nvm) to manage your node versions, making it much easier to switch

[2022-06-24 16:19] slr1979 commented on #39054
@ajlende @andrewserong Now I'll try that again with less excitement (i.e checking it again before posting), less code, and working as it should.  #38167 #38681

[code]

[2022-06-24 16:25] dynamek commented on #41825
Ok so we have managed to fix the 'loading options' issue by following the suggestions here
https://wordpress.org/support/topic/rest-api-error-when-adding-too-much-images-on-wordpress-gallery-image-size-load/
See final comment link.

Now we are back to having nginx errors - example:

2022-06-24 17:21:42 | Error | 147.147.192.4 |   | 13216#0:  *1881908 open()  "/var/www/vhosts/lalachoirs.co.uk/dev.l

[2022-06-24 16:27] iamtakashi commented on #41918
Thank you, @scruffian!

[2022-06-24 16:38] AsafAzoulay commented on #41906
ok, finally it working! thanks!

[2022-06-24 16:45] AsafAzoulay commented on #41906
Thanks!
finally it working, the problem was in specific node version 14.2.0

[2022-06-24 16:45] #41906 closed, assigned to nobody

[2022-06-24 17:03] lukaskotik commented on #38255
Having this super annoying issue even in 6.0. Majority of WP users does not use custom colors or what is the reason that the issue is not ignored by developers?

[2022-06-24 17:14] drdogbot7 commented on #36135
I don't agree that this is necessary, but if **_that's_** the intent, why not just add a few basic alignment classes to the block library CSS that's already being loaded?

What is the possible utility of adding a new set of redundant, overly specific styles for every single container?  I've being following several threads on this issue and I still don't even understand why this was done in the fir

[2022-06-24 18:19] ockham commented on #41451
Update: A few PRs that we had originally planned for inclusion in WP 6.0.1 aren’t quite ready yet and/or were otherwise [deemed too risky](https://github.com/WordPress/gutenberg/pull/41807#issuecomment-1164560396), so we’ll be targetting WP 6.1 instead. They are:

- [Merge Comments Query Loop block into Post Comments block](https://github.com/WordPress/gutenberg/issues/40521) (existing [PR](https:

[2022-06-24 20:20] azaozz commented on #41479
This sounds great! A clear and well defined vision makes the tasks ahead much easier to understand.

Trying to get into a bit more details, perhaps "brainstorm" a little more. One of the hard performance related questions would be: What happens when somebody decides to register the whole collection from https://fontsource.org/ (more than 1600 fonts)? It's pretty pointless (will need a dedicated UI

[2022-06-24 20:51] markhowellsmead commented on #36135
100x this, @drdogbot7.

[2022-06-24 21:44] bradhogan commented on #41879
@HILAYTRIVEDI can you share your full block.json code?  Where are you placing that, just in the main theme directory along with theme.json?

[2022-06-24 21:47] bradhogan commented on #41879
@sunil25393 Yes, it seems as those multiple people were in favor of adding margin, then it got put on hold.  Again, this is a UI issue when adding multiple / consecutive cover blocks.  Most modern designs include this at some point in a design so it's odd that we wouldn't want to give WordPress creators an easy solution to preventing an odd margin between two heros/covers.

[2022-06-24 22:44] raamdev opened #41953 "Saving a Draft post with an identical URL Slug breaks published post"
### Description

When the permalink structure is set to "Post name", it's possible for Gutenberg to save a draft post and populate the `post_name` field with a value that matches the `post_name` of a published post.

This results in the published post returning a 404 error for logged-out visitors. For logged-in users viewing the published post, it results in the query for the published post includ

[2022-06-25 04:18] pickplugins commented on #41888
@t-hamano [t-hamano](https://github.com/t-hamano) Thank you for your reply,

yes, I am working on the block. we have already moved to attirbutes way to solve our issue, but I guess this is not a proper solution because we may need to solve it by creating a custom store.

[2022-06-25 11:05] grappler commented on #13464
This was fixed with https://github.com/WordPress/gutenberg/pull/37703

[2022-06-25 11:09] DaveBoydy opened #41954 "Add Row block reverse wrapping"
## What problem does this address?

There are niche situations where reverse wrapping is more desirable than standard wrapping in a row block.
E.G. in a footer you have copyright on the left and social icons on the right, when the screen size shrinks to mobile you want the social icons to stack on top of the copyright as opposed to stacking underneath for aesthetics.

## What is your proposed solu

[2022-06-25 11:16] grappler opened #41955 "Suggest picking a category on the pre-publish panel, only works for English"
### Description

The suggestion to pick a category on the pre-publish panel only works if the category "Uncategorized" exists. This is not the case for example for German installations. The default category in German is "Allgemein". I expect this is the same for other languages.

In WordPress it is also possible to change the default category, by hard-coding the default category this is not consid

[2022-06-25 11:51] t-hamano commented on #41888
If you use the value on the front end, attributes would be appropriate.
Otherwise, it is better to control them via a custom store.

In any case, I think this isn't gutenberg bug, so I'll close this issue.
If you find another problem, please feel free to submit a new issue.

[2022-06-25 11:51] #41888 closed, assigned to nobody

[2022-06-25 12:31] mtias commented on #41871
I think this might be a bit too intense for a rare action.

[2022-06-25 12:36] mtias commented on #41684
It'd be good to revisit this. I'd consider trying it in select mode only at first.

[2022-06-25 13:57] mtias commented on #41546
I'm also not sure I agree with the menu not self-closing when you select an item. Seems to be optimizing for the less common cases. Can we look at reverting that part?

[2022-06-25 13:58] mtias commented on #41545
Can we just self close it? We have many menus that perform actions and self close.

[2022-06-25 14:01] mtias commented on #41544
Curious how you'd expect it working after a reload — would you expect a non customized option you selected to show up? Holding onto the session state seems a bit superfluos to me, and I don't think it's worth the extra complexity of handling state that would persist through remounts but not through hard reloads.

[2022-06-25 14:03] mtias commented on #41543
Also related: #36730, #32129

[2022-06-25 14:07] mtias commented on #41501
Screenshots are not a great way to represent blocks since it cannot easily be kept in sync. Previewing blocks should be approached in a more dynamic way, like the [BlockBook](https://youknowriad.github.io/blockbook/), which allows real previews and even checking against different themes.

[2022-06-25 14:07] #41501 closed, assigned to nobody

[2022-06-25 14:54] bgardner opened #41957 "Comments Query Loop - Empty Markup"
### Description

When a page or post has comments disabled (Discussion > Allow comments not checked in sidebar), the Comments Query Loop Block outputs empty markup on the front end:

![image](https://user-images.githubusercontent.com/486261/175778922-126e032a-b63a-4905-adbd-35037f64068e.png)

Because of blockGap, this causes a 30px empty space on pages and posts.

### Step-by-step reproduction ins

[2022-06-25 15:39] mtias opened #41958 "Allow creating more specific templates from header dropdown"
With #37407 partially accomplish, we should start looking at other relevant pathways to creating more specific templates. For example, from the "Archive" template you should be able to spin off a more specific date archive:

<img width="812" alt="image" src="https://user-images.githubusercontent.com/548849/175780559-583e3801-2e50-4ac8-8c8c-b18c3a236ad4.png">

From the generic category template you

[2022-06-25 17:01] Majirefy commented on #33789
Same problem, anyone know why?

[2022-06-26 03:33] carolinan opened #41959 "When Gutenberg is active, block patterns listed in theme.json does not appear"
### Description

In theme.json, I have added the following patterns from the pattern directory:
`"patterns": [ "site-footer-with-logo-contact-info-social-links-and-copyright", "heading-with-two-font-sizes-and-separators" ]
`
The version of the theme.json file is 2.
The patterns are in the categories text, columns and headers respectively.

Without Gutenberg active, the patterns show up in the patt

[2022-06-26 07:47] carolinan commented on #38862
Maybe there could be a parameter for the theme.json _customTemplates_ that set a unique default width of the content and then the editor could be resized depending on the template?

Or actually:
[code]

I do not know how difficult that would be compared to passing the content block width from the template to the editor.

[2022-06-26 10:56] word-x opened #41960 "[Bug] Wordpress 6.0 randomly remove the post or page to trash."
When I click View on he post/page list in admin panel, some post will be randomly moved to trash. I can't find the reason. I tried many ways, disable all the plugins, change the theme to default theme, etc. I haved tried the whole afternoon.
Finally, I installed a new Wordpress site for test. But the same problem still happened.
This proved that it's a bug on Wordpress 6.0 Version.
Hope the offici

[2022-06-26 14:35] t-hamano opened #41961 "Tracking: Improve blocks that have placeholder form"
## Overview

Some blocks have `form` elements within `Placeholder` component.
In this tracking issue, I would like to discuss applying a uniform style to these blocks and solving some problems.
I would like to hear your opinions.

## Target blocks

- [x] `core/embed`
- [x] `core/rss`
- [x] `core/table`
- [x] `core/shortcode`

## What's the problem?

As may be related to [this comment](https://gith

[2022-06-26 15:37] word-x commented on #41960
Sorry, finally I find that disabling the Tampermonkey extension in Chrome solved the problem.

[2022-06-26 20:02] #41960 closed, assigned to nobody

[2022-06-27 00:27] #41026 closed, assigned to andrewserong

[2022-06-27 01:27] andrewserong commented on #39054
Thanks for sharing the code snippet @slr1979, glad to hear you could come up with a workaround for your use case!

Apologies, I think I must have missed this earlier ping while I was AFK that week. There's been some recent status updates on the style engine tracking [issue](https://github.com/WordPress/gutenberg/issues/38167) and a recent blog post communicating where the focus on is currently on

[2022-06-27 01:59] IslamYehia1 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-06-27 02:10] talldan commented on #41953
Thanks for reporting the issue. I think I found a report of this in a trac ticket here - https://core.trac.wordpress.org/ticket/52422. @raamdev does that look like the same issue?

I think a fix for this belongs in WordPress core—the issue has likely arisen because since the block editor was launched the REST API is now being used to save post data, so it might be that some validation is missing.

[2022-06-27 02:30] ramonjd commented on #41879
Hi folks!

As @sunil25393 mentioned, there was a previous PR to implement margins for cover block. There was, however, some uncertainty with how it would co-operate with the [UI controls](https://github.com/WordPress/gutenberg/pull/33835#issuecomment-947397161).

@jasmussen What do you think? Are those concerns still valid? Or does the benefit of controlling the top and bottom margins of cover blo

[2022-06-27 02:56] peterwilsoncc commented on #41265
In part. I separated this discussion out because I think there is potential for different decisions for experimental APIs (REST and developer) and stable APIs. I was trying to keep #40316 focused on the experimental APIs but I think I failed, sorry.

My order of concern differs:

1. Hard deprecation of stable/formally stable APIs (either immediate or after soft deprecation)
2. Long term experiment

[2022-06-27 03:35] #31950 closed, assigned to tellthemachines

[2022-06-27 04:03] glendaviesnz commented on #39371
Based on all the feedback/discussion I have updated the PR that puts the basic `theme.json` structure in place. The PR description gives a summary of the latest iteration. Feel free to provide feedback over there on the specific points this PR covers.

[2022-06-27 06:45] t-hamano commented on #40989
Hi @carolinan,

I'm interested in improving the style of the calendar block too.
I've made the following changes in [`try/block-calendar`](https://github.com/WordPress/gutenberg/tree/try/block-calendar) branch based on a table block (using the same `table` tag):

- Removed hard-coded colors
- Border color inherit text color
- Make `thead` bottom border thicker
- Add text and link color with block

[2022-06-27 07:12] ooksanen commented on #40813
Did you have any further thoughts / input on this subject @adamwoodnz? Is this something the devs will just have to live with?

[2022-06-27 08:14] talldan commented on #30029
I stumbled across this issue. Unless this has been solved since your comment, I think we do need something new. There are probably quite a few different ways to solve this, but none of them that I could think of are ideal.

I think the third option I listed below would be my preferred solution. Any other options anyone can think of?

#### Option 1. Mock block context and entity data in the block d

[2022-06-27 08:35] tellthemachines commented on #35607
Before adding another PR on top of the existing ones, I want to make sure we're all on the same page about this problem. Here's my understanding of it:

* We want root padding to Just Work for all children of blocks that stretch full width of the viewport, except those children that are also full width.
* The problem is we don't have any way of telling if a full width block actually stretches the

[2022-06-27 09:06] scruffian opened #41966 "Caption Elements: Settings don't work for galleries"
### Description

The caption element settings aren't working for galleries. When a caption color is set using theme.json, the change works for the gallery caption, but not for the images inside:
<img width="779" alt="Screenshot 2022-06-27 at 09 59 57" src="https://user-images.githubusercontent.com/275961/175902284-79e97240-972b-4954-84e8-282d8d670e67.png">

This should probably be dealt with as pa

[2022-06-27 09:08] scruffian commented on #40205
Related: https://github.com/WordPress/gutenberg/issues/41966

[2022-06-27 09:22] ellatrix commented on #29962
This will be possible if we can pull off #41655. You'd be able to render anything in rich text with React.

[2022-06-27 09:30] getdave commented on #39231
I think https://github.com/WordPress/gutenberg/pull/41862 by @talldan's should fix this one 🤞

...but I could be wrong.

[2022-06-27 09:54] adamziel commented on #41265
Oh in terms of time-pressing priorities I agree. I should have clarified: I don't want to break the internet either. I was specifically referring to things I _feel_ worried about. I'm somewhat at peace when thinking about the existing APIs because I have a hunch we'll end up keeping them in. I'm concerned about the new APIs and general policy because I don't see a clear way forward and it's a deci

[2022-06-27 10:12] Andrew-Starr commented on #35607
How I have been giving an effective padding solution (FSE only) is to give default content and wide content a maximum width of 100% the viewport minus some value, half of said value effectively becomes the padding either side when the viewport width is less than the block width.

e.g.
[code]

This lets full width blocks go edge to edge full width while still giving the appearance of 32px padding f

[2022-06-27 11:57] #41887 closed, assigned to ntsekouras

[2022-06-27 12:00] mirka opened #41973 "Components: Render 40px size variants in editor sidebar"
Our current priority on the component size consistency front is to get everything in the editor sidebar to be rendered in the 40px height variant. Specifically, this applies to:

- Standard hook-based tools (Typography, Dimensions, Border, etc.) in the edit-post and edit-site editors
- Global Styles sidebar
- `InspectorControlsFill` content in edit-post and edit-site editors

@mtias indicated that

[2022-06-27 12:07] carolinan commented on #41959
"site-footer-with-logo-contact-info-social-links-and-copyright" was live in the pattern directory but later marked as spam and is pending, so this slug will not work for anyone testing this.

[2022-06-27 12:22] scruffian opened #41974 "Global Styles: Heading element UI controls"
## What problem does this address?
Heading elements cannot be edited using the Global Styles UI.

## What is your proposed solution?
It would be good to add heading elements to the list of elements that can be customized in the Global Styles UI:

<img width="281" alt="Screenshot 2022-06-27 at 13 15 32" src="https://user-images.githubusercontent.com/275961/175938916-7fc673f3-2ad0-4641-b604-35354492

[2022-06-27 12:30] afercia opened #41975 "Navigation submenus: avoid to focus the submenu trigger button when submenu loses focus"
### Description

https://github.com/WordPress/gutenberg/pull/41774 introduced a couple changes for the navigation submenu keyboard interaction.

1 Close the submenu when pressing the Escape key: makes perfectly sense and works as expected.
2 Always move focus to the submanu trigger button when the submenu loses focus, such as tabbing out of it.

The second change triggers a few unexpected behavior

[2022-06-27 12:51] dcalhoun opened #41979 "Update native app test fixtures to reduce console noise"
## What problem does this address?
Some of the [initial HTML test fixtures](https://github.com/WordPress/gutenberg/blob/995cc36102acbb083d166fd3fe6da05b6fc1f869/packages/react-native-editor/src/initial-html.js) for the native unit tests reply upon older block version markup. This results in "block updates" occurring [during test runs](https://github.com/WordPress/gutenberg/blob/995cc36102acbb083d1

[2022-06-27 12:53] mtias commented on #41974
Headings should show up like this:

<img width="942" alt="image" src="https://user-images.githubusercontent.com/548849/175946219-0033064c-b820-4edc-a25f-6ce1d9bfc465.png">

Within the panel you should be able to select a more granular h1-h6.

[2022-06-27 12:55] scruffian commented on #41974
Thanks for the mockup @mtias

[2022-06-27 13:01] mtias commented on #39270
So I think you should be able to import an existing widget area content into a template part. We should probably place this in the block inspector for a template part as an "import", "use existing widget area" or "transform" action:

<img width="569" alt="image" src="https://user-images.githubusercontent.com/548849/175947529-edcff110-aeae-4fcb-a5bf-1900b7fe79ef.png">

Considering widget areas can

[2022-06-27 13:07] mtias commented on #39293
Thanks for resurfacing this @annezazu. Let's indeed aim at refining a list of blockers and nice to haves for removing the "beta" label in 6.1 that we can update this issue with.

[2022-06-27 14:02] critterverse commented on #41582
I agree with @ndiego about the List View being a location primarily for block management and needing to be legible as an overall document outline. Going to close this issue out since allowing folks to edit visual attributes from this location seems confusing and seems like it would interfere with the intended use of the List View.

[2022-06-27 14:05] mtias commented on #41717
Thank you for the effort in piecing all the things together from a design perspective! It's always a crucial exercise to do given we are building from the bottom up and the overarching flows can become harder to grasp at times. Stepping back and seeing the experience as a flow and not distinct features is a fundamental aid.

I think the order as presented here is not entirely viable. It jumps ahea

[2022-06-27 15:19] scruffian commented on #35607
@tellthemachines, that sounds about right. There are some additional complexities:

This feels a bit ambiguous, so I thought I'd try to restate it.... When a full width block stretches to the edge of the viewport, there should always be a gap between the edge of the viewport and the text, equal to the root padding size. If multiple full width blocks are stacked together the padding between the edg

[2022-06-27 15:51] maniflames commented on #19907
I'm currently working on a theme that needs two different templates for a custom post type and I would love it if I could just register two. I've tried to see how the mentioned issues relate to this but they all seem to lean towards inserting patterns instead. Is the support for multiple templates on the roadmap somewhere? I'd love to still do some logic on the back-end depending on the a template

[2022-06-27 16:55] #40398 closed, assigned to georgeh

[2022-06-27 18:04] webfolkcreative commented on #10791
I am in the same boat. I understand the desire to limit, but I would prefer to have the control I need.

[2022-06-27 18:28] antonlukin commented on #10044
@marekdsi
If I understand correctly, the only possibility is to track the post update, then send an ajax request, get the updated data and regenerate the metabox.

[code]

[2022-06-27 18:44] tedw commented on #20941
FYI if you create a Media & Text block within a column the width button goes away, but the Media & Text block still has the `alignwide` class in the markup. This could cause issues for theme developers who may not be expecting this behavior (like me 😄).

It would be nice if the `alignwide` class was removed when nested in a column, or if the width button was left visible so authors can change it b

[2022-06-27 18:51] bradhogan commented on #41879
Definitely not ideal, but here's what I'm adding to my theme for the time being until this gets added (fingers crossed).

[code]

[2022-06-27 19:42] skorasaurus commented on #39090
Thanks for reporting all of these issues; a couple of have been reportedly been fixed since issue was made, the two issues that you've said are:

- The alignment is all messed up in the editor but displays ok on the front-end

- [When you turn off Allow to wrap to multiple lines, blocks start overlapping each other.](https://github.com/WordPress/gutenberg/issues/39090#issuecomment-1053261909)

I'm

[2022-06-27 20:08] raamdev commented on #41953
@talldan Thanks for finding that Trac ticket! That is exactly the same issue. After reviewing and testing the associated patch I can confirm that it fixes this bug. I'll go ahead and close this issue as a duplicate of https://core.trac.wordpress.org/ticket/52422.

[2022-06-27 20:08] #41953 closed, assigned to nobody

[2022-06-27 21:35] alexstine commented on #41500
This can be tested on gutenberg.run. Enter PR number: 41987.

Interested to hear feedback if this is working or not.

[2022-06-27 22:05] extra808 opened #41989 "Focus not visible on Cover block background video"
### Description

Firefox includes `<video>` elements in the focus order (other browsers only include video controls, if present, in the focus order). The [cover block's styling removes `outline` style](https://github.com/WordPress/gutenberg/blob/286e6be2b13fc6ab2059b66d5c79728d811562ee/packages/block-library/src/cover/style.scss#L192) from the element, preventing the browser's default focus outlin

[2022-06-27 22:41] shikkaba commented on #19373
I wonder if this is related to the glitch I'm having where you can't see content inside a nested group block unless you switch preview from desktop.

Not reporting it here, it just seems to be the same block stack that is causing problems.

[2022-06-27 23:28] TonyGravagno commented on #41307
As to naming, I think this request subject should itself be renamed. The request is not really to **rename** a block, but to add **context** to a block.

To be specific, we don't want to rename Column, Group, or Paragraph, but to be clear that, as an example, the Pricing Column has Features Group which includes a Paragraph that describes a feature.

That is, this is about metadata. about a block i

[2022-06-27 23:48] noisysocks commented on #39270
It might have been privately with me! 😅 Let me copy and paste some notes that I wrote in July 2021 about this subject:

<h2 id="using-cpts">Using CPTs</h2>

<ul><li>Hook into <code>after_theme_switch</code>. When we detect that user is moving from a classic theme to a block theme, or from a block theme to a classic theme, perform a migration.</li><li>Migrating from a classic theme to a block theme

[2022-06-27 23:50] noisysocks commented on #39270
I like this idea of doing the migration on request as opposed to automatically on theme switch. It's more intentional—less surprises. Also, it caters for users who wish to ditch their existing widget areas and start fresh.

[2022-06-28 00:09] TonyGravagno opened #41992 "Dynamic List View node depth based on container width"
A template with deep nesting of blocks shows 9 levels of indentation, and then all nodes are rendered at that same indentation even when they are nested further. This makes it very difficult to edit complex structures. See image below.

I propose a wp_option that will continue to nest nodes in the List View down to any NN levels. To avoid horizontal scrolling, allow dynamic resizing of the List Vi

[2022-06-28 00:09] adamwoodnz commented on #40813
Hi, sorry but I don't have a huge amount of experience working with block styles yet. My expectation would be that the block gap setting would be used for controlling your overall layout spacing, and you'd use CSS for styling of your heading and text blocks. My example above doesn't use particularly specific rules and manages to override the container children rules.

Could you perhaps share scree

[2022-06-28 00:53] ramonjd opened #41993 "Styles: audit utility classes generated on the frontend"
For auditing and to kick off a discussion, here is a (probably incomplete) list of styles Gutenberg generates for frontend code:

| Classname  | Variations | Description  | Status |
| ------------- | ------------- | ------------- | ------------- |
| `is-${ orientation } `  |  vertical, horizontal | layout |  [current](https://github.com/WordPress/gutenberg/blob/trunk/lib/block-supports/layout.php)

[2022-06-28 01:39] tellthemachines commented on #35607
Thanks for the input @scruffian ! I still have a few questions 😅

By "stacked" do you mean nested within each other? Or one above the other?

Setting padding on a block by itself doesn't currently enable its descendants to use full width alignment, there has to be a change to content size (either inherited from the theme settings or set on that block). As far as I can tell, setting a content size

[2022-06-28 01:54] helpmeurgent opened #41994 "image linking issue wordpress 6.0"
### Description

after upgrading to WordPress 6.0, i notice that if i copied image from external source linking, its actually uploading on my server

but before in WordPress 5.9 or all older version its was works perfectly if i copy a image from external source, pasted image also linked external source not uploaded my hosting storage

how can i stop it?

### Step-by-step reproduction instructions

[2022-06-28 02:33] maddisondesigns commented on #39090
@skorasaurus I've just checked these issues...

- The alignment issue is still there (see the second green row in screenshot below)
- You can now remove the padding and tab (or click) away from the field and it stays removed 👍
- The "remove" label has been changed to "Remove Row" instead of "Remove Group" 👍
- The overlapping blocks issue appears to be fixed now as well 👍

<img width="2094" alt="sc

[2022-06-28 03:23] talldan commented on #41502
RichText limitations weren't the only problems, there were a couple of additional bugs:
- The tab order for a RichText `<caption>` is incorrect because table caption elements are before the table in the DOM, but the block editor shows it visually after the table.
- When tested, Voiceover didn't announce RichText caption content correctly when navigating into a table.

It's definitely worth re-test

[2022-06-28 05:03] #41879 closed, assigned to ramonjd

[2022-06-28 05:14] talldan commented on #29575
Are there concerns over how easy it'll be to break a site by switching a template part to draft? I did try to read through the whole thread and couldn't see this addressed, but I may have missed it.

If I'm editing template A and switch my header template part to draft, then that may accidentally unpublish the same template part in templates B, C, D etc. It seems like that would be incredibly easy

[2022-06-28 05:54] #41955 closed, assigned to grappler

[2022-06-28 06:44] carolinan opened #41996 "Buttons created with Gutenberg enabled creates block validation errors when Gutenberg is deactivated"
### Description

Originally reported by @kafleg:
Buttons created with Gutenberg active, causes a block validation error in the editor because the miss match of CSS classes when Gutenberg is deactivated:

[code]

### Step-by-step reproduction instructions

1. Activate Gutenberg 13.4 or newer, or Gutenberg trunk.
2. In the block editor, create a post or page and add some button blocks.
3. Deactivate

[2022-06-28 07:15] SaxonF commented on #41717
Thanks for taking the time to read through and provide feedback @mtias !

What I've tried to convey here is how a user would experience the transition, rather than technical tasks. I'd be happy to expand on this proposal to handle any additional user needs and pain points that aren't covered.

Definitely something we can look into beyond the consistent styling of global icons. One idea outlined ab

[2022-06-28 07:18] Mamaduka commented on #41994
@mcsf, I think this is related to the recent fixes in #38992.

[2022-06-28 07:31] talldan commented on #41992
Thanks for bringing this issue to attention. I know it was a design choice to flatten the hierarchy at a certain level.

I wonder if there are any further designs or solutions that could be explored for this problem.

I know the ability to zoom into an individual block in List View been proposed before, so that may be one option.

Some indication on blocks that are at the nesting limit of whether